[2021-11-29 23:07] hsheth2 opened #3758 "PR #3722 broke compatibility with SQLAlchemy 1.3.24"
**Describe the bug**
A clear and concise description of what the bug is.

From the PR, the code uses:

[code]

However, for SQLAlchemy 1.3.24 (and probably other versions as well), it should be:

[code]

This issue produces import errors like this:

[code]

This was broken by #3722.

**To Reproduce**
Steps to reproduce the behavior:

See above.

**Expected behavior**
A clear and concise descriptio

[2021-11-30 04:52] xudong-sph opened #3760 "SimpleCheckpoint RepresenterError: cannot represent an object with BigQuery"
**Describe the bug**
After getting BatchRequest and ExpectationSuite, I tried to programmatically create a `SimpleCheckpoint`, then persistent it to config file. There was an error when convert Checkpoint to YAML string. `RepresenterError: cannot represent an object`

**To Reproduce**
I have listed the code used to reproduce the error

[code]

Related configs

[code]

[code]

**Expected behavior**

[2021-11-30 07:19] josges opened #3761 "Regex and like support in AthenaDialect"
**Is your feature request related to a problem? Please describe.**
Like and regex based expectations are currently raising a NotImplementedError when using AthenaDialect. This limits the usability when working with text columns.

**Describe the solution you'd like**
Implementation of `_get_dialect_regex_expression` and `_get_dialect_like_pattern_expression` for `pyathena.sqlalchemy_athena.AthenaDi

[2021-11-30 07:19] josges commented on #3761
I am already working on this

[2021-11-30 10:08] alitsaberi commented on #3716
Hi everyone,
I have the same issue. I want to separate unexpected row from valid data. It seems that GE return a null `unexpected_index_list` for Spark dataframes. One possible workaround is to use `unexpected_rows` as it return the rows themselves. But there is no easy way to eliminate these rows from original dataframe and for large dataframes, this could return an unwieldy amount of data.

[2021-11-30 13:19] cdkini commented on #3736
Thank you @abekfenn! @cwerner please let me know if the above response provides any clarity here.

[2021-11-30 13:29] cwerner commented on #3736
Hi @cdkini

In my case, I think this is simply not implemented for SQL data stores (yet?)... 🤷‍♂️

I currently use a workaround though.

Basically do the following:
1. `SELECT` on the table and convert to an `pandas dataframe`
2. Call the validation on this temporary pandas dataframe.
3. Parse the result object and extract the indices of rows with problems.
4. Use the indices to get the primary ke

[2021-11-30 14:37] talagluck commented on #3417
Hi @redreckless - thanks for this and apologies for delays! Is this still an issue for you?

@tdstark - thanks for posting here. Would you please include your `batch_request` and `Datasource` config (removing an sensitive information)? Are you able to instantiate a `Validator` using this, and the `Checkpoint` is just not working?

[2021-11-30 14:45] talagluck commented on #3494
Hi @dbeswick-bupa - thanks again for this, and apologies for delays.

Currently, we have two primary ways of creating Expectation Suites - interactive (using a Validator, which contains a Batch of data) and non-interactive (writing Expectations without using a Validator with a Batch of data).

Additionally, `ExpectationConfiguration` objects have a `.validate()` method, which takes a Validator con

[2021-11-30 14:46] talagluck commented on #3466
Hi @odidev - I'm going to close this for now, since we haven't been able to reproduce this, and it feels somewhat like an edge case. Please do let us know if this is a persistent issue, or if you'd like to work on this in some way. Thanks!

[2021-11-30 14:46] #3466 closed, assigned to nobody

[2021-11-30 14:52] talagluck commented on #3736
Hi @cwerner - yes, this is correct. Currently, `unexpected_index_list` is only implemented for `pandas`. I also wanted to point you to the new `include_unexpected_rows` flag that we have - this will return the entirety of each row that has failed an expectation (see here). This has the potential to return huge amounts of data within your ValidationResults, so I would advise caution when using this

[2021-11-30 14:52] #3736 closed, assigned to nobody

[2021-11-30 14:55] talagluck commented on #3658
Thanks so much for the follow-up, @abekfenn! Wishing you much luck as you move your implementation forward, and please don't hesitate to reach out with further questions or suggestions.

[2021-11-30 15:00] philgeorge999 opened #3764 "Ability to have additional columns in the unexpected_list result output"
I am applying many DQ checks to a table of approx 30M rows which I am validating using the Pyspark Dataframe GE API, and am frustrated that I cannot report on which rows have a problem - therefore it is not possible to direct the users towards investigating the problematic data.

The immediate problem is that unexpected_index_list is forced to None.  However even if it wasn't None, that wouldn't b

[2021-11-30 15:05] philgeorge999 opened #3765 "Ability to include more useful aggregate metrics in the result object than just 'count' of failures"
In the result object from the expectation checks we currently see element_count, missing_count, missing_percent, unexpected_count, unexpected_percent.  However some DQ checks are more important than others.  In my case we are applying checks to contractual data and it would be very valuable to see which have potential monetary significance.

We have a contract_amount column in our data and for eac

[2021-11-30 15:09] philgeorge999 opened #3766 "Ability to apply a row_condition to PySpark DataFrame GE checks"
I am applying around 400 dq checks to a table with 30M rows of data and 250 columns, and around 25% of these checks only apply to a subset of rows.  There is too much data to use Pandas Dataframes.  I have noticed that the PySparck DataFrame GE APIs do not take a row_condition argument so I am currently having to pre-filter the dataframe in before each of these checks which means the code is reall

[2021-11-30 18:09] austiezr commented on #2631
Hey @hmandsager! As we think this may have been resolved, I'm going to go ahead and close this. If this is still an issue, feel free to re-open and discuss!

[2021-11-30 18:09] #2631 closed, assigned to nobody

[2021-11-30 18:15] austiezr commented on #3751
Hey @dsehnbru! Thank you again for surfacing this issue. While we do have eyes on this, we are unfortunately unable to prioritize work here as GE for Teradata is still experimental and not fully supported. We would welcome a contribution in this area (@imamolp you may be interested in seeing this!), and we would be happy to offer guidance and review in support of any community efforts here.

[2021-11-30 18:37] austiezr commented on #3766
Hey @philgeorge999! Thanks for raising this. While we have eyes on this functionality, we aren't able to prioritize work in this area at this time. We would welcome any community contribution towards this feature, and we'd be happy to offer guidance and review; any work in this area would be a great accelerator.

[2021-11-30 18:39] austiezr commented on #3765
Hey @philgeorge999! This is a super interesting use case; we'll review internally and be in touch. Is this something you be interested in contributing?

[2021-11-30 18:42] austiezr commented on #3764
Hey @philgeorge999! Thanks for surfacing this. We will review internally and be in touch.

[2021-11-30 18:44] austiezr commented on #3761
Hey @josges! Thanks for reaching out; super excited to see you've already begun a contribution in support of this! We'll discuss this issue internally and be in touch!

[2021-11-30 18:45] austiezr commented on #3760
Hey @xudong-sph, thanks for surfacing this! We'll review internally and be in touch.

[2021-11-30 19:47] austiezr commented on #3758
Hey @hsheth2! Thanks for surfacing this; definitely unintended behavior. We'll review internally and respond soon!

[2021-11-30 20:22] #3628 closed, assigned to nobody

[2021-11-30 20:23] kyleaton commented on #3628
This has been updated:

![Screen Shot 2021-11-30 at 3 22 51 PM](https://user-images.githubusercontent.com/6799312/144122244-4810d0cb-683a-40b7-a7fc-73d45b6b463b.png)

[2021-11-30 20:58] austiezr commented on #3757
Hey @Aylr! Thanks for surfacing this; this is definitely unexpected behavior. We'll review internally and be in touch!

[2021-11-30 21:27] kyleaton commented on #3559
Hey @edjoesu. I was unable to replicate it. Do you think you could take some screenshots so I know where I should be testing and what images are getting in the way?

[2021-11-30 21:31] austiezr commented on #3755
Hey @jcomo-nv! There's not quite enough context here for us to know what issue you're facing, so I'm going to close this out for now; feel free to re-open with more context!

[2021-11-30 21:31] #3755 closed, assigned to nobody

[2021-11-30 21:46] kyleaton commented on #3613
Hopping the above solves it. It passed the test in develop but I'm not 100% confident we'll see the same result in production so we'll have to wait and see until the next release of the documentation.

[2021-11-30 21:54] austiezr commented on #3180
Hey @kuhnen! Thanks for this, we'll keep trying to hunt this down. Would you be able to share the profiler config you're using above?

[2021-11-30 22:02] cdkini commented on #3705
@GabwonPark have you run the CLI `docs build` or `context.build_data_docs()` at all before running your script?

My initial hunch here is that the UpdateDataDocsAction is running in an environment where the docs are not built. Do you actually run the `context.build_data_docs()` line in your script?

[2021-11-30 23:12] dbeswick-bupa commented on #3494
Hello there, no worries at all about the delay.

I'm casting my mind back a bit here, but I think this issue is mostly about validating parameters to expectations. When you use a Validator, you get instant feedback if you miss out or misname a parameter, but with the ExpectationConfiguration objects, you don't.

Say that I had created an ExpectationConfiguration non-interactively, and the Expectat

[2021-11-30 23:19] dbeswick-bupa commented on #3678
Hello @NathanFarmer , I've just tested this with 0.13.44 and unfortunately I still get the same problem.

[traceback.txt](https://github.com/great-expectations/great_expectations/files/7629481/traceback.txt)
[ge-3494.txt](https://github.com/great-expectations/great_expectations/files/7629493/ge-3494.txt)

[2021-11-30 23:19] joseignaciorc opened #3772 "NotADirectoryError occurs when GE is installed in a zip file and build_data_docs() is called"
**Describe the bug**
NotADirectoryError occurs when GE is installed in a zip file and build_data_docs() is called

<br>

**To Reproduce**
Steps to reproduce the behavior:

1: Have a very simple script named `my_great_expectations_script.py`
[code]

2: Install Great Expectations inside a ZIP file (following PEP 273).

[code]
3: The following error occurs:

<br>

**Expected behavior**
The output sho

[2021-11-30 23:23] austiezr commented on #3772
Hey @joseignaciorc! Thanks for surfacing this; excited to hear you're already working on a contribution!

[2021-11-30 23:48] #3761 closed, assigned to nobody

[2021-12-01 00:29] gabwon9 commented on #3705
@cdkini No, i did not that. I don't use context.build_data_docs() to update the data docs per test result. As you know, i used UpdateDataDocsAction only. Should i use context.build_data_docs() before new test execution to protect already exist data docs ?
And we can use slack also for more fast response.

[2021-12-01 00:53] #3758 closed, assigned to nobody

[2021-12-01 06:59] hsheth2 commented on #3758
Thanks for fixing, @austiezr!

[2021-12-01 09:57] devdnhee opened #3775 "Ability to disable progress bars for expectations"
**Is your feature request related to a problem? Please describe.**
For my use case I need to run many expectations (eg. monitor quality on a fleet of devices). To disable the logging of progress bars on each expectation in my deployment the best solution I came up with is to monkey patch `great_expectations.validator.validator.validate.resolve_validation_graph`:
[code]
which is bad style and gets

[2021-12-01 14:32] cdkini commented on #3705
@GabwonPark I would try initializing your docs sites with that build command and see if it makes a difference. I'll work to set up a GCS-based project so I can replicate your environment in the meanwhile. Let me know if things work out!

[2021-12-01 16:09] pmariac opened #3776 "Custom inherited expectation class produce an InvalidExpectationConfigurationError"
**Describe the bug**
Trying to create a custom expectation using custom parameters based on [this doc](https://docs.greatexpectations.io/docs/guides/expectations/creating_custom_expectations/how_to_create_custom_parameterized_expectations).
In this one I replace the value_set by my own, but when running the suite, I get an error great_expectations.exceptions.exceptions.InvalidExpectationConfigurat

[2021-12-01 16:37] talagluck commented on #3775
Thanks for opening this issue @devdnhee - we will review and be in touch soon.

[2021-12-01 16:39] talagluck commented on #3776
Thanks for opening this issue, @pmariac! We will review and be in touch.

[2021-12-01 16:47] talagluck commented on #3540
Hi @abtpst ! We've recently done some work around `RuntimeBatchRequest`. Would you please confirm whether this is still an issue?

[2021-12-01 16:55] talagluck commented on #3716
Hi @sdandey and @cwerner! @alit8 is right here. `unexpected_index_list` currently only works the `pandas` back-end.

Unfortunately, we don't have a built in way to handle this currently -- although it is a feature that is being looked into (you can reference [this issue](https://github.com/great-expectations/great_expectations/issues/3195) for more information on that).
There are currently three w

[2021-12-01 16:55] #3716 closed, assigned to nobody

[2021-12-01 17:11] talagluck commented on #3428
Hi @JoPrasanth - apologies for delays! Have you had any luck with this? What happens when you set `create_temp_table` to False?

[2021-12-01 17:20] talagluck commented on #3487
Hi @amybachir - thanks again for opening this, and apologies for delays. After some internal discussion, we've concluded that we don't have a great way to support concurrent runs like this. Instead, we would recommend the creation of a `build_data_docs` task that only runs after both of your pipelines are complete.

I'm going to close this for now, but please don't hesitate to reach out if you hav

[2021-12-01 17:20] #3487 closed, assigned to nobody

[2021-12-01 17:33] cdkini commented on #3732
Hey @DemchenV! We're looking into an `update` feature in the near future.

Do you happen to have this issue when you utilize checkpoints (and the associated `UpdateDataDocsAction`)? If you haven't tried that, would you mind doing so and letting me know if there's a performance gain?

I don't think this is an index page issue but rather a problem of recreating pages that already exists. The above s

[2021-12-01 21:35] NathanFarmer commented on #3678
Hi @dbeswick-bupa, I see two problems with your code:

1. You want to unpack your checkpoint config dictionary by adding `**` in the `add_checkpoint` command: `context.add_checkpoint(**cfg_checkpoint)`
2. With the latest version of GE (0.13.44), you will get an error message stating that `InvalidConfigError: batch_data found in validations at index 0 cannot be saved to CheckpointStore "checkpoint_

[2021-12-01 22:56] cdkini commented on #3660
Hey @nateGarcia! I believe #3763 should cover your use-case. Let me know if that works!

[2021-12-01 23:06] cdkini commented on #3757
Hey @Aylr! Nice seeing you here 👋🏽

The above PR should resolve the issue you're seeing; thanks for bringing it up! We're just refining things but should have the changes merged in shortly.

[2021-12-01 23:58] dbeswick-bupa commented on #3678
My apologies Nathan, thanks for the corrections and for the pointers to the right information! My sample also had other issues. This is working for me after following the instructions on that page.

I've attached my corrected code in case someone finds it useful.

[ge-3494-2.txt](https://github.com/great-expectations/great_expectations/files/7637851/ge-3494-2.txt)

[2021-12-02 00:01] dbeswick-bupa commented on #3494
Apologies for this one, I have re-tested and have found that in the scenario I described an exception is recorded in the checkpoint results when the checkpoint is actually run. I think that the behaviour I was seeing was due to me not properly saving the Suite before running the checkpoint, and I mis-read the code.

You can close this issue, thanks!

[2021-12-02 06:41] gabwon9 commented on #3705
@cdkini Thank you for your supporting !

[2021-12-02 07:42] kuhnen commented on #3180
Hello @austiezr I need to log the config, I can do that, but looking at the code it looks very basic.   Maybe this helps? ```
![image](https://user-images.githubusercontent.com/1311776/144378807-c8e4d96e-f054-4ae2-b7af-fccd13855ad6.png)
[code]

[2021-12-02 10:46] DemchenV commented on #3732
@cdkini, I have an airflow job which runs a bunch of checkpoints with `UpdateDataDocsAction` step.
I sent part of logs above, where I saw a very long duration of DefaultSiteIndexBuilder.build. So, if that doesn't mean that an index page was building for half an hour, what could be the reason?

[2021-12-02 13:21] cdkini commented on #3705
@GabwonPark sure thing! Did that happen to work?

[2021-12-02 13:23] nateGarcia commented on #3660
@cdkini Hey again! Taking a look at the commits, this should definitely work. I'll pull changes today and test. Thanks!

[2021-12-02 13:28] cdkini commented on #3685
@xaraujo would you mind elaborating your use-case? What fields from `boto3_options` are you looking to pass into the `SparkDFExecutionEngine`?

In the `PandasExecutionEngine`, we use `boto3_options` and other cloud-specific configuration dicts to supply fields directly into cloud-provider's connection object; this allows for some customization since you're directly impacting that connection object

[2021-12-02 15:53] nateGarcia commented on #3660
@cdkini It works! Thanks for this; I appreciate your persistence. Love the query store feature. Shall we close this issue?

[2021-12-02 16:00] cdkini commented on #3660
@nateGarcia sure thing! Thanks for your patience and apologies that it took us some time to get to; I hope your team wasn't blocked!

I'll close it down. Let us know if anything else pops up!

[2021-12-02 16:00] #3660 closed, assigned to nobody

[2021-12-02 16:03] FredRodrigues commented on #3540
@talagluck from my side, i don't have the "head()" error anymore. I think the problem now is the `RuntimeBatchRequest` with BigQuery since I can't use a SQL query in the parameter "runtime_parameters={"query" ... " because it returns the following error when I am trying to use the UserConfigurableProfiler().build_suite():

`MetricResolutionError: 'TextAsFrom' object has no attribute 'subquery'`

@

[2021-12-02 16:05] cdkini commented on #3757
I'm going to close down this issue since the above PR should resolve the matter. Let me know if you're not seeing that on your side and I'm happy to re-open  🎉

[2021-12-02 16:05] #3757 closed, assigned to nobody

[2021-12-02 16:22] abekfenn commented on #3658
Hi @talagluck, let me know if you'd prefer I open another issue but I have one more related question.. Everything is working well for me but when I try to setup an S3 store for data docs, the docs do not get built and sent to S3. I have a feeling this is probably something to do with my code.
I am leveraging the same code to run my expectations as above.
Do I have to reference this site_name somew

[2021-12-02 17:23] cdkini commented on #3732
I've profiled the following code with 200 small expectation suites:
[code]
<img width="2419" alt="Screen Shot 2021-12-02 at 12 10 30 PM" src="https://user-images.githubusercontent.com/49923762/144469880-ebeabc92-2ac2-4095-95e5-7d784d7ab456.png">

While the `build` method takes a long time to run, it is due to the rendering of the child pages. I think the actual creation of `index.html` is quite fa

[2021-12-02 17:29] cdkini commented on #3732
Since this issue is duplicated by the discussion in https://github.com/great-expectations/great_expectations/issues/3396, I'm going to close this down.

Keep your eyes open for this feature down the line!

[2021-12-02 17:29] #3732 closed, assigned to nobody

[2021-12-02 17:32] talagluck commented on #3494
Got it - thanks for the follow-up, @dbeswick-bupa!

[2021-12-02 17:32] #3494 closed, assigned to nobody

[2021-12-02 18:00] cdkini commented on #3720
@dsehnbru whenever you utilize a CLI command, you're inherently creating a `DataContext` under the hood. The de-serialization from YAML to GE object will inherently get slower as that config grows in complexity.

That being said, I do believe this is a bug. I haven't been able to successfully recreate the scenario you're seeing here but the `introspective_directives` issue noted in https://github.

[2021-12-02 18:00] #3720 closed, assigned to nobody

[2021-12-02 19:19] talagluck commented on #3658
Hmm - I'm not sure exactly, but it depends on how you are building docs. I believe `DataContext.build_data_docs()` builds all sites by default, but individual sites can be specified as well. I would need to look into how this works for checkpoints (I think some Checkpoints use the UpdateDataDocs action, so if a site had never been built I don't know how this would work).

I'd be curious whether th

[2021-12-02 20:00] #3666 closed, assigned to nobody

[2021-12-02 20:31] tdstark commented on #3417
@talagluck
[code]
Here is my checkpoint config:
[code]

I'm actually trying to set up a Checkpoint using the Jupyter Notebook, and when I get to the final step to test, I get an error. Here is the traceback:
[code]

[2021-12-02 22:44] abekfenn commented on #3658
For posterity, figured it out.. had to add a call to update_data_docs by adding specifying an argument to the action_list param of checkpoint.run()

See:
[code]

[2021-12-03 17:01] austiezr commented on #3531
@BenGale93 Closing this out re: #3552; feel free to re-open if needed! Thank you for contributing!

[2021-12-03 17:01] #3531 closed, assigned to nobody

[2021-12-03 17:06] talagluck commented on #3658
Great - thanks for the update, @abekfenn!

[2021-12-03 17:22] amraf1002 commented on #3660
@cdkini Even after running from latest develop branch code I am having the similar kind of issue when I am trying to run a expectation which has dynamic query as parameter and I am evaluating it against BigQuery datasource with dynamic query. The run_validation_operator executes fine but in execution result I am having below for all column_value expectations even if they don't have dynamic query p

[2021-12-04 05:46] amraf1002 opened #3796 "Exception in all column based expectations execution result after run_validation_operator when using dynamic query as expectation kwargs value_set $PARAMETER"
**Describe the bug**
According to Step 3 in [Dynamic Database Evaluation Parameters](https://docs.greatexpectations.io/docs/guides/expectations/advanced/how_to_dynamically_load_evaluation_parameters_from_a_database/#steps ), the urn must follow the structure, urn:great_expectations:stores:<query_store>:<query>. But after run_validation_operator excutes all column value based expectations returns e

[2021-12-05 22:43] xaraujo commented on #3685
Hi @cdkini,
Many thanks to come to me.
Im running this without install pyspark, just using "normal" spark an passing spark_config:

[code]

and loading the credentials from AWS_CREDENTIAL_PROFILES_FILE.

Without this piece of code

[code]
The code is not able to find the datasource.

With the changes you can see in the attached file it works, however I dont know if there is any side effect in othe

[2021-12-06 04:56] gabwon9 commented on #3705
@cdkini No effect. docs is still removed when starting test. As i think, the datas of 'uncommitted' in local computer seems be replaced to the data of gcp data docs instead of merging into gcp data docs.

[2021-12-06 08:26] mrkoloev commented on #3754
I don't know what happened but I created a new virtual environment and now it works fine until step the method .head() execution in jupyter notebook (suite creation).

But there is another problem that GE uses non-existing table in "default" database instead of temporary table.

_creating temp table_
[code]

_select from 'default' database by default if db name is not explicit._
[code]

DBMS: Clic

[2021-12-06 08:26] #3754 closed, assigned to nobody

[2021-12-06 13:56] tdstark commented on #3417
@talagluck @NathanFarmer any thoughts?

[2021-12-06 14:18] JoPrasanth commented on #3428
@talagluck , i tried that, still the temp table creation happens. Can you let us know where all should i add that flag? I will double confirm if that works

[2021-12-06 17:13] austiezr commented on #3630
Closed by #3632

[2021-12-06 17:13] #3630 closed, assigned to nobody

[2021-12-06 17:20] austiezr commented on #3535
@HimanshuPatri7 We're closing this out for now! If this is still an issue and you can provide any more context, feel free to re-open!

[2021-12-06 17:20] #3535 closed, assigned to nobody

[2021-12-06 17:35] austiezr commented on #3656
@gzamb08 We've had some motion in this area recently; are you able to confirm this is still an issue for you in 0.13.45? If so, would you be able to share your checkpoint config?

[2021-12-06 18:29] HimanshuPatri7 commented on #3535
Hello @austiezr ,

@jimmykaiser is right. Its because the batches don't match and the expectation failed. Would it be possible for execution to continue and an error be shown which shows which expectation failed. In this case  expect_column_values_to_be_in_type_list

[2021-12-06 18:45] cdkini commented on #3685
@xaraujo would you mind seeing if https://github.com/great-expectations/great_expectations/pull/3800 covers your changes? I'm not sure we need to instantiate an S3 connection or pass in boto3_options since those aren't being used in your use-case (but please let me know if that's incorrect).

[2021-12-06 18:59] cdkini commented on #3796
Hey @amraf1002! Thanks for opening this issue.

As we're advancing our codebase and overall library, we're actually moving away from validation operators. While they're not fully deprecated, their usage is not recommended with more recent version of GE.

Would you mind trying Checkpoints instead and seeing if that path works well?

[2021-12-06 21:12] xaraujo commented on #3685
Hi @cdkini ,
Many thanks for your answer. I tested and it did not work. I think we really need boto3 as a param because my datasource(dataset) and the expectations file both are on S3 and to run the executor we really need to access to boto3.
If you need further information please let me know.

With Best Regards
Xavier

[2021-12-06 22:10] cdkini commented on #3685
Hey @xaraujo I'm not sure I'm fully understanding why you've instantiated `self._s3` if it isn't used at all (outside of the `None` check). Would your use-case still work if we just supported `boto3_options` as an arg but did not create the S3 connection? These changes are now reflected in the PR.

Is `self._s3 = boto3.client("s3", **boto3_options)` necessary to get this working for you? I'll add

[2021-12-07 06:12] x-thuang opened #3806 "Run checkpoint issue. Throws "catching classes that do not inherit from BaseException is not allowed""
**Describe the bug**
I used the --v3-api cli method for connecting to redshift, creating suite, creating checkpoint
The suite is only set with one expectation: `expect_column_values_to_be_between`
Then when I run this checkpoint:
`context.run_checkpoint(
    checkpoint_name="test_checkpoint1",
    batch_request=None,
    run_name=None
)`

It calculates midway then throws an exception:
[code]

**To

[2021-12-07 14:18] bhcastleton commented on #1645
This is a common question from members of the Great Expectations community. We'd love to see more ideas on how this could be implemented. Currently, it's not at the top of the backlog for the core team, but community ideas and contributions would be welcome.

[2021-12-07 14:44] NathanFarmer commented on #3404
Various bugs in this workflow have been addressed by:
- https://github.com/great-expectations/great_expectations/pull/3680
- https://github.com/great-expectations/great_expectations/pull/3713
- https://github.com/great-expectations/great_expectations/pull/3718
- https://github.com/great-expectations/great_expectations/pull/3723

The documentation gaps have been addressed by:
- https://github.com/g

[2021-12-07 14:44] #3404 closed, assigned to nobody

[2021-12-07 14:45] nateGarcia opened #3807 "Ability to compare two column's values at a granular level (expect_column_values_to_match_set, with Evaluation Parameter functionality)"
**Is your feature request related to a problem? Please describe.**
I really need to be able to do a 1 to 1 comparison on my batch/sample of data against another query. This functionality seems definitely possible with the Evaluation Parameter feature (Which I love). GE has expectations that border on the line of this functionality, (e.g. `expect_column_pair_values_to_be_equal`), but either the res

[2021-12-07 20:07] austiezr commented on #3806
Hey @x-thuang! Thanks for surfacing this; we'll review internally and reach back out.

[2021-12-07 20:17] austiezr commented on #3807
Hey @nateGarcia! Thanks for reaching out. This is a super interesting use case, and we'd love to support a contribution here.

We have some more robust documentation around this currently in progress; in the intervening time, I can point you to [this documentation](https://docs.greatexpectations.io/docs/guides/expectations/creating_custom_expectations/how_to_create_custom_expectations/), as well a

[2021-12-08 07:47] derek-hk opened #3813 "Teams notification failed to show data asset name"
**Describe the bug**
Teams adaptive card failed to show data asset name, which exists in validation result.

**To Reproduce**
Declare a batch request by class RuntimeBatchRequest, with "data_asset_name" inclusive
Run a checkpoint, which contains a Teams Notification action
And compare the values between teams adaptive card and validation result.

**Expected behavior**
Data asset name should appear

[2021-12-08 14:34] ierezell opened #3814 "Having a dark mode for DefaultJinjaIndexPageView or ValidationResultsPageRenderer"
**Is your feature request related to a problem? Please describe.**
More for a styling feature.

**Describe the solution you'd like**
When using
[code]

then the page appears white (which is fine). However all the rest of my environment is black / gray and it would be really nice to have a dark mode for those renderings.

**Describe alternatives you've considered**
Keep it white and loose my eyes.

[2021-12-08 14:42] cdkini commented on #3686
@samLozier this should be fixed as part of https://github.com/great-expectations/great_expectations/pull/3811.

The feature was always there but hidden behind a small bug; there should now be parity between expectations and checkpoints (in regards to dot notation). Thanks for bringing this up! I'll close this for now but please let me know if you're having any issues.

[2021-12-08 14:42] #3686 closed, assigned to nobody

[2021-12-08 16:46] cdkini commented on #3814
Hey @Ierezell thanks so much for opening this up. We'll take a look into this matter and see what we can do in regards to dark mode. Appreciate your patience!

[2021-12-08 16:49] cdkini commented on #3813
Hey @derek-hk thanks so much for opening up this issue. This definitely seems like a bug. I'll bring this up with our engineering team and see what we can do to find a resolution.

[2021-12-08 17:06] austiezr commented on #3358
Hey @fosk06! Just checking in again, is this something you would be interested in contributing?

[2021-12-08 17:19] talagluck commented on #3417
Thanks for sharing, @tdstark! We are taking a look internally, and will be in touch when we have made progress or if we have any further questions.

[2021-12-08 17:49] andersonterry opened #3816 "Parsing error when using $PARAMETER with ExpectationConfiguration or as an EvaluationParameter"
**Describe the bug**
Exception when trying to use $PARAMETER via evaluation parameters or expectation configuration;  "can only concatenate str (not \"int\") to str"

**To Reproduce**
Steps to reproduce the behavior:
1. set up expectation configuration with kwargs that specify min/max value for a column
2. attempt to run a validation for it (below)
3. See error (details below)

**Expected behavior

[2021-12-08 18:48] andersonterry opened #3817 "AttributeError related to missing get_batch on run_validation_operator()"
**Describe the bug**
Receiving a dataContextConfig error (AttributeError: 'Datasource' object has no attribute 'get_batch') when executing run_validation_operator against the batch specified

**To Reproduce**
Steps to reproduce the behavior:
1. Execute dataContextConfig below
2. Create/Save expectation suite to context
3. run_validation_operator()
4. See error:  AttributeError: 'Datasource' object

[2021-12-08 21:28] justin-mlbrry opened #3820 "`$` in yaml password read as variable needing substitution"
**Describe the bug**
I am trying to initialize a new database connection using the provided notebook `datasource_new`. My password has a `$` in it, and this is being interpreted as a need to insert a variable.

**To Reproduce**
YAML looks like this:
[code]

`PASSWORD` is an environment variable. Error is:
[code]

**Expected behavior**
Once the environment variable has been read, there should be no

[2021-12-08 21:29] harperweaver-dox opened #3821 "expect_compound_columns_to_be_unique sqlalchemy implementation has a bug"
**Describe the bug**
`expect_compound_columns_to_be_unique` for sqlalchemy has a kwarg (`ignore_row_if`) that has an implementation that is not correct. When set to `all_values_are_missing` (default value), it produces a query with a filter like

`x IS NOT NULL AND y IS NOT NULL AND z IS NOT NULL ...` for all included columns. This does not exclude rows when "all values are missing," but when any

[2021-12-08 22:08] fosk06 commented on #3358
Sorry but I don't have time to contribute right now.

Le mer. 8 déc. 2021 à 18:06, Austin Ziech Robinson
***@***.***> a écrit :

[2021-12-09 05:11] shakti-garg commented on #1645
@bhcastleton In my opinion, before going for implementation, we should be on same page for the outcome/usecase we are trying to achieve. Can you please help with a specific problem statement that other community members are looking for?

@dingobar On same note, can you be more specific on end-to-end usecase. For instance, if we are able to test the streaming data in real-time, what is the business

[2021-12-09 15:32] cdkini commented on #3742
@AntoineRondelet the changes you're requesting should be solved as part of #3782. Thanks so much!

I'll close this issue but please let me know if anything else pops up.

[2021-12-09 15:32] #3742 closed, assigned to nobody

[2021-12-09 19:53] andersonterry opened #3829 "ConfiguredAsset data source does not find named group RegEx asset, and generates schema error"
**Describe the bug**
Testing the following yaml dataSource specification yields a schema error, and the output does NOT indicate that the expected asset (csv file) was identfied.

**To Reproduce**
Steps to reproduce the behavior:
1. define the ds as indicated below
2. execute yaml test and config list
3. observe results (also below) in cell output
4.  (a)  asset not located, and (b) schema error

[2021-12-09 21:48] cdkini commented on #3806
Hey @x-thuang! Would you mind letting me know what version of SQLAlchemy you're running? There are some nuances between 1.3 and 1.4 that might be causing this.

[2021-12-09 21:53] terry152t commented on #3806
Hi @cdkini, current version is: SQLAlchemy (1.3.23)

[2021-12-10 16:57] cdkini commented on #3829
Hey @andersonterry! Thanks so much for opening up this issue.

Let me review the contents of your config and bring up this matter with our engineering team.

[2021-12-10 17:01] cdkini commented on #3821
Hey @harperweaver-dox thanks so much for opening up this issue (and your related PR). Let me review both and confer with our engineering team to determine next steps.

Linking PR: https://github.com/great-expectations/great_expectations/pull/3827

[2021-12-10 17:13] cdkini commented on #3820
Hey @justin-mlbrry thanks for opening up this issue.

Have you happened to try escaping the `$` in your password? Utilizing the `\` char to prefix the `$` should do the trick here. Please try that and let me know if it works out!

[2021-12-10 17:20] cdkini commented on #3817
Hey @andersonterry thanks for opening up this issue! After reviewing your config, I believe the issue here is that you're utilizing batch kwargs with a v3-styled datasource.

In v3, the recommended approach to to create batch requests; here is a link to our docs that might be of use: https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/filesystem/spark

Additionally, we recommend

[2021-12-10 17:20] #3817 closed, assigned to nobody

[2021-12-10 17:24] cdkini commented on #3816
Hey @andersonterry thanks for opening up this issue.

At first glance, I think the issue may stem from the following configuration:
[code]

`expect_column_values_to_be_between` only supports numeric values for `min_value` and `max_value`; as such, the issue you're seeing might be resulting from that. Would you mind trying this without casting to a string and seeing if that fixes your issue?

[2021-12-10 17:25] susreemohanty opened #3833 "Multiple Spark session creation error in Great_Expectations.yml file with When I am adding multiple Spark session with SparkDFExecutionEngine in Great_Expectation.yml file I am getting Py4JJavaError:"
**Describe the bug**
When I am adding multiple multiple Spark session with SparkDFExecutionEngine in Great_Expectation.yml file I am getting  Py4JJavaError: An error occurred while calling o578.parquet java.lang.IllegalStateException: Cannot call methods on a stopped SparkContext.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See er

[2021-12-10 19:46] justin-mlbrry commented on #3820
I tried that, in addition to doubling up (`$$`), and neither seems to avoid the reading as a variable

[2021-12-10 19:53] mars-f opened #3835 "Documentation does not say if Great Expectations' datasources are read-only"
**Describe the bug**
I’m connecting to my source SQL database as a user with write permissions.  I haven’t see anything in the Datasource docs or Getting Started guides that says the connection is read only.  I’d like the extra reassurance from the docs, or from a configuration option, that the connection is only used for reading data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to th

[2021-12-11 00:44] AlbertUlysses opened #3837 "Incorrect How to Edit this Suite command."
**Describe the bug**
The "How to Edit this Suite" command is incorrect for version 3 API.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to html home page
2. Click on expectations
3. Click on any suite
4. Click on "How to Edit this Suite"
5. The output says `great_expectations suite edit {suite.name}`

**Expected behavior**
It should say `great_expectations --v3-api suite edit {suite.nam

[2021-12-13 09:00] dsehnbru opened #3842 "Error message on expect_column_values_to_be_unique Expectation on Teradata"
**Describe the bug**
Running validation on Teradata column against a expect_column_values_to_be_unique - Expectation resulting in error

**To Reproduce**
1. Create expect_column_values_to_be_unique - Expectation on any column of Teradata database
2. Run Expecation against Teradata datasource
**Expected behavior**
As this is obviously on of the most pivotal expectations, it should work against Tera

[2021-12-13 15:08] joostboonzajerflaes opened #3843 "datasource connection error not raised"
**Describe the bug**
If a datasource connection is not valid (in bigquery) at least there is no clear error.

This is the error log:

[code]
This has to do with the pass statement in data_context.py on line 473:

[code]

If you don't have this pass but raise the error it does provide a clear error. So please change to:

[code]
Then you will get the actual error.

**To Reproduce**
Steps to reproduc

[2021-12-13 15:48] cdkini commented on #3806
@terry152t the issue seems to come from a faulty import; `TextClause` isn't being imported properly so it is being set to `None`. `isinstance` checks against `None` return the error you're seeing.

The above change should fix that error for you! I'll work on getting this merged but feel free to pull the branch and try for yourself if you'd like 😄

[2021-12-13 16:42] cdkini commented on #3842
Hey @dsehnbru thanks so much for opening this up! Our support for Teradata is in the experimental phase so there may be some issues that we're not actively able to prioritize.

@imamolp recently did some work so tagging for visibility.

[2021-12-13 16:44] cdkini commented on #3843
Hey @joostboonzajerflaes thanks so much for opening this! I definitely agree that we could provide some additional information here.

Let me look into this and get back to you with a proposed solution.

[2021-12-13 16:47] cdkini commented on #3837
Hey @AlbertUlysses thanks so much for opening this up! Let me confer internally about this matter and get back to you regarding next steps.

[2021-12-13 16:49] cdkini commented on #3835
Hey @mars-f thanks so much for opening up this issue! Let me bring this up internally before determining next steps.

[2021-12-13 16:52] cdkini commented on #3833
Hey @susreemohanty, thanks for opening this issue!

Would you mind providing a bit more information regarding your use-case here? Is there a particular reason why you're instantiating two separate Spark sessions in this config? I believe utilizing separate ExecutionEngines might get you to your intended solution but I'd love to know more about your situation to understand the full picture.

[2021-12-13 17:07] talagluck commented on #2773
Hi @PadenZach - I'm going to close this for now, but if this does turn out to still be an issue for you, feel free to re-open or create a new issue.

[2021-12-13 17:07] #2773 closed, assigned to nobody

[2021-12-13 17:09] austiezr commented on #3656
Hey @gzamb08! I'm going to close this out for now as we believe this may have recently resolved; if you're still experiencing this behavior on the latest version of GE, please feel free to re-open with that context.

[2021-12-13 17:09] #3656 closed, assigned to nobody

[2021-12-13 17:14] AlbertUlysses commented on #3837
Hi @cdkini
No problem, let me know if I can help. I found where the issue is and I am willing to update the wording then create a PR.

[2021-12-13 17:15] talagluck commented on #3670
Hi @BilalHaniff - we are going to close this issue for now, since we won't be able to prioritize work on the `BasicDatasetProfiler`. That said, if this turns out to be an issue elsewhere in your workflow, please feel free to open another issue.

[2021-12-13 17:15] #3670 closed, assigned to nobody

[2021-12-13 17:45] AlexNae opened #3845 "Storing Validation Result to PostgreSQL"
**Describe the bug**

Issue related to storing Validation Result to PostgreSQL. I cannot create ge_validations_store tabel in the schema that I want.

**To Reproduce**
Follow the steps here:
https://docs.greatexpectations.io/docs/guides/setup/configuring_metadata_stores/how_to_configure_a_validation_result_store_to_postgresql/

Everything works fine except that the table can't be created in the sc

[2021-12-13 18:54] hanlonjohn23 commented on #3843
This issue is present when connecting to Snowflake datasources as well

[2021-12-13 19:08] cdkini commented on #3820
Hey @justin-mlbrry would it be possible to provide the general shape of your password? Perhaps the password with all non-special characters replaced?

I've tried to replicate this on my local machine with a few different passwords and couldn't seem to get the same error.

[2021-12-13 19:15] cdkini commented on #3806
@terry152t the PR will be merged shortly. I'll go ahead and close this issue but please feel free to reopen if you're still running into issues.

[2021-12-13 19:15] #3806 closed, assigned to nobody

[2021-12-13 19:25] andersonterry commented on #3816
It continues to error altogether, based upon the implied type passed (float v int here)

#TypeError: can only concatenate str (not "float") to str
maxyear = 2020.0
minyear = 2000.0

#TypeError: can only concatenate str (not "int") to str
maxyear = 2000
minyear = 1999

print(df_ge.expect_column_values_to_be_between(
  min_value={
    "$PARAMETER": minyear
  },
  max_value={
    "$PARAMETER": maxyea

[2021-12-14 05:39] damon09273 opened #3847 "The Prefix setting for doc domain not work"
**Describe the bug**
I want the great exception doc can be access in a custom path of my domain (e.g `http.mydomain.com/ge/index.html`),
I use the `prefix` in data_docs_sites, but not work.

It’s able to get index.html at: http.mydomain.com/ge/index.html,
but I got 404 when I click the links that listing in the index page, because the link miss the `ge` in path: `http.mydomain.com/validations/x/x.

[2021-12-14 14:36] AlexNae commented on #2597
I have the same problem, I think it is still relevant. Can someone please reopen this issue? Or should I create an identical one?

[2021-12-14 16:53] eduardagoulart opened #3848 "DataDocs under uncommitted folder"
**Is your feature request related to a problem? Please describe.**
The tool right now has a great visualization inside the dataDocs. However, the dataDocs is getting created under the uncommitted folder, that is ignored by a .gitignore.

This makes the understanding and sharing visualization in a pipeline that uses GreatExpectation a bit harder. I'm wondering why the DataDocs has to be created ins

[2021-12-14 18:36] susreemohanty commented on #3833
hi Chetan,
thanks for your quick response.
Actually we have defined all our datasources in Great_Expectations.yml .
In checkpoint we are refering to the datasources.
However if we create the spark session in python lib how to use the same
spark session instead of datasources we are not able to figure it out
will you be able to help us to fix it .
regards,
Susree

On Mon, Dec 13, 2021 at 10:22 PM C

[2021-12-14 18:43] susreemohanty commented on #3833
Hi Chetan,
This is the sample code we have in python file to create the spark session
from kedro.framework.session import KedroSession

from kedro.framework.session.session import _activate_session

from kedro.framework.project import configure_project

# sys.path.append('/abc/src')

current_dir = Path.cwd()  # this points to '/ace/src/abc' folder

project_path = '/abe'

# project_path = current_d

[2021-12-14 21:08] andersonterry commented on #3817
Ok, I did this to be fully v3 compliant, and still get an error with the ConfiguredAssetFilesystemDataConnector data source/connector as follows;  the error messages in Azure DataBricks notebooks are pretty sketchy… any ideas?

Also note the regEx;  the batch file structure is such that there will only ever been one target file per folder.

Thanks!!

# DocRef:

# https://docs.greatexpectations.io/

[2021-12-14 22:25] mpalfi commented on #2936
I opened 3649 a few weeks ago and I was redirected here to try the workaround for this bug.
I tried what it was suggested but ran into a new error. Can you please check and let me know your findings?

Thank you:

The request is like below:
batch_request = {
    "datasource_name": "bdl_dev_v3",
    "data_connector_name": "default_inferred_data_connector_name",
    "data_asset_name": "w_customer_d",

[2021-12-15 13:35] vikramshinde12 opened #3853 "unexpected_rows returned None or errored out for BigQuery Datasource."
**Describe the bug**
When checkpoint ran with request_format COMPLETE with include_unexpected_rows
e.g. result_format={'result_format': 'COMPLETE', 'partial_unexpected_count': 20, 'include_unexpected_rows': True}
It returns either Error or None.

**To Reproduce**
For expectation_type = expect_column_values_to_not_be_null, it returns None/null
For expectation_type = expect_column_values_to_be_betwe

[2021-12-15 16:05] cdkini commented on #3829
@andersonterry we didn't explicitly have support for named groups before - the above PR should remedy your issue. Would you mind seeing if that is the case?

[2021-12-15 20:06] austiezr commented on #3699
Hey @derek-hk! We would be able to accept a [contrib expectation](https://docs.greatexpectations.io/docs/guides/expectations/contributing/how_to_contribute_a_new_expectation_to_great_expectations) with this functionality in the short term; before accepting this as a change to a core expectation we would need testing to confirm that this approach is performant in both low-cardinality and high-cardi

[2021-12-15 20:06] cdkini commented on #3853
Hey @vikramshinde12 thanks for opening up this issue!

Would you mind providing both your great_expectations.yml file (with any sensitive details omitted) as well as the full stack trace of the error you're seeing? I'll use these details to try and diagnose what the root cause is. Thanks!

[2021-12-15 20:09] cdkini commented on #3848
Hey @eduardagoulart thanks for opening up this issue. We default to that location to protect against the possibility of leaking sensitive information. If you'd like to change the path, please alter your configuration in your `great_expectations.yml`.

Here's the relevant snippet to change:
[code]

Please note that you may have to create the directory and any subdirectories in advance. I'll go ahea

[2021-12-15 20:09] #3848 closed, assigned to nobody

[2021-12-15 20:13] cdkini commented on #3847
Hey @damon09273 thanks for opening up this issue! Would you mind providing us with your configuration details (making sure to omit any sensitive information)?

[2021-12-15 20:18] cdkini commented on #3845
Hey @AlexNae thanks for opening up this issue. Would you mind providing us with your configuration (making sure to omit any sensitive details)? The contents of the `great_expectations.yml` file would be a great help here.

[2021-12-15 20:19] austiezr commented on #3726
Hey @nf-jimmysu! Are you able to provide your config file (stripped of any sensitive information!) and your batch_request? That would help us better identify the root cause here.

[2021-12-15 21:17] austiezr commented on #3180
Hey @kuhnen! I've been unable to replicate this behavior on V2 or V3 of Great Expectations with BasicSuiteBuilderProfiler; are you able to share that profiling config, and verify which version & release of GE you're experiencing this behavior with?

[2021-12-15 21:30] cdkini commented on #3636
Hey @carlsonp apologies for the delayed response here. After investigating this issue for some time, I believe this issue is probably related to our experimental support for Denodo.

I'll leave this issue open for now but I'm not sure we'll be able to address it in the near future due to competing priorities.

[2021-12-16 06:52] derek-hk commented on #3699
Hi @austiezr
Does it mean that it is preferred to exist as a new expectation instead of expect_column_values_to_be_in_set?

[2021-12-16 10:07] pmuntianu opened #3863 "Getting error: RuntimeBatchRequests must specify exactly one corresponding BatchDefinition"
**Describe the bug**
Hello GE. I am trying to execute test against data in s3 and I am getting this error: `ValueError: RuntimeBatchRequests must specify exactly one corresponding BatchDefinition`. The reason for that is that in the `great_expectations/datasource/data_connector/util.py` the `batch_request.data_asset_name != batch_definition.data_asset_name` returns true on the line 69.

**To Repro

[2021-12-16 10:52] vikramshinde12 commented on #3853
Hi @cdkini
The full stack trace as below

Traceback (most recent call last):
  File "/Users/vikramshinde/PycharmProjects/ge_v3/great_expectations/run_stg_checkpoint2.py", line 91, in <module>
    results = run_checkpoint()
  File "/Users/vikramshinde/PycharmProjects/ge_v3/great_expectations/run_stg_checkpoint2.py", line 15, in run_checkpoint
    results: CheckpointResult = data_context.run_checkpo

[2021-12-16 10:56] vikramshinde12 commented on #3853
@cdkini
[great_expectations.yml](https://github.com/great-expectations/great_expectations/files/7726669/great_expectations.txt)

I could solve this issue by adding condition for LegacyRow in core/util.py

`    if isinstance(data, sqlalchemy.engine.row.LegacyRow):
        return dict(data)`

[2021-12-16 11:01] AlexNae commented on #3845
[code]

[2021-12-16 11:01] AlexNae commented on #3845
I tried on datasources built with api v2 as well as with api v3

[2021-12-16 17:25] PaulineBeurier8 opened #3869 "Wrong casting for TIMESTAMP column type with BigQuery table"
**Describe the bug**
Generation of expectations using historic data does not for column type TIMESTAMP using BigQuery as source.

In BigQuery there is 2 types for date:
- DATETIME
- TIMESTAMP
The generation of rules works properly with DATETIME type ✅ but with TIMESTAMP it fails ❌

**To Reproduce**
Steps to reproduce the behavior:
1. `great_expectations --v3-api suite new`
2. `How would you like t

[2021-12-16 18:53] jeduardo90 opened #3870 "Run checkpoint is not throwing an error when expected."
Description:

When running a checkpoint within the V3 API, first I need to validate table metadata, and I only want to proceed to column validations if all the table validation results are successful. If not, I want the validations to stop and to produce a results object with the results I have so far.

To get the desired output, I tried manipulating the catch_exceptions flag in the expectation su

[2021-12-16 20:28] cdkini commented on #3853
@vikramshinde12 thanks for providing me with the solution! Would you want to open up a PR around this by any chance? I'm happy to merge the changes but you might want a contributor mug 🎉

[2021-12-16 21:09] Alcampopiano opened #3871 "Option to suppress the output"
Please add an option to suppress the output of `context.add_checkpoint(**checkpoint_config)` in a notebook. A semicolon does not do the trick.

Beginners don't need to see this output and [other solutions](https://thesmithfam.org/blog/2012/10/25/temporarily-suppress-console-output-in-python/) are equally hard to read/intimidating.

Anything to reduce visual clutter may improve the onboarding exper

[2021-12-16 22:01] cdkini commented on #3816
@andersonterry I believe the issue here is how the evaluation parameters are being passed in.

The expected usage is something like this:
[code]

Evaluation parameters are used to share state various stages of the GE workflow (i.e. the result of an expectation). If you know your value in advance and just want to pass them in, evaluation parameters are not necessary.

[code]

Does that make sense?

[2021-12-16 22:19] andersonterry commented on #3829
I will have a look at this – thanks!!

From: Chetan Kini ***@***.***>
Sent: Wednesday, December 15, 2021 10:06 AM
To: great-expectations/great_expectations ***@***.***>
Cc: Anderson, Terry ***@***.***>; Mention ***@***.***>
Subject: EXTERNAL EMAIL: Re: [great-expectations/great_expectations] ConfiguredAsset data source does not find named group RegEx asset, and generates schema error (Issue #3829)

[2021-12-16 22:57] cdkini commented on #3623
@samLozier @frantakalab I've introduced two possible solutions in this PR (pagination and regex based search): https://github.com/great-expectations/great_expectations/pull/3854

Would you mind taking a look and letting you know your thoughts? If you think there's a better approach, please let me know!

[2021-12-16 22:59] andersonterry commented on #3816
Ok, I must not be following along at all here…I get this error with both of these simple examples:

EvaluationParameterError: No value found for $PARAMETER runtime_minvalue

# https://greatexpectations.io/expectations/expect_table_row_count_to_equal
df_ge.expect_table_row_count_to_equal(value={"$PARAMETER": "runtime_values"})
df_ge.validate(evaluation_parameters={"runtime_values": 50})

# https://

[2021-12-17 01:04] damon09273 commented on #3847
@cdkini ok!

GCS file paths

[code]

app.py
[code]

checkpoint.py
[code]

great_expectations.yml
[code]

[2021-12-17 16:29] cdkini commented on #3871
Hey @Alcampopiano thanks for opening up this issue! We'll review this matter and get back to you.

[2021-12-17 16:36] cdkini commented on #3870
Hey @jeduardo90 thanks for opening up this issue! I'll bring this up with our team and get back to you.

[2021-12-17 16:40] cdkini commented on #3869
Hey @PaulineBeurier8 thanks for opening up this issue!

Would you mind providing the entire stack trace and letting us know which specific cell this failure is occurring at?

[2021-12-17 16:55] austiezr commented on #3699
Hey @derek-hk! Yes, in the short term we would accept this as a new expectation.

[2021-12-17 16:56] cdkini commented on #3821
As the PR written to fix this has been merged, I'm going to go ahead and close down this issue: https://github.com/great-expectations/great_expectations/pull/3827

Please let us know if you still run into any issues here. Thanks!

[2021-12-17 16:56] #3821 closed, assigned to nobody

[2021-12-17 19:09] cdkini commented on #3843
@joostboonzajerflaes @jhanlonhg that `pass` statement is there in order to provide some backwards compatibility. We want to eventually clean that up since it is a bit misleading but for the time being, we've gone ahead and adding some necessary logging to help users here.

Apologies for the confusion!

[2021-12-17 19:09] #3843 closed, assigned to nobody

[2021-12-17 20:27] austiezr commented on #3506
Hey @shpolina! Thanks for surfacing this; we've had an opportunity to discuss and review, and we feel the expectation name here should be case insensitive. Is this something you'd be interested in contributing towards? We'd be happy to provide guidance and review if so!

[2021-12-19 05:56] samLozier commented on #3623
I read your code but have not been able to execute it. Assuming it runs how i read it, i think it addresses the issue i described.

[2021-12-20 10:30] pmuntianu commented on #3863
<img width="1440" alt="Screenshot 2021-12-20 at 11 25 08" src="https://user-images.githubusercontent.com/12592145/146753155-e1ebb0a7-6f17-42d0-b9b6-c710e3b4bdea.png">

I believe we just omit the dataset name at line 111: https://github.com/great-expectations/great_expectations/blame/develop/great_expectations/datasource/data_connector/inferred_asset_file_path_data_connector.py#L111

[2021-12-20 10:35] pmuntianu commented on #3863
When I compose the batch request in the way shown below, all works.

[code]

[2021-12-20 11:03] PaulineBeurier8 commented on #3869
The cell where the issue is appearing is:
[code]

[2021-12-20 15:37] bartoszgajda55 commented on #2038
@bencaine-integral The correct way to specify reader options is to pass _batch_spec_passthrough_ into your `BatchRequest` like this:
[code]
Hope that helps.

[2021-12-20 15:55] talagluck commented on #3863
Thanks for the follow-up, @pmuntyanu! I believe this is likely to be an issue with configuration, but I'm trying to understand where the configuration issue is happening.

I am also surprised that this works with a `data_asset_name` set to `DEFAULT_ASSET_NAME`, especially for an InferredAssetDataConnector. Could you please share the BatchRequest that didn't work? What is the name of your asset in

[2021-12-20 16:01] talagluck commented on #3631
Hi @samLozier - apologies for delays here! We have had some internal conversations about this. Overall, we agree that this is an awesome idea, but will likely not be able to resource it internally in the near-term. That said, we always welcome contributions, and are happy to offer guidance and support if you are interested in contributing! If so, I think the right place for this would be inside of

[2021-12-20 19:25] andersonterry opened #3882 "FileLength error when processing a checkpoint validation (v3)"
**Describe the bug**
FileLength error when processing a checkpoint validation (v3)

**To Reproduce**
Steps to reproduce the behavior:
1. Execute the following ADB notebook (Azure)
2. Review generated error:

[code]

**Expected behavior**
Expected the validation to complete, and to see a checkpoint in the configured dbfs ".../checkpoints" folder

**Environment (please complete the following informa

[2021-12-20 19:51] talagluck commented on #3807
Hi @nateGarcia - could you please clarify a bit more about what you are trying to do here, and perhaps provide another example? Some of the use cases that you describe don't feel that far off from present functionality. Here are a few examples that come to mind:
- You could use `expect_column_values_to_be_in_set` where the set is populated by an evaluation parameter.
- Another pattern that we reco

[2021-12-20 19:58] talagluck commented on #2936
Hi @mpalfi - thanks for reaching out. If you remove the `limit` key from the `batch_request`, do you still have the same issue?

[2021-12-20 20:12] pmuntianu commented on #3863
Hi @talagluck , I found out that I misconfigured it because I did not understand the `data_asset_name` purpose. Now all is configured and works well(used [this documentation](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/how_to_choose_which_dataconnector_to_use)). We can close the issue. Thanks a lot for looking into

[2021-12-20 20:12] #3863 closed, assigned to nobody

[2021-12-20 20:22] nateGarcia commented on #3807
Hello @talagluck ! Thanks for the response.
As to your points,

1. This metric only checks that observed_values match a value in the provided set. It does not flag when a value in the provided set DNE in the observed_values of my database table, making it out-of-scope for this use case.

2. This is what I am currently doing to check some values against an evaluation parameter (performing a similar

[2021-12-20 21:02] andersonterry commented on #3829
Is there a way to pull in a specific branch into ADB in Azure?  This pulls in 13.47 currently for me...

dbutils.library.installPyPI("great_expectations")

[2021-12-20 21:15] cdkini commented on #3829
@andersonterry I'm not immediately familiar with ADB or how that would work. The changes should have been merged into the latest release so I believe that should be sufficient!

I usually test locally with `pip install -e .` but that may not be relevant here if you're not running GE in a traditional terminal environment.

[2021-12-20 22:23] talagluck commented on #3863
Great! Thanks so much for the follow-up.

[2021-12-21 00:54] santoshg117 opened #3883 "MS Teams webhook instead of Slack?"
**Describe the solution you'd like**
Is it possible to somehow use a MS Teams webhook rather than slack? When I try to use a teams webhook by default, it doesn't pass validation and the following message is displayed:

ValueError: Please provide a valid slack webhook

[2021-12-21 06:22] derek-hk commented on #3883
Definitely possible! Your error message tells that u have used a **slack** classes/modules to do **teams** notification, which is impossible!
Basically three steps is involved.
1. Configure a "incoming webhook" application in a teams channel.
https://techcommunity.microsoft.com/t5/microsoft-365-pnp-blog/how-to-configure-and-use-incoming-webhooks-in-microsoft-teams/ba-p/2051118
2. Place the link ge

[2021-12-21 15:24] talagluck commented on #3807
Hi @nateGarcia - I think I understand. For the first one, I wonder if `expect_column_kl_divergence_to_be_less_than` might be a roundabout way of achieving this.

`include_unexpected_rows` applies to all map metrics, and so would not apply for `expect_column_distinct_values_to_equal_set`.

I need to have a think about how to return a value in the provided set that doesn't match. This seems like it

[2021-12-21 15:26] talagluck commented on #3807
Could you also unpack this a bit more?

I would think that this should work, and I'm curious where it fails.

[2021-12-21 16:41] nateGarcia commented on #3807
@talagluck

Of course! This workflow not preferable for non-distinct values, because I will definitely have repeated integers in my column, causing the check of proportional values to fail. Though it works well for unique or distinct values, using `expect_column_distinct_values_to_equal_set` is a much nicer implementation. Originally I was unaware of the better metric.

the `expect_column_distinct

[2021-12-22 01:24] Li0425 opened #3892 "Documentation guide on how great_expectations could be used with Azure ML service"
**Reference**
[Avanade team using great_expectations in Azure Machine Learning pipeline for data expectation tests](https://greatexpectations.io/case-studies/avanade-case-study/)

My team is also implementing an ML solution using Azure Machine Learning pipeline. I would like to request for a guide on how this could be achieved and probably some best practices and tips when integrating the library

[2021-12-22 09:04] frantakalab commented on #3616
+1. For me the most straight forward solution would be to delete the cells with expectations I don't want and execute the cells with expectations I do want. I was able to get the desired behavior by changing the following part of code in the edit notebook's 1st cell:
[code]
to:
[code]

[2021-12-22 12:19] HansBambel commented on #3616
I agree, that would be even better. Since the expectations are parsed from the current state anyway and I am expected to run the whole notebook. This basically is creating a new expectation-suite anyway.

[2021-12-22 13:24] 80auline opened #3894 "Incorrect rendering for Boolean type between Json file to Jupyter Notebook cell"
**Describe the bug**
In Json format, boolean are represented by the 2 values: `true` and `false`.
In Python, boolean are represented by the 2 values: `True` and `False`.

The boolean type is extracted from the json file but not cast to a python boolean, so it is not recognized and it generates an error.

**To Reproduce**
Steps to reproduce the behavior:
1. `great_expectations --v3-api suite edit m

[2021-12-22 16:40] austiezr commented on #3894
Hey @80auline! Thanks for surfacing this; we'll review internally and respond!

[2021-12-22 16:49] austiezr commented on #3882
Hey @andersonterry! Thanks for raising this; we'll review internally and get back to you!

[2021-12-22 16:49] austiezr commented on #3892
Hey @Li0425! Thanks for submitting this; we'll review this internally and get back to you!

[2021-12-22 16:57] mpalfi commented on #2936
Thanks for getting back with the suggestions. I tried it now, but the end result with the error remained the same.

[2021-12-22 17:24] andersonterry opened #3895 "(v3) add_datasource() argument after ** must be a mapping, not DataContextConfig"
**Describe the bug**

Receive an error when attempting to call context.add_datasource(...) as shown in project documentation:

REF:

https://github.com/great-expectations/great_expectations/blob/f876b882f258d12c5fd1251a19d068a02e748020/tests/integration/docusaurus/deployment_patterns/databricks_deployment_patterns_dataframe_python_configs.py#L90

"_add_datasource() argument after ** must be a mapp

[2021-12-22 17:57] samLozier commented on #3631
@talagluck thanks for the follow up. I actually took a pass at a basic version of this at work and will have to check before I share, but the basic gist of it is that you end up with collections of objects with table.schema.column syntax (or any sub part) and then you can do set operations against other collections of like objects from another project. Assuming I get the ok, I'll put a little thou

[2021-12-23 23:23] carlsonp opened #3903 "Applying AI and ML to creating and suggesting expectations"
**Is your feature request related to a problem? Please describe.**
One benefit of manually identifying and creating expectations for datasets is the human element.  We're generally pretty good at identifying what constraints and expectations make sense for columns and the entire dataset.  However, there may be cases where the same expectations applied to columns are replicated across tables and da

[2021-12-27 16:46] talagluck commented on #3903
Hi @carlsonp - that's a really interesting suggestion! I think the way to do this would be by sub-classing either the Rule-Based Profiler, or its components (DomainBuilders, ParameterBuilders, ExpectationConfigurationBuilders). I know we'll be doing some more work on Rule-Based Profilers in the coming quarter - I don't know whether we'll be able to prioritize this specifically, but I'll raise it w

[2021-12-27 16:49] talagluck commented on #3895
Hi @andersonterry - it looks like you may have a typo. You'll want to pass `my_spark_datasource_config` in, rather than `my_spark_data_context_config`. I'm going to close this for now, but feel free to open a new issue if you need.

[2021-12-27 16:49] #3895 closed, assigned to nobody

[2021-12-27 16:56] talagluck commented on #3882
Hi @andersonterry - it looks like you passed the entire `checkpoint_config` into `checkpoint_name`, which is why this looks like it's too long. You'll either need to instantiate the Checkpoint and call `checkpoint.run()` or save the Checkpoint and call `data_context.run_checkpoint()` passing in the checkpoint name rather than the entire config. I'm going to close this for now, but feel free to ope

[2021-12-27 16:56] #3882 closed, assigned to nobody

[2021-12-27 16:58] talagluck commented on #3883
@derek-hk has the answer (thanks for jumping in)! I'm going to close this for now.

[2021-12-27 16:58] #3883 closed, assigned to nobody

[2021-12-28 15:45] cdkini commented on #3816
Apologies for the delayed response here @andersonterry I was out on holiday.

If you're using a validator, you can also set parameters with `Validator.get_evaluation_parameters(parameter_name, parameter_value)`. I'm working on bolstering this documentation but won't be able to get around to it in the near future.

Since the underlying issue with string concatenation is fixed, I'm going to go ahead

[2021-12-28 15:45] #3816 closed, assigned to nobody

[2021-12-28 15:47] cdkini commented on #3796
@amraf1002 I'm going to go ahead and close this issue but please feel free to open a new one if the issue still persists. I believe Checkpoints are the supported path here so that should get you the intended behavior!

[2021-12-28 15:47] #3796 closed, assigned to nobody

[2021-12-28 15:50] cdkini commented on #3829
@andersonterry I'm going to close this issue down since the support for named groups has been added. Let us know if you run into any issues here!

[2021-12-28 15:50] #3829 closed, assigned to nobody

[2021-12-28 15:50] cdkini commented on #3820
@justin-mlbrry just wanted to check in to see if you could provide any further details here whenever you get a chance!

[2021-12-28 15:55] cdkini commented on #3705
@GabwonPark apologies for the delay. Could you please confirm that this is still an issue? Additionally, would you mind trying your script and overall approach on your local filesystem. I'm curious if the same overwriting happens in a different environment.

[2021-12-28 15:57] cdkini commented on #3847
@damon09273 thanks for these details! Not sure if this is the issue but should`base_public_path` should be set to `https://mydomain.com/ge`? I would think `https://mydomain.com` might work better.

Could you try that and let me know if anything changes?

[2021-12-28 16:01] cdkini commented on #3540
Hey all! Apologies for the delayed response.

There seem to be a few issues here that all pertain to BigQuery. We've recently done a decent amount of work around temp tables, SQLAlchemy `TextAsFrom` and `RuntimeBatchRequests` so I believe many of this problems are remedied.

In order to better track the issues at hand, I'm going to close down this issue and request that new issues be opened in the

[2021-12-28 16:01] #3540 closed, assigned to nobody

[2021-12-28 16:02] cdkini commented on #3428
@JoPrasanth you can pass in a boolean value to either the `SQLAlchemyExecutionEngine` config or within batch spec passthrough. Let me know if that works!

[2021-12-28 20:19] cdkini commented on #3685
@xaraujo I'm going to close this for the time being but let me know if you'd like to revisit!

[2021-12-28 20:19] #3685 closed, assigned to nobody

[2021-12-28 23:42] gabwon9 commented on #3705
@cdkini this is still issue .
And it is not issue on local file system.
It's reproducible on gcp environment.
Did you try to test on gcp environment?

[2021-12-29 17:19] talagluck commented on #3869
Hi @PaulineBeurier8 - thanks for this! For security purposes, would you please paste the full stack trace here or link it in a gist so we can take a look?

[2021-12-29 19:29] hanlonjohn23 opened #3917 "Make meta notes present throughout Data Docs"
**Is your feature request related to a problem? Please describe.**
Due to some expectations being confusing without context, it is great that you can add notes via `meta` that describe its context. However, I am finding that the fact that these `meta` notes are not present in the suite results to be annoying. As someone who is using Data Docs to debug a test failure, it would be helpful if my `met

[2021-12-31 01:48] ssilwal29 commented on #3409
looks like the issue there is a typo https://github.com/great-expectations/great_expectations/blob/a1f42adeb54902d696a8ac73a20ae6f7c39ad16f/great_expectations/expectations/core/expect_column_values_to_be_json_parseable.py#L86. i think it should be `column_values.json_parseable`

[2021-12-31 19:26] mrkoloev opened #3925 "ValidationsStore with DatabaseStoreBackend doesn't work with URL"
**Describe the bug**
I cannot configure ValidationStore for MS SQL Server with connection string.
The same problem was described in #2073 and it's says it was solved from [0.13.3 version](https://github.com/great-expectations/great_expectations/releases/tag/0.13.3).

**To Reproduce**

Here is my config:

config_variables.yml:
[code]

great_expectations.yml:
[code]
Run `great_expectations store lis

[2022-01-03 08:33] derek-hk commented on #3699
Hi @austiezr
I would like to help in the testing of the proposed approach.
Please let me know if anything I can help!

[2022-01-03 09:15] nf-jimmysu commented on #3726
Data Source config
[code]

Batch Request
[code]

Validation Profiler
[code]

Thank You for your reply!

[2022-01-03 13:27] mparikhcloudbeds commented on #1645
hi @shakti-garg , thanks for sharing your experience.

Part of our Stream governance mandates that we should be able to assess quality of our data at each touchpoint of the data systems. I agree that Kafka being immutable distributed log store, we can't change original data but on the flip side our compliance does mandate to have auditable means of stream data history, measurable metrics around th

[2022-01-03 15:37] #3230 closed, assigned to nobody

[2022-01-03 16:07] cdkini commented on #3705
@GabwonPark I'm not able to reproduce your issue unfortunately.

Could you try adding your gcs site name to this part of the config:
[code]

You may also have better success using batch requests to pass in variables (as opposed to the env var assignment you're using in your script).

Finally, if you check `uncomitted/validations`, do you see anything? Is that empty, does it contain a single valida

[2022-01-03 16:08] #2688 closed, assigned to nobody

[2022-01-03 16:42] talagluck commented on #3917
Hi @jhanlonhg - thanks for raising this! Just to better understand, are you looking for the `meta` notes to be displayed within Data Docs on pages containing Validation Results, or are you saying that the `meta` notes are not contained within the ValidationResult `.json` objects themselves?

[2022-01-03 16:49] talagluck commented on #3925
Hi @mrkoloev - thanks for raising this! I don't believe we support spaces in url strings - would you try adding quotes, or try using a connection string without spaces?

[2022-01-03 17:45] hanlonjohn23 commented on #3917
@talagluck I was looking for `meta` notes to be present in the Data Docs on pages containing Validation Results. The idea being that developers without domain knowledge of Great Expectations will be able to click the little `meta` bubble on their test result, without having to click through to the Expectation Suite page.

[2022-01-03 20:09] DCastile commented on #2231
Looks like I'm late to the party but I can say that this functionality would be very useful for my teams work as well. We have highly nested data and need to make validations from it. Questions like does this nested array field have at least 1 entry in it. To the original authors point there are ways around this, but each require transforming the data into a shape that allows asking the question t

[2022-01-03 20:53] moritzkoerber commented on #2534
Did you have a look into this? I still run into this issue. Here's my code:
[code]
Returns:
[code]

Edit: For anyone running into the same error: The issue was that the uuid stored in `.ge_store_backend_id` in the expectations s3 store was invalid.

[2022-01-03 21:16] 80auline opened #3934 "Generate expectations fails STRING type in BigQuery"
**Describe the bug**
When trying to generate expectations from column STRING by scanning historic data, to many different values where found in the sample and raise a profiling error `Too many query parameters: 30856 exceeds limit of 10000.`

**To Reproduce**
Steps to reproduce the behavior:
1. `great_expectations --v3-api suite new`
2. `How would you like to create your Expectation Suite` -> `3.

[2022-01-04 08:17] mielvds commented on #2231
Hi @DCastile , good to hear there are other who see value in combining GE with nested data. Unfortunately, this doesn't seem to attract much intrest in the rest of the community...which is understandable, GE is still quite young and is focused on ML datasets.

This is still essential for my organization though, so we've parked adopting GE until this gets some traction. Luckily, Pandas [now nativel

[2022-01-04 14:41] TiansuYu opened #3937 "weird config error for gcs connector"
**Describe the bug**
I have encounterred the following bug while trying to setup a suite for my data in GCS:
[code]

I find the error message is rather hard to understand, hope here someone could help pointing out what is the real issue.

**To Reproduce**
Steps to reproduce the behavior:

The config that I have used is the following:
[code]
The file structure is that under `<my-dataset>` there are

[2022-01-04 15:19] ricardogaspar2 commented on #2231
Hi @mielvds 👋
I've participated in the last Superconductive meeting about GE roadmap, and one of the questions that arose was nested data.
It would be great, I'd even risk saying critical, for GE growth to support nested data.

As you probably are aware, there are many new tools within the Big Data ecosystem that have support for nested data (even that for some is rather limited). One of the thing

[2022-01-04 16:06] mielvds commented on #2231
Hi @ricardogaspar2 That's cool! I'll follow-up on GE's progress a bit more this year.

Indeed, there are many tools with support, but AFAIK, and please correct me if I'm wrong, this is limited to the _input_.
After the data is read, it is eventually turned into some kind of table. This simplifies processing and is therefore good for perfomance.
However, you have to be aware of the the resulting da

[2022-01-04 16:48] cdkini commented on #3820
@justin-mlbrry I'm going to close this down for the time being but please feel free to open a new issue if you're still running into any problems. Thanks!

[2022-01-04 16:48] #3820 closed, assigned to nobody

[2022-01-04 16:49] cdkini commented on #3428
@JoPrasanth I'm going to close down this issue but please feel free to open a new one if this issue persists. Thank you!

[2022-01-04 16:49] #3428 closed, assigned to nobody

[2022-01-04 18:09] ricardogaspar2 commented on #2231
Thanks for the comment @mielvds.
Yeah, tabular format doesn't mean flattened. Both formats (JSON, Parquet, ORC) are read as an input by an engine like Spark for example and represented as dataframes in a tabular format, but still with nested data structures, meaning that each column can be complex data type.

Recently Spark even added a new syntax to ease some manipulations with nested data. See:

[2022-01-04 19:30] dkotschessa opened #3940 "Checkpoint dot notation not working in CLI"
**Describe the bug**
[note: this issue was discovered when using the [GE airflow provider](https://github.com/great-expectations/airflow-provider-great-expectations) so will use this as an example, but I was advised this is a core GE issue]

When checkpoints are stored in subdirectories, i.e. checkpoints/taxi/fail, they are listed as such in the cli:

[code]

But they cannot be executed this way a

[2022-01-04 19:40] cdkini commented on #3940
Hey @dkotschessa thanks for opening up this issue! We've recently added some support around dot notation so I'm surprised an issue is arising. Let me review that implementation and see if I can't figure out a path forward.

[2022-01-04 22:13] cdkini commented on #3775
@devdnhee this should be implemented as part of the above PR! I'll go ahead and close this down but please feel free to open a new issue if you run into any other problems.

[2022-01-04 22:13] #3775 closed, assigned to nobody

[2022-01-05 06:13] DCastile commented on #2231
I concur with @ricardogaspar2

Support for nested structures is native in all of the backends with the exception of sqlite, so I imagine this comes down to getting the time to implement. The differences in the original file format don't matter to GE it only interacts with the backend.

Further I think the semantics could be simple using some extension of dot notation. For simple things we can use

[2022-01-05 08:49] mielvds commented on #2231
I didn't mean flattened, but the top level is basically a table (dataframe) and the cells can be nested in some specific way. But I think we're in agreement here.

I'm also not worried about the UI, I just wonder about what path syntax to use when declaring expectations. A dot syntax is ok for simple cases, but when you want to, for instance, address attributes in XML, it already gets tricky (gran

[2022-01-05 13:13] mrkoloev commented on #3925
Hello @talagluck
I have tried each of these configurations separately and get the same error `got an unexpected keyword argument 'url'`:

[code]
These connection strings works well (except the first one) for Datasource configuration.

[2022-01-05 14:01] cdkini commented on #3940
Resolved per Slack conversation (latest release)

[2022-01-05 14:01] #3940 closed, assigned to nobody

[2022-01-05 14:12] cdkini commented on #3845
@AlexNae apologies for the delayed response here.

My hunch is that the `schema` keyword is being passed in the wrong scope. believe this should be nested within a `credentials` YAML dict.

[code]

[2022-01-05 17:01] cdkini commented on #3894
@80auline this should be fixed per the above PR! If you're seeing any other problems, please feel free to let us know in Slack or in another issue. Thanks!

[2022-01-05 17:01] #3894 closed, assigned to nobody

[2022-01-06 18:53] tdstark commented on #3417
@talagluck any progress on this? I'm probably going to be pivoting back to GE in the next few days. This could be a misconfiguration on my part but I'm still not sure what the issue is.

[2022-01-06 22:36] talagluck commented on #3417
Hi @tdstark - thanks for the ping here! I wanted to check, what version of SQL Alchemy are you on? `sa.table` ordinarily accepts the keyword argument `schema` with no problem, so I wonder whether this has to do with a version issue.

[2022-01-06 23:15] gardnmi opened #3957 "SparkDFDataset adding columns to dataframe for some expectations"
**Describe the bug**
Some expectation methods in `SparkDFDataset` are adding columns to the original dataframe.  This can lead to issues when running other expectations further validate column count, names, etc.

**To Reproduce**
[code]
**Expected behavior**
The column should be removed after the expectation has completed.

**Environment (please complete the following information):**
 - Databricks

[2022-01-07 09:12] gabwon9 commented on #3705
@cdkini Thank you for your reply. Did you test on gcloud environment or in your local laptop to reproduce this issue ?
As i think, this issue can be reproduced on gcloud environment and it can't not be reproduced in local laptop as local site works well.

Additionally,
1. For update_data_docs, i already tested it. No effect.
2. For batch request, i will try to this. If you have any example for thi

[2022-01-07 17:46] eculicny opened #3966 "Silent overwrites of validation results stored in database when actions have the same name"
**Describe the bug**
Identically named actions should have their configuration updated or appended as mentioned [here](https://docs.greatexpectations.io/docs/reference/checkpoints_and_actions/#configuration-defaults-and-parameter-override-behavior). However, the action will fire off for each config occurrence _with_ the updated configuration as opposed to a single action with the latest version of

[2022-01-07 20:26] talagluck commented on #3417
Hi @tdstark - I've been trying to replicate this, but haven't been successful. To confirm, are you able to instantiate a Validator? Does this not work at all, or does it only not work in your Checkpoint? What versions of Great Expectations, SqlAlchemy, and the SqlAlchemy connector are you running?

[2022-01-07 20:32] tdstark commented on #3417
@talagluck I've only been working with Checkpoints, but I can't even get the Checkpoint to work in Jupyter Notebooks. Currently, Great Expectations was pinned to `0.13.44`, SQLAlchemy was pinned to `1.3.15`.

[2022-01-08 05:12] vgcshub commented on #3925
@mrkoloev @talagluck
FYI
 File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sqlalchemy\engine\default.py", line 597, in connect
    return self.dbapi.connect(*cargs, **cparams)
sqlalchemy.exc.InterfaceError: (pyodbc.InterfaceError) ('IM002', '[IM002] [Microsoft][ODBC Driver
Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')
(Background on

[2022-01-09 20:33] talagluck commented on #3417
Hi @tdstark - thanks for the info. I've successfully reproduced on SQLAlchemy 1.3.15. It looks like this has to do with the version number, and will work if you use SQLAlchemy >= 1.3.18. I'm going to work on updating our documentation to make this clearer.

[2022-01-09 20:34] talagluck commented on #2936
Hi @mpalfi - thanks for the update. This has come up elsewhere, and I believe it has to do with the SQL Alchemy version. Are you running a version <1.4? I believe the error should go away if you run >= 1.3.18.

[2022-01-10 06:18] vgcshub commented on #3925
@talagluck FYI
Error Unable to connect to table ge_validations_store because of an error. It is possible your table needs to be migrated to a new schema.  SqlAlchemyError: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Column 'expectation_suite_name' in table 'ge_validations_store' is of a type that is invalid for use as a key column in an index.

[2022-01-10 06:22] vgcshub commented on #3925
@talagluck @mrkoloev
I tried the following query directly on MS SQL Server Management Studio it gives error

[SQL:
[code]

]

Error:

[code]
I think this sql need to change from the GE

[2022-01-10 13:39] DaveRuijter commented on #3917
Yes, this would be great!

[2022-01-10 19:30] DCastile opened #3975 "Nested data support"
**Is your feature request related to a problem? Please describe.**
Currently in GE there is no support for nested data inside a cell of a dataset. However many datasets contain nested/hierarchal data in these cells and these values must be quality checked. A work around is to pre-process the data prior to performing an expectation however this creates unnecessary separation between the original da

[2022-01-10 19:45] sarahkb125 commented on #3975
Ditto this. Support for string representations of JSON would be incredibly useful.

[2022-01-11 14:36] SSchotten opened #3979 "File-level expectations for files on S3 (v3 API)"
**Is your feature request related to a problem? Please describe.**
Using the v3 API, I would like to be able to create and use file-level expectations - similar to the ones defined for the v2 API as specified [here](https://legacy.docs.greatexpectations.io/en/latest/reference/glossary_of_expectations.html#filedataasset).

In particular, I would like to be able to create/validate expectations about

[2022-01-11 15:19] nateGarcia commented on #3807
@talagluck Do you have any thoughts on the `set.difference()` approach on `expect_column_distinct_values_to_equal_set`?

[2022-01-11 16:55] PaulineBeurier8 commented on #3869
[code]

[2022-01-11 20:28] austiezr commented on #3322
@madelonhulsebos Closing this out as resolved by #3697; thank you so much for reaching out about this!

[2022-01-11 20:28] #3322 closed, assigned to nobody

[2022-01-12 11:02] ricardogaspar2 commented on #3975
Besides JSON, support for nested data on PARQUET/ORC/DELTA would also be very welcomed.
I would say that adding support for systems like Snowflake, AWS Glue/Hive, Redshit that already support these nested structures has a higher a priority.

[2022-01-12 15:54] talagluck commented on #2936
I believe this Issue is resolved by #3938. @mpalfi, I believe your issue will be resolved by using a newer version of SQL Alchemy, and is also a duplicate of #3417, so I'm going to close this for now. Please feel free to open a new issue if that is not the case. Thanks!

[2022-01-12 15:54] #2936 closed, assigned to nobody

[2022-01-12 15:57] talagluck commented on #3528
Hi @frantakalab and @z3z1ma - I believe this was resolved by #3938, so I'm going to close this issue. Thanks!

[2022-01-12 15:57] #3528 closed, assigned to nobody

[2022-01-12 16:37] austiezr commented on #3180
Hey @kuhnen! I'm going to close this out for now; if you're still encountering this issue and can provide further context, feel free to re-open and reach out! We would encourage looking into the User-Configurable and Rule-Based profilers. They're more powerful than the older profilers, and safer, as the older profilers can sometimes have unintended behaviors.

[2022-01-12 16:37] #3180 closed, assigned to austiezr

[2022-01-12 16:53] talagluck commented on #3937
Thanks for opening this issue, @TiansuYu! Someone on the team will review and be in touch.

[2022-01-12 16:54] talagluck commented on #3934
Thanks for opening this issue, @80auline! Someone on the team will review and be in touch.

[2022-01-12 16:59] talagluck commented on #3957
Thanks for opening this issue, @gardnmi! The SparkDFDataset class is part of the V2 API. Do you happen to know if this is an issue with the V3 API as well? At this time, we're unable to prioritize fixes to the V2 API internally, but we are certainly happy to offer guidance for a contribution if that is something in which you are interested.

[2022-01-12 17:08] talagluck commented on #3966
Thanks for opening this issue, @eculicny! Someone on the team will review and be in touch.

[2022-01-12 17:12] talagluck commented on #3975
Thanks for opening this issue, @DCastile, and for the context, @sarahmk125, @ricardogaspar2! We will review internally and be in touch.

[2022-01-12 18:20] #3409 closed, assigned to nobody

[2022-01-12 19:02] joshua-stauffer commented on #3937
Hi @TiansuYu! I took a look at your config, and I believe this error is being raised because you included `glob_directive` as part of the `ConfiguredAssetGCSDataConnector` config. That key is only valid when using local filesystem type data connectors like the `ConfiguredAssetFilesystemDataConnector`. You could try the `default_regex` key instead -- for some more context, take a look at the [GCS c

[2022-01-13 18:05] AFineDayFor commented on #3394
Howdy @jdimatteo, thanks doubly so for raising this!

Could you test if passing the kwargs you'd want in `sqlalchemy.create_engine` when used as a `connection_string` in your `datasource` as indicated [here](https://github.com/great-expectations/great_expectations/pull/3991/files)?
If that indeed works for you, if you have any concerns with the document let me know as well please.

[2022-01-14 16:38] austiezr commented on #3545
Hey @abtpst! I'm investigating this further; would you be able to try the following?

`batch.expect_column_values_to_match_json_schema(column='YOUR_COLUMN_NAME', json_schema={"properties": {"a": {"type": "string"}}})`

Similarly, can you try the same but with `json_schema={}`?

[2022-01-14 17:04] talagluck commented on #3764
Hi, @philgeorge999! This appears to be a duplicate Issue with #3195, so we're going to close it for now, but if you feel differently, please feel free to re-open. We are planning on working on this over the next few weeks and will be in touch in the other Issue when this is implemented. Thanks!

[2022-01-14 17:04] #3764 closed, assigned to nobody

[2022-01-14 17:10] talagluck commented on #3765
Hi @philgeorge999! This is indeed really interesting. In terms of joining this to do the operation yourself, I believe this will be accomplished when #3195 is implemented.

As far as returning additional aggregate metrics, this could be accomplished with a custom expectation and custom metric which would implement what you are describing. Then when the results of the expectation are returned, this

[2022-01-14 18:21] cdkini commented on #3623
Closing as this is addressed in the aforementioned PR!

[2022-01-14 18:21] #3623 closed, assigned to nobody

[2022-01-14 19:04] mroblesquantil opened #4002 "Bug when creating datadocs of a Suite having a multicolumn map expectation"
**Describe the bug**
I defined a Suite with just the expectations expect_select_column_values_to_be_unique_within_record. When I try to build the data docs after validating a dataset with this Suite i get a AtributeError: "'str' object has no attribute 'get'".

![image](https://user-images.githubusercontent.com/94074924/149555145-e9a0350d-045b-44fd-8475-8fb634c9d500.png)

When I open the html I ge

[2022-01-17 10:40] mikkilinenirc opened #4011 "Custom Expectation"
**Describe the bug**
A clear and concise description of what the bug is.
I have created a Custom Expectation by following this page,
https://docs.greatexpectations.io/docs/guides/expectations/creating_custom_expectations/how_to_create_custom_expectations
To do this we will say,
great_expectations suite new
Choose Interactive mode
specify the suite name.
A jupyter notebook will be opened with prepo

[2022-01-17 13:56] DaveRuijter commented on #3813
I can confirm this bug. Would be nice if this can be fixed :). Maybe I'll have some time in the future to help, but not right now.

[2022-01-17 13:59] DaveRuijter commented on #3690
I can confirm this behaviour. The 'monkey patch' is working nicely.
It would be great of course if this is integrated in the library.
Thanks in advance!

[2022-01-18 04:00] vgcshub commented on #3925
Hi @mrkoloev
Did you find any workaround for MSSQL validation store issue
If yes can you please share it here

Thanks

[2022-01-18 08:29] damon09273 commented on #3847
@cdkini Now it work properly! thank you for your helping.

[2022-01-18 08:29] #3847 closed, assigned to nobody

[2022-01-18 08:56] mrkoloev commented on #3925
Hello! @vgcshub
Unfortunately I didn't :(
I've decided to use postgresql but as a temporary solution.

[2022-01-18 14:40] tdstark commented on #3417
@talagluck this appears to have been resolved! Thank you!

[2022-01-18 23:35] #3726 closed, assigned to nobody

[2022-01-19 09:15] akerone opened #4014 "Bug: TypeError when using a custom_filter_function"
## Bug description
When running a checkpoint from Python, using a "custom_filter_function" in the "data_connector_query" of the "batch_request", raises the following error:

`TypeError: <function ge_checkpoint_files.<locals>.__extracted_files_filter at 0x000002A992E1AC10> is of type function which cannot be serialized.`

## Environment
- Windows 10
- Great Expectations 0.14.1

## Example code
[cod

[2022-01-19 16:45] AFineDayFor commented on #4002
Howdy @mroblesquantil, we're looking into this. Thank you for bringing it up.

[2022-01-19 17:08] AFineDayFor commented on #4014
Howdy @akerone, thank you for telling us and providing the full stack trace. We'll get back to you, and again thank you.

[2022-01-19 17:12] AFineDayFor commented on #4011
Based on Slack it appears you've already addressed this [here](https://app.slack.com/client/T7NEH00BA/CUW3WD6PK) so I'm closing this issue; however, can you please indicate the steps you took here. Also if it's not resolved, feel free to just go ahead and open.

[2022-01-19 17:12] #4011 closed, assigned to nobody

[2022-01-19 21:38] scnerd opened #4022 "S3 prefixes get broken when running on Windows"
**Describe the bug**
On Windows when referencing an S3 data source, the prefix is suffixed with ``\`` instead of ``/``, resulting in query always failing.

**To Reproduce**
Create a ``InferredAssetS3DataConnector`` data connector, and pass any valid prefix (probably needs to be non-empty). Then, attempt to load a file from that connector.

**Expected behavior**
The file gets loaded properly.

**Er

[2022-01-20 10:09] namanchawla opened #4024 "Unable to create new expectation suite using great expectataion version 0.14.1"
**Description:**  Unable to create new expectation suite with great_expectations library version 0.14.1.

**Steps To Reproduce**
    Step 1)  Execute  "great_expectations suite new"

    Output of Step 1:
      How would you like to create your Expectation Suite?
          1. Manually, without interacting with a sample batch of data (default)
          2. Interactively, with a sample batch of data

[2022-01-20 10:22] vshind1 opened #4025 "validator.save_expectation_suite() method not able to save updated batch request in suite json"
**validator.save_expectation_suite() method not able to save updated batch request in suite json*
validation.save_expectation_suite() method not able to save batch_request after making changes.

**To Reproduce**
Steps to reproduce the behavior:
1. execute the following command on CLI
`great_expectations suite new`
2. select data_asset according to your requirements
3. Jupyter notebook will open
4.

[2022-01-20 10:37] vshind1 opened #4026 "In configure asset data connector it is not allowing to update data_asset_name on runtime."
**Describe the bug**
In configure asset data connector, it is not allowing to update data_asset_name on runtime, it asking me to define it in yml.

**To Reproduce**
Steps to reproduce the behavior:
1. add the following configuration in great_expectations.yml
  my_athena:
[code]
2.  create a new suite from CLI with default configure data connector
`Great_expectation suite new`
3. edit batch request

[2022-01-20 10:53] namanchawla opened #4027 "Unable to edit the expectation suite if additional arguments are added in batch_request parameter."
**Description:**
   Unable to edit expectation suite if additional arguments were added in batch_request parameter while creating suite.

**Steps To Reproduce**
Step 1) Execute "great_expectations suite new"
   Output of Step 1:
  How would you like to create your Expectation Suite?
      1. Manually, without interacting with a sample batch of data (default)
      2. Interactively, with a sample b

[2022-01-20 11:33] sushrut9898 opened #4028 "In V3 while creating a new suite with athena creates two temp table one at suite creating time and other one while running checkpoint"
When we create and save a new suite in the V3 via notebook with Athena, two temp tables are created.
One when we create the suite or define data_asset and another one when we try to run all expectations (run validations) using checkpoints. Is there any way we could reuse the temp table while creating the suite for running validations just like we did with v2?

Steps to reproduce the behavior:
1. s

[2022-01-20 15:26] houqi2018 opened #4030 "Sampling of data batches configuration is ignored for Athena tables"
**Describe the bug**
Sampling configurations for Athena tables are ignored or don't help improve the performance when generating a validator.

**To Reproduce**
1. Use the following YAML config (Replace `test_table_name` and `test_schema_name` with valid names)
**IMPORTANT**: Please use a large table to see the difference.
[code]
2. Execute the following command on CLI
[code]
3. Select option 2
How

[2022-01-20 16:25] wpaturaj commented on #3153
I still have the same problem with the 0.13.33 and 0.14.0.
GE give me:
AttributeError: 'TextClause' object has no attribute 'name'
and link to this https://github1s.com/great-expectations/great_expectations/blob/HEAD/great_expectations/execution_engine/sqlalchemy_execution_engine.py#L471-L472

[2022-01-20 23:05] AFineDayFor commented on #4026
Howdy @vshind1, thanks for letting us know you're experiencing this. As you're currently on version 0.14.0, can you try to replicate this on the most recent? I'll bring this up with the team.

[2022-01-21 01:32] edgarrmondragon opened #4034 "Document `GE_HOME` environment variable"
**Describe the bug**

The docs hosted in https://great-expectations.readthedocs.io and https://docs.greatexpectations.io/docs/ fail to mention the possibility of passing a `GE_HOME` environment variable to tell `great_expectations` the location of the root dir when calling from a different path.

I had to dig through the code and issues to see if something like this was even possible and the refer

[2022-01-21 06:54] sncamie opened #4036 "Regex Issue"
file names are of the form 'plant_report_0-2_(unfiltered)_2022-01-20_02_29_16.csv' my regular expression is (.*)_
[mouldpresserrort.txt](https://github.com/great-expectations/great_expectations/files/7911023/mouldpresserrort.txt)
(\d{2})_(\d{2})\.csv. Using https://regexr.com/, the pattern matches the text. When i build a new suite, GE only matches 'plant_report_0-2_(unfiltered)_2022-01-20_02'  wi

[2022-01-21 13:41] Akselkv opened #4037 "Cannot initialize datasource: Could not parse rfc1738 URL from string"
**Describe the bug**
I get the following error when trying to initialize an MSSQL Server database as an datasource with release 0.14.1, which I didn't get with the old version (0.13.35) i was using:
[code]
**To Reproduce**
Using following datasource config:
[code]

The `${riskdb}`-variable is found in `config_variables.yml`, which contains the following:
[code]

**Expected behavior**
Being able to

[2022-01-21 17:01] AFineDayFor commented on #4030
Howdy @houqi2018, thanks for reaching out. Can you compare the number of rows returned in each batch; where you are and where you are not using the splitter.

[2022-01-21 17:05] AFineDayFor commented on #4022
Howdy @scnerd, thanks for reaching out. I'm bringing this up with the team, we'll let keep you informed.

[2022-01-21 17:13] AFineDayFor commented on #4028
Thank you for bringing this up @sushrut9898. The team will talk it over and get back to you.

[2022-01-21 17:16] AFineDayFor commented on #4027
Howdy @namanchawla. Thank you for opening this with us. We'll have an update after we're able to talk it over with the team.

[2022-01-21 17:25] AFineDayFor commented on #4025
Howdy @vshind1. We'll continue working this in [4027](https://github.com/great-expectations/great_expectations/issues/4027) as that appears to be the same but with a bit more context. Please reach out if you feel that's incorrect.

[2022-01-21 17:29] AFineDayFor commented on #4034
Howdy @edgarrmondragon, we'll look into this more. Thank you very much for raising this.

[2022-01-21 17:30] houqi2018 commented on #4030
Hi @AFineDayFor, I've run the notebook using different data assets (different schema names and table names). I noticed when I used a small table, the `getValidator()` method was executed quickly and the numbers of rows scanned were the same, i.e., the entire table. However, when I tried the same with a large table, the method timed out and I couldn't compare the results. Let me know if this is wha

[2022-01-21 18:46] scnerd opened #4040 "Pandas ``IntXDtype`` types not supported"
**Describe the bug**
When a dataframe uses one of Pandas' nullable ``IntXDtype()`` types (most commonly, ``Int32Dtype()``), there is no way to validate this type in ``expect_column_values_to_be_in_type_list``.

**To Reproduce**
1. Create a dataframe with a ``pd.Int32Dtype()`` column. It may need to contain some null values.
2. Save it to parquet (tested with pyarrow engine).
3. Create expectation

[2022-01-21 19:17] scnerd commented on #4040
I'd like to submit a PR for this.

[2022-01-21 19:43] AFineDayFor commented on #4024
Thanks for bringing it to our attention @namanchawla. We'll get back to you.

[2022-01-21 20:13] AFineDayFor commented on #4040
Thank you very much @scnerd, we'll keep an eye out. Let us know if you need any help getting this over the line.

[2022-01-21 20:16] scnerd commented on #4022
@AFineDayFor Working on a PR for this as well.

[2022-01-21 20:23] AFineDayFor commented on #4037
Thank you for bringing this up @Akselkv. The team will go over this.

[2022-01-21 21:51] AFineDayFor commented on #4036
Howdy @sncamie. When you pass capture groups in your match, you may want to also provide an ordered list of their names, the `group_names` kwarg; you can see an example of this [here](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/how_to_configure_a_configuredassetdataconnector/#example-2-basic-configuration-with-more-than-one-data-asset).

As a brief example, the expression

[2022-01-22 16:02] joshua-stauffer commented on #4037
I suspect that this is due to a breaking change in SQLAlchemy -- looks like this error originates [here](https://github.com/sqlalchemy/sqlalchemy/blob/f8fd9c64d6967b60f4fbf568465af9f0d0c0f482/lib/sqlalchemy/engine/url.py#L725).

[2022-01-22 16:17] joshua-stauffer commented on #4037
I would recommend trying to connect to your database with SQLAlchemy by itself, starting with version 1.3.16, since that was the lowest valid version that GE would have installed in GE 0.13.35. If that works, you could try jumping to SQLAlchemy 1.4x, and see if you can still connect.

[2022-01-24 07:25] Akselkv commented on #4037
I tried downgrading and that work, but I suspect that's not the problem. We had `SQLAlchemy==1.4.22` in our `requirement.txt` since august 2021, and GE has newer thrown me this error before i upgraded to 0.14.1

[2022-01-24 09:55] vshind1 commented on #4026
Hi @AFineDayFor
I am not able to create a new suite with 0.14.2, https://github.com/great-expectations/great_expectations/issues/4024
I have tested with the edit suite, I facing the same issue in 0.14.2.
![image](https://user-images.githubusercontent.com/90608552/150760821-06af468c-8bff-45d1-98fd-02935dadaa42.png)

[2022-01-24 10:11] vshind1 commented on #4025
@AFineDayFor I am good as long as the issue gets fixed,
As our framework requires this fix, could please let us know the priority of these bugs at your end.
It would be great if you provide a rough release version in which it will get the fix.

[2022-01-24 10:14] vshind1 commented on #4026
@AFineDayFor
As our framework requires this fix, could please let us know the priority of this bug at your end.
It would be great if you provide a rough release version in which it will get the fix.

[2022-01-24 17:13] austiezr commented on #3699
Hey @derek-hk!

A couple of things you could do if interested:
- Submit a PR for this expectation as an [experimental Custom Expectation](https://docs.greatexpectations.io/docs/guides/expectations/contributing/how_to_contribute_a_new_expectation_to_great_expectations)
- Benchmark the performance of your new approach vs the current core approach on data of various size and complexity and report bac

[2022-01-24 18:21] 80auline opened #4049 "BigQuery GEOGRAPHY column type not recognised"
**Describe the bug**
`GEOGRAPHY` BigQuery  type is not recognise and generates error in datadoc.

**To Reproduce**
Steps to reproduce the behavior:
1. `great_expectations --v3-api suite edit my_table`
2. `How would you like to edit your Expectation Suite?` -> `1. Manually, without interacting with a sample batch of data`
3. `Select a datasource` -> `datasource_BigQuery_analytics`
[code]
4. Provide

[2022-01-24 18:30] AFineDayFor commented on #3394
@jdimatteo have you had any success with [batch_spec_passthrough](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/how_to_create_a_batch_of_data_from_an_in_memory_spark_or_pandas_dataframe)?

[2022-01-24 18:46] samLozier opened #4050 "Creating expectation suite using profiler fails when: expect_column_values_to_be_in_set is used and element count >16000 w/ snowflake db"
**Describe the bug**
The default profiler configuration uses the `expect_column_values_to_be_in_set` which sometimes tries to set a rule for string columns that contain more than the number of elements that snowflake will allow for an in clause. (16000)

**To Reproduce**
Steps to reproduce the behavior:
1. Run the auto profiler on a snowflake table that contains a column with >16000 unique element

[2022-01-24 18:55] AFineDayFor commented on #3870
Howdy @jeduardo90, rather than attaching the configs, can you code block them for us please?

[2022-01-24 21:36] john-schwegler-vectorsolutions opened #4051 "More flexibility in managing cardinality for rule-based profilers"
**Is your feature request related to a problem? Please describe.**
The maximum cardinality of a given variable for which it still makes sense to build a list varies quite a bit.  In some cases, 10 values is enough.  In other cases, there may be 10,000 distinct values for which a list is still useful.  Currently, GE has a bit of a break in the middle.  A cardinality of "FEW" provides a maximum of 5

[2022-01-25 04:06] vgcshub commented on #3925
Hi @talagluck
I have gone through the code it goes from GE to sqlalchemy and pyodbc.. pyodbc throws drivername is missing ..
then tried multiple configuration changes but no luck ..
we tried to hardcode the connection information inside the code , somehow it able to connect mssql then it tries to run the following query but got error,

[code]

Error:

[code]

@talagluck  Any GE Experts have any id

[2022-01-25 13:03] joshua-stauffer commented on #4037
Hi @Akselkv, thanks for looking into that. We'll escalate this issue and get back to you with more soon.

[2022-01-25 17:02] talagluck commented on #3837
Hi @AlbertUlysses - thanks again for opening this! In light of the 0.14 release, the `--v3-api` flag is no longer necessary, so we're going to close this for now.

[2022-01-25 17:02] #3837 closed, assigned to nobody

[2022-01-25 18:28] austiezr commented on #3871
Hey @Alcampopiano! The above PR will allow a semicolon to suppress output as expected.

[2022-01-25 19:04] #3417 closed, assigned to nobody

[2022-01-25 19:57] samLozier opened #4060 "Trailing comma in expectation json causes hard to debug json parse error."
**Describe the bug**
If an expectation.json is manually edited in such a way that a trailing comma is left in the expectations array, the parser adds "null" to the end of the array which triggers difficult to debug json parse errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an expectation
2. Manually edit the list of expectations:
[code]
the parser views this as
[code]

3. Run

[2022-01-25 21:05] Alcampopiano commented on #3871
Now this is awesome! Thank you so much for such a speedy change. Our Deepnote tutorial for GE will look will look even better now!

[2022-01-25 21:16] joshua-stauffer commented on #4037
Just to have all the data in one place -- @Akselkv reported that this error occurs on GE 0.13.49 as well, per our [Slack conversation here](https://greatexpectationstalk.slack.com/archives/CUTCNHN82/p1643009217154800?thread_ts=1642670570.087400&cid=CUTCNHN82).

[2022-01-25 23:56] Aylr opened #4062 "Expectation docstrings not present in Jupyter notebooks"
**Describe the bug**
Docstrings for `expect_*` methods are not present in Jupyter notebooks.

**To Reproduce**
Steps to reproduce the behavior:
1. Create or edit a suite
2. Enter an expectation method
3. With your cursor in the parens, pull up the docstring shortcut in Jupyter notebooks
4. Note lack of helpful doc string

**Expected behavior**
I expect to see the docstrings and parameters so I kno

[2022-01-26 02:58] #3871 closed, assigned to nobody

[2022-01-26 16:37] austiezr commented on #3545
Hey @abtpst! Closing this out for now as we've had some motion in the area and I've been unable to reproduce this issue with valid json schemas; if you are still experiencing this issue please feel free to re-open with further context!

[2022-01-26 16:37] #3545 closed, assigned to nobody

[2022-01-26 17:20] austiezr commented on #3506
Hey @shpolina! Are you able to share an example of the workflow throwing this error? I've been unable to reproduce this issue on my end so far.

[2022-01-26 17:36] shpolina commented on #3506
My workflow is including this expectation in a suite and then validating using `run_checkpoint()`.
It's been a while since I opened this issue so it is possible that something have changed since then.

[2022-01-26 17:55] joshua-stauffer commented on #4062
hi @Aylr, thanks for flagging this -- we'll take a look and get back to you soon!

[2022-01-26 18:00] joshua-stauffer commented on #4060
Hi @samLozier, thanks for raising this issue! one clarifying question: when you say 'manually edit the list of expectations', I understand that you alter the expectation json file by hand. Is this correct, or does this happen when you alter the expectation programmatically as well?

[2022-01-26 19:23] taylorfturner opened #4069 "Example Notebook Pathing Issues"
**Describe the bug**

1. The example notebooks in `/examples/notebooks/` do not work out of the box. I am testing on the `develop` branch. For example:
- <file_name>: <path>
- `explore_titanic_data.ipynb`: `tests/examples/titanic.csv`
- `Crop_Expectations_With_Reshape.ipynb`: `tests/examples/FAO-Rice-Production-Asia.csv`
- `Tutorial.ipynb`: `/PATHTO/hospital_charge_data.csv`
**Note**: Additionally

[2022-01-26 20:36] samLozier commented on #4060
@joshua-stauffer Your understanding was correct. I thought I'd save myself time by directly editing the json file by hand since I was trying to remove a single expectation.

So far it has not happened to me when editing programmatically

[2022-01-26 21:04] joshua-stauffer commented on #4050
Hi @samLozier, thanks for raising this issue! Your solution looks workable, would you consider making a PR with these changes? Looks like this would also close #3527. Thanks for considering!

[2022-01-26 21:11] samLozier opened #4071 ""how to configure a metrics store" documentation is not accurate"
**Describe the bug**
I understand this feature is currently marked as beta, but I am currently unable to reproduce the simple example in the docs and am pointing out a few of the issues I've encountered in the hope that they may help the next person.

https://legacy.docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_metadata_stores/how_to_save_metrics.html

My checkpoint configur

[2022-01-26 22:07] AFineDayFor commented on #3450
Thank you @mccalluc, this was addressed in #4013

[2022-01-26 22:07] #3450 closed, assigned to nobody

[2022-01-27 10:53] Hugoberry commented on #3925
@vgcshub I'm also struggling with this. Not a GE expert. Nevertheless, from SQL point of view,  you can't have a PRIMARY KEY that doesn't fit on a page. Lowering the max values to some sensible numbers should do the trick.
[code]

[2022-01-27 14:04] jcampbell commented on #4060
@samLozier  -- I can't replicate this. Here's the snippet I'm using...

[code]

[2022-01-27 14:05] jcampbell commented on #4060
The attempt to run the checkpoint here also fails (correctly) with a `JSONDecodeError`

[2022-01-27 14:19] Hugoberry commented on #3925
I was able to get this setup working with `connection_string`. This is my great_expectations.yml:
[code]
I've also made sure to create the 2 tables beforehand
[code]

[2022-01-27 15:56] denimalpaca commented on #4037
Hey, I'm also seeing this issue with the Snowflake connection.
Using GE 0.13.49, Python 3.9.7,
snowflake-sqlalchemy==1.2.5
SQLAlchemy==1.3.24

`Cannot initialize datasource my_snowflake_datasource_old: Cannot initialize datasource my_snowflake_datasource_old, error: Could not parse rfc1738 URL from string '{'url': 'snowflake://benji:[pass]@[account]/[database]/SANDBOX_BENJI?warehouse=DEMO&role=BEN

[2022-01-27 17:22] samLozier commented on #4050
I'll need to check with my corporate overlords to see if I can contribute on company time, otherwise I don't think I'll be able to get to it before the weekend.

Rather than a 1-off rule, do we want to see if the other data connectors have similar limits, or just clip it at an arbitrary point for all? Basically if a column has anywhere close to 16000 distinct values in it, its reasonably likely th

[2022-01-27 17:29] joshua-stauffer commented on #4037
Hi @Akselkv, thanks for your patience. It looks like your connection string variable has a nested key, `url`, which is invalid. Try updating that variable to:
[code]

[2022-01-27 17:43] samLozier commented on #4050
While we're on the subject of the auto profiler, does it adjust the rules that it runs based on the size of the table at all? I made the mistake of running it on a snowflake table with 156 billion rows with a xs warehouse and it took me a minute to figure out why it was never finishing. That could be another PR if needed

[2022-01-27 20:14] samLozier commented on #4060
@jcampbell I just want to clarify a bit. It sounds like you were able to reproduce the behavior but I may not have been clear about exactly what I was trying to point out in the initial issue.

My point was more of a DX comment. From the perspective of a fairly technical person new to GE and using the cli commands, the error was difficult to find. I had to switch to python execution and use the de

[2022-01-27 20:21] samLozier commented on #4071
I spoke to @talagluck on slack and they gave me the following feedback:

The database store backend should work with many SQL back-ends, but has only been tested with postgres. I know that others have reported issues with sqlite in the past for the reasons you describe and because sometimes the columns are not large enough to contain the results.

My understanding now is that a big update is in pr

[2022-01-27 20:55] dammyai opened #4080 "result_format parameter returns column not serializable error for Snowflake Datasource"
When using the result_format parameter in checkpoint, it's returning column not serializable error:
`results = context.run_checkpoint(
    checkpoint_name="cms_cp",
    result_format={
        "result_format": "COMPLETE",
        "include_unexpected_rows": True
    }
)`

**STEPS TO REPRODUCE**
1. Used ge v3 api to create new Datasource (Snowflake)
2. After creating Datasource, used ge v3 api to au

[2022-01-28 00:07] jcampbell commented on #4062
Thank you, @Aylr -- you still get the title of usability king even in absentia. :)

I just did a PR to address this--would love your confirmation it's working for you.

[2022-01-28 02:43] jcampbell commented on #4060
Thanks for helping me understand a little better. I actually wasn't able to reproduce the error of adding the null expectation to the list, because I only observed the json decode error. To make sure I understand, how are you running the checkpoint that is giving you the extra null?

[2022-01-28 12:19] Godoy opened #4084 "Error on version 0.14.3: ModuleNotFoundError: No module named 'typing_extensions'"
**Describe the bug**
Using version 0.14.3, when importing `import great_expectations as ge`, running on a Pyspark, the import raises the following error `ModuleNotFoundError: No module named 'typing_extensions'`

**To Reproduce**
Steps to reproduce the behavior:
1. Install the version 0.14.3 using Databricks pypi Library Dependency  (@cdkini i've updated here, thanks)
2. Add `import great_expectat

[2022-01-28 16:28] joshua-stauffer commented on #4049
Hi @80auline, thanks for raising this issue. It looks like we may need to specifically install BigQuery support for the GEOGRAPHY column. Could you try `pip install 'sqlalchemy-bigquery[geography]'` and see if the error persists? I'll look into replicating this on my end as well.

[2022-01-28 16:40] joshua-stauffer commented on #3527
Addressing this issue in #4050

[2022-01-28 16:40] #3527 closed, assigned to nobody

[2022-01-28 17:31] joshua-stauffer commented on #4071
Hi @samLozier, thanks for raising this issue. I just wrapped up a rewrite of this doc, and expect it to merge shortly, but wanted to address some of the points you brought up.
- metrics are stored as json objects, so that behavior is expected. I wasn't a part of the original architecture discussions, so I can't say for sure, but it looks to me like that may be a way to handle `value` being an arbi

[2022-01-28 17:35] tal commented on #4071
@samLozier sorry which slack did i give you feedback?

[2022-01-28 17:37] joshua-stauffer commented on #4051
Hi @john-schwegler-vectorsolutions, thanks for raising this! I'll look into it and get back to you soon.

[2022-01-28 17:39] joshua-stauffer commented on #4071
hi @tal -- looks like a case of mistaken identity, so I've updated the tag.

[2022-01-28 17:42] joshua-stauffer commented on #4069
hi @taylorfturner, thanks for raising this issue -- you're right, those are out of date. We'll look into it and update them accordingly.

[2022-01-28 17:48] joshua-stauffer commented on #4080
Hi @dammyai, thanks for raising this issue - we have some context for where this is coming from, and will try to prioritize a fix soon.

[2022-01-28 18:15] joshua-stauffer commented on #4071
@samLozier [the new guide is available here](https://docs.greatexpectations.io/docs/guides/setup/configuring_metadata_stores/how_to_configure_a_metricsstore), so I'll close this issue, but feel free to reach out if you have further issues.

[2022-01-28 18:15] #4071 closed, assigned to nobody

[2022-01-28 18:21] cdkini commented on #4084
@Godoy I'm tracking the progress of this issue in #4082 and #4083 - please keep posted for a fix here.

[2022-01-28 18:30] cdkini commented on #4084
@Godoy would you mind letting me know how you're installing this (pip/conda/etc)?

[2022-01-28 22:45] dammyai commented on #4080
Thank you so much. This will help our team a lot!!

Thanks,
Dammy

On Fri, Jan 28, 2022 at 11:48 AM Joshua Stauffer ***@***.***>
wrote:

[2022-01-29 06:16] shaunc commented on #1942
I'm curious if any community users have taken @eugmandel's suggestion and extended g-e to xarray datasets?

[2022-01-29 13:18] cdkini commented on #4084
As this was resolved in the above PR, I'm going to go ahead and close this down - please let us know if you run into any similar issues!

[2022-01-29 13:18] #4084 closed, assigned to nobody

[2022-01-31 09:44] Akselkv commented on #4037
Hi @joshua-stauffer, I updated to the latest release and followed your instructions, now it's working without the error. Thanks :)

[2022-01-31 18:42] Faith-des commented on #3655
I have the same issue.
Adding force_reuse_spark_context or spark_config not helping.
Do somebody have updates on this problem?
[code]

[2022-01-31 18:55] joshua-stauffer commented on #3937
Hi @TiansuYu, I'm going to close this issue. Hopefully this helped to resolve your issue, but in case you're still running into problems, feel free to reopen or reach out on Slack. thanks!

[2022-01-31 18:55] #3937 closed, assigned to nobody

[2022-02-01 00:54] joshua-stauffer commented on #4037
@Akselkv glad to hear it! We've seen this misconfiguration occur a couple of times recently, so I was wondering two things:
- did this exact config work with a past version of GE? Because I wouldn't have expected that config to work with 0.13.35, either, and if it does, it would be helpful to know!
- do you remember which docs you used to write that config in the first place? Just wondering if the

[2022-02-01 11:02] TiansuYu commented on #3937
Thx a lot Joschua, for pointing me on the right direction.

[2022-02-01 11:40] Hugoberry commented on #3186
I went with the workaround of creating a `dbo` view of the other table and referencing it without the schema in my expectation.

[2022-02-01 15:33] bonfab opened #4106 "Install great-expectations 0.14.4 on google composer environment composer-2.0.2-airflow-2.1.4"
When installing packages on an composer-2.0.2-airflow-2.1.4 environment with  `gcloud composer environments update great-expectations-env --location europe-west1 --update-pypi-packages-from-file requirements.txt` a dependency conflict occurs:
`black 22.1.0 has requirement click>=8.0.0, but you have click 7.1.2.`

My requirements.txt file contains:
[code]
The logs:
[log.txt](https://github.com/grea

[2022-02-01 16:29] #4062 closed, assigned to nobody

[2022-02-01 17:38] Shinnnyshinshin commented on #4028
Hi @sushrut9898 thank you for bringing this up.  The issue seems to be rising from GE creating a permanent table whenever we create an `SqlAlchemyBatchData` object, which happens whenever we create a `Batch` from `BatchSpec`. This means a new permanent table is created anytime we create a `Validator`, and also anytime we run a `Checkpoint` (which can result in many many tables)

We've created a PR

[2022-02-02 00:07] joshua-stauffer commented on #4050
hey @samLozier, we're not aware of issues on other data connectors, but if you're able to test for that, of course that would be great. If we end up going the route of a blanket rule, there may be some cases for categorical data with high amounts of distinct values, so would probably be best to keep the number around at least 10,000.

In response to your last question, no, the profiler doesn't adj

[2022-02-02 05:33] madmaxlax commented on #2577
@eugmandel @ZeMirella
I am having this issue as well,
I am trying to set up an in-memory context, on Spark (on azure synapse)
and cant get any of the context adding to work because this error comes up
`IllegalStateException: Promise already completed`

i see from
there is a new parameter force_reuse_spark_context that may help with this, but adding that to the execution_engine config did not help

[2022-02-02 10:26] sdebruyn opened #4112 "Clarify usage with fsspec-based filesystems"
**Is your feature request related to a problem? Please describe.**
With Pandas, Dask, PyArrow and more I can connect to fsspec-based filesystems to load my data. My data is stored as partitioned parquet on Azure Data Lake Storage gen2 and with Pandas I can load it like this:

[code]

The code above uses the `adlfs` package, which is an implementation of fsspec for Azure. I wouldn't even need the c

[2022-02-02 12:08] namanchawla commented on #4028
Hello @Shinnnyshinshin thank you, the above suggested workaround works.

[2022-02-02 13:27] jruokola opened #4113 "Unable to install GE on Cloud Composer cluster"
Version conflicts with the newest GE version and cloud composer 2.0.2 airflow 2.1.4
[code]
apache-beam installation requires click < 8.0.0 and black>=8.0.0
Tried installing the following
pybigquery>=0.10.2
great-expectations>=0.14.4

[2022-02-02 17:10] kenwade4 commented on #4112
Hi @sdebruyn! Thanks for bringing this to our attention. We will discuss internally if we can prioritize this. In the mean time, if you are looking to make a contribution, we would be happy to help.

[2022-02-02 17:11] #4113 closed, assigned to nobody

[2022-02-02 17:11] kenwade4 commented on #4113
Closing since this appears to be a duplicate of https://github.com/great-expectations/great_expectations/issues/4106

[2022-02-02 17:15] kenwade4 commented on #4106
Hi @bonfab and @jruokola! Thanks for bringing this to our attention. I don't think this is a cloud composer issue, but an incompatibility between great expectation and apache-beam. We will discuss internally and update this ticket.

[2022-02-02 17:20] sdebruyn commented on #4112
hi @kenwade4 I am quite sure that it's already possible today since there seems to be a way to pass the arguments through `reader_options`. I just don't clearly see what this would look like in the YAML.

[2022-02-02 18:04] davideromano opened #4115 "Performance degradation using GE v3 API with PySpark on Cluster EMR"
**Describe the bug**

Passing from GE v2 API to GE v3 API, called with SparkEngine and run on Cluster EMR, I noticed performance degradation.

With GE v2 API I executed the command `context.run_validation_operator()`  and with GE v3 API I execute the command `context.run_checkpoint()`.
I am still using Spark Engine, but with GE v3 I started to use `RuntimeBatchRequest` .
**The same suite, on the s

[2022-02-02 18:15] #4040 closed, assigned to nobody

[2022-02-02 19:56] joshua-stauffer commented on #4051
Hi @john-schwegler-vectorsolutions -- we're in the middle of some work on the rule-based profiler, and it looks like this will be in scope for the work we have planned. I'll forward this feedback to the team that will work on the feature, and will update this issue when the work is merged.

[2022-02-02 20:01] john-schwegler-vectorsolutions commented on #4051
Hi Joshua,

Thanks so much for the feedback!  This would be really helpful for some of
our planned use cases.

On Wed, Feb 2, 2022 at 2:56 PM Joshua Stauffer ***@***.***>
wrote:

[2022-02-03 06:12] jruokola commented on #4106
Some updates:

Installing pybigquery>=0.10.2 results in no errors but black requires click >=8.0.0 and flask 1.1.4 has requirement click<8.0,>=5.1
That is most likely the root cause of the conflict

[2022-02-03 06:54] jruokola commented on #4106
Tried the installation on composer-2.0.2-airflow-2.0.2 and got pybigquery installed but installing great-expectations results in following `Failed to install PyPI packages. rich 9.2.0 has requirement typing-extensions<4.0.0,>=3.7.4, but you have typing-extensions 4.0.1.
`
Downgrading typing-extensions results to `Failed to install PyPI packages. apache-beam 2.32.0 has requirement typing-extensions

[2022-02-03 06:54] miike commented on #3796
Having hit this issue myself I believe the problem occurs on Linux when running with BigQuery and specific versions of SQL Alchemy and expectations that use value_sets (e.g., `expect_column_values_to_be_in_set`). We fixed this by explicitly pinning SQL Alchemy to `SQLAlchemy==1.4.25`

[2022-02-03 17:00] jobevers opened #4119 "Please don't turn on DeprecationWarnings"
https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/expectations/metrics/meta_metric_provider.py#L27

Turning on DeprecationWarnings like this overrides any settings we already have.

Our current workaround is:
[code]

[2022-02-03 17:17] shpolina commented on #3506
@austiezr I had a chance to try it again and the issue is still reproducible on latest 0.13

I just used an expectation suite with a single expectation

This fails:
[code]

This works:
[code]

[2022-02-03 18:12] #4022 closed, assigned to nobody

[2022-02-03 19:04] taylorfturner commented on #4069
Glad to do it, @joshua-stauffer, and sounds good on the update. I just updated paths locally so not a blocker for me to get things running and make progress.

[2022-02-04 02:28] Shinnnyshinshin commented on #4030
Hi @houqi2018 thank you for bringing this up. You are using a `ConfiguredAssetSqlDataConnector`, which currently does not support sampling and splitting, so the lack of speed gain may be from the splitting and sampling directive not being recognized / executed. This a known bug that we are working on resolving.

The [documentation on splitting and sampling](https://docs.greatexpectations.io/docs/g

[2022-02-04 10:11] derek-hk commented on #3699
Hi @austiezr
As far as I know, passing a spark dataframe into value_set and edit the return directly doesn't work.
So let me first share the performance of my approach vs the current approach.

**Methodology:**

1. Declare a dataframe called "column", which contains data with 248678 rows to be validated.
2. Declare the value_set for the testing, we have product_key, store_key, card_key and member_

[2022-02-04 14:46] dtomlinson91 commented on #4106
I came across this this week on `composer-1.17.9-airflow-2.1.4`.

I'm not sure what can be done on GE side (or if anything should be done) as the incompatibility comes from the Composer base images pre-installing python dependencies.

Installing packages globally in Cloud Composer is messy, even if you get it to work the next time you upgrade the base image you'll have to uninstall anything extra

[2022-02-04 16:48] kenwade4 commented on #4115
Hi @davideromano thanks for bringing this to our attention. We will review internally and be in touch, hopefully within a few weeks.

[2022-02-04 16:59] kenwade4 commented on #4119
Hi @jobevers and @dtomlinson91, this is unfortunate that this is overriding your project level settings. We will look into more consistent usage of logger methods and replacing use of the warnings module. We will be in touch.

[2022-02-04 17:34] kenwade4 commented on #4112
OK @sdebruyn, in the future, we will be putting some docs together that better explain the reader options and using them with a yaml config for various backends. In the meantime, anything you can pass to the `read_parquet` method, you should be able to pass to `reader_options`. While this link is for Spark, it should work for Pandas https://docs.greatexpectations.io/docs/guides/connecting_to_your_

[2022-02-04 18:54] denimalpaca opened #4128 "GreatExpectationsOperator Performance Issue"
**Is your feature request related to a problem? Please describe.**
The `GreatExpectationsOperator` for Airflow currently instantiates a DataContext in the `__init__()` method, which gets run every time the task is parsed (which is frequently), slowing down the DAG it is a part of.

**Describe the solution you'd like**
Move instantiation of DataContext and Checkpoint to the `execute()` method of th

[2022-02-04 18:57] talagluck commented on #1969
Hi all! Given the work that @imamolp has done on this, I'm going to close this for now. I recognize that Teradata is not yet fully supported, but I think it will be more productive to raise specific issues with Teradata as they arise. If anyone feels differently, feel free to re-open this with additional context. We likely will not be able to prioritize it internally in the near-term, but are happ

[2022-02-04 18:57] #1969 closed, assigned to nobody

[2022-02-04 19:53] denimalpaca commented on #4128
Opened issue in wrong project.

[2022-02-04 19:53] #4128 closed, assigned to nobody

[2022-02-05 11:56] mrkoloev commented on #3925
@Hugoberry wow, it works with mssql well. 👍
However there is a problem with validationstore in clickhouse. But anyway thanks!

[2022-02-05 11:56] #3925 closed, assigned to nobody

[2022-02-06 17:13] vetedde commented on #4069
Hi. I want take it.
Also I will update code from python2.x to python 3.x
For example, print json.dumps(titanic_df.get_expectation_suite(), indent=2) => print(json.dumps(titanic_df.get_expectation_suite().to_dict(), indent=2))

Or leave as is?

[2022-02-07 03:56] jdimatteo commented on #3394
@AFineDayFor Sorry I do not understand this documentation. Can you please give a working example?

I added a complete example [here](https://github.com/jdimatteo/great_expectations/tree/issue_3394/issue_3394_example) with a few files. To create a sqlite db used in this example, please first run [create_sqlite_db.py](https://github.com/jdimatteo/great_expectations/blob/issue_3394/issue_3394_example

[2022-02-07 04:00] jdimatteo commented on #3394
@AFineDayFor Sorry for the delay in my response and thank you for looking into this!

[2022-02-08 22:09] AFineDayFor commented on #3394
What I'd meant with batch_spec_passthrough would be like the example ["Here is a Runtime Batch Request using a path"](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/how_to_create_a_batch_of_data_from_an_in_memory_spark_or_pandas_dataframe/).

You should be able to pass options for reading your datasource. The particular documentation for valid options would be for the module

[2022-02-08 22:52] AFineDayFor commented on #3394
[code]

[2022-02-09 00:18] jdimatteo commented on #3394
@AFineDayFor I tried your example and [checked in the modified code here](https://github.com/jdimatteo/great_expectations/tree/issue_3394_with_batch_spec_passthrough/issue_3394_example). In my testing, it does not work.

When I run the code, this is the output, and it is missing the [echo behavior](https://docs.sqlalchemy.org/en/14/core/engines.html#sqlalchemy.create_engine.params.echo):

[code]

[2022-02-09 08:48] AvdN opened #4152 "Documentation using deprecated function of ruamel.yaml"
https://github.com/great-expectations/great_expectations/blob/341a9a5f238dc2c05be7c2b3c3cc4e42440230c5/tests/integration/docusaurus/connecting_to_your_data/database/snowflake_python_example.py#L42

I came across the line above, through a question on stack-overflow ( https://stackoverflow.com/questions/71029745/unable-to-initialize-snowflake-data-source/71045925#71045925 ) which was tagged with rua

[2022-02-09 08:56] AvdN opened #4153 "YAML is not YML, so use the recommended extension."
The YML file format is a little used XML derivative (and older than YAML).

You should use `.yaml` for files containing YAML documents when possible according to the [FAQ on yaml.org](http://yaml.org/faq.html).
You should use `.yaml` throughout for your own files, and for those programs that support the recommended extension (and unfortunately there are some dinosaurs).
But, e.g in the root direct

[2022-02-09 11:05] vipmaha1 opened #4154 "Configuring an Expectation/Validations store to use Amazon S3"
**Describe the bug**
I referred to Great-expectations documentations [how_to_configure_an_expectation_store_in_amazon_s3](https://docs.greatexpectations.io/docs/guides/setup/configuring_metadata_stores/how_to_configure_an_expectation_store_in_amazon_s3) , I have manually uploaded the expectation json to MinIO bucket named as "dqa" [MinIO](https://play.min.io:9443/buckets/dqa/browse/ZXhwZWN0YXRpb25

[2022-02-09 16:39] austiezr commented on #4152
Hey @AvdN ! Thank you for reaching out about this; we'd love to work with you on a contribution here, but we need to have an internal conversation around legacy support here before moving forward. We'll review internally and get back to you!

[2022-02-09 16:42] austiezr commented on #4153
Hey @AvdN ! Thanks for surfacing this. We'll review this and adjust as necessary.

[2022-02-09 16:46] austiezr commented on #4154
Hey @vipmaha1 ! Thank you for surfacing this issue. We currently don't have any direct support for MinIO; if you're able to solve this we would be happy to offer guidance and support through the contribution process but we won't be able to take this on internally at this time.

[2022-02-09 17:08] austiezr commented on #3903
Hey @carlsonp ! We currently have a lot of motion around Rule-Based Profilers. If you happen to take a look at that and see a place to contribute, we would love to work through a contribution with you.

[2022-02-09 17:13] austiezr commented on #3979
Hey @SSchotten ! Thanks for surfacing this. We're reviewing internally and will be in touch.

[2022-02-09 20:27] AFineDayFor commented on #3394
Howdy @jdimatteo.
This may take more work on our end and I'll bring it up with the team. I apologize for any guff.

[2022-02-09 21:17] jdimatteo commented on #3394
Thank you @AFineDayFor for looking into this!

[2022-02-09 22:44] #4036 closed, assigned to nobody

[2022-02-10 03:58] hy951221 opened #4168 "OperationalError when running Checkpoint with MySQL 5.7.19"
**Describe the bug**
I am new to the project. I was able to go through the tutorials without problems until I tried to run checkpoint with my data asset  from MySQL database, it prompted the following error:

`OperationalError: (pymysql.err.OperationalError) (1787, 'Statement violates GTID consistency: CREATE TEMPORARY TABLE and DROP TEMPORARY TABLE can only be executed outside transactional conte

[2022-02-10 17:48] jdimatteo opened #4170 "[Feature] Optionally Deleting Unexpected Rows"
**Is your feature request related to a problem? Please describe.**

For some kinds of validation, we want to delete rows that fail to meet expectations. For example, a workflow may be to:
1) copy a snapshot of the data,
2) run validations on the copy,
3) produce a Data Docs report of all the failed expectations,
4) delete rows from the copy that fail expectations.

**Describe the solution you'd li

[2022-02-10 18:55] AFineDayFor commented on #4034
Closed with #4164 merge.

[2022-02-10 18:55] #4034 closed, assigned to nobody

[2022-02-10 19:16] cdkini opened #4173 "The links in the PR template redirect to the legacy docs site"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new pull request
2. Click on any hyperlink (contributor checklist, style guide, self-review, unit tests)
3. End up in the legacy docs

**Expected behavior**
A clear and concise description of what you expected to happen.

I'm redirected to the new Docusaurus site

[2022-02-10 19:23] itroulli commented on #4106
You could leverage `KubernetesPodOperator` to run this task on a separate node-pool (consisted of more powerful nodes) that can also scale to 0.

[2022-02-10 19:54] Shinnnyshinshin commented on #4028
@namanchawla the latest release of GE `https://pypi.org/project/great-expectations/0.14.6/` now includes the change where the default behavior of GE to not create a permanent table for `awsathena`.  Glad to hear the workaround works for you, and glad to share that you wont have to do it going forward :)

[2022-02-10 19:54] #4028 closed, assigned to nobody

[2022-02-10 20:06] #3814 closed, assigned to nobody

[2022-02-10 21:14] AFineDayFor commented on #2872
Howdy @utkarshshukla2912; we have a merged PR for this, it's resolved with #4103.
The fix provided is for v3, this isn't something we're prioritising in v2.

[2022-02-10 21:14] #2872 closed, assigned to nobody

[2022-02-10 21:15] AFineDayFor commented on #2734
Closing as it appears to be for v2;if it's a contribution you'd be keen on submitting, or it appears to still be an issue in v3 feel free to re-open this issue.

[2022-02-10 21:15] #2734 closed, assigned to nobody

[2022-02-10 21:20] AFineDayFor commented on #2674
Closing and connecting with 3917.

[2022-02-10 21:20] #2674 closed, assigned to nobody

[2022-02-10 21:23] AFineDayFor commented on #3917
Bunching this up with #2674.

[2022-02-10 21:26] AFineDayFor commented on #2623
Howdy @dcoueron,
We're going to close this because it appears to be an issue limited to v2; however, if it's in v3 please feel free to re-open this issue.
If it's something you'd like to address, we'd be glad to accept the contribution

[2022-02-10 21:26] #2623 closed, assigned to nobody

[2022-02-10 21:29] austiezr commented on #1656
Hey @spbail @alfredo-f @psychuil thanks for surfacing this and your further discussion; we believe this to be a V2 issue that may now be resolved, so we're going to close this out for now. Feel free to re-open if you feel this is still an issue.

[2022-02-10 21:29] #1656 closed, assigned to nobody

[2022-02-10 21:39] #2988 closed, assigned to nobody

[2022-02-10 21:42] #3149 closed, assigned to nobody

[2022-02-10 21:43] #3202 closed, assigned to nobody

[2022-02-10 21:47] AFineDayFor commented on #3208
Closing, resolved by #3669

[2022-02-10 21:47] #3208 closed, assigned to nobody

[2022-02-10 21:48] AFineDayFor commented on #3261
Closing as work on v2 is not being prioritized internally.

[2022-02-10 21:48] #3261 closed, assigned to Shinnnyshinshin

[2022-02-10 21:52] #3164 closed, assigned to nobody

[2022-02-10 21:55] jdimatteo opened #4181 "[Feature] Optionally Expose SQL Query to Show Unexpected Rows"
**Is your feature request related to a problem? Please describe.**

Sometimes it would be useful to have Great Expectations expose the SQL query so that a user can more quickly follow up on unexpected rows of data.

For some kinds of validation, a typical workflow is:
1) run Great Expectations to produce a Data Docs report
2) investigate expectation failures by querying the tables to better unders

[2022-02-10 21:55] AFineDayFor commented on #3379
Closing, as it is merged with #3386

[2022-02-10 21:55] #3379 closed, assigned to nobody

[2022-02-10 22:36] dtomlinson91 commented on #4106
@itroulli Can that be used in a Composer 1 environment? I thought it was for v2 but I could be mistaken.

[2022-02-11 02:41] anilkulkarni87 commented on #4071
The doc although says beta mode , it should explicitly say that this doesnt work for column level metrics and works for the statistics. Because of `"TypeError: Object of type int64 is not JSON serializable"`

[2022-02-11 07:28] jdimatteo opened #4185 "[Feature] Optionally Show (Partial) Unexpected Rows in Data Docs"
**Is your feature request related to a problem? Please describe.**

Sometimes it would be useful for Great Expectations to show full rows of unexpected data so that a user has enough context to more quickly follow up on fixing the data problem.

For some kinds of validation, a typical workflow is:
1) run Great Expectations to produce a Data Docs report
2) investigate expectation failures by queryi

[2022-02-11 08:09] jdimatteo opened #4186 "[Feature] Optionally Distinguish Between Different Failure Severity Levels"
**Is your feature request related to a problem? Please describe.**

Sometimes some expectation failures are more severe than others, and analysts would like to be alerted differently for more severe errors so that they can follow up on more severe errors sooner (and maybe follow up on less severe errors later at a more convenient time). Currently expectations are either passing or failed, with no

[2022-02-11 10:24] vgcshub commented on #3925
Thanks @Hugoberry It is works for mssql

[2022-02-11 16:51] austiezr commented on #4170
Hey @jdimatteo ! Thanks for reaching out with these; a lot of super interesting functionality here. We'll review internally over the next week and continue the conversation.

[2022-02-11 16:52] austiezr commented on #4181
Hey @jdimatteo ! Thanks for reaching out with these; a lot of super interesting functionality here. We'll review internally over the next week and continue the conversation.

[2022-02-11 16:52] austiezr commented on #4185
Hey @jdimatteo ! Thanks for reaching out with these; a lot of super interesting functionality here. We'll review internally over the next week and continue the conversation.

[2022-02-11 16:52] austiezr commented on #4186
Hey @jdimatteo ! Thanks for reaching out with these; a lot of super interesting functionality here. We'll review internally over the next week and continue the conversation.

[2022-02-11 17:39] masonhopkins opened #4188 "No "next" button in tutorial intro"
**Describe the bug**
Users cannot proceed through the [getting started tutorial](https://docs.greatexpectations.io/docs/tutorials/getting_started/intro) due to the "Next" button missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.greatexpectations.io/docs/tutorials/getting_started/intro
2. See that there is a "Next" button mentioned, but nothing found and no ability t

[2022-02-11 17:50] austiezr commented on #4168
Hey @hy951221 ! Thanks for reaching out about this. MySQL doesn't allow the creation of temp tables in this context until v8.0.13; see [their docs here](https://dev.mysql.com/blog-archive/temporary-tables-are-now-allowed-in-transactions-when-gtids-are-enabled/).

If you aren't able to come up to at least MySQL 8.0.13, you should also be able to pass `create_temp_table` as `False` as part of a `bat

[2022-02-11 17:56] austiezr commented on #4188
Hey @masonhopkins ! Thanks for surfacing this; it looks like you've found a link pointing to a deprecated version of our Getting Started tutorial!

The most current version of our tutorial [can be found here](https://docs.greatexpectations.io/docs/tutorials/getting_started/tutorial_overview/).

Could you detail where you reached the older tutorial from?

[2022-02-11 22:38] masonhopkins commented on #4188
@austiezr good to know, thanks. I was referred to the docs from a Medium article: https://medium.com/hashmapinc/performing-data-quality-checks-in-snowflake-part-1-a3253c982460

But the exact link that I used to get to the above tutorial was from the first prerequisite in the "How to use great expectations with airflow" documentation: https://docs.greatexpectations.io/docs/deployment_patterns/how_t

[2022-02-13 12:43] vipmaha1 commented on #4154
The issue got resolved using below store config in great_expectation.yaml:

[code]

[2022-02-13 12:43] #4154 closed, assigned to nobody

[2022-02-14 02:54] hy951221 commented on #4168
Thanks @austiezr for the quick response!

[2022-02-14 07:20] shubhamArvikarM opened #4192 ""list index out of range exception" after deleting the column from CSV for which expectations are written."
**Describe the bug**
Getting list index out of range exception after deleting the column from CSV for which
expectations are written.

**To Reproduce**
Steps to reproduce the behavior:
1. Use an automatic profiler to create expectations from CSV (use any CSV with some columns and values)
2. Create checkpoint.
3. delete one of the columns from CSV for which expectations are written
4. run the check

[2022-02-14 15:37] joshua-stauffer commented on #4080
Hi @dammyai, when I follow your steps using the demo `taxi_data` data set I'm unable to reproduce this error, both on GE 0.13.47 and latest (0.14.6). Which Expectation is causing this error? It looks like this might be due to a function being passed into the serializer: `datetime.datetime(2022, 1, 27, 10, 3, 51, 896000)`

[2022-02-14 16:48] dammyai commented on #4080
Hi @joshua-stauffer thank you for looking at this! I'm using one of the tables in our Snowflake data warehouse. I tried with multiple expectations, the failed ones return this error. One of the columns on the table is a timestamp format.

[2022-02-14 16:55] joshua-stauffer commented on #4080
@dammyai happy to look into it! could you provide me with an example of one of the expectations that is failing so I can reproduce this on my end?

[2022-02-14 16:59] dammyai commented on #4080
Sure! Here's one:
`validator.expect_column_values_to_be_unique(column='mbi_id',result_format={
       "result_format": "COMPLETE",
       "include_unexpected_rows": True
   })`

[2022-02-14 17:34] bradgwest commented on #2671
I have limited experience developing expectations, but as someone who runs production infrastructure which leverages GE, I'm quite surprised this issue has (had) zero upvotes and is not more widely referenced. It seems like an oversight _not_ to have an `interactive/development` installation and a `production/server` installation which excludes dependencies required to create expectations, i.e. is

[2022-02-14 19:13] joshua-stauffer commented on #4192
hi @shubhamArvikarM, thanks for creating this issue. I'll take a look and get back to you!

[2022-02-14 20:31] joshua-stauffer commented on #4080
Hi @dammyai, thanks for the additional context -- I wasn't able to reproduce the exact error you're seeing, but I did encounter `TypeError: Object of type datetime is not JSON serializable` when trying to use `timestamp` columns with Snowflake and GE 0.14.5 or earlier, which I expect has the same root cause. When I upgrade GE to latest (0.14.6) however, my checkpoint validates without problem, and

[2022-02-14 20:47] JeroenSchmidt commented on #2671
@twcurrie I don't have a concrete list that I can share but the comment by @bradgwest touches very well on what I mentioned earlier.

[2022-02-15 01:16] joshua-stauffer commented on #4192
hi again @shubhamArvikarM -- this does seem to be a bug, I've addressed it in PR #4200. Thanks again for raising this!

[2022-02-15 01:38] greg-meinecke opened #4202 "Granular Control Of result_format"
Currently the `result_format` parameter is limited to `BOOLEAN_ONLY|BASIC|SUMMARY|COMPLETE` with `BASIC` being the default. If I am interested in my validation returning `unexpected_index_list`, I am forced to use `result_format:COMPLETE` and all of the fields that come with it (`partial_unexpected_list`,`unexpected_list`,`partial_unexpected_index_list`,etc...). This unnecessarily increases the si

[2022-02-15 13:46] tunayokumus opened #4203 "Data Context cannot get blob files from ABS when there are regex patterns outside of groups (e.g. for redundant info)"
**Describe the bug**
Hi,
I'm using InferredAssetAzureDataConnector to connect to data in ABS. I'd like to use regex wildcards to ignore the timestamp info when grouping data assets.
When I only use regex patterns within groups, everything works fine. However, when I use patterns for the redundant info in the filename, context.get_validator method throws an error.

Note: context.test_yaml_config(ya

[2022-02-15 13:55] alkachawda commented on #4192
Hi @joshua-stauffer : The same issue exists for the other built-in expectation for checking the data type : "expect_column_values_to_be_of_type".
Is this too fixed in this PR or should a new issue be raised for the same?

[2022-02-15 16:57] joshua-stauffer commented on #4192
Thanks for flagging that as well, @alkachawda  -- I'll address it in the same PR.

[2022-02-16 01:18] dammyai commented on #4080
Hi Josh, you are right! I upgraded like you suggested and the error is gone
now. Thank you so much!!!!

On Mon, Feb 14, 2022 at 2:32 PM Joshua Stauffer ***@***.***>
wrote:

[2022-02-16 02:41] joshua-stauffer commented on #4080
great, glad to hear it!

[2022-02-16 02:43] #4080 closed, assigned to joshua-stauffer

[2022-02-16 16:17] pmariac commented on #3776
When creating a **custom parameterized Expectation** from `ExpectColumnValuesToBeInSet`, the problem is (I think) that:

On line 112 of `expect_column_values_to_be_in_set.py` the `value_set` is set to `None`:
`default_kwarg_values = {"value_set": None, "parse_strings_as_datetimes": False}`

I want to set default values (a simple country list), so, just like in the documentation I use this:
[code]

[2022-02-16 16:37] austiezr commented on #4202
Hey @greg-meinecke ! Thanks for surfacing this. We'll review this functionality internally and get back with you soon!

[2022-02-16 16:45] austiezr commented on #4203
Hey @tunayokumus ! Thanks for reaching out here; we'll begin reviewing this internally and contact you soon.

[2022-02-16 18:20] #3358 closed, assigned to nobody

[2022-02-16 19:06] AngelQZhang opened #4219 "Error: batch_data found in batch_request with GE 0.14.6"
**Describe the bug**
Hi,
I'm using SimpleCheckpoint to validate some data in Dataframe, everything works fine until we install the new GE package 0.14.6. We got this error : Error: batch_data found in batch_request -- only primitive types are allowed as Checkpoint , returned from SimpleCheckpoint statement

**To Reproduce**

    batch_request = RuntimeBatchRequest(
        datasource_name="data_qu

[2022-02-16 20:49] joshua-stauffer commented on #4192
hi @shubhamArvikarM and @alkachawda -- [PR 4200](https://github.com/great-expectations/great_expectations/pull/4200) merged today, so I expect this bug to be fixed in this week's release. I'll close this issue for now, but in case you continue to see this error, feel free to reopen.

[2022-02-16 20:49] #4192 closed, assigned to joshua-stauffer

[2022-02-16 22:43] joshua-stauffer commented on #4049
Hi @80auline, just wanted to circle back to this. We have a PR in flight to address this issue, and I'll be in touch when it's merged. Thanks for your patience!

[2022-02-16 23:10] davidvanrooij opened #4223 "SqlAlchemyQueryStore does not support connection_string"
**Describe the bug**
SqlAlchemyQueryStore does not support connection_string as credentials.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following to `great_expectation.yml`
[code]
2. Use query store in expectation
3. Stacktrace:
[code]

**Expected behavior**
Support the connection string type of autherntication to facilitate using bigquery as backend.

**Environment (please comp

[2022-02-17 02:23] viplazylmht opened #4225 "Instantiate class from config raise error when instantiate class: Checkpoint with config"
**Describe the bug**
I'm running GE on Airflow by using GreatExpectationOperator. Things work well until I upgrade GE to v 0.14.6, then I can't instantiate a runtime BaseDataContext with context Config and checkpoint Config.

I debug and found the problem is caused by instantiate_class_from_config `__init__()`.
I moved the hole code back to local Linux environment for testing but the bug still exi

[2022-02-17 14:55] alexszym commented on #2577
I'm in the same boat. I get `IllegalStateException: Promise already completed` when attempting to add a datasource to context that uses `SparkDFExecutionEngine`

Snippet for reference:

[code]

I'm also attempting this on Spark (using Synapse)

Could we get the issue reopened? Also any configuration that can be tweaked at engine definition level?

[2022-02-17 15:37] #4037 closed, assigned to nobody

[2022-02-17 17:23] joshua-stauffer commented on #4219
Hi @AngelQZhang, thanks for raising this issue! What you're seeing is expected behavior -- Dataframes should be passed into a DataContext's `run_checkpoint` method:

[code]

Closing this for now, but if you continue to run into issues feel free to reopen.

[2022-02-17 17:23] #4219 closed, assigned to nobody

[2022-02-17 19:21] joshua-stauffer commented on #4049
Hi @80auline, this issue has been addressed in [PR 4182](https://github.com/great-expectations/great_expectations/pull/4182), and will be available in the next release. Closing this for now, but please feel free to reopen if the issue persists.

[2022-02-17 19:21] #4049 closed, assigned to joshua-stauffer

[2022-02-17 22:17] davidvanrooij commented on #4223
I created a PR for this issue: https://github.com/great-expectations/great_expectations/pull/4224

[2022-02-18 07:26] zhaokaikai666 commented on #3648
Any updates on this issue . facing the same issue

[2022-02-18 10:10] alexszym commented on #2577
For anyone else that might experience this issue, after having a look at the code and playing around with the parameters, the following workaround worked for me:

[code]

I think there is likely a bug somewhere in this version (0.14.6) in how the existing spark context is retrieved.

[2022-02-18 12:42] SSchotten commented on #3979
Just to add to the above: I've recently learned that we'll be migrating to Azure soon - so my issue still stands, but should probably be read as cloud agnostic (instead of specifically mentioning S3).

[2022-02-21 16:02] RoyalTS opened #4243 "Uncaught exception on missing SQLAlchemy dialect"
**Describe the bug**
Upon trying to set up a new expectations suite for a Snowflake table I get an uncaught exception

**To Reproduce**
Steps to reproduce the behavior:
1. Run `great_expectations --v3-api suite new --interactive --profile`
2. run the cell
[code]
3. get error message
[code]

**Expected behavior**
I do not have the bigquery sqlalchemy dialect installed. This should just pass.

**Env

[2022-02-21 17:05] colibri17 opened #4245 "Unable to add checkpoint to context with batch_spec_passthrough"
I am trying to add a checkpoint to a context. The batch of data refers to a csv file stored on s3 having a semicolumn as separator. I am loading the batch using PySpark as connector.

First I defined a batch request to retrieve data. [Here][1] is recommended to use *batch_spec_passthrough* to specify the separator:

    batch_request = {
        "datasource_name": "my_datasource",
        "data_co

[2022-02-21 23:48] samLozier commented on #4243
I also have this issue. same system config, I'm using snowflake.

[2022-02-21 23:54] samLozier commented on #4243
you could probably resolve it with a check:
[code]
but it raises bigger questions about the test-suite matrix that probably need to be addressed.

[2022-02-22 09:29] RoyalTS commented on #4050
Just stumbled on the same thing while taking GE for a spin. Hitting it on while trying to create my first suite using the profiler makes for a pretty bad first impression.

[2022-02-22 14:19] joshua-stauffer commented on #4243
hi @RoyalTS and @samLozier , thanks for raising this -- this is related to a bigquery update we pushed in last week's release, I have a PR in progress now to address.

[2022-02-22 18:47] kenwade4 commented on #2577
@madmaxlax @alexszym what version of Great Expectations are you using? The original issue was for 0.12.1 (very old and using `batch_kwargs`)

Can you share any steps to reproduce? Thanks

[2022-02-22 18:54] madmaxlax commented on #2577
@kenwade4

I didn't specify a version so it should have been just grabbing whatever is latest for GE

I was running it in pyspark notebook in Azure Synapse, trying to follow the setup instructing in

https://docs.greatexpectations.io/docs/deployment_patterns/how_to_instantiate_a_data_context_hosted_environments
Was also trying some instructions from the Databricks walkthrough as well

https://docs

[2022-02-22 19:30] alexszym commented on #2577
@kenwade4 0.14.6 in my case

[2022-02-22 19:34] samLozier commented on #4050
@joshua-stauffer I went to take a look at this today, starting by simply trying to implement your suggestion. Before I got into the sampler I wanted to clarify the relationship between the limit argument in a batch_request vs the sampler thing you described.

eg:
[code]
does a batch request limit of 1000 mean that it's only returning 1000 rows, that it's iterating through the table 1000 at a time,

[2022-02-22 21:20] AFineDayFor commented on #4245
Howdy @colibri17, thanks for reaching out 🎉
[spark_config](https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/datasource/sparkdf_datasource.py#L78) should be passable in the datasource configuration:

[code]

If you pass a DataFrame: `df = spark.read.csv(file_path, sep =';')`

[2022-02-23 15:47] john-schwegler-vectorsolutions opened #4262 "UUID field in PostgreSQL data table causes fatal exception when building a suite"
**Describe the bug**
Occurs when running a profiler against a Postgres table that has a UUID field.  Attempting to build the suite caused a fatal exception:
[code]

- The GE code appears to be explicitly deciding which JSON value types can be serialized.
- Changing the column data type to varchar allows this to run correctly, no exception caused

**To Reproduce**
Steps to reproduce the behavior:
1

[2022-02-23 17:54] #4223 closed, assigned to nobody

[2022-02-23 20:23] li-songlu opened #4265 "cannot import name 'Iterable' from 'collections'"
**Describe the bug**
ImportError: cannot import name 'Iterable' from 'collections'

**To Reproduce**
Steps to reproduce the behavior:
1. conda install -c conda-forge great-expectations
2. import great_expectations as ge
3. See error: cannot import name 'Iterable' from 'collections'

**Environment (please complete the following information):**
 - Operating System:  MacOS
 - Great Expectations Versi

[2022-02-23 22:51] bingwenhe opened #4267 "Job aborted due to stage failure: Total size of serialized results bigger than spark.driver.maxResultSize"
First thanks for the great work with Great Expectations. We are using it to validate/profile some large data in our project. And we start to run into the following problem:

`Job aborted due to stage failure: Total size of serialized results of 12 tasks (4.2 GiB) is bigger than spark.driver.maxResultSize 4.0 GiB.`

As can be seen in the attached screenshot, it happened at line 238 in `core/util.py

[2022-02-24 10:25] dxnnymurphy opened #4272 "expect_table_row_count_to_equal_other_table does not work with SparkDFDataset"
**Is your feature request related to a problem? Please describe.**
Currently unable to perform this expectation on spark datasets.

**Describe the solution you'd like**
Add functionality to execute this expectation on this type of dataset.

**Additional context**
"exception_message": "'SparkDFDataset' object has no attribute 'expect_table_row_count_to_equal_other_table'"

[2022-02-24 17:15] AFineDayFor commented on #4265
Howdy @li-songlu, thanks for reaching out 🎉

At this time we do not support 3.10, though do provide support for  3.6 to 3.9 at this time. I'll close this for now, but if you have any issue launching on 3.6 - 3.9 can you re-open this please.

[2022-02-24 17:15] #4265 closed, assigned to nobody

[2022-02-24 21:40] AFineDayFor commented on #4262
Howdy @john-schwegler-vectorsolutions,
Would you be able to share your datasource configuration and a bit more context around this please?

I'm not able to replicate this when making a csv datasource, and running against it.

For reference my datasource looks like this:

[code]
[code]

[code]

[code]

[2022-02-24 21:59] joshua-stauffer commented on #4050
Hi @samLozier -- yes, that doc is the best one to get started with sampling/splitting. The Batch Request `limit` param actually limits how many Batches could be returned. We're updating the docs on Batches and Batch Requests now, and I'll check to make sure that is clear, since its function isn't immediately intuitive (at least, wasn't for me!)

[2022-02-24 22:37] cameronezell opened #4277 "Splitting tables not working in multiple db backends"
**Describe the bug**
Building a data context following [this guide](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/advanced/how_to_configure_a_dataconnector_for_splitting_and_sampling_tables_in_sql/) I ran into errors when trying to split by date with Snowflake and Athena database connections:

`sqlalchemy.exc.OperationalError: (pyathena.error.OperationalError) SYNTAX_ERROR:

[2022-02-25 06:39] jeffkpayne commented on #4277
Seeing the same behavior with BigQuery:
[code]

[2022-02-25 06:46] ngenovictor commented on #4024
Same here. Following https://docs.greatexpectations.io/docs/tutorials/getting_started/tutorial_create_expectations with my own dataset using option 3 raises an IndexError

Here is the traceback
[code]

Using version 0.14.8

Was able to reproduce this on a new python environment with all new installation  of great_expectations. These are versions of dependencies
[code]

[2022-02-25 16:36] AFineDayFor commented on #4277
Howdy @cameronezell and @jeffkpayne, I greatly appreciate the context here. We'll bring it up with the team. Thank you.

[2022-02-25 16:41] jdimatteo commented on #4185
This relates to [Support to include ID/PK in validation result for each row that failed an expectations #3195](https://github.com/great-expectations/great_expectations/issues/3195)

[2022-02-25 16:42] AFineDayFor commented on #4272
Howdy @dxnnymurphy, thanks for reaching out 🎉

`expect_table_row_count_to_equal_other_table` is only [valid for SQL](https://docs.greatexpectations.io/docs/reference/expectations/implemented_expectations); as an aside SparkDFDataset would be v2, and we encourage you to try to move to v3.

[2022-02-25 16:42] #4272 closed, assigned to nobody

[2022-02-25 16:46] jeffkpayne commented on #4277
@AFineDayFor, thanks. This kind of support for more dynamic data assets is critical for real world data pipeline validation.

Btw, I've been meaning to start a conversation around better support for query based data assets without having to resort to the use of a runtime batch request. Should I bring that up in slack or as a discussion in github? Thanks!

[2022-02-25 16:48] AFineDayFor commented on #4267
Howdy @bingwenhe, thank you for reaching out and informing us 🎉
We'll bring this up with the team.

[2022-02-25 18:07] #4030 closed, assigned to nobody

[2022-02-26 05:21] afeld opened #4290 "Generated config file links to old docs"
**Describe the bug**
The generated `great_expectations.yml` file contains URLs that point to the legacy (V2) documentation. You can see them in the [template generator](https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/data_context/templates.py).

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the [tutorial](https://docs.greatexpectations.io/docs

[2022-02-27 13:22] icapetti commented on #3975
I would like to reinforce that this functionality would be very useful for my teams work as well. We have highly nested data and need to make validations from it. We started to evaluate the use of GE and ran into this limitation. Possibly we adopt it for our tabular data, but it would be very useful if we could also adopt it for nested data.

[2022-02-28 16:59] kenwade4 commented on #4290
@afeld thanks for pointing out the reference to old docs. We will apply a fix soon

[2022-02-28 17:07] kenwade4 commented on #4243
@RoyalTS and @samLozier We have mostly addressed this issue in a PR that was merged late last week https://github.com/great-expectations/great_expectations/pull/4249

There is another spot where this could come up that is addressed in https://github.com/great-expectations/great_expectations/pull/4273 (has not merged yet).

[2022-02-28 18:03] sanmati7 commented on #3195
any updates on this?

[2022-02-28 21:13] ghost opened #4295 "Error getting partial unexpected counts using expect_compound_columns_to_be_unique"
**Describe the bug**
When running the expectation `expect_compound_columns_to_be_unique`, failed executions save the string `"partial_exception_counts requires a hashable type"` to `partial_unexpected_counts` key in the validation results json. This causes a failure in the docs building step as a string does not have the get method. This issue might  be related to issue https://github.com/great-ex

[2022-02-28 21:15] cameronezell opened #4296 "Operators not working with URNs"
**Describe the bug**
When calling a URN as an evaluation parameter, the code is correctly parsing the URN to get the value. But when an operator is applied, great_expectations returns the error `Error while evaluating evaluation parameter expression: could not convert string to float`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a query store such as
[code]
2. Create an expectation

[2022-02-28 21:53] anthonyburdi commented on #4051
Hi @john-schwegler-vectorsolutions! Thank you for the suggestions, and I'm happy to report that we now have an implementation merged into our `develop` branch that will be released in the next scheduled GE release, with documentation to follow in an upcoming release. In the meantime if you'd like to try it out take a look at https://github.com/great-expectations/great_expectations/pull/4269, speci

[2022-02-28 21:55] #4051 closed, assigned to nobody

[2022-03-01 13:38] john-schwegler-vectorsolutions commented on #4051
That's terrific!  I'll definitely take a look at it.

[2022-03-01 14:13] 80auline opened #4303 "Edit rules: Jupyter Notebook crashes when too many rules"
**Describe the bug**
Edit rules: Jupyter Notebook crashes when too many rules.

I have a large table with ~50 columns. I generated rules using the historic data, it created ~650 rules.
When I try to open the Jupyter Notebook to edit the rules, it does not respond

**To Reproduce**
Steps to reproduce the behavior:
1. `great_expectations --v3-api suite edit my-table`
2. Jupyter notebook should be lo

[2022-03-01 14:13] john-schwegler-vectorsolutions commented on #4051
This looks like a great, really complete implementation.  I'm really looking forward to using it.  Thanks for getting this into development so quickly!

[2022-03-01 14:28] john-schwegler-vectorsolutions commented on #4262
Ah, I believe this would not happen for a CSV data source, because the columns are not strongly typed.  The problem is caused by the data type, not the content.  In PostgreSQL, when I changed the type from UUID to varchar, but left the values as they were, the problem went away. You probably need to use a SQL database that has the UUID type.

Here's some sample PG SQL code to test against.  Use th

[2022-03-01 15:11] akerone opened #4305 "Misleading exception catching"
**Describe the bug**
In great_expectations/data_context/store/store_backend.py, _at least_ from versions 0.14.0 to 0.14.8, line 103.

This exception tells us that there is something wrong in great_expectations.yaml, when in reality it could be anything. In our case, it was a missing requirement to the `google-cloud-storage` library from pip. Without a proper stack trace, it took us too much time t

[2022-03-01 15:24] 6B6C6D commented on #2420
Can confirm. This is still a present issue

[2022-03-02 19:17] talagluck commented on #4295
Thanks for opening this issue, @twhitaker-entrata - we will review and be in touch!

[2022-03-02 19:21] talagluck commented on #4296
Thanks for opening this, @cameronezell! I believe we've tracked this down and are working on a solution now. We will be in touch when this is resolved.

[2022-03-02 19:32] talagluck commented on #4303
Hi @80auline - it sounds like this is probably more due to system limitations than library limitations, but we will take a look and see if we can reproduce. In the meantime, a few follow-up questions:
- When you say rules, do you mean expectations?
- How much system memory do you have available when you try and run this?
- What profiler did you use that created the 650 Expectations?

As an aside,

[2022-03-02 19:35] talagluck commented on #4305
Thanks for raising this, @akerone - we will review and be in touch!

[2022-03-03 13:12] itroulli commented on #4106
@dtomlinson91 Yes, you can definitely create a different node-pool and run your KubernetesPodOperator tasks there. For this specific node pool you are able to enable the cluster autoscaler and specify a min and a max number of nodes. However, you need to apply the proper configurations so that Airflow does not deploy other tasks on this pool.

If you think that won't work very well in your case, t

[2022-03-03 16:45] nazarsh opened #4323 "Great Expectations relies on the library `snowflake-sqlalchemy` to connect to your data"
**Describe the bug**
After installing 3 recommended dependencies to add Snowflake datasource I am consistency getting `snowflake-sqlalchemy` is not installed error.

**To Reproduce**
[code]

**Expected behavior**
Snowflake datasource is successfully initialized

**Environment (please complete the following information):**
 - macos 12, Apple M1
 - great_expectations, version 0.14.8

**Additional co

[2022-03-03 17:03] talagluck commented on #4323
Hi @nazarsh - thanks for raising this! We will review and be in touch.

[2022-03-03 17:32] joshua-stauffer commented on #4060
Hi @samLozier, thanks again for raising this -- I'm going to close the issue for now, but feel free to reopen if you continue running into this.

[2022-03-03 17:32] #4060 closed, assigned to nobody

[2022-03-03 18:21] austiezr commented on #4262
Hey @john-schwegler-vectorsolutions! I'm attempting to replicate the behavior you're seeing here (creating the above `activity_test` table, profiling against it, and validating) and not encountering any issues.

I've also built a suite explicitly setting expectations on `activity_id` and not encountering any issues.

I'm wondering if there may be a specific expectation causing problems here; are y

[2022-03-03 18:49] ejohnson-amerilife opened #4324 "get_expectation_suite is not returning expectations involving the same column"
**Describe the bug**
after running `get_expectation_suite`, the resulting dictionary only contains the last expectation among a set of expectations that involve the same column and same expectation type with different inputs.

**To Reproduce**
The following is a reproduceable example:

[code]
which prints the following dictionary containing ONLY the last expectation even though I expect all 3 test

[2022-03-03 18:59] john-schwegler-vectorsolutions commented on #4262
Sure, I'll rerun it and pass the results back to you.  Thanks!

[2022-03-03 20:07] joshua-stauffer commented on #4303
Hi @80auline, thanks for raising this issue. Just wanted to chime in and say that I was able to reproduce something similar following these steps:
- create a wide and short csv (i used 72 cols, 2 rows, with arbitrary values)
- init a GE project, add a filesystem Pandas datasource
- run `great_expectations suite new` on the datasource, and use the UserConfigurableProfiler to profile the data (allow

[2022-03-03 20:36] joshua-stauffer commented on #4277
Hi @cameronezell  and @jeffkpayne, thanks for surfacing this issue. It looks like the problem is with that specific splitter (`_split_on_converted_datetime`) and our documentation of it. From what I can tell, the missing function `strftime` is exclusive to sqlite backend (and if you know of other backends where this function is natively supported, please let me know!).

Short term, I'll update our

[2022-03-03 20:37] joshua-stauffer commented on #4277
@jeffkpayne, sounds like a great candidate for github discussions, looking forward to following along!

[2022-03-03 21:41] john-schwegler-vectorsolutions commented on #4262
I've rerun and gotten the same error.  I'm attaching my code, config file, and SQL script to generate the tables I was working with.  There's also a screenshot of the error I received.
[test_package_4262.zip](https://github.com/great-expectations/great_expectations/files/8181337/test_package_4262.zip)

[2022-03-04 22:36] cameronezell opened #4339 "UserConfigurableProfiler fails against Athena database"
**Describe the bug**
Running `great_expectations suite new` and automatically generating an expectation using a profiler against an Athena database results in the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Configure `great_expectations.yml` to include an Athena data source
2. `great_expectations suite new` then choose to automatically create the suite using a profiler
3.

[2022-03-07 15:40] guidoturtu opened #4343 "`DataDoc` time take when created on `s3-bucket`"
**Describe the bug**
When the data doc site creation is moved from local to s3 bucket it takes 20 additional minutes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create python notebook to create or edit expectations.
2. Run the `simple checkpoint on `local-site`, commenting the `s3-site` config: 1 minute take. With 2 dummy validations
3. Run the `simple checkpoint on `s3-site`, commentin

[2022-03-07 16:47] talagluck commented on #4324
Hi @ejohnson-amerilife - thanks for reaching out!

Generally, within an Expectation Suite, Great Expectations does not allow more than one Expectation of a given type for a given Domain (e.g. column). If you are interested in having more than one, there are two potential approaches:
1. Splitting out the various Expectations to various Expectation Suites.
2. Using [conditional_expectations](https:/

[2022-03-07 16:47] #4324 closed, assigned to nobody

[2022-03-07 16:49] talagluck commented on #4339
Hi @cameronezell - thanks for raising! We currently don't offer fully tested support for Athena, and so this doesn't surprise me. I don't believe we have immediate plans to add support for Athena, but we are always interested in community contributions! If you are interested in contributing, please let us know if we can offer any guidance or assistance.

[2022-03-07 16:51] talagluck commented on #4343
Thanks for raising this, @guidoturtu! We will review and be in touch.

[2022-03-07 19:23] ejohnson-amerilife commented on #4324
Thank you @talagluck.
My general use case is to have an Expectation that checks for proportions of each level present in a categorical variable.

Say we have a categorical variable called "Col1" containing 3 levels: "a", "b", and "c" (reference the dataframe in my example above). Then it would be nice to have an Expectation that can check if the proportion of each level is between two numbers (low

[2022-03-07 19:47] sherrywang31 commented on #4024
Getting same error following the tutorial using version 0.14.9

[2022-03-07 19:48] cdkini commented on #4024
Hey all! Apologies for the delayed response.

I'm working to resolve this issue right now - here's the PR: https://github.com/great-expectations/great_expectations/pull/4346

Appreciate your patience 🙇🏽

[2022-03-07 21:32] ejohnson-amerilife opened #4349 "expect_table_row_count_to_be_between able to be a conditional expectation"
**Describe the solution you'd like**
I wish I could use GE to count rows after a filter has been set using [conditional expectations](https://docs.greatexpectations.io/docs/reference/expectations/conditional_expectations/)
with `expect_table_row_count_to_be_between`.
**Describe alternatives you've considered**
An alternative would be to first filter the dataframe, and then create separate expectat

[2022-03-07 21:45] ejohnson-amerilife commented on #4324
As a workaround, I was able to use conditional expectations in a hacky way to force uniqueness by filtering on a value that doesn't exist, in this case "f1", "f2", "f3". There is nothing special about those choices. Again they just need to create a filter expression that doesn't actually filter out any rows and creates uniqueness in the expression. Here is my example redone with the workaround. It

[2022-03-08 13:02] cdkini commented on #4024
@namanchawla @ngenovictor @sherrywang31 would you mind pulling the changes from our `develop` branch and trying again?

I've pushed a hotfix and it seems to work locally but I'd like to confirm that it works for you as well.

[2022-03-08 13:08] ngenovictor commented on #4024
Did `pip install git+https://github.com/great-expectations/great_expectations.git@f519011c6774694369663863ec659a5dcd09a609` from this commit https://github.com/great-expectations/great_expectations/commit/f519011c6774694369663863ec659a5dcd09a609 and a fresh start of the tutorial and everything went fine.

[2022-03-08 13:13] cdkini commented on #4024
great, thank you for confirming @ngenovictor. I'll keep this issue open for a little bit just to confirm it works with some edge cases but I'm glad to hear it's working now.

[2022-03-08 19:32] cdkini commented on #4024
I've done some additional testing and think this is probably good to close down - if you do happen to run into another issue, please let us know in Slack or in a new issue and we'll be sure to take a look.

Thanks for your patience and happy coding 🙇🏽

[2022-03-08 19:32] #4024 closed, assigned to nobody

[2022-03-08 21:04] joshua-stauffer commented on #4295
hi @twhitaker-entrata -- thanks again for surfacing this issue. We expect this to be resolved when #4336 merges, hopefully in time for this week's release.

[2022-03-08 21:48] mpolena opened #4361 "Expectation `expect_column_quantile_values_to_be_between` casts value ranges as string"
**Describe the bug**
I'm running `expect_column_quantile_values_to_be_between()` on a column with datetime values in order to check data recency for recurring data extracts in our data pipeline.

The expectation has been defined as follows:

`    batch.expect_column_quantile_values_to_be_between(
        column="StartDate",
        quantile_ranges={
            "quantiles":[.98],
            "valu

[2022-03-08 21:51] talagluck commented on #4324
Thanks for this, @ejohnson-amerilife!

In case you are interested, a custom Expectation could be a great way to solve this as well. You might be able to get a proxy for this using `expect_column_kl_divergence_to_be_less_than`, which can be used with categorical columns, though it might be somewhat heavy-weight.

It sounds like what you are describing is a sort of blend of `expect_column_proportion

[2022-03-08 22:32] sherrywang31 opened #4362 "Add All Expectations from One Existing Suite to a New Suite"
We have a list of expectation suites that are shared across many dataset. They do things such as checking `id` column is unique and no missing, check `age` column is within expected range etc. They are then added to dataset specific expectation suites. We currently add expectation from each of these shared suites one by one:
[code]

It would be great to have a `add_expecataions_from_suite` functio

[2022-03-09 17:06] qwwqwwq opened #4365 "Site rendering fails for `expect_multicolumn_sum_to_equal` expectation"
Site rendering fails for `expect_multicolumn_sum_to_equal` expectation

**To Reproduce**
[code]

**Expected behavior**
I would expect the data docs site to successfully render

**Environment (please complete the following information):**
 - Operating System: MacOS 12.2
 - Great Expectations Version: 0.14.9

**Additional context**
None

[2022-03-09 17:16] qwwqwwq commented on #4365
Stepping through with the debugger, the result argument to `_diagnostic_unexpected_table_renderer` seems wrong:

[code]

Specifically this key ```'partial_unexpected_counts': ['partial_exception_counts requires a hashable type']```

[2022-03-09 17:18] qwwqwwq commented on #4365
Seems like this issue has been addressed long ago: https://github.com/great-expectations/great_expectations/pull/1721

[2022-03-09 18:57] joshua-stauffer commented on #4365
hi @qwwqwwq, thanks for raising this! we currently have a PR in flight to address this bug: https://github.com/great-expectations/great_expectations/pull/4336

[2022-03-09 19:47] austiezr commented on #4168
Hey @hy951221! Closing this out for now; if you're still experiencing an issue here, feel free to re-open with further context.

[2022-03-09 19:47] #4168 closed, assigned to nobody

[2022-03-09 21:06] #4188 closed, assigned to nobody

[2022-03-10 02:10] cdkini opened #4372 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - Operating System: [e.g. Linux, MacOS, Windows]
 - Gr

[2022-03-10 02:10] #4372 closed, assigned to nobody

[2022-03-10 16:52] austiezr commented on #4362
Hey @sherrywang31 ! Thank you for surfacing this; we're reviewing internally and will be in touch.

[2022-03-10 16:53] austiezr commented on #4349
Hey @ejohnson-amerilife ! Thank you for raising this; we're reviewing internally and will be in touch.

[2022-03-10 20:16] talagluck commented on #3705
Hi @GabwonPark - sorry for the delay on this!

We still haven't been able to reproduce this on our side. That said, another user recently reported a similar issue. For them, the issue was that one of their environments had a Docker volume being mounted to the image which had another GE config directory which was causing a conflict. Since there were two GE configs being used in the local environmen

[2022-03-11 23:28] sherrywang31 opened #4394 "Slack Webhook Exposed in Log"
It seems that the slack webhook url is exposed when there's any error. Relevant code seems to be [here](https://github.com/great-expectations/great_expectations/blob/ee792823df549f58cc86c649a4c66bcc30817790/great_expectations/checkpoint/util.py#L47).

Is this intended? Even though a webhook would only be exposed when problems are encountered, it still feel very insecure... Would it be better to se

[2022-03-14 13:03] MajorDaxx opened #4402 "Miss configured AssetConfigSchema"
**Describe the bug**
To instantiate a Data Source theres the possibility via [`context.test_yaml_config(yaml_config)`](https://github.com/great-expectations/great_expectations/blob/f867baf041a4c06517b3cd843bd3624205aad6af/great_expectations/data_context/data_context.py#L3384)

This function leads to a [schema check ](https://github.com/great-expectations/great_expectations/blob/f867baf041a4c06517b

[2022-03-14 15:56] austiezr commented on #4069
Hey @vetedde ! Thanks for reaching out here; sorry for the delay! We've had an opportunity to internally review these notebooks and come to some decisions about how to best update the patterns for V3.

As you've also had eyes on this, I'd love to get your input on #4404!

[2022-03-14 16:03] austiezr commented on #4402
Hey @MajorDaxx ! Thank you for surfacing this; we'll review internally and be in touch.

[2022-03-14 16:03] austiezr commented on #4394
Hey @sherrywang31 ! Thank you for raising this; we'll review internally and be in touch.

[2022-03-14 16:58] shpolina opened #4407 "Error: No module named 'packaging'"
**Describe the bug**

We are running GE using pure python and started to experience an import error `ModuleNotFoundError: No module named 'packaging'` recently.

[code]
It looks like `packaging` is not explicitly declared as a dependency in [requirements.txt](https://github.com/great-expectations/great_expectations/blob/86583dc5a073f6e769356e39482c43d1e2976359/requirements.txt) and we were
previou

[2022-03-15 14:46] davideromano commented on #4115
Hi @kenwade4 , any news about this issue?
Thanks

[2022-03-15 14:47] talagluck commented on #3807
Hi @nateGarcia - apologies, I lost track of this.

I think the approach you put forward makes a lot of sense. It sounds like this is missing two components to tie it all together:
1. The metric - for MapMetrics (metrics that are row-wise, like `column_values.in_set`), you get an `unexpected_list` automatically. However, you do not get this automatically for aggregate metrics, since in most cases,

[2022-03-15 16:08] AlbertUlysses opened #4417 "GE_HOME not working with command `great_expectations init`"
**Describe the bug**
GE_HOME doesn't seem to work with the `great_expectations init` command.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup GE_HOME
2. Run `great_expectations init`
3. View the `great_expectations` folder in the same directory - not in the one we're point at.

**Expected behavior**
Should create a great_expectation project in the GE_HOME.

**Environment (please comple

[2022-03-15 17:37] SudanYogesh23 opened #4421 "DatasourceInitializationError"
I am trying to connect to great expectation via SSO. with the below credentials

host = "XXXXXXXXX.us-east-1"  # The account name (include region -- ex 'ABCD.us-east-1')
username = "a692@XXX.com"
database = "POC_SAMPLE"  # The database name
schema = "XXXX_POC"  # The schema name
warehouse = "XXXXXXX_XS_WH"  # The warehouse name
role = "XXXXXXXX"  # The role name
authenticator_url = "externalbrowse

[2022-03-16 10:55] MajorDaxx opened #4429 "With _sample_using_random and BigqueryDialect leads to broken SQL"
**Describe the bug**
When using _sample_using_random with Bigquery the resulting SQL is not Bigquery conform.
Bigquery uses the operation `rand` instead of `random`.

[code]
The desired SQL:

[code]

The corresponding Code Part is: Line 1080

https://github.com/great-expectations/great_expectations/blob/6a7dd66200238ff10461231a43a58b4a2cf228d7/great_expectations/execution_engine/sqlalchemy_executi

[2022-03-16 18:21] austiezr commented on #4407
@shpolina Thank you for surfacing; we'll investigate ASAP.

[2022-03-16 18:25] austiezr commented on #4421
Hey @SudanYogesh23 ; thank you for raising this. We'll investigate and be in touch.

[2022-03-16 18:33] austiezr commented on #4429
Hey @MajorDaxx ! Thank you for raising this issue & PR; we'll review internally and be in touch.

[2022-03-16 18:48] #4069 closed, assigned to nobody

[2022-03-16 20:43] andrewsx opened #4437 "error with 'sqlalchemy_bigquery' having no attribute 'INTEGER'"
**Describe the bug**
I am getting an AttributeError when trying to configure or create a new sqlalchemy datasource.

**To Reproduce**
Steps to reproduce the behavior:
1. After pip installing great_expectations, run `great_expectations init`
2. Selected Y when prompted with 'OK to proceed?'
3. Run `great_expectations datasource new`
4. When prompted with What data would you like Great Expectations

[2022-03-17 08:38] pmariac opened #4445 "Custom inherited expectation class : can't override a required parameter"
**Describe the bug**
Trying to create a custom expectation using custom parameters based on [this doc](https://docs.greatexpectations.io/docs/guides/expectations/creating_custom_expectations/how_to_create_custom_parameterized_expectations).
I want to check that a value (as a string) is a positive integer value, so instead of creating a `expect_column_values_to_match_regex` and set the regex everyt

[2022-03-17 08:39] pmariac commented on #4445
Also, if you want to maintain the feature of creating a custom expectation, this should be very useful to be able to override the result string that is generated after a run for the data docs....

[2022-03-17 15:55] austiezr commented on #4407
Closed by #4447 ; thank you @shpolina !

[2022-03-17 15:55] #4407 closed, assigned to nobody

[2022-03-17 16:10] shpolina commented on #4407
Thank you very much for the prompt fix.

[2022-03-17 18:18] #4394 closed, assigned to nobody

[2022-03-17 18:38] eschranz opened #4453 "`NotImplementedError` Raised for Datetime Columns Processed by `UserConfigurableProfiler`"
A recent [blog post](https://greatexpectations.io/blog/why_we_dont_do_transformations_for_expectations/) mentions the deprecation of `parse_strings_as_datetimes`. When attempting to run the auto `UserConfigurableProfiler` on all columns in a `SqlAlchemyDataset`, GE will automatically set `parse_strings_as_datetimes=True`. This leads to a `NotImplementedError`. Per the stack trace below from a Jupy

[2022-03-17 18:52] austiezr commented on #4445
Hey @pmariac ! Thank you for raising this; I have eyes on this issue as we speak. Stay tuned!

[2022-03-17 21:16] austiezr commented on #4437
Hey @andrewsx ! We've recently had some motion to support our reqs populating through appropriately; our support here starts with `sqlalchemy-bigquery>=1.3.0`. Are you able to confirm this behavior with `sqlalchemy-bigquery>= 1.3.0`?

[2022-03-18 00:26] #3934 closed, assigned to nobody

[2022-03-18 07:05] pmariac commented on #4445
Seems like it is already "fixed" as the "custom parameterized" way of creating an expectation has been removed from the doc yesterday with the 0.14.11 release ??! Or maybe am I missing something here?

I'll have a look at this on next week.

[2022-03-18 15:18] austiezr commented on #4445
Interesting timing! Take a look at #4455; there was a bug (thank you for identifying 🙇 ) preventing the workflow detailed in the guide. That guide should come live again soon, and the workflow you were following should be repaired. There may be similar issues with related parameterized workflows we're investigating currently. Thank you again for surfacing @pmariac !

[2022-03-18 21:49] austiezr commented on #4453
Hey @eschranz ! Thanks for surfacing this; we'll review internally and be in touch.

[2022-03-20 22:28] hsenot opened #4480 "Requirement range for cryptography package prevents using recent versions"
Hi there,

A [recent commit](https://github.com/great-expectations/great_expectations/commit/607c9129ff9c9a6008ac6146c5a61c1d3f24d676) introduced a hard range on the cryptography module <4.0 which effectively locks it to [3.4.8](https://github.com/pyca/cryptography/releases/tag/3.4.8) in August last year.

After 3.4.8, crytography releases are numbered 35.x, 36.x and so on.

My project will defer

[2022-03-21 11:04] esfsbhagwat opened #4481 "Configuring Validation Store: BlobNotFound Error"
Hi, I have installed great_expectations package on my local machine. Created the expectation suite, expectation store, validation results and finally able to get the data docs when I run the checkpoint.
Now when I try to configure same in the Expectations Store by following the [link  ](https://docs.greatexpectations.io/docs/guides/setup/configuring_metadata_stores/how_to_configure_an_expectation_

[2022-03-21 16:58] austiezr commented on #4480
@hsenot Thank you for surfacing! This upper bound is a requirement for use of GE w/ Azure, but we don't believe it should be a general pin. Addressing ASAP.

[2022-03-21 18:14] andrewsx commented on #4437
Thanks, it works when I download the wheel file for 1.3.0 and pip install it.  However, it doesn't work when I do the same for 1.4.1 (the latest version of sqlalchemy-bigquery).

[2022-03-21 22:27] Aylr opened #4490 "CLI datasource new fails when attempting to install bigquery libraries"
**Describe the bug**
CLI datasource new fails on BigQuery

**To Reproduce**
Steps to reproduce the behavior:
1. On a new project run `great_expectations init`
2. Run `datasource new`
3. Select 2 Relational db
4. Select Y to install sqlalchemy (note progress bar does not move)
5. Select 5 bigquery
6. Select Y to install pybiguqery (note progress bar does not move)
7. Note failure below

**Expected

[2022-03-22 01:26] hsenot opened #4495 "Requirement range for mistune locks it to an unsecure version"
Hi there,

mistune version in [requirements.txt](https://github.com/great-expectations/great_expectations/blob/develop/requirements.txt#L10) is currently bookended by 2.0.0 (strictly) meaning it is subject to a known [security vulnerability](https://security.snyk.io/vuln/SNYK-PYTHON-MISTUNE-2328096), addressed in version 2.0.2.

Would you be able to relax the upper bound so that projects can upgra

[2022-03-22 15:35] #3776 closed, assigned to nobody

[2022-03-22 16:28] austiezr commented on #4445
Hey @pmariac! I'll be looking into this case over the next couple of days; in the meantime you may be interested in [this documentation](https://docs.greatexpectations.io/docs/guides/expectations/creating_custom_expectations/how_to_create_custom_regex_based_column_map_expectations); the pattern and workflow from the above PR for `RegexBasedColumnMapExpectations` (which I believe fits your use case

[2022-03-22 18:40] Aylr commented on #4062
@jcampbell Thanks for the kind words and quick fix. I've just gotten back to this and it looks great!

[2022-03-22 23:07] #4445 closed, assigned to nobody

[2022-03-23 03:09] austiezr commented on #4495
Hey @hsenot ! Thank you for raising this; we've reviewed and addressed. Mistune is no longer pinned 🙇

[2022-03-23 08:30] error418 opened #4513 "Unnecessary S3 GetBucketLocation call for endpoint path building"
Following code breaks some self-hosted S3 implementations by requesting GetBucketLocation from the S3 endpoint (also if a `endpoint_url` is specified).

[code]

GetBucketLocation is only needed in the `else` branch of the if statement and is otherwise discarded (overwritten):

https://github.com/great-expectations/great_expectations/blob/ee792823df549f58cc86c649a4c66bcc30817790/great_expectations/

[2022-03-23 14:50] talagluck commented on #4495
Temporarily reverted due to some issues with testing. We are looking into the best way to resolve this.

[2022-03-23 18:14] talagluck commented on #4490
Thanks so much for letting us know, @Aylr! We will take a look and be in touch.

[2022-03-23 18:17] talagluck commented on #4513
Thanks for raising this, @error418! It looks like you've tracked down the source of the error and have a proposed fix - is this something you'd interested in contributing? Please let us know if you need any help with opening up a PR and getting this across the line.