[2022-03-23 19:20] error418 commented on #4513
@talagluck proposed the changes via #4526

[2022-03-24 16:08] cst-care opened #4538 "Jinja2 replaced contextfilter"
Hi all,

Jinja2 released a new version (3.1.0) and as described in the changelog
https://jinja.palletsprojects.com/en/3.1.x/changes/#version-3-1-0
they replaced `contextfilter` with `pass_context. evalcontextfilter`.

When importing Great Expectations `import great_expectations as ge` we get the error
`ImportError: cannot import name 'contextfilter' from 'jinja2'`

Either the version of jinja2 can

[2022-03-24 17:27] #4480 closed, assigned to nobody

[2022-03-24 21:02] fjork3 commented on #4538
Thanks for flagging this! This is addressed in today's release (0.14.12), which should be coming out shortly; the `jinja2` requirement is pinned to under 3.1.0 there.

[2022-03-24 21:43] austiezr commented on #4538
Addressed by #4537 and included in [0.14.12](https://github.com/great-expectations/great_expectations/tree/0.14.12) release, now live. Thanks @cst-care !

[2022-03-24 21:43] #4538 closed, assigned to nobody

[2022-03-24 21:47] #4495 closed, assigned to nobody

[2022-03-24 21:48] austiezr commented on #4495
Finally resolved; thanks again for raising @hsenot !

[2022-03-25 12:15] akallai opened #4550 "Schema handling issues when connecting to redshift"
**Describe the bug**

I'm not able to properly configure the datasource for a redshiftconnection without running into errors when using that datasource.

My configuration file looks like this:
[code]

When running this for testing:
`context.test_yaml_config(yaml_config=example_yaml)`
Im running into this warning, but I'm able to see the data assets:
![image](https://user-images.githubusercontent.c

[2022-03-25 14:30] sncamie opened #4552 "Rule based profiler error on v0.14.12"
**Describe the bug**
After upgrading to Great Expectations v0.14.12 from Great Expectations v0.14.9, when i run the Rule Based profiler. I get a

[code]
If I downgrade to v0.14.9 again and run the same script, the script runs just fine. I did this several times and got the same result. I am not sure what changed between the versions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to exam

[2022-03-25 22:01] akmorrow13 opened #4555 "InferredAssetDataConnector can't infer data_asset_name using regex"
**Describe the bug**
In the [documentation](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/how_to_choose_which_dataconnector_to_use/), it states that InferredAssetDataConnector can infer `data_asset_name` using regex. However, when implementing InferredAssetDataConnector in a checkpoint on a filesystem, `data_asset_name` must be set to a file name to run, and fails with rege

[2022-03-26 11:07] moreymat commented on #3975
Like @icapetti , this functionality would be a game changer for my team as well. There is a growing need among the organizations we work with, to monitor data quality and validate data against data standards and schemas that are nested.
The lack of support for nested data in GE is a major obstacle for many clients because they want to validate their data in their native format.

[2022-03-26 14:52] andyjessen opened #4560 "Core expectation on GitHub is not listed on Great Expectations website"
**Describe the bug**
Core expectation on GitHub is not listed on Great Expectations website.  See example: expect_multicolumn_values_to_be_unique.py . There are other core expectations not present on website.

**To Reproduce**
Steps to reproduce the behavior:
1. Review great_expectations/great_expectations/expectations/core/ on GitHub
3. Go to "Explore Expectations" tool on greatexpectations.io/ex

[2022-03-26 15:54] andyjessen commented on #4560
I see in the  expect_multicolumn_values_to_be_unique.py that this expectation has been deprecated. Perhaps this exclusion is intentional.

[2022-03-28 09:27] fvde commented on #4538
This is really bad for older version users, that cannot just upgrade. We are on 0.13.6 and this issue broke all of our code that uses GE...

[2022-03-28 14:57] austiezr commented on #4481
@esfsbhagwat Thanks for raising this! We'll review and be in touch. Are you able to share any further context around your environment, configs, yaml files, etc?

[2022-03-28 15:25] talagluck commented on #3975
Thanks, all! I had discussed this with @DCastile, and we currently have basic support for this through existing Spark functionality, though it is somewhat limited (it's possible to work data which is entirely keyed, but there isn't existing notation to access data in arrays). I believe there were some additional questions about whether this was possible with SQL Alchemy more broadly, which could u

[2022-03-28 16:05] austiezr commented on #4560
Hey @andyjessen ! Thanks for surfacing this; we believe you should see the gallery updated to reflect this expectation soon. We'll keep an eye on this 👀

[2022-03-28 16:07] austiezr commented on #4538
@fvde Definitely a sudden and frustrating issue; as this is a breaking change introduced by `Jinja2 3.1.0` we recommend pinning to `jinja2>=2.10,<3.1.0` to maintain the support you've been experiencing up to this point.

[2022-03-28 23:56] andyjessen opened #4579 "Markdown files on GitHub have broken links to code snippets"
**Describe the bug**
Markdown files on GitHub have broken links to code snippets.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for "python file=" within code.
2. Select sample (docs/guides/connecting_to_your_data/filesystem/pandas.md) file.
3. See missing content.

![Relative Links Missing](https://user-images.githubusercontent.com/62343929/160506012-bbeb3ec1-f04d-4091-8bc1-0213aa1

[2022-03-29 00:09] petehanssens commented on #4481
I'm experiencing the same issue.

Here's my config:
`  validations_AZ_store:
    class_name: ValidationsStore
    store_backend:
      class_name: TupleAzureBlobStoreBackend
      connection_string: ${GE_RESULTS_CONNECTION_STRING}
      container: ${GE_RESULTS_CONTAINER}
      prefix: validations

  checkpoint_AZ_store:
    class_name: CheckpointStore
    store_backend:
      class_name: TupleAzur

[2022-03-29 16:05] douglascook opened #4584 "AttributeError trying to access Redshift dialect when credentials are passed in a connection string"
**Describe the bug**
Certain expectations have been failing for me when run against Redshift, with the following exception:

[code]

The problem appears to be caused by an import in `/great_expectations/expectations/metrics/util.py` and only occurs if the redshift dialect has not *already* been imported correctly somewhere else.

**To Reproduce**
I haven't been able to reproduce this running in a

[2022-03-29 16:52] douglascook commented on #4584
Looking into this a bit more I found the helpful comment below:

https://github.com/great-expectations/great_expectations/blob/c555d9fd20f70df4a70bb0102fad2b57c1556ca5/great_expectations/self_check/util.py#L147-L152

It looks the error I'm running into could be the same issue, with the [sqlalchemy-redshift](https://github.com/sqlalchemy-redshift/sqlalchemy-redshift) dialect not providing a `dialec

[2022-03-29 17:16] Josephmaclean opened #4588 "Returns a TypeError when configuring notebooks generated by suite-edit"
**Describe the bug**
In the [documentation](https://docs.greatexpectations.io/docs/guides/miscellaneous/how_to_configure_notebooks_generated_by_suite_edit/#overwriting-a-section), it states that to overwrite a header or footer code, you'll need to create a python file containing the code you want to overwrite it with.

The problem is that, when the code is provided, an error is thrown which states

[2022-03-30 12:03] douglascook commented on #4584
I've managed to reproduce this using the script below.

I've also narrowed down the problem to the use of `connection_string` in the execution engine config. Everything works correctly when the credentials are passed individually via the `credentials` key

My local environment details:

* macOS 11.6.5
* python 3.7.13
* great-expectations 0.14.11
* SQLAlchemy 1.3.24
* sqlalchemy-redshift 0.8.6

**S

[2022-03-31 14:54] douglascook opened #4603 "SQLAlchemy `expect_column_values_to_be_unique` errors out when run on an empty table"
**Describe the bug**
Using an `InferredAssetSqlDataConnector` with a SQLAlchemy connection to a Postgres DB and running `expect_column_values_to_be_unique` fails with a `TypeError` when run against an empty table.

The error occurs in the `map_metric_provider` module:

[code]

It looks like this would happen with any DB, but I have only tested it with Postgres.

**To Reproduce**
1. Create a table

[2022-04-01 01:25] andyjessen commented on #4560
@austiezr - To fix , do we need to add a block like this?

https://github.com/great-expectations/great_expectations/blob/46cb4da9c69156ac462260d5ecb8e64e6f9d67b7/great_expectations/expectations/core/expect_column_distinct_values_to_be_in_set.py#L18-L20

[2022-04-01 07:08] sncamie opened #4612 "rule based profiler throwing error on v 0.14.13"
Describe the bug
After upgrading to Great Expectations v0.14.13 from Great Expectations v0.14.12, when i run the Rule Based profiler. I get a
[code]
If I downgrade to v0.14.12 again and run the same script, the script runs just fine. I did this several times and got the same result. I am not sure what changed between the versions.

To Reproduce
Steps to reproduce the behavior:

    Go to example r

[2022-04-01 07:16] sncamie opened #4613 "expect_table_columns_to_match_set in Rule Based Profiler"
I am trying to build expectations using the rule based profiler. One of the expectations I want to include is the, expect_table_columns_to_match_set. The issue is in the parameter_builder section. The class_name for that section, I expect would be ValueSetMultiBatchParameterBuilder and the domain_builder to be TableDomainBuilder. Currently, ValueSetMultiBatchParameterBuilder works in columns and d

[2022-04-03 13:37] elisim opened #4633 "Is there expectation for table columns are subset of column list?"
Hi,

I did the Getting Started Tutorial, and saw `expect_table_columns_to_match_ordered_list`. In my use-case, I expect my table columns will contain the e.g. `['a','b','c']` cols, or more. Meaning, it's okay if they will have more columns, though the specified columns must be there.

I didn't find it here:

https://greatexpectations.io/expectations

Thanks,
Eli

[2022-04-04 12:54] milosz-dm opened #4658 "Invalid behavior for groups of expectations"
There is a strange behavior for groups of expectations since `0.13.42` version. It works on `0.13.35` &  `0.13.41`. If you run expectations one by one they success, but if you run them in a group it may fail.

Code to reproduce:
[code]

empty_error.json file:
[code]

Additional data source in `great_expectations.yml`:
[code]

I would expect that in both cases the validation runs with success.
I ru

[2022-04-04 13:15] douglascook opened #4659 "`_sqlalchemy_map_condition_unexpected_count_value` fails for SQLA version < 1.4"
**Describe the bug**
Certain expectations that generate a subquery fail with `sqlalchemy.exc.ProgrammingError: (psycopg2.errors.SyntaxError) subquery in FROM must have an alias` when run against Postgres on SQLAlchemy version earlier than 1.4.

The problem was partially identified in https://github.com/great-expectations/great_expectations/pull/3651, where a helper function was added to explicitly

[2022-04-05 15:55] ishitarakshit opened #4692 "Validator validates only the last batch from the batch list in a batch request"
Validator is expected to run the expectation suite against all the batches in the batch_request. But it runs the expectations through the last batch only and returns the result for that batch.

### Explanation with example:
Input files :
    Titanic1.csv: has 1313 lines
    Titanic2.csv: has 813 lines
yaml:
[code]

Available data assets:

[code]
Batch request with 2 batches:

[code]
Expectation su

[2022-04-05 19:40] austiezr commented on #4633
Hey @elisim ! Thanks for reaching out. We currently have the above `expect_table_columns_to_match_ordered_list` and `expect_table_columns_to_match_set` implemented. If you're interested in contributing, we'd be happy to offer guidance and support on a contribution towards an expectation like what you've described above. While I'm closing this issue for now, feel free to reach out in this thread or

[2022-04-05 19:43] #4633 closed, assigned to nobody

[2022-04-06 18:11] talagluck commented on #4550
Hi @akallai - thanks for opening this! We will review and be in touch. Could you please share the `batch_request` you are using to create the Validator when running the Profiler?

[2022-04-06 18:13] talagluck commented on #4552
Thanks for raising this, @sncamie! We will review and be in touch.

[2022-04-06 18:17] talagluck commented on #4555
Thanks for raising this @akmorrow13! [Have you followed this guide?](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/how_to_configure_an_inferredassetdataconnector), specifically the section about specifying `group_names`?

When you run `test_yaml_config`, do you see the data assets that you would expect?

[2022-04-06 18:28] talagluck commented on #4579
Hi @andyjessen - thanks for raising this! We use Docusaurus, which link to external code snippets which are under test. As such, you'll only be able to read the fully rendered version of these on our docs site - the rendering won't be possible when viewing on Github.

I'm going to close this for now, since I don't think there is a viable solution, but if you have any suggestions, please feel free

[2022-04-06 18:28] #4579 closed, assigned to nobody

[2022-04-06 18:33] talagluck commented on #4584
Hi @douglascook - thank you for raising this, and for doing a lot of the legwork in tracking down the source of the issue.

It may take us some time to get to this Issue. Is this something that you would be interested in contributing? I agree that it seems like the right fix would be something similar to the one in `self_check/util.py` for BigQuery.

Please let me know if you need any guidance or

[2022-04-06 18:35] talagluck commented on #4588
Thanks for raising this, @Josephmaclean! Just approved your PR, so it should be set for release tomorrow.

[2022-04-06 18:36] akmorrow13 commented on #4555
Thanks for the response @talagluck. Yes, I have followed the mentioned guide to the best of my ability. When running test_yaml_config, I correctly see the list of files available for data assets. I can close this issue, however, as we are not using GE anymore.

[2022-04-06 18:37] talagluck commented on #4612
Thanks for raising this, @sncamie! We will review and be in touch.

[2022-04-06 18:40] talagluck commented on #4612
To confirm, have you checked the latest config in the docs? Rule Based Profilers are still in beta, and so the docs and configs are still subject to change.

[2022-04-06 18:41] talagluck commented on #4613
Thanks for the question, @sncamie! We will review and be in touch.

[2022-04-06 18:46] talagluck commented on #4658
Hi @milosz-dm - thanks for the question! What happens when you run these expectations without the `result_format` set to `BOOLEAN_ONLY`? Could you share the result of how these Expectations are failing?

[2022-04-06 18:48] talagluck commented on #4658
Is the only difference between the success and the failure the order in which you've run the Expectations? Are you running those directly in sequence?

[2022-04-06 18:52] talagluck commented on #4659
Thanks for raising this, @douglascook! Could you please confirm which version of SqlAlchemy you are running? For instance, there are certain parts of GE that will fail when running a version <1.3.18. Are you running a version greater than that but less than 1.4?

[2022-04-06 19:00] talagluck commented on #4692
Thanks for raising this, @ishitarakshit! We appreciate the detailed context and the thought  that you have put into this.

A couple of notes:
- The `validator.validate()` workflow is not really recommended. It can be used to run a quick validation, but the best way to run validations is to use Checkpoints instead.
- Currently, this functionality is also not possible in Checkpoints, since the abili

[2022-04-06 19:10] #4588 closed, assigned to nobody

[2022-04-06 19:48] david-AH commented on #4633
I need this exact functionality and am interested in contributing.

[2022-04-06 20:13] david-AH commented on #4633
Actually, upon further investigation, I believe the 'exact_match' kwarg to expect_table_columns_to_match_set provides what I needed.

[2022-04-06 20:17] #4555 closed, assigned to nobody

[2022-04-06 21:22] Quang-Vinh opened #4774 "Pandas in memory batch request very slow for over a million rows with V3 API"
**Describe the bug**
I'm running data validation on a pandas dataframe with 7 million rows and it seems to be taking far too long. The V3 version takes about 4 minutes while the corresponding V2 version takes about 1 second. Seems like the original dataframe is being copied and taking a lot of the runtime (see below for cProfile results).

**To Reproduce**
Steps to reproduce the behavior:

1. Run

[2022-04-06 21:23] douglascook commented on #4659
I ran into this with SQLAlchemy 1.3.24

[2022-04-06 21:23] Quang-Vinh commented on #4774
I am just beginning to learn Great Expectations and followed the tutorial to produce the code above so perhaps I am doing something wrong

[2022-04-07 04:19] hugh-nguyen opened #4812 "'NoneType' object has no attribute 'setCallSite'"
**Describe the bug**
I am getting the following error when running a checkpoint on a spark dataframe.
[code]

**To Reproduce**
I have this code that reads in data from memory into a Pandas DF and it works fine.
[code]

Now when I change the class_name of the datasource from "PandasExecutionEngine" to "SparkDFExecutionEngine", and change
[code]
to
[code]

I can confirm that the dataframe works, but

[2022-04-07 06:38] sncamie commented on #4612
I havent checked yet. Just saw when I try to run. But I am sure with more  updates the issue will be resolved.

[2022-04-07 07:41] bluinchiostro opened #4813 "Page not found: documentation about data docs"
**Describe the bug**
Opening the file great_expectations.yml and clicking on https://docs.greatexpectations.io/en/latest/reference/core_concepts/data_docs.html, this page doesn't exist

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'great_expectations.yml'
2. Click on 'https://docs.greatexpectations.io/en/latest/reference/core_concepts/data_docs.html'
4. See error

**Expected behavior

[2022-04-07 09:16] douglascook commented on #4584
Hi @talagluck - yeah definitely, I'd be happy to have a look into it myself at some point.

I opened PRs for another couple of issues already but those were a bit more pressing on my side, because I'd had to hack around them in our codebase to get things working without the fixes proposed in the PRs. In this case the solution that avoids using a connection string seems pretty reasonable, so isn't

[2022-04-07 09:30] milosz-dm commented on #4658
@talagluck  - good catch! The following code (without `result_format`) works as expected.
[code]

PFB the error I have once the `result_format` if passed:
[code]

[2022-04-07 09:33] milosz-dm commented on #4658
IMO the order difference is the only one. You can play with the code I added, to be 100% sure.

[2022-04-07 15:32] #4513 closed, assigned to nobody

[2022-04-07 17:49] ishitarakshit commented on #4692
Thanks for your response.
The above functionality is required by one of the main use cases for us - reading files from gcs and running expectations on them. The path follows pattern : some-bucket/some-prefix/date/part-files
When I use `InferredAssetGCSDataConnector` with the following pattern, it returns each date as a data asset with the part files as data references:
[code]

This results in 50 b

[2022-04-08 09:16] ymentha14 opened #4824 "Pandas Value must be a nonnegative integer or None in step 3 of Getting Started notebook"
**Describe the bug**
When following the getting started tutorial at the step 3 (Create Expectations) the first cell of the `edit_getting_started_expectation_suite_taxi.demo` notebook raises a `ValueError: Value must be a nonnegative integer or None` is from at `pandas/_config/config.py:88`.

Changing the line 17 of .. from `if version.parse(pd.__version__) <= version.parse("1.0.0"):` to `if versio

[2022-04-08 09:46] TakreemAkhter opened #4825 "ImportError: cannot import name 'contextfilter' from 'jinja2'"
**When I import `BaseDataContext` from `great_expectations.data_context`
I get the below error:**
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. ge version: 0.13.42
2. Run command : `from great_expectations.data_context import BaseDataContext`

**Expected behavior**
It should import the required package

**Environment (please complete the following information):**
 - Operating System:

[2022-04-08 15:53] error418 opened #4826 "batch_spec_passthrough on Data Asset causes TypeError"
Configuring `batch_spec_passthrough` in Data Assets causes a

[code]

The configured Asset looks like this:

[code]

The following line is the exception root:

https://github.com/great-expectations/great_expectations/blob/ac192f821fd78297c2e302824f33ae7ff91229b5/great_expectations/datasource/data_connector/configured_asset_file_path_data_connector.py#L245

This needs to be referenced like the foll

[2022-04-09 01:14] andyjessen commented on #4813
Hi @bluinchiostro - We fixed this issue recently in this commit (7712dc6f).

[2022-04-09 08:43] asears opened #4830 "Filename too long cloning repo"
**Describe the bug**

Cannot clone repo using gh on Windows due to longer test filenames.

I was able to clone with setting

[code]

Could consider shortening some test folder names as good practice if they're not fundamental.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Should be able to clone the repo on Windows with default settings.

**Environment (please co

[2022-04-09 19:36] KentonParton opened #4832 "UserConfigurableProfiler fails when RuntimeBatchRequest uses query and "create_temp_table": False"
**Describe the bug**
When using the UserConfigurableProfiler and a RuntimeBatchRequest where "runtime_parameters" uses a query like {'schema': 'sample_data', 'query': 'select * from sample_data.orders'} and "batch_spec_passthrough" = {"create_temp_table": False} the following exception is thrown:

[code]
It looks like the types of the columns cannot be retrieved [here](https://github.com/great-exp

[2022-04-10 21:45] #4453 closed, assigned to nobody

[2022-04-11 09:29] error418 opened #4837 "OpenLineage Action fails sending Openlineage Events"
**Describe the bug**

OpenLineage Action fails

**To Reproduce**
Steps to reproduce the behavior:
1. Use Openlineage Action in a Checkpoint
2. Run Validation

**Expected behavior**
Openlineage Action sends a Openlineage Event when executing the action

**Environment (please complete the following information):**
 - Operating System: Linux WSL (Ubuntu)
 - Great Expectations Version: 0.15.0

**Addit

[2022-04-11 16:03] talagluck commented on #4812
Thanks for opening this, @hugh-nguyen! We will review and be in touch.

[2022-04-11 16:06] talagluck commented on #4813
Thanks for raising this @bluinchiostro and for the context @andyjessen! We will review and be in touch.

[2022-04-11 16:09] talagluck commented on #4824
Thanks for raising this and tracking down the source of the bug, @ymentha14! Would you be interested in making a contribution to fix it? Please let us know if you need any guidance or support.

[2022-04-11 16:13] talagluck commented on #4825
Hi @TakreemAkhter - yes, this is correct. Jinja has made updates that break that functionality. If you use the version of Jinja that you described (or install a newer version of Great Expectations which updates the requirements to specify that) then this will work. I'm going to close this as it has been resolved.

[2022-04-11 16:13] #4825 closed, assigned to nobody

[2022-04-11 16:17] talagluck commented on #4826
Thanks for the question, @error418! `batch_spec_passthrough` should be specified at the ExecutionEngine level, but as far as I know it can not be specified at the Data Asset level (though it can be passed into a `BatchRequest` if needed. I'm going to close this for now, since I believe this is a configuration error, but please feel free to reopen if you have any more context.

[2022-04-11 16:17] #4826 closed, assigned to nobody

[2022-04-11 16:20] talagluck commented on #4830
Thanks for raising this, @asears! We will review and be in touch.

[2022-04-11 16:21] talagluck commented on #4832
Thanks for raising this, @KentonParton! We will review and be in touch.

[2022-04-11 16:26] talagluck commented on #4837
Thanks for raising this, @error418! Tagging @rossturk who wrote the document and might have a better sense of how this should work.

[2022-04-11 17:40] error418 commented on #4826
Thanks for the reply @talagluck

Looking at the code it seems at some time this was a valid configuration option, since `batch_spec_passthrough` gets referenced on asset-level.

https://github.com/great-expectations/great_expectations/blob/ac192f821fd78297c2e302824f33ae7ff91229b5/great_expectations/datasource/data_connector/configured_asset_file_path_data_connector.py#L245

It also gets referenced

[2022-04-11 17:59] austiezr commented on #4262
Hey @john-schwegler-vectorsolutions ! Just pinging again re: our conversation on slack. Feel free to reach out if this is still an issue and you'd like to investigate further with us.

[2022-04-11 18:07] austiezr commented on #3506
Hey @shpolina ! Thank you again for raising this; our docs have been reworked and the expectation gallery now populates directly from the expectation file, which should resolve the discrepancy between docs and expectation.

[2022-04-11 18:07] #3506 closed, assigned to nobody

[2022-04-11 18:07] john-schwegler-vectorsolutions commented on #4262
Hi Austin, sorry about not getting back to you.  I got caught up in some
other work.  I'll update GE and try rerunning my test case to see
what happens.

Thanks,
John

On Mon, Apr 11, 2022 at 2:00 PM Austin Ziech Robinson <
***@***.***> wrote:

[2022-04-12 10:48] akallai commented on #4550
Hi @talagluck - thanks for the response.
Theese are the steps to reproduce, I'm using the CLI "v3 (Batch Request) API"

[code]
 After this stepI'm getting the error described above. A notebook is not starting, the error is aborting the process.

However, the Expectations suite still got created.
This file got created (great_expectations/expectations/my_schema_name/my_table_name.warning):
[code]

[2022-04-12 14:32] ejohnson-amerilife opened #4847 "Checking date ranges since current method will be deprecated"
**Is your feature request related to a problem? Please describe.**
I would like to check that a datetime column is within a range dates since it looks like this functionality will be deprecated in a future release (see below).

**Describe the solution you'd like**
I would like to have an expectation, or an adaptation to an existing expectation that allows me to check that a datetime column is with

[2022-04-12 15:40] #1645 closed, assigned to jcampbell

[2022-04-12 15:45] talagluck commented on #2214
I'm going to close this, as I don't think it's relevant any longer, but please feel free to re-open if it's still an issue!

[2022-04-12 15:49] talagluck commented on #2420
Hi @TkachevKonstantin and @6B6C6D - thank you for your patience, and again, apologies for delays. We have been having a hard time reproducing this locally, but it looks as though you have already tracked down the source of the issue. Is this something which you would be interested in contributing? Please let us know if we can help support a contribution, and we are happy to prioritize a PR review

[2022-04-12 15:52] talagluck commented on #2536
Resolved by #3676

[2022-04-12 15:52] #2536 closed, assigned to nobody

[2022-04-12 16:44] rdodev opened #4850 "[DOCS] Update Athena docs to include `create_temp_table: True` in `batch_request_passthrough`"
**Describe the bug**
Recently we've added the ability to our Athena to pass a flag to create temp tables, which can be passed to the batch request. However, this change hasn't made its way to the Athena documentation.

[2022-04-12 16:57] austiezr commented on #4290
Closed by #4549

[2022-04-12 16:57] #4290 closed, assigned to nobody

[2022-04-12 17:42] #4603 closed, assigned to nobody

[2022-04-12 17:43] kuhnen opened #4851 "Athena quantile support lost"
**Describe the bug**
Unfortunately, we lost the feature of having quantiles expectations when using Athena or Presto.
The main reason is that presto has a different method to calculate these numbers:

https://prestodb.io/docs/current/functions/aggregate.html#approx_percentile

**To Reproduce**
Connect to any Athena table and try to  use the "expect_column_quantile_values_to_be_between"

**Expected

[2022-04-12 18:08] austiezr commented on #2710
Closing this out as this use-case is [documented here in our updated docs](https://docs.greatexpectations.io/docs/deployment_patterns/how_to_use_great_expectations_in_databricks).

[2022-04-12 18:08] #2710 closed, assigned to nobody

[2022-04-13 05:50] abekfenn opened #4855 "Add support for concurrent evaluation of an expectation suite in chunks"
**Is your feature request related to a problem? Please describe.**
As an engineer, I would like to keep the memory required to run great expectations as low as possible in order to keep the footprint of my application as low as possible. Currently, in order to evaluate my GE expectations against my in-memory dataset, I must load the entire df into memory, but this requires a lot of memory.

**Desc

[2022-04-13 07:06] hongkunxu opened #4856 "Can I use Great Expectation to validate Pinot OLAP database ?"
**Is your feature request related to a problem? Please describe.**
I want to use great expectations to validate Pinot OLAP database, And I tried to connect to Pinot OLAP database via SQLAlchemy.  And I can acquire table names in Pinot OLAP. But I can't acquire a batch of data.

[my think] I see schema term in Pinot is different from great expectations. See below pic 3.
FROM callanalyzer_result_met

[2022-04-13 13:17] mauromelis commented on #2577
We also encountered the same exception when trying to add a new runtime data source with `SparkDFExecutionEngine` but on GE version `0.14.13`.
Being the same use case, the code is similar to the snippet posted by @alexszym and we confirm that the workaround he proposed worked perfectly (thanks a lot!), temporarily solving our problems.

[2022-04-13 16:43] austiezr commented on #4437
Hey @andrewsx! I've been unable to replicate this issue for any version of `sqlalchemy-bigquery>=1.3.0`. Are you able to confirm you're still experiencing this behavior on your current environment with a verified installation of `sqlalchemy-bigquery>=1.3.0`?

Additionally, I have seen some unexpected behavior when both `sqlalchemy-bigquery` and the now-deprecated `pybigquery` package are present.

[2022-04-13 17:18] austiezr commented on #4361
Hey @mpolena! Thanks for surfacing this issue. After some digging, it looks like this is an issue specific *only* to V2. Unfortunately, we're not able to prioritize work on the V2 API at this time as it has been overtaken in both stability and capability by the V3 API, which is now the default API for Great Expectations.

If you're able to migrate to V3, we have a migration guide [available here](

[2022-04-13 18:12] RicardoPedrotti commented on #4851
These were the pull requests where the _expect_column_quantile_values_to_be_between_ calculations on Athena/Presto were introduced to Great Expectations:
https://github.com/great-expectations/great_expectations/pull/2521
https://github.com/great-expectations/great_expectations/pull/2544

[2022-04-13 18:30] talagluck commented on #4851
Thanks all! We will review and be in touch.

[2022-04-13 18:33] talagluck commented on #4855
Thanks for opening this, @abekfenn! We will review and be in touch.

[2022-04-13 18:41] talagluck commented on #4856
Hi @INNOCENT-BOY - thanks for raising this. Great Expectations does not official support the Pinot OLAP database. Given that Great Expectations uses SQLAlchemy on the back-end, it's possible that you may get some of the functionality to work despite Pinot not being supported.

Some of the common places for failure with unsupported SQL dialects are temp table creation, and then specific Expectation

[2022-04-13 18:47] talagluck commented on #4847
Hi @ejohnson-amerilife - thanks for raising this!

The functionality to be deprecated is not the checking of datetime columns, but rather the checking of datetimes that are formatted as strings. [You can read more about this decision here.](https://greatexpectations.io/blog/why_we_dont_do_transformations_for_expectations/)

If you are interested in continuing support for this, please consider addi

[2022-04-13 18:57] ejohnson-amerilife commented on #4847
Thank you for your response @talagluck, and i totally agree with the decision to not have GE transform the data, however that is not what is happening in my case.
From the docs the `parse_strings_as_datetimes` parameter is defined as:

The key pieces of information are that the expectation's **min_value** and **max_value** must be entered as strings, therefore this `parse_strings_as_datetimes ` pa

[2022-04-13 19:49] talagluck commented on #4847
Hi @ejohnson-amerilife - to confirm, why must the `min_value` and `max_value` be entered as strings?

An example would be really helpful - thank you!

[2022-04-13 20:57] ejohnson-amerilife commented on #4847
I have a datetime64[ns] column in a pandas dataframe, let's call the column "date_col". When I set `parse_strings_as_datetimes=True`, the test works as expected i.e. no exceptions are raised. However, when I set `parse_strings_as_datetimes=False`, as shown below:
[code]
The validation result shows the following exception claiming `Column values, min_value, and max_value must either be None or of t

[2022-04-14 01:18] hongkunxu commented on #4856
@talagluck Thanks for your prompt reply. I have got the desired solution. I will focus on this feature in the future. And discuss with my team whether this feature needs to be developed right now. Looking forward to your guide on how to contribute to the community.

[2022-04-14 14:49] bluinchiostro opened #4864 "Sending email notification without sender login and password"
I would like to send failure emails to my address, without a sender email account.
In Python it's possible importing email.message.EmailMessage and simply send plain text email messages over localhost to the email address I specify. In GE the "sender_login" and "sender_password" are both required. It would be very useful to test this feature using an email relay and without sender login e password

[2022-04-14 20:08] cbuffett opened #4867 "Exception thrown when using evaluations parameters"
**Describe the bug**
An exception is generated when attempting to reference the observed_value of an upstream validation via evaluation parameters.

`TypeError: float() argument must be a string or a number, not 'dict'`

**To Reproduce**
I am using the superconductive ge_tutorials project to understand better how to incorporate GE into Airflow and DBT. Within this, there is a task that will valida

[2022-04-15 16:04] helenduww opened #4876 "MetricResolutionError: SqlAlchemyExecutionEngine only supports the great_expectations condition_parser."
**Describe the bug**
An exception is generated when attempting to validate an expectation with a condition parameter using SqlAlchemyExecutionEngine against a data source connected to the Snowflake data table.
`MetricResolutionError: SqlAlchemyExecutionEngine only supports the great_expectations condition_parser.`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a data source for Snowf

[2022-04-15 16:21] helenduww opened #4877 "Data Doc show invalid validation result"
**Describe the bug**
I have three expectations in the expectation suite. Ran validation, first two expectations pass, the third one throw exception:
`MetricResolutionError: SqlAlchemyExecutionEngine only supports the great_expectations condition_parser.` Data Doc shows all three expectations failed with the same exception.
<img width="655" alt="image" src="https://user-images.githubusercontent.com

[2022-04-15 20:39] austiezr commented on #4876
Hey @helenduww! Thanks for reaching out.

Current support for `row_condition` / `condition_parser` with SQLAlchemy is still in an early experimental state, meaning that this error is indeed correct; you will have to set the `condition_parser` as `great_expectations__experimental__`, the currently supported experimental implementation of our `row_condition` parser. Our documentation to reflect this

[2022-04-15 20:39] #4876 closed, assigned to nobody

[2022-04-17 16:50] andrewsx commented on #4437
Hi @austiezr! I am no longer experiencing this issue now that I've upgraded to sqlalchemy-bigquery version 1.3.0

[2022-04-18 15:45] dgarros commented on #4495
@austiezr For information, the latest  version of `mistune` (`2.0.2`) created some incompatibility for me with Jupyter and I couldn't execute the Jupyter Notebook from the getting started guide out of the box

I fixed the issue by pinning `mistune` to an older version `0.8.4`.

Environment
- Mac M1
- Python   3.9.9
- great-expectations    0.15.1
- mistune               0.8.4
- jupyter-client

[2022-04-18 17:14] austiezr commented on #4437
Hey @andrewsx ! Great to hear. I'll close this issue out for now.

[2022-04-18 17:14] #4437 closed, assigned to nobody

[2022-04-19 15:06] #4864 closed, assigned to nobody

[2022-04-19 15:43] AFineDayFor commented on #4867
Howdy @cbuffett, I'm sorry I plum clicked the wrong thing and probably spammed you with notifications from re-jigging the issue. I did not mean to close this is the long-story-short.

I'll bring this up with the team, thank you for showing this to us. We may need to reach out for more information but thank you for raising it 🙇

[2022-04-19 16:17] AFineDayFor commented on #4877
Howdy @helenduww, thanks for reaching out 🎉
We'll bring it up amount the team and get back to you. We may need to ask for a bit more context. Thank you for raising this.

[2022-04-19 18:22] denimalpaca commented on #4837
Hey @error418, this should be fixed in this [OL PR](https://github.com/OpenLineage/OpenLineage/pull/659) when it's released!

[2022-04-19 19:15] error418 commented on #4837
Thanks for the pointer, @denimalpaca

[2022-04-19 19:15] #4837 closed, assigned to nobody

[2022-04-19 20:30] #4202 closed, assigned to nobody

[2022-04-21 12:10] vatj commented on #4812
Any news on this? Could this be related to the spark version? I am getting the same error when running a colab notebooks with pyspark:
[code]

[2022-04-21 13:59] jimmycfa opened #4915 "Enforce consistent ordering of great_expectations.yaml"
**Is your feature request related to a problem? Please describe.**
When adding new expectations the order of the entries in `datasources` will change. This can make Git commits for that file appear as though a lot of things have changed, when maybe only a single expectation was added.

**Describe the solution you'd like**
Use an OrderedDict to enforce consistently with the ordering in the yaml gen

[2022-04-21 14:06] jimmycfa commented on #4915
Potential solution would be to update this function to return and use an OrderedDict vs Dict for setup and return: https://github.com/great-expectations/great_expectations/blob/c59690d933ef4c54d582beb141fb7b246cc25601/great_expectations/data_context/data_context.py#L1897

[2022-04-21 16:22] psxmc6 opened #4920 "Azure Blob Storage: Shared access signature (SAS) authorisation"
Hi all,

I am intending to use Great Expectations on data that is stored in Azure Blob Storage (ASB) container using SAS token instead of access key.

I have followed these instructions: https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/cloud/azure/spark

What I have established is that when account_url/account_key pair is specified in data_connectors part of the *.yaml configu

[2022-04-21 20:48] mpolena commented on #4361
Thanks for your reply @austiezr! We are currently in the process of migrating to V3.

[2022-04-22 06:07] vysakhdevaraj opened #4928 "Great Expectation functions not seen in SparkDF Dataset"
Hi,

As part of using the great expectations functions which are there in the default great expectations library ,the following functions I tried in the default great expectations.
expect_column_min_to_be_between
expect_column_max_to_be_between
expect_column_mean_to_be_between
expect_column_median_to_be_between

When I tried with the spark integrated great expectatiions which is sparkdf_dataset It

[2022-04-22 19:21] austiezr commented on #4560
Hey @andyjessen! Just following up here; for the time being this expectation is intentionally not a part of the gallery. As we iterate both on our gallery and our core expectations, this (and others) may be introduced to the gallery.

[2022-04-22 19:21] #4560 closed, assigned to nobody

[2022-04-22 20:16] #4659 closed, assigned to nobody

[2022-04-22 22:58] #4173 closed, assigned to nobody

[2022-04-23 05:39] kuhnen commented on #4295
Hello @joshua-stauffer any idea when this will be fixed?  thanks a lot

[2022-04-25 14:48] psxmc6 commented on #4920
Hi,

I have identified that **credential** field of azure_options is being passed to spark.conf under:
`fs.azure.account.key.{storage_account_url}` key exclusively.

To set permission using SAS token, there should be an option to set credential under:
`fs.azure.sas.{container_name}.<storageaccount>.blob.core.windows.net?<SAS_TOKEN>`

Please, see the following snippet: [sparkdf_execution_engine.py]

[2022-04-25 17:53] rdodev commented on #4920
@psxmc6 hey given you believe you have a solution, would you mind creating a PR for it? Happy to help if you run into issues along the way.

[2022-04-25 18:20] lccasagrande opened #4945 "AWS Glue Catalog Data Connector Support"
**Is your feature request related to a problem? Please describe.**
It would be awesome to have a `DataConnector` to list all databases and tables available in **AWS Glue Data Catalog**. Instead of using the `InferredAssetS3DataConnector` to infer all data assets in S3 by matching a regex pattern, the framework could provide a `GlueDataCatalogDataConnector` to list all data assets. This would be si

[2022-04-26 16:25] MLGalloudec opened #4961 "Memory Leak in GE Running in databricks"
**Describe the bug**
We have a data validation running every five minutes as part of a databricks job running from a batch request which uses an in memory pandas dataframe as the batch data. After the job is completed, the library is not releasing all used memory back. We have isolated the problem as we have taken portions of our code out one at a time, and it's GE that is causing the memory leak.

[2022-04-26 20:27] cbuffett opened #4965 "Testing YAML config takes significant amount of time when partitioning large table"
**Describe the bug**
When testing a YAML config that defines a table partition, Great Expectations executes a `SELECT DISTINCT <partition columns> FROM <table>` query. For a large table (nearly half a trillion rows), that takes a significant amount of time (on the order of hours). This also appears to happen when fetching the validator, even if the batch_request specifies a single partition. It ap

[2022-04-27 15:14] hkwweber opened #4970 "Display content of SQL query in validation result doc"
**Is your feature request related to a problem? Please describe.**
When I use a RuntimeBatchRequest to define the BigQuery data I want to read with a SQL query, there's no way for me to see what query I ran (and therefore what data was used) in the validation results doc.

**Describe the solution you'd like**
Instead of `SQLQuery` displayed in the `query` field in the validation doc, I'd like to s

[2022-04-27 22:55] cbuffett commented on #4867
I've found what looks to be another example of this issue, though occurring in a different location. It looks like the evaluation parameter being passed to `mostly` is being interpreted literally as a `dict` rather than being parsed to determine the underlying type (in this case float)

[code]

[code]

[2022-04-28 07:36] dcupif commented on #4945
Hey @lccasagrande, would love to check out what you've done. I am currently looking out for solutions for automated data quality tests, and since we are using the Glue data catalog, I can definitely relate to your post! Ideally, I would like to run expectations suite in a serverless way in Glue, pointing to datasets referenced in Glue Data Catalog. :+1:

[2022-04-28 09:22] Halpph commented on #4812
I saw another response in a similar issue, apparently the solution is to add force_reuse_spark_context =True to the execution engine.
i.e.:
`datasource_config = {
    "name": table,
    "class_name": "Datasource",
    "execution_engine": {"class_name": "SparkDFExecutionEngine",
    "force_reuse_spark_context": "true"},
    "data_connectors": {
        "default_runtime_data_connector_name": {

[2022-04-28 10:06] vatj commented on #4812
Thanks for sharing your solutions, will give it a shot again

[2022-04-28 14:12] wa255007 opened #4979 "Stack Overflow while running expectations on wide column dataset"
**Describe the bug**
 We are using spark in AWS glue jobs to run GE expectations on our data sets. Recently, the GE job started throwing Stack overflow error for one of wide datasets table containing 410 columns. The file size itself is 8kb. The job fails while persisting the data frame.  Data profiler is also getting timed out on the wide datasets.Does anyone encounter this issue with wide datase

[2022-04-29 18:04] ejstembler opened #4990 "great_expectations not found after successful pip install"
**Describe the bug**

I'm following the [Install Great Expectations and dependencies](https://docs.greatexpectations.io/docs/tutorials/getting_started/tutorial_setup#install-great-expectations-and-dependencies) step in the [Tutorial, Step 1: Setup](https://docs.greatexpectations.io/docs/tutorials/getting_started/tutorial_setup).  After `pip install great_expectations` finishes successfully, the ne

[2022-04-29 19:40] talagluck commented on #4928
Hi @vysakhdevaraj - thanks for your question. What do you mean when you say they are not working? All of those expectations should work with Spark. Do you have an error message you can share?

On another note, it appears that that you are using the V2 API, based on your use of `sparkdf_dataset`. The V2 API is no longer being actively maintained, and so I would recommend that you use the V3 API ins

[2022-04-29 19:42] talagluck commented on #4945
Thanks so much for opening this issue and providing this feedback, @lccasagrande! This sounds like an amazing contribution! Would you please open up a draft PR with it, and then we can continue the conversation there? If you have any questions or need any guidance prior to doing that, please let us know. Looking forward!

[2022-04-29 19:43] talagluck commented on #4961
Thank you for raising this, @MLGalloudec - we will review and be in touch.

[2022-04-29 19:44] talagluck commented on #4965
Thanks for raising this, @cbuffett - we will review and be in touch.

[2022-04-29 19:46] talagluck commented on #4970
Thanks for raising this, @hkwweber - we will review and be in touch.

[2022-04-29 19:48] talagluck commented on #4979
Hi @wa255007 - it appears that you are running an older version of GE on the V2 API. Is this still an issue when you run a current version of GE on the V3 API?

[2022-04-29 19:53] talagluck commented on #4990
Hi @ejstembler - I'm not able to reproduce this issue. When I run the command, the output is as expected. While it seems unlikely, is it possible you have issues with your PATH on both Windows and MacOS? When you use `pip` to install other packages with CLIs, do those work as expected?

[2022-04-29 20:40] ejstembler commented on #4990
@talagluck Those two failures were on my work MacBook Pro (with Parallels VM for Windows).

I tried installing on my personal Mac mini and Windows gaming machine... in both cases on my home machines, pip had some permission errors when trying to install one of the dependencies.  If I used `sudo` for Mac and `Run As Administrator` for Windows, pip finally finished installing without any errors and

[2022-04-30 09:10] ghost commented on #4945
@lccasagrande  very interested in this! Currently trying to integrate with glue and not having much luck...

[2022-05-01 08:32] rajnil-guha01 opened #4998 "Great Expectations throwing error after successful installation"
Hi,
I have installed great expectations using pip on my Mac OS which completes successfully. After successful installation when I try to run the command `great_expectations --version` it throws an error as below:

`ModuleNotFoundError: No module named 'scipy._lib'`

I am using below versions of Python and pip
Python: 3.8.0
pip: 22.0.4

[2022-05-01 12:50] wa255007 commented on #4979
Hi @talagluck , I'll test this with V3 API and report back the results ? As per the docs,V3 version is available in 0.13.19 and above. Please let me know if I'm missing something here.

[2022-05-02 10:28] zivshapiraintel opened #5000 "package name and directory name conflict- please change main directory name (great_expectations)"
**Is your feature request related to a problem? Please describe.**
when I develop code locally, on my laptop, I use
`import great_expectations as ge`

which works fine, including the auto-complete and help, when I highlight a chosen method.

However, once I run
`great_expectations init`

a directory with the name great_expectations is created at the same folder as my main code. From this point, th

[2022-05-02 13:46] ejstembler commented on #4990
@talagluck I was able to get it working on my work MacBook Pro after doing an `asdf reshim`

[2022-05-02 13:47] #4990 closed, assigned to nobody

[2022-05-03 03:01] wa255007 commented on #4979
Hi @talagluck , I have tried this with V3 API version great-expectations==0.13.40 but still facing the same issue of stack overflow. I have attached the sample file and sample expectation which I'm running over the glue.

[sc_shrared_raw_file_for_ge_debug.csv](https://github.com/great-expectations/great_expectations/files/8608074/sc_shrared_raw_file_for_ge_debug.csv)

![sample_expectation](https:/

[2022-05-03 03:27] lccasagrande commented on #4945
Nice to hear that, I will try to submit a PR by the end of this weekend. I was able to integrate with Glue by using both RuntimeDataConnector and InferredS3Dataconnector. When using with the Inferred connector I had to use Glue 2.0, instead of the newest version. Inn the execution engine I had to set the **force_reuse_spark_context** to True.

[2022-05-03 09:49] vysakhdevaraj commented on #4928
Hi @talagluck  Thanks for the Update!! Now It worked .

[2022-05-03 09:49] #4928 closed, assigned to nobody

[2022-05-03 12:12] dnlbunting opened #5004 "Support for DeltaLake Delta Tables"
**Is your feature request related to a problem? Please describe.**
The Delta table format https://docs.delta.io/latest/index.html is commonly used with Spark/Databricks, there is some support for it currently via the `reader_method` configuration in SparkDFExecutionEngine.  However this is of limited use because it's not possible to construct meaningful batches using the regex file name matching u

[2022-05-03 12:17] dnlbunting commented on #4692
Hey @talagluck how does this affect using self-initialising expectations to build an expectation suite with a validator object?

For example, if I create a Validator with multiple batches (with with a BatchRequest that returns multiple Batches or with the batch_request_list arg) and run

`validator.expect_table_row_count_to_be_between(auto=True)`

will this correctly consider all of the batches wh

[2022-05-03 18:00] austiezr commented on #5000
Hey @zivshapiraintel! Thanks for reaching out. Would you be able to provide some context around the workflow you're seeing this behavior with? As a general rule we would encourage calling `great_expectations init` from a working directory separate from the actual `great_expectations` package. We believe doing so should generally prevent name-space collisions of this type.

[2022-05-03 18:00] austiezr commented on #4998
Hey @rajnil-guha01 ! Thanks for reaching out. Would you be able to provide some more context around your environment, the version of Great Expectations you've installed, whether you're on an M1 mac or not, etc?

[2022-05-03 18:09] austiezr commented on #4361
Great to hear @mpolena ! I'll close out this issue for now; feel free to re-open if necessary, and feel free to reach out w/ any questions around migration!

[2022-05-03 18:09] #4361 closed, assigned to nobody

[2022-05-04 05:30] zivshapiraintel commented on #5000
Hi @austiezr, In my working directory I have python code (main.py) that imports great_expectations as ge, and uses methods, for example:

- `context = ge.data_context.DataContext(...`
- `context.save_expectation_suite(suite)`

The IDE (pycharm in my case) provides auto-complete and tooltip help (when highlighting the name of the method), as expected.

At the same directory, I need to run `great_ex

[2022-05-04 06:00] akhilnambiar29 commented on #4847
When I try the same with a date type column using **pyspark**,
[code]

I get the below error response:

` "'>=' not supported between instances of 'datetime.datetime' and 'str'"`

[2022-05-04 12:45] vysakhdevaraj opened #5012 "Great Expectations function in spark Dataset shows error"
Hi,
 As part of great expectation function execution using spark dataset , I am getting error for the function expect_column_quantile_values_to_be_between.

When I tried to execute the function with the great expectation dataset ,I am getting the following error.
sales_ge.expect_column_quantile_values_to_be_between(column='Unit price', allow_relative_error='lower', quantile_ranges={'quantiles': [0

[2022-05-04 14:02] pavanpcr opened #5013 "Creating pex file with great expectations issue"
**Describe the bug**

While building Pex file using the below command, it's throwing error as given below:

**Command:** pex -v -r requirements.txt  dist/any.whl -o dist/any.pex --disable-cache --inherit-path=fallback --platform linux-x86_64-cp-37-cp37m

**ERROR:** Could not find a version that satisfies the requirement termcolor>=1.1.0 (from great_expectations->-r requirements.txt (line 9)) (from

[2022-05-04 17:12] austiezr commented on #5012
Hey @vysakhdevaraj! Thanks for reaching out.

It looks like you're using the V2 API; under the V2 API, `expect_column_quantile_values_to_be_between` supports `allow_relative_error` as either `False` or a float between 0 and 1. Currently you are trying to pass `allow_relative_error` as `"lower"`,  which is only supported by the V3 API.

If you're interested in migrating to the V3 API, we have a [mi

[2022-05-04 17:12] #5012 closed, assigned to nobody

[2022-05-04 18:48] rdodev opened #5018 "How to instantiate a Data Context without a yml file Doc video removal"
**Describe the bug**
Video linked in this [doc](https://docs.greatexpectations.io/docs/guides/setup/configuring_data_contexts/how_to_instantiate_a_data_context_without_a_yml_file/) is no longer accurate and could cause confusion

[2022-05-04 21:46] psxmc6 opened #5025 "Azure Blob Storage: Multiple data assets"
Hello,

I have been trying to follow [this guidline](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/how_to_configure_a_configuredassetdataconnector/) to define multiple data assets for a given data source (Azure Blob Storage container). This tutorial relies on ConfiguredAssetFileSystem and so, glob_directive option is available to define data assets on multiple levels within

[2022-05-05 07:20] darkcofy commented on #3655
@cdkini any updates on this? I think this is a blocker for using the spark data source with spark 3+?

Or is there a known workaround?

[2022-05-05 09:10] bluinchiostro opened #5027 "Treatment of missing/NULL as unexpected in expectation expect_column_values_to_match_regex"
Running the expectation expect_column_values_to_match_regex verifies that the regex provided as an argument is respected by the elements of the column which, if different from strings, are transformed into strings before executing the expectation.
However, if the column contains missing, the validation result always returns 100% matching. It is understandable that where the data is not there, it c

[2022-05-05 21:21] cbuffett commented on #4867
I'm curious if these exceptions are due to disabling interactive parameter evaluation on the validator. However, with this flag enabled, a different error is thrown due to the URN not being of type `stores`

[2022-05-06 00:30] abekfenn commented on #3195
Hi @talagluck I noticed just now that in #3764 that the GE team was planning on taking a look at this back in January.

Is progress being made against this issue on the GE jira board or has this been de-prioritized? If it has been de-prioritized (as tends to happen in our world) is this the kind of feature that the GE team would be able to offer guidance on?

Our dependence on pandas for the unexp

[2022-05-06 00:44] abekfenn opened #5055 "Support for Historical Data Docs on incremental data"
**Is your feature request related to a problem? Please describe.**
Some datasets are extremely large and only change in relatively small increments over time. Currently, in order to produce data docs that illustrate the state of our expectations as it relates to the entire dataset, we must evaluate the entire dataset. However, large datasets can take a very long time to evaluate our expectations a

[2022-05-06 07:56] alexszym opened #5058 "SQLAlchemy warning when not using SQL"
**Describe the bug**
I'm using Azure Blob Storage as a backend and getting the following warning in the new version of ge 0.15.4. Don't think this warning showed up in versions prior to 0.15.

`WARNING:great_expectations.data_context.util:Something went wrong when trying to use SQLAlchemy to obfuscate URL: Could not parse rfc1738 URL from string 'BlobEndpoint=xxxxxx'`

**Expected behavior**
No war

[2022-05-06 21:11] talagluck commented on #3195
Hi @abekfenn - thanks so much for the ping, and thanks for calling this out. This is something that I've been picking up as I have time (and I don't have a lot of time). I don't think this is a huge amount of work to implement, [especially in light of the work done in this PR for `unexpected_rows` ](https://github.com/great-expectations/great_expectations/pull/3346), it's just a matter of resource

[2022-05-06 23:43] #4402 closed, assigned to nobody

[2022-05-07 00:13] mpolena commented on #4361
@austiezr Had a comment related to adding $PARAMETER to this expectation inside value_ranges now that our migration to V3 is complete. So far, I've been unable to do so despite multiple tries.  Is that a possibility? And if so, what would that look like?

[2022-05-07 12:20] rajnil-guha01 commented on #4998
Hi @austiezr , thanks for checking. I just realised there was a problem with the python version installed on my Mac. I have re-installed it and it all seems to be working fine now. I have re-installed GE and am able to use it. We can close this issue for now, if I face any other issue I will create a new one then.

[2022-05-07 17:40] andyjessen opened #5067 "Include_Config output not matching docs"
**Describe the bug**
Attempting to reproduce the [include_config example](https://docs.greatexpectations.io/docs/reference/expectations/standard_arguments#include_config) from the docs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create ge dataframe
`import great_expectations as ge`
`import pandas as pd`
`result_values = ['B', 'C', 'D', 'F', 'G', 'H', 'A', 'E', 'E', 'E', 'E', 'E']`
`df =

[2022-05-09 15:51] cbuffevant opened #5069 "Getting Started Tutorial - Failed to create a new datasource due to `AttributeError: module 'mistune' has no attribute 'BlockGrammar'`"
**Describe the bug**
I tried the Getting Started tutorial from https://docs.greatexpectations.io/docs/tutorials/getting_started/tutorial_overview, and when I tried to created a new datasource, I got the error `AttributeError: module 'mistune' has no attribute 'BlockGrammar'` while trying to create the notebook.

Looking at the dependency tree, I found that `IPython` has the following dependency, `

[2022-05-10 14:14] Shubhkishore opened #5079 "Azure Synapse temp table issues"
### Discussed in https://github.com/great-expectations/great_expectations/discussions/5078

<div type='discussions-op-text'>

<sup>Originally posted by **Shubhkishore** May 10, 2022</sup>
Hi,

I am trying to use Great Expectations with Azure synapse dedicated sql pool. I am running into issues when trying to create an expectation suite. The error is as follows:

[code]

[code]

I see that Azure sy

[2022-05-10 16:36] abekfenn commented on #3195
Hi @talagluck thanks for getting back to me. Totally understandable, my work day sounds very similar 😄. I would be grateful if we could get on a call to discuss the scope of the work. I'll reach out over Slack.

[2022-05-10 16:41] AFineDayFor commented on #2984
Howdy @ynouri.

There hasn't been any activity on this in some while, so we're going to close this issue.
If you would like to open a new one with more context, or provide a contribution which would alleviate this in some way we'd be very welcome to it indeed.

That said, we have been working on some things internally that may improve this.

[2022-05-10 16:41] #2984 closed, assigned to nobody

[2022-05-10 16:44] AFineDayFor commented on #3260
Closing, but re-open if needed.

[2022-05-10 16:44] #3260 closed, assigned to Shinnnyshinshin

[2022-05-10 16:47] AFineDayFor commented on #3512
Howdy @donaldheppner,

As this currently isn't an issue any longer, we're going to go ahead and close this. Thank you very very much for reporting it.

[2022-05-10 16:47] #3512 closed, assigned to nobody

[2022-05-10 16:49] AFineDayFor commented on #3479
howdy @edjoesu, thanks for raising this 🎉

This has been addressed, and we're going to go ahead and close this issue. thank you very much for bringing it to us.

[2022-05-10 16:49] #3479 closed, assigned to nobody

[2022-05-10 16:53] AFineDayFor commented on #3447
Howdy @cr4zy-C 🎉

I'm going to close this due to it's age. If you would like, provide a contribution we encourage you to do so 😄

[2022-05-10 16:53] #3447 closed, assigned to nobody

[2022-05-10 16:57] AFineDayFor commented on #3415
Howdy @edjoesu,

Thanks again for the issue and being present with us in the community 😄

I'm going to close this because it's already on the roadmap.

[2022-05-10 16:57] #3415 closed, assigned to nobody

[2022-05-10 17:01] AFineDayFor commented on #3405
Howdy @dz-1, thank you for your contribution and raising this for us 🎉

Closing because resolved in #3408

[2022-05-10 17:01] #3405 closed, assigned to nobody

[2022-05-10 17:03] #3435 closed, assigned to nobody

[2022-05-10 17:07] #2004 closed, assigned to nobody

[2022-05-10 17:14] AFineDayFor commented on #2582
Howdy @tomas-sobotik , closing this issue here; however, can you open one in the repo for the project it's self [great-expectations/great_expectations_action](https://github.com/great-expectations/great_expectations_action)

[2022-05-10 17:14] #2582 closed, assigned to nobody

[2022-05-10 17:15] AFineDayFor commented on #2606
Closing due to inactivity, if it's an issue in v3 please open a new issue with context.

[2022-05-10 17:15] #2606 closed, assigned to nobody

[2022-05-10 17:17] #2676 closed, assigned to nobody

[2022-05-10 17:18] AFineDayFor commented on #2701
Closing, but please open a new issue for v3 if needed.

[2022-05-10 17:18] #2701 closed, assigned to nobody

[2022-05-10 20:09] austiezr commented on #4998
Thanks for the update @rajnil-guha01 ! 🚀

[2022-05-10 20:09] #4998 closed, assigned to nobody

[2022-05-11 05:42] Shubhkishore commented on #5079
I connected with the Microsoft support team about the `tempdb.pdw.INFORMATION_SCHEMA_COLUMNS` not being present in the user database. They said this object is only present in the master database and not in the user database.

Does that mean we would not be able to add column-level expectations in a user database?

[2022-05-11 11:01] Shubhkishore commented on #5079
It seems like the issue is only with V2 API and not in the V3 API. I was able to add expectation suite using the V3 API.

I wanted to use GE in Airflow but we are currently using a version 1.x
Does that mean the great expectations operator for Airflow will not work with V3 API?  Compatibility notes mentioned over [here](https://docs.greatexpectations.io/docs/deployment_patterns/how_to_use_great_ex

[2022-05-11 13:07] PriyankaG1993 commented on #3540
Hello Guys, New to Great Expectations... Just had a question here, so this code is only to connect with BQ data and not to get the validation result?

Can I get the code for having validation result? I want to create a utility where I will read data from BQ and then create some expectations and get the validation result

[2022-05-13 20:04] keerthiis commented on #4945
@lccasagrande  - We are also very interested in this and are trying to integrate with Glue. Would love to contribute !

[2022-05-15 06:19] lccasagrande commented on #4945
@talagluck I have just opened a PR to add support to Glue Data Catalog (#5123). Lemme know if I need to change or fix anything.

[2022-05-15 07:01] darkcofy commented on #4945
@lccasagrande  thanks for the suggestion to drop to glue2.0.  would it be possible to share a snippet of the config for the data connector object in the data config? I'm not sure about force reuse spark context

[2022-05-17 07:03] bluinchiostro opened #5138 "Improved organization of query stores"
**Problem statement**
Query stores are very useful for dynamically passing a set as an evaluation parameter. However, writing queries to the yml file configuration document makes this file less readable when there are many queries.

**Proposed solution**
It would be desirable to be able to configure the query store the same way a suite is configured, for example, with one or more separate files, c

[2022-05-17 15:56] sdeepak09 commented on #2234
Hi Team,
Thank you for this amazing library, it is super helpful.
But I am still facing this issues with 0.15.5 using Pandas for expect_column_pair_values_A_to_be_greater_than_B expectation. @talagluck Please help.

![image](https://user-images.githubusercontent.com/22212419/168855633-43143957-108a-411d-8aa9-cfb4c54dc196.png)

[2022-05-17 18:53] Shubhkishore opened #5143 "Add datasource using auth tokens"
**Is your feature request related to a problem? Please describe.**

Adding a new data source using auth tokens
For example, adding a mssql datasource (azure synapse sql) using Azure AD token. Something similar to [this](https://stackoverflow.com/questions/57193301/pass-azure-ad-token-for-azure-sql-db-in-pre-connection-arguments-to-sqlalchemy-c/57193499#57193499).

**Describe the solution you'd lik

[2022-05-18 02:42] lccasagrande commented on #4945
Hey @alfredHerdwatch, happy to help. If you want, you can create a new thread in stack overflow and we can discuss more there. I will share a snippet with you asap.

[2022-05-18 08:13] paololucchino opened #5149 "ConfigNotFoundError when instantiating DataContext with context_root_dir"
**Describe the bug**
The DataContext allows instantiating from a user-defined [context_root_dir](https://github.com/great-expectations/great_expectations/blob/5adf91121d49ce3144a1b4ccaa5ac58c00a99373/great_expectations/data_context/data_context/data_context.py#L314). The in-code documentation indicates this should be [the parent folder containing the great_expectations folder](https://github.com/g

[2022-05-18 08:28] paololucchino commented on #3367
I'm getting the same error from a different function call

Here is some code, my guess to what the issue is and how I am working around it. A proper solution would be better though! =)

ge version 0.15.5

![Screen Shot 2022-05-18 at 10 27 06 AM](https://user-images.githubusercontent.com/14344614/168994070-c18dc3f4-6c9f-4d54-a65a-adb077c59e81.png)

[2022-05-18 15:39] sravantit25 opened #5151 "Outdated Data Docs link appear in Slack notifications"
Hi,

In the Slack notifications that come up after a Checkpoint run,  I see that the link to the documentation in the generated message is outdated/doesn't work.

Snippet of the link from the message:

Learn how to review validation results in Data Docs: https://docs.greatexpectations.io/en/latest/guides/tutorials/getting_started/set_up_data_docs.html

[2022-05-18 16:59] darkcofy commented on #4945
https://stackoverflow.com/questions/72293200/great-expectations-v3-api-in-aws-glue-3-0  @lccasagrande  TIA!

[2022-05-18 19:23] austiezr commented on #5151
Hey @sravantit25 ! Thanks for raising this; we will review internally and get back to you.

[2022-05-18 19:39] austiezr commented on #5149
Hey @paololucchino ! Thanks for reaching out here. We're reviewing internally and will be in touch.

[2022-05-18 19:39] austiezr commented on #5143
Hey @Shubhkishore ! Thanks for raising this. We're discussing internally how best to move forward on this; we'll be in touch with further guidance!

[2022-05-18 19:40] austiezr commented on #5138
Hey @bluinchiostro ! Thanks for raising this. We'll discuss internally and be in touch.

[2022-05-19 08:24] holaluz-josep-martinez opened #5160 "`expect_column_max_to_be_between` unexpected exception with `PandasDataset`"
**Describe the bug**
Hi,

I'm running some validations over an in-memory `PandasDataset`. Two of them are `expect_column_min_to_be_between` and `expect_column_mmax_to_be_between`, and they raise a `TypeError` exception
[code]
even if the column dtype and `min_value` and `max_value` are pandas Timestamp (`datetime64[ns]`) or `datetime`  objects.

I have tried to use the `parse_strings_as_datetimes`

[2022-05-19 16:32] austiezr commented on #5160
Hey @holaluz-josep-martinez ! Thanks for reaching out. We'll review internally and be in touch.

[2022-05-19 21:29] jordan-carson commented on #1261
We should be able to use separate yamls for each key - datasources, stores, data_docs site etc.

[2022-05-20 10:01] lopamudra04 commented on #4106
Hello, Is there any update on this open issue?
I am trying GE installation on Composer 1 and it is failing due to similar error

[2022-05-20 16:15] AFineDayFor commented on #2715
Howdy @kconvey,

Currently this is in the road-map, we're going to go ahead and close this for now. We will be very public when it's released. Make sure to check out the community meetups as well!

[2022-05-20 16:15] #2715 closed, assigned to nobody

[2022-05-20 16:24] AFineDayFor commented on #2739
Howdy @Zoynels, we're going to go ahead and close this; however, feel free to submit a contribution at any time, we'll always be glad to review it!

[2022-05-20 16:24] #2739 closed, assigned to nobody

[2022-05-20 16:29] AFineDayFor commented on #3589
Howdy @NathanFarmer , cleaning up and closing this. have a lovely day!

[2022-05-20 16:29] #3589 closed, assigned to nobody

[2022-05-20 16:31] AFineDayFor commented on #2841
Howdy @y-nakashima0324, closing this as we haven't gotten an update. If it's still a problem, please open a new issue.

[2022-05-20 16:31] #2841 closed, assigned to nobody

[2022-05-20 16:32] AFineDayFor commented on #2861
closing, we can't prioritize oracle at this time.

[2022-05-20 16:32] #2861 closed, assigned to nobody

[2022-05-20 16:39] AFineDayFor commented on #2880
Howdy @HustDolphin29598. We're closing this at the time as it's not a focus of the main team, and we haven't seen any rally behind it. As BQ has changed since, and so have we; if this is still an issue please open a new ticket for us to review.

[2022-05-20 16:39] #2880 closed, assigned to nobody

[2022-05-20 16:40] #2929 closed, assigned to nobody

[2022-05-20 16:42] #2931 closed, assigned to nobody

[2022-05-20 16:46] talagluck commented on #2957
Linked to #4490

[2022-05-21 20:36] mpolena opened #5174 "Runtime rendering error in `parse_row_condition_string_pandas_engine` function associated with row_condition $PARAMETER parsing"
**Describe the bug**
When running the following expectation:
` {

      "expectation_type": "expect_column_values_to_not_be_null",

      "kwargs": {

        "catch_exceptions": true,

        "column": "VALUE_NUMERIC",

        "condition_parser": "pandas",

        "result_format": {

          "result_format": "COMPLETE"

        },

        "row_condition": {

          "$PARAMETER" : "numeri

[2022-05-24 17:17] jordan-carson commented on #2340
ideally, we should be able to customize the schema. For example we have 3 different databases, and data in s3. would be great to use [collection].[schema].[asset_name] i.e. s3.testing.prices, rds_ge.testing.prices - to properly identify the source collection. We could use different expectation suites to handle this.

[2022-05-25 12:35] Tasbeeh-Jaradat commented on #2201
If I want to read text files what is (reader_method:  ) for that? "txt" did not work

[2022-05-25 15:40] rdodev commented on #5174
Hey @mpolena taking a look here. Firstly, conditional expectations are presently in 'experimental' state, which means we suggest exercising extreme caution when using against production data. Secondly, `row_condition` should be a string value ([docs](https://docs.greatexpectations.io/docs/reference/expectations/conditional_expectations)), not an object even if it seems to be working somehow.

[2022-05-25 21:11] nzqs opened #5200 "Slow performance for connecting S3 data sources with large number of objects"
**Is your feature request related to a problem? Please describe.**
Inferred and Configured data asset connectors are very slow when connecting to an s3 bucket and prefix with a large number of objects. For a bucket with ~10m objects, it takes over 4 hours for a validator to retrieve a batch of data. I was using the Spark execution engine, but I expect the Pandas engine would be similarly slow. The

[2022-05-27 14:41] milosz-dm commented on #4658
@talagluck  - any update on it? Do you know when it can be fixed?

[2022-05-27 15:20] rdodev commented on #5200
Howdy @nzqs we appreciate the report. I will reach out to the core dev team and put this issue and suggestion up for discussion.

[2022-05-30 08:04] milosz-dm opened #5220 "Invalid behaviour of "Result Format" for validator"
**Describe the bug**
Invalid behaviour of "Result Format" for validator. Below example shows that it works well for PandasDataset, but it does not work for a validator. I tried to have only success/false information but unfortunately it does not work.

**To Reproduce**
The "Result Format" works well for PandasDataset
[code]
Output:
[code]

Unfortunately for a validator it does not work the same wa

[2022-05-30 15:26] cbuffett opened #5221 "`TableExpectation.validate_metric_value_between_configuration` throws exception when comparting dicts"
**Describe the bug**
The static method `validate_metric_value_between_configuration` has checks in place to validate that if the passed in min/max values are dictionaries, that they contain the `$PARAMETER` keyword, but then immediately attempts to compare said dictionaries using the `>` inequality operator, resulting in an exception:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Atte

[2022-05-31 23:57] thanhmt-dev opened #5224 "Oracle SQL - Create temporary table error with invalid where clause"
**Describe the bug**
During init of expectation suite, creating oracle temporary table failed with invalid relational operator.

**To Reproduce**
Steps to reproduce the behavior:
1. Init with an oracle source from sqlalchemy connection string
2. Create expectation suite, select table and select option 3. Automated using profiler
3. Error
[code]
**Expected behavior**
Work as expected

**Environment

[2022-06-01 19:33] rdodev commented on #5224
Hey @thanh-tran-techx 👋

A few questions:
1. Did you look into disabling temp tables?
2. Could you test this on a newer version of great_expectations?
3. We don't explicitly support Oracle, however, we would welcome Oracle-specific contributions from the community.

[2022-06-01 19:38] rdodev commented on #5221
Hey @cbuffett Thanks for issue report. I'll be asking the dev team about this. A question though:

* What do you mean by "In this case, interactive evaluation was disabled." Did you manually disabled it?

[2022-06-01 19:43] rdodev commented on #5220
Hey @milosz-dm thanks for report. We'll look into this and we'll get back to you.

[2022-06-01 21:00] rdodev commented on #5174
@mpolena Another alternative to consider is to create a custom expectation. However, the failure, as is, given the configuration is working as expected.

I'm going to close this issue, please feel free to reach out if you have any other questions.

[2022-06-01 21:00] #5174 closed, assigned to nobody

[2022-06-01 21:06] rdodev commented on #5200
Hey @nzqs I believe my colleague @austiezr recommended using `ConfiguredAsset` as opposed to to `InferredAsset`. Did you have a chance to try this? Also we would appreciate if you can share your configs so we can better diagnose the issue.

[2022-06-01 23:34] cbuffett commented on #5221
Correct. It was disabled using `validator_target.interactive_evaluation = False`. This is necessary, otherwise an exception is thrown because the evaluation parameters haven't actually been created in memory yet (this happens when running the checkpoint later on I believe). This is called out in Step 3 of https://docs.greatexpectations.io/docs/guides/expectations/advanced/how_to_create_expectation

[2022-06-02 00:45] thanhmt-dev commented on #5224
I'm quite new to the lib, and still following the get started guide. I'm using the latest version of great_expectations.

I replaced this piece of code in the file `sqlalchemy_batch_data.py`, line 147
`query = str(selectable).replace("WHERE true", "WHERE 1=1")`

Apparently `WHERE true` is not a valid SQL condition in Oracle.
The profiling work fine for now. Will report if any further bug occurs.

[2022-06-02 14:24] rishabhsahrawat commented on #5027
"It is understandable that where the data is not there, it cannot conflict with the regex"
Is it true in case of Great Expectations or in general?

[2022-06-02 14:32] rishabhsahrawat opened #5232 "expect_column_values_to_match_regex skips Null(empty) column values"
**Describe the bug**
I am using **expect_column_values_to_match_regex** function with regex, ^[-+]?(\\d*[.])?\\d+$. My spark dataframe column has a mix of negative, positive, float and also no values.

**Expected behavior**
Given my regex pattern, the function should raise an error.

Any reasons why I am seeing this behaviour?
Thank you in advance!

[2022-06-02 15:27] sdebruyn opened #5233 "Documentation encourages deprecated behavior for RuntimeDataConnector"
The current version of the [documentation for RuntimeDataConnector](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/how_to_configure_a_runtimedataconnector) puts the `batch_identifier` in the config.

This is [deprecated](https://github.com/great-expectations/great_expectations/pull/4889) in 0.15.2.

As a new user it is unclear what I have to change and how it impacts me. Ple

[2022-06-02 16:33] #5224 closed, assigned to nobody

[2022-06-02 17:02] AFineDayFor commented on #5232
Howdy @rishabhsahrawat, thanks for reaching out and being a part of the community 🎉

The regular expression ( `^[-+]?(\d*[.])?\d+$` ) is valid in that it runs can capture positive and negative floats, and ints. Can you elaborate on why this is to fail in this case?

For us to further look into this, can you share your current configuration or workflow.

🙇

[2022-06-02 21:15] AFineDayFor commented on #5233
Howdy @sdebruyn, thank you very much for raising this with us 🎉

[2022-06-03 08:01] flaneur-ml opened #5237 "Multi-column great expectations"
**Is your feature request related to a problem? Please describe.**
I am struggling with including the multi-column great-expectations for my current projects. For instance, given a list of columns I want to check if each next column values are higher than the values in previous one. Is the any way it can be implemented through custom expectations? In the documentation only the templates for one-co

[2022-06-03 14:59] mkopec87 commented on #4812
I observed similar symptoms. The problem was that you create your Spark dataframe using SparkContext created in the beginning of the file. Later, when you create Data Context, the Spark session is created again, and it doesn't have the reference to your dataframe.

I solved it via creating the SparkContext via:
[code]
instead of:
[code]

[2022-06-03 15:05] Halpph commented on #4812
@mkopec87 yes, I totally agree, initially I was doing like I wrote, but then I realized that if you run for example tests in parallel, they would easily fail because they are always reusing the same spark context.
Eventually I switched to your solution, that I believe is the preferred one!
Thanks for updating this issue.

[2022-06-03 17:11] #5237 closed, assigned to nobody

[2022-06-06 16:17] abekfenn commented on #3195
### Update
I've started working on this but run into an issue that I hope to figure out soon.

I do have some questions around the API that I would like GE/community feedback on.

With the introduction of `unexpected_rows` I'm torn between calling this new result format arg, `unexpected_index_columns` or `unexpected_row_columns`. The idea being that a user should provide to this arg a list of colu

[2022-06-07 06:18] sdebruyn commented on #3089
The PR I've linked above adds support for all common Azure authentication methods for store backends

[2022-06-07 08:59] rishabhsahrawat commented on #5232
Hey @AFineDayFor ,
Thanks for your response. As I mentioned, the spark dataframe column also has no values (so basically just empty). My question is shouldn’t the regex fail since it does not have any expression for those empty/ no values?

[2022-06-08 12:39] gorikdesmetds opened #5260 "SqlAlchemy row_condition for postgressql"
**Describe the bug**
When executing row_condition for condition_parser "great_expectations__experimental__", i receive the following error message:

SyntaxError: subquery in FROM must have an alias
LINE 2: FROM (SELECT *
             ^
HINT:  For example, FROM (SELECT ...) [AS] foo.

The row_condition is 'col("STATUS")=="operational"'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'ex

[2022-06-08 14:15] colibri17 opened #5265 "Display selected columns in data docs in case of failures"
**Is your feature request related to a problem? Please describe.**
When an expectation fails, I cannot view on the dashboard (the data docs) the entire row (and not just the column value) which caused that failure. For example, if I have a failure because the maximum value of a numerical column _col1_ is over a threshold, I can see that value, but I cannot see the related _col2_ or _col3_ values.

[2022-06-09 15:52] gray-sat opened #5280 "Transient failures related to checkpoint config parsing by ruamel.yaml"
**Describe the bug**
I'm implementing some simple expectations within a foreachBatch of a spark structured streaming application. BaseDataContext is instantiated once, along with its datasource and checkpoint config, and checkpoint validations are added at runtime via the validations kwarg.

I keep getting errors related to parsing the checkpoint configuration at some point after a number of batch

[2022-06-13 09:17] honno opened #5299 "Use of deprecated `distutils.version`"
The following code uses `distutils.version` classes, which look to be deprecated.

https://github.com/great-expectations/great_expectations/blob/a57dc70f1fb6f613de78de2eb28010078e0378f9/great_expectations/marshmallow__shade/__init__.py#L24

Running code that imports ge, I get the following warning

[code]

Got this with GE versions `0.15.9` and a build of upstream `develop`. My `python` is `3.8.13

[2022-06-14 09:11] mkopec87 commented on #2214
It's still open, @talagluck maybe you can indeed close it to avoid confusion?

[2022-06-14 15:37] austiezr commented on #3766
Hey @philgeorge999! Wanted to bump this again to say that we now support this functionality at an *experimental* level. There may be some inconsistencies or unexpected behavior at this point, but you should now be able to pass a `row_condition`, with `great_expectations__experimental__` as the `condition_parser`. Formal documentation is still forthcoming, but a number of users in our Slack Channel

[2022-06-14 15:37] #3766 closed, assigned to nobody

[2022-06-14 15:39] austiezr commented on #3613
@kyleaton Bumping this for visibility; doesn't appear to have resolved.

[2022-06-14 20:06] emptyr1 opened #5314 "s3 validation html results not getting updated"
**Describe the bug**
failing to see updated site html hosted on s3 with any validations(it shows no validations at all)

**To Reproduce**
Steps to reproduce the behavior:
See `great_expectation.yml` file below

**Expected behavior**
Html hosted on s3 to be updated

**Environment (please complete the following information):**
 - osx
 - great_expectations==0.15.8
 - airflow 2.2.2

**Additional conte

[2022-06-14 21:01] wilson-mok commented on #2577
@alexszym @madmaxlax Thank you for posting this solution and confirmation. I tested out 0.1.4.13 and it works in Synapse.

Have you guys try upgrading to anything newer than 0.14.13? I tried to use version 0.15.9 but I am getting the same Promise error.

[2022-06-15 03:56] kenwade4 commented on #5265
Hello @colibri17 thank you very much for raising this request. We are not going to be able to modify this behavior for the foreseeable future. As a workaround, you should be able to parse the validation results JSON.

[2022-06-15 04:01] kenwade4 commented on #5280
Hello @gray-sat thanks for reaching out. Can you tell us what happens if you load the checkpoint in memory (i.e. don't add the checkpoint to the store). You should be able to do checkpoint.run and pass in the batch request. After talking with the team, the combo of doing things in memory and saving things doesn't seem quite right.

[2022-06-15 12:23] kenwade4 commented on #5299
Hello @honno, thanks for bringing this to our attention. The code in there is actually an old version of marshmallow we forked due to error/incompatibility with the newer versions at the time. We will be testing the latest version of marshmallow in the coming weeks and move to that if it works.

[2022-06-15 15:56] austiezr commented on #5260
Hey @gorikdesmetds ! Thanks for reaching out. Are you able to share some more information about your environment (Windows edition, SQLAlchemy version, backend), as well as the full expectation configuration? That will help us better understand what may be happening here.

[2022-06-15 15:58] austiezr commented on #5314
Hey @emptyr1 ! Thanks for surfacing this; we'll review internally and be in touch.

[2022-06-15 17:02] ejmoll opened #5315 "Running the OnboardingDataAssistant raises error."
**Describe the bug**
When I try to run the OnboardingDataAssistant (third cell) of the 'Initialize a new Expectation Suite by profiling a batch of your data' notebook, I get the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. In command line, run 'great_expectations suite new'
2. Create expectation suite through option 3: Automatically, using a profiler
3. Select a d

[2022-06-15 19:51] austiezr commented on #5315
Hey @ejmoll ! Thanks for surfacing this; we'll review internally and be in touch.

[2022-06-16 01:45] frammnm commented on #2577
@wilson-mok im having the same problem in 0.15.9 also in Synapse.

[2022-06-16 09:35] ejmoll commented on #5315
@austiezr Thanks, looking forward for your reply :)

[2022-06-16 15:17] gray-sat commented on #5280
Thanks for the response @kenwade4. If I understand what you mean by defining the checkpoint in memory, then it looks something like this:

[code]

So far, this is working. This pattern strikes me as odd in that the only value which is changing per batch is the checkpoint validations to be run -- i.e. only the batch request is changing. Seems that the context should be able to handle loading the ch

[2022-06-16 19:26] #4365 closed, assigned to nobody

[2022-06-16 23:55] abegong opened #5332 "Expectation `auto` flag fails because `data_context` is None?"
**Describe the bug**
[A clear and concise description of the bug.](https://www.loom.com/share/dd7a2b760f66420dacfd96f32d8c52f1)

**To Reproduce**
Steps to reproduce the behavior:

From the `experiment/lite-data-context` branch (This will spare you a lot of DataSource setup.):
[code]

Contents of `A.csv`:

Here's the traceback:
[code]

**Expected behavior**
I expect it to not crash.

**Environment

[2022-06-17 09:25] nikdotcodes opened #5333 "Directory values in DataContext object not compatible in Windows"
**Describe the bug**
When getting an object from a DataContext object (i.e. `get_checkpoint()`) in a windows environment it raises an `InvalidKeyError` and `FileNotFoundError` due to the concatenation of a Path (with `\\` seperators) with the "Base_Directory" key in DataContext object (has `/` seperator)

**To Reproduce**
[code]

**Actual behaviour**
[code]
Notice the ``\\checkpoints/run_checkpoin

[2022-06-17 13:52] agorji opened #5335 "Parameterised queries in the RuntimeBatchRequest"
**Is your feature request related to a problem? Please describe.**
Working with SQL databases, there are some scenarios in which a runtime batch request query needs to be dynamically modified based on variables like the date you are validating an expectation for. The fact that, as far as I know, the query used for a RuntimeBatchRequest should be deterministically specified makes it almost impossib

[2022-06-17 16:08] #3600 closed, assigned to nobody

[2022-06-17 16:09] #3609 closed, assigned to nobody

[2022-06-17 16:09] kenwade4 commented on #3609
This was fixed a couple months ago

[2022-06-17 16:17] kenwade4 commented on #2709
This seems to be a configuration issue. We are going to work on improving the error messaging around this so that the actual problem is more clear.

[2022-06-17 16:17] #2709 closed, assigned to nobody

[2022-06-17 16:18] #3511 closed, assigned to nobody

[2022-06-17 16:23] kenwade4 commented on #2770
A lot of this code has changed in the last 6 months, so this may be simpler to implement/resolve. Please let us know if this is not the case and open a new issue.

[2022-06-17 16:23] #2770 closed, assigned to nobody

[2022-06-17 16:27] kenwade4 commented on #2823
This is on the road map but you can accomplish some of this with [evaluation parameters](https://docs.greatexpectations.io/docs/reference/evaluation_parameters/)

[2022-06-17 16:27] #2823 closed, assigned to nobody

[2022-06-17 16:29] kenwade4 commented on #3199
https://aws.amazon.com/about-aws/whats-new/2021/11/amazon-aurora-mysql-8-0/

If you are still having this issue, see if you can update your Aurora instance

[2022-06-17 16:29] #3199 closed, assigned to nobody

[2022-06-17 16:32] kenwade4 commented on #3760
@xudong-sph were you able to attempt what you were trying before in a more straightforward way? Is this still an issue?

[2022-06-17 16:32] #3559 closed, assigned to nobody

[2022-06-17 16:34] #3772 closed, assigned to nobody

[2022-06-17 16:38] kenwade4 commented on #3416
@edjoesu There was some improvement to the AssertionErrors shown in this merged PR https://github.com/great-expectations/great_expectations/pull/5239

[2022-06-17 16:38] #3416 closed, assigned to nobody

[2022-06-17 16:40] kenwade4 commented on #3665
@bhcastleton A JIRA ticket has been added to update the issue

[2022-06-17 16:40] #3665 closed, assigned to nobody

[2022-06-17 16:45] kenwade4 commented on #2768
@marzlevane Is this still an issue when using v3 of Great Expectations?

[2022-06-17 16:56] kenwade4 commented on #3835
https://docs.greatexpectations.io/docs/terms/datasource/#no-unexpected-modifications

[2022-06-17 16:56] #3835 closed, assigned to nobody

[2022-06-17 18:47] JeroenSchmidt commented on #2823
Thanks for the resource @kenwade4  :)

[2022-06-19 09:09] aezomz opened #5341 "Unable to return string function of trino.sqlalchemy.datatype.DOUBLE"
**Describe the bug**
A clear and concise description of what the bug is.
Unable to parse Trino DOUBLE() data type due to no str function.
On this line of code
https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/rule_based_profiler/helpers/simple_semantic_type_filter.py#L125

**To Reproduce**
Steps to reproduce the behavior:
1. great_expectations suite new --pro

[2022-06-19 09:26] aezomz commented on #5341
Ohh, i found the solution. Is to use compile with dialect specified directly, which will return the string version of the datatype.

I will create PR after I am done testing with Trino. To see if there is anymore fixing needed to run a MVP.

Below is the solution if your interested...
[code]

[2022-06-20 14:10] bluinchiostro opened #5345 "Deprecation warning with dates in expect_column_values_to_be_between"
**Problem statement:**
Using expect_column_values_to_be_between in order to check the range of dates, with the parameter: "parse_strings_as_datetimes", it returns DeprecationWarning: The parameter "parse_strings_as_datetimes" is deprecated as of v0.13.41 in v0.16. As part of the V3 API transition, we've moved away from input transformation.

I expect it to check dates even when encoded as strings,

[2022-06-20 14:19] joar opened #5346 "Older version of pip leads to incompatible dependencies"
**Describe the bug**
A sequence of events lead to older versions of `pip` installing the wrong version of `mistune`.

**To Reproduce**
Steps to reproduce the behavior:
Install great-expectations using an older version of pip:
[code]
end up with a version of `mistune` that's incompatible with `nbconvert`'s requirement. `nbconvert` is a dependency of `great-expectations` via `notebook`.
[code]

**Ex

[2022-06-21 06:51] razido1 opened #5347 "Expectation on Snowflake starts with schema scan"
### Discussed in https://github.com/great-expectations/great_expectations/discussions/5343

<div type='discussions-op-text'>

<sup>Originally posted by **razido1** June 19, 2022</sup>
When running great expectation on Snowflake with SqlAlchemyExecutionEngine, before the validations starts, there is a scan of all the schemas in the given DB:
It starts with
`SHOW /* sqlalchemy:get_schema_names */ SC

[2022-06-21 12:07] alexszym commented on #3089
Would love to see this merged

[2022-06-21 13:45] andycarter85 commented on #5069
I had the same issue, had to `poetry add mistune==0.8.4` to resolve

[2022-06-22 14:41] chalond opened #5364 "Data docs html files are not created while using azure blob as a validation store"
**Describe the bug**
While using azure blob as a validation store, html files under data_docs/local_site/validations are not created.
The same issue appears if the data docs are configured to be stored in blob.

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize great_expectations
2. Change great_expectations.yml config according to the code below.
3. Create and run a new expectation

[2022-06-22 14:59] nzqs commented on #5200
Hey @rdodev! Thanks for looking at this. I gave the `ConfiguredAssetS3DataConnector` a go and the performance is similarly poor when pointing to keyspaces with a large number of objects, probably due to making many boto list object calls to paginate through objects.
Here's the environment I was running on. Let me know if there any specific configs the team needs
GE version 15.3
[Databricks runtime

[2022-06-22 15:58] AFineDayFor commented on #5364
Howdy @chalond 👋  thanks for raising this 🙇

Can you please share your workflow for executing the checkpoint configuration please?

[2022-06-22 16:07] AFineDayFor commented on #5346
Howdy @joar :wave: thank you for raising this with us :bow: we'll bring this up with this team.

If you follow the guide [How to install Great Expectations locally](https://docs.greatexpectations.io/docs/guides/setup/installation/local) you may get this over the line as well.

[2022-06-22 16:18] AFineDayFor commented on #5341
Howdy :wave: thank you very much for raising this and taking charge @aezomz :bow:

[2022-06-22 19:18] #5346 closed, assigned to nobody

[2022-06-23 06:43] chalond commented on #5364
Hi @AFineDayFor
in CLI: `great_expectations checkpoint new my_name`
in notebook: kept everything default (only uncomment `context.run_checkpoint(checkpoint_name=my_checkpoint_name)`) and run

then what happens: checkpoint yml is created locally, validation json file is created in azure storage, html doc is not created.

If i try in CLI: `great_expectations -v docs build ` then input `Y` then I got

[2022-06-23 16:45] #5347 closed, assigned to nobody

[2022-06-23 16:47] AFineDayFor commented on #5345
Howdy @bluinchiostro , thanks for raising this :bow: we'll raise it with the team 🔬

[2022-06-23 16:49] AFineDayFor commented on #5335
Howdy @agorji :wave: thank you oodles for raising this with us :bow:

We'll raise this with the team; however, this would be a contribution we would love to review.

[2022-06-23 16:52] AFineDayFor commented on #5333
Howdy @nikdotcodes :wave: thanks for raising this with us; we'll bring it up with the team :bow:

As GE is recommended to be ran on an Unix environment, rather than the NT kernel; are you able to produce a similar result on a Unix machine or is a hypervisor or container an option as well?

[2022-06-23 17:46] tchung555 opened #5371 "Unable to create User DSN as Datasource"
When creating new datasource, the process did not seem to finish and got stuck.  I had to press Ctrl+C to quit the process and no datasource was created.  I copied the process and pasted in the **To Reproduce** section below.

**To Reproduce**
(.venv) PS C:\Users\XXXXX\ge_webinar_demo> great_expectations datasource new
Using v3 (Batch Request) API

What data would you like Great Expectations to co

[2022-06-23 18:46] stefannica opened #5373 "Cannot delete data source with BaseDataContext"
**Describe the bug**
I set up a data context object that is not backed by a YAML file, as explained [in the docs here](https://docs.greatexpectations.io/docs/guides/setup/configuring_data_contexts/how_to_instantiate_a_data_context_without_a_yml_file/). Adding a new data source works fine. However, deleting that same datasource fails because the store expects to find a `_save_project_config` method

[2022-06-23 21:06] AFineDayFor commented on #5332
Howdy Gabe 👋 Thanks for raising this with us 🙇

We'll raise this with the team 🔬

At this time it may not be required in troubleshooting; however, the contents of `A.csv` are indicated to be included but were not. Just to confirm is that a normal CSV with headers?

[2022-06-23 21:07] AFineDayFor commented on #5373
Howdy @stefannica :wave: thank you for raising this with us :bow:

We'll bring this up with the team. We greatly appreciate you making us aware.

[2022-06-23 21:10] #5345 closed, assigned to AFineDayFor

[2022-06-23 21:15] AFineDayFor commented on #5371
Howdy @tchung555 :wave: thank you for raising this with us :bow:

We'll bring it up with the team 😄

[2022-06-23 21:34] stefannica commented on #5373
I tried with 0.15.11 and this seems to have been fixed by making the exception a warning:

[code]

From my point of view, this means that the issue is resolved. Feel free to close if the warning makes sense.

[2022-06-23 23:35] tchung555 commented on #5371
Actually, I was able to continue and setup via Jupyter notebook but not able to connect to my Amazon Redshift ODBC DSN that I created.  Looks like the SQLAlchemy default code is trying to run the "SQL: SELECT schema_name()" for the test but I believe this is not a valid SQL query for Amazon Redshift.  Below is the log when I ran context.test_yaml_config(yaml_config=example_yaml):

Attempting to in

[2022-06-24 05:49] tchung555 commented on #5371
Basically I would like to connect using the Redshift User DSN created.
![image](https://user-images.githubusercontent.com/108089010/175471003-fb35a94e-e5a0-4863-9c3f-3df251a8e79a.png)

[2022-06-24 06:42] tchung555 commented on #5371
I was able to connect using pyodbc and panda though:
![image](https://user-images.githubusercontent.com/108089010/175478017-0c1a9568-573e-46a5-80ee-49a2f3bd7fb7.png)

[2022-06-24 08:24] sp1thas opened #5378 "`UpdateDataDocsAction` takes too long"
**Describe the bug**
I was wondering why `UpdateDataDocsAction` takes so long. In my case, it takes ~20min to run this action. Currently, there are ~1200 runs already stored in the GCS bucket. Is this somehow related to the HTML re-indexing?

**To Reproduce**
Steps to reproduce the behavior:
1. Create DataDocs with more than 1K run records.
2. Add `UpdateDataDocsAction` in the action list.
3. Run

[2022-06-24 08:33] chalond commented on #5364
This might be related to `run_name_template` value in checkpoint_name.yml file or how the paths are handled.

If this value exceeds some number of characters then similar issue appears also for default local setup of stores.
Eg. `run_name_template: '%Y%m%d-%H%M%S-my-run-name-template1234'` leads to no creation of html files and a CLI command `great_expectations -v docs build` leads to _No such fil

[2022-06-24 11:05] milosz-dm opened #5379 "Missing unexpected_index_list in expectation results for ge_validator.validate() command"
**Describe the bug**
unexpected_index_list is missing in expectation results for `ge_validator.validate()` command. It works for `ge_validator.expect_multicolumn_sum_to_equal` command, but later on it does not work for `ge_validator.validate()` command.

**To Reproduce**
Steps to reproduce the behavior:
[code]

`empty_error.json` file:
[code]

Additional data source in `great_expectations.yml`:
[c

[2022-06-24 15:57] abegong commented on #5332
Oops, my mistake. Yes, it's just a basic CSV

[2022-06-24 19:16] AFineDayFor commented on #5379
Howdy @milosz-dm :wave: thanks for raising this :bow:

We'll raise it to the team for review 🔬

[2022-06-24 19:18] AFineDayFor commented on #5378
Howdy @sp1thas :wave: thank you for raising this with us :bow:

We'll raise it with the team :microscope:

If you'd like to provide a contribution that would impact this performance it would be greatly appreciated 👍

[2022-06-25 19:59] damnknife opened #5388 "'mostly' kwarg not working on expect_compound_columns_to_be_unique"
I can't use the mostly kwarg on expect_compound_columns_to_be_unique expectation, the status returns as failed even when the fail ratio is below the set mostly argument. I did some checks and found out the MulticolumnMapExpectation class doesn't accept a 'mostly' argument. Is this the expected behavior? Is there a reason for this?

[2022-06-26 11:42] KentonParton opened #5389 "UserConfigurableProfiler - Memory Usage exceeds 8GB for large datasets"
**Describe the bug**
While running the UserConfigurableProfiler, we regularly experienced OOM exceptions, killing our pods.

We have replicated the issue locally in a docker container against the Snowflakes TPCH sample data. Starting with tpch_sf1.lineitem, the memory usage reached 1.6GB, tpch_sf10.lineitem memory usage reached 4GB and did not complete.

As the dataset increases, tpch_sf10.lineite

[2022-06-26 19:07] alexszym commented on #2577
@wilson-mok @frammnm Same workaround is still working for me on 0.15.11

[2022-06-27 16:00] AFineDayFor commented on #5388
Howdy @damnknife :wave: thanks for reaching out and raising this with us :bow:

Can you share your configuration and/or workflow that is invoking [expect_compound_columns_to_be_unique](https://greatexpectations.io/expectations/expect_compound_columns_to_be_unique#examples) so we can review this further :microscope:

[2022-06-27 16:09] AFineDayFor commented on #5364
Howdy @chalond,
The error `The specified blob does not extist` appears to be raised from Azure it's self, I understand you have to sanitize some information; however, does your reference contain something that may be getting encoded incorrectly?

[2022-06-27 16:15] AFineDayFor commented on #5335
Howdy @agorji :wave: we're going to go ahead and close this as we're either gleefully awaiting your contribution, or alternative methods such as programmatically updating the store are available. Feel free to open a new issue with more information if you see fit. :bow:

[2022-06-27 16:15] #5335 closed, assigned to AFineDayFor

[2022-06-27 16:18] AFineDayFor commented on #5373
LGTM :bow:

[2022-06-27 16:18] #5373 closed, assigned to AFineDayFor

[2022-06-27 21:14] wilson-mok commented on #2577
Thx you for the update and can confirmed that 0.15.11 works!

[2022-06-27 21:37] OmarSultan85 commented on #3195
Hello @abekfenn

Sorry I just saw this post must have missed the notification. With regards to the naming convention, I believe what you are leaning towards sounds reasonable and can be easily understood.

I like the idea of having a subset of the columns along with the PK, could be helpful in some usecases.

As for including it in the same list or returning a new validation result, I believe a va

[2022-06-28 10:39] francoiswessels opened #5395 "Athena Batch Request fails with MetricResolutionError: 'Select' object has no attribute '_simple_int_clause'"
**Describe the bug**
After following the tutorials to create an Athena Data Source, when I work through the Expectation Suite tutorial notebook, the first cell of code fails with:

[code]
... raising a KeyError exception as follows:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the Setup process: https://docs.greatexpectations.io/docs/guides/setup/setup_overview, create a ne

[2022-06-28 13:45] sdebruyn opened #5397 "Arguments for custom connectors (plugins) are stripped from the config"
**Describe the bug**
The docs [describe](https://docs.greatexpectations.io/docs/terms/plugin/) that you can build your own custom connectors and include them in your config.

When you create your own connector, you face 2 issues related to validations that don't hold this behavior into account:

* Arguments cannot be named similarly to internal connectors. E.g. you cannot use the argument `default

[2022-06-28 14:13] LeRouxVisser commented on #5058
Im getting the same error when using TupleAzureBlobStoreBackend

[2022-06-28 16:15] damnknife commented on #5388
I never fully implemented it, it returned a success while I was testing on the new suite jupyter notebook and since I was using a SQL connector I just selected a concat with the columns I wanted to use as a compound key, and it worked just fine.
I tested it with an text file and It returns False even in the mostly range:

Expectation suite:

[code]

I get a False in the json's 'success' key in the

[2022-06-28 21:34] riwim commented on #4490
I can reproduce the described bug with the current great_expectations version 0.15.11 (and SQLAlchemy 1.4.39) as well.

Can anyone say something about the contradiction shown above with *pybigquery*?
On the one hand:
[code]

But on the other hand after _pybigquery_ has been installed:
[code]

[2022-06-29 11:41] Tasbeeh-Jaradat opened #5405 ""psycopg2.errors.UndefinedColumn" is faced when using expect_compound_columns_to_be_unique"
**Describe the bug**
I'm using GE with postgresql.
When I used "expect_compound_columns_to_be_unique" exception, I faced this exception:

      **
      expect_compound_columns_to_be_unique raised an exception:
      psycopg2.errors.UndefinedColumn:
      column original_table_clause.total_billing_printed_a3_imps_length_counter_start_sessio_1 does not exist
      HINT: Perhaps you meant to referen

[2022-06-29 11:45] Tasbeeh-Jaradat opened #5406 "psycopg2.errors.UndefinedColumn is faced when using expect_compound_columns_to_be_unique"
**Describe the bug**
I'm using GE with postgresql.
When I used "expect_compound_columns_to_be_unique" exception, I faced this exception:

        expect_compound_columns_to_be_unique raised an exception:
        psycopg2.errors.UndefinedColumn:
        column original_table_clause.total_billing_printed_a3_imps_length_counter_start_sessio_1 does not exist
        HINT: Perhaps you meant to referenc

[2022-06-29 14:40] AFineDayFor commented on #5388
Howdy @damnknife :wave:, thanks for the update :bow:

Can you share the full trace if it did indeed produce one?

[2022-06-29 14:46] AFineDayFor commented on #5389
Howdy @KentonParton :wave: thanks for raising this with us :bow:

We'll raise it with the team :microscope:

That said, the article for [splitting and sampling tables](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/advanced/how_to_configure_a_dataconnector_for_splitting_and_sampling_tables_in_sql) may help you get this over the line :cherry_blossom:

[2022-06-29 15:16] AFineDayFor commented on #5397
Howdy @sdebruyn :wave: thanks for raising this with us :bow:

Can you please share the code backing the workflow so we can better look into this 🔬

[2022-06-29 17:43] riwim opened #5409 "Conflicting dependencies and CLI tool crashes with `datasource new` and BigQuery as data source (sqlalchemy_bigquery vs. pybigquery)"
**Describe the bug**
This may in parts be related to #4490.
I would like to use BigQuery as a data source for GE. When creating a new BigQuery data source, I am prompted to install both *sqlalchemy_bigquery* and *pybigquery*. Still in this process, I am told that *pybigquery* is deprecated and conflicts with *sqlalchemy_bigquery*. But I cannot uninstall *pybigquery* either, because then `datasourc

[2022-06-30 07:41] sp1thas opened #5414 "Merge zip-related expectations"
**Is your feature request related to a problem? Please describe.**
There is a different expectation for each US state and I think this is a bit inefficient. There is a lot of code duplication because only the state abbreviation changes on each expectation. I propose to merge all these expectations into a single one and allow the user to pass extra optional arguments supported by `zipcodes.filter_b

[2022-06-30 22:19] riwim opened #5420 "Deprecation warning in Notebook during initialization of a new Expectation Suite by profiling a data batch"
**Describe the bug**
Within the notebook provided for initializing a new Expectations Suite by profiling by the CLI tool, I get the following warning

_/Users/user/ge/.venv/lib/python3.9/site-packages/great_expectations/datasource/data_connector/runtime_data_connector.py:133: DeprecationWarning: Specifying batch_identifiers as part of the RuntimeDataConnector config is deprecated as of v0.15.1 and

[2022-06-30 22:41] riwim opened #5421 "TypeError in `profiler.build_suite()` during Expectation Suite initialization by profiling while parsing timestamp value"
**Describe the bug**
I have a BigQuery table which cannot be parsed with the profiler. I was able to reduce this table to one row and one column: The value is a timestamp field with the content `2022-05-25 13:27:30.456000+00:00`.
![image](https://user-images.githubusercontent.com/18545483/176790130-b7f321e7-833e-4f3b-b541-2191acb5b390.png)

When this line is executed in the initialization notebook

[2022-07-01 07:00] juliankeppel opened #5422 "Data Docs hosting on Azure Blob fails"
**Describe the bug**
I tried to upload Data Docs on an Azure Blob storage container as documented [here](https://docs.greatexpectations.io/docs/guides/setup/configuring_data_docs/how_to_host_and_share_data_docs_on_azure_blob_storage).

When I run `poetry run great_expectations docs build --site-name az_site`, I get the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I

[2022-07-01 12:08] adrixp commented on #5422
Hi, same issue here

[2022-07-01 13:21] riwim opened #5424 "Validator throws KeyError 'table.head' while interactively creating Expectation Suite on a BigQuery datasource"
**Describe the bug**
I am getting the same error as described in #3540 when interactively creating an Expectation Suite on a BigQuery datasource via CLI. As requested in the discussion, I am opening a new issue for this.

In the "Edit Your Expectation Suite" notebook provided by `great_expectations suite new`, the following function call throws an error:

[code]

Thrown error:

[code]

**To Reprod

[2022-07-01 13:24] adrixp commented on #5422
For me, this fixed the issue:
pip install azure-functions
pip install azure-storage-blob

[2022-07-04 05:27] pakhi96 opened #5431 "Timeout with BigQuery and Invalid config with GCP storage"
Hi Team,

I have just started using great_expectations by following the docs. I need to run the expectations on a bigquery table and I need to run this in a service deployed to GCP so I’m using GCS to store the results.

I’m running into two issues as below:

On using my bigquery table as a datasource, it is taking around an hour or two to even create the connection which is causing a timeout in m

[2022-07-04 10:15] adrixp opened #5432 "MicrosoftTeamsNotificationAction wrong data_docs_pages URL when hosting in Azure Blob Storage"
**Describe the bug**
When a Teams notifications arrives, I tried to click on the 'Open data docs' button. But the URL is not correct since it send you to a Not Found resource.

Generated URL: hostname.**blob**.core.windows.net/**$web**/validations/...
ExpectedURL   : hostname.**z6.web**.core.windows.net/validations/...

It is redirecting to the blob container instead of the Azure static website.

[2022-07-04 12:03] flaneur-ml opened #5433 "StoreValidationResultAction / UpdateDataDocsAction takes too long"
**Description**
I run application with great_expectations in docker container. While running ge saves the results of validations and updates the docs in `uncommited` folder. When the amount of ge runs becomes significant with time the validations results saving and docs refreshing takes a lot of time which is much longer than my application run. However, I don't use these validations results and d

[2022-07-04 12:13] adrixp commented on #5432
Also happen with EmailAction, maybe this would happen with all Actions.

Thanks,
Adrian

[2022-07-05 09:25] sdebruyn commented on #5397
Hi, something like this would not work:

[code]

[2022-07-05 10:37] adrixp commented on #5432
Hi,
Doing some research, Azure has 2 endpoints:
- Blob service: https://mystorageaccount.blob.core.windows.net/  ->Deploy files
- Static Website: https://mystorageaccount.z5.web.core.windows.net/   -> static website
[More info](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-custom-domain-name?tabs=azure-portal)

So I think that these Actions are using the same URL for deploying the d

[2022-07-06 01:14] Andrew-Pham99 opened #5444 "snowflake integer is being detected as a decimal."
**Describe the bug**
The expectation "Value Types Must Belong in This set" will detect the observed value of the column to be a decimal.

**To Reproduce**
Steps to reproduce the behavior:
1. Create "expect_column_values_to_be_in_type_list" expectation
2. Have integer in type list
3. Run validation on snowflake table
4. See error, snowflake detects the column to be decimal, even though column is an

[2022-07-06 06:34] juliankeppel commented on #5422
@adrixp Thank's for this comment. But for me this doesn't fix the issue. I use poetry as dependency manager and added those dependencies to my virtual environment, but the error stays the same as before.

Any advice from the developer team?

[2022-07-07 02:43] viplazylmht opened #5453 "GCS data store raise exception TooManyRequests"
**Describe the bug**
When working with GCS bucket to store data docs, sometime I have got an Http Request error:  429 TooManyRequests: rateLimitExceeded.

The problem is GCS allow to update or modify only once per second each object, and the file index.html need to be update multiple times because I use Airflow to schedule tasks.

**Expected behavior**
Follow to this [Google API Docs](https://deve

[2022-07-07 07:24] viplazylmht commented on #5433
Hello @youth-quaker,

Yes, you can skip both StoreValidationResult, and UpdateDataDocs as well.

To do that, in checkpoint.yml, you just need to leave argument `action_list` empty. For example in your case:

[code]

If GE still perform these actions, please mention me again.

However, I recommend you to store at least validation results for future use. When working with Docker, you can create a Vo

[2022-07-07 17:03] austiezr commented on #5453
Hey @viplazylmht ! Thanks for raising this; we'll review internally and be in touch.

[2022-07-07 19:45] femibyte opened #5462 "TypeError: __init__() missing 1 required positional argument: 'data_asset_name' creating new suite"
**Describe the bug**

I am following the steps of this tutorial:

https://docs.greatexpectations.io/docs/tutorials/getting_started/tutorial_overview/

When I try to create a new expectations suite by running  `great_expectations suite new`

I get the following error:

[code]
after running the _Select a datasource_ step:

**To Reproduce**

1. Run `great_expectations suite new`
2. At the `Select a d

[2022-07-08 14:18] nicolasaraceni commented on #4365
Hi @qwwqwwq , did [#4336](https://github.com/great-expectations/great_expectations/pull/4336) resolve your issue? I'm currently involved on the same problem using v0.15.13.
thx

[2022-07-08 14:22] nicolasaraceni commented on #4295
Hi @joshua-stauffer , any updates on this? I have the same problem on v0.15.13.
thx

[2022-07-08 18:31] austiezr commented on #5462
Hey @femibyte ! Thanks for reaching out. Are you able to provide the config for your datasource?

[2022-07-11 01:33] paschmaria commented on #5462
Had a similar issue. Here's mine:

[code]

[2022-07-11 02:00] mramakrishnan12 opened #5478 "Getting KeyError 'table.head' repeatedly when running validator.head() using runtime spark dataframe"
**Describe the bug**
Continuously getting KeyError when running validator.head(5)

    860 for metric_configuration in metrics.values():
    861     logger.warning(f"Printing metric_configuration {metric_configuration}")
    863 return {
    864     metric_configuration.metric_name: resolved_metrics[metric_configuration.id]
    865     for metric_configuration in metrics.values()
    866 }

    Ke

[2022-07-11 07:01] vishalp27 commented on #5462
Having similar issue as above and here is my config:

[code]

[2022-07-12 09:48] KentonParton commented on #5389
Hi @AFineDayFor, thanks for the suggestion. We do use splitting and sampling in some cases but doesn't seem necessary for profiling.

As mentioned, I would expect all compute and memory intensive tasks to be carried out on the query engine.

When can I expect a response from a dev? Thanks for your time.

[2022-07-13 08:03] femibyte commented on #5462
Figured it out. I needed to clone the ge_tutorials directory, not create it.

[2022-07-13 08:11] femibyte opened #5492 "How to specify evaluation parameters for ExpectationConfiguration"
**Describe the bug**

I am trying to find out how to specify an evaluation parameter when I create an ExpectationConfiguration object.

**To Reproduce**
Steps to reproduce the behavior:

I have followed instructions as to how to create expectations using ExpectationConfiguration:

https://great-expectations.readthedocs.io/en/latest/guides/how_to_guides/creating_and_editing_expectations/how_to_crea

[2022-07-13 08:19] paschmaria commented on #5462
I don't think this needs to be closed though, I'm having the same issue and it has nothing to do with the ge_tutorials.

[2022-07-13 12:28] rdodev commented on #5492
Hey @femibyte I believe you're looking at documentation for older/deprecated versions of great expectations. The relevant documentation can now be found [here](https://docs.greatexpectations.io/docs/guides/expectations/how_to_create_and_edit_expectations_based_on_domain_knowledge_without_inspecting_data_directly), please note there are some subtle but important differences in the config.

[2022-07-13 14:48] femibyte commented on #5492
Thanks @rdodev - however my question still stands. These docs don't sure how to specify evaluation parameters for ExpectationConfiguration.

[2022-07-13 14:57] rdodev commented on #5492
@femibyte Pass in `kwargs` for example:

`evaluation_parameters={"upstream_row_count": upstream_row_count}`

[2022-07-13 15:36] femibyte commented on #5492
This is what I used

[code]

I now get this error:

[code]

[2022-07-13 15:41] rdodev commented on #5492
@femibyte please try to place inside `kwargs` dictionary, seems you added it in the function call.

[2022-07-13 15:47] femibyte commented on #5492
@rdodev so what do I put for value_set then ?

     "value_set" : {"$PARAMETER" : "runtime_values"}

still produces this error

```great_expectations.exceptions.exceptions.EvaluationParameterError: No value found for $PARAMETER runtime_values```

[2022-07-13 15:49] femibyte commented on #5492
This is the code I currently have:

           expectation_configuration_2 = ExpectationConfiguration(
             expectation_type="expect_column_distinct_values_to_be_in_set",
              kwargs = {
              "evaluation_parameters" : {
                                       "runtime_values": runtime_values},
            "column" : "gameid",
            "value_set" : {"$PARAMETER" : "runt

[2022-07-13 15:52] rdodev commented on #5492
@femibyte please check out the docs as to when to use which: https://docs.greatexpectations.io/docs/reference/evaluation_parameters

[2022-07-13 16:12] talagluck commented on #5395
Thank you for raising this, @francoiswessels. We will review and be in touch.

[2022-07-13 16:13] talagluck commented on #5406
Duplicate of #5405

[2022-07-13 16:13] #5406 closed, assigned to nobody

[2022-07-13 16:16] talagluck commented on #5405
Hi @Tasbeeh-Jaradat - thank you for raising this. We will review and be in touch.

[2022-07-13 16:20] talagluck commented on #5409
Hi @riwim - thank you for raising this issue. We will review and be in touch.

[2022-07-13 16:26] talagluck commented on #5414
Hi @sp1thas - thank you for raising this.

There are a couple of different philosophies for Expectations - one philosophy is to have fewer Expectations with more parameters, while another is to have more Expectations that are single purpose. We haven't necessarily settled on one approach vs another. The first approach is certainly more efficient, but the second one provides a more effective implem

[2022-07-13 16:26] #5414 closed, assigned to nobody

[2022-07-13 16:31] femibyte commented on #5492
@rdodev - thx, this code now works and I can save the expectation:

[code]

[2022-07-13 17:25] rdodev commented on #5492
That's presently not possible through the CLI. Unfortunately.

[2022-07-13 17:29] talagluck commented on #5420
Hi @riwim - thanks for raising this. We will review and be in touch.

[2022-07-13 17:36] talagluck commented on #5421
Thanks for raising this, @riwim . This appears to be a bug that was introduced relatively recently. We will review and be in touch.

[2022-07-13 17:42] talagluck commented on #5422
Hi @juliankeppel - thanks for raising. We haven't tested this at all with `poetry`. I'd be curious whether or not you're able to get this working with `pip`. If this is an issue with `poetry` specifically, that would be good for us to know.

[2022-07-13 17:46] talagluck commented on #5424
Hi @riwim - thanks for raising this. I would have expected that this would be due to issues with temp table creation (or table creation in the case of BigQuery). Could you please share the BatchRequest that you used with this?

[2022-07-13 19:55] femibyte commented on #5492
Ok, so how do I specify evaluation parameters to a checkpoint run in Python ? @rdodev

[2022-07-13 20:02] rdodev commented on #5492
As shown in the link aI shared above re: evaluation parameters.

[2022-07-14 00:29] TheBubblePopped opened #5503 "Add support for polars"

[2022-07-14 05:54] juliankeppel commented on #5422
Hi @talagluck thanks for your repsonse!

I just pip-installed great expectations and (as @adrixp mentioned) also needed to install azure-functions and azure-storage-blob. But then, I got the exact same error message as with my poetry installation.

This is how my `great_expectations.yml` configuration for the data_docs_sites looks like:
[code]

This is how my `config_variables.yml` looks like:
[co

[2022-07-14 06:25] alexsherstinsky commented on #5421
This issue has been fixed in #5502 -- thank you for pointing it out!

[2022-07-14 11:20] #5421 closed, assigned to nobody

[2022-07-14 14:12] rdodev commented on #5492
Closing this as original question was answered. If you have more questions about specific usage, please reach out via Slack.

[2022-07-14 14:12] #5492 closed, assigned to nobody

[2022-07-14 14:15] rdodev commented on #5503
hi @TheBubblePopped 👋

Please add more details about your use case, the library being requested and why is needed. Otherwise, this can't be brought up for discussion with engineering team in this state.

[2022-07-14 21:46] marksimpson82 commented on #3616
Can +1 this. I had the same experience as @HansBambel.

I've subsequently shown several people how to use GE profilers & interactive editing of expectation suites, and I've yet to see anyone organically figure out how to use `remove_expectation` (though in fairness, most of the users don't know python very well -- they're still learning).

From ad-hoc screensharing and helping with GE, the usual p

[2022-07-15 10:37] shakti-garg opened #5513 "publishing data statistics when profiling data"
**Is your feature request related to a problem? Please describe.**
When profiling data using any of the provided profilers, I am only getting the validation suite for the selected columns in the dataset. It should also publish the statistics of the data like distribution of values, min, max, number of null values, etc.

**Describe the solution you'd like**
profile method should also persist the da

[2022-07-15 13:19] rdodev commented on #5513
Hi @shakti-garg 👋

I'm not sure I follow. Upon profiling, datadocs will show expectations for min/max/null etc. Are you not seeing those?

[2022-07-15 18:33] becavas commented on #929
partial_unexpected_index_list working on spark?

[2022-07-18 01:52] emptyr1 commented on #5314
Wondering if there's any update here?

[2022-07-18 12:00] Mmourato opened #5524 "Core expectation expect_column_pair_values_to_be_equal is not implemented for SQLAlchemy datasources"
**Description**

The core expectation `expect_column_pair_values_to_be_equal` , even though it is listed in the GE documentation as being tested for Production, for multiple SQL datasources, as per the image bellow, is not implemented.

If we go to the `sqlalchemy_dataset.py` , we can see that the expectation does not exist.

![image](https://user-images.githubusercontent.com/103369807/179505259-3

[2022-07-18 14:13] talagluck commented on #5431
Hi @pakhi96 - for your first question, you will want to use either a ConfiguredAsset DataConnector, or specify the tables to include or exclude with your InferredAssetDataConnector. Otherwise, this will scan your entire database which can take a long time.

For your second question, could you please share the full stack trace for the error that you are getting? Could you also share the rest of you

[2022-07-18 14:15] talagluck commented on #5432
Hi @adrixp - thanks for raising this, and doing some digging! The solution you are proposing makes a lot of sense. Is this something you would have some interest in contributing? We are happy to offer guidance and support to help you get this across the line.

[2022-07-18 14:20] talagluck commented on #5433
Thanks for the question @youth-quaker, and thank you for the response, @viplazylmht!

I also wanted to add that you can use `validation_result_limit` in your DataContext to limit the rendered ValidationResult to the n most recent per Expectation Suite like this:
[code]

I'm going to close this for now since I think there are a number of possible solutions here, but please feel free to reopen if yo

[2022-07-18 14:20] #5433 closed, assigned to nobody

[2022-07-18 14:21] talagluck commented on #5444
Hi @Andrew-Pham99 - thank you for raising this. We will review and be in touch.

[2022-07-18 14:34] Mmourato commented on #5524
Apologies, this behavior only happens for version V2 and the non compliance is well documented here: https://legacy.docs.greatexpectations.io/en/latest/reference/core_concepts/expectations/implemented_expectations.html
Closing the issue.

[2022-07-18 14:34] #5524 closed, assigned to nobody

[2022-07-18 15:47] billdirks commented on #5388
The work for supporting `mostly` in multicolumn map expectations has been merged and will be available in the next release, v0.5.15, coming this week.

[2022-07-18 15:47] #5388 closed, assigned to AFineDayFor

[2022-07-19 07:11] shakti-garg commented on #5513
Hey @rdodev

Thanks for the prompt response.

Upon profiling, I am getting expectations like ``` mean must be greater than or equal to 1.5716 and less than or equal to 1.5716.```
What I am looking for is plain metrics like ``` mean: 1.5716```.

I think your point is that metrics are embedded in expectations only but for my business flow, I want to have metrics and expectations separately.
Why do I

[2022-07-19 07:54] adam-staros opened #5534 "expect_table_row_count_to_equal_other_table does not work properly with AWS Athena data source"
**Describe the bug**
Expectation `expect_table_row_count_to_equal_other_table` does not work properly with AWS Athena, because query for counting other table rows runs in `default` database.

**To Reproduce**
Datasource configuration:
[code]

Let's assume that I want to make following checks:
- number of columns of `dev.users` is between 8 and 10
- number of rows of `dev.users` equals number of ro

[2022-07-19 08:43] cKennnedy opened #5535 "Lowercase table and column names in Snowflake are unreachable using BatchRequest API"
**Description**
Lowercase table and column names in Snowflake are unreachable using the BatchRequest API, as the identifiers are not wrapped in quotation marks.

any queries trying to access these columns or tables will fail with the following error

`(snowflake.connector.errors.ProgrammingError) 000904 (42000): SQL compilation error: error invalid identifier '<some column>'`

**To Reproduce**
Ste

[2022-07-19 14:45] rdodev commented on #5534
Hey @adam-staros 👋

Thanks for the report. Athena support is presently in experimental state. Some expectations aren't supported while some others provide erroneous results. That said, I will escalate this issue for consideration.

[2022-07-19 14:55] rdodev commented on #5535
Hey @cKennnedy 👋

Thanks for reporting. Can you provide code example of your use case?

[2022-07-19 15:00] rdodev commented on #5513
@shakti-garg thanks for explaining your use case. I will consult with the team and reach back out.

[2022-07-19 15:06] rdodev commented on #5503
Closing. Worth noting the folks at Polars seem to be working on a GX execution engine they will contribute into the project in the not so distant future.

[2022-07-19 15:06] #5503 closed, assigned to nobody

[2022-07-19 16:50] #3089 closed, assigned to nobody

[2022-07-19 20:55] cKennnedy commented on #5535
Sure.

The problem comes when checkpoint.run() is called and the database is queried. This responds with the error detailed above.

The datasource and expectation suites were both configured and generated using the CLI.

The specifics of the expectation suite are unimportant as any `SELECT <column_name> FROM ...` fails due to the lack of quotes.

The python script that is failing is as follows:

[

[2022-07-19 21:11] cKennnedy commented on #5535
Just as a very quick bodge, I have tried editing the great_expectations package code to set the `use_quoted_name` kwarg on the `great_expectations.execution_engine.sqlalchemy_batch_data.SqlAlchemyBatchData` initializer to default to `True`.

This is naturally not a permanent fix, but it has made the error I was seeing go away, so the Issue is definitely the inability to pass this argument up to th

[2022-07-20 08:42] adrixp commented on #5432
Hi @talagluck, sure I would like to contribute. Could you provide me some docs in order to proceed? Thanks

[2022-07-20 10:41] aodj commented on #3631
@samLozier did you get anywhere with this? Your last post appears to cut off suddenly, and I'm curious to hear what came of your work.

[2022-07-20 14:26] zrluety commented on #5058
I am getting the same error. I've included my data source config below

[code]

[2022-07-20 15:49] rdodev commented on #5535
Hey @cKennnedy 👋

After speaking to the team about this team, it was mentioned you can use `batch_spec_passthrough` to pass `use_quoted_name` set to true so that table name casing is respected. Please let us know if this works for you.

[2022-07-20 16:16] rdodev commented on #5534
@adam-staros sorry for previous reply I sent in error. It was meant for a different issue I'm following. As for this issue, after consulting with the team we came to the conclusion this one of the big gaps in Athena support. While we're planning fixes for the not-so-distant future, we don't have any immediate plans. However, we're more than open to a community contribution and would be happy to bu

[2022-07-20 16:25] cKennnedy commented on #5535
Hi @rdodev,

Thanks for your response.

Having updated the batch request to look like:
[code]

I'm afraid I still see the same error.

[2022-07-20 16:26] rdodev commented on #5535
@cKennnedy I see. That should work. Given it's not working, I'll escalate this issue as a bug for fixing.

[2022-07-20 16:35] cKennnedy commented on #5535
@rdodev Many thanks indeed :).

[2022-07-20 16:39] #4296 closed, assigned to nobody

[2022-07-20 16:50] #2957 closed, assigned to nobody

[2022-07-21 03:51] daviewales commented on #3628
Hi, the homepage still lists MS SQL Server as a "leading open source database".

[2022-07-21 17:00] dvanbrug commented on #5058
This looks like it's the result of an attempt to sanitize the `connection_string`, which is one of the `cls.URL_KEYS`, here:

https://github.com/great-expectations/great_expectations/blob/bd29694677eb83d2461a3b13ea07b060b14b2ed7/great_expectations/data_context/util.py#L601-L614

In the same way that sqlite urls are skipped, perhaps Azure connection strings should be skipped as well?

https://githu

[2022-07-22 02:23] hebrd opened #5562 "Management UI for GE"
**Is your feature request related to a problem? Please describe.**
Most of operations of GE are executed from CLI, which is not friendly to non-programmer.

**Describe the solution you'd like**
A management system with all kinds of web UI to create expectation, query validation results etc.

[2022-07-22 10:22] bluinchiostro commented on #5562
Hey @BrandonDotLin it's a great functionality and I think it's going to be implemented in the SaaS version of great_expectation. Let's see...

[2022-07-22 13:13] syrineMH opened #5565 "expect_column_values_to_of_type does not work"
**Describe the bug**
I am trying to use [expect_column_values_to_be_of_type](https://greatexpectations.io/expectations/expect_column_values_to_be_of_type) to verify the type of my datasource (from big query tables) using this expectation from the gallery .https://greatexpectations.io/expectations/expect_column_values_to_be_of_type

[code]

I tried with different type but always got the same error

[2022-07-22 18:11] dvanbrug commented on #5058
I was able to add the following snippet as a workaround right after the sqlite check in `_mask_db_url_no_sa` for now.

[code]

It's not very elegant in that it still results in warnings from the initial SQLAlchemy parsing attempt.  One underlying issue is that it would seem other DB (e.g. BigQuery) usage of `connection_string` indeed use URLs, however Azure's is not a valid URL as the original err

[2022-07-22 19:58] JaredDettwiller opened #5573 "Getting error "ValueError: RuntimeBatchRequests must specify exactly one corresponding BatchDefinition""
Hello, I'm trying to create an expectation to use with my Snowflake database, however, whenever I try to create a RuntimeBatchRequest, it keeps coming back with the "ValueError: RuntimeBatchRequests must specify exactly one corresponding BatchDefinition" error. This is happening inside of the validator that came with the suite when I chose the interactive setup for the suite.

**To Reproduce**
Her

[2022-07-22 22:07] dctalbot opened #5574 "Unable to connect to sqlite database from jupyter notebook"
**Describe the bug**
Following [the sqlite guide](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/database/sqlite) results in a SQLAlchemy error when using a jupyter notebook. The error does not occur when using a regular python shell.

**To Reproduce**
Steps to reproduce the behavior:

[code]

2. Use these values in the relevant notebook cells:

[code]

3. Run the test cell:

[2022-07-24 14:48] Adenmin opened #5579 "ValueError: 'ibm_db_sa' is not a valid GESqlDialect"
Hello there!

So I faced an issue with integration GE and IBM Db2:

**Environment (please complete the following information):**
 - Operating System: Linux Ubuntu 22.04
 - Great Expectations Version: 0.15.14
 - ibm-db Version: 3.1.2
 - ibm-db-sa Version: 0.3.8
 - SQLAlchemy Version: 1.4.39

**Config**

[code]

**run it**

[code]
**and I got**

`ValueError: 'ibm_db_sa' is not a valid GESqlDialect`

[2022-07-25 07:36] syrineMH commented on #5565
While exmaninated the column_values_to_be_of_type metric on the the folder     site-packages\great_expectations\expectations\metrics  i didn't see any definition of def _sqlalchemy(cls, column, _dialect, **kwargs                                                              could this be the problem ?
![image](https://user-images.githubusercontent.com/75311155/180723265-a6010263-1148-4b18-8f72-d105

[2022-07-25 07:45] milosz-dm commented on #5379
@AFineDayFor - any update on it? The task has been marked as stale :(

[2022-07-25 07:46] milosz-dm commented on #5220
@rdodev - any update on it? The task has been marked as stale :(

[2022-07-25 10:44] talagluck commented on #5579
Hi @Adenmin - thank you for raising this issue.

IBM Db2 is not a fully tested or supported dialect with Great Expectations. That said, it should be possible to at least start to use Great Expectations with any SQL dialect supported by SqlAlchemy. There had been a bug around dialects such as these, but it was fixed in the latest release, so if you update to 0.15.15, you should be able to get past

[2022-07-25 10:44] #5579 closed, assigned to nobody

[2022-07-25 12:23] rdodev commented on #5220
Hey @milosz-dm no, no progress thus far, but I will remove the stale tag and re-raise with the team.

[2022-07-25 14:31] Adenmin opened #5583 "KeyError 'table.head' when running validator.head() using IBM DB2 datasource"
Hello there again!

I continue working on integration GE and IBM Db2
and I already fixed issue https://github.com/great-expectations/great_expectations/issues/5579 by upgrading GE to 0.15.15
but I faced new issue...

**Environment:**
Operating System: Linux Ubuntu 22.04
Great Expectations Version: 0.15.15
ibm-db Version: 3.1.2
ibm-db-sa Version: 0.3.8
SQLAlchemy Version: 1.4.39

**Config**
[code]

[2022-07-25 15:06] austiezr commented on #3195
Hey @abekfenn! Thanks for reaching out, great discussion here. I align with your thoughts here; one arg, one result field, with the aim of keeping it clean, simple, and consistent.

[2022-07-25 15:39] austiezr commented on #5260
Hey @gorikdesmetds ! I'm going to close this out for now; if you're still experiencing this issue and are able to provide the context above, feel free to re-open!

[2022-07-25 15:39] #5260 closed, assigned to nobody

[2022-07-25 18:15] kyleaton commented on #5379
Hey @milosz-dm, Sorry about the early stale tag! We are still tinkering with that bot and had the threshold a little too low. I have removed the stale tag and we will make sure it stays on our queue.

[2022-07-26 05:49] bluinchiostro commented on #5138
@austiezr It's still relevant

[2022-07-26 06:21] uglypod opened #5596 "renderer crashes when try to render checkpoint result"
**Describe the bug**
When i add
**expect_column_values_to_match_like_pattern** expectation to my suite, everything going fine, until
**build_data_docs** after checkpoint run

**To Reproduce**
Steps to reproduce the behavior:
1. Add expect_column_values_to_match_like_pattern to suite
2. Run checkpoint
3. Rebuild data_docs

**Expected behavior**

**Environment (please complete the following informat

[2022-07-26 09:25] heather-dice opened #5598 "split_on_year_and_month_and_day on Redshift datasource throws sqlalchemy.exc.ProgrammingError"
**Describe the bug**
Specifying a splitter method of `split_on_year_and_month_and_day` on a datetime column for a redshift datasource throws an sqlalchemy error:
[code]
Possible reason: Redshift concat only takes two arguments whereas GE /sql alchemy creates a concat with more than two args passed.

**To Reproduce**
Steps to reproduce the behavior:
Datasource config
[code]
In this example _batched

[2022-07-26 16:44] talagluck commented on #4613
Hi @sncamie! Just following up here, the ParameterBuilder you want to use is the [MeanTableColumnsSetMatchMultiBatchParameterBuilder](https://github.com/great-expectations/great_expectations/blob/dce8d59765cc8c6d2a220094efbb8fc0e550dcef/great_expectations/rule_based_profiler/parameter_builder/mean_table_columns_set_match_multi_batch_parameter_builder.py#L24). This takes column names from one Batch

[2022-07-26 16:44] #4613 closed, assigned to nobody

[2022-07-26 16:50] #5573 closed, assigned to nobody

[2022-07-27 10:32] shakti-garg commented on #5513
@rdodev Did you get to consult with the team? Is there any ETA by when i can get some feedback on this problem.

In case this scenario makes sense, I am happy to contribute the fix though will need some help from you and your team in understanding code.

[2022-07-27 10:42] shakti-garg opened #5613 "Error while running data quality rules against ~45GB of parquet data in S3"
**Describe the bug**
Got errors while executing data quality rules against ~45GB of parquet data in S3.
1. On first run, it gave below error when i ran checkpoint

[code]

2. This got fixed once i increased the driver's memory to 8 GB from default 2 GB.
3. But got below pandas error in generated data-docs
[code]

while the backend gave below error:
[code]

**To Reproduce**
Steps to reproduce the b

[2022-07-27 10:48] shakti-garg opened #5614 "Profiling huge volume of data"
**Is your feature request related to a problem? Please describe.**
Though profiling with around 200-300 MB of parquet data in S3 using spark is successful, it failed with OOM error when i ran it with ~45 GB of parquet data in S3.
Is it feasible to run profiling on such huge data with this tool? If yes, are there any benchmarks or case studies to reference.

[2022-07-27 12:14] rdodev commented on #5513
@shakti-garg 👋

Apologies for delay. Thanks for the use case explanation. I will re-raise this with my team and let you know.

[2022-07-27 15:22] rdodev commented on #5513
@shakti-garg after consulting with the team, this use case isn't supported at the moment and not trivial to fix. However, we're working on a feature that will enable this use case of EDA, but that's 3-6 months out. For now, we have an experimental feature that could at the very least make it easy to extract the metrics from the validation result. You can find the documentation [here](https://docs.

[2022-07-27 21:48] #5069 closed, assigned to AFineDayFor

[2022-07-28 08:14] shakti-garg commented on #5513
@rdodev Thanks for the update. Happy to know that this feature is already in your plans.

I have a look at the documentation you shared for the related experimental feature. Are you talking about `context.assistants.onboarding`? If yes, i am not able to grasp how the metrics can be extracted from its output. Can you point me to that code snippet.

[2022-07-28 14:59] AFineDayFor commented on #5562
Howdy @BrandonDotLin 👋 Thanks for reaching out and and being a part of the community 🙇

I'd go and agree with @bluinchiostro but if this is something you're raising because you're contemplating a contribution, we could only encourage it. We'd review and go from there 🔬

[2022-07-28 15:09] AFineDayFor commented on #5565
Howdy @syrineMH 👋  thanks for raising this with us 🙇

We'll bring this up with the team. We may need to reach back out if we need anything further in doing so. Thank you very much 🔬

[2022-07-28 15:13] AFineDayFor commented on #5574
Howdy @dctalbot 👋  thanks for raising this with us and being a part of the community 🙇

We'll bring it up with the team.

[2022-07-28 15:18] AFineDayFor commented on #5614
Howdy @shakti-garg 👋 thanks for raising this with us.

In this context, an out of memory errors is a result of OOM tuning on a particular system. The tool can manage it, but the system you're executing it on would need the resources to manage the workload you're asking of it.

The guide ["How to configure a DataConnector for splitting and sampling a file system or blob store"](https://docs.greatex

[2022-07-28 15:18] #5614 closed, assigned to AFineDayFor

[2022-07-28 15:21] AFineDayFor commented on #5613
Howdy @shakti-garg 👋 thanks for bringing this to us 🙇

We'll bring it up with the team, in conjunction with #5614 🔬

[2022-07-28 15:33] AFineDayFor commented on #5598
Howdy @heather-DICE 👋 thanks for bringing this to us and being a part of the community 🙇

We'll share it with the team 🔬

[2022-07-28 15:37] AFineDayFor commented on #5596
Howdy @uglypod 👋 thanks for raising this with us 🙇 and being a part of the community 🤗

We'll bring it up with the team 🔬

[2022-07-28 16:51] heather-dice commented on #4867
Hi @cbuffett! Did you ever get to the bottom of this? Running into the same issue
Trying to see if I can set up the metric store instead.. but feel like the validations store should work?

[2022-07-28 21:48] cbuffett commented on #4867
@heather-DICE No, I haven't had much time lately to investigate this. It seems based on my experience that there are a number of related issues around using evaluation parameters with certain expectation types (see https://github.com/great-expectations/great_expectations/issues/5221)

[2022-07-29 06:23] Vijayitsme opened #5627 "Include_unexpected_rows for not null check"
I am working on a project where in the data pipeline validation has to be carried out frequently to validate the data once arrived. In that case, while performing a GE validation "**expect_column_values_to_not_be_null**" with result format as **COMPLETE** and **include_unexpected_rows = True**. I expect to get the failed validation records as unexpected rows. **But all I get is unexpected rows =

[2022-07-29 16:47] talagluck commented on #4979
Hi @wa255007 - apologies for the delay. To confirm, updating your version of Great Expectations won't update you from V2 to V3. You will need to explicitly migrate your Datasources and Checkpoints to V3. See here: https://docs.greatexpectations.io/docs/guides/miscellaneous/migration_guide#migrating-to-the-batch-request-v3-api

Please let us know if this remains an issue when using the V3 API.

[2022-07-30 00:26] zivshapiraintel commented on #5000
relevant for me. i did not get a response to my clarification above

[2022-08-01 07:25] safwank opened #5637 "Usage statistics config sync should be skipped when disabled"
**Describe the bug**
A recent [update](https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/data_context/data_context/data_context.py#L367) to `DataContext` to sync the config for usage statistics is causing DAGs hosted in AWS MWAA to fail. This is because in MWAA the filesystem used to host Airflow DAGs is read-only, so `great-expectations.yml` can't be updated

[2022-08-01 21:35] mereldawu commented on #4876
This is great, but I'm struggling with the row_condition.

This code works perfectly:

[code]

But I can't validate for more than two conditions.
For example, if I use the below:

[code]

Only the first condition gets evaluated. I tried to switch the two conditions around, and still, only the first condition gets evaluated.

I also tried using `AND`, `&`, `&&` but all give the same results.

Is th

[2022-08-02 07:40] syrineMH opened #5643 "expect_column_value_z_scores_to_be_less_than work wrongly when the column contain only 0"
**Describe the bug**
 i have problem implementing the expect_column_value_z_scores_to_be_less_than . My column has only 0. what i should get is the sucess of the operation but i'am getting the error below
![bug](https://user-images.githubusercontent.com/75311155/182318846-8099f8e2-6dc8-4829-8d6b-272fc8268cd0.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

[2022-08-02 09:53] sushrut9898 commented on #5462
I am also facing the same issue
when I started using the ConfiguredAssetSqlDataConnector

Not able to create any new suites via CLI
[code]

Great Expectations Version: great-expectations==0.15.16

Steps to reproduce:

1. Create Datasource with the above-mentioned structure
[code]
2. Create a new suite using CLI
3. use "Interactively, with a sample batch of data"
4. select datasource
5. Getting thi

[2022-08-02 16:27] austiezr commented on #4262
Hey @john-schwegler-vectorsolutions! Reaching back out to verify if this is still an open issue for you; still haven't been able to replicate but happy to keep digging with you if need be!

[2022-08-02 16:35] austiezr commented on #4429
Hey @MajorDaxx ! We've had a lot of motion around sampling in the months since this was opened, and we believe this may now be resolved. I'm going to close out for now, but if you're still experiencing this issue on latest versions of Great Expectations, feel free to re-open!

[2022-08-02 16:35] #4429 closed, assigned to nobody

[2022-08-02 16:47] austiezr commented on #5067
Hey @andyjessen ! Thanks for raising this. The `ge.from_pandas()` workflow is a V2 construct, and not currently under active development; as such, it may not behave as expected, and may exhibit some instability. Have you experienced this same behavior working with V3 workflows?

[2022-08-02 16:59] #5151 closed, assigned to nobody

[2022-08-02 17:16] #5424 closed, assigned to nobody

[2022-08-02 17:56] deepuak01 opened #5650 "IndexError: list index out of range"
I get the below error from great-expectations=0.14.10

[code]
The above error is printed when control enters below code:

[code]

Please find below my code. Note that i am running this code from EMR 6.3.0:

[code]

[2022-08-03 09:33] bluinchiostro commented on #5027
Hey @rishabhsahrawat, it's a general consideration but great_expectations assumes that if a field is null, then expectation can't be executed

[2022-08-03 10:18] talagluck commented on #5637
Thanks for raising this, @safwank! Resolved by #5644.

[2022-08-03 10:18] #5637 closed, assigned to nobody

[2022-08-03 12:58] rdodev opened #5663 "Potential Regression in 0.15.16"
We've s a couple of reported issues that started happening in v0.15.16 and were fixed when users were told to user an earlier version.

Relevant Slack Threads:
* https://greatexpectationstalk.slack.com/archives/CUTCNHN82/p1659468256392659
* https://greatexpectationstalk.slack.com/archives/CUTCNHN82/p1659082016455689

[2022-08-03 14:58] AFineDayFor commented on #5627
Howdy @Vijayitsme :wave: thanks for raising the with us and being a part of the community :bow:

We'll share this with the team. Thank you so much for seeing something and saying something 🌻 🔬

[2022-08-03 16:03] josiah-eichelman commented on #2469
Hello! I'm new to great-expectations, but recently came across this bug aswell. Any fix? Can we re-open this issue?  Maybe a fix would be to have a link to the file, that way the browser is only opening a small filepath to the link and not the entire path?

[2022-08-03 16:51] AFineDayFor commented on #5232
Howdy @rishabhsahrawat :wave: if the regex doesn't present a match, the team concludes it ought to return a null and not be managed be supplied to metrics nor any metrics yielded.

[2022-08-03 16:51] #5232 closed, assigned to AFineDayFor

[2022-08-03 16:53] AFineDayFor commented on #5027
LGTM @bluinchiostro, the team shared the same conclusion in #5232 as well.

[2022-08-03 16:53] #5027 closed, assigned to AFineDayFor, talagluck, austiezr

[2022-08-03 17:24] AFineDayFor commented on #5627
Howdy @Vijayitsme, at this time the discussion from the team was that if no information is yielded, the metrics would not be ran. :bow:

[2022-08-03 17:24] #5627 closed, assigned to AFineDayFor

[2022-08-05 02:26] dbeswick-bupa commented on #3538
This one isn't relevant to us anymore, thanks.

[2022-08-05 07:26] milosz-dm commented on #4658
@talagluck - do you have any update? The issue has been marked as stale.

[2022-08-05 08:15] saadkh225 opened #5686 "Memory leak when using GE within a docker container"
**Describe the bug**
I am using GE inside a container with API requests triggering checkpoints.
Every time I run a checkpoint, there is a permanent increase in the memory usage of the container, GE does not release some memory.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup GE to run in a dedicated container.
2. Setup an API model using Flask. The API call triggers a checkpoint.
3. GE

[2022-08-05 11:24] talagluck commented on #4658
Hi @milosz-dm - apologies, this was marked as stale inadvertently.

I believe we have tracked down the source of this issue internally, but it might be somewhat complex to fix, so I don't yet have an exact date, though it is in our queue. In the meantime, we recommend using Checkpoints for validation instead of relying too closely on the `validator.validate()` method.

[2022-08-05 11:43] milosz-dm commented on #4658
I would love to use checkpoints, but they do not work well with pandas DF as a source.

[2022-08-05 12:12] #2577 closed, assigned to nobody

[2022-08-05 12:15] talagluck commented on #2768
Hi @marzlevane - we have added a few new splitter methods around datetimes, and these should work for MSSQL. We have more information around these in our docs. I'm going to close this for now, but please let us know if you have any follow-up questions.

[2022-08-05 12:15] #2768 closed, assigned to nobody

[2022-08-05 12:21] talagluck commented on #3389
Closing as this is focused on V2, which we no longer fully support.

[2022-08-05 12:21] #3389 closed, assigned to nobody

[2022-08-05 12:24] #3538 closed, assigned to nobody

[2022-08-05 12:41] #4920 closed, assigned to nobody

[2022-08-05 17:26] planck-length commented on #5663
As per slack request here's my `great_expectations.yml`
execution environment: AWS Glue

[code]
and here's my setup script:

[code]
and here's the main script (I omitted the spark dataframe creation)

[code]
As I said I had to revert to 0.15.13 in order to make it to work again, after that version it reports error:

[code]

[2022-08-05 17:36] austiezr commented on #5013
Hey @pavanpcr ! Thanks for reaching out. Are you able to verify that you experience this behavior if attempting to build a Pex file from a different `requirements.txt`? While `termcolor` is a core requirement, it isn't managed by us, and if incompatible with Pex, is not something we will be able to address

[2022-08-05 17:41] austiezr commented on #5143
Hey @Shubhkishore ! Thanks for reaching out. We believe you should already be able to do this, as Great Expectations supports connection via passing of a [connection string](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/database/mysql#3-add-credentials), including one parameterized with credentials of any type, including an auth token.

Closing this out for now, but if you

[2022-08-05 17:41] #5143 closed, assigned to nobody

[2022-08-05 17:46] austiezr commented on #5055
Hey @abekfenn ! Thanks for reaching out. We *do* have eyes on these types of historical metrics and incremental validations. As we continue to address and review this type of functionality, our current recommendation for work-around would be to create data assets representing only the changed data, and running your extant expectation suites against these smaller batches.

Closing this out for now,

[2022-08-05 17:46] #5055 closed, assigned to AFineDayFor, austiezr

[2022-08-05 17:58] austiezr commented on #5025
Hey @psxmc6! Thanks for reaching out. I believe you can achieve the functionality with your initial Datasource config (the partitioned one) and a RuntimeBatchRequest.

When creating a RuntimeBatchRequest for this data, you can choose to either pass a `data_asset_name` pointing to a single asset, or a `path` under `runtime_parameters`. This can be a path to a specific file, *or* a path to a directo

[2022-08-05 17:58] #5025 closed, assigned to AFineDayFor, austiezr

[2022-08-05 18:03] austiezr commented on #3652
Hey @jhanlonhg ! Reaching out to let you this is still in queue for our core engineering team, and we'll be discussing next steps in the near future. There has been a significant amount of motion in this area in recent weeks; are you able to confirm that you're still experiencing this behavior?

[2022-08-05 18:32] austiezr commented on #5000
Hey @zivshapiraintel! Thanks for your patience here. I can verify a couple of things; it isn't possible to change the name of the `great_expectations` directory name at this time, and it won't be for the foreseeable future.

Additionally, I wasn't able to replicate the exact behavior you're seeing. I've set up a small `main.py` to work in, alongside a `great_expectations` directory. After verifyin

[2022-08-05 20:56] austiezr commented on #3699
@derek-hk We've implemented your above approach as a `contrib` / `experimental` expectation; see PR #5702. Closing this issue out; feel free to continue discussion on the PR!

[2022-08-05 20:56] #3699 closed, assigned to nobody

[2022-08-05 21:02] austiezr commented on #4112
Hey @sdebruyn ! Reaching out to confirm that the above solution worked for you. I'm closing this issue out for now, but feel free to re-open if you aren't able to reach a solution here!

[2022-08-05 21:02] #4112 closed, assigned to nobody

[2022-08-05 21:16] austiezr commented on #3741
Hey @xaraujo ! Reaching out again to gauge your continued interest in this documentation, and to verify whether you have an interest in contributing on this.

[2022-08-06 09:06] foxale opened #5705 "Integration with MLflow"
**Is your feature request related to a problem? Please describe.**
Great expectations looks fantastic. We are thinking about adding it to our MLOps platform (Kedro, MLflow, etc.). It would make sens to have the validation checks tracked together with pipeline runs via MLFlow tracking, as currently the HTML reports are stored separately.

**Describe the solution you'd like**
I guess a great-mlflow

[2022-08-06 19:31] eculicny commented on #3966
I haven't looked into the issue on newer versions of GE recently, but unless the db `update` call has been changed, I assume this behavior still exists.

[2022-08-07 02:50] jeffcsauer opened #5707 "Slack invite link dead"
**Describe the bug**
Invite to `great_expectations` Slack broken URL on both greatexpectations.io as well as github.com/great-expectations/README.md

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [this link](https://greatexpectationstalk.slack.com/join/shared_invite/zt-1d7ym4xed-tqJS3aJ_jkoUPk_Hp6bCIA#/shared-invite/error)
2. Observe that invite is no longer valid

**Expected behavior

[2022-08-07 03:28] jeffcsauer commented on #3540
Experiencing this issue as of Aug 2022

[2022-08-07 15:25] viplazylmht commented on #3328
Hello @tamir-pl @talagluck,

I am planning to add the support to run Great Expectations on Vertica. It means at the starting point, Vertica will not be fully supported, buts will cover and resolve this issue.

I will open a PR when I nearly done, hope this help!

[2022-08-08 05:48] zivshapiraintel commented on #5000
hi @austiezr thanks for the useful info. i will try an update asap

[2022-08-08 09:06] xaraujo commented on #3741
Yes please close it.
I will do it later if I have time. Apologies for this.

[2022-08-08 09:06] #3741 closed, assigned to nobody

[2022-08-08 11:23] zivshapiraintel commented on #5000
@austiezr i tried the command
1. for me it did not accept the --v3 option - it suggested **--v3-api** this worked and created the directory
2. this time the autocomplete and tooltips continued to work on the package and not the directory. That's fine for me.

![ge_dir_and_package](https://user-images.githubusercontent.com/11042279/183407105-a11a7543-102e-44b9-9731-cdc46ab5f3ac.png)

[2022-08-08 12:23] talagluck commented on #4658
@milosz-dm - the functionality is nearly the same between pandas dataframes and other data types. The only difference is that a dataframe can not be baked into the Checkpoint config, and so must be passed into the call for `run_checkpoint`. If you are using `validator.validate()` which is an in-memory operation, then this should not be a big deal. Is there another issue you are facing? If so, plea

[2022-08-08 12:40] milosz-dm commented on #4658
OK, will see when you fix the issue. I remember I could not use checkopoints, because my pandas are quite big and checkpoints were logging entire dataframe via logger.debug function somewhere in the GE code. That was quite long time ago so I do not remember the exact function.

[2022-08-08 12:42] talagluck commented on #4658
OK - we are looking into this issue, but the Checkpoint issue with pandas dataframes was solved quite some time ago.

[2022-08-08 14:48] #4243 closed, assigned to nobody

[2022-08-08 14:51] austiezr commented on #5707
Hey @jeffcsauer ! Thanks for raising this; we're investigating internally.

[2022-08-08 14:52] austiezr commented on #5705
Hey @foxale! Thanks for raising this; sounds like great functionality, we'll review internally. Is this an area you'd be interested in making contributions in?

[2022-08-08 14:54] austiezr commented on #5650
Hey @deepuak01 ! Thanks for raising this; we'll review internally and be in touch.

[2022-08-08 15:09] #5705 closed, assigned to nobody

[2022-08-08 15:29] #5000 closed, assigned to nobody

[2022-08-08 16:01] austiezr commented on #5707
Hey @jeffcsauer ! This has been resolved; the noted links should now point to https://greatexpectations.io/slack.

[2022-08-08 16:01] #5707 closed, assigned to nobody

[2022-08-08 16:02] austiezr commented on #5643
Hey @syrineMH ! Thanks for raising this; we'll review internally and be in touch.

[2022-08-08 16:03] austiezr commented on #5686
Hey @saadkh225 ! Thanks for raising this. We'll review internally and be in touch.

[2022-08-08 16:03] austiezr commented on #5650
Closing as duplicate of #5658; we'll continue discussion there!

[2022-08-08 16:03] #5650 closed, assigned to nobody

[2022-08-08 16:59] austiezr commented on #4915
Hey @jimmycfa ! Thanks for surfacing this; we have this on docket for review in the near future.

[2022-08-08 17:01] austiezr commented on #4106
Hey @lopamudra04 et al! We have eyes on this discussion & will be reviewing in the near future.

[2022-08-08 17:03] austiezr commented on #4115
Hey @davideromano ! We have eyes on this issue and will be investigating further in the near future.

[2022-08-08 17:05] austiezr commented on #3833
Hey @susreemohanty ! Thanks for reaching out. We have eyes on this issue & will be investigating further in the near future.

[2022-08-08 17:07] austiezr commented on #5160
Hey @holaluz-josep-martinez ! Thanks for surfacing this; we have eyes on this issue and will be reviewing in the near future.

[2022-08-08 17:08] austiezr commented on #4305
Hey @akerone ! We have eyes on this issue and will be reviewing in the near future.

[2022-08-09 03:49] Gonalb opened #5720 "Can't access validations using the url generated for GCP with the Slack implementation."
I cannot access the validations  in Google Cloud Storage through the link in slack. It says access denied.
For the implementation I followed this guide: [Slack GE](https://docs.greatexpectations.io/docs/guides/validation/validation_actions/how_to_trigger_slack_notifications_as_a_validation_action/) (For webhook)
The implementation worked fine, I received the notification in the specified slack cha

[2022-08-09 04:01] susreemohanty commented on #3833
Hi Chetan,
                 We were using multiple spart sessions as we have different
databases .One with AWS s3 and one with Azure blog storage.
Hope this helps to investigate the issue.
regards,
Susree

On Mon, Dec 13, 2021 at 10:22 PM Chetan Kini ***@***.***>
wrote:

[2022-08-09 09:01] KentonParton commented on #5389
Hi @AFineDayFor, would it be possible to get some dev eyes on this? Thanks!

[2022-08-09 09:30] arthurmanners opened #5724 "Deprecation warnings when calling Great Expectations data context (connecting to S3)"
**Describe the bug**
I'm getting a deprecation warning when I call data context, specifically when Great Expectations is configured to pulled expectation suites from S3.

The warning seems to be an [SQLALchemy deprecation warning](https://github.com/zzzeek/sqlalchemy/blob/master/lib/sqlalchemy/engine/url.py):
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Configure great_expectations

[2022-08-09 15:46] talagluck commented on #3233
Hi @lboudard - I wanted to check, is this issue still relevant for you?

[2022-08-09 15:54] talagluck commented on #4970
Hi @hkwweber - thanks for your patience! I wanted to let you know that we'll be discussing this internally this week to figure out when we can prioritize.

[2022-08-09 15:56] talagluck commented on #4965
Hi @cbuffett - thanks for your patience. I wanted to check, is this still an issue for you? If so, we were planning on figuring out prioritization this week

[2022-08-09 16:01] talagluck commented on #4961
Hi @MLGalloudec - thank you for your patience here. We are working on internal reprioritization this week. Is this still an issue? Are you able to share the code samples you mentioned for how implementing Great Expectations? Thanks!

[2022-08-09 16:42] hanlonjohn23 commented on #3652
Hey Austin,

Sorry for the late reply, but I have been out of office since your initial
email.

Unfortunately, I am unaware if this is still an issue that our team is
experiencing, as we are not performing active development of Great
Expectations repos at this time.

However, if I remember this issue correctly, I would be surprised if it was
resolved short of active developer intervention, as ther

[2022-08-09 17:46] cbuffett commented on #4965
@talagluck Yes, this would pose a serious performance impact, particularly around using the validator with batch parameters defined that correspond to a single table partition. The performance impact for testing YAML configurations is secondary as this isn't something that would run inside a production environment.

[2022-08-10 08:17] talagluck commented on #4847
Hi @ejohnson-amerilife and @aqeelsmith - thank you for your patience! We made some changes in this area last week. Can you please confirm whether this is still an issue for you? Thank you!

[2022-08-10 08:24] talagluck commented on #4832
Hi @KentonParton - thank you for your patience. I wanted to let you know that we'll be figuring out prioritization for this over the next few days. I also wanted to let you know that we are in the process of doing some great work on our Rule Based Profilers and Data Assistants, and so you may find some success using the Onboarding Assistant as an alternative to the UserConfigurableProfiler. [You c

[2022-08-10 08:29] talagluck commented on #4812
Hi @hugh-nguyen, @vatj, @Halpph, @mkopec87 - thank you for your patience here. To better understand this, do you believe this to be a bug in Great Expectations functionality that you have solved with a workaround which requires a bugfix? Or do you think this is more of a set-up issue, which requires us to improve our documentation?

[2022-08-10 08:37] talagluck commented on #4774
Hi @Quang-Vinh - thank you for your patience. Running a Checkpoint in V3 is not equivalent to running `gdf.expect...` in V2. The  equivalent there would be `validator.expect...`. Still, I agree that it shouldn't be taking as long as it is taking, and I don't think it should be making a copy of the dataframe. Could you please confirm whether this is still an issue? Thanks!

[2022-08-10 13:45] austiezr commented on #5724
Hey @arthurmanners ! Thanks for raising this; we'll review internally and discuss.

[2022-08-10 13:46] austiezr commented on #5720
Hey @Gonalb ! Thanks for raising this; we'll review internally and be in touch.

[2022-08-10 14:10] bayees commented on #2623
This is still an issue since there are no tempdb to query against

[2022-08-10 14:25] ryan-wolbeck commented on #3613
I agree, this was not fixed by the PR

[2022-08-10 14:57] fkromer opened #5732 "Plugin gallery"
**Is your feature request related to a problem? Please describe.**

It’s not easily to find ge plugins.

**Describe the solution you'd like**

An exploration site similar to the expectation gallery.

**Describe alternatives you've considered**

**Additional context**

[2022-08-10 15:34] #3765 closed, assigned to nobody

[2022-08-10 15:37] AFineDayFor commented on #4050
Closing this as it appears already addressed in both documentation and function :bow: feel free to open another issue if a smilier occurs :microscope:

Thank you for your keen eye, and aid in addressing this.

[2022-08-10 15:37] #4050 closed, assigned to nobody

[2022-08-10 16:01] AFineDayFor commented on #3394
@jdimatteo the documentation has been updated to reflect how to pass options to the reader it's self [here](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/filesystem/spark#additional-notes)

e.g.

[code]

[2022-08-10 16:01] #3394 closed, assigned to nobody

[2022-08-10 16:08] AFineDayFor commented on #3367
This appears to be addressed in #3687. The updated documentation can be found [here](https://docs.greatexpectations.io/docs/deployment_patterns/how_to_use_great_expectations_in_databricks/) :smile:

Closing :bow:

Regarding @paololucchino 's remark, can you please create an indipdendent issue with context regarding your issue.

[2022-08-10 16:08] #3367 closed, assigned to AFineDayFor

[2022-08-11 00:26] hoavho opened #5736 "StoreMetricsAction fails with some metrics (statistics.successful_expectations, statistics.unsuccessful_expectations and column based metrics)"
# Test Environment
- great_expectations version = 0.15.17
- python version = Python 3.9.13
- postgreSQL version = PostgreSQL 14.4 on x86_64-apple-darwin21.5.0, compiled by Apple clang version 13.1.6 (clang-1316.0.21.2.5), 64-bit
- Configuration is based on example in this article https://docs.greatexpectations.io/docs/guides/setup/configuring_metadata_stores/how_to_configure_a_metricsstore/

# Exp

[2022-08-11 03:09] Shinnnyshinshin commented on #5663
Hi @planck-length , I'm Will with the OSS team at Great Expectations. I really appreciate you sharing your configuration.. it's really helped with the investigation work with the issue.

So the cause of the error has to do with some additional checks we have been doing for `DataContext`, particularly around configurations that are now stored as `DataContextVariables`.

What that means that is the

[2022-08-11 09:00] SSchotten commented on #3979
Hi @austiezr , I'm curious to hear whether the idea got dropped altogether or postponed.

My team has worked on other topics over the past half year (so I wasn't too active in that area either), but we'll be returning to further implementing GE during the next few months. Would be very helpful to have a feature like this.

[2022-08-11 20:39] talagluck commented on #4855
Hi @abekfenn - thanks for your patience! This has been added to our backlog. I don't believe there are immediate plans for prioritization, but we will post here if that changes.

[2022-08-11 21:04] stfines-clgx commented on #5431
I'm receiving the same issue with no stack trace

The only text i receive is: `Invalid store configuration: Please check the configuration of your TupleGCSStoreBackend named profiler_GCS_store`

I'm configuring via code:
[code]

[2022-08-12 08:10] planck-length commented on #5663
Hello @Shinnnyshinshin  I just copied your updated code and ran it on upgraded version, and it didn't failed. I'll do full check later today. Thank you for you help!

[2022-08-12 10:11] MLGalloudec commented on #4961
Hi @talagluck, yes - this is still an issue. I will get the code samples for how we're implementing GE and post them below. We're connecting and running expectations on an in memory pandas dataframe

[2022-08-12 14:27] rdodev commented on #5736
Hey @hoavho 👋

Thanks for the issue and details. We'll take a look.

[2022-08-12 14:53] rdodev commented on #5732
Hey @fkromer 👋

I'm not sure I understand what you're asking for here. Can you please provide an example and more detail? Thanks!

[2022-08-12 18:46] cah-jamey-weyenberg opened #5755 "Documentation issue with GCP Secret Manager YAML Examples"
There's an issue with the documentation for the GCp Secret Manager documentation. The Jupyter notebooks actually set this up properly, but the documentation on the website has the `credentials:` section in the wrong place, and occasionally uses the wrong class name of SqlAlchemyDatasource when it should be Datasource.

[2022-08-12 18:47] cah-jamey-weyenberg commented on #5755
I'm currently working on this fix now.

[2022-08-12 19:10] Shinnnyshinshin commented on #5663
great to hear @planck-length. Let us know how the full test goes :)

[2022-08-15 14:03] rdodev commented on #5755
Hey @cah-jamey-weyenberg 👋

Thanks for this, please let me know when the PR is ready and I'll let the doc folks know.

[2022-08-15 16:08] rdodev commented on #5736
@hoavho after consulting with the team, it was brought to my attention that metric store is in an *experimental* state and thus things will break. The documentation says it's in *beta* but this is in error. This is an experimental feature and we don't know if we can fix the issue in the near term. That having been said, if you're so inclined we would welcome a community contribution here.

[2022-08-15 16:57] Shinnnyshinshin commented on #5663
Hi @planck-length wanting to check in on this issue. Did the script work with the full test?

[2022-08-15 17:02] planck-length commented on #5663
@Shinnnyshinshin  hi, sorry for delay in response, yes script ran all my suites, no failure with execution. Thanks again for your help!

[2022-08-15 17:12] Shinnnyshinshin commented on #5663
Wonderful :) Glad to help. i'll close this issue now

[2022-08-15 17:12] #5663 closed, assigned to nobody

[2022-08-15 17:30] stfines-clgx commented on #5431
My issue with the Invalid store configuration was resolved when I added an actual datastore to the config.

[2022-08-15 18:11] stfines-clgx opened #5761 "Circular import when trying to import BaseDataContext"
**Describe the bug**
A clear and concise description of what the bug is.

Code is not able to compile when importing BaseDataContext using 0.15.17

**To Reproduce**
Steps to reproduce the behavior:

Use this code:
[code]

**Expected behavior**
The code compiles.

**Environment (please complete the following information):**
 - Operating System: [e.g. Linux, MacOS, Windows]
 MacOs 12.0
 - Great Expe

[2022-08-15 18:12] stfines-clgx commented on #5761
A secondary issue here is why is it including the IPython magicks when this is not IPython code?

[2022-08-16 11:21] talagluck commented on #5535
Hi @cKennnedy - I wanted to let you know that we are working on this. [I also wanted to point to the workaround indicated here in the meantime.](https://github.com/great-expectations/great_expectations/pull/2023#issuecomment-1210192307)

[2022-08-16 14:03] rdodev commented on #5761
hey @stfines-clgx 👋

Thanks for issue report. Going to discuss it with the team.

[2022-08-16 14:53] itaise opened #5767 "SQL Alchemy error when running the Custom Query Expectation example"
Hi,
Background - we would like to develop custom query expectations (that will be ran on trino).

I am running the example file for creating Custom Query Expectation as it is, and getting an error **on the 2 last** expectations in the examples:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to [example](https://github.com/great-expectations/great_expectations/blob/develop/contrib/e

[2022-08-16 23:32] hoavho commented on #5736
Thanks @rdodev for your follow up and letting me know that this is still an experimental feature.

[2022-08-17 08:01] saadkh225 commented on #5686
Hey @austiezr, When should I expect an update?

[2022-08-17 09:11] roseblyth opened #5777 "Repeating expectations for the same domain with different parameters"
**Describe the bug**

For Column Expectations and Column Aggregate Expectations, it is only possible to include each expectation once for a given column. If I try to create several of the same expectation for a given column but with different parameters, then only one of them appears in the expectation suite.

(For example, say we have the custom expectation expect_proportion_of_value_in_column_to

[2022-08-17 09:51] KentonParton commented on #5389
Apologies for the shoulder tap @talagluck.

When using the UserConfigurableProfiler, are large result sets serialized by GE during profiling or are they just single line stats? Trying to figure out how to profile entire datasets without sampling if at all possible.

[2022-08-17 13:26] rdodev commented on #5767
Hey @itaise 👋

Thanks for reporting this issue. I'll consult with the team and let your know.

[2022-08-17 13:28] rdodev commented on #5777
Hey @roseblyth 👋

Thanks for reporting this issue. I will consult with rest of the team and let you know what if any next steps are.

[2022-08-17 14:56] bachhavdipak opened #5781 "Creating an Expectation Suite With an Automated Profiler Great Expectation"
I am a newbie to great expectations and trying to set up but facing the below issue while creating an expectation Suite with an Automated Profiler.

[code]

C:\Users\user\great_expectations>

[2022-08-17 15:03] rdodev commented on #5736
@hoavho We just discussed this. The metricstore is indeed in experimental state. We will update the documentation to reflect this. Apologies for any inconvenience this caused.

[2022-08-17 15:48] rdodev commented on #5761
@stfines-clgx we aren't able to replicate the issue. We tried importing

[code]

And saw no errors. Is there anything in your environ that might be amiss here?

[2022-08-17 21:45] #5767 closed, assigned to austiezr

[2022-08-18 10:50] bachhavdipak commented on #1904
Still facing this issue with the databricks

[code]

[2022-08-18 13:31] robbe1999 commented on #5314
Hi @emptyr1, can you try removing the line: run_name_template: '%Y-%m-%d %H:%M:%S - prod' from your checkpoint file? It solved the problem for me.

[2022-08-18 15:37] rdodev commented on #5761
Closing as we're unable to replicate.

[2022-08-18 15:37] #5761 closed, assigned to rdodev

[2022-08-18 15:38] rdodev commented on #5736
Documentation has been updated to reflect the state of `MetricStore`.

[2022-08-18 15:38] #5736 closed, assigned to nobody

[2022-08-18 15:50] stfines-clgx commented on #5761
I've been able to replicate it 3 times on 3 different machines all using poetry to do the install- each time they give me an import error related to 0.15.17 and IPython magicks (which I don't understand why they would be imported for a non-notebook use; unless by design you are saying you don't want production use)

[2022-08-18 16:01] rdodev commented on #5761
@stfines-clgx the core utils module contains IPython functions and code. Can you try tree-shaking your imports from that module (i.e. not `*`)? For reference 3 of us tried to replicate in two different OS, none got the circular reference error. So perhaps there is something in your environ/setup that's having issues with the code in `utils`.

[2022-08-18 16:36] shivankitsharma opened #5788 "Dealing with NoneType"
Getting this error

[code]

[2022-08-18 16:42] shivankitsharma opened #5789 "Multiple Deprecation Warnings"
Getting Multiple Deprecation Warnings

`/local_disk0/.ephemeral_nfs/envs/pythonEnv-a689360d-b706-40ae-a5ae-256db4066b66/lib/python3.9/site-packages/great_expectations/data_context/util.py:554: UserWarning: SQLAlchemy is not installed, using urlparse to mask database url password which ignores **kwargs.
  warnings.warn(`

`/local_disk0/.ephemeral_nfs/envs/pythonEnv-a689360d-b706-40ae-a5ae-256db4066

[2022-08-18 16:44] shivankitsharma opened #5790 "Renderer Warnings"
Getting multiple warnings with the renderer

`An unexpected Exception occurred during data docs rendering.  Because of this error, certain parts of data docs will not be rendered properly and/or may not appear altogether.  Please use the trace, included in this message, to diagnose and repair the underlying issue.  Detailed information follows:
                ValueError: "Unknown format code 'f'

[2022-08-19 08:37] talagluck commented on #5389
Hi @KentonParton - thanks for the ping, and apologies for the delay in reply. In the case of SQL, large datasets should not be serialized at all, since compute is all sent back to the database. The only case where I might expect some amount of memory leak would be for pandas.

How large is your dataset? I wonder if we might be running into constraints with getting our unique value expectations, si

[2022-08-19 09:07] KentonParton commented on #5389
Thanks for the response @talagluck.

Regarding dataset sizes.

| Snowflake Table  | Size | Row Count | Memory Utilization |
| ------------- | ------------- | ------------- | ------------- |
| snowflake_sample_data.tpch_sf1.lineitem  | 157.6 MB  | 6,001,215 | 1.6GB |
| snowflake_sample_data.tpch_sf10.lineitem  | 1.6 GB  | 59,986,052 | 4GB and container crashed |

_Note: Memory Utilization is the am

[2022-08-19 11:12] talagluck commented on #5389
Thanks for the follow-up, @KentonParton - this is useful to know.

For reference, the `value_set_threshold` is used to determine for which columns it should run an ExpectColumnValuesToBeInSet Expectation. Otherwise, the UserConfigurableProfiler uses two unique value Expectations to determine column cardinality (this is what is tested against the `value_set_threshold`), and then adds those Expectat

[2022-08-19 18:39] ps993w opened #5795 "Column Count Expectation getting killed"
checkpoint with expectations as "expect_column_proportion_of_unique_values_to_be_between" or expect_column_unique_value_count_to_be_between is getting killed with no error msg. Expectation is running on SF table of ~ 2GB in size

**To Reproduce**
Steps to reproduce the behavior:
1. Go to expectation dir and create an expectation as

  "data_asset_type": null,
  "expectation_suite_name": "ID_BRIDGE

[2022-08-19 19:34] rdodev commented on #5777
Hey @roseblyth 👋

Just an update for now. We have looked at this issue with engineering and we found this issue is a manifestation of an area of the system that needs non-trivial work to fix. Luckily this is an area that will be looked at soon by the engineering team. Thanks in advance for your patience in this matter. I will let you know when I have more clarity about ETAs and such.

[2022-08-20 17:29] rob-teeuwen opened #5798 "Include SSL parameters in MySQL connection"
I am trying to connect to an Azure hosted MySQL database that requires SSL. I can't find a solution to pass SSL parameters. In sqlalchemy this should be possible like so: https://docs.sqlalchemy.org/en/14/dialects/mysql.html#ssl-connections but I don't think this translates to Great Expectations yet.

It would be great if a field could be added to pass these parameters in the data context. If this

[2022-08-22 10:42] benrutter opened #5799 "Importing Great Expectations within an Azure Function throws an exception"
**Describe the bug**
Within an azure function (and possibly elsewhere) importing great expectations throws an exception (it seems like this is something to do with convert_to_json_serializable, and it's use of IPython, although looking at the gitblame around this I'm not clear why it would suddenly happen now (possible something has happened on the azure function side)

**To Reproduce**
Steps to r

[2022-08-22 12:45] benrutter commented on #5799
If anyone is looking into this for triage etc, I should also mention:
- The error is (probably pretty obvious if you read the stack) being caused by the fact that IPython.core.completer imports __main__, which in certain contexts (i.e. azure functions) doesn't seem to exist
- For my purposes, it's easy enough to work around this error in a hacky way by just adding in a completely empty __main__ mo

[2022-08-22 13:54] itaise opened #5801 "Pyparsing dependency conflict with Airflow constraints"
Hi,
In Airflow latest version (2.3.3) [constraint file](https://raw.githubusercontent.com/apache/airflow/constraints-2.3.3/constraints-3.7.txt), there is a requirement for Pyparsing == 3.0.9.
But - in Great expectations the [requirement](https://github.com/great-expectations/great_expectations/blob/develop/requirements.txt#L18) is pyparsing>=2.4,<3

We are trying to install great expectations on a

[2022-08-22 14:03] talagluck commented on #5781
Hi @bachhavdipak - have you set up a Datasource yet? You would see this error when running `great_expectations suite new` from the CLI without a properly configured Datasource. If you haven't already, I'd recommend going through the [Getting Started Tutorial](https://docs.greatexpectations.io/docs/tutorials/getting_started/tutorial_overview) which will walk you through the process of setting up a

[2022-08-22 14:03] #5781 closed, assigned to nobody

[2022-08-22 14:06] talagluck commented on #5788
Hi @shivankitsharma - thank you for raising this. Could you please supply some background information? What was the code and configuration that lead to this error? What version of Great Expectations are you running?

[2022-08-22 14:08] talagluck commented on #5790
Hi @shivankitsharma - thank you for raising this. Could you please supply some background information? What was the code and configuration that lead to this warning? What version of Great Expectations are you running?

[2022-08-22 14:08] talagluck commented on #5789
Hi @shivankitsharma - thank you for raising this. Could you please supply some background information? What was the code and configuration that lead to these warnings? What version of Great Expectations are you running?

[2022-08-22 14:10] talagluck commented on #5795
Hi @ps993w - thank you very much for opening this issue. We are in the process of reviewing and will be in touch as we progress.

[2022-08-22 14:11] talagluck commented on #5798
Hi @rob-teeuwen - thanks for raising this. We will review this and be in touch.

[2022-08-22 14:15] talagluck commented on #5799
Hi @benrutter - thank you for raising this and for all of the background context. To confirm, your project was working fine, and then this stopped working suddenly? Are you able to tell the versions of your dependencies when this was last working, and the version when this stopped working?

I agree that I'm not sure exactly what we would be able to do here aside from pinning versions, but anything

[2022-08-22 14:16] talagluck commented on #5801
Thanks for opening this @itaise! We will review and be in touch.

[2022-08-22 15:37] benrutter commented on #5799
Hi @talagluck 👋 yes, its as part of a pipeline that routinely checks new files - it spontaneously stopped working sometime between late Thursday and early Friday. Doesn't appear to be an error based on GE versions as other releases fail with the same error (also, doesn't look like the relevant function has been touched in a significant way for a while?)

The error is coming from IPython, but again

[2022-08-23 10:31] shivankitsharma commented on #5788
i was running the Onboarding Data Assistant Profiler in Great Expectations 15.15.

The issue seemingly is that when a column has all values as null, the process is trying to calculate metrics on it and therefore the error comes up as we are trying to compare NoneType and int which will not work with '<='.

My ideal resolution would be that if a column is found with all nulls, we register that and

[2022-08-23 10:34] shivankitsharma commented on #5789
The errors are coming when loading Great Expectations 15.15. These happen even before the code is run

I have been looking for a way to suppress these warnings but nothing has worked and it is a big problem. Please help me figure out how to disable these warnings

[2022-08-23 10:38] shivankitsharma commented on #5790
This tends to come when working with a datetime column. I think the reason is that python introduced f strings in version 3.6 and the great expectations code is unable to deal with .2f

A quick patch to upgrade the code to newer versions of python with upgraded f string handling will fix it

https://stackoverflow.com/questions/52752654/unknown-format-code-f-for-object-of-type-str-folium

[2022-08-23 15:07] NickSchouten opened #5816 "Dask as execution engine"
We would like to use Dask as an execution engine for great expectations.

Up until https://great-expectations.readthedocs.io/en/0.13.8/intro.html this was also mentioned under `Key Features` `Expectations` as a future step in the docs.
What happened for this to be removed? Is this still on the roadmap?
Is there an initiative or open pull request were we could help?

Kind regards,
Nick

[2022-08-24 09:26] bachhavdipak commented on #5781
@talagluck : I have already setup Datasource but can't see the data folder under great_expectations folder after running Jupyter Notebook

[code]

great_expectations.yml

[code]

[2022-08-24 10:09] pcontrerasnun commented on #3040
Adding
`'batch_spec_passthrough': {'create_temp_table': False}`
to `batch_request` worked for me

[2022-08-24 11:38] tommy-watts-depop opened #5825 "Custom store_backend classes"
We would like to be able to extend or create new store_backend classes to follow behaviour specific to our use case. For example, a new class to extend TupleS3StoreBackend that allows us to edit checkpoints stored in s3 before loading.

Currently there is no way (that i can see) to add a custom class to the store_backend block in the stores section of the great_expectations.yml config since the mo

[2022-08-24 14:32] itaise opened #5827 "[BUG] Using Trino with runtime data connector produce invalid query"
We are using Trino successfuly using Configured data connector, but when trying to use it with Runtime data connector we encountered a possible bug.
The query that is produced is missing parentheses in the subquery, so the query fails on invalid syntax in Trino.
the query looks like the following in Trino, seems like GE treats it as a table instead of a sub query:
[code]

instead of the required r

[2022-08-24 20:23] itaise commented on #5827
Update: I digged into it, and found that [here](https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/expectations/metrics/util.py#L335) the "table_selectable" does not have selected_columns - so It raises AttributeError -
Then, it goes to the fallback function written for Trino - and [assign the "selectable" as table_name](https://github.com/great-expectations/g

[2022-08-24 23:31] KentonParton commented on #5389
@talagluck I've got good news and bad news. The bad new is that the DataAssistant runs into the same high memory usage. It was going along very well but suddenly spiked. The good news is that I've identified some of the queries that are causing the spike in memory usage. They appear to be the same for Data Assistant and UserConfigurableProfiler.

Below you will see that queries, 1, 3, and 4 all re

[2022-08-25 09:17] pcontrerasnun opened #5832 "Expectation expect_column_values_to_be_in_type_list not working as expected"
**Describe the bug**
I'm running the expect_column_values_to_be_in_type_list expectation against a ClickHouse datasource. It seems GE is not able to retrieve correctly data types when data type is Nullable from ClickHouse.

Here's an example. Observed value should be Nullable(UInt16)
[code]
Moreover, when the column is not nullable, GE retrieves correctly the data type but even though the observed

[2022-08-25 12:35] talagluck commented on #5389
Thanks for this, Kenton. I'll forward to the engineers who are looking into performance now.

Regarding the DATA columns, are you on the latest version of Great Expectations? This was a known bug, but I believe it has been fixed in one of the last couple of releases.

[2022-08-25 15:23] talagluck commented on #5816
Hi @NickSchouten - thanks for this! When we listed this in the linked docs, I believe it was more as an example of another execution engine integration that we would like to have, rather than a short-term goal. It is still on our roadmap, but I don't believe we have any scheduled plans to build this internally. If you are interested in working on an integration, please let us know! We are happy to

[2022-08-25 16:28] jmoskovc opened #5842 "Slack doesn't seem to work"
**Is your feature request related to a problem? Please describe.**
Can't connect to your slack, seems like the invite expired
I click the link on your web page and get this:

![image](https://user-images.githubusercontent.com/110917909/186719373-b8a4c750-c47a-4780-a9c7-348b731cb0c7.png)

**Describe the solution you'd like**
Connect to to Slack, so I can engage in discussion with the community ..

[2022-08-25 17:03] KentonParton commented on #5389
@talagluck yes I am using version `0.15.19`. I have pushed changes to the repo mentioned above https://github.com/KentonParton/fast_api_ge_profiler

They include the latest version of GE and the data assistant.

[2022-08-26 09:46] DLZRR commented on #3195
Hi @abekfenn, I was wondering how the implementation was coming along. Similar to you the Pandas unexpected index list is not a viable option for my company (large Dutch insurer) because of the cost in speed. I (and my team) had similar thoughts for the solution and would love to help with implementing this feature.

[2022-08-26 13:26] #5801 closed, assigned to nobody

[2022-08-27 14:32] nomisbeme commented on #5842
I had the same experience, but was able to join the Great Expectations Slack using the link in their twitter profile: [http://greatexpectations.io/slack](http://greatexpectations.io/slack)

[2022-08-29 06:30] hebrd opened #5858 "InvalidConfigError: batch_data found in batch_request cannot be saved to CheckpointStore "checkpoint_store""
**Describe the bug**

**To Reproduce**
[code]
great_expectations.exceptions.exceptions.InvalidConfigError: batch_data found in batch_request cannot be saved to CheckpointStore "checkpoint_store"

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - Operating System: MacOS
 - Great Expectations Version

[2022-08-29 06:41] hebrd commented on #5858
batch_request with bata_data should not be passed to add_checkpoint api, it should be given only to run_checkpoint

[2022-08-29 06:41] #5858 closed, assigned to nobody

[2022-08-29 14:38] talagluck commented on #5389
Thanks for the confirmation, @KentonParton - I've confirmed that this is a bug which is currently being fixed.

[2022-08-29 14:56] AFineDayFor commented on #5798
Howdy @rob-teeuwen :wave: thanks for reaching out and being a part of the community :bow:

Passing this over the execution engine should help you get this over the line.
You can briefly review some of the connection [execution_engine](https://docs.greatexpectations.io/docs/terms/execution_engine/#configuration)

[code]

[2022-08-29 14:56] #5798 closed, assigned to AFineDayFor

[2022-08-29 14:57] kyleaton commented on #4186
Hey @jdimatteo, We have reviewed this item and added it to our feature roadmap. We do not have an estimated time to start work on this, but we will notify you when we do.

[2022-08-29 14:57] kyleaton commented on #4185
Hey @jdimatteo, We have reviewed this item and added it to our feature roadmap. We do not have an estimated time to start work on this, but we will notify you when we do.

[2022-08-29 14:58] kyleaton commented on #4181
Hey @jdimatteo, We have reviewed this item and added it to our feature roadmap. We do not have an estimated time to start work on this, but we will notify you when we do.

[2022-08-29 14:58] kyleaton commented on #4170
Hey @jdimatteo, We have reviewed this item and added it to our feature roadmap. We do not have an estimated time to start work on this, but we will notify you when we do.

[2022-08-29 16:34] rdodev commented on #4915
Hey @jimmycfa after reviewing this issue with the team, it was determined that the issue is caused by an upstream dependency, namely `ruamel`. They have not yet addressed the issue and there is no clear sign of when they will do so, unfortunately. Changing that function return type won't have any effect since the data has changed the order in the underlying library. We totally hear your use case,

[2022-08-29 16:43] cah-jamey-weyenberg opened #5864 "Expect_column_values_to_be_in_type_list Not working with RuntimeDataConnector with PostgreSQL datasource"
I found some interesting behavior while testing out a profiler-made expectation suite. I was working with a PostgreSQL datasource and testing the expectation suite with an InferredDataConnector and RuntimeDataConnector that used a very basic SELECT query to grab the same table. Interestingly enough, the InferredDataConnector batch_request worked with no issues. The RuntimeDataConnector batch_reque

[2022-08-29 16:44] sarvo-madhavan commented on #5788
I'm seeing a similar error when running profiler.
[code]
This happens in a column which has majority null values. There are about 100 non null values in 23k records table.

[code]

[2022-08-29 16:53] cah-jamey-weyenberg opened #5865 "BigQuery expect_column_values_to_be_unique fails for String values"
Using a BigQuery datasource, with the following batch_request in a checkpoint:
[code]
I get the result that there were "800250 unexpected values found. 100% of 800250 total rows.". Which is obviously incorrect as this would imply that every value is the same. The values in this column are strings. I ran the same expectation against a much smaller table in GCS (also with strings) and got the correc

[2022-08-30 02:40] hebrd opened #5875 "How to define a custom Datasource/ DataConnector"
Any reference documents related to custom Datasource/ DataConnector? I would like to check the quality of data which is requested from API. Also datasource for clickhouse

[2022-08-30 05:04] abekfenn commented on #3195
Hi all, I created a very work in progress PR here https://github.com/great-expectations/great_expectations/pull/5876 at the request of @talagluck (thanks for your guidance thus far). I haven't been able to spend as much time on this as I would have hoped so apologies for the delay.

Currently I've setup a new arg simply to see if I can get this new expectation registered and recognized, and would