[2022-08-30 07:28] pcontrerasnun commented on #5875
For ClickHouse, see this post https://discuss.greatexpectations.io/t/is-anyone-using-great-expectations-with-the-clickhouse-dbms/654/2. Note that CH is not fully supported so you may face some issues

[2022-08-31 14:18] kenwade4 commented on #5827
Hi @itaise thanks for bringing this to our attention. I should have a little time later this week to dig into this.

[2022-08-31 14:32] kenwade4 commented on #5825
Hi @tommy-watts-depop

Did you mean where we set `module_name = "great_expectations.data_context.store"` in `_build_store_from_config()`? We eventually pass that in as a config default to `instantiate_class_from_config()`. In that function the config default is overridden if someone uses a module_name in the store config

[2022-08-31 14:35] mykola-yesypchuk-inflection opened #5888 "[Spark] expect_column_pair_values_A_to_be_greater_than_B(parse_strings_as_datetimes=True) is not working properly"
https://github.com/great-expectations/great_expectations/blob/1f2bc4d3c33faa898f76ecd3bf267bd788bae9bc/great_expectations/dataset/sparkdf_dataset.py#L1362

Data:
"col_a": ["07/11/1967", "04/07/1966", "01/03/1953"],
"col_b": ["08/10/1960", "03/07/1966", "01/01/1900"],
Engine:
Spark
Command:
validator.expect_column_pair_values_A_to_be_greater_than_B("col_b", "col_a", parse_strings_as_datetimes=True)

[2022-08-31 15:13] kyleaton commented on #4203
Hi @tunayokumus, so sorry but we have not been able to make progress on this issue. Are you still experiencing this problem?

To confirm, are you saying that this works as expected when running `test_yaml_config` and doesn’t when running `context.get_validator`?

[2022-08-31 15:45] kyleaton commented on #3842
Hi @dsehnbru, Following up here... We are closing this issue in favor of a GitHub Discussion to provide more visibility to those that would be interested in contributing to adding more support to Teradata. The conversation can be continued here: https://github.com/great-expectations/great_expectations/discussions/5889

Let us know if you are interested in contributing!

[2022-08-31 15:45] #3842 closed, assigned to nobody

[2022-08-31 16:20] austiezr commented on #5842
Hey @jmoskovc! Thanks for raising; this should now be resolved. If you're still unable to join our Slack community from a fresh link please feel free to re-open!

[2022-08-31 16:20] #5842 closed, assigned to nobody

[2022-08-31 16:57] austiezr commented on #5888
Hey @mykola-yesypchuk-inflection ! Thanks for raising this; we'll investigate and be in touch.

[2022-08-31 21:24] klashe1977 opened #5899 "AWS Credentials error when building a Local Docs site"
**Describe the bug**
Issuing the CLI command "great_expectations -v docs build --site-name local_site" (which is pointed to the local filesystem) fails when there is another data_doc site declared with class "TupleS3StoreBackend", stating there is no AWS Credentials entered.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify your ge.yml data_docs_sites block to include two stores, one lo

[2022-09-01 08:37] marcelatoffernet opened #5906 "Clickhouse KeyError"
Using `clickhouse-sqlalchemy`, the profiler causes an issue:

[code]

[code]

[2022-09-01 13:29] sdebruyn opened #5907 "Python 3.10 support"
Python 3.10 has been out for about a year now but [according to the docs](https://docs.greatexpectations.io/docs/guides/setup/installation/local/) this is not supported. What would have to be done to support Python 3.10?

[2022-09-01 17:20] austiezr commented on #5907
Hey @sdebruyn ! Thanks for reaching out. We do have eyes on official support for `3.10`, and many members of the community are successfully using `3.10`. If this is something you'd be interested in contributing towards, we would love to have an ongoing discussion about next steps with the community; to that end, I'm converting this issue into a [Discussion](https://github.com/great-expectations/gr

[2022-09-01 17:20] #5907 closed, assigned to nobody

[2022-09-01 17:21] austiezr commented on #5899
Hey @klashe1977 ! Thanks for raising this; we'll review internally and be in touch.

[2022-09-01 17:23] austiezr commented on #5906
Hey @marcelatoffernet ! Thanks for raising this. Support for Clickhouse is currently Experimental, and there may be some instability inherent in that. We have eyes on improving functionality in this area, but if you are interested in making a contribution towards a solution here, we would be happy to provide support and guidance.

[2022-09-01 17:25] austiezr commented on #5013
Hey @pavanpcr! Closing this out for now; if you feel this to be in error, feel free to re-open!

[2022-09-01 17:25] #5013 closed, assigned to nobody

[2022-09-01 20:04] marcelatoffernet commented on #5906
HI @austiezr . I would be willing to contribute, having vested interested in getting this to work and access to some Clickhouse experts as well who can advise on the CH side of things.

How can I start?

[2022-09-02 07:07] fmfreeze commented on #1942
Curious too, as this would expand the coverage of potential use-cases for GE massively.

[2022-09-02 07:28] pcontrerasnun commented on #5906
I was able to connect to CH with some way arounds (see this discussion https://discuss.greatexpectations.io/t/is-anyone-using-great-expectations-with-the-clickhouse-dbms/654), although had other issues with expectations https://github.com/great-expectations/great_expectations/issues/5832

[2022-09-02 08:55] NickSchouten commented on #5816
Hi @talagluck,
We would be interested in building this, but going through source it seems hard to determine what would need to be created as some pandas and spark classes seem to be deprecated code. Is there a summation of what classes and functions need to be made/edited for dask to work?

[2022-09-02 12:43] tylertrussell opened #5921 "Docs bug: Expectation Suite link broken on Index page's "Validation Results" tab"
**Describe the bug**
On a GE Docs static site (deployed to S3, in this case) on the Index page, "Validation Results" tab, the "Expectation Suite" column contains broken links for all validations listed.

Validations in this case have a full file path of `expectations/foo_baz_bar/foo_baz_bar_data_quality.json`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an expectation suite named

[2022-09-02 13:03] tylertrussell commented on #5921
I noticed the link to the expectation suite at the top of any given Validation Result's page is also broken, but I am not sure if #5922 will fix that

[2022-09-02 17:08] talagluck commented on #5816
Hi @NickSchouten - that's exciting!

The main code you'll want to reference will be for the `ExecutionEngines` - you will want to create a new Dask Execution Engine. You will also need to add support to many or all of the Metrics so that these support Dask as a new type alongside SqlAlchemy, pandas, and Spark.

You can totally ignore everything in the `data_asset` and 'dataset' directories, and al

[2022-09-02 17:19] austiezr commented on #5921
Hey @tylertrussell ! Thanks for raising this. Are you able to share your GE version & environment details? I'm unable to reproduce this behavior on 0.15.21.

[2022-09-02 17:37] tylertrussell commented on #5921
Hey @austiezr - we are on 0.15.6, perhaps upgrading will alleviate this problem.

Out of curiosity, what is the structure of your expectation files?  I was wondering if putting our expectations in a folder such as `expectations/foo_baz/foo_baz_data_quality.json` was causing this issue

[2022-09-03 16:58] KentonParton commented on #5389
@talagluck Was this addressed in 0.15.21 release by any chance?

[2022-09-04 06:57] ariksa1 commented on #5827
Hi, @kenwade4 thanks for the quick respond.
Do you have any estimation for that issue?
It is necessary for our usage for testing our row data...

[2022-09-04 07:59] itaise opened #5929 "[BUG] marshmallow package conflict with airflow"
Hi,
In great expectations latest version (0.15.21) marshmallow specific packages requirement was [added](https://github.com/great-expectations/great_expectations/pull/5866)
However, this is not compatible with Airflow, for example, the few latest versions:
https://raw.githubusercontent.com/apache/airflow/constraints-2.3.4/constraints-3.7.txt
https://raw.githubusercontent.com/apache/airflow/constra

[2022-09-05 20:49] talagluck commented on #5389
Hi @KentonParton - yes, I believe the update came in #5862. Is this working for you now?

[2022-09-05 21:42] KentonParton commented on #5389
Hi @talagluck , yes! Looks like it has been addressed for the `DataAssistant` and `UserConfigurableProfiler`. Thank you

[2022-09-05 21:42] #5389 closed, assigned to AFineDayFor

[2022-09-05 21:45] KentonParton commented on #4832
Sorry for not responding to this @talagluck. I will give the OnboardingDataAssistant a try and report back.

[2022-09-06 10:02] talagluck commented on #5389
Thanks for the follow-up, @KentonParton! To confirm, you are no longer seeing the memory issue in the UserConfigurableProfiler?

[2022-09-06 10:05] KentonParton commented on #5389
Correct. It appears that the changes addressed both the UserConfigurableProfiler and DataAssistant.

The Snowflake Date issue with the DataAssistant has also been resolved.

[2022-09-06 14:10] sergiotj opened #5933 "[BUG] Snowflake metadata is not caching"
My environment:  MacOS
I am trying to connect snowflake to my code with greatest expectations to get some results regarding data quality and validation.

Everything is working great except the fact that every second GE is sending this query to SF:
(SHOW /* sqlalchemy:_get_schema_primary_keys */PRIMARY KEYS IN SCHEMA myschema), and also this query

(SELECT … FROM information_schema.columns ic WHERE

[2022-09-06 18:21] klatifch opened #5938 "[BUG] params_with_json_schema is undefined in _prescriptive_renderer method of ExpectCompoundColumnsToBeUnique"
`params_with_json_schema` object is not declared in `_prescriptive_renderer` method in class `ExpectCompoundColumnsToBeUnique`. So if an expectation suite uses `expect_compound_columns_to_be_unique` with `mostly` param < 1.0, it causes `NameError: name 'params_with_json_schema' is not defined`

https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/expectations/co

[2022-09-07 19:24] Gonalb commented on #5720
I was discussing with a colleague and the url with googleapis is for public buckets and our bucket is private we need that replaced with cloud.google.

[2022-09-08 12:46] sergiotj commented on #5864
Same happens in snowflake

[2022-09-08 15:42] rdodev commented on #5938
Hey @klatifch thanks for the raising this issue. We'll take a look and report back.

[2022-09-08 19:04] rdodev commented on #5938
Hey so this definitely looks like a bug, will chat with engineering about it.

[2022-09-09 05:28] itaise commented on #5929
@cdkini maybe you have some insight on that? Thanks a lot!

[2022-09-09 12:20] rdodev commented on #5938
Hey @klatifch a minor patch was just merged to address this issue. It should go out in next week's release. Please feel free to reopen this if the issue isn't resolved by next Friday (09/16/22).

[2022-09-09 12:20] #5938 closed, assigned to rdodev

[2022-09-09 19:50] pdraznik-cadent commented on #3652
This is still an issue that is causing my team very long run times as the introspection will scan way too many tables if the schema cannot be specified.

[2022-09-12 14:26] rdodev commented on #5933
Hello @sergiotj thanks for raising this issue. I will bring this to the team's attention and get back to you.

[2022-09-12 15:16] rdodev commented on #5929
Hey @itaise @cdkini is working on a fix for this. He'll provide an update soon.

[2022-09-12 15:17] rdodev commented on #5933
Hey @sergiotj

I spoke with engineering and they said this issue should have been resolved in the latest release. Would you mind trying it and reporting back if you encounter any issues? Thanks!

[2022-09-12 15:32] sergiotj commented on #5933
Hi @rdodev! I just installed the last version - 0.15.22 and I have found the same issue :/

[2022-09-12 16:08] adam-mrozik opened #5991 "Neither 'ColumnClause' object nor 'Comparator' object has an attribute 'is_not'"
**Describe the bug**
When trying to run `build_suite` method against my CH datasource I get the error mentioned in the topic. Seems like some SQLAlchemy Query builder issue.
It works when I manually edit the code to use `isnot` instead of `is_not`

**Environment (please complete the following information):**
 - Operating System: Ubuntu 21.04
 - Great Expectations Version: great_expectations, versi

[2022-09-12 18:07] itaise commented on #5929
thanks a lot!

[2022-09-13 10:24] talagluck commented on #3652
Thanks @jhanlonhg and @pdraznik-cadent - this was addressed in the latest release (as of last Thursday). Can you please confirm whether this has been resolved for you?

[2022-09-13 14:13] AFineDayFor commented on #5720
Howdy @Gonalb and @austiezr 👋 thanks both for just all around being cool as cucumbers 🙇

In the meantime @Gonalb, you can leverage custom renderers per the documentation [here](https://docs.greatexpectations.io/docs/terms/renderer), doing so would allow you to change the urls scheme. This is just a followup of our chat [here](https://greatexpectationstalk.slack.com/messages/CUTCNHN82/p166266575573

[2022-09-13 17:35] kenwade4 commented on #5933
@sergiotj if you are using the InferredAssetSqlDataConnector, you can update your config so that it [doesn't introspect the entire database](https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/how_to_configure_a_dataconnector_to_introspect_and_partition_tables_in_sql/), by adjusting `introspection_directives` settings like [in this test](https://github.com/great-expectations/grea

[2022-09-13 17:52] cah-jamey-weyenberg commented on #5865
I investigated on my own, and it looks like the issue is not what I originally thought it was. In this instance, I found that there are actually multiple copies of **every** entry in the column. Which explains the 100% unexpected values found.

[2022-09-13 17:52] #5865 closed, assigned to nobody

[2022-09-14 09:26] adam-mrozik commented on #5899
Hey, bumping this one, have encountered same issue as well

EDIT:

Probably related, but since it checks all buckets existence, it is basically impossible to configure for multiple environments. Each bucket for me is a different set of credentials, so everytime I try to run for dev, it fails on checking that `prod` bucket exists

[2022-09-14 13:12] sergiotj commented on #5933
@kenwade4 the problem isn't the introspection of the entire database. It's not doing that... The problem is the fact that for each expectation calculation in database, the GE is querying these queries:

- SHOW /* sqlalchemy:_get_schema_primary_keys */PRIMARY KEYS IN SCHEMA myschema
- SELECT … FROM information_schema.columns ic WHERE ic.table_schema=myschema

Example:

1. Query get_schema_primary_k

[2022-09-14 15:30] kenwade4 commented on #5933
Yea that shouldn't be happening @sergiotj

Are you running checkpoints to trigger this, running individual Expectations in a notebook, or something else?

Can you share more of your config information?

[2022-09-14 16:47] sergiotj commented on #5933
@kenwade4 here is my code:

[code]

[2022-09-15 17:16] adam-mrozik opened #6027 "[BUG] Clickhouse Multiple Aliases"
Hey Guys,

I saw this bug has been solved with a new PR, but apparently it doesn't work all the time. For my dataset I still get this error with larger row counts:

[code]

increasing `k` parameter to `4` or higher in `/great_expectations/execution_engine/sqlalchemy_execution_engine.py` seems to solve the issue for me.
[code]

Not really sure about the root-cause. Maybe for certain datasets even t

[2022-09-15 22:35] pwrstar commented on #3655
Facing this issue too while running Spark3 via AWS Glue3.0. Is there any workaround for this as of now?

[2022-09-15 22:59] pdraznik-cadent commented on #3652
Thanks @talagluck this is working with the update and we're seeing greatly improved times! Are there any plans to provide additional filtering mechanisms for specific tables? This would help us to decrease our run times even further 😄

[2022-09-16 05:03] jiaxiang521 commented on #3199
I have encountered a similar situation. How to solve it if I do not upgrade mysql

[2022-09-16 07:54] adam-mrozik commented on #6027
It seems to happen because number of columns is too high (around 50 that I check for not being empty) and alias generator seems to repeat itself.

Maybe it would be worth to have some set storing all the generated aliases to make sure each is unique

[2022-09-16 19:20] dansola opened #6035 "[BUG] Batch IDs are *NOT* accessible in the order in which they were loaded in Validator"
**Describe the bug**
When accessing validation results for example like this: `validation_results.meta["active_batch_definition"]["batch_identifiers"]`, the keys are not in the same order as they were loaded according to the order of `batch_identifiers` listed in the `great_expectations.yml` file for a datasource. I got this error when updating from 0.13.28 to 0.15.22.

Looking at the [changelog](

[2022-09-17 15:39] sergiotj commented on #5933
I am wondering if the creation of the temp table could be the cause for the cache getting broken... What do you think about it? @kenwade4

[2022-09-17 22:50] Iyanumanuel opened #6040 "Issue connecting to GCS Json data"
## **Describe the bug**
My data source is stored on Google Cloud (GCS bucket) in JSON files and I used the guide [here](https://docs.greatexpectations.io/docs/deployment_patterns/how_to_use_great_expectations_with_google_cloud_platform_and_bigquery/) to create a datasource connection, but when I try to create an expectation suite by connecting to sample batch of json data I get a TypeError: BatchR

[2022-09-19 15:00] adam-mrozik commented on #6027
Bumping the thread. Would be nice to get some feedback

[2022-09-20 10:24] rtitton opened #6047 "Limit the value_set object size in validation results"
With `expect_column_values_to_be_in_set` expectation type, the provided `value_set` argument is put in the validation result json file, within the expectations_config dictionary.
Example of validation result:
![immagine](https://user-images.githubusercontent.com/15352090/191234844-1ee3fe5f-132a-4db4-b4de-0ada7d1f54c8.png)

When the provided value_set is defined as a query store reference, instead

[2022-09-20 12:25] williamdphillips commented on #929
This is still relevant for spark-based dataframes. The unexpected index list works correctly for pandas, but when using spark dataframes the unexpected index list contains all nulls (ge.dataset.SparkDFDataset(df)). Attempted to utilize pyspark pandas but haven't yet been able to get it to work.

Although spark dataframes don't actually have indexes like pandas, there should be some way to utilize

[2022-09-20 13:56] JoeJoe1313 opened #6048 "Suddenly unable to log check result"

[2022-09-21 15:53] kyleaton commented on #5535
Surfacing a related issue here: #5834

[2022-09-22 07:13] kantegajorgen opened #6064 "expect_column_values_to_be_unique not respecting create_temp_table equals false"
**Describe the bug**
When using expect_column_values_to_be_unique, the create_temp_table=false is not respected.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up datasource with Synapse linked to CosmosDB
2. Create view in Synapse querying data in CosmosDB Analytics Store
3. Set create_temp_table=false in GE
4. Create expectation with expect_column_values_to_be_unique
5. Create and run

[2022-09-22 08:26] #6048 closed, assigned to nobody

[2022-09-22 18:31] talagluck commented on #5991
Hi @adam-mrozik - thanks for your question! We don't currently have much support for ClickHouse - technically it is possible to use it through our SqlAlchemy connection, but there are several different parts of the codebase that are specific to different SQL dialects, and few, if any, of those have been specifically implemented for ClickHouse. If you are interested in adding better support for Cli

[2022-09-22 18:36] talagluck commented on #6027
Hi @adam-mrozik - thanks for the ping. I'm not sure why this is specifically an issue with Clickhouse, and it looks like even this update was added fairly recently due to a similar issue happening previously. For now, if you open the PR, that will enable us to more easily continue the conversation and decide whether we want to stick with this approach, or try something new.

Just a heads-up, there

[2022-09-22 18:40] talagluck commented on #6040
Hi @Iyanumanuel - thanks for your question. I think the main issue here is that currentl Great Expectations only works on tabular data (and not JSON), and so your Data Connector is not picking up that there are any data files. Down the road, we hope to add support for unstructured data, but we don't have a firm timeline for that at this point in time.

[2022-09-22 18:45] talagluck commented on #6035
Hi @dansola - thanks for opening this issue. We will review and be in touch.

[2022-09-22 18:51] talagluck commented on #6047
Hi @rtitton - thanks for raising this. This is a really interesting issue - I understand the problem that you are facing, though it may not be addressable. Thinking about Expectation Suites as data contracts, I can imagine it being problematic for users to not know the value set of an Expectation that passes or fails without an external reference, since it will be difficult to understand what pass

[2022-09-22 18:55] talagluck commented on #6064
Hi @kantegajorgen - thanks for raising this. I think the issue here is that we don't offer full support for Synapse or CosmosDB - just whatever is immediately accessible through a SqlAlchemy connection string. When that is the case, temp table functionality (or the lack thereof) is one of the first errors that users tend to hit. If you are interested in making a contribution here, please let us kn

[2022-09-22 19:18] austiezr commented on #5315
Hey @ejmoll! Thanks for your patience. With the official launch of the OnboardingDataAssistant this past week, there's been a LOT of work done here. Are you able to verify whether or not you're still encountering this issue as of the most recent version of GX?

[2022-09-22 19:27] austiezr commented on #4262
Hey @john-schwegler-vectorsolutions ! Closing this out for now, feel free to re-open if it continues to be an issue.

[2022-09-22 19:27] #4262 closed, assigned to nobody

[2022-09-22 19:28] austiezr commented on #5067
Hey @andyjessen ! Closing this out for now; feel free to re-open if this continues to be an issue.

[2022-09-22 19:28] #5067 closed, assigned to nobody

[2022-09-23 07:31] nagocht opened #6072 "ERROR: No such command 'checkpoint'. The command `checkpoint` does not exist."
Hey,
I’m facing a weird error message in my GX installation.
[code]
I’m running GX in a docker container. The one deployed works just fine, if I execute GX locally it also works fine but running it in the local Docker container and deploying a new one results in this error message.
I’m using GX 0.14.0. I checked all the dependency differences between the working and not working versions but they s

[2022-09-23 09:56] Iyanumanuel commented on #6040
Oh great, thanks for the reply @talagluck.

I hope this can be done soon enough.

[2022-09-23 12:02] juliankeppel opened #6073 "Using PySpark Timestamp Type throws "TypeError: Object of type Timestamp is not JSON serializable""
Hi,

I use GE version 0.15.24, PySpark version 3.2.1 and Python version 3.8.6

I have some custom expectations based on timestamp columns in PySpark dataframes.

The validation itself works perfectly, but whenever we want to call the result object, we get the following stacktrace:
[code]

It looks like there is a problem in correctly interpreting the PySpark Timestamp time.

When I remove the corr

[2022-09-23 14:44] austiezr commented on #6073
Hey @juliankeppel ! Thanks for reaching out. Are you able to share the `_spark` & `_validate` methods of your Custom Expectations, as well as the workflow generating this stack trace?

[2022-09-23 14:46] austiezr commented on #6072
Hey @nagocht ! Thanks for reaching out. We'll discuss internally and be in touch.

[2022-09-23 16:11] kyleaton commented on #4277
Hi @cameronezell,

This has been fixed! You should be able to find the solution here: https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/datasource_configuration/how_to_configure_a_sql_datasource

Please let us know if you run into any further issues. Feel free to reopen if this is not a solve for you.

Thanks,
Kyle

[2022-09-23 16:11] #4277 closed, assigned to nobody

[2022-09-23 16:21] AFineDayFor commented on #4417
Howdy @AlbertUlysses :wave: thank you for raising this with us and being a part of this lovely community :bow:

At this time as we can't replicate this behaviour we're closing this ticket; however, if you're still experiencing this can you please provide the means you're using to set the variable, proof it's set, and the output of the command just so we can brush over it once more? 🔬

example of p

[2022-09-23 16:21] #4417 closed, assigned to nobody

[2022-09-23 16:25] rdodev commented on #4850
Hey past-self! Thanks for opening this issue. This is more of a SQL connector thing than an Athena specific issue. This could be added to the generic sql connector documentation. But that's low priority in our current docs backlog. We'd love to assist and would welcome a contribution here. Closing for now.

[2022-09-23 16:25] #4850 closed, assigned to nobody

[2022-09-23 16:28] #3568 closed, assigned to nobody

[2022-09-23 16:30] talagluck commented on #4877
Hi @helenduww - apologies for delays here. It looks like like your backend is Snowflake, but you are attempting to use a `pandas` `condition_parser`. I believe that you need to specify `sql` as your `condition_parser` instead. Since this is a configuration issue, I'm going to close this for now, but please feel free to reopen if you have additional questions.

[2022-09-23 16:30] #4877 closed, assigned to nobody

[2022-09-23 16:39] kyleaton commented on #3572
Suggested copy edit:

This Expectation Suite may not be a complete assessment of the quality of your data. You should review and edit the Expectations based on domain knowledge.

[2022-09-23 16:49] kyleaton commented on #5420
Hi @riwim! This has been fixed. Thanks for raising this and if the problem persists, please feel free to reopen this issue.

[2022-09-23 16:49] #5420 closed, assigned to nobody

[2022-09-25 16:23] aezomz commented on #5341
issue is fixed with the newer version of GE, which handles this.

[2022-09-25 16:23] #5341 closed, assigned to AFineDayFor

[2022-09-26 05:07] as93717913 opened #6089 "Regex-Based Column Map Expectations based on MSSQL & Oracle DB"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
We need to check is data follow company's guideline like naming convention, and our company use mssql and oracle as standard DB stack

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**

[2022-09-26 06:16] juliankeppel commented on #6073
@austiezr

The `expect_column_values_to_not_exceed_timerange`  inculded in the following class is our custom expectation that is probably responsible for the exception (because of the timestamps handled in it):
[code]

Our workflow is encapsulated in a custom wrapper library. What it basically does is to create a data context, collect expectations suites and validates the suites against a given Sp

[2022-09-26 14:43] austiezr commented on #6089
Hey @as93717913 ! Thanks for raising this. We'll discuss internally and review how functionality should be addressed in this area.

[2022-09-27 03:04] puruzio opened #6096 "InvalidDataContextConfigError: Error while processing DataContextConfig: include_rendered_content"
**Describe the bug**
get_context() fails with this error message
InvalidDataContextConfigError: Error while processing DataContextConfig: include_rendered_content

**To Reproduce**
Steps to reproduce the behavior:
Follow the example in the documentation here.
https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/in_memory/pandas/#2-instantiate-your-projects-datacontext
The error oc

[2022-09-28 01:51] karry-li-lego opened #6105 "Can't support AWS china secrets manger for data context"
As great_expectations/data_context/data_context/abstract_data_context.py
line 263  is:
if value.startswith("secret|arn:aws:secretsmanager"):
but for aws china region, the third part is **aws-cn**, not **aws**, so could you please support AWS China region?

[2022-09-28 11:40] itaise commented on #5929
Hi, @cdkini  @rdodev  any updates on this? thanks!

[2022-09-28 23:44] daviewales commented on #5596
Any update on this? I'm seeing this as well for `expect_column_values_to_not_match_like_pattern` on Windows 11 with great_expectations version 0.15.23.

[2022-09-29 01:06] OphelieC opened #6109 "JsonSchemaProfiler doesn't handle a property with "type": "object""
**Description**
When running the `JsonSchemaProfiler` on schemas where a property has the `"type": "object"`, the profiler throws the following error:

  File "json_profiler.py", line 43, in <module>
    suite = profiler.profile(schema, suite_name)
  File "/Users/ophelie/repos/data-platform/venv/lib/python3.8/site-packages/great_expectations/profile/base.py", line 157, in profile
    expectation_s

[2022-09-29 13:38] adam-mrozik opened #6111 "[BUG] Expectations duplicate after a few runs"
**Describe the bug**
Hey Guys,

I am running my expectations for Clickhouse datasource and after a couple of runs, for no reason whatsoever, Great Expectations decide to multiply every NOT NULL expectation I have by the factor of 3, which causes SQL query to fail.

First few runs (correct):
![image](https://user-images.githubusercontent.com/92296835/193047051-4193a35e-ee00-4284-b1d5-8b7ba41daeef.p

[2022-09-30 03:37] dctalbot opened #6117 "`great_expectations datasource new` developer experience"
**Describe the bug**
`great_expectations datasource new` has a couple of issues:
1. When prompted to install required dependencies (e.g. sqlalchemy, psycopg2-binary) the loading bars remain at 0%
2. When prompted to install psycopg2-binary specifically, it crashes with this error: `'NoneType' object has no attribute '__version__'`

Fortunately, running `pip list` and `pip check` seems to indicate

[2022-09-30 04:55] dctalbot opened #6118 "`great_expectations datasource new` inaccurate messaging"
**Describe the bug**
The new datasource notebook states the following:

This is not true; they are saved to `great_expectations.yml` which is not in the provided `.gitignore`. I consider this misleading and even harmful.

**To Reproduce**
Steps to reproduce the behavior:
1. run `great_expectations datasource new`
2. follow instructions
3. observe credentials stored in different location than sugge

[2022-09-30 16:02] BStefansen-lightbox opened #6120 "`'default_runtime_data_connector_name` not found in `batch_identifiers` for the `RuntimeDataConnector`"
**Describe the bug**
`default_runtime_data_connector_name` is not being added as a key to `self._batch_identifiers`
[code]

**To Reproduce**

`flow.py`
[code]

`great_expectations.yaml`
[code]

`isp_file_submission_checkpoint.yaml`
[code]

**Expected behavior**
The `self._batch_identifiers` variable should already be populated with a value for `self.name` aka `default_runtime_data_connector_name`,

[2022-09-30 16:50] austiezr commented on #6096
Hey @puruzio ! Thanks for raising this. We'll investigate internally and be in touch.

[2022-09-30 16:51] austiezr commented on #6105
Hey @karry-li-lego ! Thanks for raising this. We'll review this behavior and be in touch.

[2022-09-30 16:56] austiezr commented on #6109
Hey @OphelieC ! Thanks for raising this (and the Contribution)! We'll review both and be in touch.

[2022-09-30 16:58] austiezr commented on #6111
Hey @adam-mrozik ! Thanks for raising this. Are you able to share some details around your configs & workflow generating this behavior (with any PII removed)? That will help us to better investigate what may be happening here.

[2022-09-30 17:06] austiezr commented on #6117
Hey @dctalbot ! Thanks for raising this. We'll investigate and be in touch.

[2022-09-30 17:09] austiezr commented on #6120
Hey @BStefansen-lightbox ! Thanks for raising this; we'll review this behavior and be in touch.

[2022-09-30 19:57] BStefansen-lightbox commented on #6120
@austiezr I figured out the problem. It has to do with my yaml configurations. I don't have the time right now, but I will most my findings on Monday.

[2022-09-30 21:58] austiezr commented on #6109
Closed by #6110 ; thanks @OphelieC !

[2022-09-30 21:58] #6109 closed, assigned to nobody

[2022-10-03 09:05] adam-mrozik commented on #6111
Sure!

clickhouse_event.json expectations (part of it, they are mostly just expect not to be null + one mean check, 41 checks overall)
[code]

great_expectations file:
[code]

Checkpoint being run:
[code]

Checkpoint is just being run on a CronJob with Python. `query` is just a custom SQL, which selects the given columns (not sure if it is relevant for sharing):
[code]

I have no immediate idea wh

[2022-10-03 10:28] early-riser18 commented on #294
What is the status on this issue? I cannot find any resolution and yet, it is still a very relevant topic.

[2022-10-03 13:19] BStefansen-lightbox commented on #6120
@austiezr

Here was the solution. The code was looking for batch identifiers for the assets defined in the data connector rather than during runtime.

`great_expectations.yaml`
[code]

`flow.py`
[code]

[2022-10-03 15:11] #6120 closed, assigned to nobody

[2022-10-03 21:45] PSUlion16 opened #6130 "great_expectations\data_context\types\base.py -> 'Missing' Field Deprecated Warnings"
As a developer running tests - warnings are given for the 'Missing' Field within the marshmallow package used by GE. Marshmallow package also throws similar errors, but is outside of scope of GE.

Impacted file, lines and associated errors are shown below.

GE Version: 0.15.26
Marshmallow Version: 3.18.0

**Impacted File: great_expectations\data_context\types\base.py**

**Lines 236, 241, 264, 360,

[2022-10-04 11:50] sergiotj commented on #5933
@kenwade4

I can solve this issue changing the function get_sqlalchemy_column_metadata in expectations/metrics/util.py to:

`
inspector_new = None
def get_sqlalchemy_column_metadata(
    engine: Engine, table_selectable: Select, schema_name: Optional[str] = None
) -> Optional[List[Dict[str, Any]]]:

    global inspector_new
    try:
        columns: List[Dict[str, Any]]

        if inspector_new i

[2022-10-04 13:06] austiezr commented on #6027
Closed by #6128 🚀

[2022-10-04 13:06] #6027 closed, assigned to nobody

[2022-10-04 17:31] rishabhreply opened #6131 "How to run checkpoint on all Batches instead of by default 1."
I am using great expectations to run on csv files stored on S3 like this-
s3://bucket-name/folder1/**sub-folder1**/bonus.csv
s3://bucket-name/folder1/**sub-folder2**/bonus.csv

I built a checkpoint with following config-
[code]
On running this checkpoint it checks only the csv under the **sub-folder2** (s3://bucket-name/folder1/**sub-folder2**/bonus.csv). I want the check to also run over the csv

[2022-10-05 09:50] dvorst opened #6132 "FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead."
Using pandas v1.5.0

Getting warning: "FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead."

https://github.com/great-expectations/great_expectations/blob/85eed98305d4d741635459022b1e6eee7b4da370/great_expectations/core/util.py#L263

[2022-10-05 16:20] timdenouden commented on #5799
HI @talagluck @benrutter our team was facing this exact issue as well. When testing today it appears to have been resolved with no change on our end. Can you confirm on yours?

[2022-10-05 21:09] rbertsche opened #6135 "multiple sample_using methods fail for BigQuery datasource"
**Describe the bug**
When using the sampling_methods:
* `sample_using_random` &
* `sample_using_mod`  &
* `sample_using_md5`
using a BigQuery datasource, the DataAssistant fails with errors. This occurs because the SQL code generated when using those sampling methods includes the SQL functions `random()` and `mod()`. Those functions are not valid functions in the BigQuery SQL dialect.

### sample_

[2022-10-06 11:54] mmceng opened #6139 "Data Docs hosting update on Azure overwrites previous docs validation"
**Describe the bug**
Hey ,

I have a problem with azure data docs, while one person makes updates docs get appended on Azure blob storage, but if other person want append docs, Great Expectations overwrites and clear validations results of previous person.

**To Reproduce**
Steps to reproduce the behavior:
1. First person makes tables validations
2. Update Azure blob storage docs
3. On Azure blob

[2022-10-06 15:37] yuming-p opened #6140 "InferredAssetSqlDataConnector does not return complete schema_name.table_name list even if include_schema_name=True"
Hi here,

for a MariaDB/ MySQL datasource with multiple schemas and same table names under different schemas,
the following does not give a full list of the available data asset in the connected datasource, which caused KeyError when we add some tables in checkpoint BatchRequest for validation.

[code]

the specification of data source is the simplified following:
[code]
**Finding from Self-Debugg

[2022-10-07 22:27] MoBoo commented on #6131
I have the same issue...
I dug through some code and found some hints on why this behavior is the case:

In `great_expectations/validator/validator.py:1413` the `active_batch_id` is set as the last item of the `batches` in the `Validator` object. This `active_batch_id` is then used in the construction of the ExpectationsGraph ( `great_expectations/validator/validator.py:1024` and somewhere down th

[2022-10-09 18:14] KentonParton commented on #6140
I am experiencing the same issue. I believe the bug was introduced in release `0.15.22` PR #5847

[2022-10-11 08:27] orenewix commented on #5929
Any news?

[2022-10-11 16:30] serg-music commented on #5565
The same issue is with the `expect_column_values_to_be_in_type_list` expectations
version 0.15.26

[2022-10-11 19:15] knguyen1 commented on #2065
@eugmandel Has this been done?  What's the technique to do this now?

[2022-10-11 22:02] hsheth2 opened #6146 "Hive dialect name error"
**Describe the bug**

The Hive dialect name is `b'hive'`, which is of type bytes and not str. This causes issues in the dialect comparison here: https://github.com/great-expectations/great_expectations/blob/1af478a2eb5694ad90d723a057be1c8636b2497b/great_expectations/execution_engine/sqlalchemy_dialect.py#L27-L30

This issue applies to GE versions 0.15.23+.

This appears to be a regression introduc

[2022-10-12 10:13] rishabhreply commented on #6131
Thanks for confirming this issue. How did you fix it then in your case?

[2022-10-12 13:36] scotty5685 opened #6147 "Column Pair: Comparing two columns Column_A greater than Column_B is not correctly rendering results under 'Observed Value' G.E Report"
**Describe the bug**
I am trying to compare two columns using the method 'expect_column_pair_values_A_to_be_greater_than_B'. My expectation is that in the majority of cases column_A should be always greater than column_B, which generates the desired results.  However, it seem there is an error in rendering these results under 'Observed Value' within Dat Docs.

{
     "expectation_type": "expect_co

[2022-10-12 14:40] AFineDayFor commented on #6130
Howdy @PSUlion16 :wave: thanks for raising this with us and being a part off this stellar community :bow:

We'll raise it with the team; however, if you'd be keen on submitting a contribution that address this, we'll be excited to review it.

[2022-10-12 14:43] AFineDayFor commented on #6131
Howdy @rishabhreply and @MoBoo :wave: thank you both for you raising this :bowing_woman:

We'll raise this with the team; however, we'll also be watching for @MoBoo's reply as well. Thank you both so very much for identifying this, it's greatly appreciated.

[2022-10-12 14:51] AFineDayFor commented on #6132
Howdy @dvorst :wave: thank you for raising this with us :bow:

We'll convey this to the team, thank you so very much for being observant.

[2022-10-12 15:02] MoBoo commented on #6131
Great this issue is picked up :D

Haven't yet. It is also still an open issue on my end. Looking into the code i also don't see an easy way for a fix or PR without breaking things on multiple other ends ... ^^

Currently my best bet is to work around this issue until it can be resolved by the devs :)
For example one could define the checkpoint validation batches for each, in your example, sub-fold

[2022-10-12 15:07] AFineDayFor commented on #6139
Howdy @mateoxc 👋 thank you for raising this with us :bow:

We'll bring it up with the team, and may need to reach out for a bit more information. We'll let you know.

[2022-10-12 15:08] AFineDayFor commented on #6135
Howdy @rbertsche :wave: thank you for raising this with us and being a part of our Community :bow:

We'll review this wiht the team, thank you so very much for bringing this to our attention and your patience

[2022-10-12 15:12] rishabhreply commented on #6131
Thanks @AFineDayFor . I hope it gets fixed soon, because this affects the whole point of having great_expectations in practice. I also think the documentation can be improved a lot. Many times only particular cases are described but there is no information about other obvious cases and those cases can be implemented, it's just not documented.

@MoBoo , thanks for sharing the info. Yes, I implement

[2022-10-12 15:47] AFineDayFor commented on #6131
Howdy @rishabhreply and @MoBoo, thank you both for your patience :bow:

So for clarity's sake, currently we do not support this to the extent you'd want; you'd have to provide the batch ID as you currently are; however, we'll be bringing it up with the engineering component, for some clarity on how we want to go forward still.

Thank you both so very much. Keep an eye on the changelog/roadmap?

As

[2022-10-12 16:40] tommy-watts-depop opened #6148 "Redshift spectrum temp tables should be explicitly declared as text(<temp-table>)"
**Describe the bug**
I am running validations on a redshift spectrum external table with files stored in s3. When running the validation i pass a query to the checkpoint batch_request to get to a single column from the table to avoid a "spectrum can not select *" error, however, i get the following from the great expectations results that are returned:

`"exception_message": "Textual SQL expressio

[2022-10-12 19:29] AFineDayFor commented on #6146
Howdy @hsheth2 :wave: thanks for reaching out and raising this with us :bow:

We're raising this within the team. Thank you so very much for helping us in identifying this 🦠🔬

[2022-10-12 19:31] AFineDayFor commented on #6147
Howdy @scotty5685 :wave: thanks for bringing this to us and being a part of this stellar community :bow:

We'll raise it internally as well; however, at this time a rough band-aid may be providing a custom renderer? 🔬

[2022-10-12 19:55] AFineDayFor commented on #6148
Howdy @tommy-watts-depop :wave: thanks for raising this with us and being a part of this lovely community :bow:

I created the above PR to make the change a bit easier to read; however, if you would like to submit a contribution yourself we'd greatly encourage it, and will review it all the same.  🔬

[2022-10-13 16:51] NathanFarmer commented on #6146
The fix for this is merged into `develop` and will be included as part of todays release (0.15.27). Thanks @hsheth2!

[2022-10-13 16:51] #6146 closed, assigned to AFineDayFor

[2022-10-13 21:29] hsheth2 commented on #6146
Thanks @NathanFarmer for the quick fix!

[2022-10-14 05:41] dollyBa opened #6157 "Azure Synapse issue with table level expectations"
Hi,

I am trying to use Great Expectations on Azure Synapse Workspace with data source as Azure synapse dedicated SQL pool. I am running into issues when trying to run an expectation suite. The error is as follows:

**ge_exceptions.MetricResolutionError(great_expectations.exceptions.exceptions.MetricResolutionError: \'NoneType\' object is not iterable)**

Note: I am getting this error only for col

[2022-10-14 09:46] Jorgicol opened #6158 "Expecting property name enclosed in double quotes: line 11 column 9 (char 302) when running checkpoint doesn't matter which expectation or dataframe"
ERROR:great_expectations.validation_operators.validation_operators:Error running action with name store_evaluation_params

Expecting property name enclosed in double quotes: line 11 column 9 (char 302) when running checkpoint doesn't matter which expectation or dataframe.

Not sure if it is due to the new version release, but working in 0.15.24 still crashing

[2022-10-14 11:06] tommy-watts-depop commented on #6148
@AFineDayFor Thanks for this, i have raised my own PR here https://github.com/great-expectations/great_expectations/pull/6150

[2022-10-14 15:33] AFineDayFor commented on #6157
Howdy @dollyBa :wave: thanks for raising this with us and being a part of this lovely community :bow:

Do you happen to have a full stack trace and can you provide the workflow/configuration that we can reference further? :microscope:

[2022-10-14 18:15] AFineDayFor commented on #6158
Howdy @Jorgicol 👋 thanks for reaching out and bringing this to our attention🙇‍♀️

So we can reproduce this please share the configuration, and so we dan review it further can you please share the full stack trace below 🔬🦠

We'll raise this with the team.

Thanks for contributing to this stellar community with your time 😄 we appreciate it greatly and know it's the most important thing any of us hav

[2022-10-16 12:19] dollyBa commented on #6157
Hey,

Please find below workflow/configuration for further reference:

**Below is the configuration used to set up the BaseDataContext:**
[code]

**and following is the skeleton of how i have created the validator object:**

[code]

[2022-10-17 07:26] Jorgicol commented on #6158
Hi AFineDayFor, appreciate your time and quick response. It seems this problem was due to my cluster cache, once It was cleaned it worked as usual. Thanks anyway. You can close this issue :)

[2022-10-17 10:02] Jorgicol commented on #6158
One of the json corresponding to a suite was with incorrect syntax, seems that when moving from blob to dbfs of databricks it is executed somehow and the error persist whenever I tried to run a df with a different suite. That was the real cause.

[2022-10-17 13:12] serg-music commented on #5991
I face the same issue with GE 0.15.27 and am interested in adding better support for ClickHouse.

[2022-10-18 09:03] psxmc6 commented on #6139
Any updates on this?

[2022-10-18 19:53] anthonyburdi commented on #4295
Hi @kuhnen, @nicolasaraceni, @YevgeniyaLee - I'm having a hard time replicating the issue described with the latest version of Great Expectations (including @joshua-stauffer 's fix in #4336). Here is an exploratory test that tries to duplicate this issue: https://github.com/great-expectations/great_expectations/compare/b/dx-9/testing_if_issue_still_exists
If you have a dataset or other instruction

[2022-10-19 08:23] kuhnen commented on #4295
@anthonyburdi to be honest I do not remember when I stop having this issue on my side.  Sorry, but I am not able to provide any useful information.   I will try to find on my code and tickets any information about this issue.

[2022-10-19 12:27] talagluck commented on #6158
Thanks for the follow-up, @Jorgicol!

[2022-10-19 12:27] #6158 closed, assigned to AFineDayFor

[2022-10-19 14:25] joshuachapnick-bc commented on #6096
Hey!

I've been getting the same error recently as well. I've noticed that this occurs when I have two Jupyter servers running on the same python interpreter (two terminal windows with the same Python instance). I know this may be a niche case but it is nice to be able to edit multiple expectation suites at once.

Hopefully this helps in your investigation efforts! Let me know if I can be of any a

[2022-10-19 14:49] ariksa1 commented on #5827
Hi @kenwade4 any updated regarding the issue?
cc @itaise

[2022-10-19 15:01] serg-music opened #6175 "Docs cannot be rendered when validation contain an exception KeyError: 'observed_value'"
**Describe the bug**
When the validation result does not contain the 'observed_value' due to an exception thrown the rendering of the docs will skip that validation run.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the validation and force the exception (e.g. connectivity or driver issue)
2. For instance you must obtain such validation in your validation store
`{
  "meta": {
    "grea

[2022-10-19 15:06] serg-music commented on #6175
Reproduced also on Great Expectations Version: [e.g. 0.15.27] - the latest at the moment

[2022-10-19 16:19] PSUlion16 commented on #6130
@AFineDayFor - I can take a crack at it - I will probably not get to this until later this week or weekend. Will let you know if I have issues.

[2022-10-19 18:21] anthonyburdi commented on #6148
Addressed in https://github.com/great-expectations/great_expectations/pull/6159

[2022-10-19 18:21] #6148 closed, assigned to AFineDayFor

[2022-10-20 05:44] dollyBa commented on #6157
Hey @AFineDayFor, do let me know if you need any further details from my end.

[2022-10-20 11:08] juliankeppel commented on #6073
@austiezr Can you say anything to my issue here? I'm still stuggling and according to the stacktrace, it occurs directly in Great Expectations core (I accidently truncated it in the original post): `great_expectations/core/expectation_validation_result.py", line 424, in __repr__`

When I remove the expectations that handle Timestamp types, my complete workflow works as expected.

[2022-10-21 13:41] berrisfordjohn opened #6187 "expect_column_values_to_be_in_type_list() got multiple values for argument 'column'"
**Describe the bug**
We are running expectations in a generic method using the following python code.
When I try expect_column_values_to_be_in_type_list or expect_column_values_to_be_of_type I get the error
Traceback (most recent call last):
  File "/home/kctw964/data_to_cmm/tests/test_expectation_handling.py", line 15, in <module>
    ret = method(df_ge, **test_to_run)
  File "/home/kctw964/data_

[2022-10-23 09:07] itaise commented on #5827
As I understood Ken is on PTO, @talagluck any updates? thanks a lot!

[2022-10-24 06:34] orenewix commented on #5929
@cdkini @rdodev can you please provide an update, if this remains on the next Airflow upgrade Wix will have to stop using GE package

[2022-10-24 11:14] itaise commented on #5991
Hi @talagluck, we are facing the same issue with Trino, with SQLAlchemy.
We are using this expectation:
[code]
And getting the same SQLAlchemy error -

[code]

can you please check? thanks!

[2022-10-24 13:20] cdkini commented on #5929
Apologies for the delayed response @itaise @orenewix.

Our current pin is as follows: `marshmallow>=3.7.1,<4.0.0`

I believe this was immediately updated after [the referenced PR above](https://github.com/great-expectations/great_expectations/pull/5866) was merged. Please let me know if you're still seeing issues with these updated bounds.

[2022-10-24 14:16] itaise opened #6195 "[BUG] Trino initial query hangs for a long time"
Hi,
We are using GE with Trino, and at the beginning of each validation run, there is a query that takes around 4 minutes to complete. The query hangs on the "planning" stage in Trino for a few minutes, and sometime also fails on Trino optimizer timeout.

Our configuration for the connector is a simple one:

[code]

The query which is created is:
[code]

(P.S - the query is created as a "statement

[2022-10-24 15:52] talagluck commented on #6187
Hi @berrisfordjohn - thank you for opening an Issue. Where did you find the code that you are using here? This path is using V2, which we are on the way to deprecating. It also isn't a path that I've seen before, and is likely not tested. What are you trying to do? Does this fail for you on V3 as well?

[2022-10-25 02:03] #4945 closed, assigned to nobody

[2022-10-25 10:28] itaise commented on #6195
Update - I managed to solve the issue with supplying the schema name explicitly, to the configured data connector:
[code]

and the batch request in the checkpoint should have a data asset with the schema name + table name:
[code]

[2022-10-25 10:29] #6195 closed, assigned to nobody

[2022-10-26 06:55] tooptoop4 commented on #2495
any update?

[2022-10-26 18:06] msanchezBek opened #6214 "Using "row_condition" in conjunction with "$PARAMETER" in a Conditional Expectation"
**Request Summary**
I am looking to create a conditional expectation using: `expect_column_values_to_be_in_set`. Specifically, I would like the `row_condition` to check if a certain column is in a certain row of a csv file (instead of just comparing a column value to a string value).

**Desired Solution**
Theoretically I would be able to do this by using `row_condition` in conjunction with a `$PAR

[2022-10-27 05:51] tooptoop4 opened #6219 "CVE-2022-24785 and CVE-2022-31129"
these 2 high CVEs are from /usr/local/lib/python3.10/site-packages/nbclassic/static/components/moment/moment.js

https://github.com/great-expectations/great_expectations/blob/0.15.28/requirements.txt#L15 brings in notebook lib.

notebook==6.5.1 brings in nbclassic==0.4.5

to avoid these CVEs can notebook be removed from great_expectations's requirements. i know many users will use great_expectatio

[2022-10-27 12:05] bendiknordeng commented on #929
We have the same problem as @williamdphillips

[2022-10-27 16:19] hoavho opened #6226 "kwargs are not passed to SqlAlchemy Engine"
## Describe the bug
I'd like to run expectations against data in Apache Druid. I tested and it works using SqlAlchemyExecutionEngine. However, when I connect to Druid with https/SSL (using same datasource/SqlAlchemyExecutionEngine config), I get `SSL: CERTIFICATE_VERIFY_FAILED` because the Druid server is configured with self signed cert. SqlAlchemy allows us to configure `connect_args` to skip ve

[2022-10-28 07:51] retrry commented on #3975
This issue is still relevant.

[2022-10-28 09:41] jmcorreia opened #6235 "BasicDatasetProfiler is not generating Data Docs neither storing the profiler"
**Describe the bug**
I successfully profile the data using Spark DF and Great Expectations and I can see the results and expectations in the logs, but the profiler seems not to be stored (there is nothing inside the profiler folder) and it is also not showing in the UI (if is only showing the expecation suite).
I could not find any information/examples on the documentation on how to implement this

[2022-10-28 10:58] 708kelly opened #6236 "Postgresql hook connection"
hi teams,
  I want to use it on airflow. Now, we use postgresql hook as connection. I had read the document and great_expectations/datasource/sqlalchemy_datasource.py. Now, it only provide use url to connect db. Is it possible to add a new connection approach or any recommend way to do it?
ref: https://stackoverflow.com/questions/61528860/sqlalchemy-engine-from-airflow-database-hook
thanks,
Kelly

[2022-10-28 15:13] grahamtyler opened #6242 "[BUG] 'PandasDataset' object has no attribute 'expect_column_pair_values_a_to_be_greater_than_b'"
**Describe the bug**
Executing the expect_column_pair_values_a_to_be_greater_than_b expectation on a dataframe results in the following error. This appears to be unique to this expectation, as other expectations execute correctly on the same dataframe using the same syntax.

`AttributeError: 'PandasDataset' object has no attribute 'expect_column_pair_values_a_to_be_greater_than_b'`

**To Reproduce

[2022-10-28 15:48] rdodev commented on #6219
Hey @tooptoop4

Thanks for reporting this. I'm bringing this up with the engineering folks and see what we can do.

[2022-10-28 20:10] rdodev commented on #6242
Hey @grahamtyler 👋

Very interesting issue/use case. Thanks for all the details. I will investigate and get back to you.

[2022-10-31 13:15] rdodev commented on #6242
@grahamtyler 👋

After some digging it would appear the issue is related to deprecated parts of our code not playing nice with newer parts of the code. `PandasDataset` is a V2 construct, and here's the way you should load the data in V3 data source:

* https://docs.greatexpectations.io/docs/guides/miscellaneous/how_to_quickly_explore_expectations_in_a_notebook/#1-import-great-expectations
* https:/

[2022-10-31 13:24] rdodev commented on #6236
Hey @708kelly 👋

I will convert this issue into a discussion and point the engineering team to it.

[2022-10-31 13:25] #6236 closed, assigned to nobody

[2022-10-31 17:09] grahamtyler commented on #6242
@rdodev -- Thanks for looking into this! To make sure I understand, are you saying we _cannot_ load the data as a `PandasDataset` anymore with V3?

We are using the process outlined in your first link (as far as I know): `data = pd.read_csv()` -> `data_ge = ge.from_pandas(data)` to load a CSV as a `PandasDataset`.

I'm not sure I fully follow what we should do from your second link if that approac

[2022-10-31 19:33] rdodev commented on #6242
You can, but it has to be defined as [V3 datasource](https://github.com/great-expectations/great_expectations/discussions/6252)

[2022-10-31 22:41] lmcewen-helix commented on #6140
Is there an update on this?

[2022-10-31 22:52] oogetyboogety commented on #3975
If I am importing my expectations from JSON Schema, and the JSON Schema reflects the hierarchically nested objects, then flattening it is no longer as simple of a solution as it sounds.

[2022-11-01 03:26] lmcewen-helix opened #6260 "PostgreSQL datasource include_schema_name bug"
The update from 0.15.21 to 0.15.22 seems to have introduced a bug related to the `include_schema_name` parameter in the great_expectations.yml under the InferredAssetSqlDataConnector datasources. The error we get is:

[code]

The data asset is a table within a postgreSQL database schema, formatted as `[schema].[table]`. The data_asset_name within the batch_request listed in the checkpoint file is

[2022-11-01 14:23] herrykarmito92 commented on #2647
@cdkini I'm very new on great expectations, I want to work with custom query using `BigQuery`

I tried to following this code , base on this url : [How to load a database table, view, or query result as a batch](https://github.com/great-expectations/great_expectations/blob/0.13.22/docs_rtd/guides/how_to_guides/creating_batches/how_to_load_a_database_table_view_or_query_result_as_a_batch.rst)

I fa

[2022-11-01 15:43] NathanFarmer commented on #6260
@lmcewen-helix Yes, I can confirm that I am working on a fix for this.

[2022-11-01 20:19] grahamtyler commented on #6242
@rdodev -- Got it, I think I follow now. We are running everything in Databricks and followed the instructions [here](https://docs.greatexpectations.io/docs/deployment_patterns/how_to_use_great_expectations_in_databricks/) for setup. We are using "RuntimeDataConnector" when setting up the datasource. Relevant code is below on how we're loading the CSV from DBFS, creating data context, setting up d

[2022-11-02 00:56] NathanFarmer commented on #6260
This bug has been fixed and will be included as part of release 0.15.30.

[2022-11-02 00:56] #6260 closed, assigned to nobody

[2022-11-02 00:57] NathanFarmer commented on #6140
@yuming-p @KentonParton This bug has been fixed and will be included as part of release 0.15.30.

[2022-11-02 00:57] #6140 closed, assigned to AFineDayFor

[2022-11-02 15:06] #5921 closed, assigned to nobody

[2022-11-02 15:34] AFineDayFor commented on #6214
👋 Howdy @msanchezBek.

Getting this sorted, if this is something you expect to contribute we'd be glad to review it at the time; however, if you'd want to help us figure out if this feels like a good fit for discussions and want to try it there that's always welcome too.

I'm excited, it seems that you're excited to do an interesting thing :) rock on.

[2022-11-02 15:45] lmcewen-helix commented on #6260
Thank you!

[2022-11-02 17:52] heather-dice commented on #5598
This has been fixed

[2022-11-02 17:52] #5598 closed, assigned to AFineDayFor, austiezr

[2022-11-03 14:51] kirilscherbach commented on #2647
I have the same issue as herrykarmito92

[2022-11-04 00:50] tooptoop4 commented on #5565
same issue with redshift+psycopg2

[2022-11-04 04:51] tooptoop4 opened #6285 "inbuilt serve command to display data_docs on webserver"
right now data_docs html files can be written to filesystem but then i need to setup my own nginx.etc to serve it on UI to multi users.
feature request is an equivalent command to: https://github.com/dbt-labs/dbt-core/blob/43e3fc22c4eae4d3d901faba05e33c40f1f1dc5a/core/dbt/task/serve.py

[2022-11-04 10:52] liorfuks opened #6286 "`expect_column_values_to_be_unique` does not work on MySQL 8.0.19"
When running the command

[code]
The following error appears:

[code]

This is very similar to the following resolved issue: https://github.com/great-expectations/great_expectations/issues/1862

**Environment**
 - Operating System: Windows
 - Great Expectations Version: [e.g. 0.13.2]
 - MySQL: 8.0.19

[2022-11-04 10:55] Plozano94 commented on #5906
Hi @austiezr , I'm working  in clickhouse compatibility and I'm in an advanced state. Planning to make the PR soon

[2022-11-04 11:24] jmcorreia opened #6287 "Onboarding Data Assistant not Working for Spark"
**Describe the bug**
Onboarding Data Assistant not Working for Spark. I was trying it in Databricks with taxi data.

**To Reproduce**
Steps to reproduce the behavior:
Sharing all the code and errors below.
![image](https://user-images.githubusercontent.com/11615737/199960939-2ae923fb-a5cf-48e8-9817-edb2d0ff6742.png)
![image](https://user-images.githubusercontent.com/11615737/199961033-b4a1d4f6-a62

[2022-11-04 13:10] jmcorreia commented on #6287
It turns out that I was in reality using 0.15.13. Updated the version to 0.15.29 and the problem is solved.

[2022-11-04 13:10] #6287 closed, assigned to nobody

[2022-11-04 14:14] jmcorreia commented on #6235
I got the feedback that the BasicDatasetProfiler is deprecated.

[2022-11-04 15:59] Karaqz opened #6297 "[WinError 2] The system cannot find the file specified"
**Describe the bug**
When entering the path of the root directory where the data is stored the error [WinError 2] The system cannot find the file specified shows up. This happens when following the [tutorial](https://docs.greatexpectations.io/docs/tutorials/getting_started/tutorial_connect_to_data) in step 2 but also when I try it with a local file.

**To Reproduce**
Steps to reproduce the behavio

[2022-11-04 20:11] AFineDayFor commented on #6285
Howdy @tooptoop4 👋 that sounds like an astonishingly cool contribution if you're willing to submit it 🔬

You may also be able to leverage actions to this end.

[2022-11-04 20:15] AFineDayFor commented on #6286
howdy 👋
did the guidance [here](https://github.com/great-expectations/great_expectations/issues/1862#issuecomment-687392369) provide any insight to you, as in running two separate queries?

we'll raise it with the team. thank you much.

[2022-11-04 20:18] AFineDayFor commented on #6297
howdy @Karaqz 👋

can you share how you're declaring the path? is it full or relative? is the path name too long for py on the NT kernel?

can you share the full stack trace and configuration please?

[2022-11-04 21:48] Karaqz commented on #6297
@AFineDayFor

I tried both full and relative. The path I used when trying it locally is only 14 chars so that can't be it I guess.

I tried it both local as (following the tutorial) with git. Would love to share a stack trace and config but I have no idea how.

[2022-11-06 00:40] psxmc6 commented on #6139
Hello,

Could anyone respond whether this issue is undergoing any investigation at the moment? It is a crucial bug to be addressed as otherwise, any long-term data validation across the team cannot be captured within Data Docs, which in a way, defies its purpose. The problem has been reported a month ago on GitHub, and I've came across some corresponding posts on Slack by some users, I will greatl

[2022-11-06 09:39] footprintAvens opened #6306 "Lost connection to MySQL server during query ([Errno 104] Connection reset by peer"
**Describe the bug**
Our total verification time is about two hours, and 14 concurrent threads can maintain concurrent execution in the first hour, but after one hour, only one thread is running, so our verification time changes. More, the number of threads decreases is consistent with the time when this bug appeared, so I think it may be related to the connection hold time, but I don't know how t

[2022-11-07 00:51] jstucken opened #6307 "Incorrect time within data_docs Run Time field - AEDT timezone"
**Describe the bug**
When data_docs run on an Australian Server (running Ubuntu 22.04), the display time within data_docs static html pages appear to be 11 hours ahead even though the time on the server is correct.

I suspect this is related to Australian Eastern Daylight Time (AEDT) being 11 hours ahead of [Coordinated Universal Time](https://www.timeanddate.com/time/aboututc.html) (UTC).

**To R

[2022-11-07 07:49] pfuerste opened #6308 "Batch Request returns empty list with InferredAssetAzureDataConnector"
**Describe the bug**
I am intending to set up an Azure Blob storage data source for great expectations. The setup is done with the following string and seems to work, given it lists some files in my blob storage. But when trying to connect to my data source, the Batch request yields an empty list.

[code]
Context.test_yaml_config(yaml_config=example_yaml) then returns

[code]
I then save the sourc

[2022-11-07 15:22] adam-mrozik opened #6314 "[BUG] S3 Reports keep overwriting themselves"
**Describe the bug**
S3 reports overwrite themselves
**To Reproduce**
Steps to reproduce the behavior:
My configuration:

great-expectations.yaml
[code]

global_checkpoint.yaml
[code]

Script running the code:
[code]

**Expected behavior**
Reports would be
**Environment (please complete the following information):**
 - Alpine Docker
 - Great Expectations Version: 0.15.28

**Additional context**
In

[2022-11-07 15:29] psxmc6 commented on #6314
Seems to be related to: https://github.com/great-expectations/great_expectations/issues/6139

[2022-11-07 15:41] mmceng commented on #6314
We have the same issue on Azure Blob Storage, GE run by another team member overwrites previous docs stored on blob

[2022-11-07 16:00] adam-mrozik commented on #6139
Just FYI. Not sure how it relates to Azure, but as linked above I have the same issue with S3. What solved it for me was upgrading `botocore` (I have noticed my newer local env was working, while older docker env was not).

Broken `botocore` version: 1.19.63
Working botocore version: 1.27.80

EDIT:
Ok, it did help, but then stopped working correctly again. I will dig in a little more, but seems li

[2022-11-07 16:06] austiezr commented on #4813
Resolved in #4846

[2022-11-07 16:06] #4813 closed, assigned to AFineDayFor, talagluck

[2022-11-07 16:08] austiezr commented on #4851
Closed by #5114

[2022-11-07 16:08] #4851 closed, assigned to nobody

[2022-11-07 16:11] austiezr commented on #4612
Hey @sncamie ! Are you able to verify that this is still an issue on the latest versions of Great Expectations? There has been a significant amount of work in this area in recent weeks.

[2022-11-07 16:11] austiezr commented on #4552
Hey @sncamie ! Are you able to verify that this is still an issue on the latest versions of Great Expectations? There has been a significant amount of work in this area in recent weeks.

[2022-11-07 16:14] austiezr commented on #5378
Hey @sp1thas ! You're exactly correct on one of the root issues here; take a look at [this recent blog post](https://greatexpectations.io/blog/limit-validation-results-in-data-docs-to-customize-your-gx-workflows) detailing this situation and possible resolutions.

[2022-11-07 16:14] #5378 closed, assigned to AFineDayFor

[2022-11-07 16:22] austiezr commented on #5160
Hey @holaluz-josep-martinez ! Are you able to confirm that this is still an issue on the most recent versions of Great Expectations? I'm unable to reproduce (no `TypeErrors`) from at least `great_expectations>=0.15.20`

[2022-11-07 16:31] austiezr commented on #6096
Hey @puruzio ! Are you able to confirm that you're still experiencing this issue on the most recent versions of Great Expectations?

@joshuachapnick-bc would you be willing to surface your use-case in a separate issue? That will help us to better investigate your scenario.

[2022-11-07 17:14] milithino commented on #2214
@eugmandel @Aylr can i go head in this issue or was fixed in other PR?

[2022-11-07 17:28] adam-mrozik commented on #6139
Ok, no idea. The same docker image on kubernetes always overwrites everything, while locally it creates new folder every time. Packages are the same, bucket is the same... No idea what else can differ to be honest

[2022-11-07 17:37] austiezr commented on #5929
Closed as resolved by #6213 ; if this issue persists, feel free to re-open with further context.

[2022-11-07 17:37] #5929 closed, assigned to rdodev, cdkini

[2022-11-07 17:47] mmceng commented on #6139
We will see maybe someone will help us. In my opinion it's GE's issue, because the functions that send docs to cloud are different for azure and aws. I looked in the source code and tried to disable overwrite, but then it refused to write anything to blob.

[2022-11-07 17:53] austiezr commented on #5888
Hey @mykola-yesypchuk-inflection ! Unfortunately, we are no longer actively developing the V2 API. Additionally, Great Expectations is stepping back from performing any type of input transformation (we believe testing should be done on data as it is; see [this blog post](https://greatexpectations.io/blog/why_we_dont_do_transformations_for_expectations/) for further explanation).

If you're interes

[2022-11-07 17:53] #5888 closed, assigned to austiezr

[2022-11-07 18:06] austiezr commented on #5562
Hey @BrandonDotLin ! Closing this out for now, but if you're interested in learning more about how this functionality is developing in Great Expectations, feel free to come to one of our [weekly cloud workshops](https://greatexpectations.io/cloud)!

[2022-11-07 18:06] #5562 closed, assigned to AFineDayFor

[2022-11-07 18:37] kirilscherbach commented on #4812
I've encountered this issue with GX 0.15.31 (RuntimeDataConnector + SparkDFExecutionEngine) on AWS Glue v3. It was a bit of a surprise - on PySpark 2.4.8 I was able to initiate spark session
[code]
and then run GX checkpoint.

In Glue I tried adding `force_reuse_spark_context: true` - it did not help. In the end I was able to run the checkpoint successfully by using the method by @mkopec87 :
[code

[2022-11-07 18:53] austiezr commented on #2726
Hey @mlondschien ! After significant discussion on our philosophy in this are, we believe the behavior you're seeing to be the correct one, namely that:

- Aggregate Expectations on Empty Dataframes → Fail

- Aggregate Expectations with Row Conditions that return Empty Dataframes → Fail

- Map Expectations on Empty Dataframes → If there are no rows, the expectation should pass

- Map Expectations

[2022-11-07 18:53] #2726 closed, assigned to nobody

[2022-11-07 18:59] austiezr commented on #6089
Hey @as93717913! As Great Expectations doesn't officially support Oracle, we're not able to implement for Oracle at this time. However, I'm currently testing an implementation for MSSQL, and we are happy to provide review and guidance if you're interested in contributing this functionality for Oracle as well.

[2022-11-07 20:29] jasonstinnett opened #6322 "Data Docs Relies on Images Hosted On AWS But Access Is Denied"
**Describe the bug**
The default data docs HTML references two images hosted on AWS:
1. https://great-expectations-web-assets.s3.us-east-2.amazonaws.com/logo-long.png
2. https://great-expectations-web-assets.s3.us-east-2.amazonaws.com/full_logo_dark.png

Access is no longer available, therefore Great Expectations logos no longer show on data docs site pages. Instead there is a large blank area whe

[2022-11-07 21:32] kenwade4 commented on #5991
https://github.com/great-expectations/great_expectations/pull/6318

[2022-11-07 21:32] #5991 closed, assigned to nobody

[2022-11-08 08:22] sp1thas commented on #5378
thanks for letting me know that @austiezr

cc: @andrewm4894

[2022-11-08 11:05] mykola-yesypchuk-inflection commented on #5888
Thank you for your response.

On Mon, Nov 7, 2022 at 7:53 PM Austin Ziech Robinson <
***@***.***> wrote:

[2022-11-08 11:40] holaluz-josep-martinez commented on #5160
Hi @austiezr! I'd say it is not an issue in the most recent versions (at least I can't reproduce it either).

[2022-11-08 12:53] grahamtyler commented on #6242
Hi @rdodev -- just following up to see if you have any ideas for where we might be going wrong in our setup of the environment and data source through databricks. As far as I can tell, this should work based on the documentation, but I'm obviously missing something. Thanks!

[2022-11-08 13:10] rdodev commented on #6242
Hey @grahamtyler apologies for not asking earlier, is this running locally with data in databricks, or this running in databricks as spark job?

[2022-11-08 13:18] omerjakub commented on #5424
hello guys,
I get same error when I try to when I try to create suite on a clickhouse via cli:
![image](https://user-images.githubusercontent.com/117741589/200574992-ab0b6d0e-da96-474d-8419-fb323b09dda4.png)

does somebody have same issue ?

[2022-11-08 16:46] austiezr commented on #5160
Hey @holaluz-josep-martinez ! Great to hear. Closing out for now; feel free to re-open if the issue re-surfaces!

[2022-11-08 16:46] #5160 closed, assigned to austiezr

[2022-11-08 19:26] grahamtyler commented on #6242
@rdodev -- we're using pandas for the checks and just using csv data uploaded to DBFS, so should be local to databricks and not a spark job.

[2022-11-08 19:51] puruzio commented on #6096
@austiezr  Yes, there is no more error in "version": "==0.15.26" Thank you!

[2022-11-08 19:51] #6096 closed, assigned to nobody

[2022-11-08 22:14] austiezr commented on #6306
Hey @footprintAvens ! Thanks for reaching out. Are you able to share some more information about your use-case and environment? There may be ways to optimize your GX deployment to improve execution time, but we aren't able to provide much help if the issue is with your MySQL environment.

[2022-11-08 22:16] austiezr commented on #6307
Hey @jstucken ! Thanks for reaching out. We'll review this behavior internally and assess.

[2022-11-08 22:19] austiezr commented on #6308
Hey @pfuerste ! Thanks for reaching out. I'll review the behavior you're experiencing here and get back to you.

[2022-11-08 22:27] austiezr commented on #6314
Hey @adam-mrozik @psxmc6 @mateoxc ! Thanks for reaching out and for the discussion here. I'll be bringing escalating these issues internally in the morning; any context you can provide around your configs & deployments similar to what @adam-mrozik has provided will help us to better understand what may be causing the behavior here. Thank you for your help and your patience! 🙇

[2022-11-08 22:28] austiezr commented on #6139
Hey @adam-mrozik @psxmc6 @mateoxc ! Thanks for reaching out and for the discussion here. I'll be escalating these issues internally in the morning; any context you can provide around your configs & deployments similar to what @adam-mrozik has provided (in #6314) will help us to better understand what may be causing the behavior here. Thank you for your help and your patience! 🙇

[2022-11-08 22:30] austiezr commented on #6322
Hey @jasonstinnett ! Thanks for raising this; we'll assess internally and address soon. 🙇

[2022-11-08 23:29] puruzio commented on #6307
Jeffrey Quinn on Slack found this issue before. and shared it with me.
If you change line 127 of checkpoint.py to this, (utcnow instead of now), it works as expected.

`run_time = run_time or datetime.datetime.utcnow()`

[2022-11-09 05:04] #6306 closed, assigned to nobody

[2022-11-09 10:20] mmceng commented on #6139
@austiezr
great-expectations.yaml:
[code]
Checkpoint run:
[code]

[2022-11-09 13:28] kenwade4 commented on #5827
https://github.com/great-expectations/great_expectations/pull/6218 is now merged to develop and will be released this week. You should be fine with `sqlalchemy>=1.4.0` and `trino>=0.317.0` on Python 3.7 (connecting to Trino server 367 or newer). I am also using a newish pandas (1.3.5) and numpy (1.21.6) in that environment.

@itaise for the "stuck" query we've been talking about, can you make a ne

[2022-11-09 13:28] #5827 closed, assigned to nobody

[2022-11-09 14:51] itaise opened #6330 "Query is stuck when using runtime connector with Trino"
Hi,
We are trying to use the **runtime** connector with **Trino** and there is an initial query that is stuck for a few minutes (about 3 -4 minutes) before tests start to run.

This is the data connector configuration:
[code]

and the Batch request in the checkpoint:

[code]

According to @kenwade4  - The query is built in [this](https://github.com/great-expectations/great_expectations/blob/develo

[2022-11-09 15:06] tommy-watts-depop opened #6332 "create_temp_table flag for SQLAlchemyExecutionEngine is not in ExecutionEngineConfigSchema"
**Describe the bug**
create_temp_table flag for SQLAlchemyExecutionEngine is not in ExecutionEngineConfigSchema

PR here - https://github.com/tommy-watts-depop/great_expectations/tree/develop

[2022-11-09 16:03] talagluck commented on #5424
Hi @poohdini1994 - that makes sense, since we don't yet have full support for Clickhouse, and that metric is not yet implemented for Clickhouse.

[2022-11-09 16:28] AFineDayFor commented on #5613
Howdy again. It's in our backlog; we don't have any further updates at this time, but do keep an eye out.

[2022-11-09 16:34] austiezr commented on #5875
Hey @BrandonDotLin ! We don't currently have documentation around creating custom Datasources / DataConnectors. However, we do plan to expand our coverage in this area in the near future.

In the mean-time, if you're interested in this type of custom work, you may be interested in checking out this [PR adding support for AWS Glue](https://github.com/great-expectations/great_expectations/pull/5123/

[2022-11-09 16:34] #5875 closed, assigned to nobody

[2022-11-09 16:34] #6332 closed, assigned to nobody

[2022-11-09 16:39] omerjakub commented on #5424
hi @talagluck, do you know when it will be supported ?

[2022-11-09 17:40] anthonyburdi commented on #6322
Thanks for reporting @jasonstinnett! These should now be accessible. Please let us know if you have any further issues!

[2022-11-09 17:40] #6322 closed, assigned to nobody

[2022-11-09 18:32] manugarri commented on #3975
@talagluck I dont mind taking a stab at this, would you be able to provide me some pointers on where to look at?

[2022-11-09 18:38] jasonstinnett commented on #6322
Confirming this looks good from my end as well, appreciate your help @austiezr @anthonyburdi !

[2022-11-09 22:01] jstucken commented on #5596
Thanks for looking into this for us @rdodev we really appreciate it as we have quite a few expectation suites depending on the **expect_column_values_to_not_match_like_pattern()** function. Our team is working on debugging this error also.

Commenting out the data_docs build code from the Jupyter Notebook (lines 104 & 107 below) circumvents the bug but obviously this is not a viable solution:

![i

[2022-11-09 22:42] daviewales commented on #5462
This only happens for me if I select `s` to search the list of tables in my database. If I select `l` to list them, then page through and type the index number it works.

[code]

[2022-11-09 22:57] austiezr commented on #6330
Hey @itaise ! Thanks for reaching out and surfacing this. We'll review and investigate. 🙇

[2022-11-09 23:01] daviewales commented on #5596
Looking at a debugger, I can see that the function which creates the problematic `expectation_string_cell` is `expectation_string_fn` in `/usr/local/lib/python3.10/dist-packages/great_expectations/render/renderer/content_block/validation_results_table_content_block.py`. However, further inspection reveals that this function is in fact `_prescriptive_renderer` from `/usr/local/lib/python3.10/dist-p

[2022-11-10 03:11] Shinnnyshinshin commented on #3195
Thank you very very much @abekfenn for getting the ball rolling, and all the work you put in. I was able to start where you left off, and have a PR for the Pandas implementation that is currently under review by the team #6329 . I'll post more updates here :)

[2022-11-10 06:09] jstucken commented on #5596
Can we please escalate this issue as I believe it is not just limited to mssql databases as it occurs also using a sqlite database within a very limited/isolated test environment, which I have attached as a zip file.

**Steps to reproduce**

1) Download and extract [great_expectations_sqlite_sharks.zip](https://github.com/great-expectations/great_expectations/files/9977750/great_expectations_sqlit

[2022-11-10 10:47] itaise commented on #6330
Update - when I edited the code manually and added a schema name to the query, it works as expected :)
in the query below i added "data quality" condition - to [this part](https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/expectations/metrics/util.py#L559)
The question is, from where should we take the schema name? the user need to supply it?
In the debug mod

[2022-11-10 14:04] rdodev commented on #5596
Hey @uglypod and @daviewales 👋  I will escalate with the engineering team. Will update as soon as I have an answer.

[2022-11-10 14:18] rdodev commented on #5596
A quick update: @uglypod / @daviewales

We determined this is a bug and it has been put in engineering queue. No promise on timing, but they're aware of the issue.

[2022-11-10 14:22] rdodev commented on #5583
Hey @Adenmin 👋

Unfortunately GX doesn't support DB2 dialect and we have no immediate plans to implement it. However, if you're inclined, we'll happily accept a contribution (and guide you through the process).

[2022-11-10 14:26] rdodev commented on #5583
For now, I'm converting this issue into a Github Discussion for further discussion.

[2022-11-10 14:26] #5583 closed, assigned to rdodev

[2022-11-10 22:22] daviewales commented on #5596
Thanks @rdodev!

Something I've struggled with trying to debug this is that we only get the very last bit of traceback.
If we make the following changes, we can get a full traceback:

Add `raise e` to the following lines:

[code]

This skips GEs custom exception handling and allows the full traceback to bubble up to the top, giving the following:

[code]

`custom_scripts/new_expectation.py` is jus

[2022-11-11 01:17] jstucken commented on #6307
Thanks @puruzio, this hack worked well :)

[2022-11-11 03:07] daviewales commented on #5596
One final trick that might help debug this.

If you run the code with IPython, you can enable a verbose traceback mode which automatically prints the values of all variables that appear in the Traceback. Enable this as follows:

[code]

[2022-11-11 09:19] morkunz opened #6344 "Hyperlinks in GCS (still) relative rather than absolute -> not working"
**Describe the bug**
As described in [this issue](https://github.com/great-expectations/great_expectations/issues/1528) over two years ago, the links in the index.html within Data Docs in a GCS bucket lead nowhere, because they are missing the prefix "https://_GCS stuff_".

**To Reproduce**
Steps to reproduce the behavior:
Follow the steps in the older issue linked above (quintessence: Choose GCS

[2022-11-11 15:54] tommy-watts-depop opened #6346 "batch and batch_identifier become mismatched when concurrency is enabled"
**Describe the bug**
When concurrency is enabled, during the validation operations the batch and batch_identifier become mismatched, leading to a key error when the datahub action tried to access the data asset.

They become decoupled [here](https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/validation_operators/validation_operators.py#L341) during the asyncro

[2022-11-14 14:25] dollyBa commented on #6157
Hi @AFineDayFor , do we have any updates on this issue?

[2022-11-14 17:43] austiezr commented on #6344
Hey @morkunz ! Thanks for bumping this. I'll be escalating this internally this week and be in touch as we begin to address.

[2022-11-14 17:44] austiezr commented on #6346
Hey @tommy-watts-depop ! Thanks for raising this. I'll review and be in touch.

[2022-11-14 21:04] austiezr commented on #2214
Closing this out as above! 🙇

[2022-11-14 21:04] #2214 closed, assigned to nobody

[2022-11-15 02:51] grahamtyler commented on #6242
Hi @rdodev -- just following up on this. Should we do something different based on whether this is local vs a spark job?

[2022-11-15 03:39] tooptoop4 opened #6357 "Object of type Decimal is not JSON serializable"
[code]

[2022-11-15 07:13] paulofelipe84 commented on #929
Having the same need here. That feature would be nice.

[2022-11-15 07:24] paulofelipe84 opened #6359 "unexpected_index_list on Spark"
Based on the discussion started on [this closed issue](https://github.com/great-expectations/great_expectations/issues/929), I would like to bring back the request for support to row indices in `unexpected_index_list` when using Spark data frames. Perhaps a way of pointing out an index column that would then be used to generate the list.

In my current use case, we want to use the list of indices

[2022-11-15 08:33] donRumata83 opened #6360 "Useless query before main checks with using RuntimeBatchRequest"
I'm using GE with SQLAlchemy against tables in Vertica (one of the cases). I'm creating all the configurations inside the python code. For Batching the data for checking we decide to use SQL which selecting data by start and end date in timestamp columns. For this I was using: as Data connector RuntimeDataConnector and creating batch request as RuntimeBatchRequest in code like this:
[code]
And the

[2022-11-15 15:31] benrutter commented on #5799
Sorry for the slow reply - but yes, all resolved now (no longer have the versions of everything that the function app was running on at the initial time of the error, so possible that there's some specific version combination where this error still exists, but seems resolved on most recent versions of dependencies)

[2022-11-15 15:31] #5799 closed, assigned to nobody

[2022-11-15 16:11] talagluck commented on #5233
Hi @sdebruyn - thanks again for raising this! Closing this now, as it has been resolved.

[2022-11-15 16:11] #5233 closed, assigned to AFineDayFor

[2022-11-15 16:19] talagluck commented on #5220
Hi @milosz-dm - it appears that there has been a misunderstanding about how this feature works. When specifying the `result_format` with a `Validator` it is not possible to specify this at the Expectation level (or you can specify it, but the `result_format` will not be respected). Instead, you need to specify this at the validation step, either in the `Validator` or in the call to run your `Check

[2022-11-15 16:19] #5220 closed, assigned to nobody

[2022-11-15 16:22] talagluck commented on #5200
Hi @nzqs - thanks again for your config information here! This has been added to our backlog, though we do not know exactly when we will work on it.

[2022-11-15 16:26] kenwade4 commented on #6330
https://github.com/great-expectations/great_expectations/pull/6350 should resolve

[2022-11-15 16:26] #6330 closed, assigned to nobody

[2022-11-15 16:31] jmcorreia opened #6363 "Deprecation Warning on latest Great Expectations"
**Describe the bug**
Great expectations is causing my application to have a lot of deprecation warnings as shown below.
<img width="1061" alt="image" src="https://user-images.githubusercontent.com/11615737/201973888-b9a9686f-05b1-4ff0-9db8-f79df0b46dbe.png">

**Expected behavior**
All the warning should be solved.

**Environment (please complete the following information):**
 - Operating System: M

[2022-11-15 16:31] talagluck commented on #5149
Hi @paololucchino - following up here, this does work as intended. We will update [the line in the code here](https://github.com/great-expectations/great_expectations/blob/5adf91121d49ce3144a1b4ccaa5ac58c00a99373/great_expectations/data_context/data_context/data_context.py#L342) to make that clearer. Thank you again for the feedback!

[2022-11-15 16:33] talagluck commented on #5138
Hi @bluinchiostro ! Thanks again for raising this. It is unlikely we will be able to prioritize this in the immediate future but we have had added this to our backlog, and will take it into account when we are able to make improvements to the Query Store. Closing for now.

[2022-11-15 16:33] #5138 closed, assigned to austiezr

[2022-11-15 16:39] talagluck commented on #5079
Hi @Shubhkishore - thank you for raising and thank you for all of the additional context!

The Great Expectations Airflow Operator currently only works with V3 and with Airflow 2.1+. If you are trying to run Great Expectations with Airflow 1.x, you will need to use the Python Operator or write your own Operator.

I'm going to close this for now as it appears the initial Issue has been resolved.

[2022-11-15 16:39] #5079 closed, assigned to AFineDayFor

[2022-11-15 16:41] itaise opened #6364 "Action Failure is affecting other actions"
Hi,
In our set up, we have 2 actions: update data docs and slack notification.
We noticed that if one action failed (e.g. - update data docs failed because of S3 connection issue), the next action - send slack alert will not happen.
I think the exception from the action shouldn't "cancel" the next action - the slack alert should be sent even if there is an issue with updating the data docs. Becaus

[2022-11-15 16:43] talagluck commented on #5018
Added this to the docs backlog.

[2022-11-15 16:43] #5018 closed, assigned to rdodev

[2022-11-15 16:46] talagluck commented on #5004
Hi @dnlbunting - thanks for opening this and apologies for delays! We will likely not be able to prioritize work on this, but we have added it to our backlog. In the interim, if you or anyone else are interested in making a contribution, please let us know! We are happy to offer guidance and support.

[2022-11-15 17:01] talagluck commented on #5799
Thanks for the follow-up @timdenouden and @benrutter !

[2022-11-15 19:30] abekfenn commented on #3195
@Shinnnyshinshin should this issue be re-opened to reflect ongoing development related to SQL engine support?

[2022-11-16 06:51] tooptoop4 commented on #6226
i am getting same issue: i need to pass connect_args>requests_kwargs>verify

[2022-11-16 12:17] tommy-watts-depop commented on #6346
thanks @austiezr.

FYI it looks like this works when max workers is set to 1 in the ThreadPoolExecutor and we only run with 1 thread

[2022-11-16 15:51] #5149 closed, assigned to rdodev

[2022-11-16 17:04] austiezr commented on #4552
Hey @sncamie ! Closing this out for now; feel free to re-open if this continues to be an issue for you in the latest versions of GX.

[2022-11-16 17:04] #4552 closed, assigned to nobody

[2022-11-16 17:04] austiezr commented on #4612
Hey @sncamie ! Closing this out for now; feel free to re-open if this continues to be an issue for you in the latest versions of GX.

[2022-11-16 17:04] #4612 closed, assigned to nobody

[2022-11-16 17:11] Shinnnyshinshin commented on #3195
Hi @abekfenn you're absolutely right 😅. Re-opening to track the ongoing development related to SQL and Spark

[2022-11-16 17:35] austiezr commented on #5299
Hey @honno ! We've had a lot of movement in this area in recent weeks; closing out for now, but if this continues to be an issue, feel free to re-open.

[2022-11-16 17:35] #5299 closed, assigned to nobody

[2022-11-16 17:40] austiezr commented on #5395
Hey @francoiswessels ! Thanks for reaching out. Great Expectations doesn't officially offer complete support for Athena; there may be instabilities here, and the core team won't be able to prioritize work in this area at this time. If you're interested in contributing in this area, we're happy to provide review and guidance.

[2022-11-16 17:40] #5395 closed, assigned to nobody

[2022-11-16 21:19] minhuipath commented on #5535
Hi @talagluck , do you know when the fix for this would go out?

Im seeing thee work around of wrapping cols name with `sqlalchemy.sql.quoted_name` but not sure how I could do that with the json expectation?

Once of our sample:
[code]

[2022-11-16 22:37] Elsayed91 commented on #6175
[code]

wsl jupyter notebook

[2022-11-16 22:43] Elsayed91 commented on #6175
Only happens while running "runtime_parameters": {"batch_data", df }
if I use path it works just fine

[2022-11-16 22:58] tooptoop4 commented on #1917
@srjonemed did u get it to work when presto needs password auth? mine is complaining that extra args about protocol=https need to be supplied to create_engine of sqlalchemy. but in the great_expectations docs its not clear how to pass them

[2022-11-17 01:46] tooptoop4 opened #6382 "cannot pickle"
[code]

[2022-11-17 03:23] herrykarmito92 commented on #5200
@rdodev @talagluck
I have same pain point but I'm implemented on Google BigQuery.

To reduce cost on BigQuery when we implemented GE , the best practice is to set partition table because we do not need to scanning whole table. Just needed for specific date or integer value.

But when i tried to implemented piece of code above, and error come out
[code]
and I tried using `data_connector_query` , en

[2022-11-17 13:26] talagluck commented on #5200
Hi @herrykarmito92 - thanks for your comment! Have you followed the documentation on splitting here? https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/datasource_configuration/how_to_configure_a_sql_datasource#splitting-methods

I believe that splitters should work for BigQuery. If after following the documentation above you are unable to get this to work, please open a new Iss

[2022-11-17 14:06] mereldawu commented on #5058
Have the same problem - any ETA on this?

[2022-11-17 14:36] talagluck commented on #6047
Hi @rtitton - thank you again for your feedback and your patience here. We have discussed this in greater detail, and come to the conclusion that this is not a change that we will want to make.

There are times when we will truncate Validation Results for a given Expectation Validation, e.g. if there are many failed rows. In that event, truncating those rows doesn't change the outcome - the Expect

[2022-11-17 14:36] #6047 closed, assigned to nobody

[2022-11-17 21:36] awburgess opened #6390 "PyDantic has Invalid Requirements.txt Constraint"
**Describe the bug**

`Great Expectations` update to 0.15.33 during a CI run resulting in the error below:

![image](https://user-images.githubusercontent.com/8467659/202563638-2b3d2785-b865-4073-a7a0-74bc666c911a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Install `Great Expectations` from source using `0.15.33`

**Expected behavior**
Expected the CI install step to pass without is

[2022-11-18 02:56] herrykarmito92 commented on #5200
Hi @talagluck
I will retry again the process from the documentation your suggested.
Will update to you and posted via slack community.

Thank you very much.

[2022-11-18 10:31] rogalski opened #6393 "SparkDF can't compute mean for decimal column"
**Describe the bug**
https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/dataset/sparkdf_dataset.py#L646
Decimal type fails explicitly, yet Spark is fully capable of computing mean of decimal typed column.

**To Reproduce**
1. Create parquet with decimal type
2. Run `expect_column_mean_to_be_between` expectations using Spark
3. Encounter exception

**Expected b

[2022-11-18 14:39] #6390 closed, assigned to nobody

[2022-11-18 17:51] kenwade4 commented on #5409
Should be resolved with https://github.com/great-expectations/great_expectations/pull/6394

[2022-11-18 17:51] #5409 closed, assigned to kenwade4

[2022-11-18 17:51] kenwade4 commented on #4490
Should be resolved with https://github.com/great-expectations/great_expectations/pull/6394

[2022-11-18 17:51] #4490 closed, assigned to AFineDayFor, talagluck

[2022-11-19 17:51] jkoput-b opened #6402 "Error with Columns in Pandas - CSV file without headers"
When using pandas with great expectations, using a .csv file without headers, I receive an error/exception that the column does not exist.

**To Reproduce:**
### Setup a pandas datasource via GCS bucket using a .csv file that has no headers, i.e.,

123,"{""item"": false}"
325,"{""item"": false}"
258,"{""item"": false}"
125,"{""item"": false}"
258,"{""item"": false}"

### Setup an expectation
[code

[2022-11-21 11:37] Vitalis-Tk opened #6408 "GE can't parse a row condition in a conditional expectation"
**Describe the bug**
GE can't parse a row condition in a conditional expectation if there is a comparison between strings and the string in the condition contains a whitespace.

**To Reproduce**
**First Case: (ExpectationConfiguration in json format)**
{
    "expectation_type": "expect_column_values_to_not_be_null",
    "column": column_A,
    "condition_parser": "great_expectations__experimental_

[2022-11-21 12:27] cmck opened #6409 "Unrecognized urn_type in ge_urn: must be ‘stores’ to use a metric store"
**Describe the bug**
I could be missing a simple step here. After following the the guide at "How to create Expectations that span multiple Batches using Evaluation Parameters" at
https://docs.greatexpectations.io/docs/guides/expectations/advanced/how_to_create_expectations_that_span_multiple_batches_using_evaluation_parameters/

I get the following error:

`Unrecognized urn_type in ge_urn: must b

[2022-11-22 11:35] pfuerste opened #6415 "AttributeError: 'dict' object has no attribute 'config_variables_file_path' when creating context with yaml only"
**Describe the bug**
I am trying to validate my data without a great_expectations-folder, but I am having problems defining my context:
Trying to call ge.get_context(y) or ge.data_context.BaseDataContext(y) with y as either a path to a yaml or dict from that yaml throws
`AttributeError: 'dict' object has no attribute 'config_variables_file_path' ` .
The dict contains that key though. If using ge.g

[2022-11-22 13:55] sachinwadhwa opened #6416 "row_condition counts mismatch in Spark"
**Describe the bug**
I got this working for Spark dataset but element_count, unexpected_value and other counts shows for full dataset counts rather than filtered.

[code]

**To Reproduce**
~30 million rows in total, ~10 million are for country_code "UK".
output shows:
[code]

**Expected behavior**
element count to show: 10830896
and other count must be reflective accordingly.

**Additional context

[2022-11-22 14:11] dollyBa opened #6417 "Data Assist Onboarding Profilier error"
Hi,

I am using great expectations on Databricks with my data source as Snowflake. When I'm running the Profilier on a table that has a numeric column with all NULL values, it is throwing the following error:
**AttributeError("'list' object has no attribute 'dtype'")**

**To Reproduce**
Code used:
[code]

**Expected behavior**
Ideally it should not throw error for a column having all NULL values.

[2022-11-22 19:31] zhangchi1 opened #6419 "data_asset_name is not recognized in airflow-provider-great-expectations==0.2.1"
**Describe the bug**
Hi team, we are working on integrating GX with **snowflake** datasource into our data validation system via GreatExpectationsOperator.

We are planning to run some expectations validation against a snowflake table named test_sf_table . However, we are getting KeyError: 'data_asset_name test_sf_table is not recognized.' when running our DAG. We have try both upper and lower cas

[2022-11-23 05:49] tripathyamit opened #6424 "data_asset_name app_data.job is not recognized. GE version 0.15.28"
When I upgraded great expectation version from 0.15.21 to 0.15.28 I am getting the following error message:
data_asset_name app_data.job is not recognized.

I have drilled down. This error is raised from the  great_expectations\datasource\data_connector\configured_asset_sql_data_connector.py package.
following is the code:
try:
            print()
            sub_cache = self._get_data_reference_l

[2022-11-23 14:04] talagluck commented on #6424
Hi @tripathyamit - thank you for your question.

Can you please provide your Datasource config, the Batch Request you are using, and the full stack trace? Please wrap each of these in a code block to make them easier to read.

[2022-11-23 14:04] talagluck commented on #6424
Please also provide some additional information about your environment, like Python version, OS, SQL dialect, and SqlAlchemy version.

[2022-11-23 14:06] talagluck commented on #6419
Hi @zhangchi1 - [I've just commented here](https://github.com/astronomer/airflow-provider-great-expectations/issues/63#issuecomment-1325113567), so I'm going to close this for now.

[2022-11-23 14:06] #6419 closed, assigned to nobody

[2022-11-23 14:07] talagluck commented on #6424
Actually, before you do that, what happens when you update to the latest version?

[2022-11-23 14:10] talagluck commented on #6359
Hi @paulofelipe84 - thanks for raising. This is duplicative of the Issue here: https://github.com/great-expectations/great_expectations/issues/3195, which is currently being worked on. I'm going to close this for now, but if you have additional context, please feel free to add it in #3195.

[2022-11-23 14:10] #6359 closed, assigned to nobody

[2022-11-24 06:52] FreyaDingDing commented on #1917
have you got any progress? I passed protocal=https but still got error
<img width="996" alt="image" src="https://user-images.githubusercontent.com/46193284/203713736-d59ae4e0-415c-4e62-97cc-cb7f084cec26.png">

my args is like:
datasource_config = {
    "name": "my_datasource",
    "class_name": "Datasource",
    "execution_engine": {
        "class_name": "SqlAlchemyExecutionEngine",
        "conn

[2022-11-24 07:35] FreyaDingDing opened #6428 "Presto: error: (builtins.ValueError) Protocol must be https when passing a password"
**Describe the bug**
I try to connect prestoSql and getting error saying protocol need to be set. However I have set it in connect_args.
I tried by python code locally and it actually works. suspect the args is not taken

**To Reproduce**
my config args is :
datasource_config = {
    "name": "my_datasource",
    "class_name": "Datasource",
    "execution_engine": {
        "class_name": "SqlAlchem

[2022-11-24 08:32] jmcorreia opened #6430 "include_unexpected_rows not working for Spark"
**Describe the bug**
I wanted to clearly identify the row that is failing an expectation and I got to know that I could achieve this by using 'include_unexpected_rows' in the expectation or checkpoint. https://docs.greatexpectations.io/docs/reference/expectations/result_format/#expectation-level-config
However, when I am using this property, I get no difference in the return of the results.
Is the

[2022-11-25 13:16] tommy-watts-depop commented on #6346
@austiezr any update on this?

[2022-11-28 12:17] talagluck commented on #6430
Hi @jmcorreia - thanks for raising this. The docs here are somewhat misleading. Though it is possible to specify `result_format` at the Expectation level, this will currently only be properly handled at the Expectation level during that initial stage of adding the Expectation to the validator. The `result_format` directive will not otherwise be respected during Checkpoint validation.

This is a kn

[2022-11-28 15:44] DKorman opened #6437 "invalid datetime input when setting evaluation parameter"
**Describe the bug**
Error appears when trying to parametrize ($PARAMETER) values for the `expect_column_values_to_be_between` expectation, while using datetime values as inputs to the temporary parameters.

From what I understood by following [this](https://docs.greatexpectations.io/docs/terms/evaluation_parameter/) , some temporary value needs to be provided. And this works at those examples, ho

[2022-11-28 17:58] austiezr commented on #5315
Hey @ejmoll ! Closing this out for now; if you continue to encounter this issue, feel free to re-open!

[2022-11-28 17:58] #5315 closed, assigned to nobody

[2022-11-28 19:05] srjonemed commented on #1917
sorry, i was just evaluating the tool back then and our presto setup was not auth enabled

[2022-11-28 19:26] zvpanchal commented on #6408
Hi,
I am having a similar issue. I am trying similar approach for redshift database to use row_condition with condition_parser as per below, however I am keep getting an error `unable to parse condition:`

## expectation
[code]

## Error:
[code]
Issue occurs when column name or the value to compare contains a space. If I try column name without a space (e.g. `current_id`), then it works fine. Howe

[2022-11-28 19:52] PSUlion16 opened #6441 "Checkpoints attempt to build data docs into s3, even if using local store"
**Describe the bug**
When executing **ge_context.run_checkpoint(checkpoint_name=checkpoint_name)**, great expectations attempts to authenticate to s3, raising an authentication error. This occurs even when using a local store. It seems as if great_expectations is trying to authenticate with AWS thru botocore regardless of if we tell it to or not.

When we run a checkpoint against a postgre datasou

[2022-11-28 20:10] alexsherstinsky commented on #5535
Hello, @cKennnedy -- my name is Alex Sherstinsky, and I am now working on troubleshooting this issue.  Please feel free to reach out to me in the Great Expectations Community Slack (`@AlexSherstinsky`) for a faster and more interactive process.

For starters, I have tried to reproduce the issue, but have not yet been able to do so.  Historically, and given the Snowflake preference for capitalized

[2022-11-29 01:29] FreyaDingDing commented on #1917
btw, for the question has been for a long time, does GE support presto now? @eugmandel  I need help to check on this ticket https://github.com/great-expectations/great_expectations/issues/6428  Thanks a lot!

[2022-11-29 03:22] minhuipath commented on #5535
Thanks @alexsherstinsky , I reach out to you in slack to share a bit more details on our situation and will get back to this thread with the finding

[2022-11-29 04:26] alexsherstinsky commented on #5535
@minhuipath and @cKennnedy -- I was able to reproduce this issue by running a `column` expectation:
[code]

This resulted in an exception:
[code]

which is consistent with your findings.  Hence, I will continue troubleshooting on Tuesday, November 29, 2022 (in the morning Pacific Time) and keep you posted herein as well as in the `Slack` thread.  Thank you.  /cc @talagluck

[2022-11-29 17:53] austiezr commented on #5899
Hey @klashe1977 & @adam-mrozik! Looks to be related to #6441; the core team has taken this work under planning. 🙇

[2022-11-29 17:53] austiezr commented on #6441
Hey @PSUlion16 ! Thanks for raising this. Looks to be related to #5899; the core team has taken this work under planning. 🙇

[2022-11-29 18:29] austiezr commented on #6437
Hey @DKorman ! Thanks for raising this; definitely appears to be a bug. I'll be raising this for discussion internally this week.

In the meantime, one potential workaround would be to pass the parameterized values with `validator.get_evaluation_parameter`, as below:

[code]

[2022-11-29 18:31] PSUlion16 commented on #6441
@austiezr -- Make sure the core team pays attention to my note on the "site_names" key when allocating a checkpoint. Also, I put this above but we only get this exception when we run the checkpoint, not when creating it. We used to get an error when creating, but I think it was user error.

[2022-11-30 17:54] austiezr commented on #6428
Hey @FreyaDingDing ! Thanks for reaching out. Great Expectations does not offer official support for Presto, so this may not be possible at this time.

However, you may be able to pass the necessary parameters through [`kwargs`](https://github.com/great-expectations/great_expectations/blob/fd621f265c7afb26e9d9de864291cb059ce9a693/great_expectations/execution_engine/sqlalchemy_execution_engine.py#L

[2022-11-30 17:54] #6428 closed, assigned to nobody

[2022-11-30 21:10] austiezr commented on #6416
Hey @sachinwadhwa ! Thanks for reaching out.

If you instead pass your `row_condition` with `===` as opposed to `==`, does behavior change at all?