[2020-09-25 22:20] lcorneliussen commented on #1907
What about a debugging zoom call on monday? And if we can’t fix it, I can give access to my repo or share all files

_
Lars Corneliussen
________________________________
Von: anthonyburdi <notifications@github.com>
Gesendet: Friday, September 25, 2020 9:26:10 PM
An: great-expectations/great_expectations <great_expectations@noreply.github.com>
Cc: Lars Corneliussen <lars@corneliussen.de>; Comment <

[2020-09-25 22:32] #1845 closed, assigned to Shinnnyshinshin

[2020-09-25 23:13] eugmandel opened #1927 ""$" character in user's response to a CLI prompt is mistakenly interpreted as a variable to substitute"
**Describe the bug**
"$" character in user's response to a CLI prompt is mistakenly interpreted as a variable to substitute

![image](https://user-images.githubusercontent.com/80363/94323126-72169700-ff49-11ea-85fc-5dfba04ceba1.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Datasource in the CLI
2. Choose a database, answer one of the prompts (e.g., password) with a string that c

[2020-09-26 22:04] NiallRees commented on #1907
This error crops up weekly for me so if you've not tracked it down next time it occurs I will do some debugging.

[2020-09-27 03:32] abegong opened #1928 "Working notes: Geo-related Expectations"
On Friday, I had an awesome conversation with Mike about adding support for Geo-related Expectations. We’ve had several requests for this feature. I’m relatively new to working with Geo data; Mike enough was kind enough to walk me through some of the essentials.

Several major databases have recently (almost) standardized on a set of geographic functions. We’re looking primarily at Postgresql, Red

[2020-09-28 12:57] abegong opened #1929 "`checkpoint` CLI command spews a bunch of unwanted docstrings"
**Describe the bug**
When I run `great_expectations checkpoint`, the output is ugly and confusing.

**To Reproduce**
Run `great_expectations checkpoint` at the command line:

Outputs:
[code]

**Expected behavior**
Output that is not confusing.

**Environment (please complete the following information):**
 - GE Version: 0.12.2

**Additional context**
N/A

[2020-09-28 13:00] abegong commented on #1929
This behavior was first introduced in v0.11.8

`pip uninstall great_expectations; pip install great_expectations==0.11.7; great_expectations checkpoint`
`pip uninstall great_expectations; pip install great_expectations==0.11.8; great_expectations checkpoint`

[2020-09-28 15:15] crypdick opened #1930 "Allow to select columns based on regular expressions"
**Is your feature request related to a problem? Please describe.**
Our pipelines create datasets where the column names are always changing based on a pattern. As one example, the column names of our multihot encoding DataFrames change whenever we change which class IDs are being used for training.

**Describe the solution you'd like**

Extend the parameter `column (str) – The column name.` to per

[2020-09-28 15:40] eugmandel commented on #1927
This issue went through triage - the core team will develop a fix.

[2020-09-28 15:47] crypdick opened #1931 "expect_table_columns_to_match_regexp"
**Is your feature request related to a problem? Please describe.**
`expect_table_columns_to_match_set` expects column names to be static, but we have a case where column names are changing.

**Describe the solution you'd like**

It would be nice to have an expectation similar to `expect_column_values_to_match_regex_list`, except to validate the column names instead of the row values.

**Additional

[2020-09-28 18:15] elsander commented on #1861
👋 I'm back for Hacktoberfest! I'll have some hack time to pick up tickets next week. Happy to take a look at this one.

[2020-09-29 02:38] melaoni commented on #1907
Hi, I was able to get a stacktrace of when the "must be tuple not ValidationResultIdentifier" error is happening. For my case, the issue starts at [site_builder.py#L769](https://github.com/great-expectations/great_expectations/blame/29190428e345c2a89671d94054478693211a36da/great_expectations/render/renderer/site_builder.py#L769).

Below is a screenshot of the stacktrace:
![stacktrace](https://user

[2020-09-29 09:58] pentatone opened #1934 "Scaffold notebook crashes with numeric value columns"
Cannot run Scaffold on a table with high cardinality numeric columns.
I'm not able to determine which column is the culprit as the input table has hundreds of columns, but I suspect it's some NUMERIC of BIGINT value (of which we have plenty).
Seems to me that the scaffolder is calling the "expect_column_median_to_be_between" even if I ask to exclude it, possibly for some other calculations.

stack

[2020-09-29 10:16] varunbpatil opened #1935 "docs build cli not obeying --yes parameter"
**Describe the bug**
The `great_expectations docs build --yes` command still asks for confirmation even though the `--yes` parameter has been provided.
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run the `great_expectations docs build --yes` command.

**Expected behavior**
The command should not ask for user confirmation when the `--yes` argument is provided.

**Environment (please c

[2020-09-29 12:15] lcorneliussen commented on #1907
We did some debugging with @anthonyburdi yesterday. It seems that GE is getting the current contents of the S3 bucket, then running some kind of validation (maybe determining if the file should be kept in S3 or deleted) and storing that in a `ValidationResultIdentifier` which is created using `from_tuple` [here](https://github.com/great-expectations/great_expectations/blob/29190428e345c2a89671d940

[2020-09-29 14:13] lcorneliussen commented on #1907
Seems like the code that has problems was introduced here:
https://github.com/great-expectations/great_expectations/commit/3216afe1d755d0d6327c8358fafeb8e4952cb4b0

Currently in my case it is failing everytime I redeploy my container, as this also resets the validation results. I guess I'd have to use some kind of store to keep validations around, so they are rebuilt as part of the data docs gener

[2020-09-29 15:43] lcorneliussen commented on #1907
It would be nice if one could set skip_and_clean_missing to false from yaml. In my case where I launch fresh containers this would be useful anyway. And it would, for now, most probably give a workaround for the bug.

https://github.com/great-expectations/great_expectations/blob/29190428e345c2a89671d94054478693211a36da/great_expectations/render/renderer/site_builder.py#L292

[2020-09-29 16:22] lauralorenz commented on #1565
HELLO BOT 🤖 . I believe this is still relevant but will have to double check with the latest GE. I did a brief search through the changelog since this issue was opened and did not find any updates to variable substitution in checkpoint files; I did find two changes and their merged PRs about env var substitution generally, but it was to enable it in `config_variables.yml`, not checkpoint files. I

[2020-09-29 18:55] anthonyburdi commented on #1907
Just a heads up - I was able to replicate this issue locally and am working on a fix. Thank you for all the help and I will keep you posted!

[2020-09-29 22:19] daavidstein commented on #1931
I work with @crypdick and our team is currently implementing this with a custom expectation as follows:

[code]

However, from what I [gather ](https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/data_asset/data_asset.py#L152)custom expectations are not supposed to implement MetaPandasDataset.expectation directly, but rather column_map_expectation or column_agg

[2020-09-29 22:31] anthonyburdi commented on #1907
It turned out to be a tiny fix to Great Expectations v0.12.3 - if you have time please use the branch from the linked PR here and let me know if you still get errors in your environment. If this fix is successful, it will roll out in the next release of Great Expectations. 🤞

[2020-09-30 14:15] NiallRees commented on #1907
@anthonyburdi That's done it for me! Thanks.

[2020-09-30 22:11] melaoni commented on #1907
My particular issue was fixed after upgrading to just v0.12.3!
It seems to be done by this pull request: https://github.com/great-expectations/great_expectations/pull/1912 that was released in v0.12.3.

[2020-09-30 23:04] syahdeini commented on #1833
Hi @jcampbell, you can assign me. I am currently working on it.

[2020-10-01 08:58] haydarai commented on #1805
This looks fairly simple, can I try to work on this?

[2020-10-01 09:25] haydarai commented on #1804
The issue looks related to https://github.com/great-expectations/great_expectations/issues/1805. If it's okay for me to take the first one, can I also take this one?

[2020-10-01 13:26] spbail commented on #1805
@haydarai Absolutely, that would be great. If you haven't seen them yet, here are our step-by-step instructions for contributions: https://docs.greatexpectations.io/en/latest/contributing.html

One thing to flag is tests, we probably have pytests on all our outputs (like CLI, Slack messages, etc), so you'll want to run the test suites before submitting. Looking forward to seeing the result!

[2020-10-01 13:28] spbail commented on #1804
@haydarai It's somewhat related, but in this case, the data asset name is already in the docs, it's just a little further down the page (hidden behind "Show more info"). So this fix should be super easy.

See https://docs.greatexpectations.io/en/latest/contributing.html for step-by-step guidance on contributions. As I mentioned on the other issue, make sure the tests still pass since we have tests

[2020-10-01 14:44] eugmandel commented on #1909
@NiallRees Your latest comment refers to this bug: https://github.com/great-expectations/great_expectations/issues/1907.
We identified the root cause and will have a fix shortly.

[2020-10-01 14:48] eugmandel commented on #1909
@NiallRees based on the fact that the error stopped happening after rebuilding the Data Docs on S3 and your latest comment that points to https://github.com/great-expectations/great_expectations/issues/1907, I want to close this issue.

If this comes back in a release that has the fix for https://github.com/great-expectations/great_expectations/issues/1907, we will re-open it.

[2020-10-01 14:48] #1909 closed, assigned to nobody

[2020-10-01 16:25] Aylr opened #1941 "links in Data Docs footer are broken"
**Describe the bug**
The first and third CTA footer links are broken.

**To Reproduce**
Steps to reproduce the behavior:
1. `great_expectations docs build`
2. click on the footer CTA buttons
3. Note broken RTD links

**Expected behavior**
Correct links

**Environment (please complete the following information):**
 - OS: [e.g. iOS] macOS, Windows
 - GE Version: [e.g. 0.10.0] 0.12.3

[2020-10-01 17:28] rabernat opened #1942 "Support for nd-array / xarray data"
**Is your feature request related to a problem? Please describe.**

Just learned about this cool project via [twitter](https://twitter.com/expectgreatdata/status/1311700419522048001). Thanks for providing this great tool!

I am a climate scientist working with labeled ND-array data, usually via numpy or [xarray](http://xarray.pydata.org/). Such datasets are common in many scientific fields. Your d

[2020-10-01 18:32] Aylr opened #1943 "Images on Data Docs walkthrough are broken when hosted on GCS"
**Describe the bug**
Images on Data Docs walkthrough are broken when hosted on GCS via an AppEngine proxy

**To Reproduce**
Steps to reproduce the behavior:
1. Set up GCS bucket to host data docs
2. Set up an AppEngine proxy as documented in RTD
3. `great_expectations docs build`
4. Open site and note no images are present on the walkthrough.

**Expected behavior**
I expect to see images.

**Envir

[2020-10-01 22:24] Aylr opened #1944 "Data Docs build does not build suite pages if being run via a checkpoint and does not upload assets"
**Describe the bug**
Data Docs build does not build suite pages if using a GCS bucket

**To Reproduce**
Steps to reproduce the behavior:
1. Create a number of suites
2. Set up a GCS site
3. `great_expectations docs build`
4. Note a GCS site with an index page only - no other files or assets.

**Expected behavior**
I expect a full datadocs site

**Environment (please complete the following informat

[2020-10-01 22:49] Aylr opened #1945 "TypeError: argument of type 'NoneType' is not iterable"
**Describe the bug**
When running a `checkpoint` the slack message renderer explodes unpleasantly.
**To Reproduce**
Steps to reproduce the behavior:
1. Set up a GCS site like:
[code]
2. Run a checkpoint
3. See error

[code]

**Expected behavior**
I expect a slack message to be sent.

**Environment (please complete the following information):**
 - OS: [e.g. iOS] macOS
 - GE Version: [e.g. 0.10.0] 0

[2020-10-02 04:53] #1929 closed, assigned to nobody

[2020-10-02 05:03] eugmandel commented on #1942
@rabernat Currently Great Expectations supports only tabular data (or at least data that can be made tabular, e.g. nested JSON that can be "unfurled"). The architecture does not preclude implementing support for non-tabular/nested data.

The core team has no immediate plans to add support for nd-array/xarray. However, our next major release (0.13.0) will make it much easier to implement new kinds

[2020-10-02 05:03] #1942 closed, assigned to nobody

[2020-10-02 05:08] eugmandel commented on #1925
@jdimatteo Thank you for reporting this. We acknowledge that this is a bug. Since it is not blocking a use case and based on the queue we are working on, I am marking it as "won't fix". This means that the core team does not expect to get to it, but we will gladly accept a contribution from the community.

[2020-10-02 05:10] eugmandel commented on #1901
@Vfisa The core team triaged this bug and added to our queue. We will get to it shortly. Again, thank you for reporting this!

[2020-10-02 05:21] eugmandel commented on #1941
@Aylr @sbrugman has a PR that addressed it: https://github.com/great-expectations/great_expectations/pull/1946 - I will review it shortly.

[2020-10-02 05:49] eugmandel commented on #1941
Merged the PR - thanks to @sbrugman !

[2020-10-02 05:49] #1941 closed, assigned to nobody

[2020-10-02 08:45] lukedyer-peak opened #1948 "Obtaining queries from query stores in checkpoints and expectation suites"
**Is your feature request related to a problem? Please describe.**
I would like to be able to specify the batch of data to use during a checkpoint or expectation suite using the `SqlAlchemyQueryStore`.  This is currently possible when generating the expectations in a notebook from this [example the docs](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_batches/how_to_load_

[2020-10-02 14:57] eugmandel commented on #1943
The core team will look into this issue. Any additional information from users who encounter this issue will be very useful (e.g., AppEngine logs).

[2020-10-02 15:42] tfayyaz opened #1950 "Error when running - context.build_data_docs() - Python int too large to convert to C long"
**Describe the bug**
I am going through the steps to Scaffold a new Expectation Suite through a Jupyter notebook using the instructions [here](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_and_editing_expectations/how_to_create_a_new_expectation_suite_using_suite_scaffold.html).

When I run `context.build_data_docs()` I get the following error but I am not sure what is

[2020-10-02 16:06] #1920 closed, assigned to anthonyburdi

[2020-10-02 16:46] Aylr opened #1951 "ValueError: Keys in TupleGCSStoreBackend must not contain substrings in ['/', '\\'] : ('', '', '', 'validations\\suite_name'"
**Describe the bug**
When running validations on Windows using a GCS store failures occur. These show up in additional ways such as when running `great_expectations docs build` from macOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up GE with a GCS validations store using a prefix for the bucket
2. Run a checkpoint on windows
3. Note failure as seen in #1945

[code]
4. Run `great_ex

[2020-10-02 17:19] #1907 closed, assigned to anthonyburdi

[2020-10-02 19:12] Aylr commented on #1944
<img width="1636" alt="Data_Docs_created_by_Great_Expectations" src="https://user-images.githubusercontent.com/928247/94960938-f2407d80-04b0-11eb-9077-125ace0870ec.png">

[2020-10-02 19:46] melaoni commented on #1907
Thank you for looking at the issue! 😄

[2020-10-02 20:48] haydarai commented on #1911
I wasn't able to reproduce this on Mac, so maybe probably his installation of Windows doesn't have the language pack with an umlaut character installed?

[2020-10-03 15:06] fpnick commented on #1911
Since I am a native German, I have the necessary language pack installed. ;)
I would expect that MacOS copes a lot better with those things than Windows... :/

[2020-10-05 14:01] mbakunze opened #1956 "datetime objects in evaluation parameters"
__Use Case__:
Use datetime objects in evaluation parameters to validate an expectation against a datetime/timestamp column based on e.g. `datetime.datetime.now()` . When add such evaluation parameters you can run the validation, but you cannot save the expectation suite.

__Problem__:
[code]

☝️ works, but once you call `batch.save_expectaion_suite()` you run into a `JSONDecodError` as the datetim

[2020-10-05 17:47] elsander commented on #1861
I could replicate this issue on `master`, but not `develop`. Has a fix been merged, but not released? If so, should this ticket be closed?

[2020-10-05 22:16] elsander commented on #1535
I'm happy to take a stab at this one. I can see a couple possible implementations:

1. Add an argument to `expect_columns_to_be_null` (and the inverse) to accept additional values which should be treated as null.
2. Create a new expectation `expect_column_values_to_be_missing` (as well as an inverse) which checks for a list of values which should be treated as null/missing. This seems like a fairl

[2020-10-05 23:30] syahdeini opened #1959 "Multiple call on creating expectation during creation of empty suite"
Creating an **empty suite expectation**, the library need to call `create_empty_suite()` which you can see in the link
https://github.com/great-expectations/great_expectations/blob/7f95536d4a1de7cdd9db878187a627c037b89e02/great_expectations/cli/toolkit.py#L282
https://github.com/great-expectations/great_expectations/blob/7f95536d4a1de7cdd9db878187a627c037b89e02/great_expectations/cli/toolkit.py#L2

[2020-10-06 01:21] eugmandel commented on #1956
@mbakunze Approved and merged your PR. Closing this issue - thank you!

[2020-10-06 01:21] #1956 closed, assigned to nobody

[2020-10-06 01:50] noklam opened #1960 "Documentation invalid/incorrect path"
**Describe the bug**
1. For example, some of the links do not exist in the menu bar, which can only be access by searching directly.

It only shows reference/folder/xxxx, since `conditional_expectations.rst` does not stored in any folder, it is missing from the site.
https://docs.greatexpectations.io/en/latest/reference/core_concepts/conditional_expectations.html?highlight=conditional%20expectatio

[2020-10-06 02:19] noklam commented on #1960
How can I build the documentation locally? I am trying to fix some of the path.

[2020-10-06 05:19] GuptaTanay opened #1963 "Can I pass a complete data frame into Column Map & Column Aggregate Expectation while creating a Custom expectation?"
I want to create a custom expectation wherein I have created a python function which involves several functions on the pandas data frame and based on those function, I want to create a custom expectation, Can I pass a complete pandas data frame in Column Aggregate or Column Map Expectation decorator?

eg. I want to compare 2 columns after performing the SQL windows function on the PandasDataSet.

[2020-10-06 07:32] jbkai opened #1964 "Running validation fails on Athena because it tries to create temp tables"
**Describe the bug**
After creating a new suite with `great_expectations suite new`, a jupyter notebook opens in the browser and the first cell fails running
`batch = context.get_batch(batch_kwargs, suite)`
throwing the exception pyathena.error.DatabaseError

The log:

[code]

**Expected behavior**
It should behave similar to other dialects used with SQLAlchemy.

[2020-10-06 08:58] NiallRees opened #1965 "S3 datadocs failing to build - 0.12.3"
**Describe the bug**
Randomly started in the middle of the night. I will do a bit of debugging this morning to try and work out what's going on, but here's a stack trace:

[code]

[2020-10-06 11:12] rcwoolston opened #1966 "SuiteEditNotebookRenderer example does not work"
**Describe the bug**
Attempted to use the edit suite notebook functionality by following the example hosted in the [docs](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_generated_notebooks/how_to_configure_suite_edit_generated_notebooks.html). However, I receive the following error utilizing versions 0.12.1 and 0.12.3.

[code]

Here is the relevant section from my gre

[2020-10-06 14:44] Aylr commented on #1535
Amazing! I can't decide which makes more sense between 1 or 2 - I don't have a strong opinion here perhaps @eugmandel could sway us one way or the other.

[2020-10-06 15:39] NiallRees commented on #1965
Done some digging:

Is it 'normal' that TupleS3StoreBackend should be instantiated with a prefix of None? There's a catch here I can't understand:

https://github.com/great-expectations/great_expectations/blob/93419b01c226bb52c5f87076c4884f63092e6b88/great_expectations/data_context/store/tuple_store_backend.py#L396-L404

What's happening is that

https://github.com/great-expectations/great_expecta

[2020-10-06 15:57] NiallRees commented on #1965
Tested and fixed by https://github.com/great-expectations/great_expectations/pull/1937

[2020-10-06 15:57] #1965 closed, assigned to nobody

[2020-10-06 16:12] mrbungie opened #1969 "Teradata Support"
**Is your feature request related to a problem? Please describe.**
Some assumptions over generic SQL Syntax are making some implementations, like Teradata, incompatible. Mainly the following points should be addressed for it to be compatible:
1. Expectations that use ignore_values, namely every one that uses SqlAlchemyDataset.get_column_nonnull_count. When counting nulls that function builds a wei

[2020-10-06 16:24] gus-morales commented on #1969
I would totally appreciate any kind of Teradata support!

[2020-10-06 17:19] eugmandel commented on #1950
@tfayyaz It looks like the error happens when the rendered parses the time of the run. I suspect that this is not related to the data that you are using, but to the environment that you are running in. I have not tried running in Dataproc.

To confirm this, could you please try running the same sequence of steps locally and see if the error still happens? Thank you!

[2020-10-06 17:44] eugmandel commented on #1966
@rcwoolston I'll try to reproduce this locally and see if this is a bug. Will update.

[2020-10-06 19:56] mbakunze commented on #1966
@rcwoolston - I think I ran into this as well. For notebook_assets.suite_edit location did you make sure there are `__init__.py` files so those are recognized as modules?

Check here: https://docs.greatexpectations.io/en/latest/reference/spare_parts/data_docs_reference.html?highlight=__init__.py#more-advanced-configuration

[2020-10-06 21:53] elsander commented on #1535
I'm looking at this again, and GE already treats "missing" as synonymous with "null" (since there is a "missing_count" and "missing_percent" in the output keys). It would be confusing to have a "null" expectation and a "missing" expectation if they're treated as synonymous elsewhere. So what makes the most sense to me is option 1, adding an optional `treat_as_null` argument. I'll start with that b

[2020-10-06 21:56] #1886 closed, assigned to nobody

[2020-10-06 21:56] #1951 closed, assigned to anthonyburdi

[2020-10-06 22:27] #1921 closed, assigned to anthonyburdi

[2020-10-06 22:54] Aylr commented on #1535
In absence of another opinion I think your approach here makes tons of sense.

Regarding the can of worms... I _think_ adding those to `missing_*` makes sense because the user would be specifically including additional "semantic null" values. As far as the other expectations go... yikes, I'd want to think about that more. I'd say proceed and see what shakes out for now.

PS I'm **stoooooooked** yo

[2020-10-07 04:42] haydarai commented on #1911
@fpnick is it possible for you to share the generated notebook perhaps? wanted to know if the problem is on the generated notebook itself or it's a problem with the cli process to generate the notebook

[2020-10-07 04:53] haydarai commented on #1806
@spbail can I give this a shot?

[2020-10-07 06:53] deep-diver opened #1971 "path in checkpoint metadata is not relative path"
**Describe the bug**
when I push checkpoints to a remote repo, the metadata says it's path doesnt exist. I have inspected the file, and I found the path is not relative path. It literally shows the path in my local machine.

**To Reproduce**
Steps to reproduce the behavior:
1. great_expectations init (create with new suite scaffold)
2. great_expectations checkpoint new new.checkpoint suite.name
3.

[2020-10-07 12:57] fpnick commented on #1911
I went ahead and uploaded the full folder structure for you to look at :)
[ge.zip](https://github.com/great-expectations/great_expectations/files/5340774/ge.zip)

[2020-10-07 14:43] eugmandel commented on #1963
@GuptaTanay If you using the generic expectation decorator, you can create an expectation that accepts anything as its arguments. Closing this issue, since it is a question.

[2020-10-07 14:43] #1963 closed, assigned to nobody

[2020-10-07 15:02] spbail commented on #1806
Hi @haydarai! Sure this would be great! Keep in mind that any CLI changes need new tests, but you can probably follow the patterns of the existing CLI tests pretty well :)

[2020-10-07 17:07] deep-diver commented on #1971
@eugmandel what does the labels mean?

[2020-10-07 17:11] rcwoolston commented on #1966
Good question, I do have an `__init__.py` in my suite_edit directory

![image](https://user-images.githubusercontent.com/5957841/95364035-8766bc00-088d-11eb-880d-8b702c4747bd.png)

[2020-10-07 17:44] eugmandel commented on #1969
@mrbungie Fully support Teradata is a great idea! Since a team that actively uses Teradata in their workflow is the best candidate for implementing this, we are inviting a community contribution to resolve this.

[2020-10-07 17:46] eugmandel commented on #1971
@deep-diver Here is the workaround: If the CLI put the absolute path of the file to validate in the checkpoint's yml config file, you can manually edit the file to switch the path to relative.

[2020-10-07 17:48] deep-diver commented on #1971
@eugmandel Sure
The problem is that I need to change it "manually". Do you think that is good enough? Just wondering

[2020-10-07 20:48] mbakunze commented on #1966
Also in notebook_assets? I am asking as I just checked our implementation and we have an
`__init__.py` there as well and I think it did not work without.

[2020-10-08 03:21] rcwoolston commented on #1966
That fixed it. I am trying to think what the default behavior is for initializing the project, I don't remember deleting any of those.

[2020-10-08 05:46] deep-diver commented on #1971
@eugmandel when you say "workaround", this issue is unacceptable?

[2020-10-08 09:09] jbkai commented on #1964
I'm working on a PR, that would include the following:
- creating a table (permanent in default db) instead of temporary table if dialect equals to awsathena
- raise a `NotImplementedError` exception when `expect_column_median_to_be_between` is used with datasource Athena
- doc: how to configure an Athena datasource

is this ok to package those 3 items together?

One thing to note, I did not modif

[2020-10-08 14:19] spbail commented on #1806
Also @haydarai feel free to assign this issue to yourself so it's clear it's being worked on! Thank you!

[2020-10-08 16:16] anthonyburdi commented on #1944
FYI while trying to reproduce this: currently `great_expectations docs build` seems to work as expected, however this issue does crop up when using `great_expectations checkpoint run ...`

[2020-10-08 17:16] anthonyburdi commented on #1944
FYI this issue was reproduced on s3 & Filesystem as well when using `great_expectations checkpoint run <checkpoint_name>`

[2020-10-08 22:34] eugmandel commented on #1964
@jbkai The first and the third items make sense to me. I am not sure about the second (expect_column_median_to_be_between) - does something in how Athena works make this impossible?

In any case, these items belong to one theme (enabling full support of Athena), so they can be in the same PR.

[2020-10-08 22:43] eugmandel commented on #1964
@jbkai Just for your reference, there was an older issue about supporting Athena (https://github.com/great-expectations/great_expectations/issues/1486). Another contributor was working on a PR, but it was never finished: https://github.com/EarnestResearch/great_expectations/pull/9 Hopefully, it can be helpful to you as you develop your PR.

[2020-10-09 03:38] jbkai commented on #1964
@eugmandel for the second item, yes indeed, OFFSET is not supported in Athena (I'm not sure about Presto, but I'm focusing on Athena for this PR), making it way more difficult to calculate the median.

Thanks for the link to the PR. Presto and Athena have quite some differences (even more now than before right), and we chose to focus on Athena solely for this PR, thus a different PR for this issue

[2020-10-09 07:23] haydarai commented on #1806
@spbail I don't think I have the permission to assign myself to this issue

[2020-10-09 14:46] #1927 closed, assigned to anthonyburdi

[2020-10-09 14:55] Dandandan commented on #1810
Thanks @gumartinm that worked indeed, we are using this now :)

[2020-10-09 14:55] #1810 closed, assigned to nobody

[2020-10-09 17:51] colmsnowplow opened #1977 "Feature request: Support nesting in jsonschema profiler"
**Is your feature request related to a problem? Please describe.**

I'm experimenting with the jsonschema profiler. We use Jsonschema quite heavily, sometimes those schemas have several levels of nesting. It would be awesome if this was supported in some future version.

**Describe the solution you'd like**
Jsonschema profiler can iterate through n degrees of nesting and generate expectations for

[2020-10-10 16:02] syahdeini commented on #1451
This look relatively simple, CMIIW you just need to change this line.
https://github.com/great-expectations/great_expectations/blob/9d85b7e0543d170e73df99dcc985c649a0f395bb/great_expectations/cli/datasource.py#L1141

I will work on this issue @Aylr, please can assign me.

[2020-10-10 18:13] noklam commented on #1928
@abegong is GE opt-in for hackforberfest? i just notice they changes the rule and requires either project add #hacktoberfest to the repository topic or add a specific label to individual PR. It would help my progress if GE joins it.

[2020-10-10 19:12] noklam commented on #1943
I think even in local the images are broken. From what i notice, the index.html page can render correctly. Once you click into some validation those images are broken because the path is wrong.

The href in those HTML are missing one less `../`, my adhoc solution is to just copy the static folder into the validations folder.

[2020-10-12 04:23] GuptaTanay commented on #1963
@eugmandel  Thanks for the answer. Apologies had to ask a question here as I did not receive any reply over the discussion forum.
This will help, I will look for the Generic decorator in the documentation,

[2020-10-13 01:37] wingriderr opened #1981 "dynamic replacement of the enviroment variable supports only one variable per line"
**Describe the bug**
By default anything in between ${} should be replaced by the corresponding value in the environment variable. However for url type credentials , the substitute variable is  not working. Tried in great_expectations.yml and config_variables.yml

**config_variables.yml**
[code]

However the below is working when i replace the environment variable with the actual password

[code]

[2020-10-13 15:28] eugmandel commented on #1981
@wingriderr Thank you for reporting this issue! The root cause is exactly what you are saying in the "Additional context" section: current implementation has a limitation - **only one variable can be substituted in a line**.

I edited the title of the issue to make sure that it is clear.

**Workaround:**
replace
[code]
with
[code]
I will leave this issue open. The core team will not work on it in

[2020-10-13 15:31] eugmandel commented on #1977
@colmsnowplow This is a good suggestion! Marking this with "**_help wanted_**" label to invite a community contribution.

[2020-10-13 16:06] Aylr commented on #1451
Thanks for volunteering @syahdeini !

[2020-10-13 22:52] wingriderr commented on #1981
nws @eugmandel . Didnt work on fixing this as found a  real workaround is to specify the username password in one environment variable as below in the url
[code]

[2020-10-14 14:48] eugmandel commented on #1981
@wingriderr That's another good workaround!

[2020-10-14 17:21] melaoni commented on #1860
Is your ExpectationsStore or ValidationsStore using TupleS3StoreBackend? If yes, how many items do you have in each store? Is it over 1000?

I'm seeing a similar issue. It turns out that:
- TupleS3StoreBackend's way of retrieving keys in a bucket only returns maximum 1000 keys
- DefaultSiteIndexBuilder builds the index based on keys it can retrieve from S3 store
- the DefaultSiteSectionBuilder dec

[2020-10-14 21:59] eattogether2020 opened #1985 "validations directory getting deleted in new run"
**[Build Doc]: validations directory getting deleted in second run**
 The validations document (hosted on S3) getting deleted when we run the test case from a new directory or server

**To Reproduce**
Steps to reproduce the behavior:
1. Initialise great_expectations project (Folder structure will be created locally)
2. Set the s3_site in great_expectations.yml file (All the document folder structu

[2020-10-14 23:01] #1964 closed, assigned to nobody

[2020-10-15 03:23] noklam opened #1986 "[Feature Request] - Site allow right click to open a validation result as a new tab"
Currently, the GE site shows a table of the validation results. When there are lots of validations results, some filtering and search is needed. The UI does not allow a right click to open the validation result as a new tab. When user click "Go Back", it will remove all the search/filtering criteria.

See screenshots below:
![image](https://user-images.githubusercontent.com/18221871/96073187-890d3

[2020-10-15 11:16] eyaltrabelsi opened #1987 "Failing to run run_validation_operator"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 Run the following code
[code]

2. You will get the following error:
[code]

**Expected behavior**
I would expect it to be executed without an expection

**Environment (please complete the following information):**
 - OS: Mac catalina
 - GE Version: 0.9.0

**Additional contex

[2020-10-15 14:19] eugmandel commented on #1987
@eyaltrabelsi Thank you for reporting this! Could you please try the same scenario on the latest version (0.12.4) and see if the error happens again? I am almost sure it should not.

We will keep this issue with the `triage` label for now.

[2020-10-15 14:21] eugmandel commented on #1986
@noklam This is a great suggestion! Added "help wanted" tag to invite a community PR.

[2020-10-15 14:41] eugmandel commented on #1985
@eattogether2020 I suspect that your great_expectations.yml file is configured in a way that the validation results are stored locally as JSON files and the Data Docs site is hosted on S3.
If this is the case, the behavior that you described is "as designed". Every time you run your project from a new directory or a server Great Expectations sees an empty directory with validation results. Then it

[2020-10-15 15:03] HugoManoMano commented on #1860
@melaoni Yes we're using TupleS3StoreBackend for validation but TupleFilesystemStoreBackend for expectations to keep them under git versioning. But we have not yet exceeded 1000 entries to reach boto limitations.

Didn't pay attention of the list_object_v2 limit. Probably worth it to try implementing the pagination with the ContinuationToken as describe https://stackoverflow.com/a/54314628

[2020-10-15 15:36] anthonyburdi commented on #1944
Quick update @Aylr @eugmandel - I have a proposed method to fix this in branch [anthony/bugfix/issue_1944](https://github.com/great-expectations/great_expectations/compare/anthony/bugfix/issue_1944) and am adding tests before submitting a PR.
The proposed fix is to check for the existence of a data docs site (via a method on `HtmlSiteStore` to check for an existing `index.html`) and if it does not

[2020-10-15 17:30] Aylr commented on #1944
A note of mild warning - I vaguely recall the original intent of the resource identifier being passed was to build only the new page rather than the very slow rebuild of the entire site. If a user has many suites (or few large ones), or many validation results this can take quite some time to do.

[2020-10-15 18:30] anthonyburdi commented on #1944
Makes perfect sense! Just to be clear - the resource_identifier is only removed if there is no existing site, in which case you would likely want to rebuild. However noted that it could take a very long time, and a user may not have set a `validation_results_limit`.

Maybe there is a middle ground where if there is no existing site during a checkpoint run, we just make sure the index / expectation

[2020-10-15 19:15] eattogether2020 commented on #1985
@eugmandel  thank you very much for your response - I just had a quick look.

This is my current configuration which was created by default  and I replaced only S3 site as I wanted the validations on S3 -If you see, there is one main element called `store` and child element `validations_store`
then, there is another key called `validations_store_name: validations_store`
As per the document - It sh

[2020-10-15 21:10] anthonyburdi opened #1991 "UpdateDataDocsAction ignores site_names parameter"
**Describe the bug**
When creating data docs sites, the UpdateDataDocsAction ignores the site_names parameter and tries to build all sites anyway. It also tries to get urls for all sites. This leads to errors when sites may not be accessible. For example, some users use the following pattern to identify an active site depending on the environment (e.g. dev / prod):
[code]

**To Reproduce**
1. Crea

[2020-10-16 01:03] eattogether2020 commented on #1860
Found same issue - ExpectationsStore is set to TupleS3StoreBackend.
Following steps did the work.

[code]

One more observation -
the expectations files are getting generated with the suite(.json/.html) name, unlike the validation files which are appended with timestamp and UUID.

Is that an expected behaviour -
Will there be always one expected file for all run?
How does it handle the versioning

[2020-10-16 01:45] prajwal-kesava opened #1994 "Failed To Provide partial_unexpected_counts in Validation Results"
**Describe the bug**
GE is failing to give correct "**partial_unexpected_counts**" in validation  json result after running "**action_list_operator**.
When I am Validating Column Type with **Integer** ,which has mixed data types in it, then in GE JSON result i am seeing like
**"partial_unexpected_counts": ["partial_exception_counts requires a hashable type"]** as one key-value pair.

This is Happe

[2020-10-16 07:55] JeroenSchmidt commented on #176
Has this issue been resolved? I am trying to generate auto validation docs on a pandas data frame which contains a column with lists. Is it possible to skip these columns in the mean time using a CLI command?

`great-expectations: 0.11.4 & 0.12.4`

[2020-10-16 16:07] #1991 closed, assigned to anthonyburdi

[2020-10-16 16:35] anthonyburdi commented on #1944
@Aylr FYI - I changed the functionality to the following: All expectation suites are always rendered unless resource_identifiers contains ExpectationSuiteIdentifier(s). If resource_identifiers contains ExpectationSuiteIdentifier(s) then only those are rendered. PR is now ready for review.

[2020-10-16 22:30] #1944 closed, assigned to anthonyburdi

[2020-10-17 08:48] eyaltrabelsi commented on #1987
@eugmandel this work after upgrading thanks

[2020-10-17 14:42] eugmandel commented on #1987
@eyaltrabelsi Thank you for verifying this. Closing the issue.

[2020-10-17 14:42] #1987 closed, assigned to nobody

[2020-10-17 14:59] eugmandel commented on #1985
@eattogether2020 I am closing the issue based on you Slack message saying that it's working.

[2020-10-17 14:59] #1985 closed, assigned to nobody

[2020-10-17 16:17] eugmandel commented on #1860
@HugoManoMano @melaoni @eattogether2020 This is a "it's not a bug it's a feature" issue that requires explanation. The `UpdateDataDocsAction` (that is called during validation in the validation operator) generates the HTML file for the latest validation result and rebuilds the index page of the Data Docs site to add the new file. It does not touch anything else. This choice was made deliberately f

[2020-10-17 16:17] #1860 closed, assigned to nobody

[2020-10-19 12:57] Selvaticus opened #1996 "Is it possible to have the click dependency to a lower version? Or have CLI as an extra?"
**Is your feature request related to a problem? Please describe.**
When using multiple dependencies that have CLIs they sometimes clash as often projects will depend on `click` to build their CLIs and end up setting some arbitrary version requirement.

**Describe the solution you'd like**
An improvement would be to have the `click` version set to the minimum that provides the features that the pro

[2020-10-19 16:07] eugmandel commented on #1996
@Selvaticus Thank you for reporting this! Our long term solution for issues like that is to have a second package - something like "great_expectations_minimal" that will have just the absolute essentials. This is the plan, but not going to be implemented immediately. Unfortunately, we cannot lower the requirements for click, since we upgraded to 7 for some newer features.

I will keep this issue o

[2020-10-19 16:21] #1935 closed, assigned to nobody

[2020-10-19 16:37] spbail commented on #1879
Hi @mirosval, thanks for submitting the issue, appreciate it! We hear you, this is definitely a good point to bring up and a relevant use case for allowing multiple expectations on a single column.

It sounds like this was already discussed in Slack, but just to capture it here: We agree that this would be a really useful capability in Great Expectations. On the other hand, it's a pretty big depar

[2020-10-19 18:16] eugmandel commented on #1994
@prajwal-kesava Thank you for providing easy-to-follow steps to reproduced! I see the same error that you are reporting. Marking this "core-team-priority", but not sure when we will get to it. In the meantime, if there is a community PR that addresses this, it will be very much welcome.

[2020-10-19 20:43] hugohjerten opened #1999 "great_expectations init reports ModuleNotFoundError: No module named 'black'"
**Describe the bug**
When running `great_expectations init` in a clean python virtual environment, I'm met with the `ModuleNotFoundEror: No module named 'black'`. Haven't looked into the source code yet to see why `black` is needed in the production code... Easy fix was to simply install `black`, then it worked!

**To Reproduce**
Steps to reproduce the behavior:
1. Run `great_expectations init`
2.

[2020-10-20 02:56] noklam opened #2000 "[Feature Request] - SubdirReader for S3"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I found that it is hard to use different backend for GE. For example, when I started development, I use my local filesystem. Once I move to cloud storage(S3), I found that the migration is not simple. I have to change a lot of configuratio

[2020-10-20 10:24] eugmandel commented on #1999
Thank you for reporting this, @hugohjerten! We will add `black` (code linter) into the requirements in the next minor release. It is used to make the auto-generated code prettier. In the meantime, you can `pip install black` in your environment.

[2020-10-20 10:25] eugmandel commented on #2000
Thank you for writing this up, @noklam ! We will look at the PR and comment there.

[2020-10-20 17:21] salam-abdul commented on #1999
@eugmandel -
The black package is only used in one function in utils and that function is only used in 2 locations.

Black creates a lot of log noise when starting up and is a pretty heavy package to use for just linting. It should be made an optional import in utils

Since the import is in the utils file, anything that accesses anything in utils ends up importing it.

[2020-10-20 17:25] Selvaticus commented on #1996
Thank you for the quick response. I understand the constraints.

When time comes to split packages, may I suggest to have the `cli` as a separate package, or as an extra dependency on current.

I can see use cases where having the full offering of `great_expectations` minus `cli` would be advantageous:
- Users that are comfortable writing config by hand or want to
- Users that like to have code as

[2020-10-21 12:14] eugmandel opened #2004 "User should be able to auto-generate an expectation from a test written in SQL"
Currently you must use Python and SQLAlchemy to create a new expectation that can be used against a database.

There’s a whole community of data analysts and scientists who would love to author new/custom expectations that can run against their databases for whom SQL is the primary language.

There should be a way to translate a SQL query into a new expectation without writing any Python.

[2020-10-21 16:18] EliMorato opened #2005 "password skipping config substitution"
**Describe the bug**
When using environment variables to provide datasource credentials in great_expectations.yml, example:
[code]
the password is reading "${GE_REDSHIFT_PASSWORD}" as the `password` value due to [this bugfix](https://github.com/great-expectations/great_expectations/commit/9d85b7e0543d170e73df99dcc985c649a0f395bb).

**To Reproduce**
Steps to reproduce the behavior:
1. Use an enviro

[2020-10-21 22:36] Aylr opened #2006 "CLI should support GCS and S3 paths for Pandas Datasources"
**Describe the bug**
Suite new CLI fails when passed a file on GCS

**To Reproduce**
Steps to reproduce the behavior:
0. `pip install gcsfs` (this allows pandas to use `gs://` urls natively in `read_csv`)
1. Set up a vanilla pandas datasource
[code]
2. `great_expectations suite new`
3. choose gcs datasource
4. enter gs path to existing file such as gs://my-bucket/data/foo.csv
5. Note the error. Th

[2020-10-22 16:32] hugohjerten commented on #1999
@eugmandel I strongly recommend that you use [`poetry`](https://python-poetry.org/) to manage your project dependencies, as well as for publishing your project. Using [`poetry`](https://python-poetry.org/) would eliminate the possibility of publishing a new version with an incomplete requirements.txt...

[2020-10-23 10:44] whatsrupp commented on #2005
+1 on this, am currently working around this by generating the yaml file and interpolating in the password from the environment manually.

[2020-10-24 12:52] hugohjerten opened #2008 "Images not found when running taxi-demo"
**Describe the bug**
I am doing the "Getting started with Great Expecations" tutorial, with the taxi dataset. After having run the `great_expectations suite scaffold taxi.demo` command and generated the first docs page, I was greeted with some "first time" cards with 7 cards. In several of these cards there were multiple images that were not found.

page 1: static/images/iterative-dev-loop.png
pag

[2020-10-26 08:56] eugmandel opened #2010 "Display the actual values of evaluation parameters in the validation results page in Data Docs"
### Current behavior

You add an Expectation that uses an Evaluation Parameter to your Expectation Suite (instead of hardcoding the value in the Expectation):

[code]

The Expectation view in Data Docs will display your Expectation as follows:

![image](https://user-images.githubusercontent.com/80363/97152129-b3a78700-172d-11eb-8858-298c4ef6b6d3.png)

This is acceptable.

The issue arises when you

[2020-10-26 10:24] eugmandel commented on #2008
Thank you for reporting this, @hugohjerten ! We will triage it today.

[2020-10-26 10:33] martinheld commented on #2005
+1

[2020-10-26 15:24] eugmandel commented on #2005
@EliPino @whatsrupp @martinheld This is indeed a case of a fix breaking something else. We will fix this in a more robust way and cut a release.

[2020-10-26 21:11] miike commented on #2008
Posting here as this is related: https://greatexpectationstalk.slack.com/archives/CUTCNHN82/p1596683377075000

Looks like it can be fixed in the Jinja template here `great_expectations/render/view/templates/carousel_modal.j2`

[2020-10-26 21:20] miike opened #2011 "[Feature] Add support for Opsgenie alerting"
**Is your feature request related to a problem? Please describe.**

It would be ideal to expand the number of alerting methods (currently Slack, Pagerduty) to allow for Great Expectations to be integrated into other incident management platforms (e.g., Opsgenie, Stackdriver, Cloudwatch etc).

**Describe the solution you'd like**

For success or failure validation results to create an alert in Opsg

[2020-10-26 22:47] gvemulapalli90763 commented on #1792
+ 1.
I have the same issue.

[2020-10-26 23:35] jdimatteo commented on #1925
It looks like the problem is that `_missing_content_block_fn` defines `string_template` as `$expectation_type(**$kwargs)` here: https://github.com/great-expectations/great_expectations/blob/0.12.6/great_expectations/render/renderer/content_block/expectation_string.py#L117

Is there anyway to override the `_missing_content_block_fn` or specify a `string_template` for custom expectations (e.g. like

[2020-10-27 03:50] ryanaustincarlson commented on #1925
Some additional context in this discuss thread -- it sounds like v0.13 may bring some helpful improvements to how custom expectations are implemented and rendered
https://discuss.greatexpectations.io/t/how-to-customize-the-data-docs-output-for-a-custom-expectation/442/4

[2020-10-27 14:02] talagluck commented on #1901
Hi @Vfisa!

We were having trouble reproducing the issue on great_expectations version 0.12.6, sql_alchemy 1.3.18, and snowflake-sqlalchemy 1.2.3. Since we can't reproduce this, we are going to close this for now, but please let us know the versions you're using, and we can re-open if necessary.

[2020-10-28 08:24] eugmandel commented on #2006
CLI will accept filesystem, "s3a://" and "gs://" paths as valid inputs when prompting for a data file for a Pandas Datasource. Implemented.

[2020-10-28 08:24] #2006 closed, assigned to nobody

[2020-10-28 10:49] whatsrupp commented on #2005
@eugmandel Perfect!! While I'm here, just a bit of positive feedback: I have recently set up GE on a small data pipeline at work, it was invigorating how quick it was to scaffold out some meaningful tests that I needed to put together! So, thank you!

[2020-10-28 13:59] anthonyburdi commented on #2005
Thank you all for your patience! In this branch [anthony/bugfix/issue-2005-password-substitution](https://github.com/great-expectations/great_expectations/tree/anthony/bugfix/issue-2005-password-substitution) I have a preliminary fix in place (revert the bugfix #1949 & add escaping for $ characters in actual passwords), and am currently writing / cleaning up tests and documentation.

[2020-10-28 18:56] martinheld commented on #2005
🥇 @anthonyburdi thanks a lot!

[2020-10-29 07:29] amraf1002 opened #2016 "ModuleNotFoundError: No module named 'ruamel' while importing great_expectations"
We are trying to use GE with GCP DataProc clusters. While cluster creation we are installing great-expectations==0.12.4. This installs ruamel.yaml==0.15.35 as dependency. After cluster creation if we try to import great_expectations we get error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/conda/default/lib/python3.6/site-packages/great_expectations/__ini

[2020-10-29 13:06] eugmandel commented on #2016
@amraf1002 Thank you for reporting this! Would you like you to submit a PR with the fix (`ruamel.yaml>=0.16`) ?

[2020-10-29 15:34] rubenssoto opened #2017 "Failed validation on expectation: expect_table_columns_to_match_set"
Hello Guys,

Thank you, for this great product!

I created a validation with expectation expect_table_columns_to_match_set, and I got a validation "failed",
but the first column of expected results is wrong "eval_col_order_id", the real column name is only order_id.

Could you help me? Thank you

<img width="1680" alt="Captura de Tela 2020-10-29 às 11 41 04" src="https://user-images.githubusercon

[2020-10-29 16:34] satyakiroy1992 commented on #1331
Any fix to this issue ?

[2020-10-29 17:01] #2005 closed, assigned to anthonyburdi

[2020-10-29 18:15] bhcastleton commented on #2017
This does indeed look suspicious. I went through the columns that are expected and they're all showing up in the observed values in the screenshot (even the 'order_id' column does show up later in the observed values.) And as @rubenssoto mentions, the first observed value in Observed Values looks suspicious.

[2020-10-29 18:45] anthonyburdi commented on #2005
Thanks again for your patience! GE v0.12.7 now:
- does not handle the `password` field differently
- allows for the escaping of $ characters in config values
- allows for multiple substitutions in a single config value

I hope this fixes your issues, please let us know if it does not!

[2020-10-30 13:16] talagluck commented on #1901
On re-review, we were able to reproduce the issue, and are looking into whether a fix is possible. Stay tuned!

[2020-10-30 15:01] anthonyburdi opened #2021 "From conda-forge: 2 possible package resolutions"
See here for issue opened on conda-forge/great-expectations-feedstock: https://github.com/conda-forge/great-expectations-feedstock/issues/76

[2020-10-30 20:08] anthonyburdi commented on #2017
Hi @rubenssoto!! We are so glad that you are getting good use out of Great Expectations 😄 I am assuming based on the first tab in your screenshot that you are using EMR Spark?
I have a suspicion that the `__eval_col_` prefix is coming from spark_dataset.py: https://github.com/great-expectations/great_expectations/blob/ad62cf6e04cf9df8b444b4f5d689afe635d1a942/great_expectations/dataset/sparkdf_data

[2020-10-30 20:50] rubenssoto opened #2024 "Spark GE Performance Problem"
Hi Guys,

I got a behavior I need to know if its normal. I have two phases on my pipeline, cleaning and enrichment, so I validate some expectations after cleaning phase and more expectations after enrichment. It worked very good but I realized some spaces in spark timeline.
<img width="1680" alt="Captura de Tela 2020-10-30 às 16 58 30" src="https://user-images.githubusercontent.com/36298331/97755

[2020-10-30 22:25] rubenssoto commented on #2024
I did more tests and got some strange behavior. On emr notebooks I tried to validate a dataset but I put the wrong name on expectations, GE took 2 minutes to give an error

"expectation_suite fact_order_expectation_suite_mtrics_phase not found"

I didn't understand why took this long time only to realize that expectation doesn't exist...probably this is the problem.

**I have a GE class:**

import

[2020-10-30 22:43] rubenssoto commented on #2024
Hello Guys,

I got the problem

"ge_context.build_data_docs()"

I configured all my validations to the same s3 path, so there are a lot of validations, so every batch Ge build data docs for all these validations.
Wich are the good pratices?

[2020-10-30 23:32] rubenssoto commented on #2024
I found the solution
validation_results_limit
Im so sorry

[2020-10-30 23:32] #2024 closed, assigned to nobody

[2020-10-31 06:57] rubenssoto commented on #2017
Yes Im using Emr 6.1 with spark 3.0.0

[2020-11-02 12:19] shapiroj18 opened #2028 "[BUG] pip install -r requirements-dev.txt failure"
**Describe the bug**
When I set up a contribution environment according to the [documentation](https://docs.greatexpectations.io/en/latest/contributing/setting_up_your_dev_environment.html#contributing-setting-up-your-dev-environment), I run into the issue below when I run `pip install -r requirements-dev.txt.`

```ERROR: Double requirement given: black==19.10b0 (from -r requirements-dev-test.txt

[2020-11-02 18:30] isichei opened #2029 "GE errors when trying to return a result when contains a pandas NA"
**Describe the bug**

If asking GE for a complete result when `expect_column_values_to_not_be_null`. GE will try to return a result which contains samples of the values which failed the expectation (if result is set to `COMPLETE`). It fails when one of the values is the new pandas `NA` type (GE internals fails to convert it).

**To Reproduce**
[code]

Error message:
[code]

**Expected behavior**
T

[2020-11-03 17:11] eugmandel commented on #2028
@shapiroj18  Thank you for reporting this!
For now, documenting a workaround: install black 19.10b0 or higher manually before running the command.

[2020-11-03 21:23] tuannguyen0901 opened #2032 "GE generating example not support ATHENA "NotImplementedError: AWS Athena does not support OFFSET""
**Describe the bug**
NotImplementedError: AWS Athena does not support OFFSET.

**To Reproduce**
Steps to reproduce the behavior:
1. Following CLI "great_expectations init" process
2. Until "Which table would you like to use?" --> select * from tableXYZ
3. GE generating example ...
4. See error "NotImplementedError: AWS Athena does not support OFFSET."

**Expected behavior**
Unsupported features sh

[2020-11-04 14:16] itsAlexK opened #2033 "[Bug] dynamic sqlalchemy query stores returns a list"
**Describe the bug**

dynamic sqlalchemy query stores returns a list rather than a single value.  For example I'm expecting `500` but am getting `5000`

**To Reproduce**

setting up the expectation store:
[code]

when validating against a batch
[code]
**Expected behavior**

the expected max_value should be an integer retrieved from the query

**Environment**
 - OS: MacOS Catalina 10.15.6
 - GE Ver

[2020-11-04 16:45] eugmandel commented on #2029
@isichei Thank you for reporting this! If you would like to make a PR (the fix must be very small), it would be super welcome! Please let us know.

[2020-11-04 17:31] verhey commented on #1747
Looks like someone may have got to this in #2031

Apologies I never got around to a PR, but let me know if you'd like some help updating the docs or testing the fix.

[2020-11-05 11:19] philipherrmann commented on #1948
Hi @lukedyer-peak,
your question already helped me a lot to get a combination of `QueryBatchKwargsGenerator` and `TupleGCSStoreBackend` working by executing my_checkpoint.yml:

[code]
with a custom preparation code like this:
[code]

That I have to pop the `bigquery_temp_table` key before it goes through `build_batch_kwargs()` might already be the first sign that I do something wrong. However, the

[2020-11-05 19:00] isichei commented on #2029
Yeah can try and have a look over the next couple of weeks. When you say `the fix must be very small` do you mean it will be a small fix or just that you try to keep PRs small?

If it is a bigger fix would you want me to make several small PRs?

[2020-11-06 10:13] eugmandel commented on #2033
@itsAlexK Thank you for reporting this! We will follow your steps to reproduce and will take it from there.

[2020-11-06 10:16] eugmandel commented on #2032
Thank you for reporting this, @tuannguyen0901 ! I wish all database engines behaved in the same way, but this is only a wish :). From time to time we discover inconsistencies like this one. The solution is usually to implement a special case for that database. In this case it looks like we need an Athena-specific implementation of get_column_median.

[2020-11-06 10:18] eugmandel commented on #2029
@isichei I meant "must" not as in "we require the fix to be small", but as in "I think it will not take much code to fix this" :)

Looking forward to your PR!

[2020-11-06 19:15] ravi77o opened #2038 "[BUG] unable to load tab separated file"
**Describe the bug**
`context.get_batch(…)` returns a single-column dataframe when loading tab separated file.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a tab delimited in a GE datasource directory
2. In a terminal, `run great_expectations suite new` and navigate your way to the flat file
3. Once Jupyter opens, add `"sep": "\t"` to the batch_kwargs dict
4. Run the first Python c

[2020-11-08 16:26] shivamneeraj23 commented on #2016
@eugmandel Can I help in fixing this issue? I am new to this library. Would like to start with this issue 😄

[2020-11-08 22:13] sahilds1 opened #2040 "CLI commands should print out out pass/fail status of each expectation"
**Is your feature request related to a problem? Please describe.**

`great_expectations validation-operator run`  and `great_expectations checkpoint run` both return Validation succeeded or Validation failed and details on each validation (as of PR #1922).

Building off of PR #1922,  I want to surface the status of each expectation because we're running GE in production (specifically in Docker con

[2020-11-10 11:45] eugmandel commented on #2038
@ravi77o here is what needs to be added to the batch_kwargs dictionary in order to pass " \t" as a separator to pandas.read_csv:

[code]

I verified that this works.

[2020-11-10 11:45] #2038 closed, assigned to nobody

[2020-11-10 13:04] eugmandel commented on #2033
@itsAlexK The issue is reproduced and acknowledged as a bug. The value returned from by queries in a query story always appears as a list.

We will spec and implement a fix. Since some queries return lists (e.g., a set of values for expect_column_values_to_be_in_set expectation that is used as an example in the [how-to guide](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creatin

[2020-11-10 17:18] #2011 closed, assigned to nobody

[2020-11-10 17:48] #2000 closed, assigned to nobody

[2020-11-10 17:54] eugmandel commented on #2040
@sahildshah1 Thank you for posting this! Would like to understand your use case better.

Great Expectations stores validation results in the store that you configure in your project and also renders them into HTML in the Data Docs site that can be configured to be on your machine or in a shared location such as S3 or GCS. Would this be sufficient for reviewing the detailed validation results in yo

[2020-11-10 18:06] ausiddiqui opened #2043 "basic functionality such as scaffold stuck on execution for Teradata"
**Describe the bug**
Generated a datasource to Teradata using SQLAlchemy but unable to carry out any of the functionality. The new profile, `suite scaffold` and `suite edit` commands just remain stuck on the CLI for hours without any output or interaction.

**To Reproduce**
Steps to reproduce the behavior:
1. In a brand new Python 3.7 conda environment installed great_expectations followed by `ter

[2020-11-10 22:33] ausiddiqui commented on #1969
Seems like a first pass to handle this might be by passing an `ignore_values` list without `None` as an argument to replace this: https://github.com/great-expectations/great_expectations/blob/adf390e87a72f270a8b4772f8526b591274f6634/great_expectations/dataset/sqlalchemy_dataset.py#L662

[2020-11-12 08:18] Gfeuillen opened #2045 "cannot read tsv"
**Describe the bug**

I can not read a file with Tab Delimited Values (CSVs are fine). Once read, only one column is showed `"name\tage"` same goes for each row that is not splited according to specified separator.

**To Reproduce**

1. Create a file with such content (e.g. in `data/test.tsv`)

[code]
2. Create a new suite using that data with `great_expectations suite new` to read it using pandas

[2020-11-12 11:33] lukedyer-peak commented on #1948
@philipherrmann sadly I can't help you.  I did the ~quick and dirty~ pragmatic workaround of turning my sql query into an view (with no `schema binding` - using Redshift) on the database and using that view directly 🙈 .

[2020-11-13 06:17] #2045 closed, assigned to nobody

[2020-11-13 06:17] Gfeuillen commented on #2045
See https://github.com/great-expectations/great_expectations/issues/2038#issuecomment-724650754

[2020-11-13 22:08] DXcarlos opened #2047 "custom_sql parameter in SQLAlchemyDataset throws an error in Teradata"
**Describe the bug**
Hey guys custm_sql in SqlAlchemyDataset doesn't work in Teradata because it's translate to "CREATE TEMPORARY TABLE ..." and in Teradata Temporary Table doesn't exists, we should use VOLATILE TABLE instead.

**To Reproduce**
First create a database engine with a Teradata connecttion and use the custom_sql parameter in SqlAlchemyDataset

[code]

[code]

**Expected behavior**
Cre

[2020-11-16 14:59] #2029 closed, assigned to nobody

[2020-11-16 16:47] eugmandel commented on #2047
@DXcarlos thank you for reporting this! We use SQLAlchemy to talk to databases. There are a few areas where various database engines tend to be inconsistent. One these areas is handling of temp tables. Judging the stack trace that you posted, this is the case here.

Teradata is not fully supported by Great Expectations yet: https://github.com/great-expectations/great_expectations/issues/1969

We w

[2020-11-16 16:48] eugmandel commented on #2043
@ausiddiqui Thank you for reporting this issue!

Teradata is not fully supported by Great Expectations yet, meaning that we have not tested against it: https://github.com/great-expectations/great_expectations/issues/1969

We would love to find community contributors to make Teradata fully work, since users who work with a particular database engine are the best candidates to make these fixes. Is t

[2020-11-16 20:30] alangenfeld opened #2050 "0.12.8 unexpressed s3fs dependency"
**Describe the bug**
The observed error after updating to `0.12.8` is:
[code]

but if you import directly you can see the real issue is the new `S3SubdirReaderBatchKwargsGenerator` has a dep on `s3fs` that is not expressed in `setup.py`

[code]

**To Reproduce**
Steps to reproduce the behavior:
I am not terribly familiar with use of great expectations - I caught this in our test suite for integrat

[2020-11-16 21:42] spbail commented on #1848
Hi all! We've gotten together with the folks from Astronomer and implemented a first version of a GE Airflow operator: https://github.com/great-expectations/airflow-provider-great-expectations
You should be able to import it into your DAG as shown in the example code. This is an early release and I'm happy to take feedback and make tweaks to it. @bouke-nederstigt @HugoManoMano @NickBenthem - feel

[2020-11-16 21:43] spbail commented on #1848
I'm actually going to close this issue since there's an operator available now.

[2020-11-16 21:43] #1848 closed, assigned to spbail

[2020-11-17 02:04] shapiroj18 commented on #2028
@eugmandel added a pull request to fix this https://github.com/great-expectations/great_expectations/pull/2052. What do you think?

[2020-11-17 07:48] eugmandel opened #2053 "Release 0.12.8: Running great_expectations init throws this error: "ModuleNotFoundError: No module named 's3fs'""
**Describe the bug**
Release 0.12.8: Running great_expectations init throws this error: "ModuleNotFoundError: No module named 's3fs'"

**To Reproduce**
Steps to reproduce the behavior:
1. pip install the 0.12.8 release of Great Expectations in a clean Python environment
2. Run `great_expectations init` CLI command
3. See error

**Expected behavior**
Since s3fs is an optional module, no error shoul

[2020-11-17 07:51] eugmandel commented on #2053
This bug was introduced in 0.12.8 in the new S3SubdirReaderBatchKwargsGenerator class.

Will fix the code to make s3fs optional.

The pattern we are using in this case is this:

instead of

`import s3fs`

[code]

and then

[code]

before using the module.

[2020-11-17 10:41] janhicken opened #2055 "ExpectationSuiteIdentifier does not work with directories containing dots"
**Describe the bug**
In the implementation of `ExpectationSuiteIdentifier`, an expectation suite found in a subdirectory of the expectations store will be created by separating the path elements with dots. For example, an identifier for `a/b/suite.json` will result in `a.b.suite`. This behaviour is problematic, when a subdirectory contains dots, e. g. `..something/mysuite.json` will create an iden

[2020-11-17 14:19] philthyharry opened #2056 "Duplicate code in data_context.store.tuple_store_backend"
https://github.com/great-expectations/great_expectations/blob/739f7a1c9dd20cb462635d2b85e31b1bcbce7b11/great_expectations/data_context/store/tuple_store_backend.py#L549

Lines 549-555 are a duplication of lines 540-546.

[2020-11-17 18:18] #2016 closed, assigned to nobody

[2020-11-18 20:57] jdimatteo opened #2059 "Expectation Queries Run Twice When Running without CLI"
**Describe the bug**
Expectation queries run twice when running without CLI, but they should be run just once.

**To Reproduce**
Steps to reproduce the behavior:

[code]

Output includes the following, showing the expectation query `SELECT count(*)...` running twice, first when adding the expectation to the `ExpectationSuite` and then a second time with `run_validation_operator`:

[code]

**Expect

[2020-11-19 14:40] rubenssoto opened #2062 "Error in slack_notification Action"
Hi Guys,
I have 3 pipelines with great expectations, but one pipeline started to give some errors:

`Error running action with name notify_slack
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/great_expectations/validation_operators/validation_operators.py", line 384, in _run_actions
    payload=batch_actions_results,
  File "/usr/local/lib/python3.7/site-packages

[2020-11-19 14:40] rubenssoto commented on #2062
I'm running GE on spark.

[2020-11-19 15:21] eugmandel commented on #2059
Thank you for reporting this, @jdimatteo ! We will triage today.

[2020-11-19 15:22] eugmandel commented on #2062
Thank you for reporting this, @rubenssoto ! We will triage today.

[2020-11-19 15:24] eugmandel commented on #2056
Thank you for reporting this, @philthyharry ! This might be a merge issue and does look like a straightforward code duplication.

[2020-11-19 15:26] anthonyburdi commented on #2053
Closed via #2054

[2020-11-19 15:26] #2053 closed, assigned to eugmandel, anthonyburdi

[2020-11-19 15:44] rubenssoto commented on #2062
I don't know, may be related to the problem that I showed you on data docs.

[2020-11-20 06:33] sunjiajing0815 opened #2065 "Is it possible for pandas_s3_generator to include all files under one s3 folder"
**Is your feature request related to a problem? Please describe.**
My data source folder in s3 contains multiple parquet files under one partition, e.g:
[code]
I have tried to use pandas_s3_generator in data source configuration to generate the batch_kwargs for scaffold and checkpoints. i.e.
[code]
but only can get the first key in the folder in scaffold:
[code]
and in checkpoint
[code]
Have I mis

[2020-11-20 08:04] y-tee opened #2066 "TypeError: profile() got an unexpected keyword argument 'configuration' when doing BasicSuiteBuilderProfiler().profile(batch, configuration="demo")"
**Describe the bug**
I get a type error when specifying configuration in BasicSuiteBuilderProfiler().profile(batch, configuration="demo") following the [documentation](https://docs.greatexpectations.io/en/latest/autoapi/great_expectations/profile/index.html?highlight=BasicSuiteBuilderProfiler#great_expectations.profile.BasicSuiteBuilderProfiler)

**To Reproduce**
Steps to reproduce the behavior:
1

[2020-11-20 15:42] raphael-riel opened #2067 "README's Slack link invalid"
**Describe the bug**
The link to join the Slack Community is not valid.
![image](https://user-images.githubusercontent.com/474697/99819153-19184900-2b1d-11eb-98a1-d5e3a11d15eb.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the Slack Link in the README

[2020-11-21 15:41] mmetzger commented on #1986
I mentioned this in Slack but I've looked into implementing this - the cleanest option might be a simple link (ie, the Expectation Suite link) vs trying to add a context menu / etc. I’m new to the codebase - is there a preference for web behavior in this instance?

[2020-11-21 16:17] noklam commented on #1986
I think as long as it is easy to start a new tab it would be fine, a simple link like the expectation would be fine.

[2020-11-21 21:38] eugmandel commented on #2067
Thank you for reporting this, @raphael-riel ! These links expire  - we will update with a fresh one.

[2020-11-22 01:51] kyleaton commented on #2067
Did a quick replacement with a link that will last 30 days. Going to look into a more permanent solution but setting a reoccurring task for now.

@raphael-riel THANK YOU!!!!!

[2020-11-22 09:59] eugmandel commented on #2067
Thank you @kyleaton for fixing it and, again, thanks to @raphael-riel for spotting this in time! Closing the issue.

[2020-11-22 09:59] #2067 closed, assigned to eugmandel

[2020-11-22 10:01] eugmandel commented on #2066
@y-tee Thank you for reporting this! We will triage the issue next week. I am not sure if you are in our Slack channel and saw the announcement that we are working toward finalizing the 0.13 release and might be slower than usual responding to issues next week.

[2020-11-23 13:44] cvengros opened #2073 "ExpectationsStore and ValidationsStore with DatabaseStoreBackend don't work with URL"
**Describe the bug**
I’m trying to set up Great Expectations so that it stores Expectation definitions and Validation results in a Microsoft SQL database.
I can set up MS SQL as a datasource - that works great.
I’ve tried setting up PostgreSQL as a Expectations Store and Validations Store and that works too.

Looking at the docs, it looks like there are two ways to define database credentials - ei

[2020-11-23 16:28] #2033 closed, assigned to talagluck

[2020-11-23 20:22] #1994 closed, assigned to nobody

[2020-11-23 20:49] spbail commented on #1994
FYI @prajwal-kesava The fix has been merged, should go into a release in the next few days. Thanks for reporting it!

[2020-11-23 23:18] Aylr opened #2076 "When a docs site does exist and is not publicly accessible GE says it does not exist on docs list"
**Describe the bug**
When a docs site does exist and is not publicly accessible GE says it does not exist on docs list. This may lead users to rebuild their sites when it is not needed.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a data docs site that is not publicly accessible
2. Build it
3. run `great_expectations docs list`
4. See error
[code]

❯ great_expectations docs list

[2020-11-24 15:47] eugmandel commented on #2073
@cvengros, thank you for following up on our conversation and filing this issue! We will triage and reproduce it within a few days.

[2020-11-24 16:19] jvgagliardi opened #2077 "Documentation on Custom Expectations seems to be out of date"
The documentation found here: https://docs.greatexpectations.io/en/v0.3.0/custom_expectations.html

makes it seem that there is a '@expectation' decorator found using 'from great_expectations.dataset import PandasDataSet, expectation' but there is no such decorator there.

I am hoping to see what the actual way to extend expectations is.

I have been going into the code and have yet to find a simp

[2020-11-24 16:35] eugmandel commented on #2076
@Aylr I agree that the imprecise wording of the error message is an issue. Do you have the exact wording in mind?

[2020-11-24 17:05] eugmandel commented on #2065
@sunjiajing0815 Just to confirm, the desired behavior would be for Great Expectations to concatenate all the matching files in that folder and load them into one Pandas dataframe to be considered as a batch, correct?

[2020-11-24 23:26] eugmandel opened #2080 "An error message without a clear path forward in the migration script: "You appear to have an invalid config version (1.0).The version number must be at least 2""
This was reported by a user:

"I'm struggling to upgrade GE. When I run  great_expectations project check-config on the command line I get the following. But, I have no idea how to migrate my config to version 2.

Output of the CLI:
[code]

GE version: 0.12.7

[2020-11-25 08:03] sunjiajing0815 commented on #2065
Hi, @eugmandel exactly. is it possible?

[2020-11-25 22:11] eugmandel commented on #2055
Thank you for reporting this! We added the "help wanted" label - this is a fix we would love to get from the community.

[2020-11-25 22:21] eugmandel commented on #2050
Thank you for reporting this - this issue was fixed in on 0.12.9

[2020-11-25 22:21] #2050 closed, assigned to nobody

[2020-11-25 22:48] spbail opened #2085 "`datasource new` overwrites existing datasources with the same name"
**Describe the bug**
Creating a new datasource with the CLI overwrites existing datasources with the same name without warning.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `great_expectations datasource new` and create a new filesystem datasource e.g. "data__dir", pointing to a directory "dir1"
2. Do the same thing again, give it the same name but point it at "dir2", and check great_

[2020-11-30 23:49] eugmandel commented on #2077
@jvgagliardi "v0.3.0" in your docs URL points to an older version of Great Expectations documentation. Please find the latest here: https://docs.greatexpectations.io/en/latest/

[2020-11-30 23:49] #2077 closed, assigned to nobody

[2020-11-30 23:54] eugmandel commented on #1901
PR https://github.com/great-expectations/great_expectations/pull/2023 was released with the release https://github.com/great-expectations/great_expectations/releases/tag/0.12.8 and addressed this issue

[2020-11-30 23:54] #1901 closed, assigned to nobody

[2020-11-30 23:56] eugmandel commented on #1747
PR https://github.com/great-expectations/great_expectations/pull/2031 addressed this issue and was released in https://github.com/great-expectations/great_expectations/releases/tag/0.12.8

[2020-11-30 23:56] #1747 closed, assigned to eugmandel, alexsherstinsky

[2020-12-01 00:09] eugmandel commented on #1966
Closing this issue, since there no code and docs fixes needed.

[2020-12-01 00:09] #1966 closed, assigned to eugmandel

[2020-12-01 00:10] #1945 closed, assigned to nobody

[2020-12-01 00:11] eugmandel commented on #1945
Duplicate of #2062

[2020-12-01 00:29] eugmandel commented on #2056
We are managing the queue of issues to be handled by the core team pretty tightly now, so would love to get this fixed by the community. This sounds like a great easy first PR for a new community contributor.

[2020-12-01 00:53] eugmandel commented on #2065
@sunjiajing0815 Thank you for clarifying this! Concatenating multiple files and loading them into one Pandas df is not supported. You would have to do this transformation before loading the data as a Great Expectations batch.

An upcoming release will make this a bit easier and it will introduce a class that will eventually replace S3GlobReaderBatchKwargsGenerator.

[2020-12-01 00:53] #2065 closed, assigned to nobody

[2020-12-01 00:55] eugmandel commented on #2062
Acknowledging this as a bug - the core team will provide a fix.

[2020-12-01 15:06] jvgagliardi commented on #2077
@eugmandel My mistake. Thanks for the clarification

[2020-12-01 22:16] segoldma opened #2093 "Creating a new expectation via CLI / SQL Query throws TypeError 'missing execution_engine' error"
**Describe the bug**
Just upgraded to version 0.13.0. When creating a new expectation using the CLI, GE throws an error when I provide a SQL query as an alternative to the top 5 tables that are recommended (i.e., _Do not see the table in the list above? Just type the SQL query_)

This throws error: `TypeError: __init__() missing 1 required positional argument: 'execution_engine'`

**To Reproduce**

[2020-12-02 00:39] shril commented on #2056
Hi @eugmandel, can I pick this up?

[2020-12-02 02:15] jdimatteo commented on #2059
Hi, can anyone confirm if this is user error? Is there a way to create expectations and html reports without running queries twice?

[2020-12-02 13:25] lccambiaghi opened #2098 "Missing markown_text jinja template"
**Describe the bug**
I am trying to render our JSON expectations to markdown. I followed a tutorial that showed how to do that for validation results but I think a jinja template is missing.

Here is the traceback:
[code]

I just hacked a template just containing:
[code]
and it fixed the error, however the comments added to the expectations are missing!

**To Reproduce**
[code]

**Expected behavio

[2020-12-02 18:07] eugmandel commented on #2093
Thank you for reporting this, @segoldma ! We are going to address this in the next couple of days.

[2020-12-02 18:09] eugmandel commented on #2098
Thank you for reporting this, @lccambiaghi ! We are going to triage this issue within next couple of days.

[2020-12-02 20:41] Shinnnyshinshin commented on #2093
@segoldma Thank you for creating this issue, and the details in reproducing the error. I've submitted a PR that will do the fix. #2099

[2020-12-02 21:10] #2093 closed, assigned to nobody

[2020-12-02 22:55] EricSteg opened #2104 "spark_context yaml key does not pass configuration to spark"
**Describe the bug**
The [spark_context](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_datasources/how_to_configure_a_self_managed_spark_datasource.html?highlight=spark_context#additional-notes) option for a spark datasource in the .yml config file does not work. Configuration options passed through it will not take effect on the resulting SparkContext object.

This

[2020-12-02 23:02] EricSteg commented on #2104
I have a working fork of GE where I've fixed this issue. Should I open a PR for it?

[2020-12-02 23:32] ryanaustincarlson commented on #2104
I can confirm I ran into the same issue, and that it was fixed by updating the relevant Schema definition

[2020-12-03 10:11] dmateusp opened #2109 "Batch Kwargs should support "database" keyword"
**Is your feature request related to a problem? Please describe.**

We use an isolated database for great_expectations work, this is where we let GE create its temporary tables and where we write some transformed versions of table we want to QC, our credentials file looks like this:
[code]

Now I was trying to use batch_kwargs `table` as opposed to `query`, because the table I'm trying to QC is qu

[2020-12-03 16:25] dmateusp commented on #2109
I looked more into it and it seems like a change to the Snowflake sqlalchemy dialect would have to happen: https://github.com/snowflakedb/snowflake-sqlalchemy/blob/6615f51444c539d56ade2be08c542dd4827a70a8/snowdialect.py#L325

Schema columns are fetched for the "current database" and there doesn't seem to be a way to pass a "database" as an argument

[2020-12-04 15:35] Aylr opened #2120 "show_cta_footer: false has no effect"
**Describe the bug**
When building data docs the footer with buttons is not disable-able.

**To Reproduce**
Steps to reproduce the behavior:
1. configure GE to not build footer
2. build docs
3. see footer

**Expected behavior**
I'd expect the footer to respect the disabling.

**Environment (please complete the following information):**
 - OS: [e.g. iOS] macOS
 - GE Version: [e.g. 0.10.0] seen as o

[2020-12-04 17:30] Aylr opened #2121 "Using a TupleFilesystemStoreBackend for validations with a TupleGCSStoreBackend for data docs builds only the index"
**Describe the bug**
Using a TupleFilesystemStoreBackend for validations with a TupleGCSStoreBackend for data docs builds only the index

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a local validations store
2. Configure a GCS data docs site
3. run `great_expectations docs build --yes --site-name my_gcs_site`
4. observe the resulting site has only an index.html an no other files

[2020-12-04 21:08] eugmandel commented on #2104
@EricSteg @ryanaustincarlson  Thank you for reporting this! I would love to see both of your fixes - could you please create PRs? Thank you!

[2020-12-04 21:49] eugmandel commented on #2120
@Aylr Which browser do you see this issue with? Asking to make sure that the browser does not ignore cookies.

[2020-12-04 21:50] Aylr commented on #2120
both Safari and Chrome

[2020-12-04 21:55] eugmandel commented on #2109
@dmateusp Thank you for looking into this! So, looks like we cannot implement this enhancement until the dialect changes, correct?

[2020-12-04 23:41] ryanaustincarlson commented on #2104
Opened a PR (https://github.com/great-expectations/great_expectations/pull/2125) -- not confident this is the best solution, but I'm also not sure I have enough context to know what the right solution is 😅

[2020-12-07 17:40] thcidale0808 commented on #2085
@eugmandel can I implement this issue?

[2020-12-07 18:23] eugmandel commented on #2085
@thcidale0808 Of course! This is why we added the "help wanted" label. Please submit a PR and we will help you get it in.

[2020-12-07 18:28] Aylr opened #2126 "TSQL mean on `int` columns returns incorrect result"
**Describe the bug**
TSQL mean on `int` columns returns an integer result obfuscating the true aggregate result.

**To Reproduce**
Steps to reproduce the behavior:
1. With a MSSQL backend
2. and an integer column named `foo`
3. with data like this 1, 2, 1, 1
4. and an expectation like this
[code]
5. Note the output
[code]

**Expected behavior**
I would expect the exact value of 1.25 to be returned

[2020-12-07 20:29] #2104 closed, assigned to nobody

[2020-12-07 21:20] thcidale0808 commented on #2085
will do! Thanks!

[2020-12-08 18:12] #2126 closed, assigned to nobody

[2020-12-09 12:45] ed-turner commented on #1794
I second this notion and need.  I am currently using great_expectations within Airflow, and we have the need to template time stamps

[2020-12-09 21:36] Aylr opened #2141 "bare decimals in arithmetic in evaluation parameters cause a parsing error"
**Describe the bug**
bare decimals in arithmetic in evaluation parameters cause a parsing error

**To Reproduce**
Steps to reproduce the behavior:
1. Write an expectation with an evaluation parameter that...
2. has a `urn` and some simple arithmetic with...
3. a bare decimal value
4. execute the expectation and note the parsing failure

[code]

[code]

**Expected behavior**
I'd expect this to pars

[2020-12-10 00:29] #2062 closed, assigned to nobody

[2020-12-10 00:42] eugmandel commented on #2121
Triaged to be fixed by the core team.

[2020-12-10 00:43] eugmandel commented on #2080
We have no precise steps to reproduce this issue - leaving in triage for now.

[2020-12-10 01:02] eugmandel commented on #2059
@jdimatteo I cloned the repo, but could not find example.py there. However, I think I have enough context to answer.

This is neither a bug nor a user error.

The GE workflow has 2 steps.
In the first step you create an Expectation Suite. Usually, you create it by calling "expect*" methods on a sample data batch. These methods execute the corresponding expectation and add it to the suite.

Once th

[2020-12-10 01:02] #2059 closed, assigned to nobody

[2020-12-10 01:32] eugmandel commented on #2066
BasicSuiteBuilderProfiler does not support the configuration argument. We need to clean this up. In the meantime, the workaround is to call the profile method without passing this argument.

[2020-12-10 01:47] eugmandel commented on #2098
@lccambiaghi Could you please post the link to the tutorial that you followed? Thank you!

This does look like a bug. Adding to the core team's queue.

[2020-12-10 01:56] eugmandel commented on #2141
@Aylr Since the feature works when a non-bare decimal is specified ("0.9" instead of ".9"), I am marking this as a "bug" with "workaround_exists". It is unlikely that the core team will get to this the near term, so adding "help wanted" label.

[2020-12-10 10:14] lccambiaghi commented on #2098
I adapted the code from this util function: https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/render/page_renderer_util.py#L37

I hope the example I provided is clear enough. We have worked around it for the moment by adding the custom jinja template to a custom_views_directory (nice feature!)

[code]

The output of this however is badly formatted. I use the

[2020-12-11 18:12] utkarshshukla2912 opened #2147 "Ability to recognise empty string as null values in expectations"
**Is your feature request related to a problem? Please describe.**
While identifying null values in a string column empty strings are not considered as null.

**Describe the solution you'd like**
Add a parameter in the expectation to identifiy empty string as null values. Or create a new expectation that identifies empty string as null

**Additional context**
https://greatexpectationstalk.slack.co

[2020-12-11 18:18] jdimatteo commented on #2059
Thanks for following up. FYI referenced example.py is at https://github.com/jdimatteo/ge_tutorials/blob/without_cli_example/ge_no_cli_tutorial/example.py

Would it be OK for GE to support the workflow in this example without running the queries twice, e.g. if I submitted a PR to do so? It sounds like the workflow in this example isn't the expected workflow, but this is the workflow that my team is

[2020-12-14 02:09] sidhreddy commented on #1012
@jcampbell Is there plan to fix this for Oracle as well?

[2020-12-14 03:03] sidhreddy opened #2151 "expect_column_values_to_be_unique works only for smaller tables on Oracle 12.1.0.2.0"
**Describe the bug**
expect_column_values_to_be_unique works fine for smaller tables. I have tested this for tables with > 100k records and it never finishes when creating an expectation suite

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Load a batch from table
2. run `batch.expect_column_values_to_be_unique('SOME_ID')`
4. See error

**Expected behavior**
Validate the expectation

[2020-12-14 05:29] eugmandel commented on #2147
@utkarshshukla2912 Thank you for submitting this issue following the Slack thread! This has come up in the past - we will dig out out previous notes and triage this.

[2020-12-14 06:48] sidhreddy commented on #2151
I just realized that `expect_compound_columns_to_be_unique` works fine though for a single column

[2020-12-15 02:54] sidhreddy opened #2162 "Feature request: Ability to create a checkpoint without cli"
**Is your feature request related to a problem? Please describe.**
Ability to create a checkpoint without cli would greatly help

**Describe the solution you'd like**
Ability to create a checkpoint with code

[2020-12-15 15:25] daidoji opened #2163 "--directory flag at top level cli command"
**Is your feature request related to a problem? Please describe.**
Not a problem but an ease of use issue.  I noticed that some commands like `great_expectations suite list` take a `--directory` for the great_expectations directory (when not named `great_expectations`) that is incredibly helpful as this directory doesn't necessarily need to be named that.  However, its hard to know which commands

[2020-12-15 17:03] soundian opened #2164 "S3 site does not show all validations"
**Describe the bug**
 When building a website on S3 only the first 1000 files in the bucket are considered. This manifested itself in missing validations, being the last alphabetically.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare a GE instance with > 1000 validations
2. Configure an S3 site
3. Run > great_expectations docs build --site-name s3_site_name
4. Note that some validati

[2020-12-15 18:05] eugmandel commented on #2164
@soundian Thank you for following up on our Slack conversation and filing this issue! We will triage and reproduce it and get post the progress here.

[2020-12-16 17:33] anthonyburdi commented on #2164
Hi @soundian - I was able to reproduce, and proposed a fix in the linked PR #2169. If you have a chance to test from that branch I would love to make sure it works for you - if not no worries, this fix will be released in the next version of GE.

[2020-12-16 18:05] #2164 closed, assigned to anthonyburdi

[2020-12-16 21:20] valedtn opened #2180 "Update requests requirement"
**Describe the bug**
Impossible to install GE on Google Cloud Composer environment together with latest Apache-Beam version

**To Reproduce**
Steps to reproduce the behavior:
1. set up composer environment
2. install pypi packages:
   - apache-beam[gcp]==2.25.0
   - great_expectations==0.13.2

**Expected behavior**
Being able to install GE on composer environment

**Environment:**
 - Composer vers

[2020-12-16 21:55] ryanaustincarlson opened #2181 "Using a postgres expectation store fails in v0.13"
**Describe the bug**
I can't get a postgres expectation store working in v0.13 -- I'm not sure if the format changed or if this is a bug, so I wanted to flag it here.

Existing docs for reference [here](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_metadata_stores/how_to_configure_an_expectation_store_to_postgresql.html).

**To Reproduce**
Steps to reproduce the beha

[2020-12-17 15:45] eugmandel commented on #2162
@sidhreddy Thank you for creating this issue! This is absolutely fantastic timing, because we revising the Checkpoint feature is is our current active project. We will make sure that the update will satisfy this requirement.

Please watch for it in the next few weeks.

[2020-12-17 17:01] eugmandel opened #2184 "list_datasources prints passwords in clear text even if their values are stored in a secret store/environment variable"
**Describe the bug**
Great Expectations supports loading credentials and other secrets from environment variables and other secret stores using ${VAR} syntax in order to not put them in the config file. The `list_datasources` method prints passwords in clear text even if their values are stored in a secret store/environment variable.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a D

[2020-12-17 18:36] sfc-gh-mcampbell opened #2185 "Unable to pass create_engine kwargs to Great Expectations"
**Describe the bug**
When running a number of checkpoints that exceeds sqlalchemy's default pool size, users are unable to modify `pool_size` or `max_overflow` to allow completion of the checkpoints. Testing confirms that attempts to pass these arguments are not received by Great Expectations

**To Reproduce**
Steps to reproduce the behavior:
1. Create a heckuva lot of checkpoints (I ran into this

[2020-12-17 21:49] eugmandel commented on #2181
@ryanaustincarlson Thank you posting this issue. I will reproduce it and we will take care of it.

[2020-12-17 21:50] eugmandel commented on #2180
Thank you for following up on our Slack conversation and posting this issue! We will look into it and see what is a good solution for this incompatibility.

[2020-12-17 21:55] ryanaustincarlson commented on #2181
@eugmandel thanks! let me know if I can be helpful - if you have trouble reproducing, I'm happy to help debug what might be weird about my setup!

[2020-12-17 22:07] eugmandel commented on #2151
@sidhreddy the difference between the observed performance of expect_compound_columns_to_be_unique and expect_column_values_to_be_unique is surprising, since they use a very similar query.

Users who use a particular database engine are usually the best candidates to fix Issues that are specific that engine. We are inviting a community PR for this issue.

[2020-12-17 23:41] eugmandel commented on #2181
@ryanaustincarlson Reproduced - huge thanks for such a detailed a precise report! I think I know what happened there - we will  work on a fix.

[2020-12-18 08:23] soundian commented on #2164
This particular issue appears to be resolved, although first attempt did throw up another example of an intermittent bug where only index.html is present in bucket after building.

[2020-12-18 08:34] soundian commented on #2121
I'm seeing the same issue, intermittently, with an S3 site. Watching the S3 bucket shows that the expectations, validations and static folders all have their files updated, but somewhere between this and the index file being uploaded the bucket is emptied of all files, resulting in the only file present being index.html

[2020-12-18 17:41] anthonyburdi commented on #2120
@Aylr - it looks like `show_cta_footer` was deprecated in favor of setting `show_how_to_buttons = false` in this commit https://github.com/great-expectations/great_expectations/commit/516ac7d792c1aad0afc7a7dc95258151389f36ef #1249 which works, e.g.:
[code]
I'll submit a PR to remove the mentions of `show_cta_footer` from data_context/types/base.py
I'll also take a look at the `data_docs_site_anony

[2020-12-18 18:01] eugmandel commented on #2162
@roblim @alexsherstinsky Tagging you on this one, since you are currently working on the next rev of Checkpoints. No action required, just wanted you to be aware.

[2020-12-18 20:32] verhey opened #2191 "Installing development dependencies is extremely slow when using new pip 20.3's new resolver"
**Describe the bug**
[The changes made to dependency resolution in pip 20.3](https://pip.pypa.io/en/latest/user_guide/#changes-to-the-pip-dependency-resolver-in-20-2-2020) appears to have made installing great_expectations' development dependencies with `pip install -r requirements-dev.txt` glacially slow.

**To Reproduce**
Steps to reproduce the behavior:
1. Check out `great_expectations` locally

[2020-12-18 21:44] colmsnowplow commented on #2191
Experienced the same issue, with it taking several hours.

Thanks for the workaround - I'll just add - in order to use `--use-deprecated=legacy-resolver` to workaround this issue, I followed these steps:

`pip install black==19.10b0`

Comment out black==19.10b0 in requirements-dev-test.txt

`pip install -r requirements-dev --use-deprecated=legacy-resolver`

YMMV.

[2020-12-18 22:05] #2028 closed, assigned to nobody

[2020-12-19 03:48] jcampbell opened #2193 "Unable to configure a ConfiguredAssetFilesystemDataConnector"
**Describe the bug**
I am unable to configure a ConfiguredAssetFilesystemDataConnector that has nested directories.

**To Reproduce**
Run `test_basic_instantiation` in `test_configured_asset_filesystem_data_connector` after changing the filepath to include a subdirectory, "foo""

[code]

**Expected behavior**
I expect to be able to configure assets using group names that come from path elements, s

[2020-12-19 08:58] varundunga opened #2196 "creating config variables using save_config_variables() method is adding additional "\" character to password variables in config_variables.yml file"
**Describe the bug**
Im trying to create great expectations project from code instead of cli.  When creating config variables using save_config_variables() method, code is adding additional "\\" character to password variables in config_variables.yml file if password is environment variable.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a great expectations data context object using

[2020-12-19 16:24] #2120 closed, assigned to anthonyburdi

[2020-12-19 21:42] abegong commented on #2193
I agree that this is incorrect behavior. I'll look into the root cause.

As an workaround in the meantime, I'd suggest including `foo` in the `base_directory` instead of `default_regex`:
[code]

Alternatively, you can specify `foo` as the subdirectory only for the `alpha` DataAsset:

[code]

Since "foo" is a static part of the naming convention (i.e. it doesn't vary by Batch), these two specificat

[2020-12-20 15:06] RamishaMunir opened #2199 "Issue: "InternalError: (pymysql.err.InternalError) (1137, "Can't reopen table: 'ge_tmp_2ea7f209'")" while executing the provided "Run the Scaffolder" commands"
**Steps to reproduce the error:**
1. Connect to MySQL database using great_expectations CLI
2. it will ask "which table would you like to choose", Type a query to pick the table
3. it will open Jupyter with some pre-commands to run. When you'll run the Scaffolder (screenshot is attached), it will throw the exception stating "InternalError: (pymysql.err.InternalError) (1137, "Can't reopen table: 'g

[2020-12-21 01:03] jcampbell opened #2201 "How to pass reader_method to ConfiguredAssetFilesystemDataConnector"
I am unable to find instructions on how to configure reader_method or other batch_spec parameters using a ConfiguredAssetFilesystemDataConnector.

I have tried variations similar to the following:

[code]

Because I am using Spark, it is important to me to be able to provide full directories as my path parameter, which understandably foils the reader_method detection. I'm observing: `BatchKwargsEr

[2020-12-21 16:22] anthonyburdi commented on #2164
@soundian Thank you for the followup! Is the intermittent bug you are describing captured in this issue?: https://github.com/great-expectations/great_expectations/issues/2121

[2020-12-21 16:54] eugmandel commented on #2199
Thank you for reporting this, @RamishaMunir ! Most likely, this happens when the profiler attempts to run the `expect_column_values_to_be_unique` expectation on this table. The ""Can't reopen table:" error message points to a known MySQL limitation.

A similar issue was reported here:
https://github.com/great-expectations/great_expectations/issues/1862

We will discuss how to fix it.

[2020-12-21 18:06] Aylr commented on #2010
Closing thanks to amazing work from @Shinnnyshinshin

[2020-12-21 18:06] #2010 closed, assigned to nobody

[2020-12-21 23:57] eugmandel commented on #2196
The core team will take on reproducing and fixing this. Thank you for the report, @varundunga !

[2020-12-22 10:08] lccambiaghi commented on #2098
Hi @eugmandel I was wondering if there had been any progress on this issue? I don't mean to rush you or anything, I am sure you have many exciting features coming that are more worthy of your time!

[2020-12-22 18:30] #2181 closed, assigned to anthonyburdi

[2020-12-22 18:34] anthonyburdi commented on #2181
Hi @ryanaustincarlson thanks again for the clear and detailed issue report! The linked PR fixes the issue you addressed and adds a test case for it. If you would like to try it out to make sure it works in your environment, it has been merged into our `develop` branch and will be a part of the next patch release.

[2020-12-22 22:57] felipebormann opened #2208 "URL related to missing substitution variable error is leading to nowhere"
**Describe the bug**
I created an expectation which uses environment variables to replace it's content.
When the environment variable is missing the following error appears:

Unable to find a match for config substitution variable: `GCP_PROJECT`.
Please add this missing variable to your `uncommitted/config_variables.yml` file or your environment variables.
See https://great-expectations.readthedoc

[2020-12-23 10:35] RamishaMunir commented on #2199
@eugmandel if this is the case that it attempts to run `expect_column_values_to_be_unique` expectation then it should let the user decide if this expectation is actually needed or not rather than raising an exception by deciding on itself

[2020-12-24 09:35] sharath-quotient opened #2213 "NameError: name 'AsyncGenerator' is not defined"
**Describe the bug**
I am using Python version 3.6.0. When I run `great_expectation init` command, I am getting `NameError: name 'AsyncGenerator' is not defined` error.

**To Reproduce**
Steps to reproduce the behavior:
1. Install great expectations
2. Run command `great_expectation init`

**Environment (please complete the following information):**
 - OS: macos
 - GE Version: 0.13.4
 - Python ver

[2020-12-24 20:55] soundian commented on #2164
I note that 0.13.4 has been released, but there is no mention of this bugfix, can anyone confirm this is part of 0.13.4

[2020-12-24 21:35] soundian commented on #2164
@anthonyburdi yes, it appears so, I have added a comment to #2121 to add some observations. I can see this now as part of 0.13.4. Thanks!

[2020-12-28 14:38] felipebormann commented on #1859
Can I tackle this problem? Or is it addressed somewhere else already?

[2020-12-28 16:59] Aylr opened #2214 "data docs columns shrink to 1 character width with long query"
**Describe the bug**
data docs columns shrink to 1 character width with long query

**To Reproduce**
Steps to reproduce the behavior:
1. make a batch from a long query string
2. run validation
3. render result to data docs
4. See screenshot
<img width="1525" alt="Data_documentation_compiled_by_Great_Expectations" src="https://user-images.githubusercontent.com/928247/103230647-30eca500-48f3-11eb-87

[2020-12-28 18:52] spbail commented on #1859
Hi @felipebormann I'd try and reproduce the issue first, but I'm pretty sure this hasn't been fixed yet. You're more than welcome to tackle this!

[2020-12-29 03:22] Aylr opened #2215 "evaluation parameter runtime values fail to render in data docs if arithmetic is present"
**Describe the bug**
evaluation parameter runtime values fail to render in data docs if arithmetic is present

**To Reproduce**
Steps to reproduce the behavior:
1. run this snippet that creates a new suite with 2 expectations and 3 different examples of parameters
2. view the data docs and note ones without arithmetic render
[code]

<img width="1455" alt="Data_documentation_compiled_by_Great_Expec

[2020-12-30 14:32] y-tee opened #2217 "Failed airflow dag with lingering query still running in the database taking up resources"
**Describe the bug**
I was trying to generate batch dataset from redshift on about 300mil rows of data for both expectation suite generation and validation using `context.build_batch_kwargs` and then `context.get_batch` in [code](https://github.com/y-tee/ge_tutorials/blob/e7fe33913c775619a3669515baff52abdba7e266/ge_dbt_airflow_tutorial/airflow/airflow_func.py#L29) on a 300 mil row data on redshift

[2021-01-02 20:17] vkostyuk opened #2221 "Expectation `expect_column_distinct_values_to_contain_set` does not report partial unexpected list"
**Describe the bug**
Expectations

- `expect_column_distinct_values_to_be_in_set`
- `expect_column_distinct_values_to_contain_set`
- `expect_column_distinct_values_to_equal_set`

do not report partial unexpected values, making data issue diagnosis more laborious than need be.

**To Reproduce**
[code]

**Expected behavior**
Results should include that 5 is missing, but they do not.

**Additional co

[2021-01-04 14:31] GTLangseth opened #2223 "Confusing use of: great_expectations.exceptions.exceptions.PluginModuleNotFoundError"
Upon upgrading to GE 0.13.4 I encountered an issue using an existing custom module. The module imported from the following path:

`great_expectations.render.renderer.content_block.expectation_string.substitute_none_for_missing`

This path no longer exists in GE 0.13.* (but did in GE 0.12.*). The issue is that GE emits the following message:

[code]

In reality, the underlying Python error is an `I

[2021-01-04 16:38] eugmandel commented on #2213
@sharath-quotient Thank you for reporting this. I don't think this is specific to Great Expectations. Please see this issue on Python's project: https://github.com/python/typing/issues/530

Closing this issue, please reopen if you have a comment.

[2021-01-04 16:38] #2213 closed, assigned to nobody

[2021-01-04 22:24] eugmandel commented on #2221
@vkostyuk The way these aggregate expectations show how the data violates your expectation is by putting "observed_value" in the validation result. This way you can compare the expected set against the observed set:

![image](https://user-images.githubusercontent.com/80363/103585341-bf36cd00-4e97-11eb-9d1f-6bfd1fbaacb1.png)

It is a design decision and these always depend on personal preferences.

[2021-01-04 22:24] #2221 closed, assigned to nobody

[2021-01-04 22:28] eugmandel commented on #2217
@y-tee Thank you for reporting this! I suspect it is a Redshift issue of long running queries continuing even after the client disconnectes. However, we will run some tests to verify that Great Expectations acts as a "well behaved client". We will post any updates in a comment on this issue.

[2021-01-05 00:26] vkostyuk commented on #2221
@eugmandel Thanks for the reply: indeed, it's a valid design decision. However, there's no mapping counterpart to `expect_column_distinct_values_to_contain_set`. E.g., in my use case, I need to validate that a column contains a complete ranking of 1 to 100000. I.e,. each integer appears at least once as a value, but the column can contain other values as well.

In case of 3 categories, as in your

[2021-01-05 00:32] eugmandel commented on #2221
@vkostyuk That's a really good point - these aggregate expectations can benefit from having a "column mapping" counterparts.

[2021-01-06 11:03] mielvds opened #2231 "Support for hiearchical (JSON, XML) data sources"
**Is your feature request related to a problem? Please describe.**
Most datasets I deal with are XML or JSON based. In contrast to tabular data, "cells" can be nested, possibly with a key.
Preprocessing these files into tables would be an option, but that would make validation cumbersome and unintuitive. Expectations that are specifically designed for such data (eg. "expect values in array to be i

[2021-01-06 15:27] eugmandel commented on #2214
Most likely, applying CSS min-width property should improve this behavior. Figuring this out and testing it is a great opportunity for a first time community contributor - applied "good first issue" label.

[2021-01-06 15:31] eugmandel commented on #2223
@GTLangseth Thank you for reporting this! The solution that you are proposing will make the experience more clear - would you like to submit a PR that implements it?

[2021-01-06 15:40] eugmandel commented on #2215
The feature of rendering the value of evaluation parameters at the time of validation was added to Data Docs recently. The initial implementation did not cover the case of arithmetic expressions with evaluation parameters. This is a great enhancement for this feature - the core team will take it on.

[2021-01-06 15:45] eugmandel commented on #2208
@felipebormann Thanks for spotting this! Would you like to submit a PR that replaces the out of date URL with the correct one?

[2021-01-06 16:16] GTLangseth commented on #2223
Hi Eugene - yes, I can work on this as I find the time in the next few
weeks.

On Wed, Jan 6, 2021 at 10:32 AM Eugene Mandel <notifications@github.com>
wrote:

[2021-01-06 16:47] eugmandel commented on #2223
Awesome - thank you, @GTLangseth !

[2021-01-06 18:55] #2184 closed, assigned to anthonyburdi

[2021-01-06 20:09] felipebormann commented on #2208
Yes, for sure :) Will do, I am still trying to make the  `pip install requirements-dev.txt` finish on my machine though. But I would like to close this issue too

[2021-01-06 22:00] pwrstar opened #2234 "Invalid Status and Improper representation when switched to 0.13 from 0.12"
Hi,

I noticed a difference in the way `expect_column_pair_values_A_to_be_greater_than_B` expectation result is presented in version 0.13.x compared to 0.12.x .

No changes to config or any other parameters.

Top in 0.12.x and bottom in 0.13.x :

![Screen Shot 2021-01-06 at 1 18 38 PM](https://user-images.githubusercontent.com/74983406/103823469-fdaec200-5026-11eb-8949-6be2ae6db0bb.png)

I didn’t

[2021-01-07 12:45] rolfhunter commented on #2151
Same issue with MS SQL Server.

[2021-01-07 20:37] talagluck commented on #2008
Thanks for reporting, @hugohjerten! The latest version of GE no longer has this issue. I'm going to close this issue, but please reach out if you have any further questions or issues!

[2021-01-07 20:37] #2008 closed, assigned to nobody

[2021-01-08 05:59] jaytanwar85 commented on #929
Hello @jcampbell @anderl80 ,
I am looking for the same way to get all records from  partial_unexpected_list or failed records via spark dataframe.
Can you please suggest some reference or way to achieve this..?

[2021-01-08 06:52] Shinnnyshinshin opened #2241 "DataContext scans through all datasources even if only one is being used"
**Describe the bug**
When creating an Expectation suite with a datacontext that contains multiple datasources, GE will create connections to all datasources, even if only one is being used.

**To Reproduce**

1. The following GE DataContext contains 2 Datasources that are connections to databases: one to a locally run postgres database (`my_postgres_db`) and one to a Redshift database (`my_redshif

[2021-01-08 21:50] anthonyburdi commented on #2196
Hi @varundunga! Thank you for submitting this issue. The additional `\` character you are seeing is intended to be in the config file to escape the `$` character. We added this escaping in #2015 to make sure that we don't attempt to substitute values containing `$` characters in our configuration files. When reading these configurations via `context.get_config_with_variables_substituted()` the esc

[2021-01-09 05:24] ganeshtiger opened #2247 "Comparing two columns Column_A greater than Column_B is not properly"
**I am trying to compare two columns my expectation is column_A should be always greater than column_B.**

I have written my expectation like this,
[code]
After  running the expectations
In data docs, I am getting this error in status column,

`expect_column_pair_values_A_to_be_greater_than_B(**{'allow_cross_type_comparisons': True, 'column_A': 'product_wss_eula_date', 'column_B': 'product_wss_ins

[2021-01-09 10:04] varundunga commented on #2196
Hi @anthonyburdi ! Thank you for looking at this issue. The config variables.yml that gets generated says that there are 2 types of
substitutions possible and one of them is environment variable substitution. Moreover, this worked in previous versions of GE.
I think while adding the code to escape $ , this was not considered.
Also, the documentation in the below link says the same

[https://docs.g

[2021-01-11 02:51] eugmandel commented on #2191
I believe there is no fix that we should apply.

[2021-01-11 03:04] eugmandel commented on #2185
Looks like we did not respond to this issue when it was filed - we will triage it this week.

[2021-01-11 03:06] eugmandel commented on #2201
Is anything blocking the PR for this issue?

[2021-01-11 03:07] eugmandel commented on #2241
Added "core-team-priority" label.

[2021-01-11 03:08] eugmandel commented on #2234
Thank you for filing this, @pwrstar ! We will triage this issue this week.

[2021-01-11 03:10] eugmandel commented on #2231
Thank you for filing this @mielvds! We are not planning an immediate action on this enhancement, but want to keep it as a place for the community to discuss this.

[2021-01-11 03:13] eugmandel commented on #2163
@daidoji This is a great suggestion! We applied the "help wanted" label inviting a community PR.

[2021-01-11 03:20] eugmandel commented on #2247
Thank you for filing this, @ganeshtiger! This seems to be an issue in the Data Docs rendering logic introduced in 0.13. The JSON of the expectation is rendered instead of its HTML representation. We will triage this week.

[2021-01-11 11:39] cmdkeen commented on #1816
This happened for me using:

- great-expectations==0.13.4
- WSL2
- Chrome

Error message: 403 GET /files/data_docs/local_site/expectations/taxi/demo.html (127.0.0.1): Blocking request from unknown origin

Switching to using Edge as the browser worked fine.

[2021-01-11 15:47] anthonyburdi commented on #2196
@varundunga I just checked with the team and you are 100% correct. I'll make sure both the env var substitution in config_vars.yml and escaping of `$` characters works. I believe it may be due to the order in which it is carried out. Stay tuned and thank you for following up!

[2021-01-11 17:55] verhey commented on #2191
@eugmandel The only fix I could think of would be a docs PR to the [setting up your dev environment](https://docs.greatexpectations.io/en/latest/contributing/setting_up_your_dev_environment.html#contributing-setting-up-your-dev-environment) docs, since they don't currently mention the issue. If you'd like, I'd be happy to make that PR, otherwise I'm good to close this.

Original intent was to make

[2021-01-11 21:13] #2201 closed, assigned to nobody

[2021-01-12 11:27] varundunga commented on #2196
@anthonyburdi thanks anthony. I have raised one PR for this issue(2220). May be you can take a look at that as well.

[https://github.com/great-expectations/great_expectations/pull/2220](url)

[2021-01-12 16:05] eugmandel commented on #2185
We would love to get it fixed, but the core team is unlikely to get to this in the near term. Inviting a fix from the community.

[2021-01-12 16:32] #2247 closed, assigned to nobody

[2021-01-12 16:33] eugmandel commented on #2247
This is a duplicate of #2234 - closing. The core team is going to provide a fix.

[2021-01-12 17:40] lorenaarak opened #2251 "Error when building/writing to S3 path - Unable to retrieve object from TupleS3StoreBackend with the following Key: {str(s3_object_key)}" great_expectations.exceptions.exceptions.InvalidKeyError: Unable to retrieve object from TupleS3StoreBackend with the following Key:"
Unable to retrieve object from TupleS3StoreBackend with the following Key: {str(s3_object_key)}"
great_expectations.exceptions.exceptions.InvalidKeyError: Unable to retrieve object from TupleS3StoreBackend with the following Key: 20210108T015648/965535Z/20210108T015648/965535Z/205cd12ceeb3bbb04bcff0cad5ff4df2.json

Im configuring data_context from python using BaseDataContext,  (not using yaml) th

[2021-01-13 02:12] #2251 closed, assigned to nobody

[2021-01-13 02:12] lorenaarak commented on #2251
recreating the suite - updates the right keys

[2021-01-13 14:06] utkarshshukla2912 commented on #2147
Thanks

[2021-01-13 17:14] sfc-gh-mcampbell commented on #2185
Thanks for letting me know! I'll see if I can work on this.
Margaret

On Tue, Jan 12, 2021 at 11:06 AM Eugene Mandel <notifications@github.com>
wrote:

[2021-01-13 18:01] #1670 closed, assigned to nobody

[2021-01-13 18:01] Shinnnyshinshin commented on #1670
addressed as part of the #2244

[2021-01-13 22:53] anthonyburdi commented on #2196
Hi @varundunga! Thanks again for bringing this issue up, reminding me of our feature set and proposing a solution in #2220. Since we support substituting variables using both the `${SOME_VAR}` and `$SOME_VAR` patterns, I had to check for both of those when saving config variables. I've incorporated that into #2243, added additional tests and have submitted for internal review (please also feel fre

[2021-01-15 16:41] #2196 closed, assigned to anthonyburdi

[2021-01-16 15:51] rchojn opened #2268 "Scaffolding does not work when comma is in column"
**Describe the bug**
When trying to run scaffolding (profiling) command, it fails because of commas in columns.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `great_expectations suite scaffold scaffold-name` on datasource where commas are in column
2. Bug `pandas.errors.ParserError: Error tokenizing data. C error: Expected 1 fields in line 5323 saw 2`

**Expected behavior**
Data profil

[2021-01-17 17:06] cgundy opened #2277 "expect_column_kl_divergence_to_be_less_than should have a max number of bins allowed"
**Describe the bug**
I was running the data profiler and `expect_column_kl_divergence_to_be_less_than` created a SQL query with over 3000 bins (my editor couldn't display the full SQL query and ended at `bin_3639`, so I don't know how many there were in total). Below is an example of some of the first few rows:

[code]

**To Reproduce**
I cannot (and would rather not) reproduce this error, since m

[2021-01-19 15:55] eugmandel commented on #2268
@gardnerdev Thank you for reporting this! This is indeed a bug. We are inviting the community to submit a fix if we do not get to this first.

[2021-01-19 16:55] eugmandel commented on #2277
@cgundy the large number of bins is the result of a large number of rows. We don't have a configuration option that would allow you to control the number of bins in the profiler use case. A workaround would be to run the profiler on a smaller sample of your data - this will decrease the number of bins

[2021-01-19 18:43] ausiddiqui commented on #1969
I could start a PR soon, just in the process of testing, but I wanted to ask if there is any reason as to why this null count query is structured as:

`SELECT count(*) AS element_count, sum(CASE WHEN ("column_name" IN (NULL) OR "Ie_edad" IS NULL) THEN 1 ELSE 0 END) AS null_count`. Specifically the `IN (NULL)` part of the `CASE WHEN`. There isn't any common SQL language where this produces the corr

[2021-01-19 19:58] cgundy commented on #2277
Thanks for the response! It would be nice to run profiling on entire tables, and seemed to work quite well for my large tables that didn't have numeric columns that called `expect_column_kl_divergence_to_be_less_than`. This is definitely more of a nice-to-have feature, but if it doesn't get prioritized, it might be worth adding a warning in the documentation not to run profiling on large tables so

[2021-01-19 20:09] eugmandel commented on #2268
@gardnerdev When you are reading your file with Pandas directly (without using Great Expectations), are you passing some extra arguments to read_csv (encoding?). If yes, you can pass the same arguments through by adding them under "reader_options" key in batch_kwargs.

[2021-01-20 06:10] rchojn commented on #2268
@eugmandel yes, I know "reader_option" option. Encoding is not needed in that scenario. Would be great for scaffolding to support commas in column and not treat it as additional column which generates error. Maybe it's because of GE is underneath using comma as separator for column?

[2021-01-20 22:41] Shinnnyshinshin commented on #2241
fixed in #2250

[2021-01-20 22:41] #2241 closed, assigned to Shinnnyshinshin

[2021-01-21 11:24] lukedyer-peak opened #2292 "Bug: schema isn't passed to sqlalchemy_dataset.py during suite scaffolding creation"
**Describe the bug**
The custom schema isn't passed to `sqlalchemy_dataset.py` during scaffolding of a new expectation suite.  I'm trying to use the new feature introduced in #2244 to define the datasource as the schema and table in the CLI.  Looking through the code the
`data_asset_name, batch_kwargs` are returned correctly by the CLI https://github.com/great-expectations/great_expectations/blob/

[2021-01-21 19:09] Shinnnyshinshin commented on #2292
Hi @lukedyer-peak thank you for your detailed bug report. This bug was addressed in a recent PR ( #2284 ) and the fix should be a part of an upcoming release of 0.13.6.  I'll comment here when the release has actually been made

[2021-01-21 22:25] Shinnnyshinshin commented on #2292
Hi @lukedyer-peak I wanted to follow up. GE 0.13.6 has been released on PyPi. You should be able to download it at the following link :

https://pypi.org/project/great-expectations/0.13.6/

[2021-01-21 22:26] Shinnnyshinshin commented on #2292
please let me know if the issue has been addressed, and if the issue can now be closed

[2021-01-22 08:22] lukedyer-peak commented on #2292
Hi @Shinnnyshinshin yes the issue has been resolved now.  Thanks for the quick reply.

Closed by #2284

[2021-01-22 08:22] #2292 closed, assigned to nobody

[2021-01-23 17:26] jstammers opened #2312 "Add the option for a transformation hook for PandasDataset"
**Is your feature request related to a problem? Please describe.**
There are occasions where I would like to validate a subset of a dataset. If the data are stored in a database, then this is straightforward as I can generate a batch of data by transforming the data source using the `query` keyword argument, for example
[code]
However if the data source is a file then there is no equivalent method

[2021-01-24 20:11] vkostyuk opened #2320 "Type validation provides incorrect unexpected values"
**Is your feature request related to a problem? Please describe.**
Currently, type validation through `expect_column_values_to_be_of_type` only checks dtype, without attempting casting. This is unhelpful. See, e.g., below, where the validation for float64 fails, but all "Sampled Unexpected Values" are in fact float64.

![image](https://user-images.githubusercontent.com/27373209/105642080-1d2e5300-

[2021-01-25 03:33] noklam commented on #994
@JacquesDonnelly  Did you find any solution? I encounter the same issue. Thank you.

[2021-01-25 14:53] l00173745 opened #2321 "How can I configure a impala /hive data source?"
I would like to check the data which extract by impala sql and maybe can be transfer into pandas dataframe , but no idea how to use in GE.

[2021-01-27 01:48] Shinnnyshinshin opened #2330 "Request for more-informative error message when get_validator() with parameters of incorrect type"
This is a small ergonomics-related request that I just wanted to log. When calling `context.get_validator()`, and I pass in an incorrect parameter type (such as `str` for `expectation_suite`), the error message currently gives.

`AttributeError`: 'str' object has no attribute 'execution_engine_type'

![Screen Shot 2021-01-26 at 5 40 15 PM](https://user-images.githubusercontent.com/25670697/1059303

[2021-01-27 13:16] kuhnen commented on #2032
@eugmandel  I am just starting to use this great tool :). Could you please point wherein the code we could try to implement the athena specific case?

[2021-01-27 18:08] marhoy opened #2333 "Could "great_expectations project upgrade" update the "great_expectations_version" field?"
After upgrading great_expectations to a new version, I get a lot of warnings like:
[code]

When your project contains a lot of expectation suites, it is rather annoying to run `great_expectations suite edit`,  execute the notebooks and save all the expectations again.

Would it be possible for the `great_expectations project upgrade` command to also update the `great_expectations_version`-field of

[2021-01-28 01:05] l00173745 commented on #309
Hi Guys, wondering about how to connect to HDFS? any hints?

[2021-01-28 01:08] l00173745 commented on #1864
Any update in supporting HDFS?

[2021-01-28 05:04] ryanaustincarlson opened #2340 "Batch request data asset name for postgres datasource cannot include schema"
(Updating here to note that this is a Not a Contribution)

**Describe the bug**
In v0.13.7, I'm trying to specify a table in a custom schema to validate against. I've tried to set the data asset name as `schema_name.table_name` but that gives me an error here:

https://github.com/great-expectations/great_expectations/blob/903237f009cd98f93f4607b676568e72b72ade4c/great_expectations/datasource/data_

[2021-01-28 15:11] marhoy commented on #2180
I would also be happy if you stopped requiring requests to be <2.24.0.
Please try with only:
[code]
and see if that causes any problems.

[2021-01-28 18:56] LavinaVRovine opened #2341 "ExpectColumnValuesToBeBetween validate_configuration disregards parse_strings_as_datetimes"
Assertion
https://github.com/great-expectations/great_expectations/blob/ddb6a090ce792ed3144ac4e448a29dfef67fbb6c/great_expectations/expectations/core/expect_column_values_to_be_between.py#L137

fails, when string DateTime is provided.

[2021-01-28 19:43] #2021 closed, assigned to nobody

[2021-02-01 10:17] tsitsimis opened #2358 "Getting started example failing with config version 3.0"
**Describe the bug**
Hi,
I made a fresh install of latest ge version (0.13.8) and followed the [getting started example](https://docs.greatexpectations.io/en/latest/guides/tutorials/getting_started/create_your_first_expectations.html). After I run the `scaffold` command and run the jupyter notebook, the last cell "Save & review the scaffolded Expectation Suite" throws an error at `results = contex

[2021-02-01 10:46] lucasvw opened #2359 "Tutorial is broken"
**Describe the bug**
When following the "Getting started with Great Expectations" [tutorial](https://docs.greatexpectations.io/en/latest/guides/tutorials/getting_started.html), the step where you have to

[Let’s execute all the cells and wait for Great Expectations to open a browser window with Data Docs. Pause here to read on first and find out what just happened!
](https://docs.greatexpectations

[2021-02-01 14:44] gansanay commented on #1969
@eugmandel Leading an analytics / data science team, interested in having Great Expectations support Teradata. How can I help?

Concerning the null_count, I have the same question as @ausiddiqui

[2021-02-01 20:19] eugmandel commented on #2358
Thank you for reporting this, @tsitsimis ! The core team will update this tutorial to be compatible with the new APIs.

[2021-02-01 20:21] eugmandel commented on #2359
@lucasvw Thank you for reporting this! I will mark this issue as a duplicate of https://github.com/great-expectations/great_expectations/issues/2358 and close it. The core team will adjust the tutorial to use the updated APIs.

[2021-02-01 20:21] #2359 closed, assigned to nobody

[2021-02-01 22:36] eugmandel commented on #2320
@vkostyuk You are right, `expect_column_values_to_be_of_type` does not attempt to cast. This way you specify the exact type name.

There is a need for a new Expectation, named something like `expect_column_values_to_be_castable_to_type`.

The new Modular Expectation API makes developing and contributing a new Expectation significantly easier than in the past.

I am labeling this issue as "help wan

[2021-02-01 22:38] eugmandel commented on #2340
@ryanaustincarlson Thank you for following up and filing this! Adding to the queue to be addressed by the core team.

[2021-02-01 22:41] eugmandel commented on #2341
@LavinaVRovine Good catch! Would you like to submit a PR with a fix? It would be super helpful!

[2021-02-01 22:44] eugmandel commented on #2321
@l00173745 We don't have documentation for Impala. Since this is not a bug/enhancement report, I am closing this issue, but you can ask this question on our Discuss forum, in case any users connected Great Expectations to Impala: https://discuss.greatexpectations.io/

[2021-02-01 22:44] #2321 closed, assigned to nobody

[2021-02-01 22:47] eugmandel commented on #2333
@marhoy I updated the title of the issue. This warning is not related to config versioning which great_expectations project upgrade deals with.
When you create an Expectation Suite, the GE version at the time is recorded within the suite. The warning is displayed if the version of GE that uses this suite is different. The thought there was that an implementation of an Expectation might have change

[2021-02-01 22:56] eugmandel commented on #2312
@jstammers Are you validating this data within some data pipeline code? If yes, it might be easier to add a step to your pipeline that transforms the original data and submits it for validation as a Pandas df.

If you are running GE on the files as its own script (not within some pipeline code), I'd love to discuss this further.

[2021-02-02 04:18] dataframing opened #2368 "SparkDFDataset: expect_column_array_size_to_be_[between|at_least|at_most]"
**Is your feature request related to a problem? Please describe.**
I have PySpark DataFrames with `ArrayType` fields, and find that not many (none?) of the existing expectations on `SparkDFDataset` help me design expectations around array size and values contained within those arrays.

**Describe the solution you'd like**
I've implemented basic versions of each of the following commands using PySp

[2021-02-02 13:31] spbail commented on #2056
Phew. Finally got to merge the PR. Closing this.

[2021-02-02 13:31] #2056 closed, assigned to nobody

[2021-02-02 13:45] vanderGoes commented on #2056
Thanks @spbail!

[2021-02-03 08:46] mxlei01 opened #2383 "scafold_taxi.demo missing from tutorial"
Not sure if this is a bug, but I'm working through the tutorial, but I don't see the scafold_taxi demo ipynb anywhere to be found in [link](https://docs.greatexpectations.io/en/latest/guides/tutorials/getting_started/create_your_first_expectations.html)?

Also the command `great_expectations suite scaffold taxi.demo` also doesn't work with taxi.demo being existed already inside the repository?

[2021-02-03 14:09] JonathanCiglia opened #2384 "TupleGCSStoreBackend empties the bucket it is configured with"
Hello !

**Describe the bug**

I have setup _great_expectations_ within a JupyterLab and on my local machine, with the same configuration.
I have declared two new data_docs_sites:

[code]

I have created an expectation suite and shared the .json file among my 2 contexts (JupyterLab & on my local machine).

I have two actions `StoreValidationResultAction` & `UpdateDataDocsAction` that I trigger whe

[2021-02-03 16:08] rchojn commented on #2098
@Aylr @eugmandel what is the status of that issue?

[2021-02-03 18:17] scouvreur commented on #2268
Hi @eugmandel - do you mind if I open a PR to try and fix this issue ?

[2021-02-03 19:17] talagluck commented on #2217
Hi @y-tee! I have been looking into this, but I'm having trouble reproducing this. Could you confirm that this is still an issue with the latest GE version? If we come up with a fix, would you be available to test it? Thanks!

[2021-02-03 19:22] eugmandel commented on #2268
@scouvreur Of course - please go ahead!

[2021-02-03 21:49] spbail commented on #1833
Just merged the PR, this should be released within the next few days, keep an eye on the changelog.

[2021-02-03 21:49] #1833 closed, assigned to syahdeini

[2021-02-04 06:27] l00173745 commented on #2358
May I know any update on this issue ? as i encounter same issue too

[2021-02-04 08:54] MatteoFelici commented on #2358
I have the same problem with my personal project, since the `results = context.run_validation_operator("action_list_operator", assets_to_validate=[batch])` is included in every suite notebook, not only in getting started.
Is it ok for now to add the `action_list_operator` in `great_expectations.yml`, even if it's deprecated?

[2021-02-04 10:00] scouvreur opened #2390 "Need to enforce conda env Python version to 3.7 in the developer setup docs to install dependencies"
**Describe the bug**
In the developer docs, when using conda to setup a new environment, if the python version is not enforced to 3.7 as so : `conda create --name great_expectations_dev python=3.7` conda raises some issues related to incompatibility with several packages, including `boto3`.

Source [here](https://github.com/great-expectations/great_expectations/blob/develop/docs/contributing/setti

[2021-02-04 20:23] #1862 closed, assigned to nobody

[2021-02-04 20:23] #2199 closed, assigned to nobody

[2021-02-05 01:19] spbail commented on #2390
This was merged in #2391

[2021-02-05 01:19] #2390 closed, assigned to nobody

[2021-02-05 01:20] spbail commented on #2383
Hi @mxlei01, thanks for submitting this issue! We had a few issues regarding the tutorial, so will tackle an update as soon as possible.

[2021-02-05 01:23] spbail commented on #2368
Hi @dataframing, thanks for submitting this! We'd love to see a PR for the expectations you're suggesting! One question to address would be whether you've implemented them in the old API or with the new modular expectations API - but we can discuss that once we see the PR!

[2021-02-05 05:11] eugmandel commented on #2384
Thank you for submitting this, @JonathanCiglia - we will triage this issue tomorrow.

[2021-02-05 09:36] jstammers commented on #2312
@eugmandel In my case, I am running it within a script as I am using GE to validate the output of a model. The workflow I have is similar to the following
[code]

In actual fact, I have a few transformations of my results that I would like to validate against, but I think this illustrates the process. I'm also happy to discuss this further if that would help

[2021-02-05 13:52] spbail commented on #2180
This was addressed in #2020. Feel free to reopen the issue if this isn't fully solved!

[2021-02-05 13:52] #2180 closed, assigned to jcampbell

[2021-02-05 13:54] spbail commented on #2163
https://github.com/great-expectations/great_expectations/issues/2163

[2021-02-05 15:15] talagluck commented on #2217
I was not able to reproduce this. I set up a redshift instance with 1 node, and tried several times to spike the system by making multiple queries at the same time while trying to instantiate a batch. The batch took a long time to instantiate, but did not fail in this way. I do suspect that this is a Redshift issue, rather than a GE issue, as I've personally had issues with Redshift taking a long

[2021-02-05 15:15] #2217 closed, assigned to talagluck

[2021-02-05 17:32] eugmandel commented on #2384
@JonathanCiglia We triaged this issue today - the core team will pick it up for investigation.

[2021-02-05 20:40] hparsa741 opened #2399 "suite scaffold does NOT include 'expect_column_values_to_be_of_type' and some other expectations"
**Describe the bug**
`suite scaffold` on GE 0.13.7 does NOT include `'expect_column_values_to_be_of_type'` and some other expectations.  Adding the expectations explicitly will not include it either.
`"included_expectations": ['expect_column_values_to_be_of_type']`
2021-01-31T18:35:57-0500 - INFO - 	**0 expectation(s) included in expectation_suite.**

**To Reproduce**
Steps to reproduce the behavi

[2021-02-06 00:01] #2330 closed, assigned to Shinnnyshinshin

[2021-02-06 01:35] Shinnnyshinshin commented on #2098
Hi @gardnerdev and @lccambiaghi thank you for submitting the issue, and sorry about the delay.

I just got assigned this issue through the Triage process. Should have something for you soon :)

[2021-02-08 20:48] victorwyee commented on #2341
Took a quick look at this. Looks like https://github.com/great-expectations/great_expectations/blob/ddb6a090ce792ed3144ac4e448a29dfef67fbb6c/great_expectations/expectations/core/expect_column_values_to_be_between.py#L122 is duplicating code from https://github.com/great-expectations/great_expectations/blob/ddb6a090ce792ed3144ac4e448a29dfef67fbb6c/great_expectations/expectations/expectation.py#L106

[2021-02-08 21:02] spbail commented on #2191
Hi all! This should be solved by #2256 which introduced a constraints-dev.txt (see updated set up instructions: https://docs.greatexpectations.io/en/latest/contributing/setting_up_your_dev_environment.html#contributing-setting-up-your-dev-environment)

Feel free to comment/reopen if that didn't solve it.

[2021-02-08 21:02] #2191 closed, assigned to nobody

[2021-02-08 22:10] anthonyburdi commented on #2121
Hi @Aylr @soundian - I have been trying to replicate this issue with our latest version (0.13.8) and everything appears to be working as expected, including in a bucket with over 1000 validations. I'm going to close this issue, but please reopen if you continue to encounter this issue.

[2021-02-08 22:10] #2121 closed, assigned to anthonyburdi

[2021-02-08 22:16] victorwyee commented on #2320
I'd be interested in creating a new `expect_column_values_to_be_castable_to_type` Expectation.

[2021-02-09 04:57] spbail commented on #2358
We're actively working on this, will update on #2418! Thanks everyone who reported this.

[2021-02-09 05:03] spbail commented on #2383
Hi @mxlei01 also for clarification:
1. You should be running all `great_expectations` commands in a *new* directory (we named it `ge_example` in the tutorial), that way you don't have clashes with the existing solution. [See the instructions on the first page of the tutorial.](https://docs.greatexpectations.io/en/latest/guides/tutorials/getting_started/initialize_a_data_context.html#create-a-data-

[2021-02-09 05:33] victorwyee commented on #2341
Took a closer look but wasn't able to reproduce @LavinaVRovine's issue...

[2021-02-09 07:10] TkachevKonstantin opened #2420 "Usage of boto3_options when connected to s3-compatible Yandex Object Storage (https://storage.yandexcloud.net)"
**Describe the bug**
I try to get batch from csv file stored on s3 using attached config (see  config in **Additional context**).
 I've set environmet vars AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY and set aws CLI (see aws config list output below).
[code]

My virtual environment use follow packages (also see packages.png):
great_expectations == 0.13.8
boto3 == 1.17.3

I can write expectations a

[2021-02-09 08:19] victorwyee commented on #2341
Well, never mind. Didn't test the right thing earlier. PR updated.

[2021-02-10 08:43] Skolim007 opened #2423 "Invalid column name "Distinct (%)" in BasicDatasetProfiler HTML output"
Hi,

I think there is some issue with HTML renderer used to build pages form profiling results. There are two columns displayed as "Distinct (%)" - where in my opinion first column should be "Distinct count" and not displayed as pecentage.
In my case data set has 4 rows and two unique values in that column.
![image](https://user-images.githubusercontent.com/73521262/107485724-6fc57a00-6b84-11eb-8a

[2021-02-10 09:37] mxlei01 commented on #2383
@spbail

Thanks for the reply!

1. Seems that I'm not following the instructions carefully.
2. I'm running the commands through SSH, so maybe that's why there was no jupyter notebook?

Max

[2021-02-10 09:37] #2383 closed, assigned to spbail

[2021-02-10 15:59] eugmandel commented on #2420
@TkachevKonstantin Thank you for following up and posting this issue description. We are having a (virtual) offsite this week, so will triage on Monday.

[2021-02-10 16:00] eugmandel commented on #2423
@TkachevKonstantin Thank you for reporting this issue! We are having a (virtual) offsite this week, so will triage on Monday.

[2021-02-10 17:42] TkachevKonstantin commented on #2420
You lose boto3_options after this call `context = BaseDataContext(project_config=project_config)` cause **project_config** contains boto3_options but **context** doesn't.
I think it's happen in get_config_with_variables_substituted function (see great_expectations\data_context\data_context.py, class BaseDataContext) here:

[code]

And then in substitute_all_config_variables function (see great_exp

[2021-02-11 07:07] peteratemarsys opened #2424 "BigQuery documentation link broken after `GE init`"
**Describe the bug**

After typing `great_expectations init` in terminal, selecting BigQuery later on as my datasource but not being able to auth, so pressing 'n' to the question 'Enter the credentials again? [Y/n]:' I got the following message:

The link is broken.

**Environment (please complete the following information):**
 - Operating System: MacOS BigSur
 - Great Expectations Version: 0.13.9

[2021-02-12 18:51] #2098 closed, assigned to Shinnnyshinshin

[2021-02-12 20:34] Shinnnyshinshin commented on #2098
Hi @gardnerdev and @lccambiaghi I just wanted to let you know that a PR that addresses this issue has just been merged, and should be part of an upcoming release of Great Expectations. Could you try it with your current workflow and let us know if there are any additional adjustments that need to be made?

[2021-02-12 23:38] anthonyburdi commented on #2384
@JonathanCiglia Thank you so much for bringing this issue to our attention. I had closed an earlier very similar issue #2121 as I was not able to replicate it. However I was able to in this instance. The way I replicated was to delete the validations in my validations store. Then when running a validation operator with the `UpdateDataDocsAction` there are no validations to use besides the one that

[2021-02-12 23:38] #2384 closed, assigned to anthonyburdi

[2021-02-12 23:42] anthonyburdi commented on #2121
@Aylr @soundian I was able to replicate this issue by removing validations from my validations store. It may not be related to the intermittent issue you were experiencing, but I just wanted to bring it to your attention in case that is what was happening. See my note in issue #2384.

[2021-02-13 00:02] eugmandel commented on #2424
Thank you for filing it, @peteratemarsys !

[2021-02-13 05:01] #2424 closed, assigned to nobody

[2021-02-13 21:29] blake-enyart opened #2437 "Tutorial failing on checkpoint new command with config 3.0 error"
**Describe the bug**
When I am working through the tutorial, the

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the tutorial up to `Validate your data using a Checkpoint`
2. Run the command `great_expectations checkpoint new staging.chk taxi.demo`
3. See error:
[code]

**Expected behavior**
Generation of a checkpoint according to the tutorial

**Environment (please complete the follo

[2021-02-16 12:18] matiasnferrero opened #2442 "batch.expect_column_values_to_be_between() is being evaluated as "greater than""
![image](https://user-images.githubusercontent.com/38692696/108061463-a99cf180-7058-11eb-965f-960a7d5ae0bd.png)

[2021-02-16 12:20] #2442 closed, assigned to nobody

[2021-02-16 16:19] James7711 opened #2444 "Meta argument causes error when used improperly that carries over even when the meta is removed from the expectation."
**Describe the bug**
When you incorrectly use the meta argument in setting up expectations in the jupyter notebook it causes the below error when you run the final step - batch.save_expectation_suite(discard_failed_expectations=False).  This error continues to appear even if you remove the meta argument from all expectations.  In my case I was just passing a normal string into the meta argument.

[2021-02-16 17:23] TheOriginalAK47 commented on #2437
+1, experiencing same issue as Blake.

[2021-02-16 17:39] cbuffett commented on #1816
I'm running into a slightly related issue using WSL2 when attempting to load the data docs after running the scaffolded taxi.demo

[code]
The same thing happens if I try to re-init the project when it asks me to build the data docs

[code]

I had the same issue show up when attempting to launch the notebook in Jupyter, but was able to get around that by setting `c.NotebookApp.use_redirect_file = F

[2021-02-16 21:12] dmateusp opened #2446 "Generating docs concurrently can potentially create uncomplete index"
we're having a recurring problem where we run Great Expectations suites in parallel and sometimes the index is updated incompletely. We think there is a race condition when the index is updated simultaneously.

Would it be possible to expose this new feature by allowing folks to turn off building the index on a validation operator and having a `great_expectations docs` command specifically to rebu

[2021-02-16 21:12] dmateusp commented on #2446
cc @Aylr

[2021-02-16 23:24] Aylr commented on #2446
@spbail this would be very easy to add to the ongoing CLI work...

[2021-02-17 09:13] sou-joshi commented on #2437
+1, Same issue. Was anyone able to fix this?

[2021-02-17 09:24] luke321321 commented on #2437
FYI looks like some of the `3.0` is still a WIP for full support across all of GE: https://discuss.greatexpectations.io/t/can-i-use-the-new-experimental-v3-api-in-production/629

[2021-02-17 15:17] eugmandel commented on #2444
@James7711 Thank you for reporting this issue. Reproduced - it is indeed a bug.

[2021-02-17 15:20] eugmandel commented on #2437
Thank for you reporting this! We are adjusting the tutorial to be compatible with the V3 API. @luke321321 thank you for linking to the Discuss post that clarifies the state of the V3 API.

We will triage this issue today.

[2021-02-17 15:30] eugmandel commented on #2399
@hparsa741 [The profiler that the  suite scaffold command uses](https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/profile/basic_suite_builder_profiler.py) does not ask questions about the storage type of columns (the expect_column_values_to_be_of_type Expectation). One of the reasons that we did not include this Expectation in that profiler's logic is this: h

[2021-02-17 15:30] #2399 closed, assigned to nobody

[2021-02-17 15:54] eugmandel commented on #2437
There is a PR that addresses this issue. It is about to be merged shortly: https://github.com/great-expectations/great_expectations/pull/2418

[2021-02-17 16:46] #2358 closed, assigned to spbail

[2021-02-17 17:04] spbail commented on #2437
#2418 was just merged. The tutorial now describes how to create a new Checkpoint for validation without the CLI, which should address the issues here when creating a new data context with 0.13.8 and higher.

[2021-02-17 17:05] #2437 closed, assigned to nobody

[2021-02-17 18:35] eugmandel commented on #2444
The fact that the error persists even after removing the wrongly formatted "meta" argument from the Expectation is due to the fact that that "meta" was saved in the Validation Result. An ugly workaround would be to find and delete that Validation Result.

We would love for a community contributor to make a PR that catches this error and handles it better.

Beyond that, we believe a longer term fix

[2021-02-17 18:45] jdimatteo opened #2451 "expect_compound_columns_to_be_unique divide by zero error when no rows"
**Describe the bug**
[expect_compound_columns_to_be_unique](https://docs.greatexpectations.io/en/0.13.8/autoapi/great_expectations/expectations/core/expect_compound_columns_to_be_unique/index.html) errors with a divide by zero error when the table contains no rows as shown in this example stack trace from version 0.12.7:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use expect_comp

[2021-02-17 18:46] jdimatteo commented on #2451
I'm fixing this with https://github.com/great-expectations/great_expectations/pull/2454

[2021-02-17 20:06] eugmandel commented on #2446
@dmateusp This [PR](https://github.com/great-expectations/great_expectations/pull/2224) by @Aylr back in January added `build_index` argument to BaseDataContext.build_data_docs method.

To expose this new functionality and make it configurable, the UpdateDataDocsAction that is invoked by Checkpoints (or Validation Operators in older versions) needs to be modified: https://github.com/great-expectat

[2021-02-17 21:06] #2215 closed, assigned to Shinnnyshinshin

[2021-02-18 10:27] roblim commented on #2017
Hi @rubenssoto! I just wanted to check in. I investigated your issue this week but was unable to replicate locally. In addition, I've confirmed with the GE team that this issue should be nonexistent in the new Expectations API. Given that, we've decided not to investigate this issue further but of course always welcome community contributions in case you've come up with a fix!

If you're able, wou

[2021-02-18 14:25] seb-afk opened #2456 "Broken 'typical_workflow' link"
The[ `init_notebooks`](https://github.com/great-expectations/great_expectations/tree/develop/great_expectations/init_notebooks) have a link to a "typical workflow" documentation page which seems to have only existed up until version [0.9.11](https://docs.greatexpectations.io/en/0.9.11/getting_started/typical_workflow.html). I could not find the page in newer versions of the docs, but would be more

[2021-02-18 15:14] seb-afk opened #2457 "Broken 'Validation Operators tutorial' link"
The[ `init_notebooks`](https://github.com/great-expectations/great_expectations/tree/develop/great_expectations/init_notebooks) have a link to a "Read more about Validation Operators in the tutorial" documentation page which seems to have only existed up until version [0.9.11](https://docs.greatexpectations.io/en/0.9.11/getting_started/typical_workflow.html). I could not find the page in newer ver

[2021-02-18 19:12] roblim commented on #2423
Thanks for reporting this @Skolim007! This has been addressed in #2455 and merged into `develop` - it will appear in the next release.

[2021-02-18 19:12] #2423 closed, assigned to nobody

[2021-02-18 20:58] anthonyburdi commented on #2163
Hi @daidoji we are updating our CLI for our new API and are incorporating your suggestion! We will have a global `--config` or `-c` parameter that takes a filepath or a directory path e.g. `great_expectations --config /my/path/to/great_expectations.yml suite list`. Keep your eyes peeled for a release with this functionality in the coming weeks!

[2021-02-18 20:58] #2163 closed, assigned to anthonyburdi

[2021-02-19 12:44] rmsdaltix opened #2460 "`MetaPandasDataset.multicolumn_map_expectation` not ignoring rows with nulls when `ignore_row_if="any_value_is_missing"`"
**Describe the bug**
I've set the `ignore_row_if='any_value_is_missing'` flag on a custom expectation. I'm expecting rows with `null` values in any of the columns I've given to be skipped. But `multicolumn_map_expectation` doesn't skip them, instead adding them to the `unexpected` field of results and using them to calculate `percent_success`, triggering a failed expectation.

**To Reproduce**
We

[2021-02-19 20:24] eugmandel commented on #2451
Thank you for filing this, @jdimatteo ! Even better, thank you for creating a PR to address this issue - I'll review it a bit later today.

[2021-02-19 20:34] eugmandel commented on #2456
@sebastianbertoli Good catch - thank you! This docs page indeed was removed and broken up into multiple guides.

If you create a PR, could you please replace this:

[code]

with this:

[code]
?

Thank you!

[2021-02-19 20:36] seb-afk commented on #2456
Sounds good, will get to it tomorrow! Thanks!

[2021-02-19 21:13] eugmandel commented on #2460
@rmsdaltix Thank you for reporting this issue - we will triage it on Monday.

[2021-02-19 21:16] eugmandel commented on #2457
@sebastianbertoli Looks like we missed this one! Validation Operators's functionality is replaced by Checkpoints in 0.13.8. We are still updating the documentation. Until this is cleaned up, it would be the best to remove this link from the notebooks completely. Thank you!

[2021-02-19 21:22] eugmandel commented on #2460
@rmsdaltix I noticed this question on SO: https://stackoverflow.com/questions/66274054/great-expectations-custom-expectation-not-ignoring-nulls-as-requested - I assume this is the same issue.

[2021-02-19 22:34] #2451 closed, assigned to nobody

[2021-02-22 06:27] Gfeuillen opened #2464 "`expect_compound_columns_to_be_unique` can't be saved multiple times in the same suite"
**Describe the bug**
When `expect_compound_columns_to_be_unique` is used multiple times in a suite, only the last occurence gets saved

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Load a Spark Dataset using `QueryBatchGenerator`
3. Create a new suite with 2 `expect_compound_columns_to_be_unique` expectations
4. Save it on disk
5. See that there is only 1 saved (alr

[2021-02-22 08:29] rmsdaltix commented on #2460
@eugmandel Yes I posted there a few hours before I posted here in the hopes it'd get solved without having to open an issue.

[2021-02-23 00:02] Shinnnyshinshin commented on #2340
Hi @ryanaustincarlson first i wanted to thank you for this submission. It's honestly one of the most elegantly written and well documented `issues` I've had a chance to work with.

A fix with associated tests are part of PR #2465 , which is currently being reviewed by the core team. You'll also want to include the following `include_schema_name` flag in your config.

[code]

That way `data_asset_n

[2021-02-23 16:57] #2340 closed, assigned to Shinnnyshinshin

[2021-02-24 09:38] vanderGoes commented on #1451
@syahdeini Great to see you here too Aldy. Did it work out in the end, or shall we fix it together?

[2021-02-24 10:13] TkachevKonstantin commented on #2420
Hello guys!
Can I understand when you take issue in work?

[2021-02-24 15:42] manishgk opened #2469 "open_data_docs fails to open on Windows browsers when length of path exceeds 260 characters"
**Describe the bug**
If your expectation_suite_name is large (multiple subfolders), Windows has this limitation to allow only 260 characters when loading any file in the browser. So the expectation here is if this can be controlled from GE team while calling open_data_docs  function to check if the length is over 260 characters or not.

https://docs.microsoft.com/en-us/windows/win32/fileio/maximum

[2021-02-24 22:25] #2464 closed, assigned to Shinnnyshinshin

[2021-02-24 22:35] Shinnnyshinshin commented on #2464
HI @Gfeuillen thank you for submitting the issue. A fix was made that should address the problem you were having, and will be part of the upcoming 0.13.11 release. Please let us know if you continue to run into the issue

[2021-02-25 04:21] victorwyee commented on #2341
@eugmandel -- I think this issue can be closed now. :)

[2021-02-25 10:37] miike opened #2475 "Use ISO datetime formats where possible (for run times)"
**Describe the bug**

Currently run times are displayed in US date format which can be confusing and ambiguous. This proposed to standardise the display of times to the ISO format which should be more universally readable.

**To Reproduce**
Steps to reproduce the behaviour:
1. Render data docs
2. Under 'Run times' see US date style format (mm/dd/yyyy)

**Expected behavior**
ISO timestamp format is

[2021-02-25 18:46] gleman2 commented on #2017
First of all, thank you for a great product!
@roblim , I was able to reproduce it locally on great-expectations==0.13.9
To reproduce it, run any expectation on a column before running `expect_table_columns_to_match_set`.
By doing so, sparks creates a new column `__eval_col_{column_name}` . Because of that validation fails.

[2021-02-25 18:56] roblim commented on #2460
Hi @rmsdaltix. Thanks for submitting this issue and for the detailed report - it was very helpful! I believe I found the source of the issue - it was rather subtle. Because the value of the `ignore_row_if` argument is being used in the `multicolumn_map_expectation` decorator (with its own "all_values_are_missing" default) prior to the actual call to your custom `expect_column_A_equals_column_B_col

[2021-02-26 08:50] rmsdaltix commented on #2460
Yuuuup that fixes it! To be specific, passing `ignore_row_if='any_value_is_missing'` into the actual call of the custom expectation (`batch.expect_column_A_equals_column_B_column_C_ratio`) fixes it. We'll use that workaround for now and eagerly await the fix here. Thank you!

(Looking at your profile pic, maybe I'll see you out in the dust one of these days :) )

[2021-02-26 08:57] roblim commented on #2460
Thanks for confirming for me @rmsdaltix! And excellent eye! Yes, one can only hope we can return to those days again soon. When the time comes, I'll be on the lookout for camps with suspiciously excellent data. :)

[2021-02-26 17:31] Cedric-Magnan opened #2479 "Add Email Validation Action"
**Is your feature request related to a problem? Please describe.**
I have setup automated tests of the data that I receive from the manual ingestion from my client. They do not use Slack (unfortunately) or any other tool that I could use for notifications available in Great Expectations.
They have emails and mailing lists though, as well as a SMTP server that I can use. Thus, I could theoretically

[2021-02-27 12:44] sfrancavilla opened #2484 "PandasExecutionEngine: pyarrow read_table() got an unexpected keyword argument 'compression'"
**Describe the bug**
I'm trying to reproduce the same example described [here](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_datasources/how_to_choose_which_data_connector_to_use.html) but with `.parquet` file on S3 instead of `.csv`.

Basically test `.yml` configuration of a `Datasource`.

**To Reproduce**
Below you can find the code I'm trying to run:

[code]

The

[2021-03-01 13:46] Gfeuillen commented on #2464
Just tested, it's fixed indeed.

Thanks for the fix !

[2021-03-02 18:47] #2479 closed, assigned to nobody

[2021-03-02 19:52] eugmandel commented on #2420
@TkachevKonstantin Let me update you tomorrow after our next triage.

[2021-03-03 01:37] roblim commented on #2460
@rmsdaltix - closing this issue as it was addressed in https://github.com/great-expectations/great_expectations/pull/2486. The fix will go out in the next release.

[2021-03-03 01:37] #2460 closed, assigned to roblim

[2021-03-03 14:46] frederikdesmedt opened #2495 "Outdated Docker image registry"
**Describe the bug**
[Current documentation](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/miscellaneous/how_to_use_official_docker_images.html) provides a link to the official registry, but the repository doesn't look like it's updated.

**To Reproduce**
1. Go to https://hub.docker.com/r/greatexpectations/great_expectations/tags
2. See only 0.12 versions

**Expected behavior**

[2021-03-03 15:28] eugmandel commented on #2469
@manishgk This is a good find. We invite a community contribution to address this issue.

[2021-03-03 15:31] eugmandel commented on #2484
@sfrancavilla Thank you for creating this detailed report! We will triage the issue today.

[2021-03-03 16:24] eugmandel commented on #2420
Added to the core team's backlog.

[2021-03-03 16:27] TkachevKonstantin commented on #2420
Eugene, colleagues, thanks a lot!
I hope my thoughts regards to problem will help to solve one.

[2021-03-04 04:21] #2475 closed, assigned to nobody

[2021-03-04 05:57] jbkai commented on #2446
I am also encountering this issue.
I'd like to help for this PR, unless anyone else is already doing it?

[2021-03-04 18:04] peterdhansen opened #2500 "Progress Bar for profiler"
Some processes can take a long time, like the BasicSuiteBuilderProfiler and a progress bar can make it much more bearable.

There is a great progress bar package `tqdm` (https://github.com/tqdm/tqdm) that would be great addition to these longer process. Would this addition interest others?

[2021-03-04 20:40] benoitLebreton-perso opened #2501 "Can not create Azure Backend with TupleAzureBlobStoreBackend"
Hello,

First, I love great expectations I use it with my projects. My coworkers and I are very impressed so thanks a lot.
With _TupleGCSStoreBackend_ I never had problems but now I try to reproduce it on Azure with _TupleAzureBlobStoreBackend_ (which is recent so it is not surprising to have problem with it)

**Describe the bug**
When I use the CLI to create or list the expectations with `$ great

[2021-03-04 21:39] filipj8 opened #2502 "Cannot open a directory with name "checkpoints" in jupyter notebooks / jupyterlab"
**Describe the bug**
Cannot open a directory with name "checkpoints" in jupyter notebooks / jupyterlab

**To Reproduce**
Steps to reproduce the behavior:
1. Try opening the auto-created directory `great_expectations/checkpoints` directory.

**Expected behavior**
The directory should open

**Environment (please complete the following information):**
 - Operating System: Linux
 - Great Expectations

[2021-03-05 07:37] ounis opened #2504 "Problem installing with pipenv"
When trying to install `great-expectations` using `pipenv` I run into some issues

**To Reproduce**
Steps to reproduce the behavior:
1. install pipenv (one way to install it is `pip install pipenv`)
2. Create a python project that uses pipenv to install dependencies (Could be empty)
2. add to your `Pipfile` this line `great-expectations = "0.13.12"` under `[packages]` section
3. run `pipenv instal

[2021-03-05 09:05] benoitLebreton-perso commented on #2501
Hello,
I forked the develop branch (according to your contributing documentation) and I think I have founded how to solve it.
I have just proposed a solution in PR #2505 . I have tested it with my azure account, I works well :)

[2021-03-05 16:14] eugmandel commented on #2500
@peterdhansen This sounds like a great contribution - yes, please go ahead. We looked at adding a progress bar in the past, but ran out of time.

[2021-03-05 18:23] jcampbell commented on #2484
@sfrancavilla - @eugmandel flagged this one for me. It looks like #2440 , which we recently merged to add support for the compression key is currently *always* adding the compression key. I've created a small PR to fix the issue: #2506

[2021-03-05 18:42] eugmandel commented on #2502
@filipj8 I see - "checkpoints" is a special name in Jupyter. Checkpoint is also a central concept in Great Expectations. of course with a very different meaning :). I think a workaround is to open that directory with some other editor.

[2021-03-05 18:51] eugmandel commented on #2495
@frederikdesmedt

We want to start publishing Docker images for every new release, but there is no timeline for this yet.
The images currently on dockerhub are experimental.

[2021-03-05 19:43] eugmandel commented on #2504
@ounis Thank you for posting the link to Travis output! It looks like what is failing is numpy installation. Since users use Great Expectations in various environments, we really appreciate the help from the community with issues like this one. Would you investigate it further? For example, does installing numpy (without Great Expectations) works on pipenv? Thank you!

[2021-03-06 05:43] ounis commented on #2504
@eugmandel Sure! I will try `numpy` by itself, and give feedback.

[2021-03-06 06:11] ounis commented on #2504
@eugmandel you are right the issue comes from `numpy`
I did this change https://github.com/ounis/install-great-expectations/commit/14d0f72c3eb1c045c651df567c52a5b70670ced6
And here is the build https://travis-ci.org/github/ounis/install-great-expectations/builds/761670672

It seems more people are complaining about `numpy` here
https://stackoverflow.com/questions/66003811/pipenv-locking-for-numpy-

[2021-03-06 11:58] benoitLebreton-perso commented on #2501
Hello again,

I forgot a detail in #2505 I wish that I have seen it yesterday, sorry.
So I opened an other PR #2513 to solve it. We could reopen #2505 if you prefer.

When it is done I think this issue may be closed.

Have a nice day :)

[2021-03-08 04:46] eugmandel commented on #2501
@benoitLebreton-perso This is our favorite kind of GitHub issue - one that comes with a PR that addresses it!

[2021-03-08 18:26] manishgk opened #2516 "stored procedure fails with 'IndexError' for SQLServer datasource"
**Describe the bug**
When I use stored procedure for getting the data as a batch, it gives 'IndexError'. Based on the error output, this is happening  while calling create_temporary_table function in sqlalchemy_dataset.py for SQLServer datasource as it's looking for the string 'from' in query(store proc) and splitting it, and since there isn't that string, the list has only one element, thus resul

[2021-03-09 09:53] pspeter commented on #1628
I just ran into this same issue when trying to create a new suite:

[code]
..... and so on

OS: Windows 10
GE Version: `0.13.12`

[2021-03-10 13:56] JerryJohn95 opened #2523 "Calculated expectations"
I wish to add simple row/column calculations to expectations.

To run expectations along the lines of:

batch.expect_column_values_to_equal('installationfee'==(('unit_price'*'license_years')-'arr'))

[2021-03-10 15:24] sorendaugaard opened #2524 "It is not possible to use RuntimeDataConnector with batch_data and partition_request parameters"
**Describe the bug**
When trying to load a Pandas dataframe as a batch following this [guide](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_batches/how_to_load_a_pandas_dataframe_as_a_batch.html) from the documentation I run into the following exception when initializing the validator:
[code]

**To Reproduce**
The following script reproduces the problem:
[code]
The scri

[2021-03-10 20:42] eugmandel commented on #2523
@JerryJohn95 This is a good way to express a lot more tests using Expectation. I would probably rephrase it as: `expect_column_values_to_be_computed_from_other_columns(column="installationfee", column_expression="'unit_price'*'license_years')-'arr'")`

[2021-03-10 20:43] eugmandel commented on #2523
@jcampbell Thoughts?

[2021-03-10 21:01] eugmandel commented on #2516
@manishgk Would you like to take this issue to resolution and create a PR? Since you are using SQLServer, you might be the best candidate to address it: https://docs.greatexpectations.io/en/latest/contributing.html

[2021-03-11 15:43] jstammers opened #2532 "expect_column_values_to_be_between fails to validate a datetime column"
**Describe the bug**
When using `pandas_profiling` to create an expectation suite, I am encountering a `TypeError` when profiling a `datetime` column. I believe that the issue is due to the fact that the `min_value` and `max_value` arguments get parsed as strings, so that they can be JSON serialized, but the column itself doesn't.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expect

[2021-03-11 16:36] peterdhansen opened #2533 "build_categorical_partition_object for V3"
the function `great_expectations.dataset.util.build_categorical_partition_object` expects a Batch, which I don't have if I am using a validator

[2021-03-11 17:59] Hanish-FD opened #2534 "data_context_id must be valid UUID"
**Describe the bug**
Recently, over the weekend an implementation of great_expectations on an Airflow dag started to return this new error: 'data_context_id must be valid UUID.' I had recently shifted from using a yaml configuration file to using a BaseDataContext and a python configuration file in order to build a context. It is when building the context that the error is thrown in my devstack en

[2021-03-11 19:41] benoitLebreton-perso opened #2536 "pandas row_condition causes an error when edit existing suite if simple quote in query expression"
**Describe the bug**

When I use the `row_condition=<pandas query>` option there is no problem in the moment. And this is a very convenient feature so bravo !
The little problem is I can have an issue later when I want to modify my already existing expectation suite.
This issue will appear only if I code the pandas query
`row_condition="domain == 'product' "` : with simple quote inside
and not if

[2021-03-12 17:36] benoitLebreton-perso opened #2537 "azure static website prompt users to download the file instead of rendering the contents of datadoc"
I'm trying to [host and share data docs on azure blob storage](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_data_docs/how_to_host_and_share_data_docs_on_azure_blob_storage.html?highlight=expose%20azure). And I'm trying using a simple [static website](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website-how-to?tabs=azure-cli).

**Describe

[2021-03-12 17:57] benoitLebreton-perso commented on #2537
I'm tying to modify code to set configuration just like explained here :

https://stackoverflow.com/questions/59752380/set-content-type-when-uploading-to-azure-blob-storage.

It doesn't make a difference for now. I'm continuing on this.

[2021-03-12 18:14] benoitLebreton-perso commented on #2537
Ok I've found it !
I'm opening a PR #2539 that will solve it :)

[2021-03-13 00:26] eugmandel opened #2540 "Using row_condition in an V3 API Expectation on Postgres raises a SQL error"
**Describe the bug**
Using row_condition in an V3 API Expectation on Postgres raises a SQL error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a Data Context with a V3 API Datasource using the Dockerized Postgres "taxi" database from the "getting started" tutorial.
2. Create a new Jupyter notebook
3. Add this code:
[code]
4. See error

**Expected behavior**
no error

**E

[2021-03-13 07:11] mrbuddy opened #2541 "Unable to set up data source as aws s3"
great_expectations setup:

- Created a new virtual environment
- Installed required packages:
**pip install boto3
pip install fsspec
pip install s3fs**
- Updated data source in configuration: great_expectations.yml
[code]

Steps to reproduce this isse:

[code]

Getting below error:

**Cannot connect to host s3.amazonaws.com:443 ssl:True [SSLCertVerificationError: (1, '[SSL: CERTIFICATE_VERIFY_FAIL

[2021-03-13 16:33] eugmandel commented on #2537
Yet again, my favorite kind of GitHub issue, one that comes with a PR that addresses it! @benoitLebreton-perso, thank you for being a contributor!

[2021-03-13 20:10] mrbuddy commented on #2541
Facing same issue with V3 batch_request API using test_yaml_config.

[2021-03-14 17:01] vmoulds01 opened #2543 "'PandasDataset' object has no attribute 'expect_column_max_to_be_between_custom'"
Hello,

I was trying to write a custom v3 expectation and I was following the documentation - https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_and_editing_expectations/how_to_create_custom_expectations.html#how-to-guides-creating-and-editing-expectations-how-to-create-custom-expectations.

However, when i try out this new expectation I get the following error:

**_'PandasD

[2021-03-15 15:13] eugmandel commented on #2541
@mrbuddy Could you please add Python version and OS to your report? Thanks!

[2021-03-15 15:14] eugmandel commented on #2537
The PR merged - closing the issue as fixed.

[2021-03-15 15:14] #2537 closed, assigned to nobody

[2021-03-15 15:20] eugmandel commented on #2536
@benoitLebreton-perso Thank you for reporting this! I agree - A+B sounds like a relatively quick and acceptable way to address this issue. I will label this issue with "help wanted" - this is our way of asking for a community PR.

[2021-03-15 15:24] eugmandel commented on #2533
@peterdhansen The batch is "hiding" inside validator.active_batch - please try and report back. Thank you!

[2021-03-15 15:27] eugmandel commented on #2534
@moolhans Thank you for reporting this issue - adding to the core team's queue to investigate and fix.

[2021-03-15 16:20] mrbuddy commented on #2541
@eugmandel  Below versions. Updated in desc as well.
Python: 3.6.5
OS: Mac 10.14.6

[2021-03-15 17:21] sfrdmn opened #2546 "Cannot specify data connectors which do not conform to DataConnectorConfigSchema"
**Description**

If I want to use a data connector with an API not conforming explicitly to `DataConnectorConfigSchema` (eg even the packaged `ConfiguredAssetSqlDataConnector`), and configure it at the level of the `DataContext` (eg `great_expectations.yml`), non-conforming properties are not provided to the connector constructor

**To Reproduce**

[code]

Observe that the connector as well as its

[2021-03-16 13:59] gityow opened #2551 "skip columns with high cardinality"
**Is your feature request related to a problem? Please describe.**
I used the BasicProfiler on a 177M record table with 338 cols and it took 4.5 days to run. Most of my columns returned this:
`Failed to get cardinality of column <column name> - continuing...`

**Describe the solution you'd like**
 Most of my columns were continuous variables and I was wondering if there is a way to skip columns wi

[2021-03-16 14:26] BrendanFrick opened #2552 "Dependency break with sqlalchemy==1.4 caused by snowflake-sqlalchemy"
**Describe the bug**
`import great_expectations` fails when [`snowflake_sqlalchemy`](https://github.com/snowflakedb/snowflake-sqlalchemy) is also installed in the environment. This is because of a change introduced in `sqlalchemy==1.4.0`

**To Reproduce**
Steps to reproduce the behavior:
1. Create environment
[code]

2. Try importing great-expectations
[code]

3.  Receive error
[code]

**Expected

[2021-03-16 16:52] quinten-goens commented on #1799
This would indeed be a very welcome feature as it would allow to simultaneous check data quality and describe your variables. People reading the data docs validation sheet would thus immediately understand the current state of the data quality.

[2021-03-16 17:38] ZeMirella opened #2554 "Exception Promise already completed"
The job presented intermittent errors during data processing, and I couldn't identify what was causing this exception.

project configs:
name = "great-expectations"
optional = false
python-versions = "*"
version = "0.12.1"

Traceback (most recent call last):
  File "/mnt/yarn/usercache/hadoop/appcache/application_1613275903560_8414/container_1613275903560_8414_01_000001/py4j-0.10.9-src.zip/py4j/ja

[2021-03-16 20:27] Shinnnyshinshin commented on #2552
addressed by #2553

[2021-03-16 20:27] #2552 closed, assigned to nobody

[2021-03-16 22:42] sfrancavilla commented on #2484
@jcampbell @eugmandel  not sure if this will be solved soon but, I had some time today and wanted to give it a try on this issue as my first contribution but, happy to close my PR (#2557), and apologies if I missed any procedure in place. It seems the only tests failing are related to missing `psycopg2` library - needed to dig a bit deeper on the reason why.

I kept the same tests as @jcampbell as

[2021-03-17 02:58] peterdhansen opened #2559 "MSSQL PYODBC error in column_reflection_fallback"
**Describe the bug**
When using mssql+pyodbc, I get an error on `expect_table_columns_to_match_set` in the function `great_expectations.expectations.metrics.util.column_reflection_fallback`

The object that is returned by `_get_dialect_type_module` is of type `sqlalchemy.dialects.mssql.pyodbc.MSDialect_pyodbc` which does not have the type information available.

**To Reproduce**
1. Setup mssql+pyo

[2021-03-17 03:04] peterdhansen commented on #2559
I think you could get away with always using `from sqlalchemy.dialects import mssql` as the type module for any mssql engine, but I don't have the ability to test this.

https://docs.sqlalchemy.org/en/13/dialects/mssql.html#sql-server-data-types

If you like this patch (or something similar) I can submit a PR

[2021-03-17 03:17] peterdhansen commented on #2559
This patch might fix it for all mssql dialects (not just pyodbc)
[code]

[2021-03-17 14:02] quinten-goens commented on #2234
@eugmandel This is currently still an issue in great expectations 0.13.13. Has this bugfix been included in the new version (0.13.14)?

Many thanks for the amazing work on this module!

[2021-03-17 14:39] manishgk opened #2560 "Duplicate subfolders in Data Docs URL"
**Describe the bug**
When GE opens Data Docs in the browser, the URL has duplicate subfolders under **/great_expectations/uncommitted/data_docs/local_site/validations** where it creates the .html file

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Jupyter Notebook
2. Run all the cells and let the Data docs open
3. See the URL in the browser at the end where it shows the .html file

/*

[2021-03-17 15:43] peterdhansen commented on #2543
If you are using the v3 custom expectation documentation. You have to use the v3 API for everything else.
So Batch Request and Validator instead of batch_kwargs and dataset.
Go here: https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_batches/how_to_load_a_pandas_dataframe_as_a_batch.html
and click V3 API

[2021-03-17 15:53] peterdhansen commented on #2551
Have you tried
* `great_expectations.profile.basic_suite_builder_profiler` OR
* `great_expectations.profile.user_configurable_profiler`

[2021-03-17 17:01] vmoulds01 commented on #2543
Ok thanks for sharing that documentation.  I am new to Great Expectations so still learning so apologies if these are simple questions.

I tried to follow that document there for the RuntimeDataConnector and I am getting the following error message when trying to create the validator:

_**DataConnectorError: RuntimeDataConnector "csv_data_runtime_connector" requires batch_data and partition_reques

[2021-03-17 17:03] vmoulds01 commented on #2543
Never mind I resolved that issue by updating "batch_identifiers" to be "partition_identifiers" per runtime_data_connector.py validation code.  I was copying code from the documentation but it looks like it's slightly wrong for step 3. Construct a BatchRequest

[2021-03-17 17:07] eugmandel commented on #2546
@sfrdmn This is not the intended behavior and indeed seems to be a bug. Thank you for reporting this issue. We are adding it to the core team's queue.

[2021-03-17 17:16] vmoulds01 commented on #2543
Oh another thing I noted that was slightly wrong in the documentation is that if you are using the runtime_data_connector then data_asset_name must be set to "IN_MEMORY_DATA_ASSET" in your batchRequest object else you will get an empty BatchDefinition returned from runtime_data_connector.py _get_batch_definition_list_from_batch_request() method.

[2021-03-17 17:18] eugmandel commented on #2533
@peterdhansen I am closing this issue - please reopen, if this does not work for you.

[2021-03-17 17:18] #2533 closed, assigned to nobody

[2021-03-17 17:21] eugmandel commented on #2554
@ZeMirella Could you please reformat this report to conform to this template: https://github.com/great-expectations/great_expectations/issues/new?assignees=&labels=&template=bug_report.md&title= ?
Thank you!

[2021-03-17 17:25] eugmandel commented on #2546
@sfrdmn Sorry I did not notice this earlier - could you please try using "assets" key instead of "data_assets" in your configuration? Please report back if this fixes the issue for you. Thank you!

[2021-03-17 17:33] eugmandel commented on #2543
@vmoulds01 The [V3 API](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/migrating_versions.html#v3-vs-v2-api) is still experimental, so the documentation needs improving. Thank you @peterdhansen for answering the original question. The "IN_MEMORY_DATA_ASSET" is a temporary limitation - of course you should be able to name the asset in order for this to be useful. This improvement

[2021-03-17 17:33] #2543 closed, assigned to nobody

[2021-03-17 18:28] sawyee opened #2561 "Spark Context has stopped on Dataricks"
Hi there,

**Bug Description**
I am attempting to follow the example as shown in the documentation [here](
https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_data_contexts/how_to_instantiate_a_data_context_on_a_databricks_spark_cluster.html) for using great expectations on Databricks.

However  whenever I try to instantiate the great expectations context, the spark contex

[2021-03-17 21:49] sfrdmn commented on #2546
@eugmandel Nope, doesn't work:

[code]

[2021-03-17 21:54] #2500 closed, assigned to nobody

[2021-03-17 22:02] sfrdmn commented on #2546
Oh and to note: I modified my local copy of GE to add schema definitions in conformance with the API exposed by  `ConfiguredAssetSqlDataConnector` (eg data connector schema allowing `{"data_assets": { "name": { "schema_name" }}}`) and _that_ works

[2021-03-17 22:44] eugmandel commented on #2546
Thank you for trying this, @sfrdmn ! All right - this is definitely a bug. Labeled "core-team-priority".

[2021-03-17 22:58] eugmandel commented on #2561
@sawyee Are you setting spark.app.name? If yes, and you are running a recent release of Great Expectation, you should see this behavior. The solution is not to set the custom app name when running interactively in a Databricks notebook. Could you please confirm? Thank you!

[2021-03-17 23:09] eugmandel commented on #2560
@manishgk Thank you reporting this! My understanding is that while the folder structure is duplicated, the URL is functional and Data Docs can open - please confirm.  If this is the case, I'll mark this issue as "help-wanted" for a community contributor.

[2021-03-17 23:17] eugmandel commented on #2559
@peterdhansen Yes, a PR with the latest patch is more than welcome - thank you!

[2021-03-18 02:52] maikelpenz opened #2563 "[Community contributed Expectations] - run_diagnostics() not working as `get_test_validator_with_data` reference cannot be found"
**Describe the bug**
The `run_diagnostics()` command used to validate/test [community contributed expectations](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_and_editing_expectations/how_to_contribute_a_new_expectation_to_great_expectations.html?highlight=Contribute) fails after [this PR](https://github.com/great-expectations/great_expectations/commit/90ed2ba8dc003b1c11

[2021-03-18 08:43] sawyee commented on #2561
Hi @eugmandel I haven't manually set the spark.app.name configuration, but the result of
`spark.conf.get("spark.app.name")` is `Databricks Shell`

Thanks

[2021-03-18 11:16] vmoulds01 opened #2564 "'Validator' object has no attribute 'expect_column_chisquare_p_value_and_cramers_v_to_be_above_custom'"
**Describe the bug**
I am struggling to build a custom v3 expectation.  I followed the document https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_and_editing_expectations/how_to_create_custom_expectations.html and was able to get the custom expectation in the document working.  However, when I try and build my own custom TableExpectation for a chisqaured test that I want to

[2021-03-18 12:19] rmsdaltix opened #2565 "Flag that allows us to only build the new part of index.html when updating data docs in a validation operator"
**Is your feature request related to a problem? Please describe.**
Over time my team has run a lot of validations and building data docs for them, which is causing the `index.html` for our data docs to become quite large. Since the `DefaultSiteIndexBuilder` rebuilds `index.html` from scratch every time, calling `.get()` on our S3 storage backend for each existing validation result, it's started to

[2021-03-18 13:31] vmoulds01 commented on #2564
It looks like it might be to do with how I am naming the python function.  When I rename the ExpectColumnMaxToBeBetweenCustom function to something else then I am seeing the same error even though I was able to get this one working.

Is there a naming convention that needs to be followed for custom validations?

[2021-03-18 14:11] manishgk commented on #2560
yes, it's functional and Data docs opens fine.

[2021-03-18 22:51] eugmandel commented on #2563
@maikelpenz Thank you for reporting this - we are working on a fix that will go out in the next minor release within a few days.

[2021-03-18 22:52] eugmandel commented on #2563
@alexsherstinsky That's the bug we talked about.

[2021-03-19 08:31] luke321321 opened #2569 "Bug: WarningAndFailureExpectationSuitesValidationOperator isn't passed all arguments needed"
**Describe the bug**
The `WarningAndFailureExpectationSuitesValidationOperator` needs to be passed `base_expectation_suite_name`.  However, when running from the CLI (v12) on a checkpoint this is never passed and indeed looking at the source code can never be passed by the ` run_validation_operator()` function:
https://github.com/great-expectations/great_expectations/blob/f71b61de74e136f7eef1d5274

[2021-03-19 10:45] olhmr opened #2570 "The `-c` flag to supply a config file is (seemingly) ignored"
**Describe the bug**
Regardless of what value is supplied to the `-c` flag (and whether or not it exists), `great_expectations` runs through the same search pattern to try to find the config file.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `great_expectations -v suite list`
2. Run `great_expectations -v -c great_expectations.yml suite list`
3. Run `great_expectations -v -c this_file

[2021-03-19 10:51] jarandaf commented on #2561
Hi @eugmandel, I am also experiencing the same issue with the same Databricks runtime. Is there any work around?

EDIT:

After having a look at the code, I think [this](https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/core/util.py#L482) may be root cause. I don't understand why the spark context needs to be stopped but this just breaks Databricks runtimes.

[2021-03-19 14:04] jarandaf commented on #2561
Downgrading to version 0.13.12 seems to work. 90ed2ba8dc003b1c11581a64e280455d4bd08dad seems to introduce the breaking changes.

[2021-03-19 14:10] brunocous opened #2571 "Feature Request: Expect output of an anomaly detection model to be inlier"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I was thinking of an expectation that could take a Python anomaly detection model (see the ones offered by the [PyOD project](https://github.com/yzhao062/pyod)) as an input, and expect rows of a table to be inliers (=negate class in an anomaly detection task). That model should be able to t

[2021-03-19 14:52] jcampbell commented on #2570
Thanks for flagging this -- we're actively working on CLI changes, and I wonder if this may have slipped through the cracks... @alyr: can you take a look?

[2021-03-19 15:05] eugmandel commented on #2561
@sawyee Thank you for replying re custom app name!, @jarandaf Thank you for pointing to that commit!

Yes, then this does look like a bug - the core team will take it on.

[2021-03-19 15:08] eugmandel commented on #2561
@alexsherstinsky Could you please take a look at this? Thank you!

[2021-03-19 16:26] alexsherstinsky commented on #2561
I am looking at it now.  Thank you to the users for reporting it.

[2021-03-19 16:43] alexsherstinsky commented on #2563
@eugmandel Is this already working in our latest version merged into `develop` as of last night?  If so, then we can release today (or Monday) to unblock the user (next week would be preferred).  Thanks.

[2021-03-19 17:02] eugmandel commented on #2563
@alexsherstinsky let's do a minor version release early next week.

[2021-03-19 17:04] eugmandel commented on #2563
This is the PR that (among other things) contains the fix: https://github.com/great-expectations/great_expectations/pull/2567

[2021-03-19 18:47] eugmandel commented on #2540
Here is the summary of where we are with conditional Expectations on SQLAlchemy in V2 API and in V3 API:
* This PR by @bouke-nederstigt enables them in V2 API: https://github.com/great-expectations/great_expectations/pull/1979. We are still working through approving it - @jcampbell is on it.
* V3 API has some code that will enable row_condition for SQLAlchemy, but for now it is used only internall

[2021-03-19 23:39] Aylr commented on #2570
@olhmr Thanks for the *really clean* write up and find!

We are actively working on the CLI - specifically to help bring v3 API support to the CLI by use of the `--v3-api` flag.

By specifying no flag, the CLI defaults to using the v2 BatchKwargs API. As you correctly demonstrate, the `--config` argument is not supported in the v2 API.

After a discussion about three potential fixes to this proble

[2021-03-20 01:30] alexsherstinsky commented on #2561
Thank you, @jarandaf -- it appears that our implementation of wanting to honor the developer's desire to specify his/her own custom `spark.app.name` is not working with `Databricks`, where the system value of this property is `Databricks Shell`.  Apparently, once stopped, `SparkContext` is having difficulties being restarted.  I was able to reproduce the issue -- thanks!

Moreover, we conducted fu

[2021-03-20 18:28] sfrancavilla commented on #2484
@jcampbell @eugmandel just a quick update to let you know that all tests on my PR passed successfully.

[2021-03-21 15:26] mkerschbaumer opened #2575 "High memory consumption for loop batch import"
**Describe the bug**
Reading in batches in a loop (required for my specific usecase) causes an increase in memory consumption, despite trying to free up memory. Most of the memory appears to be used by  pandas.core.series.Series and pandas.core.frame.DataFrame.

**To Reproduce**

Attempt to read in CSV files using the PandasExecutionEngine in a loop using the script below.

great_expectations.yml:

[2021-03-22 03:15] eugmandel commented on #2532
@jstammers I agree that since both the data and the arguments are date time objects, it feels wrong to have to specify parse_strings_as_datetimes=True to make this work. We would welcome a community PR to improve this behavior.

[2021-03-22 03:17] eugmandel commented on #2524
@sorendaugaard We are iterating on the interface and the pattern of usage of RuntimeDataConnector - an improvement is coming shortly.

[2021-03-22 03:19] eugmandel commented on #2571
@brunocous This how-to guide shows how to contribute a new Expectation to the library: https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_and_editing_expectations/how_to_contribute_a_new_expectation_to_great_expectations.html

[2021-03-22 03:20] eugmandel commented on #2569
@luke321321 Thank you for reporting this - we will triage and respond.

[2021-03-22 03:21] eugmandel commented on #2565
@rmsdaltix Thank you for posting this - we will triage and respond this week.

[2021-03-22 03:29] eugmandel commented on #2564
@vmoulds01 The CamelCase name of your Expectation's class is translated to snake_name of the Expectation. I would first check the name of the class. If it still does not work, you can attach your Expectation's code here, so that this issue can be reproduced.

[2021-03-22 03:32] eugmandel commented on #2551
@gityow The profiler can be configured to exclude some columns by name ("excluded_columns" config key). However, I would like to focus on the "Failed to get cardinality of column" error - we will triage this.

[2021-03-22 10:21] xaniasd opened #2576 "expect_column_values_to_be_unique does not work with PostgreSQL"
**Describe the bug**
Running an `expect_column_values_to_be_unique` validation on a PostgreSQL database table fails. Other expectations are working as expected.

**To Reproduce**
Steps to reproduce the behavior:
Running Great Expectations v0.13.14

1. Connection/setup for postgresql database
[code]
2. Execute validation with expect_column_values_to_be_unique
`validator.expect_column_values_to_be_u

[2021-03-22 11:46] jarandaf commented on #2501
I am getting the same issue with `0.13.12` version (had to downgrade because of #2561). Has this been already solved in latest releases?

[2021-03-22 12:03] benoitLebreton-perso commented on #2501
Yes it is solved in `0.13.14`

[2021-03-22 13:16] ZeMirella opened #2577 "Exception Promise already completed"
**Describe the bug**
The job presented intermittent errors during data processing, and I couldn't identify what was causing this exception.

**To Reproduce**
Steps to reproduce the behavior:

We created a class where we passed all the necessary configurations to the DataContextConfig, and after that, we passed the configurations to the BaseDataContext class (project_config = DataContextConfig)

co

[2021-03-22 14:47] eugmandel commented on #2575
@mkerschbaumer Thank you for posting this issue. We will triage today and respond.

[2021-03-22 14:50] eugmandel commented on #2576
@xaniasd Thank you for reporting this! The error message "relation "ge_tmp_dec2639d" does not exist
LINE 4: FROM ge_tmp_dec2639d" makes me think that the the code is using one database connection to create the temp table and another one to query it. We used to have this issue in another area. We will triage today.

[2021-03-22 14:55] peterdhansen commented on #2559
fixed by #2556

[2021-03-22 14:55] #2559 closed, assigned to nobody

[2021-03-22 18:08] eugmandel commented on #2551
@gityow Having discussed this issue in our triage, we have a request for you - could you help us debug this?

Most likely, the underlying problem is an error in executing an Expectation that the profiler encounters.

Could you please replace the last four lines in your code snippet with this:

[code]
?

Most likely, you will see an exception - please post the error and the stack trace.
Thank you!

[2021-03-22 18:20] eugmandel commented on #2576
@xaniasd We triaged this issue today. Most likely, my hypothesis from the previous comment is right. The core team might take at least a couple of weeks to get to this. Would you be interested/feel comfortable to get to the root of this and create a PR?

[2021-03-22 18:51] eugmandel commented on #2575
@mkerschbaumer Triaged this today. @jcampbell will post some follow-up.

[2021-03-22 19:09] xaniasd commented on #2576
hi @eugmandel, sure, I can give it a try

[2021-03-22 19:24] alexsherstinsky commented on #2561
Hello again @jarandaf -- the above mentioned PR has been merged into the `develop` branch.  If you are able to load `great_expectations` from that branch, could you please re-test your notebook in Databricks and let us know whether or not the issue is still present?  Otherwise, we can test it in a couple of days when the next release is published.  Thank you!

[2021-03-22 19:33] peterdhansen opened #2578 "[ENHANCEMENT] Add all partitions to checkpoint."
If I define a data source using partitions, e.g.
[code]

It would be very useful if a SimpleCheckpoint can add all partitions since the number and definitions of partitions is sometimes unknown:

## Possible Syntax:

[code]

[2021-03-23 02:33] jcampbell commented on #2523
That's a great idea, @eugmandel -- I think that would make for a great additional expectation! I suspect it would be a great case study for someone interested in building a new expectation via the contrib package.

[2021-03-23 06:11] eugmandel commented on #2523
@JerryJohn95 This guide will walk you through the process of developing and contributing a new Expectation: https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_and_editing_expectations/how_to_contribute_a_new_expectation_to_great_expectations.html

Reach out for help in our Slack if needed.

[2021-03-23 08:35] jarandaf opened #2580 "Dev environment setup fails due to missing required dependencies for pyspark package"
**Describe the bug**
Setting up dev environment fails due to missing `pyspark` package dependency.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an empty virtual environment and activate it.
2. Update pip: `pip install --upgrade pip`
3. Install dependencies: `pip install -r requirements-dev.txt -c constraints-dev.txt`
4. See error (related to `pyspark` package): `Could not import py

[2021-03-23 08:53] jarandaf commented on #2561
Hi @alexsherstinsky, thank you for the PR. I was able to try the latest develop changes (414e45ba9980fa033abf119e9c38421a807561c1) and It seems the spark context keeps getting stopped though.

[2021-03-23 12:33] tomas-sobotik opened #2581 "Datadocs on S3 is always overwritten when GE runs from GitHub Action"
**Describe the bug**
I have my DataDocs stored in S3 bucket. Everything works as expected when i run the checkpoint from my local machine. I can see in the data docs the complete history of all runs. But when I run the checkpoint as part of my GitHub action it always overwrite the content of data_docs subdirectory in S3 and store there just the latest run, which means that all history is gone. I h

[2021-03-23 12:46] tomas-sobotik opened #2582 "GE github action fail for Snowflake tables"
**Describe the bug**
I have tried to use GE github action: https://github.com/great-expectations/great_expectations_action but the validation always fail for my Snowflake tables with following error:

`"No snowflake_transient_table specified. Snowflake with a query batch_kwarg will create "
ValueError: No snowflake_transient_table specified. Snowflake with a query batch_kwarg will create a transie

[2021-03-23 15:40] alexKrebs2 opened #2584 "JSONDecodeError: Expecting property name enclosed in double quotes"
**Describe the bug**
Yesterday I updated Great Expectations from version 0.11.6 to 0.13.14 and ran the same code that we always have. Now, when running:
 `
run_id = {
  "run_name": "Data_Feed",  # insert your custom run_name here which will be used to identify folders later
  "run_time": datenow # set time to current time from cell above
}
results = context.run_validation_operator("action_list_ope

[2021-03-23 16:02] peterdhansen commented on #2533
This was my mistake, The function looks for a `DataSet` not a `Batch`. I don't think there is a way to get a dataset from a validator

Doc: [build_continuous_partition_object](https://docs.greatexpectations.io/en/latest/autoapi/great_expectations/dataset/util/index.html?highlight=build%20continuous%20partition%20object#great_expectations.dataset.util.build_continuous_partition_object)