[2017-09-08 18:54] jpcampb2 commented on #1
I think they should throw exceptions. Also if they are, for example, passed strings, objects, or other nonsense that doesn't make sense for them.

That also can allow us to ensure nonsense expectations aren't added to the config (#83)

[2017-09-08 18:54] jpcampb2 commented on #1
I agree. Magical typecasting is a big source of potential confusion.

Users can always recast variable types if they want to.

On Tue, Sep 5, 2017 at 3:56 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 18:54] jpcampb2 commented on #3
I'm noting this in this issue even though it's not 100% related. Working on a different project I just noticed why I suspect we aren't getting the correct function signature and docstring in the autocomplete help of ipython: we should add @wraps from functools to our decorators.

This might need to be a different issue, but since this issue is about cleaning up autocomplete, I'm dropping it here s

[2017-09-08 18:54] jpcampb2 commented on #3
Is this issue obsolete by the new decorators?

[2017-09-08 18:54] jpcampb2 commented on #3
No, not obsolete.

The new decorators should incorporate both of these features, but they
don't yet.

On Fri, Jul 28, 2017 at 10:07 PM, jcampbell <notifications@github.com>
wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 18:54] jpcampb2 commented on #3
I think this gets bumped out from 0.2

[2017-09-08 18:54] jpcampb2 commented on #3
Agreed.

On Fri, Aug 25, 2017 at 8:16 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 18:54] jpcampb2 commented on #5
Confirming our call on this--great list!

[2017-09-08 18:54] jpcampb2 commented on #5
This is about 80% done. I'll close this issue once I've added issues for the remaining items.

[2017-09-08 18:54] jpcampb2 commented on #5
I think this is ready to close now, based on the merged issues. Leaving open until @abegong has updated docs to describe the new expectations' features...

[2017-09-08 18:54] jpcampb2 commented on #6
Tests fail for me because the argh package is not installed by default (listed in requirements).

[2017-09-08 18:54] jpcampb2 commented on #6
How about now?

On Sat, Sep 2, 2017 at 3:11 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 18:54] jpcampb2 commented on #13
Proposed API:
[code]

`my_df.remove_expectation("expect_column_to_exist", "Unnamed:0")`
=> Removes expect_column_to_exist where column="Unnamed:0" (a single expectation)

`my_df.remove_expectation("expect_column_to_exist", {"column": "Unnamed:0"})`
=> Removes expect_column_to_exist where column="Unnamed:0" (a single expectation)

my_df.remove_expectation("expect_column_to_exist", {"column": "Unnam

[2017-09-08 18:55] jpcampb2 commented on #13
This API makes sense to me. Did you explicitly consider and reject the idea of having some sort of expectation id that we build as well? If we build an expectation id as a hash of all_args (during expectation creation time, and potentially something else if needed) we could expose a much cleaner api of: ```df.remove_expectation(expectation_id)``` It could also be a nice way to organize results fro

[2017-09-08 18:55] jpcampb2 commented on #13
I thought about ids a bit. We'd definitely go that direction if
great_expectations were a full workflow application, backed by a database.
In an exploratory workflow, I think ids are more trouble than they're worth.

* If I run exactly the same expectation twice, does that change the id?
* What if I change the `mostly` parameter a little bit?
* What if I change it right back?

I don't think we wan

[2017-09-08 18:55] jpcampb2 commented on #14
This makes sense. It'd have to be implemented within individual expectations, though.

Also, I suspect we'll discover than the best output format for aggregate exceptions will differ by expectation. Haven't thought it through all the way yet, though...

[2017-09-08 19:05] jpcampb2 commented on #15
The same issue will apply to all expectations with `min_value` and `max_value`.

Thoughts, @dgmiller ?

[2017-09-08 19:05] jpcampb2 commented on #15
I think they should throw exceptions. Also if they are, for example, passed strings, objects, or other nonsense that doesn't make sense for them.

That also can allow us to ensure nonsense expectations aren't added to the config (#83)

[2017-09-08 19:05] jpcampb2 commented on #15
I agree. Magical typecasting is a big source of potential confusion.

Users can always recast variable types if they want to.

On Tue, Sep 5, 2017 at 3:56 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 19:05] jpcampb2 commented on #17
I'm noting this in this issue even though it's not 100% related. Working on a different project I just noticed why I suspect we aren't getting the correct function signature and docstring in the autocomplete help of ipython: we should add @wraps from functools to our decorators.

This might need to be a different issue, but since this issue is about cleaning up autocomplete, I'm dropping it here s

[2017-09-08 19:05] jpcampb2 commented on #17
Is this issue obsolete by the new decorators?

[2017-09-08 19:05] jpcampb2 commented on #17
No, not obsolete.

The new decorators should incorporate both of these features, but they
don't yet.

On Fri, Jul 28, 2017 at 10:07 PM, jcampbell <notifications@github.com>
wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 19:05] jpcampb2 commented on #17
I think this gets bumped out from 0.2

[2017-09-08 19:05] jpcampb2 commented on #17
Agreed.

On Fri, Aug 25, 2017 at 8:16 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 19:05] jpcampb2 commented on #19
Confirming our call on this--great list!

[2017-09-08 19:05] jpcampb2 commented on #19
This is about 80% done. I'll close this issue once I've added issues for the remaining items.

[2017-09-08 19:05] jpcampb2 commented on #19
I think this is ready to close now, based on the merged issues. Leaving open until @abegong has updated docs to describe the new expectations' features...

[2017-09-08 19:05] jpcampb2 commented on #20
Tests fail for me because the argh package is not installed by default (listed in requirements).

[2017-09-08 19:05] jpcampb2 commented on #20
How about now?

On Sat, Sep 2, 2017 at 3:11 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 19:05] jpcampb2 commented on #21
Have there been commits against this? Looking at 0.2 milestone issues...

[2017-09-08 19:05] jpcampb2 commented on #21
@abegong flagging this again; I think we missed it in our 0.2 discussions, but this is worth thinking about in the same vein as the remove_expectation proposal from #68

[2017-09-08 19:05] jpcampb2 commented on #21
+1
They need to use similar logic.

[2017-09-08 19:05] jpcampb2 commented on #22
http://code.activestate.com/recipes/578587-inherit-method-docstrings-without-breaking-decorat/ ?

[2017-09-08 19:05] jpcampb2 commented on #24
In terms of repo migration, it looks like we can easily just set up a new organization from GitHub perspective which would allow me to setup Travis. Does GreatExpectations organization make sense?

[2017-09-08 19:05] jpcampb2 commented on #27
Proposed API:
[code]

`my_df.remove_expectation("expect_column_to_exist", "Unnamed:0")`
=> Removes expect_column_to_exist where column="Unnamed:0" (a single expectation)

`my_df.remove_expectation("expect_column_to_exist", {"column": "Unnamed:0"})`
=> Removes expect_column_to_exist where column="Unnamed:0" (a single expectation)

my_df.remove_expectation("expect_column_to_exist", {"column": "Unnam

[2017-09-08 19:05] jpcampb2 commented on #27
This API makes sense to me. Did you explicitly consider and reject the idea of having some sort of expectation id that we build as well? If we build an expectation id as a hash of all_args (during expectation creation time, and potentially something else if needed) we could expose a much cleaner api of: ```df.remove_expectation(expectation_id)``` It could also be a nice way to organize results fro

[2017-09-08 19:05] jpcampb2 commented on #27
I thought about ids a bit. We'd definitely go that direction if
great_expectations were a full workflow application, backed by a database.
In an exploratory workflow, I think ids are more trouble than they're worth.

* If I run exactly the same expectation twice, does that change the id?
* What if I change the `mostly` parameter a little bit?
* What if I change it right back?

I don't think we wan

[2017-09-08 19:05] jpcampb2 commented on #28
This makes sense. It'd have to be implemented within individual expectations, though.

Also, I suspect we'll discover than the best output format for aggregate exceptions will differ by expectation. Haven't thought it through all the way yet, though...

[2017-09-08 19:13] jpcampb2 commented on #29
The same issue will apply to all expectations with `min_value` and `max_value`.

Thoughts, @dgmiller ?

[2017-09-08 19:13] jpcampb2 commented on #29
I think they should throw exceptions. Also if they are, for example, passed strings, objects, or other nonsense that doesn't make sense for them.

That also can allow us to ensure nonsense expectations aren't added to the config (#83)

[2017-09-08 19:13] jpcampb2 commented on #29
I agree. Magical typecasting is a big source of potential confusion.

Users can always recast variable types if they want to.

On Tue, Sep 5, 2017 at 3:56 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 19:16] jpcampb2 commented on #31
I'm noting this in this issue even though it's not 100% related. Working on a different project I just noticed why I suspect we aren't getting the correct function signature and docstring in the autocomplete help of ipython: we should add @wraps from functools to our decorators.

This might need to be a different issue, but since this issue is about cleaning up autocomplete, I'm dropping it here s

[2017-09-08 19:16] jpcampb2 commented on #31
Is this issue obsolete by the new decorators?

[2017-09-08 19:16] jpcampb2 commented on #31
No, not obsolete.

The new decorators should incorporate both of these features, but they
don't yet.

On Fri, Jul 28, 2017 at 10:07 PM, jcampbell <notifications@github.com>
wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 19:16] jpcampb2 commented on #31
I think this gets bumped out from 0.2

[2017-09-08 19:16] jpcampb2 commented on #31
Agreed.

On Fri, Aug 25, 2017 at 8:16 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 19:19] jpcampb2 commented on #33
Confirming our call on this--great list!

[2017-09-08 19:19] jpcampb2 commented on #33
This is about 80% done. I'll close this issue once I've added issues for the remaining items.

[2017-09-08 19:19] jpcampb2 commented on #33
I think this is ready to close now, based on the merged issues. Leaving open until @abegong has updated docs to describe the new expectations' features...

[2017-09-08 19:21] jpcampb2 commented on #34
Tests fail for me because the argh package is not installed by default (listed in requirements).

[2017-09-08 19:21] jpcampb2 commented on #34
How about now?

On Sat, Sep 2, 2017 at 3:11 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 19:22] jpcampb2 commented on #35
Have there been commits against this? Looking at 0.2 milestone issues...

[2017-09-08 19:22] jpcampb2 commented on #35
@abegong flagging this again; I think we missed it in our 0.2 discussions, but this is worth thinking about in the same vein as the remove_expectation proposal from #68

[2017-09-08 19:22] jpcampb2 commented on #35
+1
They need to use similar logic.

[2017-09-08 19:24] jpcampb2 commented on #36
http://code.activestate.com/recipes/578587-inherit-method-docstrings-without-breaking-decorat/ ?

[2017-09-08 19:27] jpcampb2 commented on #38
In terms of repo migration, it looks like we can easily just set up a new organization from GitHub perspective which would allow me to setup Travis. Does GreatExpectations organization make sense?

[2017-09-08 19:32] jpcampb2 commented on #41
Proposed API:
[code]

`my_df.remove_expectation("expect_column_to_exist", "Unnamed:0")`
=> Removes expect_column_to_exist where column="Unnamed:0" (a single expectation)

`my_df.remove_expectation("expect_column_to_exist", {"column": "Unnamed:0"})`
=> Removes expect_column_to_exist where column="Unnamed:0" (a single expectation)

my_df.remove_expectation("expect_column_to_exist", {"column": "Unnam

[2017-09-08 19:32] jpcampb2 commented on #41
This API makes sense to me. Did you explicitly consider and reject the idea of having some sort of expectation id that we build as well? If we build an expectation id as a hash of all_args (during expectation creation time, and potentially something else if needed) we could expose a much cleaner api of: ```df.remove_expectation(expectation_id)``` It could also be a nice way to organize results fro

[2017-09-08 19:32] jpcampb2 commented on #41
I thought about ids a bit. We'd definitely go that direction if
great_expectations were a full workflow application, backed by a database.
In an exploratory workflow, I think ids are more trouble than they're worth.

* If I run exactly the same expectation twice, does that change the id?
* What if I change the `mostly` parameter a little bit?
* What if I change it right back?

I don't think we wan

[2017-09-08 19:33] jpcampb2 commented on #42
This makes sense. It'd have to be implemented within individual expectations, though.

Also, I suspect we'll discover than the best output format for aggregate exceptions will differ by expectation. Haven't thought it through all the way yet, though...

[2017-09-08 19:35] jpcampb2 commented on #43
@jcampbell These are all removed from `pandas_dataset.py`.

`suppress_exceptions` is completely deprecated, so I'll remove it from `base.py` as well.

**Question: do we want to remove `mostly` from `base.DataSet.py`?**

My thinking is that we want the function signature to show up properly in docstrings and autocomplete.
* Do we need to leave `mostly` in the function declaration to accomplish this

[2017-09-08 19:39] jpcampb2 commented on #46
Capturing our conversation on this:

The core tradeoff we're considering in this design decision is the need to prioritize a clear interface to users, allowing as much specificity as possible from the expectation (e.g. in cases where the expectation is not symmetric in column A and column B, that should be easy to spot), while also providing a maintainable codebase in terms of the expectation deco

[2017-09-08 19:41] jpcampb2 commented on #47
This design seems good to me overall.

Two considerations that we might bear in mind during continued design/implementation:

1. A related kind of preprocessing that we cannot express right now is row selection.
  - Developing an API to support that might be useful for enabling more computationally efficient evaluation of large expectations (especially as we get to DataSet backends where not all d

[2017-09-08 19:41] jpcampb2 commented on #47
+1

On row selection: we'll definitely want to have the ability to apply
expectations to downsampled set of rows.

On Tue, Sep 5, 2017 at 12:52 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-08 19:44] jpcampb2 commented on #49
No real opinion from me...in general it seems strange to expect users to provide basic file parsing to me...are you focusing on ensuring that ```validate``` is not burdened with pandas dependency for the more generic DataSet API?

[2017-09-08 19:44] jpcampb2 commented on #49
Over-reliance on pandas is part of it. To my mind, the bigger issue is
avoiding the trap of using tons of parameters when it would be simpler and
more expressive to just let users write code.

Think how many parameters we'd have to slap onto the CLT to enable all the
combinations of:
* read files with different delimiters
* load "non-tabular tabular" data formats like excel and arrow
* drop header

[2017-09-11 00:22] jpcampb2 opened #1 "Do we really need dataset.@expectation and dataset.@column_expectation"
The code is 90% redundant. Isn't there some way to refactor these?

[2017-09-11 00:23] jpcampb2 opened #2 "Function signatures should be present in base DataSet class and overridden in implementing subclasses (e.g. PandasDataSet)"
Currently, the API doesn't suggest parallelism will necessarily exist in the expectations that will be implemented in classes that inherit from DataSet

[2017-09-11 00:23] jpcampb2 commented on #2
Totally agree. It's on my list for this week.
On Mon, Jun 12, 2017 at 8:42 AM jcampbell <notifications@github.com> wrote:

[2017-09-11 00:23] jpcampb2 commented on #2
Done in commit 1410b7472561fb766e4d3ea5f3aa594943f154cb. Please verify.

[2017-09-11 00:25] jpcampb2 opened #3 "Should expectation decorators add expectations that cannot be executed to the expectation configuration?"
For example, if an expectation is written on a column that does not exist, currently that expectation will immediately be added, even if it is never even evaluated.

[2017-09-11 00:25] jpcampb2 commented on #3
POV: Not by default, but users should be able to change that behavior at the expectation or DataSet level.

[2017-09-11 00:25] jpcampb2 commented on #3
I think this is related to #33 (and that if they should be able to choose to add such expectations that is actually another parameter for the enhanced decorators).

(I'd recommend folding this into #33 and closing it).

[2017-09-11 00:25] jpcampb2 commented on #3
+1. Closing and redirecting to Issue #33 .

[2017-09-11 00:26] jpcampb2 opened #4 "All expectations should have docstrings"

[2017-09-11 00:26] jpcampb2 commented on #4
Finished docstrings in base.py

[2017-09-11 00:28] jpcampb2 opened #5 "In unit tests, we should always use `assert_equal`, not `assert`"

[2017-09-11 00:29] jpcampb2 opened #6 "What should expect_column_value_lengths_to_be_less_than_or_equal_to do when passed floats or integers?"
I would have expected it to throw a TypeError, instead it uses the value of the numeric data.

I think of the "length" of an int or float as meaningless. As such, I would expect this expectation to only work for strings.

[2017-09-11 00:29] jpcampb2 commented on #6
The same issue will apply to all expectations with `min_value` and `max_value`.

Thoughts, @dgmiller ?

[2017-09-11 00:29] jpcampb2 commented on #6
I think they should throw exceptions. Also if they are, for example, passed strings, objects, or other nonsense that doesn't make sense for them.

That also can allow us to ensure nonsense expectations aren't added to the config (#83)

[2017-09-11 00:29] jpcampb2 commented on #6
I agree. Magical typecasting is a big source of potential confusion.

Users can always recast variable types if they want to.

On Tue, Sep 5, 2017 at 3:56 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-11 00:31] jpcampb2 opened #7 "Activate suppress_exceptions in all expectations"
*Lots* of the expectations don't implement suppress_exceptions.

[2017-09-11 00:32] jpcampb2 opened #8 "Re-implement all those poor suppressed expectations."

[2017-09-11 00:34] jpcampb2 opened #9 "Support python3 and python3-compatible unittest framework (unittest)"
nose recommends using a new framework for new projects to support python3, and we want to be as broadly compatible as possible.

[2017-09-11 00:34] jpcampb2 commented on #9
I have created a branch feature/unittest which has a port of all of the nose tests into the unittest framework, as well as associated changes to support python 3. All tests now pass for me in both python2 and python3.

I have not made any additional changes to the tests (i.e. none of the changes we discussed that would make the tests more robust--they are all direct, quick, ports).

[2017-09-11 00:34] jpcampb2 commented on #9
@dgmiller closes this issue with recent pull request.

[2017-09-11 00:35] jpcampb2 opened #10 "Should it be easy to simultaneously create many expectations?"
Consider the case of something like the following:

[code]

Currently, this will work, but we would need to wrap the expectation statement in print() to see the output at all, and even then we cannot see which column the expectation was about, unless we also coerce printing of the dictionary returned by the expectation.  Is this a useful pattern?

[2017-09-11 00:35] jpcampb2 commented on #10
The new include_configuration option will address this use case. Closing.

[2017-09-11 00:37] jpcampb2 opened #11 "Expectations should ensure their configuration is saveable at runtime"
Currently, a user can create an expectation using parameters that are not json serializable but not be aware of the error until attempting to save the config.

[2017-09-11 00:37] jpcampb2 commented on #11
A common failure mode: expectations that return `success` with `type==numpy.bool_` are not JSON serializable.

https://github.com/wiki-ai/revscoring/issues/47

We should be able to fix this with decorators.

[2017-09-11 00:37] jpcampb2 commented on #11
Closing this issue based on the new ensure_json_serializable util.

[2017-09-11 00:38] jpcampb2 opened #12 "Implement the datasource API"

[2017-09-11 00:43] jpcampb2 opened #13 "Settle on a stopgap output spec for expectations result objects"

[2017-09-11 00:43] jpcampb2 commented on #13
# Proposed object spec for expectation results:

## Principles:

* Result objects should be intuitive and self-documenting
* Result objects should be as consistent across expectations as reasonably possibly
* Result objects should be as flat as reasonably possible
* Result objects should help track data lineage

## How that actually works out in practice

It isn't possible to fully satisfy all the

[2017-09-11 00:43] jpcampb2 commented on #13
# Proposed object spec for expectation results:

## Principles:

* Result objects should be intuitive and self-documenting
* Result objects should be as consistent across expectations as reasonably possibly
* Result objects should be as flat as reasonably possible
* Result objects should help track data lineage

It isn't possible to fully satisfy all these criteria all the time. Here's how Great E

[2017-09-11 00:44] jpcampb2 opened #14 "Clean up overall documentation"

[2017-09-11 00:46] jpcampb2 opened #15 "Propose an API for custom expectations"

[2017-09-11 00:47] jpcampb2 opened #16 "Add tabbed autocomplete for dataset.column_name.column_expectation"
A bit of sugar:

`dataset.column_name.expect_something(arg1, arg2)` should evaluate to `dataset.expect_something(column_name, arg1, arg2)`

...and ipython should be able to autocomplete the expectation on tab.

[2017-09-11 00:47] jpcampb2 commented on #16
I'm noting this in this issue even though it's not 100% related. Working on a different project I just noticed why I suspect we aren't getting the correct function signature and docstring in the autocomplete help of ipython: we should add @wraps from functools to our decorators.

This might need to be a different issue, but since this issue is about cleaning up autocomplete, I'm dropping it here s

[2017-09-11 00:47] jpcampb2 commented on #16
Is this issue obsolete by the new decorators?

[2017-09-11 00:47] jpcampb2 commented on #16
No, not obsolete.

The new decorators should incorporate both of these features, but they
don't yet.

On Fri, Jul 28, 2017 at 10:07 PM, jcampbell <notifications@github.com>
wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-11 00:47] jpcampb2 commented on #16
I think this gets bumped out from 0.2

[2017-09-11 00:47] jpcampb2 commented on #16
Agreed.

On Fri, Aug 25, 2017 at 8:16 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-11 00:49] jpcampb2 opened #17 "Define API for distributional expectations"

[2017-09-11 00:49] jpcampb2 commented on #17
Closing, based on API as defined in the current feature/distributions branch.

[2017-09-11 00:50] jpcampb2 opened #18 "Remove the need for `DataSet` when using the column_expectation decorator"
Not this:
[code]

But this:
[code]

[2017-09-11 00:50] jpcampb2 commented on #18
Not possible. Using the MetaDataSet pattern instead.

[2017-09-11 00:52] jpcampb2 opened #19 "Docstrings"
Docstrings updated for version 0.1

[2017-09-11 00:53] jpcampb2 opened #20 "Feature/stopgap output spec"

[2017-09-11 00:55] jpcampb2 opened #21 "Remove all refs to expect_column_value_lengths_to_be_less_than_or_equal_to"

[2017-09-11 00:55] jpcampb2 commented on #21
Deleted all references to this expectation in the feature/unit_test_refactor branch.

[2017-09-11 00:55] jpcampb2 commented on #21
This issue is resolved when feature/unit_test_refactor is merged into develop.

[2017-09-11 00:56] jpcampb2 opened #22 "Implement expect_column_values_to_be_of_type with tests"

[2017-09-11 00:56] jpcampb2 commented on #22
The first prototype of this method is implemented with basic unit tests.

[2017-09-11 00:58] jpcampb2 opened #23 "Implement expect_column_values_to_match_json_schema with tests"

[2017-09-11 00:59] jpcampb2 opened #24 "Document behavior of expect_column_value_lengths_to_be_between"

[2017-09-11 01:01] jpcampb2 opened #25 "Add more thorough unit tests for..."
Add more thorough unit tests for
	expect_table_row_count_to_be_between
	expect_table_row_count_to_equal
	expect_column_values_to_be_dateutil_parseable
	expect_column_values_to_be_valid_json
	expect_column_stdev_to_be_between

[2017-09-11 01:01] jpcampb2 commented on #25
@abegong I refactored some of the unit tests so that testing is standardized. The test input and output is stored in a list of dictionaries. I'd love some feedback. Also, do you know a way to test for coverage in nose or unittests?

[2017-09-11 01:01] jpcampb2 commented on #25
We need a way to test coverage but most unit tests cover most cases now.

[2017-09-11 01:02] jpcampb2 opened #26 "Decide on expected behavior for (and implement) distributional expectations"
Decide on expected behavior for (and implement)
	expect_column_numerical_distribution_to_be
	expect_column_frequency_distribution_to_be

[2017-09-11 01:03] jpcampb2 commented on #26
We have a rough alpha of this API ready, consisting of a simple api for both numerical and frequency distributions, with associated helper functions to deal with common cases.

Testing still needs to be developed, and we need to be sure we are able to tune the tests' sensitivity in desirable way.

[2017-09-11 01:03] jpcampb2 commented on #26
Closing with latest commit.

[2017-09-11 01:04] jpcampb2 opened #27 "Feature/unit test refactor"
Unit tests have been refactored and converted to work in python 3. See commit comments for specific details.

[2017-09-11 01:06] jpcampb2 opened #28 "Add documentation on running tests to the docs (and finish converting unittests)"
Running unit tests currently requires of a mix of:

`python -m unittest tests` (for things converted to unittest) `nosetests` (for those not). We need to finish conversion and add to developer/contributor docs.

[2017-09-11 01:06] jpcampb2 commented on #28
Note: cleanup to test_great_expectations and new distributional unittests are also needed.

[2017-09-11 01:07] jpcampb2 opened #29 "Standardize output formats"

[2017-09-11 01:09] jpcampb2 opened #30 "Convert expectation decorators in pandas_dataset.py and update expectation decorator in base.py"
expect_table_row_count_to_equal should be changed to DataSet.table_expectation
expect_table_row_count_to_be_between should be changed to DataSet.table_expectation
expect_column_values_to_be_subset should be to DataSet.expectation
update decorators in base.py to use the new python 3 logic

[2017-09-11 01:09] jpcampb2 commented on #30
What's the python 3 logic?

[2017-09-11 01:09] jpcampb2 commented on #30
These are now updated in the new schema to be based on base @expectation

[2017-09-11 01:10] jpcampb2 opened #31 "Create issues from this issue. :)"
Notes from July 10th call:

### Custom expectations:
* Standardize on `column_map_expectation` and `column_aggregate_expectation`
* Drop `column_elementwise_expectation` for now. (If we discover we need it, we can add it back it.)
* Add better worked examples in the docs.
* We also need to add a prototyping syntax for expectations that doesn't require subclassing and decorators. Something along th

[2017-09-11 01:12] jpcampb2 opened #32 "Should `catch_exceptions` try to continue executing, or just return False with an informative error message?"

[2017-09-11 01:12] jpcampb2 commented on #32
Return False with an informative error message.

Going the first route only works if we're developing @column_elementwise_expectations, not column_map* or column_aggregate_*.

[2017-09-11 01:13] jpcampb2 opened #33 "What additional logic should we pack into Expectation decorators?"
What are all the generic parameters that Expectations should accept?

All Expectations
* output_format
* include_kwargs
* catch_exceptions
* exclude_null_values?

For column_map_expectations
* mostly

For column_aggregate_expectations
* confidence_threshold

What other logic can we include?
* Input validation

* Output validation
    * Is JSON serializable
    * Has expected fields, etc.

* Docstr

[2017-09-11 01:13] jpcampb2 commented on #33
Confirming our call on this--great list!

[2017-09-11 01:13] jpcampb2 commented on #33
This is about 80% done. I'll close this issue once I've added issues for the remaining items.

[2017-09-11 01:13] jpcampb2 commented on #33
I think this is ready to close now, based on the merged issues. Leaving open until @abegong has updated docs to describe the new expectations' features...

[2017-09-11 01:15] jpcampb2 opened #34 "Proposal: Use a WeightedPartitions for distributional expectations"
[code]

`Partitions` specifies the lower bound for each partition.
`Weights` specifies the total mass within each partition. (lower_bound <= value < upper_bound)

* The number of entries in partition and weight lists must be equal.
* For convenience, partitions are always sorted in ascending order.
* Weights must sum to exactly 1.0

Note: Are there a JSON-serializable versions of `inf` and `-inf`?

[2017-09-11 01:15] jpcampb2 commented on #34
Agreed on this. I do not think there are JSON-serializable inf and -inf (at least, not that are also numeric types). We may be able to get around this by deciding whether they are implicitly there based on the number of weights provided:

[code]

vs
[code]

[2017-09-11 01:15] jpcampb2 commented on #34
If it comes to that, I'd lean towards explicitly including "-inf" and "inf" endpoints as strings. Explicit is better than implicit.

[2017-09-11 01:16] jpcampb2 opened #35 "Remove (broken) multicolumn relations and check serialization for all expectations"

[2017-09-11 01:18] jpcampb2 opened #36 "Address isinstance python2 and python3 compatibility"
Currently, ensure_json_serializable uses instance in a way that does not work for both python 2 and 3.

Essentially this pushes the project to only python2 in this version (since @abegong added the unicode type back to the check).

[2017-09-11 01:18] jpcampb2 commented on #36
The unit tests pass and this issue is at least temporarily resolved. The solution is as follows:

The if isinstance statements in ensure_json_serializable are Python 3 compatible but include a workaround for Python 2 unicode and long types. The else statement includes a try-except block that checks isinstance for unicode and long types. Otherwise, it raises a TypeError indicating that the type can

[2017-09-11 01:18] jpcampb2 commented on #36
I guess since the feature/unittest_to_pytest branch hasn't been merged into develop yet, this issue should stay open until the merge.

[2017-09-11 01:18] jpcampb2 commented on #36
Mission complete

[2017-09-11 01:19] jpcampb2 opened #37 "Append_expectation drops expectations of the same type even for different columns"
...which is very broken. 👎

[2017-09-11 01:19] jpcampb2 commented on #37
My mistake.

[2017-09-11 01:21] jpcampb2 opened #38 "ensure unittest functionality is python 2 and 3 compatible"

[2017-09-11 01:21] jpcampb2 commented on #38
Note that the ensure_json_serializable function is currently not compatible with both (because of reference to unicode). Can you fix that as part of this issue?

[2017-09-11 01:21] jpcampb2 commented on #38
I believe this issue is also at the root of the one remaining failing unittest on the `develop` branch.

`test_great_expectations.TestValidation.test_validate` reads in a json object and compares it with an object generated by PandasDataSet.validate. One contains mostly unicode object, the other doesn't.

Like the ensure_json_serializable issue, I don't think we can resolve this until we settle on

[2017-09-11 01:21] jpcampb2 commented on #38
There is some small straggling here, but it is more general cross-platform stuff that I think we've agreed does not need to hold up 0.2. I'm closing this and we can open a new issue as needed for the better-diagnosed problems (assuming we get a CI solution set up to help manage that decision making better).

[2017-09-11 01:22] jpcampb2 opened #39 "Improve distributional expectations"
Distributional expectations need:
- Documentation
- Bug Fixes
- Unit tests
- Better and simpler helpers
- KL Divergence for discrete data

[2017-09-11 01:24] jpcampb2 opened #40 "Feature/distributional expectations"
Close #39 with improvements for documentation, unit tests, and bug fixes.

[2017-09-11 01:25] jpcampb2 opened #41 "Feature/distributional expectations"

[2017-09-11 01:27] jpcampb2 opened #42 "With the new decorators, passing args (instead of kwargs) to Expectations sometimes crashes them."
[Replication example needed]

We need to either fix this, or document and own it.

Also, we should write tests against this.

At this stage in the decorator refactor, this is the single biggest source of uncertainty for me.

[2017-09-11 01:27] jpcampb2 commented on #42
I believe this was a duplicate of positional args issue? Closing...

[2017-09-11 01:28] jpcampb2 opened #43 "Implement these flags in validation tool"
`great_expectations my_dataset.csv my_expectations.json --output_format=BOOLEAN_ONLY --catch_exceptions=False --include_config=True`

[2017-09-11 01:28] jpcampb2 commented on #43
Tests fail for me because the argh package is not installed by default (listed in requirements).

[2017-09-11 01:28] jpcampb2 commented on #43
How about now?

On Sat, Sep 2, 2017 at 3:11 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-11 01:30] jpcampb2 opened #44 "In append_expecation, add an option for *not* overwriting duplicate expectations."

[2017-09-11 01:30] jpcampb2 commented on #44
Have there been commits against this? Looking at 0.2 milestone issues...

[2017-09-11 01:30] jpcampb2 commented on #44
@abegong flagging this again; I think we missed it in our 0.2 discussions, but this is worth thinking about in the same vein as the remove_expectation proposal from #68

[2017-09-11 01:30] jpcampb2 commented on #44
+1
They need to use similar logic.

[2017-09-11 01:31] jpcampb2 opened #45 "Docstrings in DataSet Expectations should propagate to PandasDataSet"

[2017-09-11 01:31] jpcampb2 commented on #45
http://code.activestate.com/recipes/578587-inherit-method-docstrings-without-breaking-decorat/ ?

[2017-09-11 01:33] jpcampb2 opened #46 "Should Expectations include an `exclude_null_values` parameter?"

[2017-09-11 01:33] jpcampb2 commented on #46
I think either include_ or exclude_ makes sense, but it should be an option.

Consideration: if you do not exclude_null_values, should expectations that do not tolerate nulls (like partitions/distributional expectations) fail with a "has null values" error? That thinking (that there are some that cannot have nulls) makes me think it makes more sense to use an "include_null_values" parameter that d

[2017-09-11 01:33] jpcampb2 commented on #46
A few thoughts:

1. We already have `expect_column_values_to_be_nonmissing`. So if users want to declare that data can *never* be missing, they have a clear path to do so.

2. It's always frustrated me how bad sklearn is at dealing with missing values. Yes, lots of statistical estimators can't handle missing data. No, I don't want the estimator to make lots of black box assumptions without me know

[2017-09-11 01:33] jpcampb2 commented on #46
I'm going to close this issue now. For the record, we seem to have landed in the state where the answer to the original issue question is, "No"--there is no "exclude_null_values" parameter.

```@column_map_expectations``` have sensible reporting on null values all the time.
The commit above adds some similar basics to ```@column_aggregate_expectations```

For anything more substantial the expectat

[2017-09-11 01:34] jpcampb2 opened #47 "How should we implement distributional expectations within the new expectation decorators?"
Distributional expectations are different from all the other @column_aggregate_expectations:

They need to accept a `confidence_threshold` argument, similar to `mostly` for column_map_expectations. Unlike `mostly`, `confidence_threshold` isn't optional.

In addition to a `true_value`, they should also return a `confidence_value`:

[code]

The difference *isn't* fundamentally because these are expe

[2017-09-11 01:34] jpcampb2 commented on #47
Good call on this today. I favor the two-fold approach of:

1. Changing distributional expectations' names to be more explicit about what they are doing (e.g. expect_column_bootstrapped_ks_test_mean_pvalue_greater_than and
expect_column_chisquare_test_pvalue_greater_than and
expect_column_kl_divergence_less_than

2. Adding the option to return summary information via a modified column_aggregate_ex

[2017-09-11 01:34] jpcampb2 commented on #47
Noting that we are not including a "confidence value" here for the record; instead the parameter will be based on the now more descriptive name of the expectation. So, for example, "p" or "threshold"

[2017-09-11 01:34] jpcampb2 commented on #47
Is this ready to close? Are the docs up to date?

[2017-09-11 01:34] jpcampb2 commented on #47
Yes, it will be ready to close once the commits are fully merged into develop (many relevant commits are not mentioned here because they are wrapped up in the simultaneous move to new decorators for PandasDataSet).

Docs are updated to new names.

[2017-09-11 01:34] jpcampb2 commented on #47
Done and merged to develop.

[2017-09-11 01:36] jpcampb2 opened #48 "named_regex_patterns should actually do something."
Right now, there's not way to programmatically reference them from Expectations.

[2017-09-11 01:37] jpcampb2 opened #49 "expect_column_value_lengths_to_be_between doesn't allow for specifying a single length"
expect_column_value_lengths_to_be_between use exclusive boundaries, so you can't specify that all values are of the same length.  For example:

    drg.expect_column_value_lengths_to_be_between(column=" Average Covered Charges ", min_value=9, max_value=9)

will return:

    {'exception_list': [
      '$105929.47',
      '$101282.03',
      '$146892.00',
    ...

[2017-09-11 01:37] jpcampb2 commented on #49
We should
1. Add expect_column_value_lengths_to_be_equal_to
and
2. Make all uses of `max_value` and `min_value` inclusive. (>= and <=, not > and <)

[2017-09-11 01:39] jpcampb2 opened #50 "expect_column_proportion_of_unique_values_to_be_between doesn't work without optional field max_value"
Returns False:
'data_set.expect_column_proportion_of_unique_values_to_be_between(column="ID_COLUMN", min_value=1, include_config=True)['success']

Returns True:
'data_set.expect_column_proportion_of_unique_values_to_be_between(column="ID_COLUMN", min_value=1, max_value=1, include_config=True)['success']

[2017-09-11 01:39] jpcampb2 commented on #50
Thanks for catching this. We've got a fix in develop for the next release.

[2017-09-11 01:40] jpcampb2 opened #51 "Unit tests should not test for strict floating point equality"
Currently, ```test_validate``` in ```test_great_expectations.py``` asserts absolute equality between two dictionaries; this can result in platform-dependent tests. That accounts for the test that is broken in master for me. (There may be other tests that will have the same sensitivity; we should consider that during our review of tests in the 2/3 compatibility checking).

Three outcomes:

- Tests

[2017-09-11 01:40] jpcampb2 commented on #51
https://stackoverflow.com/questions/23549419/assert-that-two-dictionaries-are-almost-equal

[2017-09-11 01:40] jpcampb2 commented on #51
There is a patched/hack version of this from that stackoverflow now in the tests. I'm going to close this since we can use that...

[2017-09-11 01:42] jpcampb2 opened #52 "CLA / TravisCI"
These are more admin than code changes, but I'm putting them here so they don't get forgotten.

* Migrate repo
* Add CLA
* Hook up Travis

[2017-09-11 01:42] jpcampb2 commented on #52
In terms of repo migration, it looks like we can easily just set up a new organization from GitHub perspective which would allow me to setup Travis. Does GreatExpectations organization make sense?

[2017-09-11 01:43] jpcampb2 opened #53 "Convert distributional expectations to new decorators and naming scheme"
Include documentation updates

[2017-09-11 01:43] jpcampb2 commented on #53
Is this ready to close?

[2017-09-11 01:44] jpcampb2 commented on #53
I think it should stay open until the changes are merged into develop

[2017-09-11 01:44] jpcampb2 commented on #53
Done and merged to develop.

[2017-09-11 01:45] jpcampb2 opened #54 "Feature/unittest to pytest"
This pull request modifies the code base to increase compatibility between Python 2 and Python 3. At present, running "python -m unittest" as well as "nosetests" from the root directory gives 4 failures. Two of the failures come from small inaccuracies in the distributional expectations output. The other two failures are due to type mismatch in the output format, likely caused because of type hand

[2017-09-11 01:47] jpcampb2 opened #55 "Accuracy in distributional expectations uses np.allclose()"
The distributional expectations pass with np.allclose() within a specified accuracy.

[2017-09-11 01:48] jpcampb2 opened #56 "Enable positional arguments using new decorator system"
Currently, all arguments must be named arguments.

[2017-09-11 01:48] jpcampb2 commented on #56
Done and merged to develop.

[2017-09-11 01:50] jpcampb2 opened #57 "Check column existence in new decorators"
See the TODO comment under expect_column_values_to_match_strftime_format in pandas_dataset.py

[2017-09-11 01:51] jpcampb2 opened #58 "Review requirements.txt"
I think there are some stray requirements (sqlalchemy, nose) that we should pull prior to next release.

[2017-09-11 01:51] jpcampb2 commented on #58
Done and merged to develop.

[2017-09-11 01:53] jpcampb2 opened #59 "Expectation initialization in base DataSet erroneously assumes self.columns exists"
(A legacy of too tight integration with pandas)

[2017-09-11 01:54] jpcampb2 opened #60 "expect_column_values_to_(not_)be_null is not valid bc null values are removed by the decorator"

[2017-09-11 01:56] jpcampb2 opened #61 "Add unit tests for `format_column_map_output` and `calc_map_expectation_success`"

[2017-09-11 01:57] jpcampb2 opened #62 "Add a few unit tests for positional arguments in expectations."

[2017-09-11 01:57] jpcampb2 commented on #62
There are now tests in test_pandas_dataset.py under the function name test_positional_arguments()

[2017-09-11 01:59] jpcampb2 opened #63 "Add docstring for expectation, column_map_expectation, and column_aggregate_expectation"

[2017-09-11 01:59] jpcampb2 commented on #63
Done and merged to develop.

[2017-09-11 02:00] jpcampb2 opened #64 "Expect_column_to_exist deletes previous"
When I run expect_column_to_exist it deletes all other expect_column_to_exist in the expectation config.

e.g.

[code]
but

[code]

returns returns only ts_max column expectation

[code]

[2017-09-11 02:00] jpcampb2 commented on #64
@eringong Are you working from the master branch? We appear not to have formally opened an issue on this previously, but it is fixed in develop; the 0.2 release (expected this week) will demonstrate correct behavior.

[2017-09-11 02:00] jpcampb2 commented on #64
I believe Abe switched me to develop branch and the same error occurred.
Abe, can you confirm?

On Sat, Aug 26, 2017 at 9:58 AM, jcampbell <notifications@github.com> wrote:

--
*Erin Gong*
*Evaluation and Visitor Studies Consultant*
*Redwood City, CA*
*eringong.com <http://eringong.com>*
*gongerin@gmail.com <gongerin@gmail.com>*
*801.830.7151*

[2017-09-11 02:00] jpcampb2 commented on #64
Can confirm. This was on the `develop` branch.

On Sat, Aug 26, 2017 at 10:38 AM, eringong <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-11 02:00] jpcampb2 commented on #64
I'm trying to reproduce this as follows:

[code]

That appears to me to work. As an offside chance, is it possible that you're only getting the first expectation because your interpreter is only printing from the first line? If you wrapped both of these lines in print statements, what happens?
[code]

[2017-09-11 02:00] jpcampb2 commented on #64
Wrapping both lines in print statements did not make a difference. I tried running your code above on the Titanic dataset and it behaved the same way.

When I this the first time:
```print(df.get_expectations_config())```
it showed expect_column_to_exist for all columns.

But then when I ran:
[code]

[2017-09-11 02:00] jpcampb2 commented on #64
I can replicate this only on master:

[code]
yields
[code]

on develop, I get what I think are the expected results. Can you post the commit you're working from and/or pip uninstall and pip install again? We should have a new release this week, so hopefully this will be cleared up soon...

[code]
yields
[code]

[2017-09-11 02:02] jpcampb2 opened #65 "Correct errant references to old distributional expectations in docs"

[2017-09-11 02:03] jpcampb2 opened #66 "Validate should accept a new expectations config inline"

[2017-09-11 02:05] jpcampb2 opened #67 "BOOLEAN_ONLY output format breaks validate"
Also, should validate have its own extra output_format that includes a summary *across* expectations?

[2017-09-11 02:05] jpcampb2 commented on #67
I'd put that in a separate function that consumes output from validate.

We'll get cleaner separation of concerns if each functions does one thing well.

Marking this issue as done---I fixed it in commit 8dc1beaad7cdbfee6079bcb0b4fde31de9724685

[2017-09-11 02:06] jpcampb2 opened #68 "How can I remove an expectation that I no longer have or entered erroneously?"

[2017-09-11 02:06] jpcampb2 commented on #68
Proposed API:
[code]

`my_df.remove_expectation("expect_column_to_exist", "Unnamed:0")`
=> Removes expect_column_to_exist where column="Unnamed:0" (a single expectation)

`my_df.remove_expectation("expect_column_to_exist", {"column": "Unnamed:0"})`
=> Removes expect_column_to_exist where column="Unnamed:0" (a single expectation)

`my_df.remove_expectation("expect_column_to_exist", {"column": "Unna

[2017-09-11 02:06] jpcampb2 commented on #68
This API makes sense to me. Did you explicitly consider and reject the idea of having some sort of expectation id that we build as well? If we build an expectation id as a hash of all_args (during expectation creation time, and potentially something else if needed) we could expose a much cleaner api of: ```df.remove_expectation(expectation_id)``` It could also be a nice way to organize results fro

[2017-09-11 02:06] jpcampb2 commented on #68
I thought about ids a bit. We'd definitely go that direction if
great_expectations were a full workflow application, backed by a database.
In an exploratory workflow, I think ids are more trouble than they're worth.

* If I run exactly the same expectation twice, does that change the id?
* What if I change the `mostly` parameter a little bit?
* What if I change it right back?

I don't think we wan

[2017-09-11 02:08] jpcampb2 opened #69 "aggregate_expectations summary_obj should perhaps include an "exceptions" equivalent that shows the observed distributions"
(At least for distributional expectations)

[2017-09-11 02:08] jpcampb2 commented on #69
This makes sense. It'd have to be implemented within individual expectations, though.

Also, I suspect we'll discover than the best output format for aggregate exceptions will differ by expectation. Haven't thought it through all the way yet, though...

[2017-09-11 02:09] jpcampb2 opened #70 "Decorator error when creating a custom expectation"
I am trying to create a custom expectation using the dataset.expectation format. It is throwing an error on the decorator.

Here is the custom expectation I'm trying to implement:

[code]
And this is the error message:

[code]

[2017-09-11 02:09] jpcampb2 commented on #70
@eringong this also looks to me like a complication of versions (sorry for the major api change!).

The @DataSet.expectation(params) syntax isn't introduced until 0.2 (currently develop), and this error looks like it is a result of using it on the v0.1 @DataSet.expectation decorator.

[2017-09-11 02:09] jpcampb2 commented on #70
@jcampbell Okay, good to have confirmation from both of these issues -- somehow I am **not** working on the develop branch. Sorry to make you chase down non-errors!

I'll switch to develop (for real this time) and then close issues once I confirm it is working.

[2017-09-11 02:11] jpcampb2 opened #71 "KeyError 'column' after running custom expectations"
After running expectations from a custom DataSet class, when I try to then run the standard expectations (PandasDataSet), it throw a KeyError.

Code I am running:

[code]

Error message:
[code]

The standard expectations work if I run them first, before running any custom expectations.

[code]
No errors thrown when custom expectations are after standard expectations.

The code for my custom datase

[2017-09-11 02:11] jpcampb2 commented on #71
Working on develop branch, commit hash: 1a5b357e54382bbe0aa0ab76e861026db211ad03

[2017-09-11 02:11] jpcampb2 commented on #71
Thanks for the detailed documentation of this issue. This appears to be a bug related to the way that expectations are appended--it's about the presence of expectations that do not depend on column rather than that they are custom expectations. I have committed a patch to develop that should fix your issue.

[2017-09-11 02:11] jpcampb2 commented on #71
Patch seems to have worked. Thank you!

[2017-09-11 02:11] jpcampb2 commented on #71
Awesome. Closing issue!

[2017-09-11 02:12] jpcampb2 opened #72 "Expectation "expect_column_values_to_be_between" returns error if null values present"
When I run `df.my_df.expect_column_values_to_be_between` on columns that have null values, it
throws this IndexingError.

[code]

The column has 2 NaNs. When I drop the NaNs, then expectation works without error.

Not sure if this is intended behavior of the expectation, but it would be a nice feature if the expectation could handle missing data, perhaps as an argument of the expectation (expect_s

[2017-09-11 02:12] jpcampb2 commented on #72
Great Expecatations should be handling null values properly (as you expect), and you're definitely running into a bug. The expect_column_values_to_be_between expectations should be discarding null values before performing the tests (but making that information available to you as a part of the summary_obj if you choose the SUMMARY output format).

I'm not sure what is causing the problem yet. The

[2017-09-11 02:12] jpcampb2 commented on #72
I tried running your code above, and it throws the same error, so we must be having some version/environment issue.

I'm running python 2.7, installed through anaconda. Tried in jupyter notebook, ipython and as a command line script. Installed great-expectations from this commit hash: 1a5b357e54382bbe0aa0ab76e861026db211ad03.

What else would be helpful to know?

[2017-09-11 02:12] jpcampb2 commented on #72
Can you run ```conda list --explicit``` inside the environment you're using to run on and include the results? Which OS are you running on?

[2017-09-11 02:12] jpcampb2 commented on #72
Here are the results.

[code]

I'm on macOS Sierra 10.12.6

[2017-09-11 02:12] jpcampb2 commented on #72
@eringong I can replicate your issue using the environment you have, however I believe that it's an issue that pandas has fixed in https://github.com/pandas-dev/pandas/issues/13637 related to the way that series are broadcast together.

Can you upgrade your pandas to the current version (or at least newer?)

[2017-09-11 02:12] jpcampb2 commented on #72
Does this mean we should update requirements.txt to require pandas 0.19?

On Wed, Aug 30, 2017 at 5:30 AM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-11 02:12] jpcampb2 commented on #72
If it's definitely the issue, then yes I think so. (Though the current requirements should have alerted on install that the scipy version is out of date too, I think).

[2017-09-11 02:12] jpcampb2 commented on #72
Updated all conda packages and it works beautifully now. Thank you!

[2017-09-11 02:12] jpcampb2 commented on #72
On the scipy version alert, it is interesting that when I installed great-expectations, I got this message from the install:

`Requirement already satisfied: scipy>=0.19.0 in /Users/erin/anaconda/lib/python2.7/site-packages (from great-expectations==0.1.1)`

although as we confirmed, conda actually was running scipy-0.18.1, so should have failed.

[2017-09-11 02:12] jpcampb2 commented on #72
Glad it's working!

I updated the requirements file in develop to clarify that we have that dependency on a feature in newer pandas.

For the issue of the scipy requirement, I suspect the issue was from scipy having been installed with pip (perhaps by something else you pip-installed) rather than via conda. I probably should have asked for the result of ```conda env export > environment.yml``` ins

[2017-09-11 02:14] jpcampb2 opened #73 "Remove extraneous `mostly` and `suppress_expectations` from all `column_map` and `column_aggregate expectations`"

[2017-09-11 02:14] jpcampb2 commented on #73
@jcampbell These are all removed from `pandas_dataset.py`.

`suppress_exceptions` is completely deprecated, so I'll remove it from `base.py` as well.

**Question: do we want to remove `mostly` from `base.DataSet.py`?**

My thinking is that we want the function signature to show up properly in docstrings and autocomplete.
* Do we need to leave `mostly` in the function declaration to accomplish this

[2017-09-11 02:15] jpcampb2 opened #74 "Should expectations with min_value and max_value be positional or keyword arguments?"
We're not consistent about this today:

Examples:
[code]

My vote is to make them kwargs...

[2017-09-11 02:15] jpcampb2 commented on #74
I agree consistency is better (in terms of default arguments), but I don't follow the distinction about keyword arguments...isn't that really up to the caller, since the wrapper will convert all arguments (whether positional or keyword) to keyword before calling the implementing method?

e.g. as it is now, I think all four of these work:

[code]
(Note that testing this led to #77.)

[2017-09-11 02:15] jpcampb2 commented on #74
Yes, but there are a bunch of other cases, especially cases where you only specify a min or a max:

`df.expect_column_proportion_of_unique_values_to_be_between('education-num', min_value=0.9)`
=> Expect at least 90% of values to be unique

`df.expect_column_proportion_of_unique_values_to_be_between('education-num', max_value=0.1)`
=> Expect no more than 10% of values to be unique

`df.expect_colum

[2017-09-11 02:15] jpcampb2 commented on #74
This still seems like the current behavior, up to fixing default arguments...```df.expect_column_proportion_of_unique_values_to_be_between('education-num', min_value=0.9)``` works now as expected, e.g., right?

[2017-09-11 02:15] jpcampb2 commented on #74
I added defaults and type checks...I think this now matches the "expected" behavior well, including the hybrid of positional and keyword arguments.

[2017-09-11 02:15] jpcampb2 commented on #74
This is beautiful, clean code. Props!

On Tue, Sep 5, 2017 at 8:03 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-11 02:17] jpcampb2 opened #75 "Validation and command-line tool improvements"
- Option to only return failures
 - Boolean-only output broken
 - Allow custom data source

[2017-09-11 02:18] jpcampb2 opened #76 "Create a new folder for example notebooks?"
@jcampbell @dgmiller

How's this directory structure for storing example scripts, notebooks, and supporting data, configs, and results?

[code]

I'm thinking that this replaces the `tests/examples/` folder. If a test needs to reference an example data set, we use a relative filepath to `./examples/data/` or `./examples/configs/`

[2017-09-11 02:20] jpcampb2 opened #77 "expect_column_proportion_of_unique_values_to_be_between broken"
The expectation breaks with a cryptic error:
[code]

[2017-09-11 02:20] jpcampb2 commented on #77
The problem arose because the expectation as implemented in PandasDataSet erroneously still used ```series``` instead of ```column``` in its method signature.

The notable part here was that the unit test didn't pick it up because the unit test switched to all kwargs input, and provided a ```column``` parameter explicitly instead of using the wrapper-map-to-positional method.

[2017-09-11 02:21] jpcampb2 opened #78 "Add rapid prototyping for custom expectations"
The docs claim we have these functions enabled. We should. We don't.

[code]

[2017-09-11 02:23] jpcampb2 opened #79 "Proposal: `@column_pair_aggregate_expectation` should have virtually the same API as `@column_aggregate_expectation`."
Proposal: `@column_pair_aggregate_expectation` should have virtually the same API as `@column_aggregate_expectation`.

## What arguments do @column_pair_aggregate_expectations accept?
All `@column_pair_aggregate_expectations` should accept `column_A` and `column_B` parameters, plus whatever other arguments are needed.

## What gets sent to the decorated function?

Two series, called column_A and c

[2017-09-11 02:23] jpcampb2 commented on #79
Capturing our conversation on this:

The core tradeoff we're considering in this design decision is the need to prioritize a clear interface to users, allowing as much specificity as possible from the expectation (e.g. in cases where the expectation is not symmetric in column A and column B, that should be easy to spot), while also providing a maintainable codebase in terms of the expectation deco

[2017-09-11 02:24] jpcampb2 opened #80 "Proposal: `DataSet.validation` should accept an optional `preprocessing_method` argument"
Proposal: `DataSet.validation` should accept an optional `preprocessing_method` argument

It’s common for user to want to make some minor changes or additions to a dataframe before applying expectations. Examples:
	1. take the diff of a column, and apply the expectation to the resulting series
	2. apply fill.na
	3. map some string values to floats or ints. ex: `"$1,000,000"` to `1000000.0`

In man

[2017-09-11 02:25] jpcampb2 commented on #80
This design seems good to me overall.

Two considerations that we might bear in mind during continued design/implementation:

1. A related kind of preprocessing that we cannot express right now is row selection.
  - Developing an API to support that might be useful for enabling more computationally efficient evaluation of large expectations (especially as we get to DataSet backends where not all d

[2017-09-11 02:25] jpcampb2 commented on #80
+1

On row selection: we'll definitely want to have the ability to apply
expectations to downsampled set of rows.

On Tue, Sep 5, 2017 at 12:52 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-11 02:26] jpcampb2 opened #81 "simple summary from command line check"
I love the tool but I'd love the option to have a simple summary of the checks that were run.

For example:
Pass: 24
Fail: 1
fail details:
blah, blah
blah numbers blah

[2017-09-11 02:28] jpcampb2 opened #82 "Allow validate to bring in non-csv tables, or csvs with formatting parameters"
Currently, there's no way to validate tsvs or pipe-delimited files using validate.

What should the CLT API be?

Seems like we can either
1. Allow users to pass in arguments that get propagated into `pandas.read_csv`, OR
2. Allow users to define custom import functions that get executed in place of `pandas.read_csv`

I lean towards (2).

[2017-09-11 02:28] jpcampb2 commented on #82
No real opinion from me...in general it seems strange to expect users to provide basic file parsing to me...are you focusing on ensuring that ```validate``` is not burdened with pandas dependency for the more generic DataSet API?

[2017-09-11 02:28] jpcampb2 commented on #82
Over-reliance on pandas is part of it. To my mind, the bigger issue is
avoiding the trap of using tons of parameters when it would be simpler and
more expressive to just let users write code.

Think how many parameters we'd have to slap onto the CLT to enable all the
combinations of:
* read files with different delimiters
* load "non-tabular tabular" data formats like excel and arrow
* drop header

[2017-09-11 02:29] #62 closed, assigned to nobody

[2017-09-11 02:29] #63 closed, assigned to nobody

[2017-09-11 02:29] #64 closed, assigned to nobody

[2017-09-11 02:29] #65 closed, assigned to nobody

[2017-09-11 02:29] #66 closed, assigned to nobody

[2017-09-11 02:29] #67 closed, assigned to nobody

[2017-09-11 02:29] #70 closed, assigned to nobody

[2017-09-11 02:29] #71 closed, assigned to nobody

[2017-09-11 02:29] #72 closed, assigned to nobody

[2017-09-11 02:29] #74 closed, assigned to nobody

[2017-09-11 02:29] #75 closed, assigned to nobody

[2017-09-11 02:29] #77 closed, assigned to nobody

[2017-09-11 02:29] jpcampb2 opened #83 "Broken expectations should not be added to the expectation config"
Currently, impossible expectations can be expressed that will *always* throw an error, but they are nonetheless added to the expectation_config:

[code]
gives (as expected):
[code]

but the expectation config is nonetheless updated.

[code]

This should be as simple as moving append_expectation in the expectation decorator until we have a sensible result.

[2017-09-11 02:30] #46 closed, assigned to nobody

[2017-09-11 02:30] #47 closed, assigned to nobody

[2017-09-11 02:30] #49 closed, assigned to nobody

[2017-09-11 02:30] #50 closed, assigned to nobody

[2017-09-11 02:30] #51 closed, assigned to nobody

[2017-09-11 02:30] #53 closed, assigned to nobody

[2017-09-11 02:30] #54 closed, assigned to nobody

[2017-09-11 02:30] #55 closed, assigned to nobody

[2017-09-11 02:30] #56 closed, assigned to nobody

[2017-09-11 02:30] #58 closed, assigned to nobody

[2017-09-11 02:30] #59 closed, assigned to nobody

[2017-09-11 02:30] #60 closed, assigned to nobody

[2017-09-11 02:31] jpcampb2 opened #84 "added instructions for installing from develop"

[2017-09-11 02:31] #35 closed, assigned to nobody

[2017-09-11 02:31] #36 closed, assigned to nobody

[2017-09-11 02:31] #37 closed, assigned to nobody

[2017-09-11 02:31] #38 closed, assigned to nobody

[2017-09-11 02:31] #39 closed, assigned to nobody

[2017-09-11 02:31] #40 closed, assigned to nobody

[2017-09-11 02:31] #41 closed, assigned to nobody

[2017-09-11 02:31] #42 closed, assigned to nobody

[2017-09-11 02:31] #28 closed, assigned to nobody

[2017-09-11 02:31] #29 closed, assigned to nobody

[2017-09-11 02:31] #30 closed, assigned to nobody

[2017-09-11 02:31] #31 closed, assigned to nobody

[2017-09-11 02:31] #32 closed, assigned to nobody

[2017-09-11 02:31] #24 closed, assigned to nobody

[2017-09-11 02:31] #25 closed, assigned to nobody

[2017-09-11 02:31] #26 closed, assigned to nobody

[2017-09-11 02:31] #27 closed, assigned to nobody

[2017-09-11 02:32] #19 closed, assigned to nobody

[2017-09-11 02:32] #20 closed, assigned to nobody

[2017-09-11 02:32] #21 closed, assigned to nobody

[2017-09-11 02:32] #22 closed, assigned to nobody

[2017-09-11 02:32] #15 closed, assigned to nobody

[2017-09-11 02:32] #17 closed, assigned to nobody

[2017-09-11 02:32] #18 closed, assigned to nobody

[2017-09-11 02:32] #13 closed, assigned to nobody

[2017-09-11 02:32] #14 closed, assigned to nobody

[2017-09-11 02:33] #1 closed, assigned to nobody

[2017-09-11 02:33] #2 closed, assigned to nobody

[2017-09-11 02:33] #3 closed, assigned to nobody

[2017-09-11 02:33] #4 closed, assigned to nobody

[2017-09-11 02:33] #5 closed, assigned to nobody

[2017-09-11 02:33] #7 closed, assigned to nobody

[2017-09-11 02:33] #8 closed, assigned to nobody

[2017-09-11 02:33] #9 closed, assigned to nobody

[2017-09-11 02:33] #10 closed, assigned to nobody

[2017-09-11 02:33] #11 closed, assigned to nobody

[2017-09-11 02:34] #83 closed, assigned to nobody

[2017-09-11 02:34] #84 closed, assigned to nobody

[2017-09-12 14:56] jpcampb2 commented on #80
After some more reflection: what do you think about build a preprocessing option into standard expectations instead of only validate, @abegong ?

I'm thinking of something along the lines of ```expect_column_mean_to_be_between(my_rescale_function(column), 0,1)```

That use case might be better worked under the context of the prototyping expectations umbrella rather than preprocessing, but it actua

[2017-09-13 06:00] abegong commented on #80
hm... Isn't that more complicated in the case where we want to apply
multiple expectations to the same preprocessed column?

On Tue, Sep 12, 2017 at 8:26 AM, jpcampb2 <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-09-13 23:33] jpcampb2 commented on #80
Yes. I'm just thinking about ways to continue to tie the process of doing
exploratory work to the development of the expectations--i.e. making them
the same whenever possible. Maybe it's a nuance of pipeline building vs.
exploration.

In any case, I think the original proposal still seems good to me, even as
I try to think through cases that might make us want to deviate from it.

On Wed, Sep 13,

[2017-09-14 01:34] jpcampb2 opened #85 "Unit tests for cli need to be made more robust for platform differences"
Currently, the tests fail for a variety of reasons on different platforms:

1. **Currently failing on python 3 because of Inherited differences from argh (minor)**
python 3 environment:
[code]

python 2 environment
[code]

2. **Failing on python 3 because of bytes literals being returned from sys calls**

The test uses string literals throughout; on python 3, those need to be explicitly framed as

[2017-09-15 19:51] abegong commented on #52
@jpcampb2 Can we close this one?

[2017-09-15 20:07] abegong opened #86 "Make it simple to unit test subclasses of DataSet"
Per today's call, we expect to define the API for each expectation method (with docstring and all args+kwargs) in the base DataSet class.

When a developer subclasses from DataSet (e.g. PandasDataSet, SparkDataSet, MumpsDataSet) (haha, right.) there's always the risk that they'll define the inherited method incorrectly. For example, they might forget to include a parameter. Or turn a positional ar

[2017-09-15 20:34] jpcampb2 commented on #52
Done.

[2017-09-15 20:34] #52 closed, assigned to nobody

[2017-09-29 16:10] abegong opened #87 "Update getting started docs to point to the great-expectations repo instead of the abegong repo"

[2017-10-05 22:46] abegong opened #88 "`ge.dataset.util.partition()` returns `AttributeError: 'module' object has no attribute 'partition'`"
@jpcampb2 I'm missing something here. How do I access the convenience functions for partitioning?

[2017-10-05 22:48] abegong opened #89 "Partition length mismatch?"
When I run this:
[code]

I get this:
[code]

@jpcampb2 Help me out here?

[2017-10-06 03:11] jcampbell commented on #88
I think it's correct that there is no partition() in dataset util.  Are you thinking of partition_data()?

[2017-10-06 03:14] abegong commented on #88
Confirmed: user error.

*facepalm*

I can't believe I didn't see that.

On Thu, Oct 5, 2017 at 8:11 PM, jcampbell <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-10-06 15:29] abegong opened #90 "Implement `expect_column_most_common_value_to_be`"
This is mentioned in the `output_format` documentation, but not defined. Seems like a reasonable addition.

[2017-10-06 15:42] abegong opened #91 "Add a `summary_obj` to `@column_aggregate_expectation`"
[code]

[2017-10-06 16:10] #88 closed, assigned to nobody

[2017-10-13 13:26] jpcampb2 opened #92 "expect_column_values_to_be_in_type_list is implemented in PandasDataSet but not defined in DataSet"
@dgmiller ?

[2017-10-13 13:29] jpcampb2 commented on #92
Same appears to be true for expect_column_value_lenghts_to_equal

[2017-10-13 13:31] jpcampb2 opened #93 "expect_column_values_to_match_regex_list defines parameter "required_match" but PandasDataSet does not implement that parameter"

[2017-10-13 13:32] jpcampb2 opened #94 "expect_column_values_to_match_json_schema is never implemented"

[2017-10-13 13:36] jpcampb2 opened #95 "Proposal: define a clear pattern for default output_format and catch_exceptions parameters"
The default value of those parameters changes based on context according to the documentation, and that is currently implemented by ```None``` triggering the default value. Document that or agree it's clear.

[2017-10-20 17:36] abegong opened #96 "`parse_strings_as_datetimes`"
Given a column of dates
[code]
It would be very convenient to be able to add a `parse_strings_as_dates` parameter to certain expectations

`expect_column_values_to_be_between('my_date_col', '2016-02-01', '2016-02-28', parse_strings_as_dates=True)`

This parameter will be most useful on `expect_column_values_to_be_between`. We could also add it to

* expect_column_mean_to_be_between
* expect_column

[2017-10-20 17:39] abegong commented on #96
Ha. Turns out that dateutil.parser.parse is pretty good at datetimes, not just dates:

[code]
So, I'd change this to `parse_strings_as_datetimes`

[2017-10-20 17:50] abegong commented on #45
@jpcampb2 Can we close this?

[2017-10-20 19:52] abegong opened #98 "What does it take to make @DocInherit work?"
The code has a bunch of examples, but I don't know which parts are required for @DocInherit to do its thing.

[code]

@jpcampb2 Could you add some documentation for this? I imagine that it belongs in the Custom Decorators section.

[2017-10-23 17:02] jpcampb2 commented on #98
Can do...can you clarify though: is the above *not* working for you, or is it working and you're looking for more info on why?

[2017-10-23 17:25] abegong commented on #98
It's working beautifully. I just don't know *why*

On Mon, Oct 23, 2017 at 10:02 AM, jpcampb2 <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-10-24 03:37] #87 closed, assigned to nobody

[2017-10-24 03:54] abegong commented on #93
Changed the name to `match_on`.

[2017-10-24 03:57] abegong commented on #6
Not sure when this got resolved, but it's clearly fixed.

I'll add a test in the `more_housekeeping` branch and close this issue.

[2017-10-24 04:03] abegong commented on #6
Take it back. There was a sneaky `try...except` catching ValueErrors. I dropped it.

[2017-10-24 04:13] #6 closed, assigned to nobody

[2017-10-24 04:13] #93 closed, assigned to nobody

[2017-10-24 04:14] #92 closed, assigned to nobody

[2017-10-24 04:15] #90 closed, assigned to nobody

[2017-10-24 04:18] #23 closed, assigned to nobody

[2017-10-24 04:18] #94 closed, assigned to nobody

[2017-10-24 15:42] jpcampb2 commented on #98
I'm not sure it belongs in the custom decorators section since custom decorators will in general not be overriding an upstream unimplemented expectation (by definition). But maybe in a section on "extending great expectations" we could add the following:

[code]

[2017-10-24 15:44] jpcampb2 commented on #96
Might this actually be a candidate for the preprocessing API proposed in #80?

[2017-10-24 15:46] jpcampb2 commented on #89
I think the issue here is that partition_data is expecting and returning partitions based on continuous data, but the chisquare expectation is expecting a categorical distribution.

[2017-10-24 15:46] jpcampb2 commented on #89
We're currently planning to adjust this by updating the continuous partition object to have explicit bounds at -inf and +inf, and providing some more descriptive errors (since the above issue would still exist following that proposal).

[2017-10-24 15:49] abegong commented on #96
Yes, I could see that. My hunch is that allowing *both* will be the most
convenient way to go.

Another complementarity: preprocessing would be a good way to get
efficiency for columns that would otherwise need to be `dateutil.parsed`
multiple times.

For now, this was quick to implement and a good way to illustrate the idea,
so I started here.

On Tue, Oct 24, 2017 at 8:44 AM, jpcampb2 <notificat

[2017-10-24 15:51] abegong commented on #89
+1

We'd talked about creating classes: CategoricalDataPartition,
ContinuousDataPartition.

Decided it didn't make sense now, but might in the future.

Flagging it here so that we remember...

On Tue, Oct 24, 2017 at 8:46 AM, jpcampb2 <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-10-24 15:53] abegong commented on #98
+1 That looks great.

And to be clear, the base.DataSet expectation and PandasDataSet expectation
should *both* have all of the proper arguments, yes?

This was a little confusing to me, since I thought the decorators took care
of adding `output_format`, `catch_exceptions`, etc.

On Tue, Oct 24, 2017 at 8:42 AM, jpcampb2 <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twi

[2017-10-25 03:56] abegong commented on #57
I think we're good to drop this. Agreed?

[2017-10-25 16:12] jpcampb2 opened #103 "Add ability to annotate expectations with comments/notes"

[2017-10-25 19:00] jpcampb2 opened #104 "Add airflow integration example and documentation"

[2017-10-25 19:10] abegong commented on #104
Do you have an example ready to go!? That would be amazing!

[2017-10-25 19:25] #96 closed, assigned to nobody

[2017-10-25 19:27] abegong commented on #86
Made some good progress on this in the last week.

See `https://github.com/great-expectations/great_expectations/blob/develop/tests/test_sets/expect_column_values_to_match_json_schema_test_set.json` for an example.

[2017-10-25 19:28] #76 closed, assigned to nobody

[2017-10-25 19:29] abegong commented on #73
This looks good to me. Closing.

[2017-10-25 19:29] #73 closed, assigned to nobody

[2017-10-25 19:35] #57 closed, assigned to nobody

[2017-10-25 19:36] #43 closed, assigned to nobody

[2017-10-25 19:36] #33 closed, assigned to nobody

[2017-10-25 19:45] abegong commented on #103
How do you feel about this API?

[code]

Will create this expectation config:
[code]

As a convenience, I could also imagine implementing
[code]

Producing:
[code]

[2017-10-26 04:43] #45 closed, assigned to nobody

[2017-10-26 05:52] abegong commented on #44
After digging into this, I'm not sure we want to allow multiple, conflicting expectations. What's a use case where we need it?

Instead, I think we need to make the logic behind overwriting very clear.

### A proposal
Expectations are uniquely identified by `expectation_type` and a mix of other parameters that's determined by the expectation decorator.

[code]

By "uniquely identified", I mean tha

[2017-10-26 06:01] abegong opened #106 "Smart saving"
When a user calls `save_expectations_config`, they usually *don't* want to save failed expectations.

Similarly, they usually don't want to save the `output_format`, `include_config`, or `catch_exceptions` parameters. With rare exceptions, the default behavior should be

To implement these defaults, I propose we add four parameters to `get_expectations_config`: `discard_failed_expectations`, `disc

[2017-10-26 06:15] abegong commented on #68
This will need to be updated to stay consistent with whatever decision we make on #44.

[2017-10-27 16:33] jpcampb2 commented on #106
Looking good. Let's modify the temporary ```success``` parameter to ```success_on_last_run```

[2017-10-28 02:00] abegong commented on #44
Capturing notes from today's discussion:

1. I was wrong to say that there are only 3 functions where multiple expectations or (a list+`match="any"` option) are required to express any meaningful pattern in the relevant domain. For example, `expect_column_values_to_be_between` 0 and 10 OR 20 and 30 is a valid statement that can't be expressed without multiple expectations.

2. However, it's also a

[2017-10-31 00:12] abegong opened #109 "When `expect_column_values_to_be_between` is passed strings and ints together, it gets confused."

[2017-10-31 18:43] abegong opened #110 "Feature request: Improve Typing System (fka `expect_column_values_to_be_of_type` feels borked in pandas)"
In pandas, a column containing `1, 2, 3, 4, abcd` will be parsed as a series of strings `"1", "2", "3", "4", "abcd"`.  That means that if I run `expect_column_values_to_be_of_type` on this column, I get:

`success=False` : This is good
`partial_exception_list = ["1", "2", "3", "4", "abcd"]` : This is bad.

Proposal:
1. Drop the column_map_expectation `expect_column_values_to_be_of_type`
2. Replace

[2017-10-31 18:50] abegong commented on #110
@jpcampb2 This is API-breaking, so would go in v0.3, not v0.2

[2017-11-01 05:19] abegong commented on #109
Here’s the issue: we already toyed with---and rejected---the idea of auto-parsing values within this expectation. That is, if a string looks like an int, we decided *not* to coerce it to an int

Our concern was that auto-parsing would weaken the type-checking that’s often the first line of defense against bad data intake, and sometimes lead to counterintuitive behavior.

The problem is that *not*

[2017-11-06 02:46] jpcampb2 commented on #109
Are there cases where we're expecting to use `expect_column_values_to_be_between` for string data at all? I was thinking of avoiding the automatic coercion as a stronger statement, and wonder whether we ought to think of any string data in this expectation as an abuse?

[2017-11-06 03:06] jpcampb2 commented on #110
This change makes sense to me, though I think the current type implementation struggles, based on some anecdotal testing on a windows platform--and that's even with just the PandasDataSet backing.

Also, I'm assuming you're inclined to make the parallel change for the current _in_type_list option?

[2017-11-06 03:07] abegong commented on #110
Yes, good catch on _in_type_list.

On Sun, Nov 5, 2017 at 7:06 PM, jpcampb2 <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-11-06 03:10] jpcampb2 commented on #44
+1

[2017-11-06 03:12] jpcampb2 commented on #95
The upcoming PR fixes this at least enough for now by smarter saving of the (usually) contextual configuration options.

[2017-11-06 03:12] #95 closed, assigned to nobody

[2017-11-07 05:13] abegong commented on #109
hm. Numeric data is definitely the primary use-case. I can make up examples
for strings, but I've not yet encountered one in the wild.

OTOH, this starts to put us in a world of typed expectations. Not sure how
I feel about that.

On Sun, Nov 5, 2017 at 6:46 PM, jpcampb2 <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-11-07 23:24] jpcampb2 opened #113 "Complex parameters to expectations are not copied into config."
Currently, the internal configuration for complex parameters refers to the original object passed in, which may be modified after the expectation is evaluated, leaving the config in an error configuration. For example:

[code]

The above snippet evaluates the expectation, but when the age_partition is modified, the internal representation is modified.

The right solution is probably to copy parame

[2017-11-08 18:21] #98 closed, assigned to jpcampb2

[2017-11-08 18:59] jpcampb2 opened #116 "Prepare package for pypi.org distribution"
Follow instructions here: https://packaging.python.org/tutorials/distributing-packages/

[2017-11-08 18:59] jpcampb2 opened #117 "Apply linting changes"

[2017-11-09 14:42] jpcampb2 opened #119 "Add mostly parameter to json parseable expectations."
Chore. Appears to have been typo.

[2017-11-09 14:54] jpcampb2 opened #120 "Harmonize expect_column_value_lengths_to_equal between PandasDataSet and Base"
The expectation is not present in base, and redundant of between (k,k).

Looks like we've got other examples of both _to_equal and _to_be_between, so I'm opting to keep it lest we break an existing expectation for now.

[2017-11-10 01:06] jpcampb2 commented on #44
Closing this issue, as we do not plan to implement it at this time.

[2017-11-10 01:06] #44 closed, assigned to nobody

[2017-11-10 01:09] jpcampb2 commented on #91
Can you clarify the intent on this issue? Those contents of summary_obj aren't in general well defined in the case of an aggregate_expectation, right?

[2017-11-10 01:11] jpcampb2 commented on #69
I think this issue should close, like #91, unless we decide to reopen it in a principled way.

[2017-11-10 01:11] #69 closed, assigned to nobody

[2017-11-10 01:13] abegong commented on #91
Yes, but some of the fields could be standardized.

Right now, the docs say that every column_aggregate_expectation has these
fields:

[code]

We should bring the code in line with the docs.

On Thu, Nov 9, 2017 at 5:09 PM, jpcampb2 <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-11-10 01:17] jpcampb2 commented on #91
Roger. Removing exception_count makes me happy. :) I can take this.

[2017-11-11 23:58] #117 closed, assigned to jpcampb2

[2017-11-12 02:54] #61 closed, assigned to abegong

[2017-11-12 03:08] #91 closed, assigned to abegong

[2017-11-17 17:59] jpcampb2 opened #123 "Use cleaner solution for non-truncating division in python 2"
Prefer `from __future__ import division` to `1.*x/y`

[2017-11-17 18:00] jpcampb2 opened #124 "Investigate alternate docs template that may look cleaner"

[2017-11-17 18:01] jpcampb2 opened #125 "Check python3 compatibility of demos"
Currently, the distributional expectations demo uses `map` in a way that breaks in python3

[2017-11-17 18:01] jpcampb2 opened #126 "Remove stray .swp file in util module"
Looks like it got committed by accident and is just sitting there.

[2017-11-23 06:03] abegong opened #127 "Set up travis to test against multiple library versions."
In install it'd look like: `pip install pandas==${pandas_version}` and you'd also have
[code]

(or something close)

[2017-11-23 06:03] #124 closed, assigned to nobody

[2017-11-23 06:04] #106 closed, assigned to nobody

[2017-11-24 20:14] #113 closed, assigned to nobody

[2017-11-25 00:54] jpcampb2 commented on #89
Closing; we decided to clarify the helper functions, and revamped a lot of cases of working through expectations.

[2017-11-25 00:54] #89 closed, assigned to jpcampb2

[2017-11-25 00:54] #34 closed, assigned to jpcampb2

[2017-11-25 00:56] #120 closed, assigned to jpcampb2

[2017-11-25 00:57] #119 closed, assigned to jpcampb2

[2017-11-25 01:01] #103 closed, assigned to jpcampb2

[2017-11-25 01:21] jpcampb2 commented on #123
Done inline during improve_partitions push.

[2017-11-25 01:21] #123 closed, assigned to nobody

[2017-11-25 12:48] #127 closed, assigned to jpcampb2

[2017-11-25 12:48] #126 closed, assigned to jpcampb2

[2017-11-25 12:48] #116 closed, assigned to jpcampb2

[2017-11-25 12:52] jpcampb2 commented on #68
I think that the result of #44 means that this works as proposed originally.

[2017-11-26 01:25] abegong commented on #78
@jpcampb2 I took a shot at implementing this, but got hung up on the decorator syntax.

https://github.com/superconductive/great_expectations/commit/f3eb83febc15a47905c7a3d01b8ffdb747610d78

Any ideas how to get this working? You've plumbed the arcane depths of decorators far more than I.

[2017-11-26 04:16] abegong commented on #78
I think I got it. Check out: https://github.com/great-expectations/great_expectations/pull/130

[2017-11-27 01:21] jpcampb2 opened #132 "Add great_expectations version to a expectations configuration"
To ensure that diagnosing changes to expectations themselves can be easier.

[2017-11-27 01:51] jpcampb2 commented on #48
@abegong: Looking at this with some mixed feelings.

I just created a PR to do it as it stands now, but my concern is that those regexs might get too closely identified with GE and/or be hard to version--certainly many of them could be better than they are now, and we'll want to be able to improve that without breaking peoples' expectations later on.

Adding a GE version to an expectation config m

[2017-11-28 04:29] abegong commented on #132
Can you give an example of what this would look like?

[2017-11-28 04:34] abegong opened #133 "`expect_column_chisquare_test_p_value_greater_than` should return an informative `summary_obj`"
Right now, we have:
[code]

Instead, we should return:
[code]

[2017-11-28 05:15] abegong opened #134 "Fix `expect_column_value_lengths_to_equal`"
Add it to base.py.
Add all the right arguments.

[2017-11-28 15:25] jpcampb2 commented on #133
Is the key difference here the inclusion of `partition`? If so, might returning that via the `include_kwargs` param be preferred?

[2017-11-28 15:41] jpcampb2 commented on #132
I was thinking of adding a new entry to the expectations_config object, along the lines of:

[code]

The goal would be to ensure that if behavior/parameters of an expectation changes (e.g. `expect_column_kl_divergence`) we make it easier to match the config object to the version of ge that created it).

[2017-11-29 00:09] abegong commented on #133
There are two partitions here. I'll call them the "reference partition" and "observed partition":
  1. The reference partition is passed to the expectation. (So it would be returned as part of `include_kwargs`)
  2. The observed partition is (currently) generated silently while running the expectation.

I'm proposing that the observed partition should be returnable in the summary object.

[2017-11-29 10:40] jpcampb2 commented on #133
Got it. I'll build this, and an equivalent for each current distributional expectation. This is the spirit of #69.

I think it makes sense at this point to also return the test partition: if the holdout values were nonzero, they will be different from the partition_object passed to the expectation.

[2017-11-29 14:50] abegong commented on #133
+1. Makes sense

On Wed, Nov 29, 2017 at 2:40 AM, jpcampb2 <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2017-12-01 15:11] abegong opened #136 "How should we handle parsed datetimes in `expect_column_values_to_be_dateutil_parseable` and `expect_column_values_to_match_strftime_format`?"
These expectations raise errors if they're applied to timestamps. (They work fine if applied to strings.)

See https://github.com/superconductive/great_expectations/blob/f35348943b7e50528048af39a872c5b95395a8f2/examples/notebooks/test_broken_timestamp_example.ipynb for a clean example.

Since I'm usually using `expect_column_values_to_be_dateutil_parseable` as a check to see "Is this a date?", it

[2017-12-01 15:16] abegong opened #137 "Can we add signatures to expectations? (Also autocomplete for arguments)"
I can't see function signatures in expectations.

They only contain `*args, **kwargs`, as in: `df.expect_column_value_lengths_to_be_between(*args, **kwargs)`

Example:
![screen shot 2017-12-01 at 7 11 52 am](https://user-images.githubusercontent.com/1239085/33488877-00b8db12-d667-11e7-840f-eaf243412325.png)

I suspect that if got signatures to show up, we'd also get tabbed autocomplete for expecta

[2017-12-01 17:15] abegong opened #138 "Add logic for checking expectations' conformance to defined parameters to the decorators"
See the conversation in https://github.com/great-expectations/great_expectations/pull/130

[2017-12-01 17:52] jpcampb2 opened #139 "PandasDataSet objects revert to DataFrame when using pandas APIs directly."
We need to properly subclass pandas. See: https://stackoverflow.com/questions/22155951/how-to-subclass-pandas-dataframe

[2017-12-01 18:00] abegong commented on #136
As discussed: we should treat this as a weirdness in python pandas.

We can't really fix it, so we should just raise an informative error.

This is a pattern we will encounter more in the future, with other data systems.

[2017-12-04 06:23] #134 closed, assigned to nobody

[2017-12-04 06:24] #78 closed, assigned to nobody

[2017-12-04 06:48] abegong commented on #48
Instead of including named regexes as first-class citizens, we're going to make it simple to include named regexes (and other variables) in an expectation_config "meta" object.

### Proposed API:
Suppose meta looks like this:
[code]

...then these are all valid function calls:
[code]

At runtime, each `$meta_var` expression is evaluated by traversing the `meta` objects tree. This syntax is roughly

[2017-12-04 14:09] jpcampb2 commented on #48
Thanks for capturing this discussion! One small tweak: rather than `__version__` what about `ge_version`: that avoid confusion about name mangling (since it's a dict key not a class variable anyway) and also confusion about whether it's a version of the config (it's not) or a version of the ge library (it is).

[2017-12-04 14:51] abegong commented on #48
How about we remove all ambiguity and go with `great_expectations.__version__`?

That's explicit enough that a developer encountering a config for the first time (with no background in great_expectations at all) could still Google and figure it out.

[2017-12-04 14:52] abegong opened #142 "Tidy up and standardize expectation docstrings"

[2017-12-04 15:23] jpcampb2 commented on #48
Sounds good to me.

[2017-12-05 02:38] #68 closed, assigned to abegong

[2017-12-05 22:53] jpcampb2 opened #143 "Create email forwarding address to reach core great expectations team."
This should support a cleaner publication to pypi.

[2017-12-05 22:58] jpcampb2 commented on #137
This is a python2 vs 3 thing, (in that @wraps doesn't preserve signatures in python2).

Can you see signatures properly when using python 3? I think we could bring in the decorator module to make this work in python2, but I'd rate it low on the priority list.

[2017-12-06 03:11] abegong commented on #143
Done: `great_expectations@superconductivehealth.com`

[2017-12-06 03:11] #143 closed, assigned to abegong

[2017-12-06 03:11] #136 closed, assigned to abegong

[2017-12-06 03:33] abegong opened #144 "JSON serialization errors"
[code]
Throws:
[code]
------

Similarly,
[code]
Throws:
[code]

[2017-12-06 04:12] abegong opened #145 "ValueError: Invalid partition object."
It looks like `None`s are included in the denominator when creating categorical partitions. This causes `expect_column_chisquare_test_p_value_greater_than` to raise an `Invalid partition object` error.

[code]

[code]

[2017-12-06 04:23] abegong commented on #145
This might be fixed by PR #135 .

[2017-12-08 15:46] jpcampb2 commented on #145
This issue was not fixed in #135, so will need a separate fix. Your diagnosis is correct: the problem is that the numerator is ignoring NA and the denominator is not.

Because the default behavior of all aggregate expectations is to drop NA values, I think it is right to adjust the denominator to also drop NA; I'll make a quick PR to fix this.

[2017-12-08 16:06] #125 closed, assigned to nobody

[2017-12-08 16:07] jpcampb2 commented on #133
Closed by PR #135

[2017-12-08 16:07] #133 closed, assigned to nobody

[2017-12-08 17:18] abegong commented on #142
* Formatting is inconsistent across expectations
* Orderings are wrong
* This is building the glossary *twice*---once from base and once from pandas.
* Should parameters include expected types?

Bad example: http://great-expectations.readthedocs.io/en/latest/great_expectations.dataset.html#great_expectations.dataset.base.DataSet.expect_column_to_exist

Good example:
http://great-expectations.readt

[2017-12-08 17:20] abegong opened #148 "Update roadmap and add it to the documentation build"

[2017-12-08 18:45] jpcampb2 commented on #48
Confirming a discussion we had here:
 - we want to build a mechanism for making explicit when the `meta` object access will be explicit and when it will be implicit.

[2017-12-08 18:48] jpcampb2 commented on #148
Done, and in new PR #149

[2017-12-08 18:49] #145 closed, assigned to nobody

[2017-12-08 18:50] jpcampb2 commented on #144
This is fixed by #146 (@abegong)

[2017-12-09 01:57] #144 closed, assigned to abegong

[2017-12-09 04:06] #132 closed, assigned to jpcampb2

[2017-12-09 06:01] eringong opened #150 "Validate should return entire row not just index"
It would be nice if validate could return the entire row for failed expectations, not just the index. This would streamline the flow for seeing problems in context.

[2017-12-09 06:10] abegong commented on #150
Proposal: Validate should take an optional boolean `return_affected_rows` argument. If it's true, then validate returns:
[code]

Since most of the output formats already include an `exception_index_list` or `partial_exception_index_list`, it would be easy look up records from `affected_rows` by their indexes.

[2017-12-09 14:28] #148 closed, assigned to abegong, jpcampb2

[2017-12-09 14:54] jpcampb2 commented on #109
I think the best way to deal with types in expectations is to ensure we're separating the expectation of a type of a value from other expectations.

We can then think of two types of dataset backends to which expectations need to be able to be applied:
 - Homogeneously-typed columns (e.g., SQL)
 - Heterogeneously-typed columns (e.g. Pandas)

If you're in a homogeneously-typed column world, then `e

[2017-12-09 15:45] abegong opened #151 "DataSet docstrings"
* initialize_expectations needs a docstring, and should be a private function
* append_expectation needs a docstring, and should be a private function
* _copy_and_clean_up_expectation needs a docstring
* _copy_and_clean_up_expectations_from_indexes needs a docstring
* get_default_expectation_arguments needs a docstring
* set_default_expectation_argument needs a docstring
* save_expectations_config

[2017-12-09 16:33] abegong commented on #142
@jpcampb2 How do you like this formatting?

![screen shot 2017-12-09 at 8 32 18 am](https://user-images.githubusercontent.com/1239085/33797385-a221f43e-dcbb-11e7-9d02-ade21a5f39ec.png)

Formatting those output dictionaries has been a huge pain.

[2017-12-09 17:28] abegong commented on #109
I see where you're going with this, but don't we want expectations to
behave consistently across data systems?

We want to be able to run the same expectations on data stored in many
different systems and be confident of getting the same results.

On Sat, Dec 9, 2017 at 6:54 AM, jpcampb2 <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abego

[2017-12-09 17:38] jpcampb2 commented on #142
I really like it. Couple questions:

1. Does that way of formatting allow us to nest deeper (for example when describing summary_obj?
2. Is it possible to link to the docstring for `@column_map_expectation` and describe the common return object elements that will be part of the summary_obj in the expectation's return?
3. What do you think of instead of using two conventions (one for parameters and

[2017-12-09 17:53] abegong commented on #142
@jpcampb2 We should discuss.

Derek and I went with Google-style formatting early on, without much reflection. Now, we should make a real decision.

The three main options are
* Sphinx-style (great HTML output; hard-to-read docstrings)
* Google-style (lousy HTML output++; easy-to-read docstrings)
* Numpy-style (lousy HTML output++; longer, more descriptive docstrings)

(Ref: https://bwanamarko.alw

[2017-12-09 17:57] abegong commented on #142
Okay, I've tested Napoleon on a few cases. So far, it just works. Here's an example:

![screen shot 2017-12-09 at 9 53 47 am](https://user-images.githubusercontent.com/1239085/33798070-1efc24e2-dcc7-11e7-80f8-583ef575fb05.png)

Also, it doesn't appear to mess up any of the stuff that I got working in RST-style earlier this morning. This makes me much more confident in the tool---if we don't like t

[2017-12-09 18:07] abegong commented on #142
Oops, I missed your earlier response.

1. Yes, we can nest deeper.
2. I haven't figured out a way to do this, but I agree that it absolutely should be part of the docstring. Worst case, we can just manually add parameters to the docstrings in base.py
3. I don't love mixing formats, but I think it's important to emphasize that return values are dictionaries. Doing this visually feels much better th

[2017-12-09 18:10] abegong commented on #142
On nits: I agree with 1 and 2.

3 is the Sphinx default. I haven't been able to find a simple way to switch it off. I agree that it'd be better without the hyphen, but it doesn't bother me that much.

[2017-12-09 18:35] jpcampb2 commented on #142
OK, sounds like we have a plan! Thank you very much for researching so much, especially to now have the Napolean option seems perfect!

[2017-12-09 19:19] jpcampb2 commented on #109
I think so, where possible, but I don't think we want to reduce all systems to the lowest common denominator to achieve that goal, and I don't think we want to enforce a type system on datasets that don't inherently have one.

Given that, I think you're right to push back on the initial proposal. What about having SQL simply return `success=False` if the types don't match then (with a warning).

[2017-12-09 20:46] abegong opened #152 "Valid values for `catch_exceptions`"
Currently, `catch_exceptions` is written to take Boolean or None.

Shouldn't it just take a bool?

Is there any reason for the extra complexity?

[2017-12-09 21:05] jpcampb2 commented on #109
For my benefit, summarizing here. There are two semi-independent kinds of environment that we want to support and between which we want to maximize consistency: compute (python 2/3/future compute environment) and dataset (sql, pandas, spark, etc).

1. Currently, `expect_column_values_to_be_between` is inconsistent between python2 and python3 because python3 will throw a TypeError if a string and i

[2017-12-09 21:28] mgasner opened #153 "Distributional expectations should provide hints for display"
For display purposes, it is helpful to know whether a distributional expectation concerns a Bernoulli, discrete, or continuous distribution.

[2017-12-09 21:40] abegong commented on #109
Can we make it explicit?

Here's what I'm imagining:
* Create a new parameter: `allow_cross_type_comparisons`, which defaults to False

* If `allow_cross_type_comparisons=False`, then raise an error on cross type comparisons. The error message can hint something like `Cannot compare string and int types. If you want to allow this behavior, try setting allow_cross_type_comparisons to True.`

* If `

[2017-12-09 21:47] jpcampb2 commented on #153
Can you clarify where the hints would be most useful?

Currently, only `expect_column_kl_divergence_to_be_less_than` is able to accept both continuous and discrete distributions. `expect_column_chisquare_p_value_to_be_less_than` only works for discrete partitions, and `expect_column_bootstrapped_ks_test_p_value_to_be_less_than` only works for continuous partitions.

(Currently, a Bernoulli distrib

[2017-12-09 23:38] abegong opened #154 "`ge.dataset.util.continuous_partition_data` fails when the column contains unexpected values"
[code]

Throwing an error seems like the right behavior here, but they should be informative errors.

[2017-12-10 00:55] jpcampb2 commented on #109
OK, so the thing my writeup failed to address is the case you specifically had in mind when opening this issue...is it okay to have strings in this expectation? Even in the explicit world, the cost of our type-less expectation is, I think:
[code]

Does that match with what you wanted? If so, I think that's a good outcome, yes!

[2017-12-10 20:46] abegong commented on #109
Yes, that example looks right to me.

So... the explicit spec is the way to go...?
On Sat, Dec 9, 2017 at 6:56 PM jpcampb2 <notifications@github.com> wrote:

[2017-12-11 17:11] jpcampb2 commented on #109
Yup! Are we all surprised? :)

[2017-12-15 17:12] jpcampb2 opened #157 "Remove meta_notes shortcut parameter"
The meta_notes shortcut parameter is simply adds to complexity of the API and isn't currently being used. Remove.

[2017-12-15 17:14] jpcampb2 opened #158 "Check that expectation result objects are serializable."
Discussion in #155 demonstrated the expectation that results of expectations should be serializable. We need to add a check to the wrappers that invokes `recursively_make_json_serializable` for results.

[2017-12-15 17:17] jpcampb2 opened #159 "Proofread documentation in new format."
This is a chore issue that follows from discussion in #155 reflecting that that PR focuses on formatting and so has some issues we are simply flagging to be fixed separately from the formatting.

[2017-12-15 17:17] jpcampb2 commented on #159
e.g. amend the return block to read:
"Exact fields vary.... See Notes section for a description of expectation-specific fields in the return object."

[2017-12-15 17:27] jpcampb2 opened #160 "Create conda package with split dev dependencies."

[2017-12-17 04:57] abegong opened #161 "Retire `expect_column_most_common_value_to_be`"
We should retire `expect_column_most_common_value_to_be`

Functionally, it doesn’t do anything not included in `expect_column_most_common_value_to_be_in_set`.

Handling the logic for `true_value` is really tricky, because in the event of a tie, the most common value is actually a list. Trying to cram a list into a single value creates lots of confusing edge cases to handle.

I think we’re better o

[2017-12-17 04:58] abegong opened #162 "New expectations"
Add `expect_column_sum_to_be_between`
Add `expect_column_max_to_be_between`
Add `expect_column_min_to_be_between`

[2017-12-17 06:42] abegong commented on #158
I agree that we need to verify serializability before returning
expectations and expectation results.
There are two ways to do this:
1. Use `recursively_make_json_serializable` to makes a best attempt to
convert to JSON-serializable format
2. Call `json.dumps` on the object in question.

We should definitely be doing (1), but (2) is the only sure-fire way to
make sure that objects are serializable

[2017-12-20 16:02] jpcampb2 commented on #158
I think you're imagining a case where, for example, something from user data that makes its way through via an expectation exception (we've really got to rename that))...but then if json.dumps there's really nothing we can do about it (presuming we've run it through `recursively_make_json_serializable` already). Are you suggesting in that case we'd rather fail than return something not serializabl

[2017-12-20 16:07] abegong commented on #158
Yes. IMO, JSON-serializability is a core guarantee in great_expectations.

If it's not serializable and can't be made serializable, we should fail early with a clear error message so that the user/developer can fix it.

[2017-12-20 23:48] #142 closed, assigned to abegong, jpcampb2

[2017-12-20 23:48] #109 closed, assigned to abegong

[2017-12-20 23:49] #48 closed, assigned to nobody

[2017-12-21 14:01] jpcampb2 commented on #161
+1

[2017-12-21 15:55] abegong opened #167 "Proposal for unified JSON-based unit tests"
@jpcampb2 Thoughts?

Not wedded to any of this---just throwing out suggestions/proto-documentation to invite feedback.

### Why JSON-based unit tests?
When we go from pandas-only to other compute contexts (SQL, Spark, etc), ensuring compatibility across contexts is going to be a Hard Problem.

My hope is to use unified, programmatic tests (encoded in JSON) to transfer tests from a pandas context t

[2017-12-21 21:34] jpcampb2 commented on #167
This is a compelling writeup, and I could be game for the change. Before we convert, though, I want to consider some other solutions to the problems I think you articulated well.

I think the risk I see is that we're essentially defining a new format for unit testing--the JSON config with an in/out/error/dataset--and I'd want to make sure that we've really thought through that format well or deter

[2017-12-21 21:36] #159 closed, assigned to nobody

[2017-12-21 21:36] #157 closed, assigned to nobody

[2017-12-21 22:39] abegong commented on #167
I haven't considered parameterized fixtures carefully yet. I like this approach, but I agree we should weigh alternatives before committing strongly.

I think the right time to do this is once we've explored a few other data contexts (e.g. SQLalchemy, Redshift, and Spark)

To your second point: yes, I completely agree. That would be a cleaner approach.

[2017-12-21 22:41] #161 closed, assigned to nobody

[2017-12-21 23:13] #162 closed, assigned to nobody

[2017-12-21 23:16] abegong commented on #152
Actually, it's nice that it can take None, because then it can be omitted from kwargs without ambiguity.

Also, our docs now say in `(boolean or None)` in a bout 40 places, so I'm just going to leave this as is.

[2017-12-21 23:16] #152 closed, assigned to nobody

[2017-12-21 23:21] abegong commented on #151
Most of these docstrings are still missing, except for the last 2, `get_default_expectation_arguments` and `set_default_expectation_argument`.

[2017-12-22 14:45] abegong opened #169 "Add changelog to docs?"

[2017-12-22 17:40] abegong opened #171 "In pypi, our docs are ugly."
Can we make them render nicely?
Can we add a direct link to readthedocs?

[2017-12-22 17:54] #160 closed, assigned to nobody

[2017-12-22 21:46] abegong commented on #85
Did this get done, or is it still pending?

[2017-12-22 21:49] abegong opened #172 "Add an `is_expectation_json_valid` method"
Request from @mgasner: add a function that can test whether an expectation is valid or not.

Something along the lines of:
[code]

One possibility: use json-schema to implement this. That would make us language agnostic.

[2017-12-23 03:57] abegong opened #174 "Add `expect_checksum_to_equal` expectation"
...would be nice to verify that files have been transmitted correctly / not edited, etc.

[2017-12-26 03:46] abegong opened #175 "Move `true_value` inside `summary_obj` and distinguish between `basic_summary_obj` and `summary_obj`?"
`result_objs` are pretty complicated. Max has (rightfully) complained about this, so I'm looking for options to simplify.

A big part of the complexity is due to the fact that the fields returned depend on BOTH the expectation type AND the parameters used when executing the expectations (output_mode, catch_exceptions, include_configs, include_meta).

Two suggestions:
First, if we move `true_value`

[2017-12-26 17:50] jpcampb2 commented on #175
Moving `true_value` inside seems like the definite right move, and I like simplifying the way the return values work. I don't follow the renaming of summary_obj as a renaming option, though, and it would make downstream code more fragile if it has to track which output format it requested to know where to look for something like true_value. Instead, I'd propose that we simplify the construction of

[2017-12-26 20:06] abegong commented on #175
I completely agree on (1): "unexpected_*" is much clearer than "exception_*"

On 2, I have two concerns. First, can you give an example of what a single `result_obj` would look like? All expectations already return a single object, so I'm not sure how this would be different.

Second, I'm not sure I like the proliferation of `include_` arguments. Yes, it would give more control and be more explici

[2017-12-27 02:18] jpcampb2 commented on #175
On 2:
 - by single result_obj, I just meant that whatever result information comes back from evaluating an expectation would always be in a place with the same name (vs. basic_ and summary_ as two different possible places where expectation evaluation results might be).
 - I agree that the very-explicit parameters could result in some nonsensical combinations (though I don't think most of them wou

[2017-12-27 05:07] abegong commented on #175
Yes, I'm mostly with you here.

* I agree on `result_obj`.
* On "the docs don't align": Do you mean this in the sense that they're confusing (granted), or don't match the current implementation of the API (I hope not, but please let me know if I've missed something!)
* On hierarchy: yes, this would definitely be simpler to explain. I'm just not sure that it's simpler to use.

For example, most of

[2017-12-27 15:04] jpcampb2 commented on #175
I know I was probably unfairly re-airing the hierarchy concept, and while I'm not 100% in the same place on the value of avoiding a hierarchy (mostly because the hierarchy is so conceptually clear to me), I think just improving the descriptions of the different possible return object types will be sufficient from my perspective, and the idea of potentially expanding the possible formats in a non-h

[2017-12-27 17:57] abegong commented on #175
Mostly with you.

On 2, I agree that `summary_obj` is confusing (since it occurs in almost every mode, not just SUMMARY.) Not quite sure what to call it, though. For the moment, I'm going to go with `result_obj`, even though that doesn't quite feel right. (`expectation_output`?)

I disagree on moving `success` inside `result_obj`. To my mind, every field that we know will exist for all expectation

[2017-12-27 19:29] jpcampb2 commented on #175
Are you planning to make all these changes now? I figured I'd do the renaming of exception to unexpected since I raised that issue and it has fingers throughout the codebase...but let's deconflict before making changes simultaneously.

Re: 2--(a) result_obj is good by me. (b) the location of success is not super important to me, but I do think it is more clear that it would be in result_obj--it is

[2017-12-28 00:41] abegong commented on #175
I haven't started on any of these changes yet.

Can I propose that we start with documentation changes (on a separate
branch)? Once we agree on all changes to be made, we can then add all the
actual code changes.

The doc changes will be extensive, but only touch a moderate number of
files. The actual changes will touch just about everything.

On Wed, Dec 27, 2017 at 11:29 AM, jpcampb2 <notificati

[2017-12-28 19:10] jpcampb2 commented on #175
Good plan. Shall I take a first pass through updating the documentation so we have a second set of eyes through everything?

[2017-12-28 19:55] abegong commented on #175
That’d be great
On Thu, Dec 28, 2017 at 11:10 AM jpcampb2 <notifications@github.com> wrote:

[2018-01-05 17:35] thethingstheycoded opened #176 "expect_column_values_to_be_unique(column_name) does not work on columns that contain lists"
[code]

[2018-01-06 15:50] jpcampb2 commented on #176
We can definitely handle that more gracefully, but we'll need to think carefully about what the desired behavior is.

For example, what would you expect in the following case?
[code]

[2018-01-25 00:20] abegong opened #177 "`RuntimeError: maximum recursion depth exceeded` from a CustomPandasDataSet"
I'm creating class that inherits from PandasDataSet. (I want to add some custom expectations.) The custom expectations work fine, but calling a regular old expectation (`expect_column_values_to_be_between`) crashes with `RuntimeError: maximum recursion depth exceeded`.

It looks like the problem has something to do with our magic docstring inheritance.

Code to reproduce:
[code]

Produces
[code]

[2018-01-25 00:39] abegong opened #178 "Docs for custom expectations are sadly out of date."
Give http://great-expectations.readthedocs.io/en/latest/custom_expectations.html a look.

It references such obsolete concepts as `elementwise_expectation` and `column_expectation`.

Also, note that https://github.com/great-expectations/great_expectations/issues/177 will be a huge, blocking pain for anyone creating CustomDataSets.

[2018-01-25 00:39] abegong commented on #178
On closer inspection, this might only affect a couple of imports. The main code mostly looks okay.

Still, every code snippet in the docs should also be a unit test.

[2018-01-25 01:28] mgasner commented on #177
I believe this is fixed with the following change:

[code]

[2018-01-25 02:01] abegong commented on #177
I tested this. Can confirm that this works. PR, please!

[2018-01-29 22:41] mgasner opened #181 "SUMMARY output when there are null and unexpected values is misleading"
When a value is unexpected and also null, column_map_expectations produce misleading output. Consider the following:

[code]

Although `None` appears in `partial_exception_list`, it is not a key of `partial_exception_counts` (indeed, if it were, this would not be JSON-serializable).

This could be resolved by changing the format of `partial_exception_counts` to be as follows:

[code]

[2018-01-29 23:10] mgasner commented on #177
believe this issue can now be closed

[2018-01-29 23:12] mgasner commented on #110
I agree that the column_map_expectation `expect_column_values_to_be_of_type` is misleading as currently implemented and should be dropped.

[2018-02-05 16:25] jpcampb2 commented on #175
I'm going to include highlights from this proposals' discussion below so we can continue to discuss it in issues before we make this round of changes.

In addition to the things noted above, key changes in this proposal are:
1. Move to a hierarchical set of output formats: SUPPRESSED (open for other names on this), BASIC, SUMMARY (I also think other names here might be good), COMPLETE. Behavior *d

[2018-02-06 00:39] abegong commented on #175
On key changes:

For 1, I'd vote for no change (BOOLEAN_ONLY, BASIC, SUMMARY, COMPLETE.) BOOLEAN_ONLY makes more sense to me than SUPPRESSED.

For 3, what if we just use `details`? As in `result_obj.details.observed_partition`?

On questions 1 and 2:

1. Let's open a separate issue on this.

2. I'm not sure this is a good idea. `partial_exception_list` is often cleaner for notebook-based debugging

[2018-02-06 01:07] jpcampb2 opened #184 "Add requirements.txt to source distribution for pypi"
If requirements.txt is not included in source distribution it makes it more difficult to repackage as a conda package.

[2018-02-06 01:22] jpcampb2 commented on #184
We may also need to investigate the tests in the source dist, given our structure of data directories.

[2018-02-09 19:50] ccnobbli opened #186 "Add `expect_column_to_be_normally_distributed` method"
We should have support for checking if a column is normally distributed, or roughly normal. A parametric version would be easiest.

[2018-02-09 19:52] abegong commented on #186
Cool idea. Do you have ideas for what the expectation function might look
like? What arguments should it accept?

On Fri, Feb 9, 2018 at 11:50 AM, ccnobbli <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2018-02-10 14:43] abegong commented on #184
@jpcampb2 Can we close this issue?

[2018-02-12 14:40] ccnobbli commented on #186
Ideally, we should know the mean and standard deviation of the data, which the user can provide along with the partition object. It could look something like this:

[code]
This way would preserve the partition paradigm while providing some statistical robustness.

Thoughts?

[2018-02-12 15:46] jpcampb2 commented on #184
Yes!

[2018-02-12 15:46] #184 closed, assigned to nobody

[2018-02-12 15:56] jpcampb2 commented on #186
I'm glad we're getting some additional tests in this vein that will match the use cases aligned with validating that data matches expectations potentially for fixed cases like model assumptions.

A few thoughts here:
1. We probably still want to ensure that the p-value is an expectation parameter, so that there is a way to dial the specificity of the test/expectation.

2. I don't think we need to

[2018-02-12 18:19] ccnobbli commented on #139
Just wanted to document that this is still occurring, it was one of my biggest frustrations when first playing with GE.

[2018-02-12 19:51] ccnobbli commented on #186
Great thoughts!

Expected P-value is absolutely necessary, good catch.

I totally agree with not using a `partition_object`, it will make it much simpler for the user and will allow us to create a much more general framework like you suggested in _4_.

I like the idea of collapsing these into the one method. We can easily support many distributions ([certainly not all of them](https://docs.scipy.o

[2018-02-13 16:59] jpcampb2 commented on #186
Great question on p-value: you're right that a *low* p-value is when the test is considered statistically significant. But the null hypothesis for both KS and Chisquare tests are that the distributions are the same, so rejecting the null (low p-value) means they are NOT the same.

Essentially, the expectation is written as a double negative: "expect that we cannot reject the null hypothesis that t

[2018-02-14 15:52] dlwhite5 commented on #139
I'll take a look at this.

[2018-02-14 19:06] abegong commented on #139
Awesome! Looking forward to seeing what you come up with

On Wed, Feb 14, 2018 at 7:52 AM, dlwhite5 <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2018-02-14 20:16] mgasner commented on #175
@schrockn

[2018-02-20 05:58] abegong opened #190 "`Dataset.validate` `catch_exceptions` parameter fails if the `expectation_type` itself is unknown."
Replication code:
[code]

Produces:
[code]

I would have expected this to produce something like:
[code]

[2018-02-20 06:41] abegong commented on #175
Are we ready to move on this?

We have two unresolved questions, but I think we could pin them down pretty quickly.

[2018-02-20 11:08] dlwhite5 commented on #139
In discussions with James, this issue has a couple of aspects:

1. Returning the correct type (class); and

2. Inheriting expectations.

The former is easy to fix; the latter not so much.

With respect to the former, the subsetted object is of the correct type, but it only contains the expectations defined by \_\_init\_\_, namely add_default_expectations. Any expectations defined in the parent obj

[2018-02-20 14:33] abegong commented on #139
In the previous comment, should I edit "exceptions" to "expectations"?

If I understand right, issue #2 is:

Some operations that return a DataFrame change the nature of the DataFrame
so much that some or all of the original expectations might not apply any
more.

For example, after `my_thinner_df = my_df[["col_A", "col_B", "col_C"]]`,
any expectations applied to `col_D` or `col_E` are no longer m

[2018-02-20 15:40] dlwhite5 commented on #174
Did you really mean a checksum as opposed to a CRC or a hash?

If the latter, then I think we should rename this expectation to "expect_hash_to_equal".

The simplest way to perform the hash is to use hash_pandas_object from pandas.util. This method is available from pandas 0.20.1.

Another way we could handle this is to allow the user to specify (define) a hashing function.

My preference is the f

[2018-02-20 16:30] dlwhite5 commented on #139
Nice catch, exceptions should read expectations. I updated the comment.

I agree that there is at least a fifth alternative.

This may be an edge case, but consider the following example:

| ID | Group | Alpha | Beta |
|:--:|:------:| ------:| ----:|
| 1   | A         | 1.0      | 1.0   |
| 2  | B         | 0.4      | 0.1   |
| 3  | C         | 0.7      | 0.2  |
| 4  | B         | 0.6      | 0.1

[2018-02-20 16:54] abegong commented on #139
There are two ways to apply an expectation like "if Group == A, then expect
mean of Alpha = 1.0 and expect mean of Beta = 1.0".

1. Filter down to the relevant subset of rows:
[code]

Note that the expectation here isn't applied to `my_df`, it's applied to
the derived dataframe `my_subset_df`.

2. Apply a multi_column_expectation
[code]
This kind of expectation isn't implemented yet, but it's on t

[2018-02-20 16:58] abegong commented on #174
The goal is to verify that a file has not changed. I'm agnostic on method.

[2018-02-20 19:34] ccnobbli commented on #139
I'm erring on the side of 5. I'm imagining a scenario where a DataFrame subset was not subset as intended.

We expect poorly named columns col1 - col10 to exist, and have some other expectations (like their mean values).
[code]
In this contrived example, the user drops `col10` unintentionally. In this case, a raised warning would be beneficial for the user, so they aren't operating under the assum

[2018-02-20 20:01] jpcampb2 commented on #174
Changing to hash makes sense to me, but I'd like to give thought in advance to how we'd define the hash for non-pandas implementations. I haven't looked at the pandas implementation, but it's not clear to me in general how this expectation fits in with others: if it's meant to be per-file, I agree that a file md5 makes the most sense, but it's not clear what we'd want for, say, a database table.

[2018-02-20 21:53] jpcampb2 commented on #175
Based on the continued discussion in Slack and in person, I've updated the feature/result_obj branch.

Current plan is going to be to begin implementing changes in line with the documentation updates there, and I will then create a PR from there.

[2018-02-20 21:54] abegong commented on #175
Checked out the branch. Haven't given it a full read, but the resolutions of the remaining issues LGTM.

:+1:

[2018-02-20 21:55] jpcampb2 commented on #139
I think I would advocate for a two-prong approach:

1. The default behavior is to keep *all* expectations, passing or not, sensical or not. We understand that many kinds of operations are likely to cause failing expectations, but then, that makes sense since the dataset has changed.

2. We add a method, that can be set to be run on the creation of a new dataframe, to automatically drop (with a war

[2018-02-20 22:03] #190 closed, assigned to nobody

[2018-02-21 14:24] dlwhite5 commented on #174
I'm leaning toward multiple methods.

One could be a general helper (utility) method, something like expect_file_hash(filename, hash_type, hash_value) that simply returns True or False. We could have something like expect_hash(object, hash_type, hash_value) where the object class determines which hash method (eg file, list, dict, panda, etc) is used and define appropriate methods as necessary.

[2018-02-21 18:30] abegong commented on #174
This sounds good to me.

Bear in mind that expectations are currently implemented as methods on
DataFrames. So the the API would be something like
`my_df.expect_file_hash_to_be("deadbeef1234567890", method="md5")`.

I'm not sure how that interacts with the idea that it's the *file*, not the
dataframe, that's being hashed.

On Wed, Feb 21, 2018 at 6:24 AM, dlwhite5 <notifications@github.com> wrote:

[2018-02-21 19:59] jpcampb2 commented on #174
I think that precisely because it's the file that would be tested, this doesn't belong directly in the core expectations API. If the goal is just to make it easy to test that a file is unchanged, a helper function in ge.util does seem like the best fit.

[2018-02-21 20:11] gouker opened #194 "Expectations with relationships between two data columns"
One area that I have intuitively wanted to build expectations around are relationships between two columns — from skimming through the documentation it seems like that’s not a thing (yet?).  For instance, I may want an expectation that col A value is always greater than or equal to col B.

Col A | Col B | Expectation Result
-- | -- | --
5 | 0 | Pass
4 | 3 | Pass
6 | 6 | Pass
6 | 8 | Fail

A more s

[2018-02-21 20:38] abegong commented on #194
Can you check out PR #173 and see if it would fit the bill?

In particular, this commit (<https://github.com/great-expectations/great_expectations/pull/173/commits/2554e642d64f914ed76aa08fcebcd063061f85fc) introduces an expectation called `expect_column_pair_values_to_be_greater_than` that I think does exactly what you're asking for.

For the second one, the same PR includes a commit <https://gith

[2018-02-21 22:13] abegong commented on #194
Bleh. Updated my previous comment to get rid of the horrible formatting from gmail.

@gouker If this looks like a good path forward, I can implement the multi-column expectations in the next couple days.

[2018-02-21 22:40] gouker commented on #194
@abegong I think with the expect_column_pair_values_to_be_equal expectation there would be a way I could format the date data in the second column to get it to play nicely with the expectation.  I agree that date/datetime columns are finicky and probably not worth their own expectation right now.

I'll play around with it once it's available and ready for user testing.

[2018-02-21 23:28] dlwhite5 commented on #174
Since this expectation does not really fit with panda expectations, I'll put together a helper function/method in util.py that checks that the file hash value is equal to the specified value for an md5 hash or the specified value for a user-specified hash algorithm. The return value will be a simple boolean: True if the computed hash matches the specified value; and False otherwise.

[2018-02-22 02:34] rjurney opened #195 "Add ge.read_json_lines() API"
My data is not columnar in format, although it is by nature columnar. Therefore a method `read_json_lines()` would help me to load my data. After running an optional accessor function (for nested tables), it would evaluate the top line in the array to determine fields. Then it would iterate the fields and build whatever dataframe format `ge` needs.

data: `{"type": "prediction", "values": [{"field

[2018-02-22 02:51] jpcampb2 commented on #195
Your use case makes a lot of sense. Does the pandas [read_json](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_json.html) function correctly handle your data? If so, I expect it would make sense for us to allow that as a first-class way to create new dataframes.

That would also allow you to get a ge object easily today by creating the ge PandasDataSet object directly from your

[2018-02-22 03:07] jpcampb2 commented on #177
I'm not sure this actually fixed the issue. The docstring I'm picking up now appears to be the docstring of the DocInherit function rather than the base class....did the PR cross something else inadvertently?

[2018-02-22 16:17] abegong commented on #195
@rjurney I'm confused about what an `accessor` is in this use case. Can you clarify?

[2018-02-22 17:18] jpcampb2 opened #196 "df.validate needs to accept a json expectation config"

[2018-02-22 20:34] rjurney commented on #195
@jpcampb2 With one exception, read_json would work. With many of my pipelines, the tabular data is held inside a metadata wrapper describing the dataset. The accessor is therefore needed to pull the tabular data out. That is why I have included an accessor function argument in the API. Otherwise I would need to use `pandas.DataFrame(accessor(json.load('myfile.json')))` or something like `pandas.Da

[2018-02-22 20:47] abegong commented on #195
:+1:

[2018-02-27 04:14] abegong opened #205 "`ge.read_json` function needs more robust tests."
Right now, we're just testing whether an exception is raised.

[2018-02-28 06:49] #195 closed, assigned to nobody

[2018-02-28 06:50] #181 closed, assigned to nobody

[2018-02-28 06:50] #178 closed, assigned to nobody

[2018-02-28 20:25] jpcampb2 commented on #177
Closing again given new behavior.

[2018-02-28 20:25] #177 closed, assigned to nobody

[2018-02-28 20:26] #171 closed, assigned to jpcampb2

[2018-02-28 20:27] jpcampb2 commented on #153
I'm going to close this since there hasn't been activity on it; I think the docstrings inheriting now address this.

[2018-02-28 20:27] #153 closed, assigned to nobody

[2018-02-28 22:14] jpcampb2 commented on #174
Thank you @dlwhite5 your PR was just merged!

[2018-02-28 22:14] #174 closed, assigned to nobody

[2018-03-01 15:44] jpcampb2 commented on #175
I have just made all these changes in the branch, and will trigger the (huge) PR shortly.

Some small confirmations: I went with details, not evaluation_details.
I kept BOOLEAN_ONLY (though it is still always wrapped in dict, 'success' key).
I retained top-level catch_exceptions and include_config (for now at least).
I realized how much I want that big test refactor we've been talking about...

Gl

[2018-03-01 15:47] jpcampb2 opened #207 "Improve typing"
This is a long-term issue that will collect issues surrounding the use of types in great expectations.

Opening now to flag the coercion of boolean True/False by column_aggregate_expectations in ways that may be counterintuitive.

In general, we've talked about wanting to handle gracefully all of the following realities, while emphasizing semantic types:
 - "semantic" types, such as continuous, ca

[2018-03-01 16:20] abegong commented on #207
Linking #110

[2018-03-02 18:48] abegong commented on #12
Discussion notes from December:

#
## Scenario 1
(We like this one)

[code]

## Scenario 2

[code]

`column_map_summary_obj`

[2018-03-03 19:30] abegong commented on #167
Okay, this thread has aged very well. I just re-read it and agree with everything we said back in December.

Now that we've got our feet wet with multi-context (#209), I think we're ready to start fleshing it out.

A few tactical additions:

1. I propose (based on Max's suggestion) that we make `title` a required field in tests. Each test *must* include a human-readable description of its intended

[2018-03-04 05:09] abegong commented on #12
This is implemented in a bare bones way in #209.

[2018-03-04 05:10] abegong commented on #167
Update: I have basic dockerization working on branch `dockerized-tests`.

It's just proof-of-concept stuff for now, but the path forward is clear.

[2018-03-06 23:34] jpcampb2 commented on #167
I think we got out of sync here, since I'd been advocating for moving away from the JSON-based test specification to ensure that test failures are clearer. Looking forward to our in-person discussion on this.

[2018-03-07 07:28] jpcampb2 opened #210 "_format_column_map_output takes unnecessary parameters"
Some of them are also expensive to compute in some data contexts, and should be removed for clarity.

[2018-03-07 08:01] jpcampb2 commented on #12
I commented on the PR that I don't think it deals with the SQL store properly, and have pushed a branch with an alternate approach: feature/data_context_api. We can review the different approaches hopefully in person to ensure we're thinking through the right use cases.

[2018-03-07 15:05] abegong commented on #167
Sounds good. What do you mean by "test failures are clearer"?

On Tue, Mar 6, 2018 at 3:34 PM, jpcampb2 <notifications@github.com> wrote:

--
abegong@gmail.com
@abegong <https://twitter.com/AbeGong>
http://www.abegong.com

[2018-03-07 15:09] abegong commented on #12
@jpcampb2 I don't see the comment on the PR...

[2018-03-07 16:17] jpcampb2 commented on #167
I meant we are able to take advantage of the test runner's ability to articulate the reason for the failure, and generally live in the ecosystem of an existing testing framework rather than building our own.

[2018-03-07 16:18] jpcampb2 commented on #12
@abegong ... you're right it was in slack. Here:

I'm struggling with the data context PR because it looks like it's mostly adding commented-out versions of what already exists, or exactly duplicated code. In particular, there don't appear to be any expectations implemented that actually touch the data in the SQL store. I think it makes more sense to refocus it to strip out spark, keep lots of not

[2018-03-07 16:42] abegong commented on #12
Apologies for the confusion. You're right that #209 does very little to implement new subclasses of DataSet. It's mainly scaffolding and prep work for #213.

The real progress in #213 was setting up Docker (Spark is part of that) and ensuring that we can connect, test, and develop efficiently using containers.

[2018-03-07 17:06] jpcampb2 commented on #12
Understood. Recommend then that we keep these branches out of PRs so it's clear we're not imminently planning to merge them, but demonstrating patterns. To that effect, I also pushed a branch, feature/data_context_api with a pattern for implementing the sqldataset.

[2018-03-07 17:57] #175 closed, assigned to nobody

[2018-03-07 17:57] #210 closed, assigned to nobody

[2018-03-07 23:02] abegong opened #214 "Add an expectation for column order (e.g. column A should be first; column B should be second; etc.)"
Not sure if this should go into `expect_column_to_exist`, or a new expectation. But we should have it.

[2018-03-08 15:14] ccnobbli commented on #186
Update for where this is:
`def expect_column_parameterized_distribution_ks_test_p_value_to_be_greater_than(column, distribution, p_value=0.05, params=None)`

Where `distribution` (string) is the name of a [scipy.stats distribution](https://docs.scipy.org/doc/scipy/reference/stats.html) and `params` is a dictionary with named parameters. An example of params:

The expectation uses `scipy.kstest(col

[2018-03-08 17:37] abegong commented on #139
I ran into a new case for this today: `dataframe.sample`.

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sample.html

[2018-03-08 17:58] jpcampb2 commented on #139
Sample already works with this new patch: we're now pulling the config over as soon as a new DataFrame is finalized, so it's exactly following the internal Pandas codepath.

@dlwhite5 : that does raise, though the question of whether to also override the case of expanding and dropping dimensions. I think the current behavior is right, so it should just be a matter of updating docs to be explicit.

[2018-03-08 23:35] louispotok commented on #214
I think it makes sense to add a kwarg to `expect_column_to_exist`. If I'm reading the code correctly, how about something like the following:

[code]

[2018-03-09 04:49] abegong commented on #214
That'd be awesome! Could you submit it as a PR?

[2018-03-09 13:53] louispotok opened #216 "Add CONTRIBUTING file"
Any information that could be useful to new contributors:
* Desired PR workflow
* Info on setup / running tests
* Conventions / style preferences.

[2018-03-09 14:13] louispotok commented on #214
Done! Two questions / confusions about the test suite, which I can create issues for if helpful. Broadly, is there some special way you are running the tests or just `python -m unittest`?

1. I changed **one** test (in test_pandas_dataset.py) so it would fail, and ran the full test suite using `python -m unittest`. The output showed me that there were **two** failures. However, running only the te

[2018-03-09 14:26] abegong commented on #216
100% totally completely emphatically agree.

[2018-03-09 15:10] ccnobbli commented on #151
I'll take a crack at this, I want a good look at the guts anyhow

[2018-03-09 15:13] abegong commented on #214
We're using `pytest` because of exactly the problem you ran into.

Yes, failure messages for the JSON are lousy right now.

Thanks for sharing what you're seeing. Look for more discussion and a proposal to tidy things up soon---we'd love to get your feedback on that when it's closer.

[2018-03-09 15:38] louispotok commented on #214
Interesting! I wonder why unittest is discovering them twice. `pytest` is working for me. As I commented elsewhere, if `pytest` is recommended, it should maybe go in requirements-dev as well. Failure messages are important, but it sounds like they are being discussed in #167 .

Anyway, I think this issue can be closed. Thanks for the quick replies!

[2018-03-09 23:33] abegong opened #219 "Expectations should have some concept of a dry_run"
Yes, they should.

[2018-03-10 04:08] jcampbell commented on #219
+1 Just for clarity, this is especially useful if we want to generate, say, the sql that would be executed to validate an expectation.

[2018-03-10 04:11] jpcampb2 commented on #167
Capturing here my review of several alternatives to updating out framework for running tests. See commit 69857703d49a757a11ba70677198a7dc93d705de for an example of several possible approaches considered. Briefly, they are:

1. Reading the json-config files and parameterizing the test runner on a per dataset-test-condition pair.
2. Breaking tests into explicit functional tests as code.
3. Embedding

[2018-03-10 04:12] jpcampb2 commented on #167
Here's the current docstring for
`evaluate_json_test`
 """
    This method will evaluate the result of a test build using the Great Expectations json test format.

    :param dataset: (DataSet) A great expectations DataSet
    :param expectation_type: (string) the name of the expectation to be run using the test input
    :param test: (dict) a dictionary containing information for the test to be r

[2018-03-10 15:20] abegong commented on #167
I spent some time last night and this morning to:
* migrate all JSON files to the new format,
* implemented a "test_is_on_temporary_notimplemented_list" method to temporarily ignore errors from not-yet-built SQLAlchemy methods,
* clean up a few other small bugs and issues.

The upshot is that all tests pass again, except for these two:
SqlAlchemyDataSet:expect_column_values_to_be_between:Test allo

[2018-03-12 19:23] ccnobbli commented on #151
I played around with changing these to private methods, but it was messing up certain tests. Given the current overhaul of the testing framework, that half of this issue should sit on the back burner.

[2018-03-12 20:47] schrockn opened #221 "Consider adding friendly names to great expectations"
It would be useful for great expectations to have a friendly name synthesized from the contents of the expectation.

Eg the expectation produced by expect_column_to_exist('foo')

could have the friendly name

"expect_column_to_exist.foo" or something.

This would serve as a unique key to identify an expectation. It would be useful both for APIs like

df.remove_expectation("expect_column_to_exist.f

[2018-03-12 20:48] schrockn commented on #221
cc: @abegong

[2018-03-12 23:22] jpcampb2 commented on #221
This also reminds me of #16, @schrockn, though it hadn't risen to the top of the queue. Any chance you've got an example implementation you'd point to?

[2018-03-12 23:44] jpcampb2 opened #222 "Optimize evaluation of sets of expectations"
Currently, evaluating sets of expectations will recompute certain information, such as element counts and null value counts. Especially for datasets with managed connections, we should avoid recomputing unnecessary elements when sets of expectations are evaluated.

[2018-03-13 00:03] schrockn commented on #221
Nope! No example implementation. I could demo the runner I am working on to show you the exact use case. Feel free to email me at schrockn@gmail.com if you want to chat.

[2018-03-13 01:12] abegong opened #223 "Switch travis to use pytest instead of unittest"
Our docs say `pytest`, and it's included in `requirements-dev.txt.` But it's not being used by travis.

Might be good to do this at the same time as dockerizing tests: https://github.com/great-expectations/great_expectations/tree/dockerized-tests

[2018-03-13 01:46] #216 closed, assigned to nobody

[2018-03-13 01:47] abegong commented on #151
:+1:

[2018-03-13 01:49] abegong commented on #221
If you want to demo the runner, that could be a good fit for #104, (even if the runner isn't actually technically really Airflow.)

[2018-03-13 01:49] abegong commented on #80
Linking to #222 ...

[2018-03-13 01:53] abegong commented on #207
Here's how SQLAlchemy handles typing: http://docs.sqlalchemy.org/en/latest/core/type_basics.html.

Might be a good starting point...

[2018-03-13 02:49] jpcampb2 commented on #223
This is done in the current feature/refactor-tests branch, soon to be merged.

[2018-03-13 03:36] abegong commented on #223
https://gph.is/1fhC1qr

[2018-03-13 15:52] schrockn opened #225 "Allow construction of ge dataframe from arbitrary pd dataframe"
Right now it appears that the way to convert an existing pd dataframe to a ge dataframe is the internal function `_convert_to_dataset_class`. It would be nice if there was a fully supported way to do this in the public api. That way ge would not have to replicate all pandas factory methods as well as other use cases.

`df = ge.from_pandas_dataframe(pd.read_sql_table('column_name', engine))`

for e

[2018-03-13 17:07] schrockn commented on #225
Some like this:

[code]

[2018-03-13 17:10] abegong commented on #225
?

Bit confused by that last trace.

I'm totally open to a PR with something like `from_pandas` in it.

[2018-03-13 17:15] schrockn commented on #225
Cool.

Last thing was just a rough diff of what it would look like.

[2018-03-13 17:17] abegong commented on #225
Gotcha. Yes, a PR for `from_pandas` would be awesome.

I'm not sure how that pattern will generalize to SQLAlchemy, etc., but I don't think we should worry about that yet.

[2018-03-13 17:20] schrockn commented on #225
I think you'd want to mimic the pandas top-level APIs for sure.

e.g.

[code]

[2018-03-13 17:30] abegong commented on #225
I'm not so sure.

That pattern totally makes sense for loading data into pandas.DataFrames---but if the data is on remote SQL, that'll require a lot of IO.

I'm guessing that people will also want to be able to apply Expectations directly in SQL, using the `SQLAlchemyDataSet` class.

"Take the compute to the data."

[2018-03-13 18:32] jpcampb2 commented on #225
Re: the very top of this issue...have you tried `ge.dataset.PandasDataSet(df)`? That should already work out of the box, and is how I often construct datasets. I actually had a from_dataframe helper originally, and dropped it in favor of that constructor. Improved documentation sounds valuable, assuming that makes sense.

Re: the top-level API, I think there are two sort of different things that a

[2018-03-13 18:35] jpcampb2 opened #226 "Add LICENSE file"
Requested for inclusion in conda-forge

[2018-03-13 19:14] schrockn commented on #225
Ah ok I can just use ge.dataset.PandasDataSet for now. I was just using this in a notebook context and the convenience seemed nice. No additional imports and better discoverability. However this is no big deal at all and i'm happy to close this as resolved.

[2018-03-13 19:16] abegong opened #227 "Add a concept of partitions, so that expectations can be applied to portions of tables."

[2018-03-14 00:40] jpcampb2 commented on #214
I brought this implementation across for the new sqlalchemydataset as well. Can we close this issue?

[2018-03-14 00:40] abegong commented on #214
Yes!
On Tue, Mar 13, 2018 at 5:40 PM jpcampb2 <notifications@github.com> wrote:

[2018-03-14 02:00] #214 closed, assigned to nobody

[2018-03-14 03:10] jpcampb2 commented on #223
Closed with recent PR #224

[2018-03-14 03:10] #223 closed, assigned to nobody

[2018-03-14 03:11] #226 closed, assigned to nobody

[2018-03-14 03:11] jpcampb2 commented on #227
👍

Would also be nice to in general support referencing the partition point from meta.

[2018-03-14 03:12] jpcampb2 commented on #225
Good we've got a workaround, but I agree a clearer API would be nice. I'm going to leave this open pending finalizing the data context api points now that we have a sqlalchemydataset at least partially implemented that we can work from.

[2018-03-14 03:15] abegong commented on #227
Interesting. I can think of a few different ways to define partitions:

`where(my_timestamp_or_unique_incremental_index > some_value)`
`where(my_batch_id == some_value)`
`where(CAST(my_timestamp AS DATE) == some_date)`
`where(ROUND(my_unique_incremental_index/some_batch_size) == some_date)`

[2018-03-14 03:16] abegong commented on #225
For my money, I'd love to see @schrockn merge his `from_pandas` proposal and use it for a while.

It's an immediately useful change, and the working experience would be useful for informing the "right" API down the road.

[2018-03-14 15:05] nobbyhawk commented on #225
I agree with @abegong.  As a new user, the existing API was not clear/discoverable, I think this would be very beneficial for new users in exploring GE even if this isn't a final solution.

[2018-03-14 16:31] zack3241 commented on #225
+1 to getting this into the package or at least documenting very clearly that ge.dataset.PandasDataSet(df) will do this for you. I love the idea of pulling in great expectation's easy ability to apply testing to data, less enthused about the fact that it looked like I could only import my data either through a CSV or JSON. I feel like this is probably an incredibly common vector for data coming in

[2018-03-14 21:47] schrockn commented on #225
https://github.com/great-expectations/great_expectations/pull/230

[2018-03-14 23:17] #225 closed, assigned to nobody

[2018-03-15 01:12] #196 closed, assigned to nobody

[2018-03-15 01:13] jpcampb2 commented on #167
Yay!!!!

[2018-03-15 01:13] #167 closed, assigned to nobody

[2018-03-15 03:56] jpcampb2 commented on #12
I've put an initial commit with some documentation and examples (not under test) of the data context api for this upcoming release.

cc: @abegong

[2018-03-15 03:58] abegong commented on #12
This is great. I'd recommend liberally throwing around docstring warnings.

"Warning: this feature is new in v0.4 and may change based on community feedback."

[2018-03-16 01:56] jpcampb2 commented on #12
Sounds good. I added tests, caveats, and docs, and updated the PR.

[2018-03-16 03:34] #12 closed, assigned to nobody

[2018-03-16 03:34] zack3241 opened #236 "Multi-Column Expectations for Uniqueness"
Hi! I saw that on your road map that you had included ideas around multi-column expectations, but was wondering if there was any discussion on how this might be implemented. I know specifically I'd love to have an expectation that identifies records in a DataFrame which violate unique constraints (sorry for the SQL terms) for a set of columns. Really looking to see if I can help contribute but cou

[2018-03-16 03:40] abegong commented on #236
Thanks!

Let me see if I understand the use case. You're looking for something like `[expect_column_values_to_be_unique](http://great-expectations.readthedocs.io/en/latest/dataset_module.html#great_expectations.dataset.base.DataSet.expect_column_values_to_be_unique)`, except you'd like to check for uniqueness across multiple columns.

Something like this...?

[code]

Is that right?

[2018-03-16 03:40] jpcampb2 commented on #236
@zack3241 Thanks! I definitely agree, and multicolumn relations are on the short list of things that we want to bring into great_expectations. We'd love your input on the best design.

The ability to express uniqueness constraints is certainly a key pattern there.

One thing that I think we'd consider as an option for that is to write expectations against a "check" dataset (and, for example, map t

[2018-03-16 03:55] jpcampb2 commented on #86
The new structure for tests is implemented! (See discussion in #167 and #224). Some tests are not yet migrated to the new format, but all new tests should be.

[2018-03-16 03:55] #86 closed, assigned to nobody

[2018-03-16 03:55] jpcampb2 commented on #169
Done.

[2018-03-16 03:55] #169 closed, assigned to nobody

[2018-03-16 03:58] jpcampb2 commented on #138
Added in #224 .

[2018-03-16 03:58] #138 closed, assigned to nobody

[2018-03-16 04:01] jpcampb2 commented on #158
The base dataset expectation decorator now calls `recursively_convert_to_json_serializable` on result objects, which will raise an exception if it can't deal with something properly.

[2018-03-16 04:01] #158 closed, assigned to nobody

[2018-03-16 04:02] jpcampb2 commented on #137
@abegong I'd recommend closing this issue, or at least pulling it from the milestone as a blocker.

[2018-03-16 04:09] abegong commented on #137
Yes, agreed.

[2018-03-16 05:00] zack3241 commented on #236
@abegong yeah you nailed it completely albeit extended beyond just two columns. My experience with helping Data Scientists map data into a SQL data warehouse is that the SQL errors kicked backed when inserting data when using pandas can be obtuse (e.g. it usually reports the error from the database rather than something that is intelligible to the user that is working with the data frame). Identif

[2018-03-16 05:53] abegong commented on #236
This makes a lot of sense.

If you're up for it, I'd love to figure out a path to add an `expect_multicolumn_values_to_be_unique` method. I see two steps

1. Define a `@multicolumn_map_expectation` decorator
2. Implement `expect_multicolumn_values_to_be_unique` using that decorator.

Step 1 is probably the harder step, but hopefully not too hard. PR #173 does something similar for column pairs. Th

[2018-03-16 18:31] zack3241 commented on #236
@abegong, I'd like to give it a shot, but I don't think I'll necessarily have the time until maybe about 2 weeks from now.

Just some design thoughts I wanted to put somewhere:
In terms of the API, I thought it might be nice to have the ability to have all expectations get handed **either** a list of strings or a single string and then handle it appropriately rather than having a completely separa

[2018-03-18 03:45] abegong commented on #80
*bump*

I ran into this again today. It would have been really nice to apply a preprocessing function at the expectation level---because I didn't have this, I had to drop a bunch of otherwise useful expectations.

Note: preprocessing could screw up the logic we use to overwrite expectations.

Also, Altair uses embedded transforms in a very fluid way: https://altair-viz.github.io/user_guide/transfo

[2018-03-20 01:26] jpcampb2 commented on #139
Fix from @dlwhite5

Thanks!

[2018-03-20 01:26] #139 closed, assigned to nobody

[2018-03-20 01:39] jpcampb2 opened #238 "Null values and duplicate index values together break PandasDataset column_map_expectation wrapper"
[code]

Results in:
[code]

👎

[2018-03-20 02:59] jpcampb2 opened #239 "Mismatch between unexpected_percent and unexpected_percent_nonmissing in expect_column_values_to_not_be_null"
This seems confusing, if my statement is 'not null' how can these numbers be different?
[code]

(yes, this is from 0.3.2, not from develop)

[2018-03-20 04:32] abegong commented on #239
I think this was a bug in `expect_column_values_to_be_not_null` that has since been fixed.

Not certain, though.

[2018-03-20 15:00] dlwhite5 commented on #150
Taking a look at this.

What do we want the default behaviour to be with respect to the list of rows in affected_rows?

Should the index be included in the rows that constitute affected_rows or just the row data?

Or do we want another boolean that gives the user the option of requesting the index or not? If so, what is the default? Index included or not?

[2018-03-21 22:28] alchenist opened #241 "UserWarning when initializing PandasDataSet with pandas >= 0.21.0, ge == 0.3.2"
Getting these UserWarnings about setting attributes on a DataFrame when using ge.read_csv(). Looks like this is associated with [pandas >= 0.21.0](https://github.com/pandas-dev/pandas/pull/16951)?

[code]

[2018-03-21 22:59] abegong commented on #241
Good feedback!

This will be addressed in the upcoming v0.4 release.

If you use the `develop` branch, I believe the change is already implemented. See this commit: https://github.com/great-expectations/great_expectations/commit/4c8bfd9f0719fc7ace6a0efeb6e66200b74f4c8d

Heads up, though---there are a bunch of API changes in v0.4, so you may run into some compatibility issues with expectations from

[2018-03-22 00:31] alchenist commented on #241
Thanks! Made the issue title more specific.

[2018-03-22 00:31] #241 closed, assigned to nobody

[2018-03-22 15:01] dlwhite5 commented on #172
I'll have a look at this one.

[2018-03-23 10:24] dlwhite5 commented on #172
What does valid mean for this issue?

1) That the expectation is valid json; or
2) That the json expectation is valid?

To further explain,

1) is asking whether the expectation blob (eg a string) is valid json.
2) is assuming that the expectation blob is valid json and we want to know whether the data satifies  the json expectation. expect_column_values_to_be_json_parsable or expect_column_values

[2018-03-23 14:00] abegong commented on #172
Third option: this is intended as a helper function to validate expectations themselves.

For example, if it got a json-encoded expectation for `expect_column_to_exist`, but there was no `column` argument in kwargs, it would return "invalid."

I have an early mockup of this in a branch on superconductive's fork of great_expectations.

@dlwhite5 , if you're interested in pushing on this feature, I

[2018-03-23 15:00] dlwhite5 commented on #172
Sorry. I didn't realize you were already working on it.

[2018-03-23 15:24] abegong commented on #172
No problem at all---I'd be more than happy to hand it off!

[2018-03-23 17:48] jpcampb2 opened #243 "It is difficult to make expectations about index columns"
Because pandas index is not accessible via the normal mechanism, expect_column_* expectations cannot currently be written against Pandas Indices.

This needs design thought, but an initial implementation might do something like allow for an is_index flag to the expect_column_* expectations.

[2018-03-23 19:42] ccnobbli commented on #239
This issue persists.

Weird things happen when number of null values > number of non-null values
It returns a ratio greater than 1

[code]

[2018-03-23 19:44] ccnobbli commented on #239
Unexpected_count should be 0.

I forgot to mention this happens in _format_column_map_output. The problem is that it never checks whether the `unexected_list` contains `None` values. In the case of this expectatation, that is all of the values.

[2018-03-24 13:46] abegong opened #247 "Expectations and results in v0.4 aren't compatible with v0.3.*"
We know. We're sorry for the pain. It will be worth it, we promise.

In the meantime, if this migration is causing headaches for you, please chime in here and we'll see if we can help.

[2018-03-26 01:09] jpcampb2 commented on #238
Also:
[code]

(for the multi-index case). This will require looking at alternate approaches to:

[code]

[2018-03-29 07:25] bouke-nederstigt opened #249 "Join tables in SqlAlchemyDataset"
It would be great to join multiple tables / execute queries and execute expectations on the result. I've been thinking a little on how to implement it.

Options I came up with so far
- Replacing all ```select_from(sa.table(self.table_name))``` in the SQLAlchemyDataset class with subqueries. This would also require to add some logic for inspecting column types etc. by analyzing the query. Might hav

[2018-03-29 11:32] jpcampb2 commented on #249
Joining tables will no doubt come up a lot--thank you for opening the issue!

The proposal to allow providing SQL that creates a temporary table against which expectations will be run makes the most immediate sense to me, and seems in line with an eventual view wherein a given data_context (the sql database) could expose a mechanism for creating check datasets. It also provides a lot of flexibilit

[2018-03-29 12:05] bouke-nederstigt commented on #249
Although I don't think it's necessary for my immediate use case preprocessing would definitely be a nice to have. I didn't really run into the need for it yet, but then again I've only just begun experimenting with the great_expectations library.

From my point of view I would never expect the library to ever persist anything with respect to data preparation or joining. I would push that kind of f

[2018-03-29 13:52] ccnobbli opened #250 "Testing for different types of Missing Values in expect_column_values_to_[not]_be_null"
Spin off from #239 and PR #246

Currently when testing expect_column_values_to_not_be_null(), see test_pandas_dataset, it expects all Null values to be returned as `None` in `result['unexpected_list']`.

There are a few different ways to represent Null, especially across data contexts. I propose that we try to keep the native Null format when returning it in the `unexpected_list`. The biggest prob

[2018-03-29 14:22] abegong commented on #249
I really like the idea of exploring temporary tables and preprocessing. I bet it'll be important for convenience and optimization.

Thanks for taking a first crack at this, @bouke-nederstigt !

[2018-03-30 02:04] jpcampb2 commented on #250
This may be best thought of as an a different issue, but I'm wondering about some additional nuance in handling null values. For example:

[code]

[2018-03-30 02:04] #239 closed, assigned to nobody

[2018-03-30 02:04] jpcampb2 commented on #239
Thanks, @ccnobbli !

[2018-03-30 14:25] abegong commented on #250
@jpcampb2 Is this what the method does now, or what you wish it would do?

[2018-03-30 14:28] abegong commented on #151
@ccnobbli When I said private function, I basically meant renaming from `format_column_map_output` to `_format_column_map_output`.

Were you thinking of something more involved?

[2018-04-02 12:02] ccnobbli commented on #151
@abegong That's what I had understood, adding the underscore to make them private. There are a few places in the tests that use these functions explicitly, outside of their home class. For example initialize_expectations() is used to wipe any expectations config from a great expectations object in a couple of tests.

I'll try my hand at this today but I'll ping you if I can't get it rolling!

[2018-04-02 16:14] #186 closed, assigned to nobody

[2018-04-02 19:21] ccnobbli opened #254 "Applying Identical Expectations to Multiple Columns"
I am working with data that has groups of columns that I want to apply the exact same expectations.
`df.expect_column_values_to_not_be_in_set('colA', [list of values])
df.expect_column_values_to_not_be_in_set('colB', [same list of values])
df.expect_column_values_to_not_be_in_set('colC', [same list of values])`

It would be very convenient to be able to apply these by just passing a list of column

[2018-04-03 00:48] jpcampb2 commented on #254
I agree this case isn't well settled. See a tiny bit of old discussion in #10

[2018-04-03 01:16] abegong commented on #254
What about a helper function like this?

[code]

[2018-04-03 14:30] ccnobbli commented on #254
I added a helper function to ge.dataset.util that follows @abegong's suggestion. It makes sense to me, and it works!

[2018-04-04 16:32] abegong opened #256 "Links on the readthedocs intro page aren't rendering correctly."
http://great-expectations.readthedocs.io/en/latest/intro.html#what-is-great-expectations

For example:

<img width="711" alt="screen shot 2018-04-04 at 9 31 47 am" src="https://user-images.githubusercontent.com/1239085/38321002-155c61d4-37eb-11e8-96a1-1cbc247077b7.png">

[2018-04-06 00:03] abegong commented on #151
@ccnobbli Can we close this issue, or are there still unfinished bits?

[2018-04-06 00:11] abegong opened #257 "Create an API to allow meta to act like a variable for expectations"
@jpcampb2 I was looking for documentation on this idea---couldn't find anything that described intended use cases and candidate APIs directly.

Imagine you're running data through an ETL process. The file started with 1,000 rows, and you want to ensure that no more than 2% of rows are lost in the process.

Then an API something like this could work:

[code]

[code]

More to come. Throwing this out

[2018-04-06 13:18] ccnobbli commented on #151
@abegong it's all done! Close 'er on up.

[2018-04-06 15:00] jpcampb2 commented on #256
Oops...looks like an error when I put the new md version in directly. Fixing.

[2018-04-06 16:17] #151 closed, assigned to nobody

[2018-04-07 03:32] abegong opened #259 "`result_format` still contains refs to `true_value` instead of `observed_value`"
Examples here: http://great-expectations.readthedocs.io/en/latest/result_format.html#behavior-for-summary

There may be more. Haven't dug into this closely yet.

[2018-04-07 03:33] abegong opened #260 "Formatting issues in validate docs"
http://great-expectations.readthedocs.io/en/latest/dataset_module.html#great_expectations.dataset.base.Dataset.validate

[2018-04-07 03:39] #256 closed, assigned to nobody

[2018-04-07 03:39] #254 closed, assigned to nobody

[2018-04-07 03:40] jpcampb2 commented on #250
That's the current behavior. I don't like that my set of values can't include None/null.

[2018-04-07 03:41] jpcampb2 commented on #249
Thanks again, @bouke-nederstigt. I'm going to close this issue, but we're interested in your experience using the feature, as well as the new SqlAlchemyDataset in general.

[2018-04-07 03:41] #249 closed, assigned to nobody

[2018-04-07 03:44] abegong commented on #250
In parallel with the current proposal for column_pairs, we could do:
`ignore_row_if="value_is_missing" / "never"`

Problem is, we could apply that to a lot of column map expectations...

[2018-04-07 03:46] jpcampb2 commented on #260
Warnings when I build locally, to be addressed...

[code]

I'm going to call uncle on docstring formatting for the night. :)

[2018-04-07 10:01] #259 closed, assigned to nobody

[2018-04-07 10:29] jpcampb2 commented on #250
I agree...but I think it's worth it to control. I think adding it everywhere is a better call...much more explicit.

[2018-04-07 11:03] jpcampb2 commented on #260
We were bitten by the classic gotchas. This helped:

[code]

I broke out commits to show the specific changes needed to at least address the warnings raised.

[2018-04-07 14:21] abegong commented on #250
You're probably right.

I vote we Implement `ignore_row_if` on the column_pair expectations, then watch it for a while. If it's a good experience, we can roll it out to all the column_map expectations as well.

I don't think there's any urgency---it there is, people will tell us---and I'd much rather not have to undo a big "add a parameter to every docstring" change.

Also, tangentially related: s

[2018-04-08 12:35] jpcampb2 opened #265 "Recursively_convert_to_json_serializable doesn't check all numpy types"
...which it says it does in the comments. The two should be harmonized.

[2018-04-09 10:15] bouke-nederstigt opened #266 "Hierarchical multi-column expectations"
I've been keeping an eye on the multi-column expectations. I think the work so far looks great. I was wondering if you guys considered hierarchical expectations based on multiple columns?

So something like the following. IF column A == y expect column B in set (z,x). Do you think this would be useful to have in the great_expectations package, or should I just implement it as a custom expectation?

[2018-04-09 13:51] abegong commented on #266
Do you have a use case in mind?

This seems similar to `expect_column_pair_values_to_be_in_set`:

[code]

Maybe there's some way to accomplish this with wildcard values...?

[2018-04-09 14:08] bouke-nederstigt opened #267 "Airflow plugin"
We'll be running great_expectations as part of our ETL pipelines, and those are managed by Airflow. As such it'd be great to have an airflow plugin as part of the great_expectations package. I'll be creating this for internal use in the next couple of weeks anyway, happy to share in case you guys think it would be nice to include in the great expectations package.

In case you agree I'd like to he

[2018-04-09 14:16] ccnobbli commented on #265
I'll take a look at this, found some good documentation for numpy types and type checking.

[2018-04-09 15:10] ccnobbli commented on #265
Found some helpful stuff here:
https://docs.scipy.org/doc/numpy-1.13.0/user/basics.types.html - base type testing
   `np.issubdtype(type(test_obj), np.basetype)` evaluates to true if np data is a subtype of the basetype, e.g. `np.int32` would evaluate true if you specified basetype as `np.integer`.

and here:
https://github.com/numpy/numpy/pull/9505 - info about FutureWarnings from numpy
   this m

[2018-04-09 15:45] bouke-nederstigt commented on #266
Mm, this seems to be in the right direction. However it doesn't quite offer the right functionality, or I'm having a hard time understanding how to use it correctly.

My example use case would be checking categorisation of products. My dataset is a list of products, and each product has a group and a category. Groups are e.g. food or drinks, and categories are e.g wine or beer. Obviously wine and

[2018-04-09 18:50] ccnobbli commented on #250
That makes sense to me, that seems very relevant to this issue.

I like the `ignore_row_if="value_is_missing" / "never"` idea. As to how many expectations to apply it to, we would probably get feedback more quickly if we rolled it out to the other column_map expectations... but @abegong is right about a large undo once we get that feedback.

[2018-04-10 06:56] bouke-nederstigt commented on #266
Never mind the first issue above. A good night sleep solved the issue as usual. The ```expect_column_pair_values_to_be_in_set``` definitely solves the issue. Small improvement might be to change the docs from ```value_pairs_set (list of lists)``` to ```value_pairs_set (list of tuples)```

The TypeError for columns with object type still stands though.

[2018-04-10 11:38] jpcampb2 commented on #266
@bouke-nederstigt Great! Your PR is in for fixing the TypeError. Is this issue ready to close?

[2018-04-10 11:40] jpcampb2 commented on #267
We've talked about but not yet implemented anything in this space, so would definitely like to have the contribution! #104 also aimed at providing an example and documentation, but it hasn't risen to the priority list yet, so we'll be able to close that issue too with your submission, I hope!

[2018-04-10 11:40] #260 closed, assigned to nobody

[2018-04-10 11:43] jpcampb2 commented on #250
I think the right intermediate approach is a small documentation section that describes how we use the terms "null" and "missing." That will force us to be explicit about it and can trigger a search for the right consistent behavior (e.g. re the move from np.nan to pd.isna checks in the new column pair expectations).

[2018-04-10 13:51] bouke-nederstigt commented on #266
Yeah, the issue can be closed!

On Tue, 10 Apr 2018, 13:38 jpcampb2, <notifications@github.com> wrote:

[2018-04-10 14:46] abegong commented on #250
💯

[2018-04-10 16:28] #266 closed, assigned to nobody

[2018-04-11 11:48] bouke-nederstigt opened #271 "Deal with MySQL returning decimal.Decimal"
The count query

[code]

to calculate succes, percent_success etc. in sqlalchemy_dataset.MetaSqlAlchemyDataset returns decimal.Decimal types when executed (at least on my MySQL db).
This in turn results ```TypeError: unsupported operand type(s) for /: 'float' and 'decimal.Decimal'``` in the ```_format_column_map_output``` and ```_calc_map_expectation_success``` methods of the Dataset class.

Easy

[2018-04-11 12:51] jpcampb2 commented on #271
I agree--the correct fix is to remove the cast to `float` in _format_column_map_output and _calc_map_expectation_success. They are there to support python 2 compatibility, but the better approach there is to ensure that the change also imports python 3 division: `from __future__ import division` in base.py.

[2018-04-16 12:42] #271 closed, assigned to nobody

[2018-04-16 15:13] bouke-nederstigt opened #274 "Dumping results to database"
It would be interesting to be able to dump expectation results to a database. e.g. some kind of error fact table, or a table specific to a set of expectations. That way it becomes much easier to track the quality of your data over time.

Is this something you guys have considered? Happy to help.

[2018-04-17 00:16] abegong opened #276 "Great Expectations should totally do Spark DataFrames."
discuss.

[2018-04-17 00:22] njsmith8 opened #277 "Unable to exclude multiple regex patterns from single column."
I am working with a lot of text data, and I want to use expect_column_values_to_not_match_regex to check for the presence of multiple regex patterns in the same column.

The reasons for looking for the different regex patterns are unrelated, so I created them as separate expectations, but only the last pattern is kept in the final expectation list.

expect_column_values_to_not_match_regex_list doe

[2018-04-17 12:43] jpcampb2 commented on #104
Thank you, @bouke-nederstigt!

[2018-04-17 12:43] #104 closed, assigned to nobody

[2018-04-17 12:44] #267 closed, assigned to nobody

[2018-04-17 12:45] jpcampb2 commented on #274
I can see that working well as an integration that reads the GE json-based output format, and translates it into a result table. Do you have a schema in mind already?

[2018-04-18 07:57] bouke-nederstigt commented on #274
The integration approach was on my mind as well. Not completely sure about the schema yet. I think depending on the use case it might be necessary to add some context as well. e.g. stuff like where in the pipeline the tests where executed, or during what batch run.

I think there are two major options when it comes to a relation schema.
- One is to use a single expectation as the grain of the expe

[2018-04-18 12:33] jpcampb2 commented on #277
Thank you for flagging this issue. I think as an intermediate fix, we should just add `expect_column_values_to_not_match_regex_list`, but the deeper issue will be a revision to the way that expectation matching happens when new expectations are made, and a need for a way to signal whether the new expectation should replace or complement the old one.

[2018-04-18 12:38] jpcampb2 commented on #274
I think the idea of dropping the output of the expectation into elasticsearch as a document, and then providing a kibana dashboard setup that is aimed at allowing the monitoring of data quality probably makes most sense right away. It also allows the great_expectations library to remain focused on the construction and validation of expectations, with good separation from the execution on one hand

[2018-04-18 13:01] ccnobbli commented on #277
Thanks for bringing up this issue @njsmith8! My first thought is to have a `replace_similar_expectations` argument in the expectation, defaulted to `True`.

I haven't sold myself with that, but I think it's better than having some sort of global flag - you probably won't need this behavior for all but a handful of your expectations.

Another way to differentiate expectation matching could be to lo

[2018-04-18 19:31] ccnobbli commented on #276
So what do you think will be the most challenging aspect of this data context?

[2018-04-19 12:12] ccnobbli commented on #243
another way we could do this is have a universal name for the index, e.g. "index" or "INDEX". This could be caught in the expectation decorator and pass on the index as if it were a column.

[2018-04-19 13:56] ccnobbli opened #278 "SQLAlchemy `expect_column_values_to_not_be_null` can't handle columns with 100% missing values"
While migrating tests, found a bug that seems to happen when all column values are missing. Returns `success`=`True` even though it should be `False`.

The expectation correctly fails when there is at least one, non-missing value. I'm not really familiar with SQL Alchemy to understand why this might be happening.

[2018-04-19 14:00] abegong commented on #278
This only affects SQLAlchemy? Not pandas?

[2018-04-19 14:05] ccnobbli commented on #278
Yes, the same tests that fail on SQA are hunkey-dory for pandas

[2018-04-19 17:18] jpcampb2 commented on #243
I think your proposal is better--we would just need to document that index ceases to be a valid column name. Also, of course, it only makes sense in pandas, and we'd want to double check that it's not a multiindex in which case we would potentially just throw an error.

[2018-04-19 17:20] jpcampb2 commented on #278
Are you testing cases where the entire table is empty, or where the table has rows, but you're testing against a column that has all nulls? If the former, it sort of makes sense to me...

[2018-04-19 18:31] ccnobbli commented on #278
Unfortunately, it's the latter. The dataset is defined in the tests like:

[code]

In this case, I am expecting the column `a` to have no nulls when it they are in fact all nulls. The expectation returns `True`, that it doesn't have any... which is clearly not the case.

Interestingly, the Pandas context correctly identifies it as a failing expectation, but not SQA.

[2018-04-19 19:02] jpcampb2 commented on #278
It looks like this is perhaps a legacy of having converted the pandas expectations away from column_map_expectations, but leaving the sqlalchemy expectations as column_map_expectations.

The `_calc_map_expectation_success` function from base returns true any time that the nonnull_count is zero...which is clearly wrong for expect_column_values_to_not_be_null.

Seems like there should be a condition

[2018-04-19 19:02] jpcampb2 commented on #278
Also...was this condition not tested before, but was in one of the tests you were converting, or were you also expanding the test cases for existing cases (great catch).

[2018-04-19 19:22] ccnobbli commented on #278
Fantastic, I think you found the smoking gun.

This condition was being tested before, but only in Pandas. And to be honest, I think I added this 100% missing column condition only after wrangling with a previous issue concerning the `to_[not]_be_null` expectations and the mismatched `nonmissing percent` output.

[2018-04-22 01:14] #277 closed, assigned to nobody

[2018-04-22 01:15] jpcampb2 commented on #277
I'm definitely open for more discussion on fixing the deeper matching issue, but that think we should open a different issue for that discussion!

[2018-04-22 01:16] jpcampb2 commented on #278
@ccnobbli can you build a patch to address this issue?

[2018-04-22 01:16] jpcampb2 commented on #265
Thanks for fixing this @ccnobbli !

[2018-04-22 01:16] #265 closed, assigned to nobody

[2018-04-23 14:41] ccnobbli commented on #278
So, iirc we ended up nixing the `expect_column_values_to_[not]_be_null` from the `map` expectations framework - mostly because of this missing value issue in `_calc_map_expectations_success`.

I've been trying to think of workarounds to prevent issues with `unexpected_percent_nonmissing` and weird success calculations with `mostly` - it seems simpler to deviate from the map framework tbh.  I'll go

[2018-04-23 15:25] jpcampb2 commented on #278
That sounds good to me.

[2018-04-24 19:31] roblim opened #281 "Documentation for 'mostly' kwarg within function docs is incorrect"
When viewing function-level docs, kwarg doc reads:

mostly (None or a float between 0 and 1) – Return “success”: True if the percentage of unexpected values is less than or equal to mostly. For more detail, see mostly.

This is backwards (should be True if 'mostly' percent of rows evaluate to True) and should match the docs of standard args at http://great-expectations.readthedocs.io/en/latest/sta

[2018-04-25 00:45] jpcampb2 commented on #281
Wowza--you're exactly right! I'll fix that right away.

[2018-04-25 13:24] #281 closed, assigned to nobody

[2018-04-27 18:17] abegong commented on #278
From today's discussion:

*Stop-gap solution:*
* In the `SQLAlchemyDataset.column_map_expectation` decorator, add conditional logic to adjust the denominator for `expect_column_values_to_be_null` and `expect_column_values_to_not_be_null`
* Change `unexpected_count` and `unexpected_query_results` to select on unexpected condition AND not missing.

*Better solution:*
* Add an `ignore_values` kwarg t

[2018-04-30 16:45] ccnobbli opened #284 "Logic error in Pandas `expect_column_median_to_be_between`"
minor issue, this expectation goes kaput when either `min_value` or `max_value` is `None`. see PR #283 for fix

should be:

[2018-04-30 22:16] roblim commented on #172
Below, find a preliminary JSON schema for expectations. It checks shape and presence of fields, but doesn't yet type check all fields:

[code]

[2018-05-02 14:50] dlwhite5 commented on #150
I'm going to punt on this issue so someone else can work on it if they want.

[2018-05-07 15:49] ccnobbli commented on #284
This was fixed in PR #283, so I'm going to close this.

[2018-05-07 15:49] #284 closed, assigned to nobody

[2018-05-08 12:03] dlwhite5 opened #285 "Great Expectations Version"
Add command-line option to print the GreatExpectations version and exit

[2018-05-09 04:50] abegong commented on #285
+1

Yup. We should have this.

[2018-05-11 17:29] #194 closed, assigned to nobody

[2018-05-11 17:29] #247 closed, assigned to nobody

[2018-05-11 19:33] eringong opened #286 "Airflow dependency crashed when I installed develop branch"
I downloaded the develop branch and when I ran `python setup.py install` it crashed with this error:

[code]
I was able to fix by removing airflow dependency.

This is likely specific to my environment/set up but wanted to document the issue here along with the fix, in case it affects anyone else.

[2018-05-11 20:52] eringong opened #287 "Confusing warning message on .get_expectations_config and save_expectations_config"
The warning message generated when running get_expectations_config and save_expectations_config is a bit confusing. To me, it suggests that I am doing something wrong, rather than being an information message surfacing under-the-hood changes that are likely the desired behavior I want anyway.

[code]

[2018-05-11 21:01] abegong commented on #287
I propose a more informative and less intimidating message:

[code]

If multiple kinds of discards are triggered, we'd get

[code]

[2018-05-15 14:03] ccnobbli commented on #278
See #280

[2018-05-16 07:22] Hellsen83 commented on #276
Hello World!
New to this project, which i recently discovered and I got to say I totally love it. That said, I am not yet aware of possible integration challenges, that said, I totally agree that (Py)Spark is the way to go.
Looking forward to contribute!

[2018-05-16 08:52] ilmari-abaenglish opened #289 "How to switch schema with SqlAlchemyDataContext?"
Hi,

Could you recommend a way to switch schema, which by default is public for PostgreSQL? Perhaps add set_schema method?

This works for me currently:
[code]

Best regards,
Ilmari

[2018-05-16 12:19] ccnobbli commented on #278
Fixed in that merge! Boom!

[2018-05-16 12:19] #278 closed, assigned to nobody

[2018-05-17 01:11] jpcampb2 commented on #289
If you'd like to set the default schema for the entire context, I believe another option would to specify it in the connection_string parameter using the currentSchema option. That would make your connection_string something like:
`postgresql://host:port/database?currentSchema=other_schema`

That would also avoid bringing postgres-specific issues into the sqlalchemy data context. Please let us kno

[2018-05-17 01:24] jpcampb2 opened #291 "expect_column_values_to_be_unique is not clearly a column_map_expectation"
Currently, pandas implements `expect_column_values_to_be_unique` as a `column_map_expectation`, but as observed in #290, it should be a `column_aggregate_expectation` since uniqueness isn't a per-row property.

[2018-05-17 01:49] jpcampb2 commented on #291
I shouldn't be so definitive, I think: the current `expect_column_values_to_be_unique` expectation is tricky because it *is* using the column_map_expectation semantics in our tests...but as I initially mentioned (now below) it isn't exactly a column_map_expectation--it would require re-joining against the counts to provide the same level of return value in the sqlalchemy context.

For now, I recom

[2018-05-17 13:30] abegong commented on #291
As I see it, `expect_column_proportion_of_unique_values_to_be_between` is the aggregate expectation and `expect_column_values_to_be_unique` is the map expectation. They do similar things, but I think it makes sense to have one of each.

Think about the output returned in `result_object`: sometimes you'll want to know row-by-row which values are duplicated, get counts of duplicate values, etc. This

[2018-05-18 17:11] mattip opened #293 "ENH: support hdf5 files"
Just heard the podcast about your package, and am interested if you had considered integration with hdf5 file format?

[2018-05-18 18:06] ccnobbli commented on #293
We have no immediate plans - at the moment we're furiously working on getting SQL all the way up to speed and also hopefully rolling out support for Spark very soon.

Coincidentally, one of our core devs was wishing today that this existed though. I don't have much experience with the format myself but it seems there is a powerful pandas/hdf5 API through the `h5py` package (http://www.h5py.org/).

[2018-05-18 19:47] abegong opened #294 "Expectation-level preprocessing"
Here's a draft proposal for expectation-level preprocessing.

The gist: Similar to `Expectations`, we will implement `Preprocessors` as decorated function types within the main `Dataset` class.

Preprocessors are invoked like this:
[code]

They are defined (something) like this:
[code]

There's a lot more [owl to draw](https://www.reddit.com/r/restofthefuckingowl/) here, but that's the outline.

N

[2018-05-19 01:29] jpcampb2 commented on #294
Cross-referencing the open issue on this: #80

Good convo today and good capture. I like it for the wish list!

[2018-05-19 01:33] jpcampb2 commented on #291
Capturing today's discussion:

We'll plan to leave the expectations like this, with overlapping intents. We'll implement an (admittedly more expensive) sqlalchemy version of `expect_column_values_to_be_unique` eventually, and guide the current PR toward instead being an implementation of the column_aggregate_expectation.

[2018-05-19 01:33] #291 closed, assigned to nobody

[2018-05-19 01:34] jpcampb2 commented on #289
Please feel free to re-open if that doesn't work for some reason...

[2018-05-19 01:34] #289 closed, assigned to nobody

[2018-05-19 14:00] ilmari-abaenglish commented on #289
Thanks @jpcampb2 for your answer, indeed it seems to work for PostgreSQL 9.4 and higher as mentioned in this answer [https://stackoverflow.com/questions/4168689/is-it-possible-to-specify-the-schema-when-connecting-to-postgres-with-jdbc](url)

We're on Redshift to be precise and this doesn't work unfortunately, but don't worry, I can work around it. I totally understand that you wouldn't like to in

[2018-05-21 11:39] ccnobbli commented on #294
One minor thing from me: When I hear "preprocess" I think of optimization, but maybe it is more meaningful and closer to its intended definition for others.

I would have been more apt to call it a transformation or something along those lines.

[2018-05-21 15:29] edjoesu opened #295 "When calling groupby on subclassed PandasDataset, groups revert to PandasDataset"
It's possible I'm doing something wrong when subclassing, but:

I'm subclassing PandasDataset to create custom expectations. When calling the groupby method on these custom datasets, the groups revert to the base PandasDataset type (and lose the custom expectation methods).

[code]
output:

<class '__main__.SubclassPandasDataset'>
<class 'great_expectations.dataset.pandas_dataset.PandasDataset'>
<

[2018-05-21 16:05] jpcampb2 commented on #295
@edjoesu I think you're doing everything right--looks like a bug in the way PandasDataset was handling subclass to Pandas. I've made a small change to make the subclass inheritance go all the way to the implementing class, and we'll merge it in.

[2018-05-21 17:56] edjoesu opened #297 "_append_expectation should have a keyword argument for which fields to match when overwriting"
Currently append_expectation only supports overwriting based on 'expectation_type' only or 'expectation_type' and 'column' together.

This requires some kludging for column pair expectations when using the Dataset.expectation decorator, similar for future expectation types where there might be multiple of that type for a column but ['expectation_type', 'column', 'some_parameter'] would be unique t

[2018-05-22 04:03] abegong commented on #297
hm. `append_expectation` should not be doing this check itself. We have a function called `find_expectation_indexes` that takes care of this logic.

I suggest three changes:

1. Refactor `append_expectation` to use `find_expectation_indexes`. (I could have sworn we did this already, but I guess not.)

2. Extend `find_expectation_indexes` to cover the column pair case where `column_A` and `column_B

[2018-05-22 13:24] schrockn opened #301 "Remove airflow dependency"
The inclusion of apache-airflow[s3] in requirements.txt -- only there for an example -- dramatically expands the footprint of installing ge.

Repro: Create two virtual environments. Install currently checked in requirements file. If you list the pip modules, there are 69 of them, and lots of them are very heavyweight (e.g. flask)

(ge_with_airflow) $ pip list | wc -l
69

Removing

apache-airflow[s

[2018-05-22 14:51] schrockn opened #302 "License file still has template values for year and copyright owner"
Copyright {yyyy} {name of copyright owner}

is in the license file right now

[2018-05-22 14:53] schrockn commented on #302
nvm misunderstood what was happening

[2018-05-22 14:53] #302 closed, assigned to nobody

[2018-05-24 09:39] sotte opened #303 "Add `expect_column_names_to_be_unique`"
When working with messy data (ie always) something like `expect_column_names_to_be_unique` would be great. What do you think?

PS: great-expectations is a great tool btw!

[2018-05-24 11:33] ccnobbli commented on #303
Wow, and here I thought this sort of thing would be implicit in pandas! This is a great idea for an expectation, imo.

Thanks for the love!

[2018-05-24 15:43] sotte opened #305 "Add an overall success field to the report created by `.validate()`"
I think it would be great if the validation report (the json/dict you get when you call `.validate()`) would contain the overall validation success, not just a list of of results.
[code]

[2018-05-24 16:52] abegong commented on #305
Yes, we should definitely do that.

Also, summary stats "x% succeeded and y% failed" would be great.

[2018-05-24 18:14] #295 closed, assigned to nobody

[2018-05-24 23:04] jpcampb2 commented on #305
Agree--this will be a great addition.

Wrt the way to convey the stats: I'd suggest we either use the key 'details' paralleling the way column_aggregate_expectations return addition information, or the key 'result', paralleling the usual result. I'd prefer 'result' probably except it could be confusing given our current use of 'results', and we may want to expand what goes there (e.g. listing when

[2018-05-24 23:09] jpcampb2 commented on #303
Agreed--PR welcome!

[2018-05-24 23:10] jpcampb2 commented on #301
Wow, yes, I think I'd pulled that out locally because it was added as an example for dev and we specifically pulled it out of the build codepath. I'll take that as a quick chore.

[2018-05-25 02:35] abegong opened #308 "Should errors be consistent across execution contexts?"
What's the expected error state if an expectation is called on a bad data type (e.g. a float).
Will that be consistent between pandas, SQL, and other execution contexts?
Should it?

[2018-05-25 02:36] abegong commented on #308
See #299 for a bit of history.

[2018-05-25 11:38] jpcampb2 commented on #297
This is a feature we've talked about a few times, and really is an important (see, e.g. discussion in #277)...and I also thought the refactor of _append_expectation had already happened... 👎

I agree, @abegong : fixing this by fixing find_expectation_indexes makes sense.

But we need some thought on a good set of options for how to match. I think, e.g. the column parameter should go away so that a

[2018-05-25 11:38] #301 closed, assigned to nobody

[2018-05-25 14:28] stvpruitt opened #309 "General questions"
HI.

We starting a new data lake based on Spark and HDFS.  A first task is putting a testing framework in place to test our Spark job processing.  A system-under-test would be something like input->job->output, where the testing framework compares expected output from generated input.  This is a simple example and complexity will grow over time.  Plans include to build test automation into our CI

[2018-05-25 14:44] abegong commented on #309
Good questions.
* This sounds like a great use case for Great Expectations---I'm using it in similar applications.
* Yes, Spark is next up on our list of planned integrations. (See #276)
* On real-time data testing: Great Expectations is agnostic about where it's deployed. We see lots of emerging use cases around production "pipeline testing" because that's usually what's required to fully guarant

[2018-05-25 17:59] stvpruitt commented on #309
Thanks.  I will get in touch next week.

[2018-06-04 02:16] jpcampb2 commented on #79
@abegong: Are you ready to close this issue since we have some column pair expectations at this point?

[2018-06-04 13:26] #79 closed, assigned to nobody

[2018-06-04 16:38] sotte opened #312 "Write a great "Tutorial" / "Getting Started" guide"
great_expectations is great ;) But it took me a bit till it really clicked.
I suggest to write a short tutorial/getting started guide that walks the user through a simple data analysis and shows of the great_expectations workflow.

[2018-06-06 20:11] smontanaro opened #313 "expect_column_values_to_be_in_type_list doesn't match my expectations"
I'm just starting to use ge (0.4.2), and barely know how to use Pandas. Consider this session:

[code]

I tried replacing "float" with "float64" and "double", neither of which are understood as strings defining a float. I also tried expect_column_values_to_be_of_type, but that failed in the same way.

I eventually realized that there is another target_datasource, "python", which isn't mentioned in

[2018-06-07 19:40] jpcampb2 commented on #309
@stvpruitt I'm going to close this issue since you're planning to have this conversation offline, but please feel free to reach out again with other questions (I'm also happy to chat on these issue if you're interested!).

[2018-06-07 19:40] #309 closed, assigned to nobody

[2018-06-07 23:11] #305 closed, assigned to nobody

[2018-06-08 00:03] jpcampb2 commented on #313
@smontanaro I think you're right, and we may just need to drop this until we have a deeper discussion and consideration of how to handle types in great_expectations. We've flagged some problems before, but haven't gotten to the point of actually pulling out the current implementations until there's something better implemented.

@abegong I think I'm ready to pull these out as discussed in #110 unt

[2018-06-08 01:09] abegong commented on #313
I started working on Spark earlier this week and ran headfirst into issues around typing.

It's such a core feature that I'd like to start figuring out how to fix it immediately. Can we make plans tomorrow?

[2018-06-08 01:43] jpcampb2 commented on #313
That makes sense to me...let's put it as the primary item on the agenda, and we can consider making a rapid PR, including one or more of @smontanaro 's suggestions.

[2018-06-08 15:44] #285 closed, assigned to nobody

[2018-06-09 13:07] abegong opened #317 "Proposal for adding strict typing to tests"
Right now, tests rely on automatic schema generation by sqlalchemy and spark. This is nontransparent, bad magic. As we move into checking typing in general, it will become completely untenable.

Instead, let's add a `schemas` k/v to our tests:

[code]

`schemas` are used to define types when instantiating datasets in in `test_utils.get_dataset`. They vary by database.

We will want to write a util

[2018-06-11 19:48] ccnobbli commented on #313
To briefly capture some things that are being considered:

1. simple `expect_column_values_to_be_(common_datatype_here)` - mapping of data types for a data context into simpler data types (think `float`, `int`, `string`, etc.)
2. complementary `expect_column_values_to_stored_as`- to capture more granular data types in the storage context, e.g. `numpy.uint8`
3. the most flexible option would be som

[2018-06-11 19:57] abegong commented on #313
Thanks for capturing this discussion, @ccnobbli !

[2018-06-12 14:11] abegong opened #319 "glossary.rst is out of date."
it's very sad.

[2018-06-12 14:22] ccnobbli commented on #319
I'm on it

[2018-06-12 16:11] abegong commented on #319
🙇

[2018-06-12 17:55] ccnobbli commented on #319
I actually had trouble with the very last function `expect_file_hash_to_equal`, I couldn't link the doc reference to the declaration in the source code :(

[2018-06-13 15:22] smontanaro commented on #313
I'm glad to have sparked (no pun intended) some discussion. I will point out that I think there is a bug which needs fixing which is demonstrated by my original example. If the default target_datasource is "numpy" and I asked it to pass judgement on a numpy array (or a pandas.Series), I would have thought the test would report success. It was only when I explicitly set the target_datasource to "py

[2018-06-13 15:25] smontanaro opened #321 "How to detect short rows or truncation?"
I was having trouble with truncation in some input CSV files recently. The files contained legitimate "NA" values, which Pandas mapped to NaN. That seems to be the default "missing" value which it filled in upon reading as well. Is there a succinct test in Great Expectations to check that all records in a CSV file (or its instantiation as a Pandas DataFrame) have (for example) 14 cells?

[2018-06-13 15:43] abegong commented on #313
@smontanaro Yes, that bug is perplexing and clearly needs to be fixed. @jpcampb2 and I are looking into it.

To amplify @ccnobbli 's notes: right now, `expect_column_values_to_be_of_type` conflates two concepts.
1. How is the data actually typed in the current execution engine? (e.g. is it an `np.float64`?)
2. Conceptually, what type of data is this? (e.g. "11" might be typed as a string, but it c

[2018-06-13 15:57] abegong commented on #321
Great question. On one level, this is a pandas issue, not a GE issue. GE's `PandasDataset` builds on top of pandas' `DataFrame` class. We don't intend to replace or override core functionality of pandas methods like `read_csv`.

That said, we've also discussed the idea of expectations applied to raw files, rather than DataFrames that have already been loaded into memory. @dlwhite5 's `expect_file_

[2018-06-13 16:04] abegong commented on #321
Here's a proposed class inheritance hierarchy:
[code]

`Dataset` would have the `@expectation` decorator.
`DataTable` would introduce `@column_map_expectation`, `@column_aggregate_expectation`, `@column_pair_map_expectation`, `@column_pair_aggregate_expectation`

Basically, the difference between `Dataset` and `DataTable` is that DataTable is tabular and therefore has the concepts of rows and colu

[2018-06-13 16:15] abegong opened #322 "We should expand the `Dataset` concept to allow non-tabular data."
See the thread in #321 for an initial proposal.

[2018-06-15 14:49] ncsu-las commented on #303
One of the reasons it might not be in pandas is because pandas is trying to be helpful. For example, if you have a CSV file and your columns are named ['x', 'y', 'z', 'z', 'z'], then pandas' read_csv method will happily read the file, but the column names will be ['x', 'y', 'z', 'z.1', 'z.2'].

[2018-06-15 18:09] ccnobbli opened #325 "Create `expect_column_values_to_be_[(type)_parseable][stored_as_type]`"
See discussion captured in #313

Contributing to the chain of typing discussions... 😈

[2018-06-15 19:51] roblim opened #326 "Consistent parameter naming: values_set/value_set"
`expect_column_values_to_be_in_set` and `expect_column_values_to_not_be_in_set` use `values_set` and `expect_column_most_common_value_to_be_in_set` uses `value_set`

Should be one or the other to prevent errors.

[2018-07-02 19:02] abegong opened #327 "KL divergence expectations is returning “Infinity” as an observed value, which isn’t JSON-serializable"
(Replication code needed.)

[2018-07-06 17:34] abegong opened #328 "Spark tests should automatically detect whether pyspark exists with a valid SparkContext"
... If not, those tests should be suppressed with a warning.

[2018-07-06 17:40] abegong opened #329 "GE should support `read_excel` and `read_table`"
Implementation is (probably) parallel to read_csv:

[code]

[2018-07-06 17:44] ccnobbli commented on #329
I'm working with a lot of SAS datasets nowadays (ugh). Would a `read_sas` be welcomed?

[2018-07-06 17:46] abegong commented on #329
💯

[2018-07-06 17:50] njsmith8 commented on #329
I can take a crack at this one!

[2018-07-06 18:36] jpcampb2 commented on #313
#323 addresses this issue--thank you for reporting it!

[2018-07-06 18:36] #313 closed, assigned to nobody

[2018-07-06 18:48] jpcampb2 commented on #319
Closing this issue based on recent PR...yay!

[2018-07-06 18:48] #319 closed, assigned to nobody

[2018-07-06 19:33] jpcampb2 opened #332 "SQLAlchemy implementation of median computation pulls all values back to local server to check for median."
This doesn't work for large datasets (the primary case for this dataset), so should be changed to use an offset from the computation above in the code.

[2018-07-06 19:42] jpcampb2 commented on #332
#331 Now addresses this, at least in an intermediate way (using the same median logic as before), but now only pulling back two values from the db.

[2018-07-06 19:42] #332 closed, assigned to nobody

[2018-07-10 13:47] ccnobbli commented on #327
I'd be happy to take a look at this! Some context would be nice though

[2018-07-10 14:02] abegong commented on #327
Actually, I'm not 100% sure this is a bug. As I wrote replication code, it worked okay.

Is there inconsistency in the way JSON parsers handle the token `Infinity`?

Here's replication code:
[code]

`{"success": false, "result": {"observed_value": Infinity, "element_count": 10, "missing_count": 0, "missing_percent": 0.0}}`

[2018-07-10 14:03] abegong commented on #327
More context: this was crashing in an application that uses GE for data validation. I'd need to do a bunch more digging to get to full replication...