[2021-09-14 12:01] vivek89007 opened #3390 "expect_column_values_to_be_between - not working as expected when min_value is 0 and strict_min - True. 0 is not getting captured as error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a expectation JSON. Put "min_value": 0 and strict_min: true
2. Add 0 in the data and do validation.

**Expected behavior**
0 should be thrown as validation error as strict min is true. However, 0 is not thrown as error even though we have strict_min.

**Environment

[2021-09-14 12:52] NathanFarmer commented on #3373
@NfnqB @vivek89007 I'm sorry I wasn't clear. What I meant by your use case is, how are you intending to use this feature? What two data types are you comparing against each other?

[2021-09-14 13:05] NathanFarmer commented on #3390
Hi @vivek89007! Thank you for submitting this issue. In the meantime, you are welcome to make a contribution to address it, and I can guide you through the process. Otherwise, we will look into it and follow up over the next few days.

[2021-09-14 13:46] vivek89007 commented on #3373
I need to compare strings, floats, int and datetime.

On Tue, Sep 14, 2021 at 6:22 PM Nathan Farmer ***@***.***>
wrote:

[2021-09-14 13:47] vivek89007 commented on #3390
I would really like to contribute to the project. But, I am unaware of the
process to contribute to github.

On Tue, Sep 14, 2021 at 6:36 PM Nathan Farmer ***@***.***>
wrote:

[2021-09-14 14:36] NathanFarmer commented on #3390
@vivek89007 To get started contributing to Great Expectations you can reference [this series of docs](https://docs.greatexpectations.io/docs/contributing/contributing). The high level steps are:

1. Clone the `develop` branch from the GE repository to your local machine
2. Make changes to the code which address your issue on a new feature branch
3. Submit a pull request (PR) from within the GE rep

[2021-09-14 15:39] #3390 closed, assigned to nobody

[2021-09-14 15:41] vivek89007 commented on #3390
It was because of our custom logic of data conversion 0 was becoming NaN, and hence it was getting captured in not null expectation...We can close the issue..The logic in GE is correct..

[2021-09-14 15:48] jakeberesford-palmetto commented on #1943
I just ran into this same issue. The problem is that flask applications expect assets in `/static` to exist within a `/static` directory on the server. Flask bypasses routing for static assets, so the images in /static cannot be retrieved from GCS.

The solution is to set `static_folder=None` when you instantiate the Flask application like this:

[code]

This allows the /static paths to be routed

[2021-09-14 20:19] NathanFarmer commented on #3307
Hi @tebesfinwo! Are the the contents of your bucket set to be publicly readable? If not, have you followed [this doc](https://legacy.docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_data_docs/how_to_host_and_share_data_docs_on_gcs.html) that walks through deploying a Google App Engine flask app?

[2021-09-14 20:40] #3344 closed, assigned to kyleaton

[2021-09-14 20:44] tebesfinwo commented on #3307
@NathanFarmer
Our content isn't publicly readable. We serve them through our internal server, similar to what the doc suggested.

[2021-09-14 23:31] jdimatteo opened #3394 "Document how to pass through SqlAlchemy create_engine parameters"
**Is your feature request related to a problem? Please describe.**
Sometimes it is useful to customize the [SqlAlchemy create_engine](https://docs.sqlalchemy.org/en/14/core/engines.html#sqlalchemy.create_engine) parameters, however it isn't clear how to specify these in the data context config.

**Describe the solution you'd like**
Documentation showing an example data context config providing arb

[2021-09-14 23:46] jdimatteo opened #3396 "Optimize Data Docs Runtime"
**Is your feature request related to a problem? Please describe.**

Multithreading of database queries was introduced with https://github.com/great-expectations/great_expectations/pull/3362, and it was found that data doc creation is now the biggest bottleneck for the `test_taxi_trips_benchmark[100-True-V2]` benchmark, accounting for about 63% of the time (more than querying the database or any th

[2021-09-15 02:21] NfnqB commented on #3373
Im trying to compare two Decimal value from a join query.

[2021-09-15 12:59] talagluck commented on #3300
I'm going to close this for now, as I believe it is resolved. If you have any further questions please don't hesitate to reach back out!

[2021-09-15 12:59] #3300 closed, assigned to nobody

[2021-09-15 15:51] NathanFarmer commented on #3373
@NfnqB if the data types are the same, why are you needing to use `allow_cross_type_comparisons`?

[2021-09-15 18:14] #3237 closed, assigned to nobody

[2021-09-15 18:20] NathanFarmer commented on #3307
@tebesfinwo

The links to each Validation Result is not blue text like the Expectation Suite, but is instead anywhere on the rows in the table on the Validation Results tab.

This is the expected behavior.

I am unable to reproduce this issue (it works in my test bucket using the same commands). Could there be a GCS role/permissions issue here?

Unfortunately, I am also unable to reproduce this is

[2021-09-15 18:20] #3307 closed, assigned to NathanFarmer

[2021-09-15 18:51] cohenbenjamin05 opened #3398 "Invalid sql executed when disabling temp tables if using runtime_parameter in RuntimeDataConnector in postgres"
**Describe the bug**
When using custom sql in the runtime_parameter in the RuntimeDataConnector, the code attempts to execute invalid sql against a postgres db.

**To Reproduce**
Steps to reproduce the behavior:
1.     batch_request = RuntimeBatchRequest(
        datasource_name="postgres_db_runtime",
        data_connector_name="runtime_data_connector",
        data_asset_name="schema.table",

[2021-09-15 19:22] talagluck commented on #3379
Thanks so much for raising this and fixing this, @wniroshan! Someone from the team will review and be in touch soon.

[2021-09-15 19:46] talagluck commented on #3205
Hi @KentonParton - thank you again for your patience here. I've touched base with the team, and this issue is currently prioritized. It's more complex than expected, and so may take a few weeks, but we have engineers working full-time on this until it is completed. We expect that it will be finished by the end of our next sprint, at the latest.

I'll be OOO for a couple of weeks beginning tomorrow

[2021-09-15 19:48] KentonParton commented on #3205
Thanks for the update @talagluck

[2021-09-15 19:49] talagluck commented on #3263
Hi @jvetu and @alex-hsp - I believe this has been resolved by #3388, and so I'm going to close this for now. Please keep an eye out for this in the next release, and please chime in here or feel free to open a new issue if you still have any problems. Thanks again for raising this issue!

[2021-09-15 20:59] talagluck commented on #3021
Thanks again for opening this! I believe this has been implemented, so I will close this issue for now.

[2021-09-15 20:59] #3021 closed, assigned to nobody

[2021-09-16 16:18] bochocki commented on #3398
I'm having the same issue as well. This is currently blocking deployment, since one of the requirements for our GE setup is that it should be read-only and not create temporary tables in the database.

[2021-09-16 17:18] NathanFarmer commented on #3380
Thanks for opening this issue @KentonParton! We will take a look and get this into our queue.

[2021-09-16 17:31] NathanFarmer commented on #3384
Thanks for opening this issue @scoyne2! We will take a look and respond over the next few days. One initial question I have is in the last line did you mean to say `TupleS3StoreBackend` instead of `TupleFilesystemStoreBackend`?

[2021-09-16 17:33] NathanFarmer commented on #3389
Thanks for opening this issue @derek-hk! We will need to have some discussions about this internally and will respond in about a week.

[2021-09-16 17:41] NathanFarmer commented on #3394
Thanks for raising this issue @jdimatteo! We will get this into our queue and discuss where it falls in the priority list for docs.

[2021-09-16 17:42] NathanFarmer commented on #3396
Thanks for raising this issue @jdimatteo! We will take a look and respond over the next week or so.

[2021-09-16 17:45] NathanFarmer commented on #3398
Thanks for raising this issue @cohenbenjamin05! We will take a look and respond over the next few days! CC: @bochocki

[2021-09-16 19:21] scoyne2 commented on #3384
@NathanFarmer oops, good eye. Yes, I have corrected

[2021-09-16 20:52] tnorlund-dsc opened #3404 "[DOCS] Checkpoint without ".yml" file"
**Is your feature request related to a problem? Please describe.**
I've been able to [create a context without a ".yml" file](https://docs.greatexpectations.io/docs/guides/setup/configuring_data_contexts/how_to_instantiate_a_data_context_without_a_yml_file) in AWS EMR. I then created a validator using an [in-memory Spark data frame](in-memory).

I now have an S3 bucket with the expectations ".json

[2021-09-16 21:45] dz-1 opened #3405 "PandasExecutionEngine does not work with custom GCS options"
**Describe the bug**
In the `__init__` method, gcs_options is not cleaned up before being passed to GCS storage CLient.

**To Reproduce**
Steps to reproduce the behavior:
1. create instance of PandasExecutionEngine with customer gcs_options (filename or info)
2. verify that the `_gcs` field of the engine is None

**Expected behavior**
PandasExecutionEngine should be properly initialized with GCS c

[2021-09-17 00:07] beherap opened #3409 "expect_column_values_to_be_json_parseable fails with error in v3 api"
**Describe the bug**
Expectation `expect_column_values_to_be_json_parseable` fails with error in v3 API for a pandas batch

**To Reproduce**
1. Create a v3 data source
[code]
2. Create a test data file `/tmp/test/ge/my_asset/2021-09-16/data.csv`
[code]
3. Try to validate
[code]
Output:
[code]

**Expected behavior**
The expectation should successfully validate the data.

Output with v2 api
[code]

[2021-09-17 13:10] NathanFarmer commented on #3404
Thanks for submitting this issue @tnorlund-dsc! We are actively adding to the new documentation site, and I agree that this would be value added that also does not exist in the legacy docs to my knowledge. Would you be interested in submitting a PR for this? I am happy to offer any guidance needed.

[2021-09-17 13:13] NathanFarmer commented on #3405
Thank you for raising this issue and PR @dz-1! We will have someone review over the next few days and follow up.

[2021-09-17 13:29] NathanFarmer commented on #3409
Thanks for raising this issue @beherap! We will take a look and respond over the next week or so.

[2021-09-17 15:24] vivek89007 commented on #3373
Can we expect this fix in the next release?

On Wed, Sep 15, 2021 at 9:21 PM Nathan Farmer ***@***.***>
wrote:

[2021-09-17 15:51] NathanFarmer commented on #3373
Hi @vivek89007 and @NfnqB. We are intending to deprecate this feature as it has become our position that this should be handled during the ETL process (as opposed to the data quality testing process). More communication around this will be forthcoming, but it would be prudent for you to start looking for alternative ways of performing this transformation.

[2021-09-17 19:21] tnorlund-dsc commented on #3404
I'd love to help out. I'm currently having difficulty while adding the checkpoint with a Spark DF.

I've followed the steps in the [create a context without a ".yml" file](https://docs.greatexpectations.io/docs/guides/setup/configuring_data_contexts/how_to_instantiate_a_data_context_without_a_yml_file) documentation. I'm now trying to add a checkpoint:

[code]

After attempting to execute this, I

[2021-09-20 05:32] edjoesu opened #3415 "[FEATURE] add inter-batch KL-divergence metric (?)"
**Is your feature request related to a problem? Please describe.**
I think we would like a way to measure inter-batch changes in the distribution of a column. One thing we could do is have a ParameterBuilder that creates an Expectation for the interbatch KL divergence based on statistics from existing batches. Then this can be run against the a new target batch.

**Describe the solution you'd like

[2021-09-20 06:53] edjoesu opened #3416 "[FEATURE] add messages when expectation tests fail with wrong value"
**Is your feature request related to a problem? Please describe.**
When tests in great_expectations/self_check/util.py::check_json_test_result fail, they raise an AssertionError, but no message. The incorrect value doesn't seem to be displayed. In some cases it may need to be truncated, but it's worth displaying something.

**Describe the solution you'd like**
Add messages to the assertions so tha

[2021-09-20 08:48] jvetu commented on #2905
I believe the error is persisting. I installed from 0.13.34 but I still get `TypeError: cannot pickle '_thread.RLock' object` when passing a spark dataframe as batch_data.

[2021-09-20 09:56] redreckless opened #3417 "get_validator method do not work"
Hello!
I have a problem with get_validator component.

Here’s my code:
[code]

I get this exception:
[code]

My Datasource configuration like:
[code]

My environment:
MacOS
python 3.7.4
great_expectations 0.13.34

I will be grateful for any help.

[2021-09-20 14:22] bentocg opened #3418 "[FEATURE] Add an option to make `expect_column_pair_values_A_to_be_greater_than_B` work at date resolution for datetime column comparisons."
There are cases where we want to compare a column that has detailed datetime info with one that doesn't. In these cases, the 'H:M:S' part is often filled with zeroes, making the column that does not have detailed info more recent than the column that does.

It would be useful to have an option to only check across dates in these cases, maybe a boolean "datetime_as_date" argument that defaults to F

[2021-09-21 02:25] derek-hk opened #3426 "Boolean output of a json from class MicrosoftTeamsRenderer()"
**Describe the bug**
The JSON output from MicrosoftTeamsRenderer produces "True" boolean values
![image](https://user-images.githubusercontent.com/90680179/134102391-2d875f37-95c0-4ac7-ad1b-0db11e56cc6f.png)

Which turns the JSON become imparseable

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Rule Based Validator and call MicrosoftTeamsRenderer() to render the JSON file
`y = Micro

[2021-09-21 08:55] JoPrasanth opened #3428 "Validation run copies entire source table using insert command"
**Issue**
At start of validation, all underlying tables are copied ('insert into' not 'clone' command) into some temporary schema and only then the validations kick off.
`CREATE OR REPLACE TEMPORARY TABLE ge_tmp_d49e60a2 AS SELECT *
FROM temporary_tables.test_dataset_clone
WHERE true`
Few tables have Billion rows and it takes a lot of time there. Is there any means to skip this, or force use clone

[2021-09-21 09:56] milosz-dm commented on #3225
I use 0.13.34 and it is worth to mention that the following works as expected:
`validator.expect_column_values_to_be_between(column="my_column", max_value=0,strict_max=False,result_format={"result_format": "BOOLEAN_ONLY"})`
However, it does not work properly when I use expectaion suite from JSON, example:
[code]

[2021-09-21 10:31] JoPrasanth opened #3429 "Validation run always scans all schemas in Snowflake for Metadata"
**Issue**
At start of validation, even before checkpoints/rules are parsed, multiple queries are fired for metadata (information_schema) info even when there are no rules around it.
`
SHOW /* sqlalchemy:get_schema_names */ SCHEMAS;
SHOW /* sqlalchemy:get_table_names */ TABLES IN schema_1;
SHOW /* sqlalchemy:get_view_names */ VIEWS IN schema_1;
SHOW /* sqlalchemy:get_table_names */ TABLES IN schema

[2021-09-21 13:14] shpolina opened #3430 "Data Asset name is not displayed in slack notification"
**Describe the bug**
After running validations as part of a checkpoint the Data asset name shows as `__no_data_asset_name__`  in slack notifications
![image](https://user-images.githubusercontent.com/14918053/134176561-b97466be-e4a7-4f96-9d97-23dae164a564.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Configure checkpoint with slack notification
2. Run checkpoint
3. See slack output

*

[2021-09-21 13:23] NathanFarmer commented on #3417
Hi @redreckless! Thank you for opening this issue. We will take a look and respond over the next week or so.

[2021-09-21 13:29] martimors commented on #1645
Any chance we could re-open this? Seems like a useful feature!

[2021-09-21 13:45] NathanFarmer commented on #3418
Hi @bentocg! Thank you for raising this issue. We will review internally and respond soon.

[2021-09-21 13:51] NathanFarmer commented on #3426
Hi @derek-hk! Thank you for raising this issue. We will take a look and respond soon. In the meantime, if you would be interested in contributing a bug fix, I would be happy to offer any guidance you need.

[2021-09-21 19:01] NathanFarmer commented on #3430
Thank you for raising this issue and PR @shpolina! Can you confirm that you are seeing this issue using the V3 api?

[2021-09-21 19:07] shpolina commented on #3430
@NathanFarmer yes, I am seeing it with V3

[2021-09-21 21:35] #3430 closed, assigned to nobody

[2021-09-21 23:31] NathanFarmer commented on #3303
@KentonParton We went ahead and merged PR [#3368](https://github.com/great-expectations/great_expectations/pull/3368) into `develop` which includes the performance improvements mentioned above, as well as performance improvements for column-pair and multicolumn expectations. We would be interested to learn if you see any improvements in your tests. You should see this in release 0.13.35.

[2021-09-21 23:41] NathanFarmer commented on #3327
Hi @aseembansal-gogo! Have you tried using the `ConfiguredAssetDataConnector` instead of the `InferredAssetDataConnector`? This may result in a significant performance improvement.

[2021-09-22 01:20] shakti-garg commented on #1645
I raised this feature request last year as it was in need for work-related project. Though we later implemented an in-house custom implementation in KStreams using great_expectations core package. Unfortunately, we were not able to open-source it.

@dingobar can you also share your functional usecase, for which you think this feature will fit?

@jcampbell  @abegong Do you think that it is still a

[2021-09-22 07:13] martimors commented on #1645
In our enterprise, Kafka is the immutable backbone of our data infrastructure. It would be cool to automatically test on this data without moving it out of Kafka. Does this fit the use-case of GE?

[2021-09-22 07:29] MatteoFelici opened #3435 "[FEATURE] Filter validation results on single expectation"
In data docs, I'd like to search for all validation failures on a single expectation. For now, you can filter on failure/success, but I cannot, for example, get all validation results where the expectation on feature `email` failed.

[2021-09-22 11:17] jvetu commented on #3263
Hi @talagluck, I believe #3388 didn't fix this. I think the equivalent fix needs to be implemented for both SimpleCheckpoint and context.run_checkpoint().

[2021-09-22 13:44] InesFakh commented on #3148
Hello,
I'm facing the same issue using a Checkpoint.
Validators work fine with spark dataframes but when it comes to running the validation using a checkpoint it fails.

great expectations  : 0.13.33
API : V3
spark : 2.2.0.2.6.4.0-91
python : 3.6

the issue comes from using [deepcopy](https://github.com/great-expectations/great_expectations/blob/acbe0e5a8ee2b9f91673d3d535b5c47e6aa32bf5/great_expec

[2021-09-22 15:51] alexsherstinsky commented on #3205
Hello @KentonParton and @talagluck -- this issue has been fixed -- the improved behavior will be part of the next release.  Thank you.

[2021-09-22 15:53] KentonParton commented on #3205
That's great news @alexsherstinsky. Thank you!

[2021-09-22 17:40] luizfgoncalves commented on #3148
Nice workaround suggestion @InesFakh . I will try it on my end here.

Given that I use both pandas and Spark, maybe creating a data check to run the deepcopy only for pandas DF may work too.

EDIT:
It did not work for me. Maybe I'm configuring the checkpoint wrong, but it is still working for pandas.

I got another error, this time at `great_expectations/checkpoint/checkpoint.py` .

[code]

`Attri

[2021-09-22 19:28] NathanFarmer commented on #3164
Hi @nehadahiya88! Thanks for raising this idea. It isn't on our immediate roadmap, but if you would like to make a contribution and collaborate with the community, we would be happy to offer our guidance.

[2021-09-22 19:48] tnorlund-dsc opened #3437 "checkpoint.run() results in “no attribute” error"
**Describe the bug**
I'm able to create a validator using the expectation suite I created. I'm able to run the `validate()` method fine. I'd now like to create a checkpoint and store the results. When I attempt to run the `run()` method, I get a "no attribute" error.

**To Reproduce**
I'm running this in EMR. I'll paste the cells I'm using to explain the steps I've made.

# Install Dependencies
[c

[2021-09-22 20:05] tnorlund-dsc commented on #3404
This is currently being handled by [this issue](https://github.com/great-expectations/great_expectations/issues/3437).

[2021-09-22 21:44] psheets opened #3439 "[FEATURE] Extend Slack Notifications to use slack apps"
**Is your feature request related to a problem? Please describe.**
Slack is deprecating webhooks for slack apps. There is not a simple way to send notifications to different channels.

**Describe the solution you'd like**
I would like to have the option to use a bot token to send notifications to a specific  channel depending on which checkpoint is running.

[2021-09-22 22:11] NathanFarmer commented on #3437
Hi @tnorlund-dsc! It looks like you have identified a bug. We have placed high priority on this and PR #3438 was opened to address it. Also, I believe you were correct in opening Issue #3404 to address the documentation. I am planning to re-open that issue.

[2021-09-22 22:17] NathanFarmer commented on #3404
Hi @tnorlund-dsc! I am reopening this issue as we seem to have both a bug and a gap in documentation here.

[2021-09-23 11:28] strelnikoff commented on #3429
Hi! I have the same problem when using Clickhouse

<img width="769" alt="image" src="https://user-images.githubusercontent.com/9088312/134499209-fb8f4da7-cbcf-4381-8d46-16c26b29ba30.png">

<img width="604" alt="image" src="https://user-images.githubusercontent.com/9088312/134498562-da974265-9a32-41a6-817b-5fe8dfa4bb71.png">

[2021-09-23 13:20] NathanFarmer commented on #3415
Thanks for opening this issue @edjoesu! I have labeled this item for our core engineering team's backlog, as it is already on our roadmap.

[2021-09-23 13:43] NathanFarmer commented on #3437
Hi @tnorlund-dsc! Thank you again for identifying this. Bug fix PR #3438 has been merged into `develop` and will be part of the next release.

[2021-09-23 13:43] #3437 closed, assigned to nobody

[2021-09-23 20:22] tnorlund-dsc opened #3445 "Checkpoint with RuntimeBatchRequest"
**Describe the bug**
When I create a checkpoint with a `RuntimeBatchRequest`, I get an error.

**To Reproduce**
I'm running this in EMR. I'll paste the cells I'm using to explain the steps I've made.
# Install Dependencies
[code]
[code]
# Initialize Context
[code]
# Read DataFrame from S3
[code]
# Create Checkpoint
[code]

__init__() got an unexpected keyword argument 'batch_identifiers'
Traceback

[2021-09-24 02:02] jdalfons opened #3446 "Checkpoint step don't work in Getting started guide"
**Describe the bug**
When following the "Getting started with Great Expectations" [tutorial](https://legacy.docs.greatexpectations.io/en/latest/guides/tutorials/getting_started/validate_your_data.html), the step where you have to create the checkpoint, the checkpoint don't run any evaluation with the actual stable version 0.13.35.

![imagen](https://user-images.githubusercontent.com/25759070/13460

[2021-09-24 02:18] jdalfons commented on #3446
I close the Issue, my, fault, I wass overriting my suite with this line.

[code]

[2021-09-24 02:18] #3446 closed, assigned to nobody

[2021-09-24 05:01] scoyne2 commented on #3384
ive been digging into this error deeper, it appears this is actually occurring during data doc build, from the following in my code

```context.build_data_docs()```

[2021-09-24 05:30] scoyne2 commented on #3384
Actually, this was 100% human error, i needed to add `"mostly": 1` to my checkpoint, else the data docs failed

[code]

once i add `"mostly": 1` this is now working on 0.13.35 so i am closing this out

[2021-09-24 05:30] #3384 closed, assigned to nobody

[2021-09-24 07:49] Mista-C opened #3447 "[FEATURE] Data docs does not show Observed values for distribution tests"
**Is your feature request related to a problem? Please describe.**
When using distribution expectations like `expect_column_bootstrapped_ks_test_p_value_to_be_greater_than`, the result in data docs does not show any values in the `Observed Value` field, also the expectation is highlighted yellow.

**Describe the solution you'd like**
It would be nice to show some values to find out why the expecta

[2021-09-24 15:43] NathanFarmer commented on #3445
Hi @tnorlund-dsc! Thanks for opening this issue. We have opened PR #3448 to fix this bug.

[2021-09-24 17:07] NathanFarmer commented on #3428
Hi @JoPrasanth! Thank you for opening this issue. We will take a look and follow up soon. In the meantime, have you tried using the [ConfiguredAssetFilesystemDataConnector](https://docs.greatexpectations.io/docs/reference/datasources#data-connectors) instead of the `InferredAssetFilesystemDataConnector`?

[2021-09-24 17:09] NathanFarmer commented on #3429
Hi @JoPrasanth! Thank you for opening this issue. We will take a look and follow up soon. In the meantime, have you tried using the [ConfiguredAssetFilesystemDataConnector](https://docs.greatexpectations.io/docs/reference/datasources#data-connectors) instead of the `InferredAssetFilesystemDataConnector`?

[2021-09-24 17:11] NathanFarmer commented on #3435
Hi @MatteoFelici! Thanks for opening this issue. We will discuss this internally and respond soon. In the meantime if you would like to contribute this feature, we would be happy to offer you and guidance needed.

[2021-09-24 17:12] NathanFarmer commented on #3439
Hi @psheets! Thank you for opening this issue. We are reviewing your PR and will respond soon!

[2021-09-24 17:19] NathanFarmer commented on #3447
Thank you for opening this issue @cr4zy-C! As we discussed in Slack, if you would like to work on a contribution for this you can start by reviewing [this series of docs](https://docs.greatexpectations.io/docs/contributing/contributing). I believe the changes will be made starting [at this line](https://github.com/great-expectations/great_expectations/blob/67e6fbf25bbb3ca5a0e2a5c6e8320c5baaf6ddb2/

[2021-09-25 18:54] mccalluc opened #3450 "Links in autogenerated data docs are either 404, or redirect to legacy.docs"
**Describe the bug**
Doing the tutorial, I've generated data docs. On `file:///.../ge_tutorials/great_expectations/uncommitted/data_docs/local_site/index.html`, in the footer, I see:

[code]

The first two links redirect with 301 status to legacy documentation;
The last is a 404.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the tutorial.
2. Click on the links at the Bottom o

[2021-09-25 19:10] mccalluc opened #3451 "`\n` and `,` transposed in notebook generation"
**Describe the bug**
Following the tutorial, in the Jupyter notebook, the `ignored_columns` list has commas at the start of the line.
Probably just transpose [here](https://github.com/great-expectations/great_expectations/blob/c49e533c012c275a791fce09df207d2bd7126780/great_expectations/render/renderer/v3/suite_profile_notebook_renderer.py#L74-L77) to fix:

[code]

**To Reproduce**
Steps to reprodu

[2021-09-27 13:03] NathanFarmer commented on #3445
Hi @tnorlund-dsc! I am closing this issue as PR #3448 has been merged into `develop` and will be included in the next release.

[2021-09-27 13:03] #3445 closed, assigned to nobody

[2021-09-27 13:58] NathanFarmer commented on #3439
Hi @psheets! I am closing this issue as PR #3440 has been merged into `develop` and will be available in the next release!

[2021-09-27 13:58] #3439 closed, assigned to nobody

[2021-09-27 23:06] jdalfons opened #3456 "[DOCS] fix How to add a Validation Operator yaml snippets"
**Describe the bug**
In the docs for [How to add a Validation Operator](https://docs.greatexpectations.io/docs/guides/validation/how_to_add_a_validation_operator/) this doc have a problem to show the yaml.

![imagen](https://user-images.githubusercontent.com/25759070/134995563-0c6a4451-d8d0-4cd7-b8f4-c751ac4067e1.png)

PR #3455

[2021-09-28 13:50] vatsal2293 opened #3458 "Creating a new datasource with snowflake fails if query parameters are left blank"
**Describe the bug**
When creating a new sqlalchemy datasource with snowflake using the notebook provided, I am required to add a few parameters to make the datasource connection like `host`, `username`, `database` etc. Among these parameters, `schema`, `warehouse` and `role` are supposedly optional and would be treated as None if left blank. When I left them blank the `example_yaml` shown below h

[2021-09-28 14:03] vatsal2293 opened #3459 "Fail to automatically create Expectation Suite with snowflake database"
**Describe the bug**
When a datasource connection with snowflake is created without the optional `query` parameters, the automatic creation of an Expectation Suite fails with the following error:

`(snowflake.connector.errors.ProgrammingError) Cannot perform CREATE TEMPTABLE. This session does not have a current schema. Call 'USE SCHEMA', or use a qualified name.
[SQL: CREATE OR REPLACE TEMPORARY

[2021-09-28 14:57] NathanFarmer commented on #3450
Thanks for opening this issue @mccalluc! We are in the process of migrating the docs and this will be added to our queue.

[2021-09-28 15:00] NathanFarmer commented on #3451
Hi @mccalluc! Thank you for opening this issue. Would you be interested in contributing a PR for this minor change?

[2021-09-28 15:14] carlsonp opened #3461 "Expectation run in Airflow very slow"
**Describe the bug**
I'm using Airflow and the [airflow-provider-great-expectations](https://github.com/great-expectations/airflow-provider-great-expectations) operator to run some expectations.  When I run the expectation via the Jupyter notebook it works fine and runs immediately:

[code]

However, when I run them via the operator in Airflow, it takes about 30 minutes:

[code]

This issue of tak

[2021-09-28 15:47] NathanFarmer commented on #3456
Hi @halcolo! Thank you for opening this issue. I have requested some changes on the PR before it can be merged.

[2021-09-28 17:02] NathanFarmer commented on #3451
Hi @mccalluc! I was unable to reproduce this issue. Are you referring to the `ignored_columns` in the [profiling step](https://docs.greatexpectations.io/docs/tutorials/getting_started/create_your_first_expectations)? My notebook looks like this:

[code]

[2021-09-28 23:49] mccalluc commented on #3451
huh: curious. If it's really useful, I can start it up again and grab the exact text I see, but just looking at the code, `\n,` would print a newline and then the comma, unless I'm confused. Maybe different execution paths or different code versions?

[2021-09-29 00:25] NathanFarmer commented on #3358
Hi @fosk06! Would you be interested in making a contribution to address this? We would be happy to offer any guidance needed.

[2021-09-29 00:30] NathanFarmer commented on #3205
I'm closing this out, as it was addressed by PR #3433.

[2021-09-29 00:30] #3205 closed, assigned to nobody

[2021-09-29 00:33] cohenbenjamin05 commented on #3398
Hey @NathanFarmer, curious if any progress was made on this? Thanks!

[2021-09-29 06:04] odidev opened #3466 "Pytest is not running successfully"
I have been working on installing and testing this package for amd64 and arm64 architectures. I followed the GitHub Action and Added arm64 jobs In the **test-sqlalchemy-latest.yml** file.

While installing requirements I was Getting failure for the dependency of “snowflake-connector-python==2.5.0” on arm64 architecture, which itself depends on older pyarrow version 3.0.0, <3.1.0 (arm-non-supported

[2021-09-29 17:17] fosk06 commented on #3358
i could do it i guess. I'm a JS developer after all.

[2021-09-29 18:33] BilalZahid22 opened #3468 "SQLAlchemy==1.3.24 | Multi-column expectations not working"
**Describe the bug**
With sqlalchemy==1.3.24 , multi-column expectations i.e.(expect_column_pair_values_A_to_be_greater_than_B) are throwing exceptions. But they are working on latest version of sqlalchemy i.e.(sqlalchemy==1.4.25).
The error is as follows:
`File "...venv\lib\site-packages\great_expectations\expectations\metrics\map_metric_provider.py", line 2123, in _sqlalchemy_column_pair_map_con

[2021-09-30 03:00] kj-9 commented on #2967
Hi @talagluck !
I add some units and made PR #3470 .
Could you review it whenever you like?

[2021-09-30 05:25] krithikabalu commented on #236
Can you tell the status on this "expect_select_column_values_to_be_unique_within_record"? I am also needing this in v3

[2021-09-30 11:40] JoPrasanth commented on #3429
@NathanFarmer , i added a default_configured_data_connector_name with ConfiguredAssetSqlDataConnector still metadata scans were happening even though i pointed only to this connector.
In 2nd attempt, I commented out other connectors and had only ConfiguredAssetSqlDataConnector in my datasource. It worked then. Metadata scans didnt happen

[2021-09-30 11:41] JoPrasanth commented on #3428
@NathanFarmer, i tried ConfiguredAssetSqlDataConnector still i am seeing a full table copy (inserts).

[2021-09-30 13:18] davidmaddox-saic commented on #2905
I concur with @jvetu.  I am running code very similar to @wesleyfelipe, but using a spark data frame.  I get the same error.  I'm running version 0.13.35.

Would that be considered a separate issue?

[2021-09-30 20:49] tebesfinwo commented on #3307
@NathanFarmer
Apology for the late response! Thank you very much for your help!
You were right. It wasn't a bug, and it was misconfiguration. I discovered that we need to set `validations_store_name` to the gcs store to include Validation results in the GCS to the index page.

[2021-09-30 20:54] tnorlund-dsc opened #3473 "No '_get_object_id' while running a checkpoint using a `RuntimeBatchRequest`"
**Describe the bug**
I get an error while attempting to run a checkpoint using a `RuntimeBatchRequest`.

**To Reproduce**
# Import
[code]
# Configure Context
[code]
# Read Spark DF
[code]
# Run Checkpoint
[code]

'CheckpointConfig' object has no attribute '_get_object_id'
Traceback (most recent call last):
  File "/tmp/1633033764301-0/lib/python3.7/site-packages/great_expectations/checkpoint/check

[2021-10-01 07:26] armandduijn commented on #3186
@talagluck Is there any update on whether it's possible?

[2021-10-01 15:50] NathanFarmer commented on #3398
Hi @cohenbenjamin05, I thought I had this issue reproduced but it seems like I actually don't (your code works for me). One thing I had to change was in `get_validatior` `expectation_suite` should be `expectation_suite_name` but that seems unrelated. GE 0.13.33 is the first version that includes the bug fix you linked. Make double sure you are using that version or later. A few questions:

1. What

[2021-10-01 17:23] NathanFarmer commented on #3451
Hi @mccalluc! I figured out where you are seeing this now that I followed the tutorial all the way through. It only shows up when you chose the "profiler" option 3 while creating an Expectation Suite. If you could update the change log in your PR I can merge this into `develop`.

[2021-10-01 19:43] cohenbenjamin05 commented on #3398
@NathanFarmer yeah - apologies, I was using `suite = context.get_expectation_suite(expectation_suite_name=os.environ["EXPECTATION_SUITE"])` as the input for `expectation_suite` and not actually a string as I had posted above. I did just try this with `expectation_suite_name = "suite_name"` and got the same error however. I have confirmed I am using GE 0.13.33 in my image.

1. The version of the po

[2021-10-01 19:52] NathanFarmer commented on #3466
Hi @odidev! Thank you for opening this issue. This error seems to be related to testing the Postgres backend for SQL Alchemy. Do you have Postgres installed in the environment where you are running `pytest`? We also have a docker-compose file you can deploy at `great_expectations/assets/docker/postgresql` if you would prefer not to install Postgres. Lastly, if you do not intend to use SQL Alchemy

[2021-10-02 05:35] SanthoshS20 commented on #3426
@NathanFarmer Can I contribute to this?

[2021-10-04 02:02] edjoesu opened #3479 "[DOCS] Links to docs from google may add a trailing slash that break relative links"
**Describe the bug**
Documentation links from google may add a trailing slash that break relative links

( this was the reason for my mistaken pull request https://github.com/great-expectations/great_expectations/pull/3410 )

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.google.com/search?q=great+expectations+new+suite+rule+based+profilers'
2. Click on the top link
3. Cli

[2021-10-04 12:21] BilalZahid22 opened #3486 "Evaluation Parameters | Configuration validation failure | min_value & max_value Expectations"
**Describe the bug**
While Using Evaluation Parameters with the expectations having both min_value & max_value parameters , the internal configuration validation fails. As min and max values are technically dictionaries(When using evaluation parameters i.e. `min_value={"$PARAMETER": "trunc(upstream_row_count * 0.9)"}` ), so a dictionary comparison problem occurs.
`TypeError: '>' not supported betw

[2021-10-04 13:13] NathanFarmer commented on #3398
@cohenbenjamin05 This may be related to Postgres 11 vs 13, that is something I can test. Are you using logging to see temp table creation or are you just seeing errors because you lack `CREATE TEMP TABLE` permissions?

[2021-10-04 14:20] NathanFarmer commented on #3398
@cohenbenjamin05 Postgres 11 seems to be working fine for me as well. I believe this bug stems from an expectation your expectation suite. Would it be possible to post an anonymized version of the suite you are attempting to run so that we can isolate the expectation?

[2021-10-04 14:47] NathanFarmer commented on #3429
@JoPrasanth that's good news! The team is currently evaluating these data connectors and intends to roll out additional documentation to make it more straight forward. For now, I will close this issue as it seems to be addressed using `ConfiguredAssetSqlDataConnector`.

[2021-10-04 14:47] #3429 closed, assigned to nobody

[2021-10-04 14:59] NathanFarmer commented on #3418
Hi @bentocg. We get requests for similar features from time to time, but internally we have decided that it is not something we want to include in the library. The recommendation is to either move these types of transformations into the ETL processes of your data pipelines (as opposed to the data quality processes), or create a new Expectation that performs this task every time (without the use of

[2021-10-04 14:59] #3418 closed, assigned to nobody

[2021-10-04 15:58] talagluck commented on #3416
Thanks for raising this issue, @edjoesu! We will review and be in touch soon.

[2021-10-04 15:59] talagluck commented on #3458
Thanks for raising this issue, @vatsal2293! We will review this issue and be in touch soon.

[2021-10-04 15:59] talagluck commented on #3459
Thanks for raising this issue, @vatsal2293! We will review this issue as well and be in touch soon.

[2021-10-04 16:03] talagluck commented on #3461
Thanks for raising this issue, @carlsonp! This definitely doesn't sound like it's working correctly. Some questions:
- How are you running the validation with the Airflow operator?
- Are you using a checkpoint?
- Would you mind running a checkpoint manually (not using Airflow), and seeing whether that takes a long time?
- Are you able to share your Airflow dag (removing any sensitive information)?

[2021-10-04 16:04] talagluck commented on #3468
Thanks for raising this issue @BilalZahid22 ! We will review and be in touch soon.

[2021-10-04 16:04] talagluck commented on #3473
Thanks for raising this issue, @tnorlund-dsc ! We will review and be in touch soon.

[2021-10-04 16:38] amybachir opened #3487 "Concurrent runs of build_data_docs throws an error on Databricks DBFS file store"
When I run 2 concurrent automated pipelines which validate data and update the data docs, I noticed that build_data_docs (version 0.13.33)  fails in one of the pipelines. The error thrown suggests the failure is related to `build_data_docs` attempting to write to the file system. I’m storing the data docs in a Databricks DBFS mount with Azure blob storage backend.

Here is the error:
[code]

And h

[2021-10-04 17:19] cohenbenjamin05 commented on #3398
When I was seeing this before, I was just checking the queries run against the database in `pg_stat_activity` and noticed that the queries being run were still creating temp tables. If I remember correctly, one of the places we were disabling temp tables was getting overridden or ignored.

See below for the expectation suite I am using. Curious if there is anything different you are doing in your

[2021-10-04 19:41] talagluck commented on #2967
Resolved by #3470. Thanks for the contribution!

[2021-10-04 19:41] #2967 closed, assigned to nobody

[2021-10-05 05:20] dbeswick-bupa opened #3491 "Unable to run Checkpoint having a RuntimeBatchRequest that uses un-pickleable objects (Spark Dataframe)"
**Describe the bug**
When a Checkpoint makes use of a RuntimeBatchRequest that references an un-pickleable object, such a Spark Dataframe, the run will fail with an error such as "TypeError: can't pickle _thread.RLock objects".

**To Reproduce**
[code]

**Expected behavior**
The checkpoint runs and the RuntimeBatchRequest is used.

**Environment (please complete the following information):**
 - Op

[2021-10-05 05:43] dbeswick-bupa commented on #3491
Looks ilke this is a dupe of https://github.com/great-expectations/great_expectations/issues/2905, sorry

[2021-10-05 12:59] NathanFarmer commented on #3479
Thanks for opening this issue @edjoesu! From our Slack conversation, it sounds like this might be affecting all relative links in the documentation. We will take a look to see if this is the case and follow up soon.

[2021-10-05 13:00] kyleaton commented on #3479
@petermoyer does this have anything to do with any redirects you've set?

[2021-10-05 14:46] NathanFarmer commented on #3398
@cohenbenjamin05 I was only able to reproduce this error on using GE 0.13.33, the expectation suite above, and adding `my_validator.validate()` to the code you have posted. This seems to stem from `expect_table_row_count_to_be_between`. On a side note, I am not seeing any temp tables being created.

Once I upgraded from GE 0.13.33 to 0.13.36 this error went away. It seems to have been addressed in

[2021-10-05 14:52] NathanFarmer commented on #3426
@SanthoshS20 Yes of course! Please ping me here if you need any guidance, or once you open a PR and need a code review.

[2021-10-05 16:17] talagluck commented on #3263
Thanks for this, @jvetu ! We will take a look and be in touch soon.

[2021-10-05 17:20] talagluck commented on #3396
Following up here, we will likely not be able to prioritize working on this internally in the immediate future, but if anyone is interested in making a contribution here, please let us know! We are happy to offer guidance and support.

[2021-10-05 20:50] tnorlund-dsc commented on #3473
Thanks for guiding me over slack @bhcastleton! I'd like some guidance @talagluck and @NathanFarmer

I previously submitted issue #3437 and #3445. I've made progress through GE's SW stack, but it seems as though that the `RuntimeBatchRequest` is still difficult to use with a `Checkpoint`.

Is this an issue with Spark through copying the DF into the `Checkpoint`? Would you guys recommend another way

[2021-10-06 02:14] dbeswick-bupa opened #3494 "Validate Expectations in "bulk add" scenario, and on Checkpoint load"
**Is your feature request related to a problem? Please describe.**
My platform is Databricks. While authoring an Expectation Suite, I tried the approach I see in the GE docs here: https://docs.greatexpectations.io/docs/guides/expectations/how_to_create_and_edit_expectations_based_on_domain_knowledge_without_inspecting_data_directly

I'm ultimately running the results via a Checkpoint.

It almost w

[2021-10-06 07:22] pixie79 opened #3495 "Jinja for expectations"
I would like to be able to use Jinja within my expectations to allow them to be dynamic.

Something like the following would be ideal for defining Jinja, but it is evaluated only when the expectation runs against the data.

[code]

please note '**' only added to highlight where the Jinja is :)

[2021-10-06 10:10] LavinaVRovine commented on #2795
Hi @DanielSastoque ,

can't comment on the fix.
In a meantime, I just resolve evaluation parameters explicitly and pass them as evaluation parameters. code:

![obrazek](https://user-images.githubusercontent.com/8156523/136183583-9831b916-1464-47be-9a9b-c79b3891d4c2.png)

[2021-10-06 14:00] carlsonp commented on #3461
Thanks for responding.

Here is the Airflow DAG code.  I've removed some of the other tasks and bits that are likely not relevant.

[code]

I'm not sure internally how the `GreatExpectationsOperator` works.  It does say in the [README](https://github.com/great-expectations/airflow-provider-great-expectations/blob/main/README.md): _"This operator has been updated to use Great Expectations Checkpoin

[2021-10-06 15:11] JeffH72 commented on #2828
Any eta on when this will be resolved?  I'm using version 0.13.35 on a mac and I'm still getting the issue using expect_column_pair_values_A_to_be_greater_than_B

[2021-10-06 15:22] talagluck commented on #3225
Hi @milosz-dm - thanks for chiming in here! This issue was actually resolved by #3364.

I understand the confusion with what you have raised. This is not a bug, but rather is an expected change that comes with the way we are handling ExpectationValidationResults in V3. The essentials of the result are the same — the success boolean flag is returned, and, while the results key is still present, its

[2021-10-06 15:29] HimanshuPatri7 opened #3497 "TypeError: is of type RuntimeBatchRequest which cannot be serialized. when trying to run checkpoint with runtime batches"
I am trying to run a checkpoint with batches passed as runtime batches and receiving an error saying 'RuntimeBatchRequest' object has no attribute 'get'.
I have tried to create checkpoint config in python using jupyter notebook.

Steps to reproduce the behavior:

1. Created a Runtimebatch for a pandas dataframe. I am trying to create multiple batches using a loop and storing in dict.  Sheets is a

[2021-10-06 15:39] milosz-dm commented on #3225
@talagluck - Why the issue is closed? Is it OK that expectations loaded from JSON with the `"result_format": {"result_format":"BOOLEAN_ONLY"}` logs the wrong values?

[2021-10-06 16:05] talagluck commented on #3225
Hi @milosz-dm - apologies, maybe I misunderstood your question. What are the wrong values logged?

[2021-10-06 21:09] cohenbenjamin05 commented on #3398
@NathanFarmer - I tested this using `0.13.36` and it no longer raises an exception, but the validation always fails because of the invalid sql. I just added `LOG.info(my_validator.validate())` to my code and below is the result. Can you try logging `my_validator.validate()`?
[code]

[2021-10-06 21:13] NathanFarmer commented on #3473
Hi @tnorlund-dsc! Thanks for opening this issue. I do believe there is a bug when passing the Spark df. I am working on a PR at this moment with a new test that uses Spark dfs. Having said that, I am not able to reproduce this error message. It does seem to be related based on the fact that it flows from a `deepcopy` being performed when the `Checkpoint` is run.

[2021-10-06 22:36] jdalfons opened #3500 "Error with BigQuery"
**Describe the bug**
When I connect a Bigquery datasource I can´t  create a new suite from it at the CLI, when I use the command `great_expectations --v3-api suite new` and select my datasource this error apears.

`Datasource bigquery of unsupported type <class 'great_expectations.datasource.sqlalchemy_datasource.SqlAlchemyDatasource'> was encountered.`

**To Reproduce**
Before anything this is an

[2021-10-07 05:17] milosz-dm commented on #3225
Let's go through an example. IMO it is not valid that I have different results depends on whether I use `ge_validator.expect_column_values_to_be_between` or `ge_validator.validate()`.  After going through the example I think that is the main issue. To be clear - there is no "partial_unexpected_list" result in point 4 which is OK IMO.

1. Create expectation suite x_tmp_test using the following JSON

[2021-10-07 13:43] NathanFarmer commented on #3473
@tnorlund-dsc PR #3502 has been opened to address serialization issues when passing in a Spark DF to `Checkpoint` `validations` via `RuntimeDataConnector`. While it is under review, I will continue to try to reproduce this error message.

[2021-10-07 15:21] NathanFarmer commented on #3468
Hi @BilalZahid22! This issue has been addressed by PR #3499 and the bug fix will be available in GE version 0.13.37.

[2021-10-07 15:21] #3468 closed, assigned to nobody

[2021-10-07 17:15] NathanFarmer commented on #3487
Hi @amybachir! Thanks for opening this issue. We will take a look and respond soon.

[2021-10-07 17:18] NathanFarmer commented on #3491
Hi @dbeswick-bupa! I have opened PR #3502 to address this issue. I will follow up once it has been reviewed and merged.

[2021-10-07 17:26] NathanFarmer commented on #3497
Hi @HimanshuPatri7! Thanks for opening this issue. I have opened PR #3502 to address this bug. I will follow-up here once the fix has been reviewed and merged.

[2021-10-07 17:28] NathanFarmer commented on #3500
Hi @halcolo! Thanks for opening this issue. We will review and respond soon.

[2021-10-07 17:53] rajannau commented on #3398
Hey @NathanFarmer

as @cohenbenjamin05  pointed out in the git issue, you might not be seeing the error as the exception is not being thrown or hidden. If you log the validate() function you will see the error thrown with version 0.13.36.

The error appears to be a missing ( ) wrapper around inner select when temp tables are disabled.
syntax error at or near SELECT count(*) AS \"table.row_count\"

[2021-10-07 18:32] tnorlund-dsc commented on #3473
@NathanFarmer Thanks for letting me know what's happening. I'll have my sets of expectations ready for my datas as soon as that PR is merged. How are you running Spark? Is there a way I can repro your Spark instance so that I can get around this without the error?

[2021-10-07 20:52] NathanFarmer commented on #3398
@cohenbenjamin05 @rajannau @bochocki I have finally been able to reproduce this issue and I am working on a bug fix now.

[2021-10-07 21:33] shpolina opened #3506 "expect_column_pair_values_A_to_be_greater_than_B expectation name is case-sensitive"
**Describe the bug**

`expect_column_pair_values_A_to_be_greater_than_B` appears in [the documentation](https://docs.greatexpectations.io/docs/reference/glossary_of_expectations#multi-column) with capital `A` and `B` but in v3 it only works if low case name is used, aka `expect_column_pair_values_a_to_be_greater_than_b`.

**To Reproduce**
Steps to reproduce the behavior:
1. Try using `expect_colum

[2021-10-07 22:11] dbeswick-bupa commented on #3491
Good on you Nathan, thanks!

[2021-10-08 09:10] milosz-dm commented on #3225
@talagluck - have you seen my last comment?

[2021-10-08 12:40] NathanFarmer commented on #3497
Hi @HimanshuPatri7, this has been addressed by PR #3502 and the fix will be included in release 0.13.38.

[2021-10-08 12:40] #3497 closed, assigned to nobody

[2021-10-08 12:41] NathanFarmer commented on #3491
Hi @dbeswick-bupa, this has been addressed by PR #3502 and the fix will be included in release 0.13.38.

[2021-10-08 12:41] #3491 closed, assigned to nobody

[2021-10-08 12:52] NathanFarmer commented on #2905
Hi @wesleyfelipe @jvetu @davidmaddox-saic! This issue has been addressed by PR #3502 and will be included in release 0.13.38.

[2021-10-08 12:52] #2905 closed, assigned to NathanFarmer

[2021-10-08 12:54] NathanFarmer commented on #3263
Hi @jvetu @alex-hsp! This has been addressed by PR #3502 and the fix will be included in release 0.13.38.

[2021-10-08 12:54] #3263 closed, assigned to nobody

[2021-10-08 12:59] NathanFarmer commented on #3473
@tnorlund-dsc PR #3502 has been merged into `develop`. It may be worth it for you to see if that resolves this issue. For Spark all I'm typically doing is something like:
[code]

[2021-10-08 16:13] talagluck commented on #3225
Hi @milosz-dm - thank you for your patience, and your thorough reply. Based on this, I agree that there appears to be a bug, and I believe this is due to the fact that we have changed the way result_format is specified between V2 and V3, which is why I was not able to reproduce this at first. I am out for the rest of today through Monday, but will prioritize this when I have returned on Tuesday an

[2021-10-08 19:22] NathanFarmer commented on #3398
Hi @cohenbenjamin05 @rajannau @bochocki! This issue has been addressed by PR #3508 and the fix will be included in release 0.13.38.

[2021-10-08 19:22] #3398 closed, assigned to nobody

[2021-10-08 21:03] donaldheppner opened #3511 "pip install great_expectations does not work on an M1 Mac"
**Describe the bug**
pip install great_expectations fails on an M1 Mac. scipy and its dependency numpy need to be compiled as part of the installation.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `pip install great_expectations` on an M1 Mac.

**Expected behavior**
The installation is successful

**Environment (please complete the following information):**
 - MacOS BigSur, M1 / Apple

[2021-10-08 21:11] donaldheppner opened #3512 "Getting Started guide requires setting datasource_name"
**Describe the bug**
The getting started guide requires we set the `datasource_name` to `data__dir`. This edit is repeated (through instructions) throughout the guide. It would be easier to get started if the guide used the default name of `my_datasource`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go through the Getting Started guide, the rename instructions are located [here](https://

[2021-10-09 00:08] cohenbenjamin05 commented on #3398
Thank you!

[2021-10-10 12:59] esciara commented on #3405
Hi there,

I came across the same issue, which prevents me from using it at my current client. (did identify and corrected the pb locally by doing exactly the same code changes as @dz-1 does in his PR).

By the way, the corrected code just repeated the same code present in `InferredAssetGCSDataConnector` class:

https://github.com/great-expectations/great_expectations/blob/fff3b5290d3a33dde02c1283

[2021-10-11 03:43] jarraddon opened #3527 "Snowflake - Maximum Number of Expressions in a List Exceeded"
**Describe the bug**

The following exception is thrown when using a Table with a large number of records (3.2 million rows)

[code]
*Above code is truncated as NOT IN statements, repeats for each

**To Reproduce**
Steps to reproduce the behavior:
1. Setup snowflake connector with runtime query
[code]
2. Create validator
[code]

3. Run UserConfigurableProfiler
[code]

4. Build Suite - **This is wh

[2021-10-11 10:07] frantakalab opened #3528 "Similar transparent behavior for db schema configuration in V3 as in V2 API"
**Is your feature request related to a problem? Please describe.**
I am connecting to a Postgres db that has the following structure using the cli:

- `schema1.table1`
- `schema2.table1`

In v3-api I am unable to select schema for the data asset on suite creation and therefore if I want to create a suite on `table1` I don't see which schema is being used. In v2-api I can use the standard notation

[2021-10-12 08:55] BenGale93 opened #3531 "Convenience method on ExpectationSuiteValidationResult to extract failed results"
In great_expectations/data_context/data_context.py line 2538 it states:

"# TODO: This should be a convenience method of ValidationResultSuite"

The code below this extracts all the failed validation results from ExpectationSuiteValidationResult.

I've also found that in my project this convenience method would be useful. As such, if the maintainers agree, I'd like to implement this feature. I'm a

[2021-10-12 11:37] odidev commented on #3466
Thank you @NathanFarmer for your suggestion. I used the flag ```--no-sqlalchemy``` with pytest and it resolved the previous error, now I am getting two assert errors for arm64. Could you please look into it and provide your feedback regarding the same. Please find error details below:

[code]

**Here is the log detail for reference:** [great_expectations_tests_arm64.txt](https://github.com/great-e

[2021-10-12 14:32] NathanFarmer commented on #3466
Hi @odidev! I suspect that this error is related to your local environment. Would you mind posting more information about your Linux distribution/architecture using a command such as `lsb_release -a`?

Also, you may be able to find more information on this error/topic from other users in the [Great Expectations Slack Community](https://greatexpectationstalk.slack.com/join/shared_invite/zt-sugx45gn

[2021-10-12 17:35] NathanFarmer commented on #3435
Hi @MatteoFelici. This feature request has been moved into our engineering backlog. We will update you when we begin the work, but it is not up for development this planning cycle. In the meantime, we welcome a contribution on this feature and would appreciate an update if you or someone starts work on it.

[2021-10-12 19:13] HimanshuPatri7 opened #3535 ""IndexError : list index out of range" when running checkpoint for batch with suite created using UserConfigurableProfiler"
I receive an "IndexError : list index out of range" when running a checkpoint for a batch with suite created using **UserConfigurableProfiler**. One thing to note is that the batch I am trying to validate here is different from the one I had used to initially create the expectation suite using the profiler.

**Steps to reproduce the behavior**:

1. Create a validator for a batch of data using batc

[2021-10-13 02:28] dbeswick-bupa opened #3538 "GE has issues running on Azure Databricks cluster with ADLS Passthrough enabled"
**Describe the bug**
This is kind of a tricky one.

Azure Databricks (and possibly the other flavours, I'm not sure) provide an option for "High Concurrency Clusters" called "ADLS Passthrough".

https://docs.microsoft.com/en-us/azure/databricks/security/credential-passthrough/adls-passthrough

This mode is used to allow users to authenticate with ADLS Gen 2 Storage Accounts using the same credenti

[2021-10-13 07:40] odidev commented on #3466
@NathanFarmer Thanks for your quick response. Below are the details about Linux distribution/architecture:
[code]

[2021-10-13 16:43] abtpst opened #3540 "great_expectations : not able to connect to BigQuery instance"
**Describe the bug**
`print(validator.head())` gives

[code]
when connecting to BigQuery instance

**To Reproduce**
I am trying to configure the great_expectations tool

https://greatexpectations.io/

and here is the documentation i followed

https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/database/bigquery

and i was able to create

    import os

    from ruamel import yaml

[2021-10-13 18:18] viniciusdsmello commented on #2004
Hi, I've found this issue during a search for the same issue. Here we want to translate some business rules to expectations, it would be great to build an expectation based on a SQL (i.e. columns created based on some SQL logic) query without the need to create a view only to do it. Does anyone have any news about it?

[2021-10-13 18:18] #3451 closed, assigned to nobody

[2021-10-14 00:02] fep2 commented on #3330
https://github.com/great-expectations/great_expectations/pull/3541 this PR address the issue

[2021-10-14 18:12] abtpst opened #3545 "great_expectations : expect_column_values_to_match_json_schema does not take json schema as input"
**Describe the bug**

expect_column_values_to_match_json_schema does not take json schema as input

**To Reproduce**
I am trying to invoke

`expect_column_values_to_match_json_schema`

as per

https://legacy.docs.greatexpectations.io/en/latest/autoapi/great_expectations/dataset/dataset/index.html#great_expectations.dataset.dataset.Dataset.expect_column_values_to_match_json_schema

    jschema = {

[2021-10-14 19:02] #3303 closed, assigned to NathanFarmer

[2021-10-14 20:30] bjakubowskiVNSNY commented on #1463
Would love to see this reopened!

[2021-10-14 22:20] chapmanjacobd opened #3548 "V3 API S3 Datasource root user not allowed"
**Describe the bug**
Jupyter doesn't allow running as root user even though we live in the container universe whether we like it or not

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
This is the first program I've run into where I've had to create another user account just to run it. Mildly annoying but maybe not worth fixing either. v2 Datasource ran fine but I

[2021-10-14 22:34] chapmanjacobd commented on #3548
oh actually it doesn't even work as a new user

[code]

https://github.com/jupyter/notebook/blob/ccd9665571107e02a325a738b8baebd6532b2d3d/notebook/notebookapp.py#L2291

I've already spent more time on this than I care to. Guess I'll stick with API v2 for now

[2021-10-14 22:53] jasongrout commented on #3548
FYI, the situation that caused this error was likely fixed in nbconvert 6.2 (see https://github.com/jupyter/nbconvert/pull/1646), released a few weeks ago.

[2021-10-15 03:21] chapmanjacobd commented on #3548
Interesting! thanks for taking a look. but it seems like I was already using `nbconvert 6.2`

(my Pipfile.lock looks like this)

[code]

maybe it is something else

[2021-10-15 04:28] jasongrout commented on #3548
You may need to reinstall after moving to nbconvert 6.2, or clean up the erroneous files, as a previous version might have created those files with the wrong permissions. See some of the steps people had to do in https://github.com/jupyter/nbconvert/issues/1430. What 6.2 does is not create the problem in the future, but it won't fix the problems created by previous versions of nbconvert.

[2021-10-15 10:22] jvetu commented on #3263
@NathanFarmer @talagluck unfortunately error still occurs in 0.13.38 when calling context.run_checkpoint with a spark data frame in your batch request.

[2021-10-15 11:00] BenGale93 commented on #2701
This issue also occurs for me with PandasDataset and GE version 0.13.36.

[2021-10-15 12:28] NathanFarmer commented on #3458
Hi @vatsal2293! This issue has been addressed by PR #3543. The direction provided by the comments has been updated to clarify for the user that they should remove the optional key from the `example_yaml` string if the parameter is not being used.

[2021-10-15 12:28] #3458 closed, assigned to nobody

[2021-10-15 12:47] NathanFarmer commented on #3263
Hi @jvetu and @alex-hsp. Your batch request should be passed into the checkpoint as an object of type `RuntimeBatchRequest` not `dict`. Essentially, you just need to wrap what you already have:

[code]

[2021-10-15 12:56] jvetu commented on #3263
Ah, great! All appears to be working now. Thank you very much, @NathanFarmer

[2021-10-15 13:28] kyleaton opened #3550 "test issue for workflow"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - Operating System: [e.g. Linux, MacOS, Windows]
 - Gr

[2021-10-15 13:38] NathanFarmer commented on #3459
Hi @vatsal2293! I have reproduced this error when selecting options 2 or 3 if a schema is not set in the datasource:
[code]

Can you confirm that your datasource does not have a schema explicitly set in `great_expectations.yml`? In the meantime, I am working on a bug fix.

[2021-10-15 15:42] NathanFarmer commented on #3466
Hi @odidev! I just want to confirm my understanding of your first comment. You were able to install everything in the requirements except you had to alter only `snowflake-connector-python` version number? We are seeing similar issues with `scipy` on M1 Macs and these failing tests seem like they could be related to that library. Can you confirm that `scipy` installs correctly in a fresh environmen

[2021-10-15 16:17] anthonyburdi opened #3551 "DataContext.run_checkpoint() issues with RuntimeBatchRequest and batch_data with ge_cloud_id"
**Describe the bug**
I'm encountering issues when trying to run a checkpoint using a dataframe passed in at runtime either via passing `batch_data` via the `batch_request` parameter or by creating a `RuntimeBatchRequest`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a checkpoint
2. Create a `RuntimeBatchRequest` and pass to `context.run_checkpoint()`
[code]
Error:
[code]

For passi

[2021-10-15 17:20] #3550 closed, assigned to nobody

[2021-10-15 18:12] talagluck commented on #1690
It looks like this was closed in #1881

Thanks, everyone!

[2021-10-15 18:12] #1690 closed, assigned to nobody

[2021-10-15 18:14] talagluck commented on #1859
Hi! I believe this issue is closed.

[2021-10-15 18:14] #1859 closed, assigned to nobody

[2021-10-15 18:15] talagluck commented on #1969
Just connecting the dots here, thanks so much for your contribution #3496, @imamolp! We will be reviewing that shortly and will be in touch.

[2021-10-15 18:39] talagluck commented on #2234
I believe this should be resolved by #3179, so closing for now, but please feel free to re-open if that is not the case.

[2021-10-15 18:39] #2234 closed, assigned to nobody

[2021-10-15 18:43] talagluck commented on #2420
Hi @TkachevKonstantin! Apologies for delays here. I know we've had a couple of PRs regarding boto3 come through recently. Would you please confirm whether this is still an issue?

[2021-10-15 18:44] talagluck commented on #2546
Thanks! Closing, as this is resolved by #2665.

[2021-10-15 18:44] #2546 closed, assigned to nobody

[2021-10-15 18:53] talagluck commented on #2606
Hi @BogdanCojocar - apologies for delays. I believe this has been enabled in the V3 API, and we won't be able to prioritize this for the V2 API. That said, we welcome contributions, and are happy to offer support if someone is interested!

[2021-10-15 18:57] talagluck commented on #2610
Hi @henriquejsfj - so sorry for delays! I believe this Issue will be resolved by #3525 which was recently opened.

[2021-10-15 19:10] talagluck commented on #2701
Thanks so much for commenting, @BenGale93! We are unable to prioritize V2 issues internally at this time, but it'd be great to work together again if you're interested! Please let me know how we can help here.

[2021-10-15 19:12] talagluck commented on #2709
Hi @Kwarks85 - so sorry for delays. Could you please confirm whether this is still an issue on the latest version?

[2021-10-15 19:21] talagluck commented on #2728
Closing, as I believe this was resolved by #3377 and proper configuration.

[2021-10-15 19:21] #2728 closed, assigned to nobody

[2021-10-15 19:23] talagluck commented on #2739
Hi - apologies for delays. I believe this should work in V3, and we are unable to prioritize this for V2. That said, we always welcome contributions! Feel free to reach out if you are interested and need support.

[2021-10-15 19:25] talagluck commented on #2746
Hi! Closing, as this appears to be resolved by configuration as per @RichardJTorres's link. Thanks!

[2021-10-15 19:25] #2746 closed, assigned to nobody

[2021-10-16 04:42] z3z1ma commented on #3528
Yes, I am having difficulties adapting the v3 api due to this exact constraint.

[2021-10-17 17:51] BilalZahid22 commented on #3468
This issue doesn't seem to be solved in great-expectations>=0.13.37. The problem still persists but with different error. For Example: Multicolumn Expectations are working on sqlalchemy==1.4.25 but they are still throwing exceptions on sqlalchemy==1.3.24. Now the exception trace is a following

So it seems the error type is different but the problem still persists of backward compatibility with sq

[2021-10-17 18:02] BilalZahid22 opened #3557 "BugFix Ripple | SQLAlchemy==1.3.24 | Multi-column expectations throwing exceptions"
**Describe the bug**
This bug is the successor of the bugfix done in #3468 . Issue doesn't seem to be completely resolved in this issue as multi-column expectations are working fine on sqlalchemy==1.4.25 but still throwing exception(different exception than mentioned in #3468 ) on sqlalchemy==1.3.24.

A stack trace of this new exception is as follows:

**To Reproduce**
Steps to reproduce the behav

[2021-10-17 19:32] edjoesu opened #3559 "[DOCS] buggy images make docs hard to read on Android"
**Describe the bug**
On Android 11, Chrome 83.0, one of the sidebar images appears as ginormous and obscures large parts of the documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the main documentation table of contents on this device/browser

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following i

[2021-10-18 05:34] aseembansal-gogo commented on #3327
`ConfiguredAssetDataConnector ` decreased the time taken significantly. Thanks @NathanFarmer

[2021-10-18 14:01] talagluck commented on #3486
Thanks for opening this issue, @BilalZahid22! We will review and be in touch soon.

[2021-10-18 14:02] talagluck commented on #3494
Thanks for opening this issue, @dbeswick-bupa! We will review and be in touch soon.

[2021-10-18 14:05] talagluck commented on #3495
Thanks for opening this issue, @pixie79! This is essentially what EvaluationParameters are (though they do not use Jinja). We currently have a PR open with the specific NOW/time functionality that you are describing as well, and expect to merge this fairly soon (#3525).

I'm going to close this for now, but please feel free to reopen if there is functionality here that you would like to see not cu

[2021-10-18 14:05] #3495 closed, assigned to nobody

[2021-10-18 14:05] talagluck commented on #3506
Thanks for opening this, @shpolina! We will review and be in touch soon.

[2021-10-18 14:07] talagluck commented on #3527
Thanks for opening this, @JazRad! We will review and be in touch soon.

[2021-10-18 14:07] talagluck commented on #3528
Thanks @frantakalab and @z3z1ma! We will review and be in touch soon.

[2021-10-18 14:08] talagluck commented on #3531
Thanks for opening this and the corresponding PR, @BenGale93! We will review and be in touch soon.

[2021-10-18 14:08] talagluck commented on #3535
Thanks for opening this, @HimanshuPatri7! We will review and be in touch soon.

[2021-10-18 14:09] talagluck commented on #3538
Thanks for opening this issue, @dbeswick-bupa! We will review and be in touch.

[2021-10-18 14:10] talagluck commented on #3540
Thanks for opening this, @abtpst! We will review and be in touch.

[2021-10-18 14:11] talagluck commented on #3545
Hi @abtpst - thanks for asking this. We will review and be in touch with the configuration specifics shortly.

[2021-10-18 14:12] talagluck commented on #3548
Thanks @chapmanjacobd and @jasongrout! To confirm, is this still an issue?

[2021-10-18 15:00] NathanFarmer commented on #3327
I am closing this for now. Additional documentation and communication around `DataConnectors` is forthcoming.

[2021-10-18 15:00] #3327 closed, assigned to NathanFarmer

[2021-10-18 15:21] lifeofabit opened #3561 "V3 API: Default schema for Redshift not available"
**Describe the bug**
I'm not able to define a default schema for use with the Redshift SQLAlchemy data source. This is available in V2, so I'm not sure if this is a bug or a new feature request for the V3 API. There's no option to specify the schema when utilizing `great_expectations --v3-api datasource new`.  When creating new expectations, it seems like the profiler picks a schema at random (or

[2021-10-18 17:20] FredRodrigues commented on #3540
I currently have the exact same issue. At first, it was a problem of permissions, because I have read-only access to that dataset. I solved it by using the create_temp_table to False.  Now I am having the same issue as you. I even reproduce the exact same code, only changing the project id, and this error happens on a dataset that has read-only access. The project where I have full access, the cod

[2021-10-18 18:23] hec10r commented on #2710
Any updates on this issue?

[2021-10-18 19:19] talagluck commented on #3557
Hi @BilalZahid22 - thanks for following up with this! I believe this should be resolved by #3507 which should be merged into `develop` shortly. Would you be up for testing this out locally once this has merged to confirm that this takes care of the issue?

[2021-10-18 19:26] BilalZahid22 commented on #3557
Sure I can test it out once it is merged.

[2021-10-18 19:57] BilalZahid22 commented on #3557
@talagluck I did test it locally by applying changes in #3507 on great-expectations==0.13.38 on my local environment . I didn't tested the whole _develop_ branch on my local as change is not merged yet.
But by applying these changes, the expectations are working fine on sqlalchemy=1.3.24. So it seems #3507  will solve the issue

[2021-10-18 21:47] kyleaton commented on #3538
@dbeswick-bupa

Would you mind submitting a PR with your proposed fix? I think that would help us get the ball rolling on our side.

[2021-10-19 00:24] chapmanjacobd commented on #3548
hmmm I still get the same error even with a new venv created under the normal user account ~~with the same Pipfile~~. I'm going to switch to using my linux laptop for GE related things so not super interested in going down this rabbit hole to fix... if someone else has an issue maybe this stacktrace will help:

actually it wasn't the same Pipfile I just did `pipenv install great_expectations` and

[2021-10-19 00:24] #3548 closed, assigned to nobody

[2021-10-19 08:59] RPSeemann commented on #3540
I have the same issue as well.

OS: MacOS 11.6
GreatExpectations: 0.13.35

[2021-10-19 10:23] TkachevKonstantin commented on #2420
Hello! Yes, this still an issue.

[2021-10-19 14:26] talagluck commented on #3557
Great - thanks so much for the update, @BilalZahid22! That was just merged into develop, and will be released later this week. Closing this for now.

[2021-10-19 14:26] #3557 closed, assigned to nobody

[2021-10-19 15:13] NathanFarmer commented on #3551
Hi @anthonyburdi! Could you elaborate and/or post your checkpoint config for the checkpoint you created in step 1?

[2021-10-19 16:09] anthonyburdi commented on #3551
Great question @NathanFarmer - it is a `SimpleCheckpoint` modified from the sample in the CLI `checkpoint new` notebook:
[code]

[2021-10-19 17:18] donaldheppner opened #3568 "[DOCS] Create Your First Expectations, last step inaccurate"
**Describe the bug**
At docs/tutorials/getting_started/create_your_first_expectations, the last point (point 4) reads: "The last cell does several things again: It saves the Expectation Suite to disk, runs the validation against the loaded data batch, and then builds and opens Data Docs, so you can look at the Validation Results. We will explain the validation step later in the “Validate your data

[2021-10-19 21:40] talagluck commented on #3545
Hi @abtpst - it appears that in order to properly configure this expectation, the json object will need to be wrapped in a double_string, like so:
[code]

Note that this means that it will need to use single-quotation marks inside the json string.

[2021-10-19 23:49] dbeswick-bupa commented on #3538
Hello there Kyle,

I don't really have a PR to contribute at this stage -- the above is just a runtime "monkey patch" that might help others who run into the same problem, but it isn't a solution. It will no doubt break many non-Databricks cases.

I can look at some possible fixes, they'll no doubt involve adding a parameter to SparkDFExecutionEngine that skips the use of the SparkConf object, or

[2021-10-20 02:23] donaldheppner opened #3572 "[DOCS] Carousel content, "not production""
**Describe the bug**
The guide launched with a new suite notebook using the CLI highlights that this is "not a production suite" but does not articulate why it is not a product suite or what the differences might be between this suite and a production one.

This text is found on "slide 7" of the carousel shown when you create a new suite using the CLI command `suite new` (and found in the carousel

[2021-10-20 02:47] donaldheppner opened #3573 "[DOCS] Tutorial uses tripdata, unit tests supporting tutorial use trip_data"
**Describe the bug**
The name of the "tripdata" files in the tutorial (other repo) lack the underscore, where the files under test in great_expectations repo supporting the getting started guide reference "trip_data". In short, the files in the tutorial repository need to be renamed to "trip_data" and the steps in the tutorial that reference the "tripdata" name need to be updated. Given this is a

[2021-10-20 11:40] #3054 closed, assigned to nobody

[2021-10-20 13:51] odidev commented on #3466
@NathanFarmer Thanks for your response. Please find the below details about scipy installations in a fresh environment:
[code]

[2021-10-20 14:19] jpoullet2000 opened #3575 "pyspark.sql.utils.AnalysisException: "Table or view not found: when creating an expectations suite"
**Describe the bug**
Hive metastore is not found, and so the hive table is not found.

**To Reproduce**
When running
[code]
I always get `pyspark.sql.utils.AnalysisException: "Table or view not found:`

**Expected behavior**
It seems that it cannot connect to the hive metastore.

I tried to set up the environment variables `HADOOP_CONF_DIR`, `SPARK_HOME` and `HIVE_CONF_DIR` (using `export` in bash

[2021-10-20 15:56] tnorlund-dsc commented on #3473
I can no longer install great expectations in EMR. I'd most likely need to bootstrap the installation. Does anyone at GE have a bootstrap script?

[2021-10-20 16:00] abtpst commented on #3545
thanks @talagluck i tried the approach you suggested but i get the same errors

[2021-10-20 20:00] NathanFarmer commented on #3473
Hi @tnorlund-dsc. Is this related to this issue? It would seem to be a different issue if it is occurring when you run `sc.install_pypi_package("great_expectations")`. Is that when you see the error?

[2021-10-21 01:12] damon09273 opened #3577 "GE get slow after add a BigQuery datasource"
**Describe the bug**
GE cli command or python script get slow after a BigQuery been added.

The Google settings (e.g credential, project) was been double checks.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a BigQuery type datasource
2. Running a cli command e.g great_expectations --v3-api checkpoint list
3. It will stuck at ```Using v3 (Batch Request) API``` and took at least 5 minut

[2021-10-21 01:13] damon09273 commented on #2771
I have a similar issue when using BigQuery datasource.
https://github.com/great-expectations/great_expectations/issues/3577

[2021-10-21 07:10] ryperez commented on #3577
I also have this issue. Currently, as I'm also using airflow, I just passed the data from BQ -> GCS -> downloaded on machine then do CSV validations there.

[2021-10-21 09:07] kc-garcia opened #3579 "WinError 2 when editing suites"
**Describe the bug**
I can not edit suites in Jupyter notebooks, the command great_expectations suite edit [OPTION] gives me a WinError 2.

**To Reproduce**
After Congratulations! Great Expectations is now set up.
Steps to reproduce the behavior:
1. great_expectations suite edit [OPTION]
2. FileNotFoundError: [WinError 2] The system cannot find the file specified

**Expected behavior**
Open a new

[2021-10-21 14:44] jcampbell commented on #3561
Hey @lifeofabit  -- I think the issue is that the message is really confusing, but the problem is that sqlalchemy doesn't support setting a schema using the piecemeal URL construction. So, I think you should be able to make this work by changing your configuration to provide a connection string instead:

[code]

Do you have an example of the previous config that worked in v2? I wonder if it was ju

[2021-10-21 17:37] FredRodrigues commented on #3540
@abtpst @RPSeemann I was able to solve this issue. You will need BigQuery Read Session User permission. After I ask the support of my project to add this role my account, I was able to access the data.

[2021-10-21 18:34] drewmck-superconductive opened #3582 "[Docs] "Page not found" clicking on Expectation Glossary link on Expectations Reference"
**Describe the bug**
On the [Expectations Reference page](https://docs.greatexpectations.io/docs/reference/expectations/expectations/), clicking the Expectations Glossary link is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.greatexpectations.io/docs/reference/expectations/expectations/'
2. Click on 'Expectations Glossary'
3. See Page Not Found error

**Expec

[2021-10-21 20:55] talagluck commented on #3108
I believe this is resolved by #3228 and #3546. Closing for now.

[2021-10-21 20:55] #3108 closed, assigned to nobody

[2021-10-21 22:31] #3486 closed, assigned to nobody

[2021-10-22 12:58] woods2021 opened #3588 "Can't stop writing output to filesystem."
I'm following the instructions here to validate some data entirely in memory.

https://docs.greatexpectations.io/docs/guides/connecting_to_your_data/in_memory/pandas

I am running Great Expectations in a Lambda function and I want to just process the output from the call to

validator.validate() in the function, without writing anything to the file system.

It seems there is no way to do this?  La

[2021-10-22 14:38] NathanFarmer opened #3589 "Incorrect stdout for ConfiguredAssetFilesystemDataConnector "Unmatched data_references" with multiple configured Data Assets"
**Describe the bug**
When multiple Data Assets are configured using `ConfiguredAssetFilesystemDataConnector` the stdout produced incorrectly references all files as being `Unmatched data_references`.

[code]

**To Reproduce**
1. Given the following files in `<MY DIRECTORY>/`:

[code]

2. Configure a new datasource with either of these configurations:

YAML:
[code]

Python:
[code]

3. Run:
`context

[2021-10-22 15:09] talagluck commented on #3540
Thanks so much for your response here, @FredRodrigues! I'm going to close this for now, as it seems to be related to BQ permissions rather than Great Expectations. If you feel differently, or like there is some way that Great Expectations should be handling this, please feel free to re-open.

[2021-10-22 17:21] talagluck commented on #2775
Hi @Spooky-0 and @dallinb - thanks so much for reporting this and apologies for delays.

I wanted to check - do you know if this is an issue with V3 as well? If it's only an issue with V2, we won't be able to prioritize this internally, but we would welcome a community contribution, and are happy to offer any assistance needed to get this over the line.

[2021-10-22 17:24] talagluck commented on #2795
Hi @LavinaVRovine and @DanielSastoque - thanks so much for reporting this, and apologies for delays.

We merged a fix (#3580) for another Evaluation Parameters issue yesterday, and I wonder if it may resolve this as well. Are you able to run Great Expectations from `develop` and see if this works for you? Otherwise we will take another look.

[2021-10-22 17:30] #3573 closed, assigned to donaldheppner

[2021-10-22 17:33] talagluck commented on #2815
Hi @FredHermann - thanks for your question, and apologies for delays. I know we've done some work around SqlAlchemyExecutionEngine recently. Would you please confirm whether this is still not working as expected?

Thanks!

[2021-10-22 17:35] dallinb commented on #2775
I was testing against V3.  Downgraded to V2 to get around the problem.

[2021-10-22 17:36] talagluck commented on #2821
Hi @shpolina - thanks for reporting this, and apologies for delays! I believe this is resolved by #3508, so closing this for now.

[2021-10-22 17:36] #2821 closed, assigned to nobody

[2021-10-22 17:42] talagluck commented on #2827
Hi @ashishmgofficial! Thanks for your question. We have [this doc which details a workflow which may be useful for you](https://discuss.greatexpectations.io/t/how-to-compare-two-tables-with-the-userconfigurableprofiler/618/2). This doc is specifically for V2, and we are in the process of updating it for V3 - it should be released pretty soon.

I'm going to close this issue for now, but feel free t

[2021-10-22 17:42] #2827 closed, assigned to nobody

[2021-10-22 17:54] talagluck commented on #2841
Hi @y-nakashima0324 - thanks for opening this, and apologies for delays. I believe this may have been resolved a few weeks back. Would you please confirm whether this is still an issue?

[2021-10-22 18:06] talagluck commented on #2864
Hi @jan-aguja - thanks again for filing this! I'm going to close this for now, as the use of old validation operators is not a recommended pathway, and there is a workaround here, but feel free to re-open if there is a need.

[2021-10-22 18:06] #2864 closed, assigned to nobody

[2021-10-22 18:09] talagluck commented on #2865
Hi @dyanni3, apologies for delays. Given the unusual use case here, and given that this seems specific to V2, I'm going to close this for now, but if you feel differently, feel free to re-open. Thanks again for raising this!

[2021-10-22 18:09] #2865 closed, assigned to nobody

[2021-10-22 18:14] talagluck commented on #2910
Hi @Andrew088 - I'm going to close this for now, but please feel free to re-open if you feel this is still an issue, or are interested in making a contribution. Thanks!

[2021-10-22 18:14] #2910 closed, assigned to nobody

[2021-10-22 18:16] talagluck commented on #2927
Hi @richagaur - I'm going to close this issue for now, but we would welcome a contribution at any time! Feel free to re-open this, if it is helpful for you, and otherwise to open a PR when you are ready. Thanks!

[2021-10-22 18:16] #2927 closed, assigned to nobody

[2021-10-22 18:19] #2906 closed, assigned to nobody

[2021-10-22 18:35] talagluck commented on #2936
Hi @rikardomarenzzi - thanks for your question, and apologies for delays! This appears to be a bug, however there is a workaround. You can specify the `schema_name` in a `batch_spec_passthrough` dictionary in your BatchRequest like so:
[code]

[2021-10-22 18:38] talagluck commented on #2957
Hi @mcallaway - thanks for raising this! This does indeed appear to be a bug, however, I believe it was resolved in V3. We aren't currently able to prioritize fixes for V2. That said, we always welcome community contributions, and I'm happy to offer guidance and support if you or another user are interested in submitting a fix.

[2021-10-22 18:44] talagluck commented on #3027
Hi @ghost - thanks for raising this, and apologies for delays! This may have been resolved for V3 by #3353. Would you please confirm whether this is an issue when running V3?

[2021-10-22 18:57] talagluck commented on #3095
Closing as this is resolved by #3488 and #3477

[2021-10-22 18:57] #3095 closed, assigned to nobody

[2021-10-22 18:59] talagluck commented on #3148
Hi, I believe the original issue has been resolved here, and the most recent issue is a duplicate of #3473, so I'm closing this for now.

[2021-10-22 18:59] #3148 closed, assigned to nobody

[2021-10-22 19:16] talagluck commented on #2775
Thanks @dallinb - would you please add more information about your setup/config here? The config posted by @Spooky-0 is for V2, so it would be good to see how you were trying to set this up for V3.

[2021-10-22 21:45] jimmykaiser commented on #3535
Make sure that the columns in batch A and B match. I encountered the same error and it was because I was missing a column in the data set I was running the checkpoint on. It failed when it tried to validate the expectations for the missing column.

[2021-10-23 00:56] liianghuang commented on #3551
not sure whether this the same issue, when I use `data_context.run_checkpoint` with `batch_request=None`, I'll get Keyerror from this line
```datasource: Datasource = cast(Datasource, self.datasources[datasource_name])```

[2021-10-23 15:44] guidoturtu opened #3593 "[ERROR] Running checkpoint against RuntimeBatchRequest with Sql query"
**Describe the bug**
Running a checkpoint against a RuntimeBatchRequest with an sql query configured. With the same batch and running a validator, there is no issue and execute correctly. However, when I try to run a checkpoint with that batch, and error of `batch_data` parameter that os trying to verify. Investigation, I realized that there is a parameter to check the `batch_data` parameter to ma

[2021-10-25 14:37] Taisia-Sharapova opened #3594 "expect_column_values_to_be_between stops working with Spark's TimestampType when migrating from v2 to v3"
**Describe the bug**
We are migrating from GE v2 API to v3. The old version was 0.13.23. We have a parametrized expectation `expect_column_values_to_be_between`. It worked perfectly fine in the old version of the code, but fails with a `Provided min threshold must be a number` exception now.

**Current setup**
Shortened version of our current setup:
[code]

Gives an error `Provided min threshold m

[2021-10-25 15:44] hec10r commented on #3551
Any updates on this?

[2021-10-25 17:18] abtpst commented on #3545
@talagluck would it be possible to have a working example here? or in the docs

[2021-10-25 19:35] talagluck commented on #3559
Hi @edjoesu - thanks for raising this! We will review and be in touch.

[2021-10-25 19:41] talagluck commented on #3575
Thanks for raising this issue, @jpoullet2000! We are not currently able to prioritize V2 issues, and additionally, we are not able to prioritize Hive issues. That said, we always welcome community contributions! Please feel free to reach out if you would like to contribute.

[2021-10-25 19:44] talagluck commented on #3577
Thanks for raising this @damon09273 and @ryperez! We will review and be in touch.

[2021-10-25 19:47] talagluck commented on #3579
Hi @kc-garcia - thanks for raising this! Silly question, but could you please confirm that you have a suite named `scenario_ge_demo` in your ExpectationsStore? Would you please paste the store part of your config here (taking care to remove any sensitive information)?

[2021-10-25 19:59] talagluck commented on #3594
Hi @Taisia-Sharapova - I believe this has been fixed in `develop`, but not yet merged into `main`. Would you mind trying to install from `develop` and seeing if this works for you? It should be merged in later this week.

[2021-10-25 21:04] talagluck commented on #3588
Hi @woods2021 - thanks for asking this. Could you please confirm what you are seeing? I don't believe that `validator.validate()` should write to the filesystem, and when I test this out, that is what I am finding. it appears that `validator.validate()` just returns a json object without writing to the file system.

[2021-10-25 21:29] talagluck commented on #3545
Hi @abtpst - apologies for delays. I'm having trouble reproducing the issue with slightly different data. Here is my code:
[code]

[2021-10-25 21:38] abtpst commented on #3545
thanks @talagluck i will review the above

[2021-10-25 22:42] talagluck commented on #3545
Yes, you need to change the name of the `expectation_suite` with an `expectation_suite` that you have.

[2021-10-26 00:47] abtpst commented on #3545
@talagluck thanks, here is what i tried

[code]

so this is essentially your sample code above but i have just replaced the dataframe with the one i am reading from the file

but i still get

[code]

note that i am able to run your sample (hardcoded dataframe)

[2021-10-26 00:55] abtpst commented on #3545
lastly, i am able to run other expectations with ease, such as

[code]

[2021-10-26 13:36] talagluck commented on #3545
Hi @abtpst - thank you for sharing. I am not familiar with using Great Expectations on top of a pandas json object, and didn't think it was possible, so it's interesting to see that it works for other expectations. What do you get when you run `batch.head()`? Please make sure to remove any sensitive information, but I am especially curious about the json column that you are trying to validate.

[2021-10-26 15:06] talagluck commented on #3170
Hi @mpalfi - apologies for delays. I believe the issue here is that `parse_strings_as_datetimes` does not work for SQL Alchemy backends. As `parse_strings_as_datetimes` is a feature which we are planning to deprecate for all backends anyway, I'm going to close this issue for now, but please feel free to re-open if you have any new information.

[2021-10-26 15:06] #3170 closed, assigned to nobody

[2021-10-26 15:23] talagluck commented on #3213
Hi! It looks like this specific Issue is resolved, so I'm going to close this for now.

[2021-10-26 15:23] #3213 closed, assigned to nobody

[2021-10-26 15:28] talagluck commented on #3241
Closing this for now, but please feel free to re-open if you have more information.

[2021-10-26 15:28] #3241 closed, assigned to nobody

[2021-10-26 15:30] talagluck commented on #3271
Closing for now, as I believe this is partially resolved, and partially duplicated by #3506. Please feel free to re-open if you feel this is not the case!

[2021-10-26 15:30] #3271 closed, assigned to nobody

[2021-10-26 15:37] talagluck commented on #3357
Hi @The-Loud - sorry for delays. I believe the issue is that the validation_playground notebook is not configured to work with V3. We have since removed these notebooks in #3467. I'm going to close this for now, but please feel free to chime in with any questions.

[2021-10-26 15:37] #3357 closed, assigned to nobody

[2021-10-26 15:39] talagluck commented on #3358
Hi @fosk06! I wanted to check in - is this something which you are interested in contributing? Please let us know how we can assist.

[2021-10-26 15:41] talagluck commented on #3366
Hi @fitz-omny - thanks again for raising this. I wanted to confirm - is this still an issue for you? If so, would you please share some of the stack traceback message so we can see exactly where things are going wrong? That will make it easier to figure out where the bug is occurring.

[2021-10-26 17:05] lifeofabit commented on #3561
Hi @jcampbell, thank you for responding!  Apologies for the delay, just now saw your message.  To answer your questions:

1. Switching up my config to the one provided didn't help.  What was strange was that when running `great_expectations --v3-api datasource list`, I saw the datasource in the list.  However when running `great_expectations --v3-api suite new`, I received the following error mess

[2021-10-26 17:26] lifeofabit commented on #3561
Here's what happens when I try to recreate the process using the v3 API by trying to use the {schema}.{table} notation when choosing the data asset.  If I were to enter `my_table` for the data asset, the expectation suite is created.  However, if there is `my_schema` and `my_schema2` and both schema have `my_table`, then one schema is chosen by the engine to be used.

[code]

[2021-10-26 18:21] anthonyburdi opened #3600 "Unable to run a Checkpoint using a Spark Datasource when referencing a Data Asset"
**Describe the bug**
Getting a `list index out of range` error when running a checkpoint using a BatchRequest that references a DataAsset from a Spark Datasource.

**To Reproduce**
Use the following configurations

Datasource config:
[code]
[code]
[code]
[code]
[code]

**Expected behavior**
I expect the checkpoint validation to be run on the file referenced by the data asset.

**Environment (pleas

[2021-10-26 18:28] abtpst commented on #3545
thanks @talagluck i see something like

        col1.      col2.       col3.       col4.       .............
0.     1.          {'a':'b','c':'d'}.        823658.         xvbvfy.      ............
1.     NaN.          {'z':'x','n':'m'}.        346.         utliiul.      ............
2.     2.          {'f':'g','h':'k'}.        908.         gmm.      ............
3.     1.          {'p':'o','h':'b'}

[2021-10-26 18:28] abtpst commented on #3545
seems like the output from a regular dataframe

[2021-10-26 18:35] talagluck commented on #3600
Some corroboration:
Have a project with two Datasources that have the same DataConnectors configured (pointing to the taxi data that exists in `tests/test_sets` in the Great Expectations repo), one with a SparkDFExecutionEngine and one with a PandasExecutionEngine.

Ran through the `great_expectations --v3-api checkpoint new` workflow to create a new checkpoint.

Used the following checkpoint conf

[2021-10-26 18:46] talagluck commented on #3561
Hi @lifeofabit - thanks so much for the update! We've been digging in here. I believe there is a bug here, namely around not being able to specify `schema_name.table_name`, that we will work on soon, but it may take some time. That said, I believe there is a work-around - you should be able to pass `schema_name` into `batch_spec_passthrough` like this:

[code]

Please let us know if this works for

[2021-10-26 18:50] abtpst commented on #3545
also `type(batch)` is `<class 'great_expectations.dataset.pandas_dataset.PandasDataset'>`
and `batch.shape` is `(381,154)` in my case

[2021-10-26 21:02] datacubeR commented on #3594
May I add that I have a similar issue using an In-Memory Data Set. When trying to use great expectations in a Notebook using the expectation as a method works perfectly. But when trying to Run a Checkpoint I get the `Provided max threshold must be a number`.

![image](https://user-images.githubusercontent.com/48638337/138960293-af67ef6c-b4d2-422d-ae41-451213f23168.png)

Any guidelines will be deep

[2021-10-26 21:20] talagluck commented on #3594
Hi @datacubeR - to better understand, are you using Evaluation Parameters? If so, could you please included some more information about your config here? Otherwise this may be a separate issue.

[2021-10-26 22:00] talagluck commented on #2610
We just merged this in! We still need to update our docs, but you should be able to do this by specifying evaluation parameters in quotes like this:

[code]

Closing for now, but please feel free to re-open if you have additional questions.

[2021-10-26 22:00] #2610 closed, assigned to nobody

[2021-10-27 01:06] maryletteroa opened #3605 "Error when rendering documentation for partitioned parquet file"
**Describe the bug**
An error occurs while building documentation from partitioned parquet tables.

**To Reproduce**
Steps to reproduce the behavior:

(Steps 8-9 might be specific to my case but could be connected to the error, so just including it here)

1. Add partitioned parquet table as datasource `great_expectations datasource new`
2. Profile parquet table e.g. `great_expectations datasource

[2021-10-27 21:17] lifeofabit commented on #3561
Hi @talagluck , thanks for this information.  I was able to apply the `batch_spec_passthrough` to both expectation/checkpoint creation and this worked correctly to resolve the schema.  I'd say this could be a duplicate of that ticket and can be closed if desired.

Thanks again for the help!

[2021-10-28 16:57] abekfenn commented on #3225
Hi all,
I'm seeing a related - possibly different root cause - bug where results does not include `unexpected_index_list` despite setting result_format to "COMPLETE". I have an example attached below that reproduces the issue.

After diving into the code, my hunch is that this is something to do with running this using  a RuntimeBatchRequest.
It seems that when using the below implementation - pas

[2021-10-28 18:18] samLozier opened #3609 "Prefect RunGreatExpectationsValidation module can't run checkpoint created through notebook."
This error is coming from prefect, but I thought I'd share it here as well since it was my impression that the GE team helped with the prefect code and I'm unclear on wether the error is being caused by improper GE generated yml or non-working prefect code.

Setup:
- I'm new to GE and have been using notebooks to connect to a datasource, then a test suite.
- I ran ```great_expectations --v3-api ch

[2021-10-28 19:04] bhcastleton commented on #3225
Thanks @abekfenn for adding that. Very helpful!

[2021-10-28 20:20] ryan-wolbeck opened #3613 "readthedocs.io page logo"
**Describe the bug**
![87AD34D1-ECF4-471E-AE0C-E6E5D519B080](https://user-images.githubusercontent.com/41489316/139329441-18d49cd0-d148-4348-bfd2-e616b3e78c95.png)
The logo image on the read the docs site, is broken
https://great-expectations.readthedocs.io/en/latest/reference/glossary_of_expectations.html#expectation-glossary

**To Reproduce**
Navigate to
https://great-expectations.readthedocs.io

[2021-10-29 11:27] shizidushu opened #3615 "Error when trying to use mssql as expectations store and validations store"
**Describe the bug**
Error when trying to configure SQL Server as validations store or expectations store.

**To Reproduce**

### 1. ValidationsStore
Configure `great_expectations.yml`
[code]

Run command
[code]

Get Error
[code]

### 2. ExpectationsStore

Configure `great_expectations.yml`
[code]

Run command
[code]

Get Error
[code]

**Expected behavior**
No error.

**Environment (please complet

[2021-10-29 12:42] HansBambel opened #3616 "Extend documentation for removing expectations"
**Is your feature request related to a problem? Please describe.**
I am new to great_expectations and went through the "Getting started" set up with my own data. After setting up the expectation suite I went over it again because I noticed some of the expectations were not as I wanted them to be or were not useful at all.

I started the editing process with `great_expectations --v3-api suite edit

[2021-10-29 23:28] samLozier opened #3617 "Expectation suite created via v3-api notebook cannot be run as created from the same notebook."
**Describe the bug**
An expectation suite created with the v3_api notebook cannot be run/edited using the same method without modifying auto-generated python code. Notably the json `null` value is left in a cell where the python `None` is likely needed.

*To Reproduce**

Create a basic test suite without a ge_cloud_id field :
 `great_expectations --v3-api suite new`
Save the suite by running the f

[2021-10-30 01:05] calvin-c-dsc opened #3618 "MetricResolutionError: Error: The column \"None\" in BatchData does not exist"
**Describe the issue**

I'm getting the error message below.  Not sure if it's related to this [issue-3205](https://github.com/great-expectations/great_expectations/issues/3205)

[code]

**To Reproduce**
This is the code I'm running:
[code]

**Environment (please complete the following information):**
 - Great Expectations Version: 0.13.39
 - spark version: spark:3.0.1
 - OS: debian-10

**Addition

[2021-10-30 07:06] calvin-c-dsc commented on #3618
I got the code above to work.  There was an error in my expectation config.  The expectation should be declared using the following:

[code]

[2021-11-01 13:19] talagluck commented on #3593
Thanks for submitting this issue, @guidoturtu! This is on our roadmap to fix, and we will be in touch when it is resolved.

[2021-11-01 13:20] talagluck commented on #3594
I believe this has been resolved and merged in the latest version of GE, so I'm going to close this for now. However, feel free to open a new issue if additional issues arise. Thank you!

[2021-11-01 13:20] #3594 closed, assigned to nobody

[2021-11-01 13:28] talagluck commented on #3613
Thanks for opening this issue, @ryan-wolbeck! We will review and be in touch. In the meantime, you can also access our Legacy Docs through legacy.docs.greatexpectations.io.

[2021-11-01 13:30] talagluck commented on #3615
Hi @shizidushu - just a heads-up, it looks like you may have saved sensitive information in your connection string in Step 2 - I would recommend editing this, and changing all passwords.

[2021-11-01 13:34] ibudincevicbol opened #3620 "Great Expectations long execution time in GCP"
**Describe the bug**
Very long execution times (30-45 minutes) for Great Expectations in our GCP PRO environment only, but it runs fast (30 seconds) on our STG environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Great Expectations in python through 'context.run_checkpoint' with a GCP storage bucket as StoreValidationResultAction and UpdateDataDocsAction location.
2. On our STG e

[2021-11-01 13:35] talagluck commented on #3615
Otherwise, thank you for raising this issue! We will review, and be in touch. In the meantime, are you able to try using credentials in your `.yml` without using a connection string?

[2021-11-01 13:40] talagluck commented on #3609
Hi @samLozier - thanks for raising this issue! I believe the problem here is that the Prefect integration does not yet work with the V3 API of Great Expectations, though I believe there are plans in place to make that update.

[2021-11-01 13:43] talagluck commented on #3616
Hi @HansBambel - thank you very much for opening this issue! This is great feedback, and we will work on updating our docs to make this more understandable.

One quick question regarding:

Would you please clarify this?

Off the top of my head, the right way to do this is just as you did, except instead of `suite.remove_expectation`, you would use `validator.get_expectation_suite().remove_expectat

[2021-11-01 13:50] talagluck commented on #3617
Hi @samLozier - thank you very much for raising this! This definitely appears to be a bug, and we will review and be in touch soon. Just to confirm STR, it appears that this issue arises when editing the suite not against an existing batch of data. Is that your experience as well?

[2021-11-01 13:55] talagluck commented on #3618
Thanks for the update, @calvin-c-dsc! I'm going to close this for now.

[2021-11-01 13:55] #3618 closed, assigned to nobody

[2021-11-01 14:03] talagluck commented on #3605
Hi @maryletteroa - thank you so much for raising this issue! I have a couple of follow-up questions.
- Are you able to tell the type of the data in the column that is failing?
- It appears that you are using the V2 API. Is there a specific reason for this?

Thanks! We will review and be in touch.

[2021-11-01 14:35] pmariac commented on #3540
Got the exact same error here.

I have the **BigQuery Read Session User** permission.
I'm auth using

[code]

At first, everything is working as expected :
- The "temp" table is created and contains expected items
- The datasource is successfully instantiated and saved
- The Suite is created

But on calling the validator.head() method I got the same error as abtpst:

[code]

[2021-11-01 14:44] brandonserna opened #3621 "KeyError on expect_column_values_to_be_dateutil_parseable for SQLAlchemy Datasource"
**Describe the bug**
The `expect_column_values_to_be_dateutil_parseable` expectation seems to be raising a `KeyError` exception when working with a postgres datasource as the SqlAlchemyExecutionEngine. The final error message reads:

[code]

I tried a sampling of the data using the Pandas execution engine and the same expectation `expect_column_values_to_be_dateutil_parseable` seems to function pr

[2021-11-01 15:21] abekfenn commented on #3225
@talagluck thoughts on the above issue being related to the failure of the result_format arg to propagate or an issue of datasource configuration/handling? Again, would be more than happy to look into solving this if I could be pointed in the right direction.

[2021-11-01 18:20] HansBambel commented on #3616
Oh, yes. My mistake. I used `validator.remove_expectation` and that got me the warning.

[2021-11-01 18:22] oscaratnc opened #3622 "great_expectations.exceptions.exceptions.MetricResolutionError: 'NoneType' object has no attribute 'setCallSite'"
**Describe the bug**
When trying to add an expectation into a expectation suite with a DF coming from a SparkDFExecutionEngine datasource  it fails and throws the error in the title of this issue specifically when calling _res = df.agg(*aggregate_cols).collect()_ in the _resolve_metric_bundle_ function within **sparkdf_execution_engine.py**.

This happens when using the databrick-connector setup f

[2021-11-01 18:47] samLozier commented on #3617
@talagluck The bug I'm raising is only related to editing, not running the suite itself. I only tested the suite after removing the problematic field, so unfortunately I don't have much to add regarding how it runs.

[2021-11-01 19:36] talagluck commented on #2815
Hi @FredHermann, I'm going to close this for now, but if this does turn out to still be an issue, please feel free to re-open.

[2021-11-01 19:36] #2815 closed, assigned to nobody

[2021-11-01 19:37] talagluck commented on #2795
Hi @LavinaVRovine and @DanielSastoque, I'm going to close this for now, but if this does turn out to still be an issue, please feel free to re-open.

[2021-11-01 19:37] #2795 closed, assigned to nobody

[2021-11-01 19:39] talagluck commented on #3561
Thanks! I'm going to close this one for now.

[2021-11-01 19:39] #3561 closed, assigned to nobody

[2021-11-01 19:50] kyleaton commented on #3538
Hi @dbeswick-bupa,

Sorry for the delay in response I just wanted to let you know that we've added this to our backlog to address and I should have more information on how we'll proceed later this week.

Thanks for your patience :)

[2021-11-01 21:11] anthonyburdi commented on #3367
Hi @alex-hsp - I was unable to replicate this issue using both GE v0.13.40 (latest) and v0.13.32 as you mentioned above (using databricks runtime v8.3). What output are you seeing from an `os.environ["DATABRICKS_RUNTIME_VERSION"]`?

[2021-11-01 21:12] samLozier opened #3623 ""--v3-api suite new" cli workflow does not display >50 data assets."
**Describe the bug**
When invoking the ` great_expectations --v3-api suite new` command and connecting to an asset with a large number of tables, it is apparently impossible to see the full list of tables or scroll through to see all the tables.

**To Reproduce**
Steps to reproduce the behavior:
1. ` great_expectations --v3-api suite new`
2.  On step two select a data source with >50 assets, in my

[2021-11-01 22:58] oscaratnc commented on #3622
UPDATE:

if you run my_validator.head() it fails with the following:

``Traceback (most recent call last):
  File "/home/sesa573626/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-1-563cda95a3bb>", line 1, in <module>
    my_validator.head()
  File "/home/sesa573626/.local/lib/

[2021-11-01 23:34] data-djinn commented on #3380
FWIW, I made the suggested resolution on my system (Windows 10) & the warning went away.

[2021-11-02 02:01] shizidushu commented on #3615
@talagluck Thank you for point it. I will try to use `config_variables.yml` for this. May you remove this issue from the rep?

[2021-11-02 03:32] maryletteroa commented on #3605
hi @talagluck , about V2 API, it's because I'm using profile in the commandline `great_expectations datasource profile <table` which is not currently available in V3. I get results from the BasicDatasetProfiler class.

All my columns are StringType except for the ingest_datetime which is TimeStampType and p_ingest_date which is DateType

[2021-11-02 08:42] alex-hsp commented on #3367
@anthonyburdi it gives me a keyerror
This is os.environ.keys() on DBR 8.4
[code]

[2021-11-02 11:29] mudittomar commented on #3491
Hi,
this issue is reoccuring.
Environment :- AWS glue, GE version 0.13.39. df is a **spark dataframe**.
Code

df =  spark.read.csv("s3://m-ge/Collections_Data_.csv",header='true',  inferSchema='true')
print(df.show(5))
bucketname = "m-ge"
my_spark_datasource_config = DatasourceConfig(
    class_name="Datasource",
    execution_engine={"class_name": "SparkDFExecutionEngine"},
    data_connectors={

[2021-11-02 14:59] talagluck commented on #3615
Hi @shizidushu, I am closing this issue for now, but I am unable to delete the issue. Feel free to re-open if you still have any trouble!

[2021-11-02 14:59] #3615 closed, assigned to nobody

[2021-11-02 15:01] talagluck commented on #3617
Thanks, @samLozier! I have confirmed that this is the case when editing a suite without using an existing batch of data. We are working on this, and will reach out with progress.

[2021-11-02 15:14] talagluck commented on #3225
Hi @abekfenn - thanks so much for the follow-up! We believe that this is an issue of functionality that has not yet been fully updated for the V3 API. As you demonstrate in your example, this works with the V2 Batch Kwargs API (`PandasDataset` and `PandasDatasource`), but does not yet work with the V3 Batch Request API (`PandasExecutionEngine`). It is not possible to mix and match from these APIs,

[2021-11-02 15:39] FredRodrigues commented on #3540
@pmariac , are you using RuntimeBatchRequest?

[2021-11-02 16:29] talagluck commented on #3330
This is resolved by #3541 - thanks for raising and solving this issue, @fep2!

[2021-11-02 16:29] #3330 closed, assigned to nobody

[2021-11-02 16:29] NathanFarmer commented on #3551
@liianghuang @hec10r You should be able to bypass this bug by passing your `RuntimeBatchRequest` into `validations`, but in the meantime I am working on a fix for passing it into the top-level `batch_request` parameter.

[2021-11-02 16:30] abekfenn commented on #3225
Thank you for the thorough response @talagluck. Would the recommended interim solution be to use the V2 API then?

I've leveraged the documentation for [How to instantiate a Data Context without a yml file](https://legacy.docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_data_contexts/how_to_instantiate_a_data_context_without_a_yml_file.html#how-to-guides-configuring-data-contex

[2021-11-02 18:34] NathanFarmer commented on #3491
Hi @mudittomar. I am unable to reproduce this error message and the message you show above is not the same as this closed issue. Have you tried updating to the latest version of GE?

[2021-11-02 21:01] talagluck commented on #3380
Thanks so much! This has been fixed in #3612. Closing for now.

[2021-11-02 21:01] #3380 closed, assigned to nobody

[2021-11-02 21:01] talagluck commented on #3355
Thanks! I believe this has been resolved in #3612! Closing for now.

[2021-11-02 21:01] #3355 closed, assigned to nobody

[2021-11-02 21:33] talagluck commented on #3605
Hi @maryletteroa - thanks for the follow-up. Just a heads-up, the BasicDatasetProfiler is not available for V3, but the UserConfigurableProfiler is, in case that is helpful for you.

It looks like this error might be occurring due to running `expect_column_min_to_be_between` on a string column. Is that something that is happening in your suite?

[2021-11-02 22:50] dbeswick-bupa commented on #3538
Hi Kyle, no worries at all.

To be honest, I'm not sure how crucial this kind of support will be as the ADLS credential passthrough mode has some fairly large drawbacks depending on your use case, such as a maximum one hour job run time. These restrictions are detailed in the link I sent in the description.

We are still not clear to what extent we'll make use of the passthrough feature, but I tho

[2021-11-03 00:17] miike commented on #3355
That's great news - thanks for the heads up!

[2021-11-03 03:22] ghost opened #3628 "Typos on Homepage"
On the [homepage](https://greatexpectations.io/), in the 'Batteries-included data validation' section, there is a broken Markdown link:

![image](https://user-images.githubusercontent.com/55477181/140005634-34a3617c-3052-4c47-8e40-03a70a4c7e15.png)

Also, on the [homepage](https://greatexpectations.io/), it says that MS SQL Server is a 'Leading open source database', but I think it's proprietary?

[2021-11-03 09:42] maryletteroa commented on #3605
hi @talagluck, I think it's possible that that's what is happening. I'll checkout UserConfigurableProfiler but is that something that I can access from the CLI or just through Python?

[2021-11-03 11:29] vgcshub commented on #2709
@talagluck
yes still getting same issue on spark

[2021-11-03 12:52] artemsachuk commented on #3622
Hi @oscaratnc
This one helped me to solve the similar issue with running GE in scope of existing spark session on databricks-connect and pycharm:
https://github.com/great-expectations/great_expectations/issues/3330
https://github.com/great-expectations/great_expectations/pull/3541/commits

so now when I add "force_reuse_spark_context: true" to my execution_engine config everything works fine:
<...

[2021-11-03 13:59] pmariac commented on #3540
@FredRodrigues RuntimeBatchRequest and BatchRequest like in [the given sample code](https://github.com/great-expectations/great_expectations/blob/develop/tests/integration/docusaurus/connecting_to_your_data/database/bigquery_yaml_example.py).

[2021-11-03 14:07] FredRodrigues commented on #3540
@pmariac with BatchRequest it works but using RuntimeBatchRequest it returns that error as well. I think it is because of this: ( this is my code which returns the same error as you, I debug it a little bit and come across that query error)

[code]

[code]

I already tried different types of queries, with and without parenthesis, etc but seems not be working because it is expecting a table after t

[2021-11-03 15:49] daccorti opened #3630 "Validation Results Docs references file function - should be open function"
**Describe the bug**
In the [validation results section](https://github.com/great-expectations/great_expectations/blob/develop/docs/reference/validation.md#validation-results) the example provides code that uses the file function to open your expectations json file. Super small bug, but should probably switch to the `open ` function as I believe that is what replaced `file` in Python 3.

**To Repr

[2021-11-03 17:42] talagluck commented on #3605
Hi @maryletteroa, the UserConfigurableProfiler is the default profiler from the CLI.

For V3, you can access it by running `great_expectations --v3-api suite new` and then selecting `3. Automatically, using a profiler`.

For V2, you can access it by running `great_expectations suite scaffold`.

[2021-11-03 17:59] talagluck commented on #2709
Hi @vgcshub - could you please include your project and checkpoint config?

[2021-11-03 18:24] talagluck commented on #3540
Gotcha - thanks for the update, @FredRodrigues! We currently have a few other RuntimeBatchRequest issues in progress, so I was wondering if this was related, but this feels specific to BigQuery. I'm going to re-open this, and take a look over the next week.

[2021-11-03 18:46] talagluck commented on #3620
Thanks for opening this issue, @ibudincevicbol! That definitely sounds like an issue, and someone on the team will take a look and get back soon. To clarify in the meantime, what is STG?

I also wanted to point you to some multi-threading functionality introduced with #3362 . This is currently experimental, but it would be good to hear if this is helpful for you.

[2021-11-03 19:02] talagluck commented on #3621
Hi @brandonserna - thanks for chiming in here! This expectation is not currently available for SqlAlchemy. You can see the complete list of [available expectations by backend here](https://docs.greatexpectations.io/docs/reference/expectations/implemented_expectations). I'm going to close this issue for now, as this is a known lack of implemented functionality rather than a bug. That said, if you a

[2021-11-03 19:02] #3621 closed, assigned to nobody

[2021-11-03 19:06] talagluck commented on #3622
Thanks for opening this issue, @oscaratnc, and thanks for your response, @artemsachuk!

Please let us know whether this resolves the issue. Otherwise we will review internally and be in touch soon.

[2021-11-03 19:07] talagluck commented on #3623
Thanks for opening this issue, @samLozier! This functionality is known, and was added so that we don't overwhelm users with too many tables. That said, we will discuss internally and be in touch.

[2021-11-03 19:09] talagluck commented on #3628
Thanks for opening this issue, @davidwales! We will review and update our docs accordingly soon.

[2021-11-03 19:28] samLozier opened #3631 ""Code Coverage" + type-checker tool for GE"
I was encouraged to post this here by @bhcastleton after asking about it on the GE slack.

**Is your feature request related to a problem? Please describe.**
Changes to dbt/pandas/(data related code) in a project should be somehow tied to tests in GE code.

**Describe the solution you'd like**
The end goal is something akin to a coverage report/mypy static analysis for a python project. The tool w

[2021-11-03 19:41] talagluck commented on #3630
Thanks for raising this, @daccorti! This does appear to  be bug - would you be interested in making a contribution here? We're happy to offer any guidance/support you may need.

[2021-11-03 21:06] oscaratnc commented on #3622
Hello,

@artemsachuk  Thanks for the direction, I made the change  in the base.py file class ExecutionEngine but still I am getting the same result.
@talagluck   this is what I am running now  with  the configs:

[code]
This is the expectation I am trying to run :
my_validator.expect_column_values_to_be_null('SRCE_LOC')

a this is the result:

[code]

There's again the CallSite Thing, Do you notic

[2021-11-03 21:10] piedpipperer commented on #3551
In my case, after running into some trial and error on EMR, managed to make it work the following way:

- fine tunning the spark config
- initiating the context based on files + printing the 'get_datasource' method to make sure its correctly defined.
- Somewhat this get_datasource starts sparksession, which after that I override  with my hive and other confs.
- At this point I read the dataframe o

[2021-11-04 01:08] maryletteroa commented on #3605
Great. Thanks @talagluck! Will try these methods.

[2021-11-04 10:06] ibudincevicbol commented on #3620
Hello, thank you for taking a look! Sorry for the confusion, STG=staging, so that is our staging environment where we test our services before deploying to the PRO=production environment in the GCP. As mentioned in the ticket, I asked our infrastructure team (we are more of a data science/development team) and they said there should be no difference expected between the two clusters in terms of pe

[2021-11-04 13:19] NathanFarmer commented on #3466
Hi @odidev! Sorry for the delayed response. We recently released a blog post entitled [Installing Great Expectations on a Mac M1](https://greatexpectations.io/blog/m-one-mac-instructions/). I know that is not exactly your use case, but I wonder if these instructions could be helpful considering M1 is arm-based.

[2021-11-04 13:34] talagluck commented on #3605
Sounds good, thanks @maryletteroa! I'm going to close this issue for now, as I believe it has to do with the data not being the right type for the expectation, but please feel free to re-open if that turns out to not be the case.

[2021-11-04 13:34] #3605 closed, assigned to nobody

[2021-11-04 13:40] talagluck commented on #3622
Hi @oscaratnc, it appears that you are not passing your Spark config into your ExecutionEngine. This is not a direct example, as it applies to V2, but you can take a look at [this description ](https://github.com/great-expectations/great_expectations/pull/3126)to get a sense of how to do this.

[2021-11-04 13:41] carlsonp commented on #3461
I think we were able to resolve this issue.  The problem was we had about 90 tables, each had likely more than 60 JSON validation results on the filesystem.  For some reason, clearing these away dropped the runtime back to one second.  I've thus moved to using [Postgresql for the validation store](https://docs.greatexpectations.io/docs/guides/setup/configuring_metadata_stores/how_to_configure_a_va

[2021-11-04 13:41] #3461 closed, assigned to nobody

[2021-11-04 14:11] talagluck commented on #3461
Hi @carlsonp - thanks so much for following up with the update.

It doesn't surprise me that the quantity of validation results led to long runtimes - I believe this is less about loading/parsing the JSON and more about rendering the individual sites on Data Docs (since each Validation will get its own site). This is a known bottleneck that we're hoping to fix soon (though we would like a communit

[2021-11-04 14:43] carlsonp opened #3636 "create_temp_table parameter not used in SQLAlchemy execution_engine"
**Describe the bug**
Disabling temporary table creation via `create_temp_table` in either the `great_expectations.yml` file or `batch_spec_passthrough` is not leveraged for the SQLAlchemy `execution_engine`.

**To Reproduce**

Some code adjusted to hide connection details or table...

I'm connecting to a Denodo database via SQLAlchemy.  My `great_expectations.yml` config file for `datasources` loo

[2021-11-04 15:13] oscaratnc commented on #3622
WOW you're the best! It's working Now Thanks a lot! I think we can close this issue :)

[2021-11-04 17:04] #3080 closed, assigned to nobody

[2021-11-04 17:18] talagluck commented on #3366
I'm going to close this for now, but if it turns out to still be an issue and you're able to provide us with more steps to reproduce, feel free to re-open.

[2021-11-04 17:18] #3366 closed, assigned to nobody

[2021-11-04 17:24] talagluck commented on #3579
Hi @kc-garcia - I'm going to close this for now, but if the issue persists, and you're able to provide more steps to reproduce, feel free to re-open.

[2021-11-04 17:24] #3579 closed, assigned to nobody

[2021-11-04 17:26] talagluck commented on #3588
Hi @woods2021 - I'm going to close this for now, but please feel free to re-open if this is still an issue, and you are able to provide more steps to reproduce.

[2021-11-04 17:26] #3588 closed, assigned to nobody

[2021-11-04 17:59] talagluck commented on #3622
Great - thanks for letting us know!

[2021-11-04 17:59] #3622 closed, assigned to nobody

[2021-11-04 19:48] NathanFarmer commented on #3459
Hi @vatsal2293! Again, thanks for opening this issue. For the time being, we are no longer describing these Snowflake parameters as optional, and the Jupyter Notebook comments are being removed by PR #3639. If you still prefer not to set a schema in the `datasource`, you may be able to work around this by adding the option `create_temp_table: False` to your `datasource` configuration under `execut

[2021-11-04 19:48] #3459 closed, assigned to nobody

[2021-11-04 19:51] talagluck commented on #3623
Just for reference, there is a (not ideal) workaround here, which is to select another table, and then replace that table name in the BatchRequest with the table you'd like to use.

[2021-11-04 20:26] luizfgoncalves opened #3641 "Add a Data Docs site to DataContext() with code"
**Is your feature request related to a problem? Please describe.**
I want to add a new `data_docs_site` for my `DataContext` object using code. (e.g: A Doc for Azure).
Currently, we can add data_sources, expectation_suites, stores, but there is no option for data docs.

**Describe the solution you'd like**
I would like a new method `add_data_docs_site()` to `DataContext`. This would insert the dat

[2021-11-04 21:49] samLozier commented on #3623
I've found that I'm able to type the name of the table, in all lowercase (didn't test upper) and have it generate the notebook as expected. At a minimum, it might be helpful to end users to have a warning about the current functionality.

Maybe something like:
[code]

Regardless of your decision, thank you for the quick reply on the issue, it's nice to feel like someone is listening.

[2021-11-04 22:14] #3617 closed, assigned to nobody

[2021-11-05 08:10] damon09273 commented on #3577
The issue is gone after upgraded great-expectations to 0.13.41.

[2021-11-05 11:43] HansBambel commented on #2703
I got this error when I used the proposed command for the command line when I clicked on "How to Edit This Suite" in the DataDocs.
There the command looks like this: `great_expectations suite edit my_suite`, but I needed to add the `--v3-api` flag: `great_expectations --v3-api suite edit my_suite`

After googling only this issue came up.

[2021-11-05 12:56] talagluck commented on #3623
Thanks for this, @samLozier! This issue has triggered a review of this workflow, and we're going to do some design work to figure out the best way to move forward. It may take us a little while, but we're working on it!

[2021-11-05 13:03] talagluck commented on #3577
Great - thanks so much for letting us know, @damon09273! Just to confirm, is that your experience as well, @ryperez?

[2021-11-05 13:11] HansBambel commented on #3616
@talagluck I tried using
[code]
but the expectation was not removed.

I think the best workflow for removing an expectation from an existing suite is:
1. use `great_expectations --v3-api suite edit <my-suite>`
2. Delete the `expectation/<my-suite>.json`
3. Delete/edit the cells in the notebook which you want to remove/edit
4. Run the notebook (it creates a new `<my-suite>.json`)

[2021-11-05 17:40] talagluck commented on #3225
Great news, @milosz-dm and @abekfenn! This was just merged into `develop` this morning, and should be released next week. This should work as expected at this stage, so please do chime in if that turns out to not be the case.

@abekfenn, we generally recommend that users work from the V3 API, as we will stop full support of the V2 API in the not-too-distant future. That said, if you would like to

[2021-11-05 17:40] #3225 closed, assigned to nobody

[2021-11-05 21:25] talagluck commented on #3631
Hi @samLozier - thanks for opening this issue! This idea sounds really cool. Where would you imagine this tool would live? It feels to me like it would live outside of core Great Expectations functionality, but if you have thoughts about this, it would be great to get the additional context, and I can bring this to our internal engineering meeting in the next couple of weeks.

[2021-11-05 21:27] talagluck commented on #3636
Thanks for opening this issue, @carlsonp! As mentioned in Slack, we don't expressly support Denodo, and it's possible that this is related to that. That said, we will investigate whether that is actually the case, and be in touch about this soon.

[2021-11-05 21:28] talagluck commented on #3641
Thanks so much for opening this issue, @luizfgoncalves!  This is an awesome idea. We will review and be in touch.

[2021-11-06 20:15] samLozier commented on #3631
@talagluck My mental model was that this would be analogous to mypy or pytest, so either a plugin or stand alone tool that worked along side of GE. As I mentioned, I personally viewed this as something I'd run in a pre-commit hook or in CI. When working in python, I roughly follow the workflow laid out in the "hypermodern python" article series and want to have the same rough flow when working wit

[2021-11-07 20:30] almogtavor opened #3647 "Can this library be used with Java/ Scala ?"
**Is your feature request related to a problem? Please describe.**
There are many Spark developers out there that use Java and Scala. I'd like to know if and how it is possible to use great expectations in such languages.

**Describe the solution you'd like**
I'd like to use this library with Apache Spark in Java.

**Describe alternatives you've considered**
There's an option of using some embedde

[2021-11-08 08:04] ibudincevicbol commented on #3620
Perhaps this is related to the issue, but sometimes the validation step also fails with an internal error as seen in the logs bellow. Note this could also be Istio catching  an error, as all of our jobs are run through a scuttle wrapper which enables Istio to handle all communication from the kubernetes pod, which is done for all of our company's cloud jobs .

[code]

[2021-11-08 08:20] piedpipperer commented on #3473
To go further in the debugging of runtime checkpoint in spark, I tried with a simple config of chekpoint:

[code]
The error "TypeError: cannot pickle '_thread.RLock' object" keeps on appearing which is complicated to debug.
Tried before with a Checkpoint instead of SimpleCheckpoint. but guess this is simpler to debug

[2021-11-08 10:13] vgcshub commented on #2709
@talagluck sorry for delay Here is my config
Running on AWS Glue spark enviroument
`#Initiate great_expectations context
data_context_config = DataContextConfig(
    config_version=3,
    plugins_directory=None,
    config_variables_file_path=None,
    datasources={
        "my_spark_datasource": {
            "class_name": "Datasource",
            "module_name": "great_expectations.datasource",

[2021-11-08 10:14] vgcshub commented on #2709
Getting the following Error

Error running action with name update_data_docs Traceback (most recent call last): File "/home/spark/.local/lib/python3.7/site-packages/great_expectations/validation_operators/validation_operators.py", line 455, in _run_actions checkpoint_identifier=checkpoint_identifier, File "/home/spark/.local/lib/python3.7/site-packages/great_expectations/checkpoint/actions.py", li

[2021-11-09 06:13] olemara opened #3648 "java.lang.IllegalStateException: Cannot call methods on a stopped SparkContext"
**Describe the bug**
I am configuring a SimpleCheckpoint that should be used in combination with a Spark dataframe. I am bootstrapping this with the following code.

[code]

**To Reproduce**
Steps to reproduce the behavior:

Use code above.

[code]

then try to write the dataframe to disk.

I am getting the following error message:

[code]

**Expected behavior**
The dataframe and its content is wr

[2021-11-09 12:17] ibudincevicbol commented on #3620
I tried enabling this multithredding option by setting
`context.get_config(mode='typed').concurrency._enabled = True` but I did not see an improvement in speed. Additionally the pod metrics indicated that it was still using 1 CPU while there were 2 available. Perhaps this is not the correct way to enable it? I couldn't find a more detailed way of how to enable this feature in the link provided nor

[2021-11-09 12:22] ibudincevicbol commented on #3620
We perhaps have some more idea on why there is such a drastic difference in processing time between the two environments. We believe it has to do with the size of the 'data_docs/index.html' file. Our job runs once every hour and each hour has it's own set of 2 validation runs based on 2 expectation suites, one for warning validations and one for failure validations. This means that we are creating

[2021-11-09 14:07] talagluck commented on #3620
Hi @ibudincevicbol, thank you for following up here.

We are currently aware of the bottleneck with rendering data docs with large numbers of validations, and it makes sense that this could be the main source of the difference between your two environments. This is something that we are looking into, though it may take us some time to get to the bottom of the issue. In the meantime, there is a wor

[2021-11-09 14:43] ibudincevicbol commented on #3620
hi, thank you for your reply and suggestions. Concerning the multithredding, I tried doing `context.concurrency.enabled = True` , but received an error something like 'cannot set attributes'. In any case yes it seems that will not fix our current issue.
Thank you for the suggestion for the workaround, but we decided already to temporarily pause the docs output to GCS until this is resolved in the

[2021-11-09 19:46] mpalfi opened #3649 "Unable to create expectation suite with v3-api using a relational (postgres) datasource"
**Describe the bug**
When referencing a relational datasource (postgres or mysql) I am unable to create suite using v3-api via the CLI.
When running great_expectations --v3-api suite new, with option 3 (automatically, using a profiler) , referencing the datasource , providing a schema and table name that the user has access to I am getting the following error:

  File "C:\Users\xxxx\AppData\Roamin

[2021-11-09 22:34] xaraujo opened #3650 "Connect Spark to S3"
**Describe the bug**
I'm trying implement pyspark with S3 using InferredAssetS3DataConnector but I got a message saying "ValueError: S3 query may not have been configured correctly".
One of the params that class receives is the prefix, that represents the file to read, after debug your code I found the issue related to prefix transformation that adds a trailing slash, in the line:
`self._prefix =

[2021-11-09 23:42] hanlonjohn23 opened #3652 "`InferredAssetSqlDataConnector` does not respect passed `introspection_directives`"
**Describe the bug**
When trying to create an `InferredAssetSqlDataConnector` that takes advantage of the `introspection_directives` parameter in the `InferredAssetSqlDataConnector` object, no error is thrown, but the `introspection_directives` input is not respected.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `great_expectations --v3-api datasource new` in an appropriate directory.

[2021-11-10 02:01] ryperez commented on #3577
Yep! the issue is also gone on my end. @talagluck

[2021-11-10 14:01] talagluck commented on #3577
That's excellent - thanks for letting me know, @ryperez! I'll close this out for now then.

[2021-11-10 14:01] #3577 closed, assigned to nobody

[2021-11-10 14:24] cdkini commented on #3650
Leaving a note to also investigate Azure and GCS prefixing since they all use the same logic.

[2021-11-10 14:25] talagluck commented on #3620
Sounds good - thanks so much for letting me know, @ibudincevicbol. I know you can actually specify your `concurrency` config within your `DataContext` config, but I would need to do some digging to get the details.

Either way, we will close this issue for now, and let you know as we resolve the issue with rendering. Thanks again for your follow-up here.

[2021-11-10 14:25] #3620 closed, assigned to nobody

[2021-11-10 20:22] alssau opened #3655 "Inconsistent behavior when dealing with spark session"
**Describe the bug**
The way the `get_or_create_spark_application` function works is different when running with different spark versions, so spark 2.4.4 and 3.0.1

Case 1 - Running with 2.4.4
The function calls `get_or_create_spark_session` which will find the existing session, and it will later change the spark.app.name to "default_great_expectations_spark_application". Then it calls `spark_rest

[2021-11-10 20:44] talagluck commented on #3655
Thanks for opening this issue, @alssau! We will review and be in touch.

[2021-11-10 20:53] talagluck commented on #3650
Thanks for raising this issue, @xaraujo! We will review and be in touch soon.

[2021-11-10 20:56] talagluck commented on #3649
Hi @mpalfi - thanks for opening this issue! Could you please include the `BatchRequest` with which the notebook automatically populated? To confirm, you did not edit this at all?

[2021-11-10 21:15] gzamb08 opened #3656 "Running expect_column_values_to_be_unique on Postgres datasource raises psycopg2 error."
**Describe the bug**
Running **expect_column_values_to_be_unique** expectation on a Postgres table column raises psycopg2 error:

expect_column_values_to_be_unique raised an exception:
(psycopg2.errors.SyntaxError) subquery in FROM must have an alias LINE 3: FROM (SELECT CASE WHEN (id_viagem IS NOT NULL AND id_viagem ... ^ HINT: For example, FROM (SELECT ...) [AS] foo. [SQL: SELECT "UnexpectedCoun

[2021-11-10 22:50] c-bpovea opened #3657 "now() is not an available evaluation parameter"
Version 0.13.40 adds test for datetime evaluation parameters, but the use case when we need just the current date was not considered.

For example, if we test with this parameter: `"$PARAMETER": "now() - timedelta(weeks=52*1000)"` as [here](https://github.com/great-expectations/great_expectations/blob/86eea6da29e834c7cbaaeb6321c4c7d3cc4adc3d/tests/test_definitions/column_map_expectations/expect_co

[2021-11-10 23:10] abekfenn opened #3658 "Data docs does not contain the results of my expectations"
**Describe the bug**
This is probably not a bug and is user error but I didn't see a suitable template.. I am trying to run expectations via code (not the CLI) as a part of my ETL pipeline in order to validate data before it goes to production. I want to save the expectation results json and upload it to S3 and setup a S3-hosted data docs to pull from those results & the expectation suite.

**To R

[2021-11-11 01:16] nateGarcia opened #3660 "Dynamic-Database Evaluation Parameters Expects Invalid Path in Query Store URN spec"
According to Step 3 in [Dynamic Database Evaluation Parameters](https://docs.greatexpectations.io/docs/guides/expectations/advanced/how_to_dynamically_load_evaluation_parameters_from_a_database/#steps), the urn must follow the structure, `urn:great_expectations:stores:<query_store>:<query>`. However, when these evaulation_parameters are parsed during `SimpleCheckpoint(arbitrary_args).run()`, the l

[2021-11-11 03:01] miike commented on #3540
@FredRodrigues by any chance do you have pyarrow installed?

I spent a bit of time trying to track down what was happening here as it looked like the query was being executed successfully on my end but not returning the metric (this may be a different issue to the failed query you are experiencing).

I found that in my `aborted_metrics_info` I was getting an ImportError for

after I installed pyar

[2021-11-11 09:13] xtomflo commented on #3511
@donaldheppner where can one find the workaround documentation?

I went ahead using pre-built wheel of scipy and installation was successful, but subsequent run fails as below.

[2021-11-11 13:32] discdiver opened #3663 "BUG Broken link in Edit Your Expectation Suite starter notebook"
Thank you for this great tool!

[**Describe the bug**
A clear and concise description of what the bug is.]

Broken link in the automatically generated *Edit Your Expectation Suite* starter noteboook: https://docs.greatexpectations.io/en/latest/autoapi/great_expectations/data_asset/index.html?highlight=remove_expectation&utm_source=notebook&utm_medium=edit_expectations#great_expectations.data_asset

[2021-11-11 14:06] gzamb08 commented on #3656
**UPDATE:** Executed the same scenario using ge version 0.13.39 and it worked just fine.

[2021-11-11 15:53] mpalfi commented on #3649
Here is the batch request that is generated when I try to edit the suite.

batch_request = {
    "datasource_name": "bdl_test_v3",
    "data_connector_name": "whole_table",
    "data_asset_name": "masterdata.w_resource_d",
    "limit": 1000,
}

Pasting also the datasource from the configuration file:
  bdl_test_v3:
    class_name: SimpleSqlalchemyDatasource
    introspection:
      whole_table:

[2021-11-11 22:41] bhcastleton opened #3665 "Validating data in a hosted environment - Documentation sends you on a meaningless goose chase."
**Describe the bug**
When I go to the documentation [here](https://docs.greatexpectations.io/docs/deployment_patterns/how_to_instantiate_a_data_context_hosted_environments) to find out how to deploy Great Expectations in a hosted environment, step three tells me to go to the guide showing how to validate data without a checkpoint. So I go [here](https://docs.greatexpectations.io/docs/guides/valida

[2021-11-12 04:53] abekfenn opened #3666 "Wrong index returned because _apply_row_condition uses DataFrame.reset_index(drop=True)"
**Describe the bug**
When an expectation uses row_condition with the pandas parser, the wrong index is included in the expectation results json because PandasDataset._apply_row_condition uses DataFrame.reset_index(drop=True).

**To Reproduce**
Steps to reproduce the behavior:
1. Run the below code
2. Note that the incorrect output is returned when using row_condition (as this causes reset_index to

[2021-11-12 14:34] mpalfi commented on #3649
adding also below the result of  (context.test_yaml_config(yaml_config=example_yaml) when creating this datasource.
It seems slightly different from what I see in the documentation at : https://docs.greatexpectations.io/docs/guides/setup/configuring_data_contexts/how_to_configure_datacontext_components_using_test_yaml_config in the sense that does not return sample data. Not sure if this is releva

[2021-11-12 15:49] BilalHaniff opened #3670 "[ERROR] TypeError: "Object of type date is not JSON serializable" when rendering HTML"
When I run the renderer on my validations (from the profiler), I get the "Object of type date is not JSON serializable" error.  I have a date column in my dataset.  When I convert it to string, I don't get this error.

An unexpected Exception occurred during data docs rendering.  Because of this error, certain parts of data docs will not be rendered properly and/or may not appear altogether.  Plea

[2021-11-12 15:54] BilalHaniff opened #3671 "Add Metrics on other columns to the validation result"
**Is your feature request related to a problem? Please describe.**
Expectation results currently only provide metrics for the column that is being checked.  I would like to add metrics of another column in my results.

**Describe the solution you'd like**
In the finance world, a DQ issue can have material impact on a calculation.  We therefore need to know what this impact is for each expectation.

[2021-11-12 16:50] talagluck commented on #3656
Thanks so much for opening this, @gzamb08! We will review and be in touch soon.

[2021-11-12 16:55] talagluck commented on #3657
Thanks for opening this issue, @c-bpovea! I agree that this doesn't sound like it's working correctly. We will review and be in touch.

[2021-11-12 17:08] talagluck commented on #3658
Hi @abekfenn! Thanks so much for the question.

While you are running a validate step, and you are saving your suite, `batch.validate()` does not actually save your validation results. In order to do that, you will want to use a Checkpoint (or LegacyCheckpoint if you are using the V2 API). If you run `great_expectations suite new` on the CLI, you will see an example of this in the last cell. For r

[2021-11-12 17:08] #3658 closed, assigned to nobody

[2021-11-12 17:18] talagluck commented on #3660
Thanks for opening this, @nateGarcia! We will review internally and be in touch soon.

[2021-11-12 17:22] talagluck commented on #3663
Thanks for opening this issue, @discdiver! We will review and be in touch. We also welcome community contributions if you are interested!

[2021-11-12 17:23] talagluck commented on #3666
Thanks for opening this issue and corresponding PR, @abekfenn! We will review and be in touch.

[2021-11-12 17:28] talagluck commented on #3670
Thanks for opening this issue, @BilalHaniff! We will review and be in touch. As a side note, this type of Profiler is somewhat out-of-date, and so moving forward we would recommend using either the `UserConfigurableProfiler` or a RuleBasedProfiler.

[2021-11-12 17:31] talagluck commented on #3671
Hi @BilalHaniff - thanks for opening this issue! We currently have an open PR that I believe will address this in #3346.

I believe a more specific version of what you are requesting can be found in #3195. Let me know if you agree that these are the same issue, and I'll close this for now, but we are working on it.

[2021-11-12 18:03] discdiver commented on #3663
Thanks. I'm hesitant to submit a PR to fix the links because I see they have UTM params and I don't know what values you want for those. 🙂

BTW, the link to the expectation glossary in the same auto-generated notebook goes to an old version of the docs:

[code]

[2021-11-12 20:18] miike commented on #3540
So after resolving the above I've also run into this issue (syntax error due to missing parentheses).

I've solved this by either:

- Adding parentheses around the query that is specified in the checkpoint or
- Updating the SQL Alchemy engine to add these in so the query syntax is correct when using a temp table

[code]

[2021-11-13 00:07] FredRodrigues commented on #3540
Thanks @miike for your feedback, I will test your suggestions next week. Just a note, I have to use create_temp_table : False because I don't have write permissons.

[2021-11-14 11:44] alitsaberi commented on #2905
Hi @NathanFarmer, I'm using version 0.13.42 and still get this error when trying to run a checkpoint on a spark data frame.

[code]

[2021-11-15 01:19] ashishtele opened #3677 "Error: No great_expectations directory was found here!"
**Describe the bug**
Hey Team,
I am getting an error at:
context = ge.data_context.DataContext()

Tried with a stable version as well, but the error persists

**Environment**
 - Operating System: [ Windows]
 - Great Expectations Version: [0.13.8]

**Additional context**
Add any other context about the problem here.

![image](https://user-images.githubusercontent.com/14126898/141707721-89b6cd1f-4f5

[2021-11-15 09:47] xaraujo commented on #3650
Hi All,

Any update on that?

Many Thanks
With Best Regards
Xavier

[2021-11-15 13:08] alitsaberi opened #3678 "Checkpoints do not work with spark dataframes"
Trying to run a checkpoint on a spark data frame, but I get the following error:
[code]
This is similar to #2905 and the issue was supposed to be resolved in release 0.13.38, but it still persists. I'm using 0.13.42.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a data context and a data source
[code]
2- Configure a checkpoint
3- Create a Spark dataframe and run the checkpoint:
[

[2021-11-15 14:39] talagluck commented on #3677
Hi @ashishtele, can you please run `ls` in the directory where you are running your script? If you have run `great_expectations init` and have a `great_expectations` directory in this location, you will not see this error.

Alternatively, if you would like your script to be in a different location, you can pass in the directory of your Great Expectations argument as below:

[code]

[2021-11-15 19:42] talagluck commented on #3678
Thanks for raising this issue, @alit8! I believe this is a duplicate of #3551, and a bugfix is currently in process. Since this is a duplicate, I'll close this for now, but please feel free to re-open if you feel differently.

[2021-11-15 19:42] #3678 closed, assigned to nobody

[2021-11-15 20:14] talagluck commented on #2631
Hi @hmandsager - apologies for delays here. I wanted to confirm, is this still an issue in V3, and when using the UserConfigurableProfiler? I'm trying to understand whether this is a persistent issue with `expect_column_mean_to_be_between` for MS SQL, or whether this is more of a particular edge case.

Thanks!

[2021-11-15 20:21] talagluck commented on #3535
Thanks for the suggestion, @jimmykaiser!

@HimanshuPatri7, based on that, is this still an issue? It does appear to be config-based, though I would need more information to determine where things are breaking. This shouldn't have anything to do with the suite originating from the UserConfigurableProfiler, other than the fact that the two Batches of data might have different columns.

[2021-11-15 20:31] talagluck commented on #3426
Hi @SanthoshS20 - I wanted to check, are you still interested in contributing this? Please feel free to reach out if you have any questions.

[2021-11-16 02:43] ashishtele commented on #3677
Hi @talagluck , Thank you for helping here. After having **great_expectations** directory at root location, when I run command:

context = ge.data_context.DataContext()

I am getting the below Error:

[2021-11-16 14:27] talagluck commented on #3677
Hi @ashishtele - it appears that you are using a very old configuration. I would recommend that you go through our [Getting Started Tutorial](https://docs.greatexpectations.io/docs/tutorials/getting_started/intro), as this will provide you with the tools you need to set up a project, and to be able to ask questions in our [community Slack](https://greatexpectationstalk.slack.com/join/shared_invite

[2021-11-16 14:27] #3677 closed, assigned to nobody

[2021-11-16 15:35] xaraujo opened #3685 "sparkdf_execution_engine Integration with S3"
**Describe the bug**
The sparkdf_execution_engine does not have the boto3_options params to connect to S3 like pandas_execution_engine has.

**To Reproduce**
Setup datasource and expectations suite using pyspark and load the dataset from S3

**Expected behavior**
Load the data from S3 and run the validations, down the line generate a report.

**Environment (please complete the following informatio

[2021-11-16 16:15] bpovea commented on #2828
Hi, I solved this problem... it's just a naming issue. the right name must be: `expect_column_pair_values_a_to_be_greater_than_b`. All in lower case.

This is the whole list of expectation suites dictionary:
`_registered_expectations.keys()
dict_keys(['expect_column_values_to_be_of_type', 'expect_column_distinct_values_to_be_in_set', 'expect_column_distinct_values_to_contain_set', 'expect_column_d

[2021-11-16 18:59] samLozier opened #3686 "Allow organization of checkpoints into nested directories."
**Is your feature request related to a problem? Please describe.**
It should be possible to organize checkpoints into nested directories.

**Describe the solution you'd like**
Allow checkpoints to be nested arbitrarily inside the checkpoints directory. This will be most helpful on larger projects and in my own case, when used with a large dbt project that has nested models directories.

**Describe

[2021-11-16 19:15] austiezr commented on #3201
Hey @vaidehid1305! I'm working on reproducing and understanding this behavior right now.

I'm getting seeing succeeding behavior for your first case `batch.expect_column_values_to_not_be_in_set("robot_families", ['null','null'])` on a column of arrays testing against `'null'` entries;
similarly succeeding behavior on the same column testing against `'null,null'` entries with `batch.expect_column_v

[2021-11-16 21:13] donaldheppner commented on #3511
Instructions that worked for me are now posted in our blog: https://greatexpectations.io/blog/m-one-mac-instructions/; I hope they work for you, please let me know if you continue to run into issues!

[2021-11-17 04:47] amybachir opened #3690 "Cannot create data context in Azure Databricks cluster with ADLS Passthrough enabled"
I'm using great_expectations version 0.13.33. I'm running great_expectation in an Azure Databricks cluster with [ADLS Credential Passthrough](https://docs.microsoft.com/en-us/azure/databricks/security/credential-passthrough/adls-passthrough) enabled. All my stores are `TupleFilesystemStoreBackend` that are Databricks DBFS mounts with Azure blob storage backend.

I'm unable to create a data context

[2021-11-17 14:05] talagluck commented on #3582
Thanks for opening this! It looks like this work has been done, so I'm going to close this.

[2021-11-17 14:05] #3582 closed, assigned to nobody

[2021-11-17 14:11] NathanFarmer commented on #2905
Hi @alit8, using `RuntimeBatchRequest`s in `Checkpoint`s is under development in the current sprint. You should be able to get around this for now by passing the batch request into a `Checkpoint` object using `validations`. Open PR #3680 addresses passing the `RuntimeBatchRequest` into a `Checkpoint` object instead of into `context.run_checkpoint`.

[2021-11-17 14:12] NathanFarmer commented on #3678
Hi @alit8, using `RuntimeBatchRequest`s in `Checkpoint`s is under development in the current sprint. You should be able to get around this for now by passing the batch request into a `Checkpoint` object using `validations`. Open PR #3680 addresses passing the `RuntimeBatchRequest` into a `Checkpoint` object instead of into `context.run_checkpoint`.

[2021-11-17 16:40] talagluck commented on #3685
Thanks for opening this issue, @xaraujo! We are currently working on your other ticket. To confirm, is this issue different from the other? If so, would you please rename this with something more descriptive and specific?

[2021-11-17 16:42] talagluck commented on #3686
Thanks for opening this issue, @samLozier! We will review and be in touch.

[2021-11-17 16:44] talagluck commented on #3690
Thanks for opening this issue, @amybachir! We will review and be in touch soon. I wanted to confirm, do you think that this may be a duplicate of #3538?

[2021-11-17 16:49] xaraujo commented on #3685
Many Thanks for your message, as you asked, I changed the name to sparkdf_execution_engine Integration with S3

[2021-11-17 16:51] amybachir commented on #3690
@talagluck thanks for looking into this. I believe this is a different issue than `3538`. This issue is related to connecting to the backend store when creating a data context. In `3538`, it seems they were able to create a data context but came across an error when attempting to create a Spark session which I ran into when I got past creating the data context.

I was able to get past the data con

[2021-11-17 17:00] talagluck commented on #3027
I'm going to close this issue for now, but feel free to re-open if you find that the issue persists for you.

[2021-11-17 17:00] #3027 closed, assigned to nobody

[2021-11-17 17:06] talagluck commented on #3373
I'm going to close this issue, since this feature is being deprecated. Please keep an eye out for a blog post providing more detail in the next couple of weeks!

[2021-11-17 17:06] #3373 closed, assigned to nobody

[2021-11-17 17:25] talagluck commented on #3671
Hi @BilalHaniff - I'm going to close this for now, as I believe it is a duplicate. If you feel that this is substantively different from #3195, please feel free to re-open with the additional context of how it differs.

[2021-11-17 17:25] #3671 closed, assigned to nobody

[2021-11-17 17:56] leblancfg commented on #1261
@ian-whitestone fancy seeing you here 😏

[2021-11-17 19:02] cdkini commented on #3650
Merged a hotfix PR!

[2021-11-17 19:02] #3650 closed, assigned to nobody

[2021-11-17 19:55] austiezr commented on #3180
Hey @kuhnen! Taking a look at this now and haven't been able to reproduce; are you able to verify that this is still an issue for you, and if so, provide an example of how you initially set up this expectation? That extra context may help diagnose what's happening here.

[2021-11-18 10:19] derek-hk opened #3699 "New approach for computating expect_column_values_to_be_in_set in spark environment"
**Background**
We are trying to apply Great Expectations to check the data quality.
A foreign key checking between a 200k rows value_set against a 60k rows checking_set (60k rows) requires 1000 second to complete. This is much longer than our expectation in a spark environment. After looking into the source code of .expect_column_values_to_be_in_set() under a spark dataframe, we found that _"colum

[2021-11-18 15:38] kuhnen commented on #3180
@austiezr we still have the issue, I will take a deeper look to try to better understand,  thanks a lot for looking into this.
![image](https://user-images.githubusercontent.com/1311776/142446802-5c21ca07-afb8-4982-ae6d-5abd85b796fe.png)

[2021-11-19 00:21] gabwon9 opened #3705 "GCS Data Docs lost previous testing result. It's newly created whenever testing are started."
**Describe the bug**
Data Docs are created in the Google Cloud Storage (bucket). The Data Docs get overwritten each time a new test is executed via Cronjob. i.e. the output will always contain one result.

**To Reproduce**
Steps to reproduce the behavior:
1. In Google Cloud environment, schedule a cronjob so the Great Expectation test suite gets executed.
2. In Great Expectation Python script, che

[2021-11-19 16:40] cdkini commented on #3699
Hey @derek-hk! Thanks so much for opening up this issue after our discussion in Slack.

We'll discuss internally and be in touch!

[2021-11-19 16:45] cdkini commented on #3705
Hey @GabwonPark! Thanks so much for opening up this issue.

In order to best diagnose the issue at hand, it would be really helpful to have the underlying configuration you're using. Would you mind providing your data context config, scripts, and any other pertinent information (please omit any sensitive details)?

We'll review that information and try to determine what's going on.

[2021-11-19 17:25] cdkini commented on #3648
Hey @olemara! Thanks so much for opening this issue.

I'll bring this up to our engineering team to determine next steps. Appreciate your patience 🙇🏽

[2021-11-19 17:29] cdkini commented on #3647
Hey @almogtavor! Thanks for bringing this up!

We unfortunately do not support any language outside of Python. If you'd like to try to enable a workaround, I think the alternative you've suggested may be the best path forward. Best of luck getting things to work 🎉

[2021-11-19 17:29] #3647 closed, assigned to nobody

[2021-11-19 18:54] anthonyburdi commented on #3367
Thank you @alex-hsp - are you running Databricks using AWS, Azure or GCP?

[2021-11-19 20:24] anthonyburdi commented on #3367
The reason I ask is that I am unable to replicate. I am running Databricks on AWS with v8.4 and the above works for me:
![image](https://user-images.githubusercontent.com/9903066/142687104-2dcb8d64-0aee-432d-b7a6-f5a5f780714d.png)

[2021-11-19 20:52] cdkini commented on #3660
Hey @nateGarcia! Would you mind trying out the steps you listed above after pulling the latest changes from `develop`? We've added a hotfix to resolve a similar issue so I want to see if that covers us here as well.

[2021-11-19 20:57] cdkini commented on #3648
@olemara would you mind proving me with the full script you're using? I want to ensure the issue here is on the GE side of things since writing a DataFrame to disk is not necessarily a GE-specific feature

[2021-11-19 21:03] cdkini commented on #3655
Hey @alssau! Thanks for opening this and providing all this context around the issue.

Would this be something you might potentially be interested in working on? You seem to have a lot of the requisite understanding of the issue at hand so any help here would be greatly appreciated. If not, no worries! We can review and determine the next steps forward.

[2021-11-20 11:10] alex-hsp commented on #3367
We are hosted on AWS
![Снимок](https://user-images.githubusercontent.com/58466078/142724095-6c935d7c-b891-47bc-a92b-2aa5da6e4308.JPG)
.

[2021-11-21 22:38] xaraujo commented on #3685
Hi All,

Any update on that?

With Best Regards
Xavier

[2021-11-22 02:39] gabwon9 commented on #3705
@cdkini I added script examples in description above. Please check **Test Script Examples**. Thank you.

[2021-11-22 06:27] sdandey opened #3716 "capture unexpected _index_list for pyspark dataframe"
Hi,

I'm a newbie and working on ge with pyspark engine.  I'm evaluating this product for our possible data-quality checks adoption.  One of our requirement for our product is to capture/tag data with meta-data that has failed the expectations.  The similar functionality can be achieved used the unexpected_index_list.

When I tried running the following code the results for unexpected_index_list i

[2021-11-22 06:48] ghost opened #3717 "Invalid IPv6 URL error if password component of sqlalchemy string contains unmatched square brackets ('[' or ']') when running great_expectations init"
**Describe the bug**
I am trying to initialise `great_expectations` by running ` great_expectations init`.
I am using an sqlalchemy connection string to connect to a MS SQL Server database.
I have verified that the connection string works when used directly in `sqlalchemy`.

After confirming that I would like to "profile new Expectations for a single data asset within your new Datasource", I get t

[2021-11-22 12:43] akv-akv commented on #2516
I faced the same issue and check several ways to solve it. Unfortunately SQL Server doesn't support writing results of stored procedure into a temporary table with a "into {table_name} from" syntax. I came to conclusion that the optimal option is to:
1. Write data into a normal table inside the stored procedure code
2. Run stored procedure
3. Read data from recently created table
4. Drop recently

[2021-11-22 13:37] cdkini commented on #3685
Hey @xaraujo! This is on our radar but I'm still working to add the functionality you're looking for. Is this something you might be interested in contributing?

[2021-11-22 13:44] cdkini commented on #3649
Hey @mpalfi! I believe the issue here is an existing bug we have around data asset naming in v3.  Currently, v3 doesn’t support `schema_name.table_name` in config. Instead, please use `schema name` and `batch_spec_passthrough` as a workaround.

[code]

Here's a similar issue that might provide more context: https://github.com/great-expectations/great_expectations/issues/2936

[2021-11-22 15:55] dsehnbru opened #3720 "CLI Commands extremely slow after creation of Teradata datasource"
**Describe the bug**
After creating a teradata datasource all CLI commands are extremly slow.
(reminds me of https://github.com/great-expectations/great_expectations/issues/3577, that one seems to have been solved though)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a datasource to Teradata DB (the creation process already takes a quite long time)
2. Any CLI command (like great_exp

[2021-11-22 16:07] talagluck commented on #3690
Hi @amybachir - thank you for the follow-up and description of your work-around, the context is really helpful. After some internal conversation, it sounds like ADLS Passthrough is probably not something we'll be able to prioritize immediately. That said, we are adding it to our backlog, and of course, we always welcome community contributions in case you, or anyone else, are interested!

[2021-11-22 16:12] talagluck commented on #2828
Thanks for answering this, @bpovea! I'm going to close this for now.

[2021-11-22 16:12] #2828 closed, assigned to nobody

[2021-11-22 16:16] talagluck commented on #3652
Thank you for opening this, @jhanlonhg! This is a known issue, and is the reason why we still use `SimpleSqlAlchemyDatasource`. We do have plans to make this work with the `Datasource` class, so I will keep this open for reference.

[2021-11-22 17:00] cdkini commented on #3705
@GabwonPark if you actually look in the bucket, are the doc sites being rewritten each time? How about the validation results?

Could you provide your configs for your stores (expectations, validations, and checkpoints)?

Just looking for some additional context so we can narrow down the issue!

[2021-11-22 17:15] talagluck commented on #2773
Hi @PadenZach - apologies for delays! I know we've done some work in this area recently. Would you please confirm whether this is still an issue for you?

[2021-11-22 17:29] talagluck commented on #3500
Hi @halcolo - apologies for delays. I believe the issue here is a mismatch between V2 and V3. You are using a V2 style Datasource, and so when you run `suite new` with the `--v3-api` flag, it will throw an error. I would recommend adding a V3 style Datasource instead.

I'm going to close this for now, but please let us know if you have any follow-ups.

[2021-11-22 17:29] #3500 closed, assigned to nobody

[2021-11-22 19:23] cdkini commented on #3717
This is a great catch @davidwales! I've gone through the results you've grepped for and have changed the ones I feel are relevant to SQLAlchemy (aka ignored the S3-specific parsing).

I believe merging the PR I've linked above should do the job. I'll be closing this issue down once that is in the codebase.

[2021-11-22 19:59] austiezr commented on #3180
@kuhnen Still digging in on this; are you able to share the snippet of code where you first define this expectation?

[2021-11-22 21:52] ghost commented on #3717
Thank you! By the way, do you know of an easy way to enable tracebacks on error? I tried the `-v` flag, but it didn't want to show me the traceback, so I had to mess around with `pdb` to find the cause of the issue.

[2021-11-22 22:03] cdkini commented on #3717
It's merged! Let me know if your issue is resolved.

In regards to tracebacks, we don't have a particular flag to make those more apparent. `-v` might provide some additional detail but errors usually show up when invoking the actual GE library in code.

If you think this is something we should work on, please make an issue and we can add it to the docket.

[2021-11-22 22:21] ghost commented on #3717
**EDIT**: Sorry, this was my mistake. I forgot to install `sqlalchemy` in the new venv.

~~Just tested the fresh version from `develop`. Mysteriously, it's giving me a traceback now!~~

[2021-11-22 22:36] ghost commented on #3717
I can confirm that the issue is fixed! Thank you!

[2021-11-22 22:36] #3717 closed, assigned to nobody

[2021-11-22 23:05] gabwon9 commented on #3705
@cdkini I updated great_expectaion.yml at 'Test Script Examples' in description. Is it enough ?
The doc sites is rewritten each time.
Validation results for current execution result are only maintained. In other words, old validation results is removed.
I followed the guide below for v3 api.
https://legacy.docs.greatexpectations.io/en/stable/guides/how_to_guides/configuring_data_docs/how_to_host_a

[2021-11-22 23:50] ghost opened #3725 "Add a debug mode to the cli which displays tracebacks on error"
**Is your feature request related to a problem? Please describe.**

While trying to find the cause of issue #3717, I was significantly slowed in my investigation because the cli tool suppresses tracebacks.
I tried the verbose flag `-v`, but this didn't allow the traceback to appear.
Instead, I had to mess around in the `pdb` debugger with breakpoints until I found a function I could call using `in

[2021-11-23 01:46] tdstark commented on #3417
I appear to be having a similar error using MacOS, GE version `0.13.42`, python `3.6.9`, also using Redshift. In my case though, I'm trying to create and test a checkpoint, which invokes `get_validator()`. @redreckless did you find a solution?

[2021-11-23 02:51] nf-jimmysu opened #3726 "Expect_column_values_to_be_unique failed on files without header"
**Describe the bug**
Create Expect_column_values_to_be_unique rule on file without header Failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Use UserConfigurableProfiler to automatic create expectations on files without header
2. Set UserConfigurableProfiler attribute primary_or_compound_key to [ _c0 ]
3. See error
[code]
**Expected behavior**
Create expectations according to the files

[2021-11-23 06:53] austiezr commented on #3180
@kuhnen We've identified and rectified some unexpected / unwanted behavior around quantile_ranges for this expectation in cases where quantile_ranges were specified not in a min/max order; see #3724. Can you specify your environment for me, and verify that your quantile_ranges adhere to a min/max order?

[2021-11-23 07:58] rafaelkrysciak commented on #3720
I figured out that the slowness comes from the introspection of the database done in inferred_asset_sql_data_connector.py. When the database has hundreds of schemas, it can take quite a long time. There is a way to limit the inspection to specific schemas, but I could not figure out how. Maybe some chapter in the documentation could be added.

[2021-11-23 09:48] rafaelkrysciak commented on #3720
When the schemas for the introspection can't be limited, it might be because of issue #3652 `InferredAssetSqlDataConnector` does not respect passed `introspection_directives`.

[2021-11-23 11:12] rafaelkrysciak opened #3730 "Teradata support: Temporary tables can't be created in SqlAlchemyBatchData"
**Describe the bug**
When using a Teradata connector, Temporary tables can't be created.
Error: `OperationalError: [Version 17.10.0.2] [Session 18642302] [Teradata Database] [Error 3707] Syntax error, expected something like a 'METHOD' keyword between the 'CREATE' keyword and the 'TEMPORARY' keyword.`

Looking at the stack trace the error is thrown when calling `SqlAlchemyBatchData:_create_tempora

[2021-11-23 11:46] imamolp commented on #3730
@rafaelkrysciak Thank you for pointing this out. I will raise PR for this.

[2021-11-23 13:04] DemchenV opened #3732 "Building an index page for data docs takes too much time."
**Is your feature request related to a problem? Please describe.**
I have a bunch of expectation suites (40 and the number is growing) which are run every day. And one full run takes near 10 hours. I investigated why it takes so much time and realised that the longest part is the generation of index page for each of the expectation suite. Because I have a lot of data docs created earlier, and ever

[2021-11-23 13:04] cdkini commented on #3649
As this is a duplicate of the issue I've noted above, I'm going to close down this issue. Hope the workaround helps for now! We've got a full fix in the works for the future.

[2021-11-23 13:04] #3649 closed, assigned to nobody

[2021-11-23 14:12] cdkini commented on #3732
Hey @DemchenV! Thanks for posting this. Let me bring this up with the team to determine next steps.

[2021-11-23 14:13] cdkini commented on #3730
Hey @rafaelkrysciak! Thanks for bringing this up. Let me confer with the team and review @imamolp's PR to determine next steps.

[2021-11-23 14:39] NathanFarmer commented on #3551
Hi @liianghuang @hec10r @piedpipperer! This issue will be resolved by one of the following PRs:
- #3680
- #3713
- #3718
- #3723

The fix will be included as part of GE release 0.13.44 later this week.

[2021-11-23 14:39] #3551 closed, assigned to nobody

[2021-11-23 14:39] NathanFarmer commented on #3473
Hi @tnorlund-dsc @piedpipperer! This issue will be resolved by one of the following PRs:
- #3680
- #3713
- #3718
- #3723

The fix will be included as part of GE release 0.13.44 later this week.

[2021-11-23 14:39] #3473 closed, assigned to nobody

[2021-11-23 14:39] NathanFarmer commented on #3593
Hi @guidoturtu! This issue will be resolved by one of the following PRs:
- #3680
- #3713
- #3718
- #3723

The fix will be included as part of GE release 0.13.44 later this week.

[2021-11-23 14:39] #3593 closed, assigned to nobody

[2021-11-23 15:14] cdkini commented on #3230
@lboudard the PR linked above should cover the nesting portion of this issue. Our team has a few evaluation parameter matters to consider so we're going to confer internally and determine the best approach forward.

[2021-11-23 16:20] cwerner commented on #3716
I think I have the same problem using a PostgreSQL table as a data source. I plan on identifying individual data rows that trigger an exception for QC but currently I'm always returned `null` for `unexpected_index_list` which currently is a total showstopper for my use case.
Same for the `partial_unexpected_index_list` though I don't need that one. I do see values in the `partial_unexpected_list`

[2021-11-23 16:55] cdkini commented on #3732
@DemchenV would you mind taking a look at the PR I've written? If you install the changes on that branch with `pip install -e .` and run `great_expectations --v3-api docs build --no-index`, you should be able to see if the new flag I've written speeds up the process.

It might need some refining (in the process of writing more tests) but I'm hoping it's a step in the right direction.

[2021-11-23 17:02] abekfenn commented on #3658
Hi @talagluck thanks so much for your response. This worked for me but then I encountered a bug which was recently resolved for V3 [3225](https://github.com/great-expectations/great_expectations/issues/3225). I've tried to switch my code over to V3 but keep encountering an error and cannot find any documentation on in-code expectations using V3 checkpoints and data docs.

If you could point out th

[2021-11-23 17:08] abekfenn commented on #3658
Error message:
[code]

[2021-11-23 17:21] cwerner opened #3736 "Result_format "COMPLETE" does return "unexpected_index_list": null"
Hi. I try to run a validation on a PostgreSQL table that I also process with a query statement and want to obtain the index of rows that fail the expectation.

I'm using a `RuntimeBatchRequest` and want to inspected the result object via `unexpected_index_list` and then flag the row in the database with a QC label. I'm not sure what's going on?

Steps to reproduce the behaviour:

This is my code:

[2021-11-23 17:43] #3426 closed, assigned to nobody

[2021-11-23 18:42] kuhnen commented on #3180
@austiezr this is the json , does it help?
[code]

[2021-11-23 18:47] kuhnen commented on #3180
and here the validation:
[code]

[2021-11-23 19:20] austiezr commented on #3180
Hey @kuhnen!

Thanks for getting back with this; I see what's going on here now. Your first value range `[-71.53999999999999, -72.42]` is reversed in order -- Max / Min instead of Min / Max, which leads to them showing out of order in the data docs as well as evaluating `false` in cases where they should succeed. We previously weren't enforcing ordered behavior here, but have now implemented a che

[2021-11-23 19:24] austiezr commented on #3201
Hey @vaidehid1305! As Athena isn't an officially supported backend and I'm unable to reproduce this behavior as described, I'm closing this for now. If you feel differently, or are able to provide further context, please do so!

[2021-11-23 19:24] #3201 closed, assigned to nobody

[2021-11-23 19:34] talagluck commented on #3658
Hi @abekfenn - at first glance, I don't see anything obviously incorrect. What line is triggering the error? Is it the `checkpoint.run()` call?

Are you able to save the checkpoint, and then call `context.run_checkpoint(checkpoint_name)`?

[2021-11-23 20:47] abekfenn commented on #3658
Correct `results = checkpoint.run()` is triggering the error.
However, I noticed that when I leave context pointing to my root directory, I get no error.
When I update
`ge_abs_path = os.getcwd() + '/shared/validate/great_expectations'`
I get an error. Ideally, I would like to store validations etc. in a different sub-folder than my root directory. But this seems to be causing an issue even when I

[2021-11-24 03:39] sdandey commented on #3716
I would prefer an approach of appending data quality tags on original data frame or spit the bad records into a different location. This would provide more to the point debugging for our product users to correct and re-upload the data

[2021-11-24 08:22] kuhnen commented on #3180
@austiezr thanks for the answer.  The only problem that I have is that we are creating these expectations using the profiler.
Do you have anything in mind about how to fix this?  Thanks a lot for the quick reply.

[2021-11-24 09:41] xaraujo opened #3741 "Argo Workflow Integration"
**Is your feature request related to a problem? Please describe.**
Hi All, the request is not any problem. its just a new feature about the integration of GE with Argo as you have with Airflow and Flyte

It was mentioned in the discussion board a year ago, https://discuss.greatexpectations.io/t/can-i-use-great-expectations-in-an-argo-pipeline/515

This workflow manager is becoming more and more po

[2021-11-24 11:59] AntoineRondelet opened #3742 "Erroneous null value in generated edit_* notebook"
**Describe the bug**
A clear and concise description of what the bug is.

After generating a first set of expectation from one of my dataset using
[code]
and selecting option `3` to create the expectation suite automatically with the profiler, I then decided to refine the expectation suite.
To do this, I ran:
[code]
I first selected the interactive mode to do a round of modifications. I then used

[2021-11-24 12:05] AntoineRondelet commented on #3742
Note: I quickly checked this behavior against the tutorial (https://docs.greatexpectations.io/docs/tutorials/getting_started/intro) and the notebook `edit_getting_started_expectation_suite_taxi.demo` generated when running:
[code]
also contains a `null` value for the `"ge_cloud_id"` key in the dictionary passed as input to `ExpectationConfiguration` causing the error mentioned above.

[2021-11-24 12:10] DemchenV commented on #3732
@cdkini I installed version from your branch and tested it in my local repo. I used this command:
`great_expectations --v3-api docs build -v --site-name test_site --no-index`
where test_site it's my test site in local repo.
As I understand, this command rendered new data docs for all validations, old and new?

I can't test this on my prod data, because we have some custom tool for running GE check

[2021-11-24 12:19] DemchenV commented on #3732
And also I am sharing more info about why I think that the problem in building an index page. This is a part of logs from prod running:
2021-11-24T13:23:36.617+02:00 | 2021-11-24 11:23:36,575 EXO.exo.main - INFO: DefaultSiteIndexBuilder.build
2021-11-24T14:02:42.864+02:00 | 2021-11-24 12:02:42,839 EXO.exo.main - INFO: Found 2 data_docs_sites.
2021-11-24T14:02:43.235+02:00 | 2021-11-24 12:02:43,207

[2021-11-24 14:24] talagluck commented on #3616
Hi @HansBambel - thanks again for raising this! We are currently in the process of re-tooling both the functionality and the documentation for this feature. I have confirmed that at this stage, `validator.remove_expectation` is the way to go, despite the DeprecationWarning.

[2021-11-24 14:47] talagluck commented on #3658
Hi @abekfenn - on second glance, it appears that you haven't configured a Store in the config you're using, as this appears to be commented out, though it's hard to tell exactly.

Have you seen our docs on [configuring a DataContext without a .yml file](https://docs.greatexpectations.io/docs/guides/setup/configuring_data_contexts/how_to_instantiate_a_data_context_without_a_yml_file)? I suspect thi

[2021-11-24 16:28] #3730 closed, assigned to nobody

[2021-11-24 16:29] cdkini commented on #3730
@imamolp's PR is in! Let me know if anything else pops up 😄

[2021-11-24 16:39] cdkini commented on #3720
Hey @dsehnbru! Thanks so much for opening up this issue. Would you mind providing your configuration (omitting any sensitive details)? I'll investigate the situation and also look into @rafaelkrysciak's suggestion here.

Please note that Teradata is not actively supported but I'll try my best to diagnose the issue at hand.

[2021-11-24 16:44] cdkini commented on #3725
Hey @davidwales! Appreciate you opening this up after our last conversation.

After discussing the matter internally, I think we're not prioritizing a flag of this nature. We try to keep the CLI as a higher level abstraction; if users want to debug or get deeply involved in the code, I think the recommend approach is actually using the underlying library.

Please let me know if you have any though

[2021-11-24 16:44] #3725 closed, assigned to nobody

[2021-11-24 16:48] cdkini commented on #3726
Hey @nf-jimmysu! Thanks for opening up this issue.

Would you mind providing us with a few pertinent details:
- Which tutorial/doc are you following?
- Are you able to instantiate a validator?
- Could you please provide your configuration (what backend are you using)?

We'll take those details and try to narrow down the issue at hand. Thanks!

[2021-11-24 16:55] cdkini commented on #3736
Hey @cwerner! Thanks for opening up this issue. We'll take this information and review internally. Appreciate your patience!

[2021-11-24 16:56] austiezr commented on #2692
Hey @Patechoc! Thank you for raising this. I believe this has now been resolved by #3129; closing for now, please feel free to reopen if this issue isn't resolved for you by #3129.

[2021-11-24 16:56] #2692 closed, assigned to nobody

[2021-11-24 17:00] cdkini commented on #3741
Hey @xaraujo! Thanks for opening up this issue.

This seems like a great integration we'd love to have as part of our ecosystem but I'm afraid we don't currently have the bandwidth to devote engineering resources here. If this is something you would be interesting in contributing, we'd love to discuss it more and we would happily review any incoming PRs. Thanks!

[2021-11-24 17:00] roboverall opened #3746 "Basic Dataset Profiler not working with Validator"
**Describe the bug**

BasicDatasetProfiler errors when the data_asset provided is of type ***Validator***.

`AttributeError: 'Validator'  object has no attribute 'get_table_columns'`

If I provide my in-memory spark dataframe as a ***Dataset*** it works as expected.

However, in the source code the logic allows either a ***Dataset** or ***Validator*** to be passed.

`@classmethod
    def validate(

[2021-11-24 17:05] cdkini commented on #3746
Hey @roboverall! Thanks for opening up this issue.

Please note that the profiler you're using is specific to v2. We'd recommend looking into `UserConfigurableProfiler` or our Rule-Based Profiler if you'd like to achieve this functionality with v3. This should be achievable through the CLI.

I'm going to close this issue but please let us know if you run into any issues (check out #support in our

[2021-11-24 17:05] #3746 closed, assigned to nobody

[2021-11-24 17:07] cdkini commented on #3742
Hey @AntoineRondelet! Thanks for bringing up this issue.

We'll review the information you've provided above and confer internally before determining next steps. Appreciate your patience!

[2021-11-24 17:25] dsehnbru commented on #3720
Hi Chetan, thanks for getting back to me.

[2021-11-24 17:30] dsehnbru commented on #3720
In the datasource Section of the config file I defined the ds like that.

teradata:
    execution_engine:
      connection_string: teradatasql://<username>:<password>@<servername>
      class_name: SqlAlchemyExecutionEngine
      module_name: great_expectations.execution_engine
    class_name: Datasource
    data_connectors:
      default_runtime_data_connector_name:
        class_name: RuntimeDat

[2021-11-24 17:32] dsehnbru commented on #3720
with the brackets I used it obivously doesn't work, so here we go again

teradata:
    execution_engine:
      connection_string: teradatasql://username:password@servername
      class_name: SqlAlchemyExecutionEngine
      module_name: great_expectations.execution_engine
    class_name: Datasource
    data_connectors:
      default_runtime_data_connector_name:
        class_name: RuntimeDataConnec

[2021-11-24 17:35] dsehnbru commented on #3720
Workaround would be to set the variable schema to the schema you are working on in line 215 of great_expectations/datasource/data_connector/inferred_asset_sql_data_connector.py

[2021-11-24 17:53] austiezr commented on #3180
Hey @kuhnen! Which profiler are you using?

[2021-11-24 18:06] HansBambel commented on #3616
Great, thanks for the update!

[2021-11-24 18:30] abekfenn commented on #3658
@talagluck thanks for getting back to me, I was trying different approaches to get it work using an in-memory DataContext vs a yml based config.

Am I not instantiating the context in-code with the following line?
[code]
I've deleted/commented out the following lines and I still get the IndexError processing the tuple.
[code]

In any case, there appears to be an amalgamation of issues that mean I

[2021-11-24 19:04] abekfenn commented on #3736
@cwerner see https://discuss.greatexpectations.io/t/can-great-expectations-separate-sql-database-records-that-fail-tests-from-my-good-data/640 and https://github.com/great-expectations/great_expectations/issues/3195
TL;DR This is an open feature request but there are workarounds that may work for your use case. In my case, the workaround mentioned would not work as there may be a value for row_con

[2021-11-24 19:53] roboverall commented on #3746
Thanks for the response @cdkini

I wasn't aware this was specific to v2 so thanks for confirming.

I am trying to build a profiling results page that looks like the example in the documentation on **Data Discovery**.

https://docs.greatexpectations.io/docs/reference/data_discovery

I have since tried using the UserConfigurableProfiler to build this page but it doesn't quite render as per the Basic

[2021-11-24 20:22] cdkini commented on #3746
Ah unfortunately a 1-to-1 port of this functionality is not present in v3. We're not bringing this profiler to v3 but will be doing more work on profiling and metrics in the coming year to enable a better version of this functionality.

The actual contents of the validations page should be consistent but the overall layout is changed. Apologies if that causes any issues!

[2021-11-24 20:29] roboverall commented on #3746
That's a shame but excited to see what is released in the coming year on this. Thanks for your support!

[2021-11-24 20:53] talagluck commented on #3658
Hi @abekfenn - apologies, there's a bunch to work through here, so thanks for bearing with us!

First - yes you are right, it appears that you are correctly instantiating a DataContext in code. Is the directory that you are pointing to an initialized Great Expectations project? Are you able to share your Stores config from the great_expectations.yml for that project?

For your discoveries above:
1

[2021-11-24 20:57] talagluck commented on #3658
Apologies as well - we've had a few different issues pertaining to `result_format` at the same time, and I think the `unexpected_index_list` issue might have gotten buried in a thread for another, separate but related, issue. But also, our tests for this are passing, so I'm wondering if this piece might just be a configuration issue, and I'm trying to understand where that is coming from.

[2021-11-24 21:44] Rachel-Reverie commented on #3663
Hi @discdiver!  [PR #3745](https://github.com/great-expectations/great_expectations/pull/3745) and PR #3750 address the original issue you raised, and [PR #3747](https://github.com/great-expectations/great_expectations/pull/3747) addresses the issue in your later comment, so I'm going to close this issue for now.  Thank you for bringing these items to our attention!

[2021-11-24 21:44] #3663 closed, assigned to nobody

[2021-11-24 21:49] Rachel-Reverie commented on #3456
Given PR #3734 this issue is no longer relevant to the most up to date documentation, so I am going to close it for now.  However, thank you @halcolo for bringing it to our attention so that we could update the V3 documentation to reflect the current best practices!

[2021-11-24 21:49] #3456 closed, assigned to nobody

[2021-11-24 22:04] abekfenn commented on #3658
Apologies that this issue/ticket has ballooned in scope but thank you for helping me work through it.

I hope to see #3736 in the upcoming release and that it will solve these issues with respect to unexpected_index_list being None. Between that and #3634 I think my issue could be solved but I have yet to be able to test this and have to get GE released internally.

### Answering your responses
Wi

[2021-11-24 22:06] ghost commented on #3725
Thanks @cdkini. I can understand that you want the CLI to be an 'end user' product. I don't expect to see tracebacks from consumer focussed GUI products, etc.

On the other hand, I like to provide high quality bug reports to projects when I encounter issues.

For me, it was not obvious how to go from the error message provided 'Invalid IPV6 URL' to a meaningful bug report.
I suspected that the err

[2021-11-24 22:13] cdkini commented on #3725
The thoroughness is very much appreciated 🙇🏽

Your point about being more clear in the bug report template is something we'll definitely take into consideration. I'll bring this up internally to determine how best to move forward. We're always working to bolster our documentation so any feedback is appreciated and recognized!

The team will be out for the holiday but I'll highlight this for our ne

[2021-11-25 05:43] imamolp commented on #3730
Sure! Thanks @cdkini for quick review and merge!

[2021-11-25 06:48] kuhnen commented on #3180
hey @austiezr  we are using
[code]
and I just did run the latest version 0.13.44 and I still have the exact same issue.   Any idea how I could help?  But I believe the issue is on the profiler and the validation is not being checked if it is in order.
Thanks a lot for your work 👍

[2021-11-25 07:38] rafaelkrysciak commented on #3730
I can confirm, It is working now. Thank you very much for your very quick response. 🙏

[2021-11-25 09:02] gabwon9 commented on #3705
@cdkini Is there any update ? or do you need any other data ?

[2021-11-25 14:45] madalinastanciu commented on #929
Hello,
I am having a similar issue in a project but when using SQLAlchemy.
 When I try to see the `partial_unexpected_index_list` I get a null value.
The examples shown here https://docs.greatexpectations.io/docs/reference/expectations/result_format/ work only if the input is a Pandas Dataframe. Is there an implementation for SQLAlchemy or other integrations?

[2021-11-25 21:08] cdkini commented on #3705
Hey @GabwonPark! Apologies for the delayed response.

Our team is still reviewing the details you've provided. I believe this should be sufficient but I'll let you know if we need anything else when debugging the issue. Please note that our team is out for the remainder of the week so we'll address this early next week.

Thanks!

[2021-11-26 03:51] gabwon9 commented on #3705
@cdkini  Thank you for your reply!

[2021-11-26 08:27] dsehnbru opened #3751 "Unknown datatypes INT and Varchar when creating expectation suites or checkpoints accessing Teradata tables"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a datasource accessing a Teradata DB
2. Create an expectation suite accessing a table of the Teradata DB created in step 1 bases on the profiler via the CLI. (the same happens when you create expectations for int and varchar columns manually and run a checkpoint aga

[2021-11-26 08:30] dsehnbru commented on #3751
Describe the bug:

when creating expectation suites or checkpoints accessing Teradata tables GE will not recognize Int and Varchar data types

[2021-11-26 09:39] frantakalab commented on #3623
I support the issue that @samLozier is describing, it gets even more complicated when there are multiple schemas in the db, since the list does not contain which schema the first 50 listed tables come from (another issue: https://github.com/great-expectations/great_expectations/issues/3528)

[2021-11-26 20:08] talagluck commented on #3658
Hi @abekfenn - thanks for this.

Regarding your script, thank you, this clears things up. I agree that evaluation parameters may simplify things quite a bit. In general, we think about the ExpectationSuite as the source of truth, so that we clearly lay out Expectations about our data, and then validate those Expectations - adding them anew each time to the suite is somewhat counter to this, though

[2021-11-26 20:14] talagluck commented on #3658
And thank you! Hope you are having a great Thanksgiving weekend.

[2021-11-26 20:49] abekfenn commented on #3658
Thanks again for your response @talagluck. I was thinking of the code that runs my expectations (`batch.expect_x_to_meet_x`) as the source of truth as that is going into source control, but I understand this runs counter to the intended function and look forward to trying out evaluation parameters and simplifying my implementation of GE and reducing my runtime 3-fold :smile:

Yes, you are right, I

[2021-11-27 02:55] eggtart-destroyer opened #3753 "Email Notification in V3"
**Describe the bug**
Hi! I was following the How to trigger Email as a Validation Action part on the documentation. After adding the validation_operators part into the yml file and running checkpoint, it returns `You appear to be using a legacy capability with the latest config version (3.0).` No email was sent. It seems like validation operators will not work in the checkpoint? If this is the cas

[2021-11-27 07:06] eggtart-destroyer commented on #3753
If anyone's wondering about the same issue, I put the `send_email_on_validation_result` code under action-list part of the checkpoint yml file and it now works. Cheers!

[2021-11-27 07:06] #3753 closed, assigned to nobody

[2021-11-29 02:21] nf-jimmysu commented on #3726
Hi @cdkini ! Thanks for your reply.
1. I'm following the tutorial of ge_tutorials with data yellow_tripdata_sample_2019-01.csv & yellow_tripdata_sample_2019-02.csv. I load this files to create files without header.
2. I am able to create validator with header and also without header (if I don't add primary_key when I create it)
3. I'm using ubuntu 20.04, great-expecatation 0.13.40 & pyspark 3.2.0

[2021-11-29 15:29] nateGarcia commented on #3660
Hi there @cdkini! I was finally able to test using the latest `develop` changes `143a551`, and found that the same exact error occurs. I believe the bug I am experiencing is isolated from the fix you have made. Please let me know if there is anything else I can do

[2021-11-29 15:57] DemchenV commented on #3732
Had some thoughts about a possible solution.
`docs build` rebuild all data docs, is it possible to create a command `docs update`, similar to UpdateDataDocsAction in validation action list?
And if this command would be able to create data docs only for new validations? And has some parameters for incremental updating of an index page. It would be great and could solve my issue.

[2021-11-29 16:06] mrkoloev opened #3754 "Cannot create new suite: Error while processing DataContextConfig: concurrency"
**Describe the bug**
I cannot create new suite after creating the new datasource
_Error while processing DataContextConfig_ occurs

**To Reproduce**
Steps to reproduce the behavior:
1. CLI: `great expectation v3-api datasource new`  => Y
2. CLI: `great expectation --v3-api datasource new` =>  (2). Relational database (SQL) => (6). others
3. Jupyter notebook: I entered datasource name, connection_s

[2021-11-29 16:45] austiezr commented on #3657
Hey @c-bpovea! It looks like this should be resolved by #3719; if you feel this isn't true, feel free to re-open and address.

[2021-11-29 16:45] #3657 closed, assigned to nobody

[2021-11-29 16:48] austiezr commented on #3751
Hey @dsehnbru! Thank you for raising this; we will review internally.

[2021-11-29 17:00] austiezr commented on #3754
Hey @mrkoloev! Thanks for raising this; we'll begin to review internally. In the meantime, would you be able to share your `great_expectations.yml` (scrubbed of any sensitive info!) here? That would help us better diagnose what may be happening.

[2021-11-29 17:02] austiezr commented on #3753
Hey @eggtart-destroyer! Thanks for raising & closing; great to see you were able to resolve this!

[2021-11-29 18:04] mrkoloev commented on #3754
Hi @austiezr ! Here is my great_expectations.yml https://pastebin.com/hZHwQhZ8

[code]

[2021-11-29 20:08] jcomo-nv opened #3755 "v3 support for slack notifications"

[2021-11-29 22:12] Aylr opened #3757 "When adding a datasource CLI presents three duplicate warnings about `black`"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project in a new python environment with only GE installed with `great_expectations --v3-api init`
2. Add a datasource with `great_expectations --v3-api datasource new`
3. Choose `Pandas`
4. add path to data files
5. Observe three warnings about black

**Expec

[2021-11-29 22:15] Aylr commented on #3757
Note on other commands this error is shown more than three times.

This was seen in profiling a new suite.

[code]