[2021-03-23 19:48] gityow commented on #2551
@peterdhansen I tried the following

[code]
and I got the same cardinality error again and again for all my columns. Is there a difference between using this and the options you provided?
[code]

Hi @eugmandel , thanks for the response! Here is the error I get

[code]

For completeness, here is the batch init
[code]

[2021-03-23 20:38] xaniasd opened #2585 "Asset Name is not populated in Data Docs for SimpleSqlalchemy data source"
**Describe the bug**
When using a SimpleSqlalchemy data source, the Asset Name column is not populated in the Validations index of the data docs. SImilarly, the Data Asset entry in the corresponding Validation result is None.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a SimpleSqlalchemy datasource
[code]
2. Configure an expectation suite
3. Configure a SimpleCheckpoint
[code]

[2021-03-24 08:22] jtilly opened #2588 "Can we remove the numpy<1.2 pin?"
numpy was pinned to <1.2 as part of https://github.com/great-expectations/great_expectations/commit/f904313ab3c67f57c3bf7575296d4dd7b4b1db47. The commit message says that this was meant to get rid of deprecation warnings. Is there a plan to remove this pin at some point? Which deprecation warnings are causing the problems here?

[2021-03-24 10:25] tomas-sobotik commented on #2581
I have found the root cause. It behaves this way when you have data docs stored in S3 and validations stored locally and run it via GitHub action. When you have this way, you have only latest validations stored in github runner running your git hub action that's why you have only latest run available in data docs. I have found two ways how to solve it.

1. Store also validations on s3
2. Store val

[2021-03-24 12:05] scouvreur commented on #2268
@gardnerdev Could you provide a minimal dataset where you face this issue ? You can remove any PII or sensitive information as long as your sample produces the behaviour.

[2021-03-24 13:17] jarandaf commented on #2234
Hi, I am also facing this issue in `0.13.14`. Also for custom expectations with Spark dataframes: is there any required work other than inheriting `SparkDFDataset` and creating methods with the `MetaSparkDFDataset` decorators? The validation runs fine but it is displayed as below:

![Captura de pantalla 2021-03-24 a las 14 20 42](https://user-images.githubusercontent.com/2277398/112317341-3e27ee80

[2021-03-24 14:32] eugmandel commented on #2588
@jtilly We will triage today and respond.

[2021-03-24 14:35] eugmandel commented on #2585
@xaniasd Thank you for filing this detailed bug report, and following it up with a PR that fixes it! Our contributors community is amazing.

[2021-03-24 14:35] #2585 closed, assigned to nobody

[2021-03-24 14:43] eugmandel commented on #2578
@peterdhansen Thank you for posting the enhancement idea! We will respond shortly.

[2021-03-24 14:45] eugmandel commented on #2580
@jarandaf Good find! Can I ask you to create a PR with your suggested fix? Thank you!

[2021-03-24 14:46] eugmandel commented on #2582
@tomas-sobotik Thank you for reporting this - we will triage and respond shortly.

[2021-03-24 15:29] eugmandel commented on #2581
@tomas-sobotik Thank you for following up on the Slack conversation and posting this report here! Also, really appreciate finding how to make it work. I added the "workaround_exists" label to this issue.

[2021-03-24 16:45] eugmandel commented on #2578
@jcampbell I think having a short way of saying "all batches" makes sense. Does the existing syntax of partition_request support it?

[2021-03-24 16:49] eugmandel commented on #2577
@ZeMirella Thank you for filing this. We have not seen this error on Spark. I will keep this issue open, label it with "help wanted" and invite the community to chime in with more details and context.

[2021-03-24 23:09] NathanFarmer opened #2596 "Oracle data asset get_batch DatabaseError: (cx_Oracle.DatabaseError) ORA-14459: missing GLOBAL keyword"
**Describe the bug**
When attempting to load an Oracle table in the first cell of the pre-populated Jupyter Notebook after running `great_expectations suite new` I get the error:
[code]

**To Reproduce**
[code]
Ok that's weird but I heard profiling is experimental so what if I try this:

[code]
This opens a Jupyter Notebook with pre-populated code in first cell:
[code]
Then when I run this first c

[2021-03-25 14:10] Danissss opened #2597 "Can't run validation with context.run_validation_operator"
**Describe the bug**

Error in a.
[code]

Error in b.
[code]

**To Reproduce**
a. here is my yaml file
[code]
I am using following to do the validation
[code]
b. here is my changed yaml file
[code]
I am using following to do the validation
[code]

**Expected behavior**

**Environment (please complete the following information):**
 - Operating System: MacOS
 - Great Expectations Version: 0.13.14  p

[2021-03-25 15:14] jarandaf commented on #2580
I think this only appears in old pyspark versions (<2.4.7), see [here](https://github.com/apache/spark/pull/27376). I am not sure it is worth to be addressed.

[2021-03-25 15:55] #2561 closed, assigned to nobody

[2021-03-25 16:15] lukedyer-peak commented on #2552
@Shinnnyshinshin I'm getting this error also affecting great_expectations in general as not all the sqlalchemy imports work with >= `1.4.0`
https://github.com/great-expectations/great_expectations/blob/18234477693306e5e3845e69a1be78a85c639295/great_expectations/dataset/sqlalchemy_dataset.py#L42

I think the version should also be pinned in the user installation

[2021-03-25 16:15] lukedyer-peak commented on #2552
This won't show up in the tests as the SA tests pin the version by that PR.

[2021-03-25 16:20] lukedyer-peak opened #2599 "BUG with dependency: SQLAlchemy 1.4.0 for user installation"
**Describe the bug**

SQLAlchemy `>= 1.4.0` breaks the imports in
https://github.com/great-expectations/great_expectations/blob/18234477693306e5e3845e69a1be78a85c639295/great_expectations/dataset/sqlalchemy_dataset.py#L42

This isn't showing up in the tests since the tests [pin the version](https://github.com/great-expectations/great_expectations/pull/2547) from above whereas the user installation

[2021-03-25 16:57] Shinnnyshinshin commented on #2552
@lukedyer-peak you're absolutely right. Thank you so much for catching this. I'll approve #2600 which you just submitted.

[2021-03-25 16:57] #2599 closed, assigned to nobody

[2021-03-25 16:59] Shinnnyshinshin commented on #2552
Your change should be part of the upcoming GE 0.13.15 :)

[2021-03-26 04:33] eugmandel commented on #2597
@Danissss Thank you for reporting this. We will triage and respond.

[2021-03-26 13:04] BogdanCojocar opened #2606 "Getting QueuePool limit of size 5 overflow 10 reached, connection timed out, timeout 30 while running multiple Snowflake test suites"
**Describe the bug**
Unable to run multiple expectations on Snowflake. While running a checkpoint I get `QueuePool limit of size 5 overflow 10 reached, connection timed out, timeout 30`, and there is no clear way/documented way to send `pool_size` or ` config parameters to the SQLAlchemy engine.

**To Reproduce**
Steps to reproduce the behavior:
1. Create one datasource to Snowflake via the `SqlAl

[2021-03-26 16:02] henriquejsfj opened #2607 "AttributeError: 'SqlAlchemyDatasource' object has no attribute 'get_batch_list_from_batch_request'"
**Describe the bug**
Afaik `SqlAlchemyDatasource` seems to not be compatible with V3 API. I wasn't able to use it with BigQuery.

**To Reproduce**
1. Create a BigQuery Datasource
2. Try to run a checkpoint against it or to create new expectation doing `context.get_validator(batch_request=batch_request, expectation_suite=suite)`
4. See error: `AttributeError: 'SqlAlchemyDatasource' object has no at

[2021-03-26 19:58] henriquejsfj opened #2610 "SQLAlchemyDataset expect_column_values_to_be_between bug with Datetime"
**Describe the bug**
The expectation I am referring to is `expect_column_values_to_be_between`.
I am trying to use an evaluation parameter that is a `Datetime` along with SQLAlchemyDataset `TIMESTAMP`.
To set the parameter I am doing: `batch.set_evaluation_parameter("now", datetime.now())`
When I do something directly like `[...] min_value=datetime(ANY), max_value=datetime.now()` it is ok, everyth

[2021-03-27 17:35] NathanFarmer commented on #2596
I submitted PR [#2609](https://github.com/great-expectations/great_expectations/pull/2609) to address this issue.

[2021-03-29 17:58] eugmandel commented on #2607
@henriquejsfj You are right - SQLAlchemyDatasource is a class that belongs to V2 API. Please use this how-to guide to configure a V3 API Datasource for BigQuery: https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_datasources/how_to_configure_a_bigquery_datasource.html

[2021-03-29 17:58] #2607 closed, assigned to nobody

[2021-03-30 08:23] TkachevKonstantin commented on #2420
Hello guys!
Is there news regarding my problem?

[2021-03-30 10:28] dcoueron opened #2623 "Invalid object name 'tempdb.pdw.columns' creating expectations with Azure Synapse"
**Describe the bug**
I'm trying to make great_expectations work with Azure Synapse (formerly Azure SQL Datawarehouse) and it produces an error any time I try to scaffold default expectations or to create new ones in a notebook.

I did some research and it is apparently a known limitation of Synapse that you can't query system views on tempdb like tempdb.sys.columns.

**To Reproduce**
After creatin

[2021-03-31 03:41] hmandsager commented on #2623
I came across the same issue when building some suites for our data warehouse. This bug occurred from me when I tried to use the CLI or a sub-query but I was able to successfully profile tables when I included the entire table. I ended up profiling against our daily staging tables as they mimic the fact table structure but with a manageable subset of data. If that's not an option you can CTAS a su

[2021-03-31 04:13] hmandsager opened #2631 "Arithmetic Overflow Profiling bigint MSSQL Column"
**Describe the bug**
Attempting to profile a column that has a bigint in MSSQL and receive an arithmetic overflow.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Ran code below in jupyter notebook
[code]

**Expected behavior**
At a minimum I would expect this to be handled and just skip past this attempt. Could a `try/catch` be placed here for a `pyodbc.DataError`? Could a simple so

[2021-03-31 11:45] dcoueron commented on #2623
Hi @hmandsager ,

Thanks for the reply. I tried your code and received an error on `context.get_batch` :
[code]

Did you get something like that as well ?
Were you using Azure Synapse SQL Pool ?

[2021-03-31 16:25] hmandsager commented on #2623
I'm running Azure Synapse SQL Pool but I have not seen that error. Is there more information in the stack trace? I couldn't find any references to `ident_seed` in GE.

[2021-03-31 22:37] henriquejsfj opened #2634 "BigQuery type 'RECORD' being recognized as 'ARRAY'"
**Describe the bug**
The BigQuery 'RECORD' type is being recognized as 'ARRAY'. Also, a column that is REPEATED is recognized as 'ARRAY'. The problem is that 'ARRAY' seems to not exist in pybigquery. For example, when I do something like:
[code]
I get: `AttributeError: module 'pybigquery.sqlalchemy_bigquery' has no attribute 'ARRAY'`

When I try:
[code]
I get:
[code]

**To Reproduce**
Steps to rep

[2021-04-01 20:55] peterdhansen opened #2638 "For MSSQL dialect, column_reflection_fallback returns columns for all tables"
In the function `great_expectations.expectations.metrics.util.column_reflection_fallback` when the dialect is mssql the [query ](https://github.com/great-expectations/great_expectations/blob/ebe73bf784a2fc3e20aea6d5aedde6ce872fa00b/great_expectations/expectations/metrics/util.py#L249) to find column metadata finds all columns from the database

[code]

which can be fixed by adding

`WHERE tab.name

[2021-04-02 16:43] NathanFarmer opened #2643 "[FEATURE] Value set expectations to display set difference in Expectation column of Data Docs in addition to expected value set"
**Problem**
Some of my stakeholders will only be using visual inspection in the Data Docs. For expectations `expect_column_values_to_be_in_set` and `expect_column_values_to_not_be_in_set`, it becomes difficult to identify the issues with a failed test once the expected value set gets to be longer than a few values. For example, I currently expect the country codes in a certain field to be in a set

[2021-04-02 20:27] lyra-victor opened #2646 "expect_column_values_to_be_in_set only works when values_set is list"
**Describe the bug**
A clear and concise description of what the bug is.

I create a validator and some expectations on some data. I then save the expectations and noticed that `value_set` is `null`  in my `expecations/suite.json` for the expectation `expect_column_values_to_be_in_set`. The reason is in the `"exception_message": "Object of type set is not JSON serializable"`. If I change the `valu

[2021-04-02 20:43] lyra-victor opened #2647 "batch_request passed in to SimpleCheckpoint errors"
**Describe the bug**
When creating a `SimpleCheckpoint` and passing in a `batch_request: BatchRequest`, it seems to treat the `batch_request` as a dictionary instead of a `BatchRequest` and errors out `AttributeError: 'BatchRequest' object has no attribute 'items'` [here](https://github.com/great-expectations/great_expectations/blob/0.13.17/great_expectations/core/util.py#L71)

**To Reproduce**
St

[2021-04-03 16:40] calderonjesus opened #2650 "SQLAlchemy v. 1.4 changes RowProxy to Row and makes ge.dataset.sqlalchemy_dataset fail to load sa"
**Describe the bug**
In SQLAlchemy's update to version 1.4 [renamed the class RowProxy to Row and the Row class is no longer a Proxy](https://docs.sqlalchemy.org/en/14/changelog/migration_14.html#rowproxy-is-no-longer-a-proxy-is-now-called-row-and-behaves-like-an-enhanced-named-tuple). This affects Great Expectation's [`ge.dataset.sqlachemy_dataset`](https://github.com/great-expectations/great_exp

[2021-04-03 18:51] Shinnnyshinshin commented on #2650
Hi @calderonjesus thank you for submitting this issue. We're attempting to address this issue in the following PR, which is still a WIP. I'll be sure to update you when there is more definite progress

https://github.com/great-expectations/great_expectations/pull/2641

[2021-04-04 19:03] alfredo-f commented on #2085
It seems like function [check_if_datasource_name_exists](https://github.com/great-expectations/great_expectations/blob/b83fc816474af1dd60521104b89a64970823022b/great_expectations/cli/datasource.py#L754) has been implemented to solve this issue.

Is this correct @anthonyburdi ?

[2021-04-04 19:25] alfredo-f commented on #1859
Now, when creating a new datasource, the Jupyter notebook that opens up reads

@anthonyburdi Has this issue been solved?

[2021-04-04 19:35] alfredo-f commented on #1806
`checkpoint delete` is implemented in [checkpoint.py](https://github.com/great-expectations/great_expectations/blob/b83fc816474af1dd60521104b89a64970823022b/great_expectations/cli/checkpoint.py#L189)

Can we close this issue? @anthonyburdi

[2021-04-05 07:35] alfredo-f commented on #1656
Hello @spbail , can you please check whether the user experience is still the same, and provide related screenshots?

Please remove any PII or sensitive information 😄

[2021-04-05 14:14] eugmandel commented on #2623
@dcoueron We have not tested Great Expectations on Azure Synapse (Azure SQL Datawarehouse) yet. Database engines are not consistent in their approach to temp tables. PRs with adjustments to these special cases typically come from the community members that use that particular database engine. If you are interested in doing this for Synapse, it would be awesome. You can search for "athena" in the c

[2021-04-05 14:16] eugmandel commented on #2631
@hmandsager Thank you for reporting - will respond after triaging this issue.

[2021-04-05 14:17] eugmandel commented on #2596
@NathanFarmer Thank you for finding this issue and, of course, for the PR! We are still working our way through the recent wave of awesome community PRs, so it might take a while.

[2021-04-05 14:19] eugmandel commented on #2606
@BogdanCojocar Thank you for reporting it. This does look like a config option we should allow.

[2021-04-05 14:24] eugmandel commented on #2634
@henriquejsfj Thank you for reporting this! We will triage and discuss the best way to address this issue. Would you be open to do a PR?

[2021-04-05 14:30] eugmandel commented on #2638
@peterdhansen Would you like to create a PR and we'll work trough the correctness of the fix there?

[2021-04-05 14:33] eugmandel commented on #2643
@NathanFarmer This sounds like a solid proposal - would you like to create a PR? Thank you!

[2021-04-05 14:40] eugmandel commented on #2582
@tomas-sobotik I think the action allows to configure a specific version of Great Expectations (search https://github.com/great-expectations/great_expectations_action README for "version"). Then you can use the latest version that will not require to specify the table. Could you please try it? Thank you!

[2021-04-05 14:45] eugmandel commented on #2647
@lyra-victor Thank you for reporting. We will post here once we look at this issue deeper.

[2021-04-05 14:48] eugmandel commented on #2646
@lyra-victor This argument should be a list. It is possible to make it more flexible, but I don't believe it is a priority right now.

[2021-04-05 14:48] #2646 closed, assigned to nobody

[2021-04-05 16:33] eugmandel commented on #2610
@henriquejsfj Thank you for reporting - let me respond after we triage it.

[2021-04-05 21:51] dcoueron commented on #2623
Hi @hmandsager, sorry for the delay, I tried with another table and did not receive the ident_seed error but I did receive another error though :-/ I'll find some time later this week to post the full stack traces.

@eugmandel, I'm not sure I have the right skills to do this job but I'll give it a try ! Also, I'm not sure the problem is only with temp tables considering the ident_seed message I re

[2021-04-07 05:14] alexsherstinsky commented on #2638
@peterdhansen @eugmandel @jcampbell This is fixed in PR #2657 -- thank you!

[2021-04-07 15:20] dcoueron commented on #2623
Below is the full stack trace. I think it may be related to the types of data I have in my table because I tested it on a different table and managed to make it work (I had to remove the "included_columns" config that was not interpreted correctly though).

[code]

[2021-04-07 16:41] NathanFarmer commented on #2643
@eugmandel I am working on a PR for this.

[2021-04-11 08:30] kj-9 opened #2667 "Athena with RuntimeDataConnector fails to create temporary tables"
**Describe the bug**

Using athena datasource with RuntimeDataConnector fails to create temporary tables
Similar to #1964

**To Reproduce**
Steps to reproduce the behavior:
1. run the sample code below

[code]

**Expected behavior**
Successfully create the table and a validator instance.

**Environment (please complete the following information):**
- Operating System: [Ubuntu 20.04]
- Great Expect

[2021-04-11 08:43] kj-9 commented on #2667
Adding error log below.

<details>
<summary>Click to show error log</summary>

[code]

</details>

[2021-04-12 20:28] stonebig commented on #2588
numpy-1.20.2 is out now. Is it functionnaly normal for great-expectations to depend so much of a numpy version ?

[2021-04-13 11:25] jcampbell commented on #2638
@alexsherstinsky @peterdhansen -> is this issue addressed now?

[2021-04-13 15:14] alexsherstinsky commented on #2638
@jcampbell The PR #2657 addressing this issue was merged approximately a week ago.

[2021-04-13 15:15] JeroenSchmidt opened #2671 "Light Weight Install"
**Is your feature request related to a problem? Please describe.**
In some deployment strategies there is no need to have the Jupiter dependencies installed.
Having the Jupiter (and associated dependencies) installed ends up prolonging the deployment cycle.

**Describe the solution you'd like**
Have a "lite" whl available on pip/conda

[2021-04-13 17:19] NathanFarmer commented on #2596
This issue has been addressed by merged PR [#2609](https://github.com/great-expectations/great_expectations/pull/2609).

[2021-04-13 17:19] #2596 closed, assigned to nobody

[2021-04-14 15:03] anthonyburdi opened #2674 "Comments not rendering in Data Docs and Validator output for v3 API"
**Describe the bug**
When using the v3 API to edit an Expectation Suite and adding comments per [How to add comments to Expectations and display them in Data Docs](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_data_docs/how_to_add_comments_to_expectations_and_display_them_in_data_docs.html) the comments appear in the json on-disk Suite but are not rendered in the val

[2021-04-14 16:09] Shinnnyshinshin commented on #2650
https://github.com/great-expectations/great_expectations/pull/2641 has been merged :) Thank you for your patience with this issue @calderonjesus

[2021-04-14 16:09] #2650 closed, assigned to Shinnnyshinshin

[2021-04-14 16:46] calderonjesus commented on #2650
Thank you!

[2021-04-14 19:12] wllgrnt opened #2676 "Extend the `mostly` logic to define success using absolute row numbers in addition to percentage"
**Is your feature request related to a problem? Please describe.**
In our tables we have a fixed number of rows that fail the column expectations for historic reasons, but the tables grow all the time so the required `mostly` percentage to ensure new bad data is caught shrinks every day. If we could extend the idea behind the`mostly` kwarg to allow me to set a number of rows I expect to fail (i.e.

[2021-04-15 15:30] sfrdmn commented on #2546
The specific issue I ran into here appears to be addressed by #2665 (This issue is expressed as a schema problem only really because I didn't know what the intended behavior was)

[2021-04-15 21:59] twcurrie opened #2688 "Make `ipywidgets` an optional dependency"
**Is your feature request related to a problem? Please describe.**
Great expectation's dependency on `ipywidgets` constrains the ways the library can be used.  `ipywidgets` is utilized as a core part of `jupyter`'s requirements, but through that library's use of iPython, the transitive dependencies can block other libraries that may have differing or competing libraries/dependencies for visualizat

[2021-04-17 21:26] Patechoc opened #2692 "🐛 Meta(data) added to "Table Shape"-expectations are saved to the Expectation Store, but not displayed in Jupyter when editing the suite"
**Describe the bug**

While adding custom information to every expectations' metadata passing a dictionary to the `meta` parameter of these expectations, all get stored in the Expectation Store.
However, editing the expectation suite displays the added meta(data) except for the "Table Shape" type of expectation.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an expectation suite, fro

[2021-04-19 03:12] eugmandel commented on #2692
@Patechoc This does look like a bug - thank you for reporting it.

[2021-04-19 03:19] eugmandel commented on #2688
@twcurrie thank you for posting this idea! It is a good suggestion. Based on the core team's current backlog, this is unlikely to be implemented in the near future, so we are inviting a community contribution.

[2021-04-19 03:23] eugmandel commented on #2676
@wllgrnt Thank you for posting this idea! I want to make sure that more team members get to see it before we decide to move on it.

[2021-04-19 03:23] eugmandel commented on #2676
@jcampbell I think it is a good enhancement - thoughts?

[2021-04-19 03:27] eugmandel commented on #2671
@JeroenSchmidt Thank you for posting this suggestion! This sounds like a more general case of https://github.com/great-expectations/great_expectations/issues/2688.

Marking this "in investigation", since this is an open discussion.

[2021-04-19 03:28] eugmandel commented on #2671
@jcampbell Please add you thoughts on the substance of this suggestion and its priority. Thank you!

[2021-04-19 07:57] JeroenSchmidt commented on #2671
Yes that's correct. In fact the other issue you referenced mentions almost the same use case I am dealing with.

[2021-04-19 14:29] eugmandel commented on #2667
@kj-9 Thank you for spotting this issue! Various database engines behave inconsistently when it comes to temporary tables. We have special case logic for some of them, including for Athena. In the V2 API the special case is here: https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/dataset/sqlalchemy_dataset.py#L1315 - instead of a temporary table, we create a r

[2021-04-19 14:48] eugmandel commented on #2667
@kj-9 Sorry, I did not see your PR when I was commenting on the issue :). Thank you!

[2021-04-19 15:28] luke321321 opened #2694 "Bug: Creating suites from `.csv.gz` files on S3"
**Describe the bug**
When creating a suite on S3 using `.csv.gz` files the `read_options` aren't passed to the `batch_kwargs`.  So the `datasource` doesn't know it should try to decompress the file.  This is using `v2` of the CLI.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a `.csv.gz` on S3
2. Try to scaffold a suite on the CLI

![Screenshot 2021-04-19 at 16 25 24](https://user-ima

[2021-04-19 17:49] twcurrie commented on #2688
@eugmandel Does the core team find the desired solution acceptable or prefer the alternate one?  These are feasible changes for the community to complete, but they do have quite different implications on the repo's code publishing and the user onboarding experience.

[2021-04-19 20:54] twcurrie commented on #2671
@JeroenSchmidt Circling back to my question in the other issue - do you have a preferred strategy?

[2021-04-20 05:14] dmoore247 opened #2701 "UserConfigurableProfiler PythonException: An exception was thrown from a UDF: 'TypeError: Parser must be a string or character stream, not datetime'."
**Describe the bug**
Having trouble with Timestamp type column when using `UserConfigurableProfiler` and minimal default configuration.

Using UserConfigurableProfiler on spark dataframe with Timestamp/DateTime type throws exception

`PythonException: An exception was thrown from a UDF: 'TypeError: Parser must be a string or character stream, not datetime'. `

**To Reproduce**
Steps to reproduce t

[2021-04-20 19:16] emekdahl opened #2703 "V3 API S3 Datasource and V2 API S3 New Suite are not compatible and throw an error"
Steps to recreate:

Using great expectations version 0.13.17

- create a new s3 pandas datasource [following the instructions here](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_datasources/how_to_configure_a_pandas_s3_datasource.html?highlight=boto3_options) **with the V3 API flag**

- since suite new in the v3 API isn't working / implemented in CLI at present, do v

[2021-04-20 23:31] peterdhansen commented on #2533
Doesn't look like I can reopen, but this is still an issue i think

[2021-04-21 03:14] dmoore247 commented on #2701
Replicated unit test (fails on spark 3.1.0 and spark 2.4.5):
[code]

UDF doesn't fail if we use cast timestamp to string:
[code]
`Out[5]: [Row(min(_parse_START)=datetime.datetime(1909, 5, 16, 6, 26, 10))]`

[2021-04-21 03:46] dmoore247 commented on #2701
`parse_strings_as_datetimes` is likely not None or False for some reason.

[2021-04-21 15:05] Kwarks85 opened #2709 ""Tuple index out of range" for running checkpoint with snowflake datasource"
**Describe the bug**
When trying to run a checkpoint with a single expectation against a snowflake datasource I receive an error running "update_data_docs" that says "Tuple index out of range" I thus cannot setup a running checkpoint for my expectations

**To Reproduce**
Set up datasource based on snowflake. The connection and validation works just fine. This is the code from the yml that configur

[2021-04-21 15:20] nchammas opened #2710 "V3 API docs for "How to instantiate a Data Context on Databricks Spark cluster" are badly mangled"
**Describe the bug**

The [documentation here][1] ([on GitHub][2]) for the V3 API is badly mangled. It doesn't run, has syntax errors, and uses the wrong parameter names.

[1]: https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_data_contexts/how_to_instantiate_a_data_context_on_a_databricks_spark_cluster.html#additional-notes

[2]: https://github.com/great-expectations/gr

[2021-04-21 18:24] Arwiim commented on #1977
@colmsnowplow Hey! i'm working whit the jsonschema profiler but there is not example for how we have to create the schema. You have some example to share?

[2021-04-22 13:51] tomas-sobotik commented on #2582
@eugmandel Sorry for late reply. I think this version refers to version of the github action itself not the Great Expectations version. There you can choose v0.2 or v.0.1 which are versions of the actions.

I was checking the DOCKERFILE file of the action and it is using following docker image

`FROM greatexpectations/great_expectations:python-3.7-buster-ge-0.12.0`

I checked that image and it loo

[2021-04-22 15:38] kconvey opened #2715 "Difficult to know what metrics are collected, and to save all by default"
**Is your feature request related to a problem? Please describe.**
It would be nice to know "what metrics am I computing?" and to be able to say "record _all_ metrics in a MetricStore" (as opposed to specifying them explicitly). This is particularly useful if great expecations is used in evaluating metrics, but those metrics may be used downstream by another tool (ex. a dashboarding tool), without

[2021-04-22 19:25] spbail opened #2717 "Bug: Variable name in v3-api checkpoint new notebook is invalid when using "." in checkpoint name"
**Describe the bug**
The boilerplate in the notebook creates an invalid variable name when using "." in the checkpoint name, see description and screenshot.

**To Reproduce**
Steps to reproduce the behavior:
- Run `great_expectations --v3-api checkpoint new my.checkpoint.name`
- Notebook opens
- The second code cell will look like this:

[code]
where `my.checkpoint.name_config` is not a valid vari

[2021-04-23 15:07] eugmandel commented on #2717
Hi @spbail - it is a good find! Any chance you could fix as part of your getting started tutorial work or should we ask the engineering to fix this?

[2021-04-23 15:27] eugmandel commented on #2710
@nchammas Thank you for reporting this. We have a current "pod" that is testing and updating the V3 documentation. We will address this issue within this pod.

[2021-04-23 15:27] jcampbell commented on #2715
We're actively improving the MetricStore right now, in part to enable exactly this sort of feature, as part of the Multi-batch Profiling work going on. I think this is a great use case, and we'll work to expose it more directly.

Let's leave this issue open so we can circle back as needed and flag for people the work; @kconvey if you'd like to chat with the team working on the issue, please ping @

[2021-04-23 15:33] eugmandel commented on #2703
@emekdahl We should make our documentation more clear and explicit on this point - V3 Datasources and V3 CLI suite commands cannot be mixed. Apologies for the confusion. We have a current "pod" that is improving the V3 documentation right now.

[2021-04-23 15:33] #2703 closed, assigned to nobody

[2021-04-23 15:46] nchammas commented on #2710
Thanks for the update. What is a pod?

[2021-04-23 17:13] phtechwohletz opened #2719 "Great Expectations CLI: The command `suite` does not exist when used with the --v3-api flag."
**Describe the bug**
When attempting to use the CLI to initiate or edit an expectation suite from the V3 API, the command fails with the prompt that 'suite' does not exist.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new data context using ```great_expectations --v3-api init```
2. Next attempt to create or utilize the expectation suite command. ```great_expectations --v3

[2021-04-23 17:48] eugmandel commented on #2710
@nchammas A "pod" is a temporary team of engineers working on a time-bound project (usually no longer than a month). I doubt it's a "term of art", but this is how we are using it :).

[2021-04-23 20:50] Aylr commented on #2719
Thank you for the excellent bug report @phtechwohletz ! With your nice report reproducing this was easy. I am working on a fix right now. It looks like a packaging issue (which are notoriously hard to catch) that was not exposed by our CI and manual testing. We hope to have a working release out Monday at the latest.

Thank you for catching and reporting this so quickly!!!

[2021-04-23 20:58] dmoore247 commented on #2701
Work around (by patching static function):
[code]

[2021-04-23 21:06] phtechwohletz commented on #2719
Thanks for your help!

[2021-04-24 00:03] Aylr commented on #2719
Fixed in v0.13.19

[2021-04-24 00:03] #2719 closed, assigned to nobody

[2021-04-24 23:05] kj-9 commented on #2667
@eugmandel Thank you so much to quickly merging and releasing this issue! I'll close this issue.

[2021-04-24 23:05] #2667 closed, assigned to nobody

[2021-04-25 08:26] arunvelsriram commented on #994
@JacquesDonnelly did you get a chance to explore any solutions for this?

[2021-04-25 16:21] arunvelsriram commented on #994
On top of my head immediate solution to this is to manually download and check-in the static js/css files. But this is quite tedious.

We could also make use of npm and a bundler like webpack.

It would be great if GE core members throw some suggestion on implementing this.

[2021-04-26 02:33] makotonium commented on #2141
Took a stab at the issue and created PR #2725

[2021-04-26 08:25] mlondschien opened #2726 "expect_column_mean_to_be_between expectation unsuccessful for empty DataFrame"
**Describe the bug**
The `expect_column_mean_to_be_between` expectations fails if used together with a `row_condition` that evaluates `False` for all rows. This is inconsistent with other expectations.

**To Reproduce:**
[code]

**Expected Behaviour:**
The `expect_column_mean_to_be_between` expectation should succeed like other expectations.

**Environment (please complete the following informatio

[2021-04-26 14:22] gadekarabhijit opened #2727 "when % sign is used in query GE adds escape characters in the condition, which results in unsupported character at SQL engine"
**If we use a special character in where the condition of a query, GE adds escape characters**
When % sign is used in query GE adds escape characters in the condition, which results in unsupported character at SQL engine

**To Reproduce**
Steps to reproduce the behavior:
1. Create batch kwargs with query having % sign as below
[code]
2. Create a batch for the above kwargs

while GE trying to creat

[2021-04-26 14:48] Naveen-8451 opened #2728 "Building docs is failing in latest version"
**Describe the bug**
we are trying to build the data docs using context.build_data_docs(), but we are having weird issue seeing after few days before it was working as expected.

**Error**
ERROR:great_expectations.validation_operators.validation_operators:Error running action with name update_data_docs
Traceback (most recent call last):
  File "/databricks/python/lib/python3.7/site-packages/great_

[2021-04-27 13:03] j-f-r opened #2732 "Great Expecations breaking the Spark Context in an AWS EMR Notebook"
**Describe the bug**
When using Great Expectations in AWS EMR with Spark, if a preexisting context is created before using Great Expectations, the `get_or_create_spark_application` function always restarts the context - regardless of whether or not the exact same `spark_config` is passed, which causes the preexisting context to crash.

To make matters worse, when using AWS EMR with a Notebook, onc

[2021-04-27 13:45] j-f-r opened #2734 "Enable setting the schema for SparkDFDatsource with the CSV reader"
**Is your feature request related to a problem? Please describe.**
There is currently no option for defining the schema of the data being loaded using the `csv` reader for `SparkDFDatasource`. The only option to circumvent this is to use `inferSchema: true` in `options`.

However, relying `inferSchema` has two problems:
- It requires passing through the data one extra time, causing it to be around

[2021-04-27 15:22] eugmandel commented on #2727
@gadekarabhijit Thank you for reporting this - the core team will take this on.

[2021-04-27 15:52] florian-frey commented on #1969
I'd love to see a solution for this as well!

[2021-04-27 16:16] jcampbell commented on #2727
@gadekarabhijit -- is the reason to use the single-quote character to support the percent character? It looks to me like it's that character that is being escaped, and by pyathena directly. Are you using athena?

[2021-04-27 16:18] jcampbell commented on #2727
@gadekarabhijit --> actually, it looks like the pyathena docs cover this:

https://github.com/laughingman7743/PyAthena/ says "if % character is contained in your query, it must be escaped with %% like the following:"

[code]

[2021-04-28 06:29] gadekarabhijit commented on #2727
thanks, @jcampbell I tried this and it worked. one thing I didn't understand that I tried the query with pyathena but I didn't get any error there. here is the code that I tried. this is working.

[code]

[2021-04-28 13:50] jcampbell commented on #2727
Interesting; I'm not sure what causes the difference, but it seems potentially like it could be either a function of the way the driver is used (connect and getting a cursor vs an engine (?)) or perhaps the use of the driver to compile the statement. I only scanned the pyathena docs, but it also seems possible that there's a way to control escaping by the driver.

Sounds like we may be able to clo

[2021-04-29 00:42] eugmandel commented on #2727
Closing this issue. @gadekarabhijit , please reopen and comment, if further action is needed.

[2021-04-29 00:42] #2727 closed, assigned to nobody

[2021-05-01 07:43] Zoynels opened #2739 "Parameter include_config=True for rules is not work with check for pandas"
**Describe the bug**
Parameter include_config=True for rules is not work with check for pandas. I expect that after rule complete I will recieve information with config for this rule like is described in [docs](https://docs.greatexpectations.io/en/latest/reference/core_concepts/expectations/standard_arguments.html?highlight=include_config#include-config).

**To Reproduce**
Steps to reproduce the b

[2021-05-01 19:17] balexander opened #2740 "Automatically created datasource name gives KeyError (v3-api, CLI)"
**Describe the bug**
The `data_asset_name` that is automatically created from the user-entered schema and table name is incorrect when creating a v3 suite via the CLI.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Redshift data source called `rs` via CLI. The output will look like this:
[code]
2. Create a new expectation suite using the v3 api (`great_expectations --v3-api suite n

[2021-05-01 19:29] balexander opened #2741 "ArgumentError thrown when creating expectation suites for some table names"
**Describe the bug**
A table with the name "content" results in an `ArgumentError`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Redshift data source
2. Create a new expectation suite using the v3 api
3. Select Interactively, with a sample batch of data when prompted
4. Select the Redshift data source
5. Select Enter a table name and schema. Enter `some_schema` for the schema name

[2021-05-03 14:18] JeroenSchmidt commented on #2671
@twcurrie I think that the pip install that omits ipywidgets should be the optional install given that great_expecations is meant to be used interactively. I foresee it causing headaches for new users if the default pip install omitted Jupiter.

We would prefer;
`pip install great_expectations[no-ipywidgets]` or `pip install great_expectations[thin-client]`

Our use case is less concerned with the

[2021-05-03 14:41] #2141 closed, assigned to nobody

[2021-05-03 14:47] eugmandel commented on #2741
@balexander Is there anything special about "content"? I don't think it's a SQL reserved keyword. Could you please try to identify the pattern here? Thank you!

[2021-05-03 14:49] eugmandel commented on #2740
@balexander Thank you for reporting this!

[2021-05-03 15:09] eugmandel commented on #2734
@j-f-r This sounds like a great suggestion! Would you like to take this on and create a PR? Thank you!

[2021-05-03 15:11] eugmandel commented on #2732
@j-f-r Thank you for fixing this in your PR!

[2021-05-03 15:11] #2732 closed, assigned to nobody

[2021-05-03 15:12] eugmandel commented on #2728
@Naveen0217 Could you please provide all the information that our bug template asks for? (https://github.com/great-expectations/great_expectations/issues/new?assignees=&labels=&template=bug_report.md&title=)

[2021-05-03 15:13] eugmandel commented on #2726
@mlondschien Thank you for reporting this!

[2021-05-03 15:14] wfclark5 commented on #1969
Any updates on this issue?

[2021-05-03 15:24] eugmandel commented on #2709
@Kwarks85 "site_names: []" looks suspicious - could you please remove this line, rerun and report back? Thank you!

[2021-05-03 15:25] eugmandel commented on #2701
@dmoore247 Thank you for the detailed report and for troubleshooting this issue! Since you got to the root of it, would you like to create a PR with a fix?

[2021-05-03 15:29] eugmandel commented on #2694
@luke321321 Our favorite issues are the ones that come with a PR that fixes them :) - thank you!

[2021-05-03 16:54] twcurrie commented on #2671
@JeroenSchmidt Makes sense, and I agree with the comment of the headaches - exactly why I've been trying to solicit the great_expectations team for an opinion.  Thank you for sharing your team's perspective.

What are some of the other dependencies that your team has issues with or sees as heavy-weight?

[2021-05-03 20:05] balexander commented on #2741
@eugmandel Hmm I'll check. I discovered this during the process of debugging another [issue I added](https://github.com/great-expectations/great_expectations/issues/2740) and found `content` was the only table in the schema to cause an error. Besides the name, I can't think of anything about that table that distinguishes it from other tables. I'll do a little debugging and see whats up.

[2021-05-03 20:08] spbail commented on #2717
I'm taking this one!

[2021-05-04 09:01] johnchandra opened #2746 "Notebooks and Data docs do not open automatically on Ubuntu 20.04 WSL2 Windows 10"
Notebooks and Data docs do not open automatically on Ubuntu 20.04 WSL2 Windows 10
When the suite scaffold command is run, GE attempts to automatically open the notebook , but fails with an error
`Start : This command cannot be run due to the error: The system cannot find the file specified.`

Steps to reproduce the behavior:
1. Install Ubuntu 20.04 on Windows 10
2. Enable WSL2
3. Run the suite sca

[2021-05-05 13:25] Kwarks85 commented on #2709
@eugmandel updated the checkpoint as suggested by you and still receive the same error. Anything else I can provide as reference?

[2021-05-05 15:37] grauscher commented on #2004
Would it be possible to do that by creating some kind of "custom expectation factory", that receives the custom query and outputs the custom expectation as a class/function?

[2021-05-07 06:15] kuhnen commented on #2032
@eugmandel @tuannguyen0901  I believe this issue was solved on version  0.13.13 and an additional feature on 0.13.18.

https://github.com/great-expectations/great_expectations/pull/2544
https://github.com/great-expectations/great_expectations/pull/2521

Maybe we should mark this as solved?

[2021-05-07 08:52] luke321321 commented on #1762
Yes it is I think.  I'd like to see this.

[2021-05-07 09:09] cvengros commented on #2073
As of 0.13.19 this has already been solved, closing.

[2021-05-07 09:09] #2073 closed, assigned to nobody

[2021-05-07 12:30] fpnick commented on #1911
Still relevant.

[2021-05-07 13:29] gvemulapalli90763 commented on #1792
This issue has been resolved.

From: github-actions[bot] ***@***.***>
Date: Thursday, May 6, 2021 at 8:07 PM
To: great-expectations/great_expectations ***@***.***>
Cc: Gopichand Vemulapalli ***@***.***>, Comment ***@***.***>
Subject: Re: [great-expectations/great_expectations] Unable to render validation results in docs (#1792)
WARNING: This is an EXTERNAL email. Use caution replying or clicking l

[2021-05-07 14:47] cgundy commented on #2277
I have avoided using data profiling all together since I have a large set of data. I believe this could still pose a problem for others if someone tries to run data profiling on a large amount of data and this is issue is not resolved or called out in some way.

[2021-05-07 23:02] stephen-hoover commented on #1861
I believe the issue is still relevant. I still see the `logging.captureWarnings(True)` line in great_expectations/data_asset/data_asset.py.

[2021-05-08 00:05] #1613 closed, assigned to nobody

[2021-05-08 00:05] #1618 closed, assigned to nobody

[2021-05-08 00:05] #1565 closed, assigned to nobody

[2021-05-10 12:29] marzlevane opened #2768 "Splitting data asset using _split_on_converted_datetime() method fails for MSSQL and any other SQL dialect not implementing strftime()"
**Describe the bug**
Splitting data asset using **_split_on_converted_datetime()** method fails for MSSQL and any other SQL dialect not implementing **strftime()**.

**To Reproduce**
Steps to reproduce the behavior:
Set up datasource in great_expectations.yaml similar to:

    datasources:
      DATASOURCE_NAME:
        connection_string: <VALID_CONNECTION_STRING_TO_MSSQL_DATASOURCE>
        modul

[2021-05-10 12:50] marzlevane opened #2770 "How do I customize an sql datasource/data connector?"
I would like to implement my own splitting method for the inferred SQL data connector. I want to reuse the inferred asset SQL data connector but change the splitting method. This is what I have tried:

- Subclassing **InferredAssetSqlDataConnector** and defining/overriding any **_split_on...()**-methods I want to use.

- Subclassing **SimpleSqlalchemyDatasource** and overriding **_init_data_connec

[2021-05-10 13:23] tomas-sobotik opened #2771 "GE is very slow when aws secret store is integrated"
**Describe the bug**
When I have integrated aws secret store for my db crendentials GE has become very slow. I have three checkpoints (50+ expectations) orchestrated via github actions in my current project. Before secret store integration it took around 5 mins to finish, after secret store integration it is almost 24 mins.

Also opening the notebook to update expectation suite takes around 5 mins

[2021-05-10 16:39] PadenZach opened #2773 "InferredAssetS3DataConnector raises ParserError for valid paths when using SparkDFExecutionEngine on parquet data."
**Describe the bug**
When using parquet data in an InferredAssetS3DataConnector and a SparkDFExecutionEngine, paths that contain * are incorrectly filtered out by _check_valid_s3_path.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure GE to use both Spark DF Execution engine and InferredAssetS3DataConnector
2. Use regex to yield * paths.
3. Attempt to create a profile.
4. A parser er

[2021-05-11 03:28] giaosudau commented on #1917
Is there any update on this issue?

Presto is more suitable for this kind of purpose.

[2021-05-11 07:28] pavelkrizek commented on #2771
I have experienced exactly the same issue when using Azure Key Vault and when switching to environment variables the waiting times are gone.

[2021-05-11 10:25] Spooky-0 opened #2775 "Spark Config not applied to spark session."
**Describe the bug**
I have followed this tutorial
https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_datasources/how_to_configure_a_self_managed_spark_datasource.html
and in particular my datasource looks like this (or similar):

[code]

When running `great_expectations datasources list` I get an error that the spark session is running in the root Queue. However, at my c

[2021-05-14 00:18] #2333 closed, assigned to nobody

[2021-05-14 00:18] #2368 closed, assigned to nobody

[2021-05-14 00:18] #2231 closed, assigned to nobody

[2021-05-14 00:18] #2312 closed, assigned to nobody

[2021-05-14 00:18] #2208 closed, assigned to nobody

[2021-05-14 00:18] #2223 closed, assigned to nobody

[2021-05-14 00:18] #2185 closed, assigned to nobody

[2021-05-14 00:18] #2193 closed, assigned to nobody

[2021-05-14 00:18] #2151 closed, assigned to nobody

[2021-05-14 00:18] #2162 closed, assigned to nobody

[2021-05-14 00:18] #2109 closed, assigned to nobody

[2021-05-14 00:18] #2147 closed, assigned to nobody

[2021-05-14 00:18] #2076 closed, assigned to nobody

[2021-05-14 00:18] #2080 closed, assigned to nobody

[2021-05-14 00:18] #2055 closed, assigned to nobody

[2021-05-14 00:18] #2066 closed, assigned to nobody

[2021-05-14 00:18] #2047 closed, assigned to nobody

[2021-05-14 00:18] #2040 closed, assigned to nobody

[2021-05-14 00:18] #2043 closed, assigned to nobody

[2021-05-14 00:18] #1986 closed, assigned to nobody

[2021-05-14 00:18] #1996 closed, assigned to nobody

[2021-05-14 00:18] #1999 closed, assigned to nobody

[2021-05-14 00:18] #1971 closed, assigned to nobody

[2021-05-14 00:18] #1981 closed, assigned to nobody

[2021-05-14 00:18] #1959 closed, assigned to nobody

[2021-05-14 00:18] #1960 closed, assigned to nobody

[2021-05-14 00:18] #1948 closed, assigned to nobody

[2021-05-14 00:18] #1950 closed, assigned to nobody

[2021-05-14 00:19] #1943 closed, assigned to nobody

[2021-05-14 00:19] #1931 closed, assigned to nobody

[2021-05-14 00:19] #1934 closed, assigned to nobody

[2021-05-14 00:19] #1928 closed, assigned to nobody

[2021-05-14 00:19] #1930 closed, assigned to nobody

[2021-05-14 00:19] #1925 closed, assigned to nobody

[2021-05-14 00:19] #1904 closed, assigned to nobody

[2021-05-14 00:19] #1919 closed, assigned to nobody

[2021-05-14 00:19] #1891 closed, assigned to nobody

[2021-05-14 00:19] #1896 closed, assigned to nobody

[2021-05-14 00:19] #1878 closed, assigned to nobody

[2021-05-14 00:19] #1879 closed, assigned to nobody

[2021-05-14 00:19] #1865 closed, assigned to nobody

[2021-05-14 00:19] #1866 closed, assigned to nobody

[2021-05-14 00:19] #1864 closed, assigned to nobody

[2021-05-14 00:19] #1855 closed, assigned to nobody

[2021-05-14 00:19] #1857 closed, assigned to nobody

[2021-05-14 00:19] #1840 closed, assigned to nobody

[2021-05-14 00:19] #1841 closed, assigned to nobody

[2021-05-14 00:19] #1826 closed, assigned to eugmandel

[2021-05-14 00:19] #1829 closed, assigned to nobody

[2021-05-14 00:19] #1815 closed, assigned to nobody

[2021-05-14 00:19] #1819 closed, assigned to nobody

[2021-05-14 00:19] #1805 closed, assigned to spbail

[2021-05-14 00:19] #1808 closed, assigned to nobody

[2021-05-14 00:19] #1802 closed, assigned to nobody

[2021-05-14 00:19] #1804 closed, assigned to spbail

[2021-05-14 00:19] #1800 closed, assigned to nobody

[2021-05-14 00:19] #1801 closed, assigned to nobody

[2021-05-14 00:19] #1783 closed, assigned to nobody

[2021-05-14 00:19] #1788 closed, assigned to nobody

[2021-05-14 00:19] #1794 closed, assigned to nobody

[2021-05-14 00:19] #1761 closed, assigned to nobody

[2021-05-14 00:19] #1772 closed, assigned to nobody

[2021-05-14 00:19] #1751 closed, assigned to nobody

[2021-05-14 00:19] #1753 closed, assigned to nobody

[2021-05-14 00:19] #1750 closed, assigned to nobody

[2021-05-14 06:00] lukedyer-peak commented on #1948
Yes I think this is still relevant

[2021-05-14 06:04] lukedyer-peak commented on #1948
@bhcastleton / @eugmandel I don't have permission to reopen this issue now that it's been closed by the GitHub action

[2021-05-14 06:29] if-gh opened #2793 "context.run_checkpoint() gets KeyError, can't find defined datasource"
**Describe the bug**
When using `context.run_checkpoint()`, it could not find the datasource I've defined and throws a `KeyError`

**To Reproduce**
Steps to reproduce the behavior:
1. Defined `SimpleSqlalchemyDatasource` in `great_expectations.yml`:
[code]
2. Defined `Checkpoint` as:
[code]
3. Python script I ran:
[code]
4. See error
[code]

**Expected behavior**
`run_checkpoint()` should be able

[2021-05-14 06:50] if-gh opened #2794 "Extremely slow initialization when using AWS Secrets Manager"
**Describe the bug**
According to documentation [here](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_data_contexts/how_to_populate_credentials_from_a_secrets_store.html) it is possible to use AWS SecretsManager as secret store, but when using this feature it becomes extremely slow even only running `context = great_expectations.get_context()`

**To Reproduce**
Steps

[2021-05-14 09:13] LavinaVRovine opened #2795 "get_evaluation_parameter_dependencies raises KeyError when evaluating dynamic query Evaluation parameters via Expectation suites"
**Describe the bug**

get_evaluation_parameter_dependencies raises KeyError when evaluating dynamic query Evaluation parameters via Expectation suites.

Following https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_and_editing_expectations/how_to_dynamically_load_evaluation_parameters_from_a_database.html

setup works, only when NOT validating via expectation suite.

**To Rep

[2021-05-15 00:10] #2032 closed, assigned to nobody

[2021-05-15 00:10] #2277 closed, assigned to nobody

[2021-05-15 00:10] #1861 closed, assigned to nobody

[2021-05-15 00:10] #1911 closed, assigned to nobody

[2021-05-15 00:10] #1762 closed, assigned to nobody

[2021-05-15 00:10] #1792 closed, assigned to nobody

[2021-05-15 00:10] #1737 closed, assigned to nobody

[2021-05-15 00:10] #1734 closed, assigned to roblim

[2021-05-15 00:10] #1736 closed, assigned to nobody

[2021-05-15 00:10] #1724 closed, assigned to nobody

[2021-05-15 00:10] #1728 closed, assigned to nobody

[2021-05-15 00:10] #1705 closed, assigned to nobody

[2021-05-15 00:10] #1708 closed, assigned to nobody

[2021-05-15 00:10] #1718 closed, assigned to nobody

[2021-05-15 00:10] #1692 closed, assigned to nobody

[2021-05-15 00:10] #1703 closed, assigned to nobody

[2021-05-15 00:10] #1679 closed, assigned to nobody

[2021-05-15 00:10] #1680 closed, assigned to nobody

[2021-05-15 00:10] #1654 closed, assigned to nobody

[2021-05-15 00:10] #1675 closed, assigned to nobody

[2021-05-15 00:10] #1647 closed, assigned to nobody

[2021-05-15 00:10] #1653 closed, assigned to nobody

[2021-05-15 00:10] #1630 closed, assigned to nobody

[2021-05-15 00:10] #1627 closed, assigned to nobody

[2021-05-15 00:10] #1572 closed, assigned to nobody

[2021-05-15 00:10] #1586 closed, assigned to nobody

[2021-05-15 00:11] #1528 closed, assigned to nobody

[2021-05-15 00:11] #1535 closed, assigned to elsander

[2021-05-15 00:11] #1486 closed, assigned to dmateusp

[2021-05-15 00:11] #1452 closed, assigned to nobody

[2021-05-15 00:11] #1463 closed, assigned to nobody

[2021-05-15 00:11] #1314 closed, assigned to nobody

[2021-05-15 00:11] #1377 closed, assigned to nobody

[2021-05-15 00:11] #1161 closed, assigned to nobody

[2021-05-17 00:11] #2320 closed, assigned to nobody

[2021-05-17 14:23] eugmandel commented on #2768
@marzlevane Thank you for reporting this - adding to the core team's backlog.

[2021-05-17 14:28] eugmandel commented on #2770
@marzlevane Would it work if you use "Datasource" class in your config (instead of SimpleSqlAlchemyDatasource) and subclass InferredAssetSqlDataConnector?

[2021-05-17 14:33] eugmandel commented on #2771
@tomas-sobotik Thank you for such a detailed report! Adding this to the core team's backlog. This might take a while, so any help in the meantime will be very much appreciated.

[2021-05-17 14:38] eugmandel commented on #2773
@PadenZach Thank you for reporting this. Adding to triage.

[2021-05-17 14:43] eugmandel commented on #2794
@YFGu0618 Thank you for reporting this. This look like a duplicate of #2771

[2021-05-17 14:44] #2794 closed, assigned to nobody

[2021-05-17 14:46] eugmandel commented on #2793
@YFGu0618 There is an issue in your datasource config - "data_asset_type" key exists only in V2 API and should not be provided in your configuration that otherwise looks like V3.

[2021-05-17 14:46] #2793 closed, assigned to nobody

[2021-05-17 14:56] eugmandel commented on #2775
@Spooky-0 Thank you for reporting this! We will follow your steps to reproduce.

[2021-05-17 15:09] eugmandel commented on #2795
@LavinaVRovine Thank you - we will look into this issue.

[2021-05-17 15:18] eugmandel commented on #2746
@johnchandra Thank you for reporting this. I am adding "help wanted" label to signal to the community.

[2021-05-17 15:19] eugmandel commented on #2739
@Zoynels Thank you - will reproduce and decide on the next step.

[2021-05-17 17:24] cdkini commented on #2214
@eugmandel  @Aylr can I submit a PR to close this down?

[2021-05-18 05:16] s-riedel commented on #1969
I'm trying to implement Great Expectations using Teradata SQL and would love to see a solution as well. Do you have any updates on this?

[2021-05-18 09:10] lccambiaghi commented on #2588
Hi, are there any updates on this issue? We would really love to remove this hard constraint on the numpy version

[2021-05-18 13:29] geertjandev commented on #2647
hitting the same issue / error, any update or workarounds for this?

[2021-05-19 00:10] #1917 closed, assigned to nobody

[2021-05-19 07:52] mortenbpost commented on #2340
@Shinnnyshinshin Has this fix been included in a release yet? Also, is there a way to use a custom query like in v0.12 ?

[2021-05-19 13:25] marzlevane commented on #2770
Hi, thank you for the suggestion.

I run into other problems of the same type, as there are validation checks on keywords on the data connector as well. I get this error message when trying to configure my subclassed InferredAssetSqlDataConnector:

    InvalidConfigError: Your current configuration uses one or more keys in a data connector, that are required only by an
    SQL type of the data con

[2021-05-20 16:29] Aylr commented on #2214
@cdkini Yes please!

[2021-05-21 14:32] FredHermann opened #2815 "MS SQL Server Integration Throws "Invalid object name" During Expectation Creation"
I setup Great Expectations following the documentation (https://docs.greatexpectations.io/en/stable/guides/how_to_guides/configuring_datasources/how_to_configure_a_mssql_datasource.html). I have a data context setup that connects to SQL Server. The code: `context.test_yaml_config(
    yaml_config=config
)` works as expected. I am running this script on windows 10 with SQL Server version:

When I a

[2021-05-21 21:45] RichardJTorres commented on #2746
For the jupyter issue, you need to configure jupyter to not use the redirect file when launching and configure your browser of choice in WSL2: https://stackoverflow.com/a/63638811

[2021-05-24 13:59] geokats7 commented on #1690
Hi guys! Is this issue still open?

[2021-05-24 18:38] shpolina opened #2821 "Failure when running validator using RuntimeBatchRequest"
**Describe the bug**
I am following this [v3 example](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_batches/how_to_load_a_database_table_view_or_query_result_as_a_batch.html)  to construct a batch request but getting an error when running `validator.active_batch.head()` due to invalid SQL that is being generated.

The error:
[code]

**To Reproduce**
Steps to reproduce t

[2021-05-24 21:40] JeroenSchmidt opened #2823 "[Help/Feature Request] Recommended approach for deploying expecations defined by historic trends"
Are there materials, projects plans or ongoing PRs that I could look which have a clean implementation of dynamic expectations defined by historic trends?

An example expectation; **Row count for partition_date=today() to be within 20% deviation of the historic row count for the last 5 days**

At the moment we are programmatically calculating the historic values for our expectations every time an

[2021-05-25 10:59] ashishmgofficial opened #2827 "Question : Spark DF Validation in GE"
Hi , I'm pretty new to GE. Need to know how can we validate a Spark Dataframe with another Spark DF. So essentially the expectation would be a Spark DF itself.

[2021-05-25 14:36] FollowJack commented on #2234
Still face this issue in 0.13.19 using pandas

[2021-05-25 15:28] FollowJack opened #2828 "Checkpoint not executable --> TypeError: 'NoneType' object is not callable"
I have an expectation defined:
    {
      "expectation_type": "expect_column_pair_values_A_to_be_greater_than_B",
      "kwargs": {
        "column_A": "COL_Bigger",
        "column_B": "COL_Smaller",
        "or_equal": true
      },
      "meta": {}
    },

When executing this expectation I get the error: TypeError: 'NoneType' object is not callable

**To Reproduce**
Steps to reproduce the beha

[2021-05-26 00:15] #2444 closed, assigned to nobody

[2021-05-26 00:15] #1816 closed, assigned to nobody

[2021-05-26 08:13] dafeda opened #2834 "`table_name` referenced before assigment when creating new datasource"
**Describe the bug**
`context.test_yaml_config(yaml_config=example_yaml)` fails when trying to create a MSSQL datasource.

A similar error was reported in #support when trying to create a Redshift datasource:
https://greatexpectationstalk.slack.com/archives/CUTCNHN82/p1619537207408900

**To Reproduce**
Steps to reproduce the behavior:
1. Run command to create new datasource (Opens up Jupyter noteb

[2021-05-27 00:47] shpolina opened #2837 "Error when running checkpoint with temp table on Redshift"
**Describe the bug**
I am running a checkpoint against Redshift db with config that utilized temp tables. When invoking `context.run_checkpoint(checkpoint_name="my_cp")` , where my_cp suite has `expect_column_values_to_be_unique` expectation, I get the following error

[code]

Error stack
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.
 Datasource config
[code]
Checkpoint config

[cod

[2021-05-28 00:17] #2457 closed, assigned to nobody

[2021-05-28 00:17] #2456 closed, assigned to nobody

[2021-05-31 00:47] y-nakashima0324 opened #2841 "Error occurred during DataDocs generation (with evaluation parameters)"
**Describe the bug**
The following error occurred during DataDocs generation.
JSON is displayed where the list name of the column should be displayed.

![image](https://user-images.githubusercontent.com/29135080/120125285-19dc1700-c1f3-11eb-9e99-71e6ef926c19.png)

[code]

**To Reproduce**
The expectation is as follows.
[code]

The code we ran is as follows.
[code]

**Expected behavior**
The follow

[2021-05-31 09:45] Patechoc commented on #2234
Like @FollowJack, I confirmed it isn't working in 0.13.19 as well. We have also a version for SQL implemented locally which execute the validation fine as shown in the table ge_validation_results, but we wait to add to the core package because of this bug when rendering in Datadocs.
If you could provide some guidance where you think the code might be wrong, we would gladly try to fix it

[2021-06-01 19:16] shpolina opened #2843 "Leftover table on public schema when runing `expect_column_values_to_be_unique` expectation"
**Describe the bug**
After running an expectation suite with a single `expect_column_values_to_be_unique` expectation against RS table, there is a leftover table that is created on a public schema and remains there indefinitely.

On top of the inconvenience of having leftover tables, this has also a concern of unintended data exposure since the table goes to public schema.

Few notes:
* Even thoug

[2021-06-01 20:33] eugmandel commented on #2843
@shpolina Thank you for reporting this! It sounds like a bug, since the intent was to create a regular temp table that would disappear with the session.

This file has the logic of creating these temp tables: https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/execution_engine/sqlalchemy_batch_data.py

We have to have special cases for some database engines, bu

[2021-06-02 00:28] #1451 closed, assigned to syahdeini

[2021-06-02 01:07] majidaldo opened #2846 "ValueError on RunTimeBatchRequest.get_json_dict with a pandas df"
**Describe the bug**
If you try to get a dict for a RunTimeBatchRequest with a pandas dataframe, you get `ValueError: The truth value of a PandasDataset is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().`

**To Reproduce**
[code]

**Expected behavior**
Should not try to serialize df.

**Environment (please complete the following information):**
 - Great Expectations Version:  0.13.

[2021-06-02 09:52] hell-io commented on #721
Upvoting this feature. Hasn't it been added yet?

[2021-06-02 14:23] sushrut9898 opened #2850 "Make suite-level meta (data) available in Validation Results"
**Is your feature request related to a problem? Please describe.**
We are creating a proper flattened table out of validation results JSON that is generated. We add a few meta (data) to the expectation suite so that we can use them as a filter while reviewing all the validation results but they never get reflected in the Validation results or data docs

**Describe the solution you'd like**
So when

[2021-06-02 16:55] rubenssoto commented on #2732
Hello, how this option works?

Im trying:

`datasources={
                "my_spark_datasource": {
                    "data_asset_type": {
                        "class_name": "SparkDFDataset",
                        "module_name": "great_expectations.dataset",

                    },
                    "class_name": "SparkDFDatasource",
                    "module_name": "great_expectations.d

[2021-06-03 00:26] #2341 closed, assigned to nobody

[2021-06-03 00:26] #2017 closed, assigned to anthonyburdi

[2021-06-03 04:46] Shinnnyshinshin commented on #2827
Hi @ashishmgofficial thanks for your interest in GE. Your question is really interesting, and I don't think it's been done before.  Have you had a chance to talk to anyone on [GE Slack](https://greatexpectationstalk.slack.com/)?

[2021-06-03 16:17] shpolina commented on #2843
Put a fix out

[2021-06-03 18:34] MatthewC12 commented on #2420
Anyone have a fix for this yet?

[2021-06-03 18:36] NathanFarmer opened #2861 "Temporary table objects persist across sessions in Oracle versions older than 18c"
**Bug description:**
Temporary tables that are created when running `batch = context.get_batch(batch_kwargs, suite)` persist across Oracle sessions. The data itself does not persist, but the table object will remain.

**To reproduce:**
1. `great_expectations suite edit [expectation_suite_name]`
2. Run Jupyter Notebook cell 1
3. Log out, shut down Jupyter server, end Oracle session
4. Restart Oracl

[2021-06-03 22:43] arnold-jr commented on #994
I counted 19 distinct http resources. I, too, am looking for an easy solution.

[2021-06-03 23:38] jan-aguja opened #2864 "Compatibility Issue between GE 0.13.7 and pybigquery 0.9.0 (or possibly other versions)"
**Describe the bug**
When running Great Expectations 0.13.7 (for instance to make use of the old validation operator) with the latest pybigquery (0.9.0) to validate BigQuery data, we get one of two errors.

First is **"SchemaField object has no attribute 'precision'"**, but upon checking Google's documentation, this object _does_ have an attribute precision. If you implement ways to get around thi

[2021-06-04 03:40] dyanni3 opened #2865 "deprecated sqlalchemy method causing an error when using mocks in SqlAlchemyDataset"
**Describe the bug**
great-expectations/dataset/sqlalchemy_dataset.py uses sqlalchemy.engine.reflection.Inspector.from_engine [here](https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/dataset/sqlalchemy_dataset.py#L620), which has been deprecated in sqlalchemy 1.4 (see [here](https://github.com/zzzeek/sqlalchemy/blob/master/lib/sqlalchemy/engine/reflection.py#

[2021-06-05 01:57] ounis commented on #2504
Please keep this open until the numpy issue is fixed.

[2021-06-05 19:17] sou-joshi commented on #2827
More details please, A simple "except" function would give a difference between dataframes.

[2021-06-06 07:55] utkarshshukla2912 opened #2872 "Support for deleting the persistent file created in s3 when using Athena while using custom query."
GE needs to create a temp table when custom query is passed, Athen does not support this which leads to creating an external table. We can drop this table later so that it is not picked up by meta data crawler but a persistent file is created in s3.

- Is there a way to avoid creating this persistent file in s3 ?
- If answer is no is there a way to delete after its created ?

[2021-06-08 08:43] pspeter commented on #1628
Still an issue

[2021-06-08 09:44] HustDolphin29598 opened #2880 "Aggregate functions with DISTINCT of type STRUCT BigQuery"
**Describe the bug**
Aggregate functions with DISTINCT cannot be used with arguments of type STRUCT
`sqlalchemy.exc.DatabaseError: (google.cloud.bigquery.dbapi.exceptions.DatabaseError) 400 Aggregate functions with DISTINCT cannot be used with arguments of type STRUCT`

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a BigQuery datasource table with a field of STRUCT type.
2. Run th

[2021-06-08 09:55] TkachevKonstantin commented on #2420
Hello everyone!
I'am not sure but I think anyone have NOT a fix for this yet.

[2021-06-08 22:18] Cedric-Magnan commented on #2771
@tomas-sobotik and @pavelkrizek, I have created a potential fix using cache from functools. It seems data contexts are loaded multiple times (approximately 45 times) when creating a checkpoint or when creating an expectation suite. Thus, the clients were sending requests to the secret managers multiple times impacting the overall performance. Could you retry creating a checkpoint with the referenc

[2021-06-10 00:10] #2469 closed, assigned to nobody

[2021-06-10 08:27] mconfalonieri commented on #2872
I have a similar problem, as the name of the "temporary" Athena table is not stored anywhere, I have no possibility to retrieve it.
I tried to use `bigquery_temp_table` as workaround, and although it works, it insists to write the temporary table to the `default` database, even if a `schema` parameter is provided. At this point, if the table is successfully created, it tries to read it from the da

[2021-06-11 00:08] #2446 closed, assigned to nobody

[2021-06-11 17:53] dafeda commented on #2834
I'm working on this.

https://github.com/great-expectations/great_expectations/pull/2898

[2021-06-12 00:12] #2495 closed, assigned to nobody

[2021-06-12 00:12] #2502 closed, assigned to nobody

[2021-06-13 00:10] #2504 closed, assigned to nobody

[2021-06-14 09:54] xaniasd opened #2903 "PandasExecutionEngine instantiation fails when passing boto3_options"
**Description**
When attempting to customize PandasExecutionEngine by passing a boto3_options map, instantiation fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a connector with pandas execution engine and custom boto3 parameters, as follows:
[code]
2. get datasource from context and perform self check
[code]
3. Raises `DatasourceInitializationError`
[code]

**Expected behav

[2021-06-14 14:52] eugmandel commented on #2865
@dyanni3 Thank you for reporting this issue!

[2021-06-14 14:54] eugmandel commented on #2864
@jan-aguja Thank you for reporting this issue. Although, there is a workaround, we would invite the community to provide a fix.

[2021-06-14 14:55] eugmandel commented on #2861
@NathanFarmer I saw that you created a PR for this issue - thank you!

[2021-06-14 14:56] eugmandel commented on #2850
@sushrut9898 I saw that you created a PR for this issue - could you please mention it in the PR's comment so that the link is visible? Thank you!

[2021-06-14 15:00] eugmandel commented on #2846
@majidaldo Thank you for creating this issue! I see that you are trying to serialize the RuntimeBatchRequest. Could you show the broader context of this code snippet?

[2021-06-14 15:01] eugmandel commented on #2841
@y-nakashima0324 Thank you for reporting this bug!

[2021-06-14 15:03] eugmandel commented on #2880
@HustDolphin29598 Thank you for reporting this! We invite the community, especially someone who works with BQ regularly to create an enhancement for this issue, since it might take time before the core team gets to it.

[2021-06-14 15:04] eugmandel commented on #2872
@utkarshshukla2912 Thank you for creating this issue! Labeling as "help wanted".

[2021-06-14 15:07] eugmandel commented on #2837
@shpolina Thank you for creating the PR for this issue. We will review the updated PR shortly.

[2021-06-14 15:08] eugmandel commented on #2834
@dafeda Thank you for reporting this and working on the PR!

[2021-06-14 15:09] eugmandel commented on #2828
@FollowJack Could you please post your configuration, so that we can see the context? Thank you!

[2021-06-14 15:11] eugmandel commented on #2823
@JeroenSchmidt This is something that will be supported in the future.
@jcampbell, you might be interested to take a look.

[2021-06-14 15:13] eugmandel commented on #2821
@shpolina Thank you for reporting this!

[2021-06-14 15:16] eugmandel commented on #2815
@FredHermann Thank you for reporting this! I did not see in the report which version of GE this is happening on. Could you please specify it?

[2021-06-14 15:58] FredHermann commented on #2815
@eugmandel Thanks for looking into this! I am using GE version 0.13.19

[2021-06-14 16:46] anthonyburdi opened #2905 "Checkpoints do not work from within Databricks notebooks"
**Describe the bug**
Configuring and running a checkpoint from within a DataBricks notebook causes an error. It seems that the error is caused by serialization using pickle during a deepcopy step from within the Checkpoint config.

Here is part of a traceback from within a notebook which configures and then runs a checkpoint:

<img width="626" alt="image" src="https://user-images.githubusercontent

[2021-06-14 16:59] anthonyburdi opened #2906 "Data Docs update not working from within Databricks"
**Describe the bug**
When running a databricks notebook which uses s3 as the store backend for metadata stores, all validation actions run except for the data docs validation action. The store backend for data docs is configured to the same store backend as the other metadata stores, which makes it unlikely (but still possible) that this is a bucket permissions issue.

<img width="1308" alt="image

[2021-06-15 06:07] dafeda commented on #2834
My pleasure!
There are a few conceptual issues I would like to discuss, and have written a post about it in Slack.
Is Slack the best forum to discuss such things?

https://greatexpectationstalk.slack.com/archives/CV828B2UX/p1623435170031000

[2021-06-15 23:35] shpolina opened #2908 "Renderer fails to serialize results when exceptions occurs during validation"
**Describe the bug**
If validation throws an exception, then renderer fails to render results with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run checkpoint with a suite that contains `expect_column_most_common_value_to_be_in_set` expectation with sqlalchemy engine (which is not supported)
2. See error
[code]

**Expected behavior**
The error is properly rend

[2021-06-16 00:09] #1628 closed, assigned to nobody

[2021-06-16 00:09] #2516 closed, assigned to nobody

[2021-06-16 13:10] shpolina commented on #2908
Put a PR out with a fix

[2021-06-16 13:50] aoguedao commented on #2828
Hi! I have a similar issue using `expect_compound_columns_to_be_unique`. But I'm instantiating data contexts without a .yml file (configurator), reading local csv and development is in runtime (I'm trying to create a sort of expectations factory for different customers)

[code]

[2021-06-16 13:54] pspeter commented on #1628
Why was this closed? This problem has not been solved yet!

[2021-06-16 18:33] Andrew088 opened #2910 "Building data doc to S3 prevents static bucket website endpoint from loading"
**Describe the bug**
When building data docs to S3, with properly configured data context, the bucket URL does not seem to receive any data from the index.html object. However, if you were to manually upload the data_docs directory files to S3, the bucket URL loads.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following configuration under `data_docs_sites` in your `great_expectat

[2021-06-16 20:30] majidaldo commented on #2846
...to collect it to create a dataset. maybe i can take it out of 'meta' after validation.

[2021-06-17 17:13] wesleyfelipe commented on #2905
Hello,

I'm getting the same error running checkpoint using a spark dataframe and RuntimeDataConnector.
I've got this error running on Databricks (as well as @anthonyburdi ), but I'm also getting the same result running on my local machine (on Jupyter notebook).

Here is the notebook in case it helps:
[great_expectations_poc.zip](https://github.com/great-expectations/great_expectations/files/66719

[2021-06-17 20:16] #2908 closed, assigned to nobody

[2021-06-18 05:21] imamolp commented on #1969
I'm working on Teradata support. My team has to deal with significant share of Teradata sources. I was able to load a batch of data and apply basic expectations  on it. Currently I'm testing out expectation glossary one by one. Will raise PR soon.

[2021-06-18 12:35] sou-joshi opened #2918 "S3KeySensor"

[2021-06-18 12:51] #2918 closed, assigned to nobody

[2021-06-18 12:52] sou-joshi commented on #2918
Wrong repo :(

[2021-06-18 17:31] shpolina opened #2922 "Datadocs renders 0 as `--`"
**Describe the bug**
When observed value is 0, Data docs renders it as `--` instead of `0`

![image](https://user-images.githubusercontent.com/14918053/122597118-ed206000-d038-11eb-8c6f-0bfa356c2456.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Run expectation that expects 0 rows as a result
2. Observe generated datadocs

**Expected behavior**
Datadocs should display `0` as observed v

[2021-06-19 11:58] xaniasd opened #2926 "expect_column_values_to_be_dateutil_parseable fails with error"
**Describe the bug**
Expectation `expect_column_values_to_be_dateutil_parseable` against a pandas batch (V3 API) fails with error. According to the docs, it should be both migrated to the V3 API and implemented for the specific backend.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a v3 datasource, for instance
[code]
2. Create a file  `/tmp/raw/my_asset/2021-01-01/data.csv` with so

[2021-06-21 00:11] #2534 closed, assigned to nobody

[2021-06-21 07:49] richagaur opened #2927 "Support for expressing expectation in sql predicate format with Spark Execution Engine."
My team has lots of expectation defined as sql expression consisting of multiple columns.
e.g: "columnA > 1200 && columnB == 'cod' || columnC == 'prepaid' "

I would like to be able to input sql expression in the form of an expectation which can be defined in the expectation configuration along with the predefined threshold % like mostly.

I tried to implement it using table expectation, but I can

[2021-06-21 07:59] richagaur opened #2928 "Support for pyspark >=3.0.0"
We use Spark 3.0.1 and pyspark = 3.0.1  in our compute cluster.  I want to use Great Expectation for our feature pipeline validation tasks.

Please enable support for pyspark>=3.0.0.

[2021-06-21 09:15] utkarshshukla2912 commented on #2872
@mconfalonieri if you have generated a batch you can identify the name of the table by using
`batch.generated_table_name`

[2021-06-21 09:29] imutyshev opened #2929 "Support for WSL (both versions)"
It seems that GE is not working well on windows subsystem for linux (checked both versions). Process goes fine untill I try to execute:
context.build_data_docs()
context.open_data_docs(validation_result_identifier)

those commands throw an error:
find: '/mnt/c/Users/\210\341\252\240\255\244\245\340/AppData/Local/Microsoft/WindowsApps/CanonicalGroupLimited.Ubuntu20.04onWindows_79rhkp1fndgsc': No su

[2021-06-21 12:32] mbakunze commented on #2588
@eugmandel any update on this? This is blocking us to upgrade. Also blocking people with M1 Macs to run GE!

[2021-06-21 13:47] #2837 closed, assigned to nobody

[2021-06-21 13:47] #2843 closed, assigned to nobody

[2021-06-21 16:06] KevKrtz opened #2931 "Support for Exasol database as datasource"
**Is your feature request related to a problem? Please describe.**
It is indeed possible to connect a Exasol database via SQLAlchemy and ODBC to GE but creating a new expectations suite leads to an error:

[code]

Unfortunately, Exasol does not support temporary tables.

**Describe the solution you'd like**
GE supporting Exasol databases as default database backend would be awesome. Maybe there is

[2021-06-21 19:24] #2922 closed, assigned to nobody

[2021-06-21 19:27] #2903 closed, assigned to nobody

[2021-06-21 20:19] bhcastleton commented on #2588
@mbakunze - I see your comment. I'm talking with @jcampbell today to make sure we get an update on this and we'll post back here.

[2021-06-22 00:12] #1799 closed, assigned to nobody

[2021-06-22 03:11] jcampbell commented on #2928
@richagaur --> We've actually recently done the hard work on this, and need only to update the integration tests. I'm doing that now...stand by in https://github.com/great-expectations/great_expectations/pull/2930

[2021-06-22 06:32] brunocous commented on #2571
I'm not going to implement it using GE. It's going to be too heavy for the intended use. Closing this FR.

[2021-06-22 06:32] #2571 closed, assigned to nobody

[2021-06-22 07:47] richagaur commented on #2928
Thanks a lot @jcampbell. Looking forward to this.

[2021-06-22 08:28] #2771 closed, assigned to nobody

[2021-06-22 08:46] ghost opened #2936 "KeyError while creating new expectation suite for postgres database"
**Describe the bug**
While trying to create a new v3 expectations suite with "automatically, using a profiler" a KeyError occues.
As a datasource iam using a postgres database.

The keyError exactly occues after i provided the schema name, table and suite name.

My schema name: public
My table name: branches

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/great_e

[2021-06-22 09:48] BenGale93 opened #2937 "Bug in expect_column_values_to_be_of_type for PyAthena SQL dialect"
In combination with PyAthena, I am unable to use the "expect_column_values_to_be_of_type" expectation when checking whether a column is of STRINGTYPE.

**To Reproduce**
1. Construct a SqlAlchemyDataset where the dialect is "module 'pyathena.sqlalchemy_athena'". Ensure that at least one column is of String type.
2. Run expect_column_values_to_be_of_type(col_name, "STRINGTYPE").
3. Observe that the

[2021-06-22 17:32] bhcastleton commented on #2588
@mbakunze - @jcampbell spent some time on this yesterday and merged a fix into develop. We're planning on a release tomorrow.

[2021-06-22 21:58] #2588 closed, assigned to nobody

[2021-06-22 21:59] jcampbell commented on #2928
@richagaur : fix is merged. Release coming tomorrow!

[2021-06-22 21:59] #2928 closed, assigned to nobody

[2021-06-22 22:38] #2717 closed, assigned to nobody

[2021-06-23 07:21] luke321321 commented on #2569
Yes this is still an issue and underlying bug in GE

[2021-06-23 13:41] mconfalonieri commented on #2872
Thank you for your answer, in the end we wrote some custom expectations to avoid the use of temporary tables.

[2021-06-23 20:45] peterdhansen commented on #2578
Maybe it's not as useful as I initially thought. In my own workflow I added a different data connector that didn't split the data. So when I want to process small amount, I grab the first split from the random splitter. To process all the data, I switch to the other connector

[2021-06-23 20:53] edwardcjohnson opened #2946 "Ability to use expectations on pandas timestamps"
Thank you for all the great work in this project!

My request is to be able to pass timestamp columns from pandas dataframes into expectations .

Example:
[code]

Currently fails with:
"TypeError: Column values, min_value, and max_value must either be None or of the same type." unless i cast the timestamp column to a string first.
I'd like to be able to directly pass a timestamp column without fir

[2021-06-24 00:11] #2554 closed, assigned to nobody

[2021-06-24 00:11] #2560 closed, assigned to nobody

[2021-06-24 17:34] sou-joshi commented on #2732
Yes, having same issue. Adding the parameter mentioned, Does nothing! Please help @j-f-r

[2021-06-25 00:11] #2570 closed, assigned to nobody

[2021-06-25 00:11] #2563 closed, assigned to nobody

[2021-06-25 09:21] tdyku commented on #1111
Hi!
Is that fixed also for custom expectations? (`@DataAsset.expectation()`)
My custom multicolumn expectations are still overwriting each other and only the last one is saved in the expectation suite.
I am using API v2.
cc: @jcampbell

[2021-06-25 11:23] andrescevp commented on #2929
up this

[2021-06-25 13:18] mcallaway opened #2957 ""great_expectations init" seems to think sqlalchemy is optional but fails when it is not present"
**Describe the bug**

This happened the very first time I attempted to run "great_expectations init" with the intent on using PostgreSQL as a data source:

    great_expectations init
    ... things seem to be working well ...
    Great Expectations connected to your database!

    ================================================================================

    Would you like to profile new E

[2021-06-25 16:06] fosk06 opened #2959 "Error with BigQuery data connector and RuntimeDataConnector"
Environment:
Python 3.7.8
great expectation version  : 0.13.20
MacOS

I'm trying to do some expectations on a batch of data from a BigQuery dataset/table.
Some of the expectations that computes metrics are failing.

Error message:

provider.py", line 57, in inner_func
    return metric_fn(*args, **kwargs)
  File "/Users/tTrividic/code/python/data_quality_exploration/venv/lib/python3.7/site-package

[2021-06-26 00:09] #2484 closed, assigned to nobody

[2021-06-26 05:13] j-f-r commented on #2732
Hello,

You have to check of a version with this PR was already released, and if you are already using it

[2021-06-26 05:18] j-f-r commented on #2732
@sou-joshi you need to use version >= 0.13.20

[2021-06-28 13:41] NathanFarmer commented on #2861
This issue was addressed by PR #2862 for Oracle versions 18c and newer. This issue is still open for versions older than 18c.

[2021-06-28 20:01] sou-joshi commented on #921
Has this progressed? I think having results to a table if of great use in audit and for data management folks.

[2021-06-29 00:12] #2576 closed, assigned to nobody

[2021-06-29 00:12] #2565 closed, assigned to nobody

[2021-06-29 00:12] #2575 closed, assigned to nobody

[2021-06-29 00:12] #2501 closed, assigned to nobody

[2021-06-29 00:12] #2564 closed, assigned to nobody

[2021-06-29 02:08] kj-9 opened #2967 "support put option in TupleS3StoreBackend"
**Is your feature request related to a problem? Please describe.**
Currently, It seems no way to pass options for putting objects to s3 in `_set` method of `TupleS3StoreBackend`.
We can pass `boto3_options` argument to the constructor, but as long as I look through GE code and boto3 docs, this argument can not change the behavior of putting objects to s3.

For now, We can create a custom class ove

[2021-06-29 07:40] ghost commented on #2740
#2936

[2021-06-29 07:43] ghost commented on #2740
Is there already any solution for this issue?

[2021-06-30 00:09] #2584 closed, assigned to nobody

[2021-06-30 00:09] #2581 closed, assigned to nobody

[2021-06-30 00:09] #2551 closed, assigned to nobody

[2021-06-30 00:09] #2532 closed, assigned to nobody

[2021-06-30 00:09] #2540 closed, assigned to nobody

[2021-06-30 00:09] #2524 closed, assigned to nobody

[2021-06-30 16:22] bhcastleton commented on #2827
@ashishmgofficial - It looks like you're wanting to validate that two dataframes are identical. Is that what you're trying to do?

[2021-06-30 17:39] ashishmgofficial commented on #2827
There can be many scenarios like :
1) two df are identical for a time window
2) two df are equal based on a filter
Or
3) A column in a df is aggregate of two other columns in another df
Etc

Right now we were thinking of going with custom expectation approach

[2021-07-01 00:10] #2569 closed, assigned to nobody

[2021-07-01 00:10] #2578 closed, assigned to nobody

[2021-07-01 00:10] #2523 closed, assigned to nobody

[2021-07-01 00:10] #2268 closed, assigned to nobody

[2021-07-01 05:34] kj-9 commented on #2967
To concretely show my idea, I made a branch in my forked repo for this issue.

https://github.com/great-expectations/great_expectations/compare/develop...kj-9:s3_put_option?expand=1#diff-4ad28c3435839669a0530170842ca6dd8f6776cdfce021cc598b9e51df37e1d0

[2021-07-01 06:23] kj-9 opened #2975 "V3 API datasource config with Athena throws error"
**Describe the bug**
I followed datasource setting instruction of Athena in V3 API [here](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_datasources/how_to_configure_an_athena_datasource.html).
After Jupyter notebook opened, the code block, `context.test_yaml_config(yaml_config=example_yaml)` throws NotImplemented error.

I looked through code base,  it seems `get_vie

[2021-07-01 06:31] kj-9 commented on #2975
I made PR #2976 for this issue. Hope this will help!

[2021-07-01 10:15] juan-meister opened #2978 "BigQuery - expect.column_values_unique - module 'pybigquery.sqlalchemy_bigquery' has no attribute 'dialect'"
**Describe the bug**
When I try to launch a checkpoint using a BigQuery SQL Batch, there's an error related to `pybigquery`

**To Reproduce**
Steps to reproduce the behavior:
1. Create an expectation like this
[code]

2. Create a checkpoint, with this configuration
[code]
4. See error
[code]

**How to avoid the error**
Edit line 63 and put `dialect = None`
This allows GE to finish the checkpoint c

[2021-07-02 00:08] #2580 closed, assigned to nobody

[2021-07-02 04:25] ynouri opened #2984 "import great_expectation is slow"
## Describe the bug

Importing the `great_expectations` package is slow.

## To reproduce

Time it:
[code]

Profile it:
[code]

## Expected behavior

2 seconds is a lot - especially for "light" users. Only a couple hundred milliseconds of import time would be more reasonable.

I looked for settings or environment variables that could maybe disable or minimize the loading of all Great Expectations

[2021-07-02 18:03] abegong opened #2988 "Integation with Infinidash"
It's still early days, but reactive encryption for data transmission is emerging as an important part of many data stacks, especially as the streaming and batch use cases grow closer together.

We're starting this thread to capture requirements and begin planning for an upcoming Infinidash integration.

If you need more background on Infinidash, check out Ellen Körbes' overview [here](https://www.

[2021-07-02 23:01] balexander commented on #2741
No there is nothing special about the word "content". It is with any name I choose. If I update `def column_reflection_fallback(` in expectations/metrics/util.py like this:
[code]
then I get a different error message saying that the relation I'm looking for doesn't exist. But that error message is related to [this other issue I reported](https://github.com/great-expectations/great_expectations/iss

[2021-07-03 00:09] #2597 closed, assigned to nobody

[2021-07-03 05:18] timsankara commented on #2988
I agree there's a need for reactive encryption for stream data as well. AWS Infinidash is the way to go.🤝

[2021-07-03 12:09] abegong commented on #2988
Proposal: for a v1 of this integration, what if we leave tight integration of the infinidash transpiling and hashing layer out of scope? Instead, we can add data validation pre- and post- those steps, without trying to explicitly bridge them.

That'll lower the level of technical work, and also give the Infinidash team time to resolve the delta sharding issue that the community is split over atm.

[2021-07-05 00:09] #2541 closed, assigned to nobody

[2021-07-05 13:30] alermolaev commented on #2251
Still valid for me

[2021-07-05 13:48] alermolaev opened #2993 "S3 InvalidKeyError: Unable to retrieve object from TupleS3StoreBackend with the following Key"
**Describe the bug**
I'm trying to setup the config from the code and use S3 backend store for storing expectations.

Here is my code

[code]

On S3 path looks like
`test_configless2/20210705T133824.449268Z/20210705T133824.449268Z/some_string.json`

But I get an error

`Unable to retrieve object from TupleS3StoreBackend with the following Key: test_configless2/20210705T133824/449268Z/20210705T1338

[2021-07-06 15:25] anthonyburdi commented on #1806
This has been implemented in the CLI, thanks for the heads up on this issue @alfredo-f!

[2021-07-06 15:25] #1806 closed, assigned to haydarai

[2021-07-06 15:27] anthonyburdi commented on #2085
That is correct, thanks for the heads up @alfredo-f !

[2021-07-06 15:27] #2085 closed, assigned to nobody

[2021-07-06 19:31] #2846 closed, assigned to nobody

[2021-07-08 17:07] utkarshshukla2912 commented on #2872
@eugmandel One work around to this could be creating views since they are not a physical table hence no storage required in s3. On completion of the profile/expectatios the batch can have a boolean parameter that triggers `DROP VIEW IF EXISTS QUERY` if the parameter is true.

One major caveat to this is that the aws credentials used to connect to Athena need to have createView access.

[2021-07-08 17:37] shpolina commented on #2906
I was experiencing something similar and I think it is a combination of two errors. The first - issue with accessing the bucket (`ClientError`) and a subsequent issue to render the error in the datadocs (`ValidationError`). I think the second error is fixed by https://github.com/great-expectations/great_expectations/pull/2909

[2021-07-12 08:33] alermolaev commented on #2993
Anyone, please?

[2021-07-12 09:13] luke321321 commented on #2569
@eugmandel please could you reopen this as it's still a bug (that needs triaging).

[2021-07-12 16:54] sephiartlist opened #3021 "Adding GCP storage as a Datasource"
**Why**
Currently GE supports[ S3 as a Datasource](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_datasources/how_to_configure_a_pandas_s3_datasource.html) .  The suggestion is to support [GCP storage](https://cloud.google.com/storage) in the same manner

**How**
Support the same features as S3, with  similar [data-connector](https://github.com/great-expectations/grea

[2021-07-12 23:00] talagluck commented on #2993
Hi @alermolaev - apologies for delays! We've had a bit of a backlog of contributions, but are starting to expand our devrel team, so response times will be improving!

Thank you for your question - I've tried setting up a project based on the config you shared, and I'm not getting the same issue. I noticed the problem you pointed to, which indeed seems like an issue

but I am not getting this issu

[2021-07-13 08:58] vikramaditya91 commented on #2828
The [documentation](https://docs.greatexpectations.io/en/latest/reference/core_concepts/expectations/implemented_expectations.html#implemented-expectations) points out to the missing multi-column expectations.

We are stuck with this too and are considering making a custom implementation around this until it is resolved

[2021-07-13 08:59] vikramaditya91 commented on #2828
@eugmandel @spencerhardwick
Any ETA on when the multi-column expectations will be available in v3?

[2021-07-13 09:11] vikramaditya91 commented on #2676
+1 on this request

[2021-07-13 10:31] ghost opened #3027 "Unable to create context for MSSQL connection -- DBAPIError: (pyodbc.Error) ('07002')"
**Describe the bug**
After successfully setting up the sqlalchemy connection for MSSQL, creating the batch context for the expectation suite fails.

**To Reproduce**
Steps to reproduce the behavior:
1. run `great_expectations datasource new `
2. setup mssql datasource with the help of sqlalchemy connection string
3. run `great_expectations suite new`
4. run the first cell creating cotext and defin

[2021-07-13 13:12] balexander commented on #2740
Any progress on this issue?  I am happy to contribute but would need some input from core contributors because I'm not sure what the expected behavior is.  Is the data asset name supposed to be `content_table__whole_table` or `some_schema.content_table`? I assume the latter.

[2021-07-13 19:07] Sekhar1988 opened #3033 "Add native support for validating files in orc format"
**Is your feature request related to a problem? Please describe.**
Currently, orc is not one of the formats that is supported for validation

**Describe the solution you'd like**
It would be great if great expectations could support orc files validation natively.

**Describe alternatives you've considered**
In order to work around with this, we have decided to offload the reading of orc to spark a

[2021-07-14 08:37] alermolaev commented on #2993
Hi @talagluck. I tried on a different machine and still got this error :(
For the reference: on the other machine I have boto3 1.16.40, ge 0.13.19

[2021-07-14 12:08] milly-farouki opened #3040 "Temporary tables created but not found for sqlalchemy ClickHouse connection with some methods"
**Describe the bug**
For some methods, e.g. `validator.head()` or `validator.expect_column_values_to_be_in_set()`, the following error is thrown when using a sqlalchemy ClickHouse connection:

[code]

**To Reproduce**
1. pip install `clickhouse-sqlalchemy`, then connect to a database of type "other", with connection string `connection_string = "clickhouse+native://default:@localhost/<your database

[2021-07-14 16:29] talagluck commented on #2993
Hi @alermolaev - I was able to reproduce and determine a work-around, though I'll need to dig a little deeper to find out exactly why this is happening. Currently, the prefixes for all of your stores are the same: `my_prefix`. For some reason, the parsing of the bucket name is failing on this. Could you try appending `expectations`, `validations`, etc to the prefixes for each of the stores (e.g. `

[2021-07-14 16:37] alermolaev commented on #2993
Hi @talagluck, thank you for reaching out. Just tested appending to the prefixes and it seems to work 👍

[2021-07-14 16:39] talagluck commented on #2993
Awesome - thanks for letting me know!

[2021-07-15 13:35] #2993 closed, assigned to nobody

[2021-07-15 14:04] talagluck opened #3054 "S3 InvalidKeyError when S3 prefix for an Expectation Store is at the top level for the prefix"
**Describe the bug**
This is describing the bug found in #2993 . With the following error

If you specify the prefix of an ExpectationStore as purely the top level prefix, without a delimiter and another name afterward, this causes a failure, e.g.:

[code]

This is the case whether the DataContext is being instantiated from a YAML or from an in-memory config. This may require S3 stores for Validat

[2021-07-16 18:19] almiavicas commented on #2978
I encountered the same problem. Isn't there a way we can pass the `_dialect=None` parameter in the kwargs?

[2021-07-17 10:04] Beetelbrox commented on #2834
Hello! I've hit the same issue as above when trying to use an InferredAssetSqlDataConnector, and by checking the code I believe that the issue is actually caused by a typo. If we check the code block with the for loop that fails (which happens to be untested):

https://github.com/great-expectations/great_expectations/blob/f88fab6cc32bc8f7ae76e51e6eb235ebc8a3a5d4/great_expectations/datasource/data_

[2021-07-20 10:16] ismaildawoodjee opened #3077 "Pass in arguments for reading in flat files in local filesystem"
**Describe the bug**
May I know where and how do I pass in arguments for reading in a flat files stored in filesystem using Pandas' `read_csv`, particularly for the `encoding=<arg>` parameter? This is for the recommended to use Version 3 for new projects, not Version 2.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `great_expectations --v3-api suite new`
2. Choose `3. Automatically, us

[2021-07-20 10:57] ismaildawoodjee commented on #3077
https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_batches/how_to_load_a_pandas_dataframe_as_a_batch.html

Instead,
2. Choose `2. Interactively, with a sample batch of data` and open the Jupyter notebook, where

[code]

can be specified and passed in through `context.get_validator()`.

Still, choosing automatic profiling gives an error.

[2021-07-20 13:23] nilavghosh opened #3080 "InferredAssetFilesystemDataConnector : Nested directory structure with the data_asset_name on the outside not working"
**Describe the bug**
The example mentioned here in the documents is not working:
[https://docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_datasources/how_to_configure_an_inferredassetdataconnector.html#example-4-nested-directory-structure-with-the-data-asset-name-on-the-outside]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a folder structure
<img width="188" al

[2021-07-20 22:36] pppls commented on #2946
The provided example code works (checked on commit 08b9283).

[2021-07-20 22:43] kj-9 commented on #2975
This is fixed by #2976 .
Close this issue!

[2021-07-20 22:43] #2975 closed, assigned to nobody

[2021-07-21 17:36] trymzet opened #3089 "Add service principal authentication support for `TupleAzureBlobStoreBackend`"
Currently, `TupleAzureBlobStoreBackend` only supports blob connection string (`AZURE_STORAGE_CONNECTION_STRING`). However, in many companies, the preferred way to authenticate is through service accounts ("service principals" as Msoft calls them).

Could possibly be done using [adlfs](https://github.com/dask/adlfs):
[code]

[2021-07-21 23:23] jdimatteo opened #3095 "expect_compound_columns_to_be_unique not yet implemented in v3"
**Is your feature request related to a problem? Please describe.**

The [Table of Expectation Implementations By Backend](https://docs.greatexpectations.io/en/latest/reference/core_concepts/expectations/implemented_expectations.html) documents `expect_compound_columns_to_be_unique` as not yet migrated to the modular Expectations API (0.13).

When I attempt to run this expectation with the v3 api w

[2021-07-22 06:57] rremani opened #3097 "Not able to save Datasource Configuration"
**Describe the bug**
While creating a new datasource connection using mysql dolt, the final saving yaml command is getting hanged "sanitize_yaml_and_save_datasource(context, example_yaml, overwrite_existing=False)", no issues with "context.test_yaml_config(yaml_config=example_yaml)" command.

**To Reproduce**
example yaml:
[code]

[2021-07-22 08:07] rremani commented on #3097
It worked after I restarted "dolt sql-server"

[2021-07-22 08:07] #3097 closed, assigned to nobody

[2021-07-22 15:29] munichpavel commented on #3095
I also raised this issue in the Slack #support channel on 25th of June. Thanks for putting it here!

[2021-07-22 22:16] jcampbell commented on #3095
Thanks for flagging this. @alexsherstinsky is looking at this issue right now, but current ETA isn't for a few more weeks. The underlying issue is dealing consistently with how multi-column expectations handle skipping rows for nulls in the BatchRequest (v3) api.

[2021-07-22 22:24] jcampbell commented on #2984
@ynouri -- I think you're absolutely right about this, and unfortunately, it's largely related to the way that the current imports are structured. That's the bad news.

The good news is that it is definitely on my radar to fix it, and a lot of the preparatory work has already been done, incrementally, over the past few months to help break GE to be inherently more modular. I'd recommend we keep th

[2021-07-23 16:52] cdkini opened #3107 "`--v3-api suite new` prompt needs proper spacing and update to user input to be consistent with other prompts"
**Describe the bug**
The user prompt to pick a data connector during `--v3-api suite new` is on the wrong line and is inconsistent with other prompts:
![Screen Shot 2021-07-23 at 12 48 51 PM](https://user-images.githubusercontent.com/49923762/126815331-570718e5-1b1b-4f54-adf9-f81a032e12e5.png)
<i>Should be moved down a line to be below options 1 and 2</i>

Additionally, there are some spacing chan

[2021-07-23 16:56] cdkini opened #3108 "All `great_expectations` commands output a deprecation warning"
**Describe the bug**
`great_expectations --version` outputs a deprecation warning from `collections` that should not be outputted to the user:
<img width="932" alt="Screen Shot 2021-07-23 at 12 55 43 PM" src="https://user-images.githubusercontent.com/49923762/126815873-2d584e13-35f1-4a06-a02b-b46d92046d46.png">

Additionally, should the commit hash be a part of the version? Might we want to trunca

[2021-07-23 20:49] hmandsager commented on #2631
This issue is still relevant. Are there any thoughts to the ideas proposed above?

[2021-07-26 13:47] henriqueribeiro opened #3114 "Error running GreatExpectationsOperator"
**Describe the bug**
When running a great_expectation suite on Google Cloud Composer using BigQuery as a datasource, I'm getting the follwing error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. [Dag File](https://github.com/great-expectations/great_expectations/files/6878622/dag.py.txt)
2. [GE config file](https://github.com/great-expectations/great_expectations/files/6878633/grea

[2021-07-26 14:10] donaldheppner commented on #3054
I've done some investigation, but only have suggestions on a fix.
# How to reproduce
Your expectations store and validations store in s3 with the same prefix (in code config snippet)
[code]
# What happens
`list_keys` in class `TupleS3StoreBackend` lists all objects in a bucket with a prefix, then:

1. removes those not starting with a prefix: `one`
2. removes those not ending with the expected suf

[2021-07-26 18:31] Hrithvik-Alex opened #3115 "column max has no datetime support in sqlalchemy"
**Is your feature request related to a problem? Please describe.**
#414 added support to parse strings as datetimes within sqlalchemy, but only for `expect_column_values_to_be_between`. `expect_column_max_to_be_between` does not have support for this however, since `get_column_max` throws `NotImplementedError`.

**Describe the solution you'd like**
To potentially add support for this `expect_colum

[2021-07-27 17:00] jdimatteo opened #3116 "Snowflake pip install error with python3.9"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

Follow instructions at https://docs.greatexpectations.io/en/latest/contributing/setting_up_your_dev_environment.html#contributing-setting-up-your-dev-environment with Python 3.9, e.g.

[code]

See [full pip install error here](https://github.com/great-expectations/great_expe

[2021-07-27 17:20] talagluck commented on #2834
Thank you @dafeda and thanks for the feedback @Beetelbrox ! I believe the bug itself has been resolved in PR #3069. That said, your additions to testing in #2898 look interesting. I'm going to close this issue, and follow up with you in the PR.

[2021-07-27 17:20] #2834 closed, assigned to nobody

[2021-07-27 21:34] talagluck commented on #3054
Hi @donaldheppner - thank you so much for this in-depth investigation and thorough explanation! I will bring your three suggestions to our triage meeting next week and discuss them with the team. Then one of us will get back to you, and we can work together on implementing a solution.

[2021-07-27 21:48] talagluck commented on #3077
Hi @ismaildawoodjee - thanks for your question! I believe this is a bug - when profiling from the CLI, a notebook is automatically generated with the column names from your csv. However, in order to get those column names, Great Expectations needs to take a look at your csv, and since you haven't yet specified the reader options, this will throw an error. We will be reviewing this internally, and

[2021-07-27 21:52] talagluck commented on #3077
Actually, it may be possible to pass in a BatchRequest from a .json file from the CLI. You could then specify the reader_options there. Would you mind giving this a shot and letting us know if it works?

[2021-07-28 04:35] ismaildawoodjee commented on #3077
Hi @talagluck, I tried out what you said on the command line, like this:

`great_expectations --v3-api suite new --batch-request .\batch_request.json`

and it works.

But it doesn't do automatic profiling, even though the `reader_options` are specified. It says:

`Entering interactive mode since you passed the --batch-request flag`

and opens up a Notebook without any Expectations, just like when

[2021-07-28 07:08] juan-meister opened #3125 "Creation of a temporary table in BQ"
**Describe the bug**
When I try to launch a checkpoint, I have an error : `sqlalchemy.exc.DatabaseError: (google.cloud.bigquery.dbapi.exceptions.DatabaseError) 400 Use of CREATE TEMPORARY TABLE requires a script`

**To Reproduce**
Steps to reproduce the behavior:
1. I created a Data Context using BigQuery
[code]

2. Created a suite with this code
[code]

3. Created a checkpoint with this code
[cod

[2021-07-28 11:25] ismaildawoodjee commented on #3116
@jdimatteo Happened to me as well, Python v3.9.5 Windows 10

[2021-07-28 11:33] mrkoloev commented on #2073
got the same error on 0.13.22 and 0.13.24

[code]

But this config works well with ClickHouse datasource.

[2021-07-28 12:44] cdkini commented on #3108
Please note that we are also seeing deprecation warnings around `column_aggregate_metric`/`column_aggregate_metric_provider` as a result of https://github.com/great-expectations/great_expectations/commit/a591cf94edec346513dac59444e315fbcdcc9f99.

That fix may be part of a separate issue but I will keep the status up-to-date here.

[2021-07-28 12:51] talagluck commented on #3077
Hi @ismaildawoodjee - you can add a `--profile` flag to profile as well. As a tip, you can type any of the `great_expectations` commands followed by a `--help` to see all of the available options (e.g. `great_expectations suite new --help`). Please let me know if this works for you.

[2021-07-28 15:07] cdkini commented on #3108
Issue regarding `column_aggregate_metric` warning is to be resolved here: [INSERT PR]

[2021-07-28 20:36] #3116 closed, assigned to nobody

[2021-07-28 22:28] jdimatteo opened #3131 "bigquery regex unsupported dialect"
**Describe the bug**
When running regex expectations with bigquery, exceptions like the following occur:

[code]

**To Reproduce**

Use a regex expectation such as `expect_column_values_to_match_regex` with bigquery based on the example at https://knoxpod.netlify.app/docs/guides/connecting_to_your_data/database/bigquery.

More specifically, to get the above stack trace you can:
1. `git clone --bra

[2021-07-28 22:31] jdimatteo commented on #3131
This might be related to https://github.com/great-expectations/great_expectations/issues/2978

[2021-07-28 22:31] jdimatteo commented on #3131
Possibly a duplicate of https://github.com/great-expectations/great_expectations/issues/2959 as well

[2021-07-28 22:43] jdimatteo opened #3132 "Increase Automated Test Coverage With Bigquery"
**Is your feature request related to a problem? Please describe.**

Historically there have been bugs fixed specific to BigQuery that ideally would have been caught by automated tests before a great expectations release, e.g. https://github.com/great-expectations/great_expectations/pull/1384 fixed https://github.com/great-expectations/great_expectations/issues/1391. There are some currently open b

[2021-07-29 05:40] rr-chiranjeevi-ds commented on #2647
I am facing same issue but for snowflake datasource. Is there any fix to this?

[2021-07-29 13:39] #3107 closed, assigned to nobody

[2021-07-29 14:12] vivek89007 commented on #110
Has this feature added in the latest build?

[2021-07-29 14:13] vivek89007 commented on #110
@jcampbell

[2021-07-29 14:13] kyleaton opened #3137 "Test Issue"
This is a test issue for process purposes

[2021-07-29 14:32] #3137 closed, assigned to kyleaton

[2021-07-29 14:33] kyleaton opened #3138 "This is a test issue #2"
Testing for process purposes

[2021-07-29 14:34] kyleaton opened #3139 "This is a test issue"

[2021-07-29 14:34] kyleaton opened #3140 "This is a test issue"

[2021-07-29 14:37] #3140 closed, assigned to nobody

[2021-07-29 14:37] #3139 closed, assigned to nobody

[2021-07-29 14:37] #3138 closed, assigned to nobody

[2021-07-30 15:14] davideromano opened #3148 "Running a SimpleCheckpoint on a Spark DataFrame validation data returns 'RecursionError'"
**Bug description**
When you use GE api v3 and you try to run a SimpleCheckpoint on a SparkDF passed on the run as a validation object, the error `RecursionError: maximum recursion depth exceeded while calling a Python object` was thrown.
This error does not occur when I use Pandas as Execution Engine (and to read the dataframe) instead of Spark.

**To Reproduce**
Here the code that you can use to

[2021-07-30 15:28] mpalfi opened #3149 "Add Greenplum database as supported datasource"
**Is your feature request related to a problem? Please describe.**
Full support of Greenplum DB as datasource.

[2021-07-30 15:44] jcampbell commented on #110
@vivek89007 - yes, currently, if you use `expect_column_values_to_be_of_type` with a `PandasExecutionEngine`, you will find that the expectation checks the column's dtype first (effectively equivalent to checking the schema for other `ExecutionEngine` options), and, if it is the generic `object` type, will use a row-wise check.

In general, we have been able to discipline conversion of types so th

[2021-07-30 16:32] cdkini commented on #2647
Hey @lyra-victor @geertjan-garvis @rr-chiranjeevi-ds thanks so much for point this out!

I apologize for the delay; the core team has been focusing on a few other features so this fell into our backlog. @bhcastleton put this on my radar earlier today and I'll definitely be making it a priority moving forward.

It looks like there's a mismatch of types when we get to the `nested_update` function so

[2021-07-30 20:30] rajannau opened #3153 "Cannot disable temp tables when using query runtime_parameter in RuntimeDataConnector"
**Describe the bug**
Unable to disable creation of temp tables when running RuntimeDataConnector with a query option under runtime_parameters in batch_request.

**To Reproduce**
Steps to reproduce the behavior:
1. Set validations =
                    "batch_request": {
                        "datasource_name": postgres_db_reporting,
                        "data_connector_name": runtime_data_con

[2021-07-30 20:43] cdkini commented on #2647
I opened up PR https://github.com/great-expectations/great_expectations/pull/3152 to start making some fixes here.

Here's the output I'm seeing when I run your code:

[code]

And here is what I see when I inspect `my_checkpoint` in my debugger:
![Screen Shot 2021-07-30 at 4 40 44 PM](https://user-images.githubusercontent.com/49923762/127709400-e2e22e1c-1fbd-4b85-90b8-ef33b29ef3c4.png)

I'm a bit

[2021-07-30 22:05] dallinb commented on #2775
I seem to be having a similar issue with Great Expectations 0.13.23.  In my case I'm trying to set `spark.jars.packages` to include Spark Avro.

[2021-08-01 13:04] suyuchenxm opened #3162 "expect_"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - Operating System: [e.g. Linux, MacOS, Windows]
 - Gr

[2021-08-02 09:12] qlc-89 commented on #3153
I was in the same situation.

[2021-08-02 13:03] rpanai opened #3163 "Installation using conda"
In the section [Quick start](https://github.com/great-expectations/great_expectations/blob/develop/README.md#quick-start) on the `README.md` one could add the possibility to install via conda (see [link](https://anaconda.org/conda-forge/great-expectations)) via `conda install -c conda-forge great-expectations`

[2021-08-02 15:01] cdkini commented on #2647
A PR has been issued and is going through the review process. You can see the changes made at #3152 and make any comments/suggestions there if you wish!

We'll hopefully have this merged and ready to use shortly.

[2021-08-02 17:50] nehadahiya88 opened #3164 "Integration of Great Expectations with Robot Framework"
**Is your feature request related to a problem? Please describe.**
I want to use the Great Expectations with Robot Framework.

**Describe the solution you'd like**
Library compatible with robot framework

**Describe alternatives you've considered**
exploring

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-08-02 18:48] cdkini commented on #2647
The interaction between `SimpleCheckpoint` and `RuntimeDataConnectors` seemed to have some issues but I think we've now covered them. Changes have been approved and the PR should be merging shortly.

Please let me know if any other issues around this matter arise during your usage of GE!

[2021-08-02 23:40] jdimatteo commented on #3131
Before closing this issue, please ensure bigquery test coverage passing with:

1. expect_column_values_to_match_regex
2. expect_column_values_to_not_match_regex
3. expect_column_values_to_match_regex_list
4. expect_column_values_to_not_match_regex_list

E.g. see how these tests are commented out at https://github.com/great-expectations/great_expectations/blob/25a008fdb9fa98223837d7f4fdb61d9bf7ff00

[2021-08-03 13:31] vaidehid1305 opened #3166 "include_config parameter does not give expectation suite info when executed against Athena and CSV datasources"
**Describe the bug**
I am executing following example expectations against a table in Athena:

- expect_column_max_to_be_between
- expect_column_values_to_not_be_null
- expect_column_values_to_be_in_set

For all these expectations, I added the parameter include_config = True, but still I do not see the expectation information in the result set.
Below is an example:

batch.expect_column_values_to_n

[2021-08-03 14:43] vaidehid1305 commented on #574
Hi, I am facing similar issue while working with Great Expectations version 0.13.20.
I used include_config = True as a part of my individual expectations, but still i do not see the expectation suite info in the result set.
I am working with CSV and Athena datasources and observing issue with both.

Any help on this would be appreciated.

Below is an example:
batch.expect_column_values_to_not_be_n

[2021-08-03 14:53] vaidehid1305 commented on #2739
Facing same issue with CSV and Athena datasources. Any updates on this investigation?

[2021-08-03 14:59] jdimatteo opened #3168 "V3 API Validation Operator Doesn't Support More Than One Table"
**Describe the bug**
When I try to run a validation operator to generate data docs with a second table, errors are raised like `great_expectations.exceptions.exceptions.ExecutionEngineError: Error: The column "station_id" in BatchData does not exist.`

If I only validate a single table at a time, no such error occurs, and the error appears to only occur if there are multiple tables being validated

[2021-08-03 15:09] jdimatteo commented on #3168
Also, please advise if there is a more concise / more useful way for me to describe steps to reproduce problems like this.

[2021-08-03 16:50] #2694 closed, assigned to nobody

[2021-08-03 18:40] talagluck commented on #3166
Thanks for raising this @vaidehid1305! Could you please confirm whether you are using the V2 BatchKwargs or V3 BatchRequest API?

[2021-08-03 18:52] vaidehid1305 commented on #3166
Hi @talagluck thanks for getting back, I am using V2 (Batch Kwargs) API. Is this not compatible with include_config?

[2021-08-03 20:06] mpalfi opened #3170 "Automatic profiler errors on Postgres DB timestamp columns"
**Describe the bug**
For a colum defined in Postgres as timestamp (cntrc_hdr_end_dt timestamp)
Value samples:
2017-07-01 00:00:00
2013-12-01 00:00:00
2015-10-01 00:00:00

When running the automatic profiler the following error is thrown:

~\AppData\Roaming\Python\Python37\site-packages\great_expectations\dataset\sqlalchemy_dataset.py in get_column_min(self, column, parse_strings_as_datetimes)

[2021-08-03 20:07] talagluck commented on #3162
Hi @suyuchenxm - thanks for participating in the community! It looks like this Issue is empty. I'm going to close it for right now, but feel free to create a new Issue if you need.

[2021-08-03 20:07] #3162 closed, assigned to nobody

[2021-08-03 20:23] talagluck commented on #3114
Hi @henriqueribeiro - thanks for submitting this issue! It appears this is a duplicate of https://github.com/great-expectations/airflow-provider-great-expectations/issues/35, so I will be closing this for right now. I'll be in touch in the other Issue in the next day or so.

[2021-08-03 20:23] #3114 closed, assigned to nobody

[2021-08-03 20:54] jdimatteo commented on #3168
I confirmed checkpointing works with multiple tables, and I updated my example to do that here: https://github.com/jdimatteo/ge_tutorials/blob/d77b21f27f755c097de53f7c5c2ebef803109889/multiple_tables/bigquery_python_example.py . Example output from this updated script is included in the commit message: https://github.com/jdimatteo/ge_tutorials/commit/d77b21f27f755c097de53f7c5c2ebef803109889

[2021-08-04 03:03] jdimatteo opened #3174 "V2 Custom Expectation Custom Rendering No Longer Works"
**Describe the bug**
V2 custom expectation custom rendering (as documented [here](https://docs.greatexpectations.io/en/latest/reference/spare_parts/data_docs_reference.html#customizing-data-docs)) no longer works.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone --branch jdimatteo/reproduce-custom-expectation-rendering-bug git@github.com:jdimatteo/great_expectations.git && cd great

[2021-08-04 14:32] jdimatteo commented on #3174
I'm working on a PR to fix this

[2021-08-04 18:30] talagluck commented on #3168
Hi @jdimatteo - thanks for submitting this issue, and thank you as well for the thorough and considered steps to reproduce.

After some initial research, I've concluded that this is, in fact, a bug that happened to be revealed in the `validation_operator` example - though it doesn't specifically have anything to do with `validation_operators`. In the example with `validation_operators`, you are in

[2021-08-04 19:30] talagluck commented on #3174
Hi @jdimatteo - thanks for raising the issue, and thanks for working on the PR! I'll keep an eye out for it over the next few days. Please let me know if I can be of any assistance.

[2021-08-04 19:33] talagluck commented on #3170
Hi @mpalfi - thank you for raising this issue! We are looking into this, and will be in touch over the next week or so to follow up.

[2021-08-04 19:54] talagluck commented on #3080
Hi @nilavghosh - thank you for submitting this issue and apologies for delays! Someone will review and be in touch over the next few days.

[2021-08-04 19:57] jdimatteo commented on #3174
Do V3 style custom expectations work when using the V2 API?

https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_and_editing_expectations/how_to_create_custom_expectations.html

I'll probably test this soon if nobody knows off hand.

[2021-08-04 20:05] talagluck commented on #3174
Hi @jdimatteo - no, custom expectations were a major impetus for the V3 API and are mutually exclusive from V2 expectations. Expectations in V3 are each in their own file, whereas in V2 they all reside in backend-specific dataset modules (e.g. `pandas_dataset.py`)

[2021-08-04 20:21] jdimatteo commented on #3174
Thanks @talagluck for the info! I've got this partially working locally and will submit a PR soon hopefully.

[2021-08-04 21:31] Shinnnyshinshin commented on #3153
@rajannau and @qlc-89 thank you for submitting this issue... which Expectations are included in the ExpectationSuite? It would help us re-create the error you have been seeing.

[2021-08-04 23:33] jdimatteo commented on #3174
@talagluck please see the PR with the fix at #3179

[2021-08-05 05:39] kuhnen opened #3180 "Quantiles not taking into account the number sign."
**Describe the bug**
 Looks like the quantile profiling is taking into account absolute values for Min and Max.  Please take a look in the picture:
![image (2)](https://user-images.githubusercontent.com/1311776/128296822-864c409c-ce66-409d-b858-a83c09d6cadb.png)

**To Reproduce**
Steps to reproduce the behavior:
Create a dataset if some field to profile the data and have an expectation where the q

[2021-08-05 11:19] andymiller-og commented on #236
Is this not available in the latest v3 version?

[2021-08-05 14:23] jdimatteo commented on #3168
@talagluck thanks for the update!

Given that there is a bug being investigated, I closed PR #3172 (where I naively documented that validation operator just doesn't work with the V3 API).

[2021-08-05 14:47] devilqp commented on #2926
Hi guys,
a similar problem it happens on the same expectation **expect_column_values_to_be_dateutil_parseable**.
In my case Datasource it's Redshift.
Everything I write into
`
batch.expect_column_values_to_be_dateutil_parseable("dta_inserimento")
`
I get the following error **NotImplementedError**

   2098
   2099         """
-> 2100         raise NotImplementedError
   2101
   2102     def expect

[2021-08-05 15:09] anthonyburdi commented on #236
Thanks for your interest! The team is currently working on porting additional expectations to v3, look for releases in the near future on this and other expectations. cc: @spencerhardwick

[2021-08-05 16:19] rajannau commented on #3153
@Shinnnyshinshin we are using expectation configs for eg that looks similar to below example, which are then used to construct an expectation suite. Construct validations from expectation suite & run context.run_checkpoint (as highlighted above).

[code]

[2021-08-05 19:49] talagluck commented on #3166
Hi @vaidehid1305 - thanks for your reply! Yes, `include_config` is compatible with V2.

In order to get the results, are you running expectations in a notebook? If so, I believe that this is not a bug, but has to do with the string representation of the output. If instead of just running
`batch.expect_column_values_to_not_be_null("<column_name>", result_format = "SUMMARY", include_config = True)`

[2021-08-05 19:52] talagluck commented on #3125
Hi @juan-meister - have you seen our docs [here on configuring temp tables to work with BigQuery](https://knoxpod.netlify.app/docs/guides/connecting_to_your_data/database/bigquery/? I would specifically direct you to look at Item 7, which describes a workaround necessary for BigQuery. Please let me know doing things this way works for you.

[2021-08-05 19:53] talagluck commented on #3180
Thanks for filing this issue, @kuhnen! We will review this internally and be in touch over the next several days.

[2021-08-05 20:01] talagluck commented on #3115
Hi @Hrithvik-Alex - thanks for raising this issue!

With the V3 Batch Request API, we have decided to remove all support for `parse_strings_as_datetimes` - the inclusion with `expect_column_values_to_be_between` was actually an oversight, and this will be removed in a future release.

I recognize that this might be the opposite answer that you expected, but it comes after a lot of careful thought

[2021-08-05 20:01] #3115 closed, assigned to nobody

[2021-08-05 20:06] vaidehid1305 commented on #3166
Thanks @talagluck, with print included i do see the full expectation config.
Appreciate your help.

[2021-08-05 20:06] #3166 closed, assigned to nobody

[2021-08-05 20:07] talagluck opened #3183 "expect_column_values_to_be_between still contains parse_strings_as_datetimes"
In #3115 , @Hrithvik-Alex raised the inconsistency of having `parse_strings_as_datetimes` in `expect_column_values_to_be_between` but not in other comparable expectations like `expect_column_max_to_be_between`. In the V3 Batch Request API, we have decided to eliminate the `parse_strings_as_datetimes` functionality to better differentiate between the "transform" and "validate" stages of a data pipe

[2021-08-05 20:13] talagluck commented on #3033
Hi @Sekhar1988 - thanks for submitting this issue. We have discussed this internally, and are unable to support this in the near future. That said, we would welcome and can provide support on a contribution around this if you would like to help. I'm going to close this issue for now, but if this is of interest to you, feel free to re-open, or just open a PR.

Thank you!

[2021-08-05 20:13] #3033 closed, assigned to nobody

[2021-08-05 20:15] talagluck commented on #3021
Hi @sephiartlist - thanks so much again for submitting this issue! This is actually on the roadmap for one of the next few sprints. When our product engineering team begins work on this, someone will be in touch to collaborate.

[2021-08-05 20:20] talagluck commented on #3089
Hi @Trymzet - thank you so much for submitting this issue! After some internal discussion, this is something that we can't prioritize in the near future. That said, if this is something that you would like to contribute, I'd be happy to offer support and guidance. Is this something in which you might be interested?

[2021-08-05 20:26] talagluck commented on #3089
We may also be doing some work on authentication for an Azure DataConnector which could dovetail nicely with this. If that is the case, someone working on this from the core team will be in touch.

[2021-08-05 20:54] juan-meister commented on #3125
Hello @talagluck, I didn't read this.
However, the documentation is incomplete. What I mean by that is that you should tell if the user needs to create the table before or if GE will create it for us. And if so, where is it going to be created? In which dataset? In which region ?

That information would be very important.

[2021-08-05 21:40] talagluck commented on #3125
Thanks @juan-meister. I've opened a PR to clarify our docs.

[2021-08-05 22:36] #3125 closed, assigned to nobody

[2021-08-06 07:23] armandduijn opened #3186 "Can't specify schema in expect_table_row_count_to_equal_other_table"
**Describe the bug**
The expectations `expect_table_row_count_to_equal_other_table` can't find the other table I specify in the `other_table_name` parameter. I tried adding the schema name as part of the table name, but then SQLAlchemy wraps it in double quotes, causing my database (Redshift) to interpret it as an escaped table name.

**To Reproduce**
Steps to reproduce the behavior:
1. In a datab

[2021-08-06 17:40] NathanFarmer commented on #2643
Update: there is not currently an active/planned PR for this.

[2021-08-06 18:32] jdimatteo commented on #3174
Note: a full working end to end example testing the PR is at https://github.com/great-expectations/great_expectations/blob/3d3cea6c052e87b71434e26b874919531c12e002/tests/integration/docusaurus/connecting_to_your_data/database/custom_rendering_with_v2_api_example.py.

[2021-08-06 19:57] talagluck commented on #2850
Closing, as this has been resolved by #2881. Thanks, @sushrut9898!

[2021-08-06 19:57] #2850 closed, assigned to nobody

[2021-08-06 19:59] talagluck commented on #3163
Thanks for raising this @rpanai! If you are interested, this would make an excellent community contribution!

[2021-08-06 21:50] #2926 closed, assigned to nobody

[2021-08-08 02:36] #3174 closed, assigned to nobody

[2021-08-09 00:01] KentonParton opened #3195 "Support to include ID/PK in validation result for each row that failed an expectations"
**Is your feature request related to a problem? Please describe.**
When an expectation is run the output includes a “partial_unexpected_list” property of values that were unexpected. While this is useful, in most cases, it doesn't allow teams to identify, resolve, or divert data with poor quality.

It would be great if a sample list or a complete list (result_format SUMMARY, COMPLETE) of ID's for

[2021-08-09 14:30] nrawling opened #3199 "Feature to disable CTE use, required for compatibility with MySQL < 8.0"
**Is your feature request related to a problem? Please describe.**
When running scaffold on a MySQL 5.6 database, enable any columns and you will receive an error similar to this one, since MySQL versions prior to MySQL 8.0 do not support CTEs:

[code]

Notably, AWS Aurora does not support MySQL 8.0 compatibility yet, so many potential Great Expectations users will be affected by this limitation.

[2021-08-09 15:23] #3163 closed, assigned to nobody

[2021-08-09 15:40] vaidehid1305 opened #3201 "Expectation fails when trying to evaluate values from a column which stores values in form of arrays"
**Describe the bug**
I am trying to evaluate values in a table column which stores arrays. The expectation I am using is: "expect_column_values_to_not_be_in_set". The column I am evaluating has 'null,null' string values stored in few records and I am trying to filter them and find their count and percentages.

Below are the ways in which I tried to write this expectation:
batch.expect_column_value

[2021-08-09 17:49] AntonBiryukovUofC opened #3202 "[FEATURE] Add REST API data connector / data source"
**Is your feature request related to a problem? Please describe.**

Often, tabular data can be pulled in a JSON format / CSV string from an external REST API. It would be nice to have a way to request a batch of data via query parameters, similar to what is already done for SQL data connectors.

**Describe the solution you'd like**

Data connector that uses pandas execution engine and queries an e

[2021-08-09 23:16] KentonParton opened #3205 ""catch_exception" not functioning with v3 API"
**Describe the bug**
I am using the v3 API, SparkDFExecutionEngine with the following classes
ExpectationConfiguration
RuntimeBatchRequest
context.get_validator().validate().

When I include "catch_exception" in the expectation kwargs or in context.get_validator().validate(catch_exceptions=True), an exception is still thrown.

[code]

**To Reproduce**
Code to reproduce the behavior:
[code]

**Envi

[2021-08-10 07:56] OmarSultan85 commented on #3195
This is a very important feature in my opinion, as Kenton mentioned, we will be able to not only identify the data quality and correctness on the data, but take action as well and help isolate erroneous rows rather than failing the entire dataset.

[2021-08-10 13:20] lboudard opened #3208 "Configuring non local store_backend for evaluation store breaks"
**Describe the bug**
Whenever I try to configure `TupleGCSStoreBackend` as backend store for evaluation store it breaks with the following error:
[code]
Indeed only the local store
https://github.com/great-expectations/great_expectations/blob/46985054e182aca8210acff689e144372128989a/great_expectations/data_context/store/tuple_store_backend.py#L871
has an actual prefix argument properly implemented

[2021-08-10 17:51] talagluck commented on #3186
Thanks for raising this issue @armandduijn! I'm not sure whether this is currently possible, but will check back in with the team and be in touch over the next few days.

[2021-08-10 17:54] talagluck commented on #3195
Thanks for submitting this issue, @KentonParton, and the follow-up, @OmarSultan85 ! We will discuss internally, and I will get back to you in the next few days.

[2021-08-10 17:55] talagluck commented on #3199
Thank you for submitting this issue, @nrawling ! We will review internally and be in touch in the next week or so.

[2021-08-10 17:56] talagluck commented on #3201
Thanks for submitting, @vaidehid1305 ! We will review internally and get back to you over the next week or so.

[2021-08-10 17:57] talagluck commented on #3202
Thanks for submitting, @AntonBiryukovUofC ! We will review internally and respond over the next week or so.

[2021-08-10 17:59] talagluck commented on #3205
Thanks for submitting, @KentonParton ! We will review internally and respond over the next week or so.

[2021-08-10 18:00] talagluck commented on #3208
Thanks for submitting, @lboudard ! We will review internally and respond over the next several days.

[2021-08-10 18:10] talagluck commented on #2967
Hi @kj-9 - thanks so much for submitting this issue, and apologies for delays! This seems very useful, but we will discuss internally and get back to you. If you were to submit a PR, would you be up to including some tests for this functionality as well?

[2021-08-10 18:13] talagluck commented on #3040
Hi @milly-farouki - thanks so much for submitting this issue! As you noted, ClickHouse is not fully supported and so we can't prioritize bugfixes internally for it. That said, we welcome contributions, and so if you were interested in contributing, I'd be happy to review a PR or offer any additional guidance as needed. Please let me know if I can help!

[2021-08-10 18:15] talagluck commented on #2978
Thanks for submitting, @juan-meister, and apologies for delays ! We will review internally and be in touch.

[2021-08-10 18:17] talagluck commented on #2959
Thanks for submitting, @fosk06 and apologies for delays! We will review internally and be in touch.

[2021-08-10 18:18] talagluck commented on #2957
Thanks for submitting, @mcallaway and apologies for delays! We will review internally and be in touch.

[2021-08-10 18:23] talagluck commented on #2937
Hi @BenGale93 - thanks so much for raising this issue, and apologies for delays!

This is something that we will not be able to prioritize work on in the immediate future. That said, it looks like you are most of the way to a fix, and we always welcome contributions. I'm happy to prioritize a PR review if you would like to make a contribution, and I can also offer additional guidance as needed. Is

[2021-08-10 18:25] talagluck commented on #2946
Thanks for submitting, @edwardcjohnson and apologies for delays! Based on @pppls's comment, it appears that this might currently be working. Would you please confirm whether or not this is still an issue for you?

[2021-08-10 18:25] AntonBiryukovUofC opened #3213 "ColumnMapMetricProvider fails to register the metric in registry."
**Describe the bug**

CustomExpectation does not work (metric fails to register) if inherited from `ColumnMapMetricProvider`.

[EDIT]:

if I remove the metric from `metric_dependencies` and create a class attribute `map_metric =
 column_values.custom.equally_spaced"` in the Expectation, then it registers and works.

**To Reproduce**

Here is minimal example:

[code]

**Expected behavior**

Metric

[2021-08-10 19:23] talagluck commented on #2638
It appears that this was resolved with PR #2657, so I'm going to close for now. If this remains an issue, please feel free to re-open.

[2021-08-10 19:23] #2638 closed, assigned to nobody

[2021-08-10 19:34] talagluck commented on #2929
Hi @imutyshev - thank you for raising this issue! It appears that this has to do with the way Windows process paths with backslashes as compared to the way Unix/Mac systems processes paths with forward slashes. It is difficult for us to prioritize Windows issues internally, but we always welcome contributions. Is this something in which you might be interested? I'm happy to offer PR review as well

[2021-08-10 19:37] talagluck commented on #2927
Hi @richagaur - thanks for submitting this issue and apologies for delays! We will discuss internally and get back to you. In the meantime, could you please add some additional explanation/examples for what this would look like in use? How would you specify an ExpectationConfiguration?

[2021-08-10 19:41] talagluck commented on #2910
Thanks for raising this issue @Andrew088 ! Is this something that might be addressed by or related to #2967? Would you be interested in attempting a contribution here? I'm happy to offer review, or any additional guidance that might be helpful.

[2021-08-10 20:23] edwardcjohnson commented on #2946
@talagluck, yes I can confirm that this works in version '0.13.26'.
Thank you and @pppls for your support!

[2021-08-10 20:23] #2946 closed, assigned to nobody

[2021-08-11 07:55] BenGale93 commented on #2937
Hi @talagluck it will be my fist open source pull request so apologies for any faux pas in advance. I'll set one up as soon as possible.

[2021-08-11 13:07] talagluck commented on #3213
Hi @AntonBiryukovUofC - thanks for submitting this issue! Someone will review and be in touch over the next few days.

[2021-08-11 16:03] talagluck commented on #3021
Hi @sephiartlist ! Just a heads-up, @cdkini and @fjork3 will be working on this this sprint, and so they will set up a time to connect.

[2021-08-11 20:07] talagluck opened #3225 "result_format argument does not appear to be working properly in V3"
**Describe the bug**
The `result_format` argument does not appear to work properly in V3:
1. When setting it with `validator.set_default_expectation_argument("result_format", "BOOLEAN_ONLY")`, it appears to set it at the `Validator` level, but this does not propagate when created expectations with `validator.expect_...`

2. When creating an `ExpectationConfiguration` with `result_format` as an arg

[2021-08-12 11:15] Haze211 opened #3229 "Broken link in the docs"
Thanks for the great project!
I have found some broken links on new website with docs.

Broken link: [Expectation Glossar](https://docs.greatexpectations.io/docs/reference/expectations/)
Another broken link: [supported Expectations](https://docs.greatexpectations.io/docs/reference/expectations/expectations/implemented_expectations) (in this case this link works just fine https://docs.greatexpectat

[2021-08-12 13:00] lboudard opened #3230 "evaluation_parameters to support nested dynamic values"
**Is your feature request related to a problem? Please describe.**
I'm in a context where I'm trying to re-use params that were evaluated in a previous validation thanks to
https://docs.greatexpectations.io/docs/reference/evaluation_parameters

I'm trying a little bit more complex example than what is being described in specs, where I'd like to re-use values from a `expect_column_quantile_values_t

[2021-08-12 13:55] cdkini commented on #2647
Reopening issue due to similar issue; open to investigate.

[2021-08-12 14:07] rr-chiranjeevi-ds commented on #2647
Hi @cdkini  I am facing the error after upgrading great expectations to v0.13.26 .
`Traceback (most recent call last):
  File "/Users/chiranjeevi.ds/ge/great_expectations/uncommitted/run_account_adjustments.py", line 73, in <module>
    result: CheckpointResult = data_context.run_checkpoint(
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/great_expectations/da

[2021-08-12 14:51] petermoyer commented on #3229
Thank you for calling this to our attention. It will be fixed quickly
GDOC-216 has been opened for internal tracking

[2021-08-12 15:19] cdkini commented on #2647
I believe the issue was caused by a simple typo in the method invocation (`to_json_dict` is actually `get_json_dict` in the `BatchRequest` class)

[2021-08-12 16:14] lboudard opened #3233 "rendering expectations with evaluation parameters"
**Describe the bug**
I'm trying to build docs after having passed some evaluation parameters for an `expect_column_quantile_values_to_be_between` expectations.
say
[code]
This fails while rendering the expectation as it does not have the evaluated configuration after validation:
https://github.com/great-expectations/great_expectations/blob/f8ec09e04350b4975406b4302638803072dfc9d1/great_expectation

[2021-08-12 16:51] petermoyer commented on #3229
Should be updated soon

[2021-08-12 16:51] #3229 closed, assigned to petermoyer

[2021-08-12 17:00] talagluck commented on #2937
Thanks, @BenGale93! No worries at all, I'm happy to help wherever I can. Looking forward!

[2021-08-12 19:59] zachzIAM opened #3237 "TypeError when getting latest validation result from DataContext"
**Describe the bug**
I am trying to get the latest validation result from a `DataContext` using the `get_validation_result` method but am getting a

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. [Clone `ge_tutorials`](https://docs.greatexpectations.io/docs/tutorials/getting_started/initialize_a_data_context#set-up-your-machine-for-the-tutorial) as per documentation tutorial
2. Run t

[2021-08-12 20:57] talagluck commented on #3168
Hi @jdimatteo ! I wanted to update you - we have a PR open to resolve this issue. It's currently breaking a bunch of tests, so I'll be working on resolving those and getting this merged in early next week. Thanks for your help and your patience!

[2021-08-12 22:02] alangenfeld opened #3239 "0.13.27 needs azure but does not declare the dep"
**Describe the bug**
great_expectations/datasource/data_connector/util.py expects `azure` to be available but it is not declared in requirements.txt / setup.py

**To Reproduce**
Steps to reproduce the behavior:
1. pip install great-expectations
2. import great_expectations
3.
[code]

**Expected behavior**
`azure` is installed via setup.py deps or `azure` import is conditional on use of `azure` rel

[2021-08-12 23:01] #2647 closed, assigned to cdkini

[2021-08-13 00:37] majidaldo opened #3241 "add expectation metadata to result format"
[result format](https://docs.greatexpectations.io/docs/reference/expectations/result_format) does not include what I consider to be basic meta data: a description of the expectation: name/type, arguments. This is more annoying when going through the results of an expectation suite.

**Describe the solution you'd like**
Put this metadata under meta or expectation_info.

**Describe alternatives you'

[2021-08-13 06:46] dataframing commented on #3239
+1, this seems to be caused by https://github.com/great-expectations/great_expectations/pull/3141.

Downgrading to 0.13.26 works as a temporary fix 👍🏻

[2021-08-13 13:20] Glen-Pennington commented on #3239
We are experiencing this error with 0.13.26.

[2021-08-13 17:12] fjork3 commented on #3239
Thanks for the report! Being addressed by #3244 , we'll be pushing a new release and updating here as soon as possible.

[2021-08-13 22:09] fjork3 commented on #3239
This should be fixed in release `0.13.28`; can you confirm whether you're still seeing issues?

[2021-08-13 23:53] alexsherstinsky commented on #3213
The following changes result in the Metric registering correctly and the Expectation operating properly:

1) For the Metric:
[code]

2) For the Expectation:
[code]

This was verified by @AntonBiryukovUofC (at approximately 17:45 Pacific Time on Friday, 8/14/2021).

Also, tagging @talagluck as @@AntonBiryukovUofC may still need assistance with the Great Expectations Renderer implementation (@AntonB

[2021-08-15 13:30] Glen-Pennington commented on #3239
I will test on Monday, thanks for the quick turn around on the fix.

[2021-08-16 14:33] Glen-Pennington commented on #3239
Release 0.13.28 resolved this issue for me, deployed and tested in Azure.

[2021-08-16 14:47] #3239 closed, assigned to nobody

[2021-08-16 15:43] talagluck commented on #3230
Thanks for submitting this issue @lboudard! We will review internally, and be in touch over the new few days.

[2021-08-16 15:44] talagluck commented on #3233
Thanks for submitting this issue as well, @lboudard! We will review this internally, and someone will be in touch over the new few days.

[2021-08-16 15:47] talagluck commented on #3237
Thanks for submitting this issue, @zachzIAM ! It sounds like you've done a good chunk of work in determining where the issue lies. Would you be interested in submitting a contribution for this? I'm happy to offer guidance or support wherever possible.

[2021-08-16 15:50] talagluck commented on #3241
Hi @majidaldo - thank you for submitting this issue! I agree that what you are describing is not what we would expect. Would you be able to add some more context here? What version of Great Expectations are you using? Are you using the V2 Batch Kwargs or V3 Batch Request API? Could you provide a screenshot of how Data Docs and/or your expectation json file looks?

[2021-08-16 15:54] talagluck commented on #3205
Hi @KentonParton! Following up, this represents a gap between the V2 Batch Kwargs and V3 Batch Request APIs. This feature has not yet been implemented in V3, though this has been added to the prioritization queue for our next sprint planning. It may take several weeks for us to get there, and this goes pretty deep in the code, but it is being prioritized in the near future, and someone will follow

[2021-08-16 16:05] KentonParton commented on #3205
Thanks for letting me know @talagluck.

We are dynamically adding Expectations to a suite but if an exception occurs while running the validation operator, all remaining expectations will not run.

Is there a way to validate configurations prior to validator.run_validation_operator()? Alternatively, is it possible to use the V2 Batch Kwargs in the meantime; could I achieve the same thing?

Thanks

[2021-08-16 16:19] talagluck commented on #3205
Hi @KentonParton - thanks for your response. How are you dynamically adding Expectations to a suite? If you add Expectations in interactive mode (against a batch of data, like with our CLI notebook workflow, e.g. `validator.expect_column_values_to_not_be_null`), then you should see results immediately. It's a rough work-around, but you could wrap statements like this into a `try`/`except` block wh

[2021-08-17 05:45] Shinnnyshinshin opened #3260 "V3 Expectations fail for BigQuery backend only"
**Describe the bug**
PR #3219 has enabled Expectations tests to be run against the BigQuery backend. However, it has also identified a number of Expectations that only fail for BigQuery, but not other supported backends. For V3 Class-first expectations, the following Expectations currently fail. This BugReport is to allow for these issues to be tracked by the core-team

[code]
**Environment (pleas

[2021-08-17 05:49] Shinnnyshinshin opened #3261 "V2 Expectations fail for BigQuery backend only"
**Describe the bug**
PR #3219 has enabled Expectations tests to be run against the BigQuery backend. However, it has also identified a number of Expectations that only fail for BigQuery, but not other supported backends. For V2, the following Expectations currently fail. This BugReport is to allow for these issues to be tracked by the core-team

[code]

**Environment (please complete the following

[2021-08-17 09:20] jvetu opened #3263 "TypeError: cannot pickle '_thread.RLock' object when calling SimpleCheckpoint with PySpark dataframe"
**Describe the bug**
Calling SimpleCheckpoint with PySpark dataframe in batch_data of batch_request fails with

`TypeError: cannot pickle '_thread.RLock' object`

**To Reproduce**

[code]

where df is a PySpark dataframe.

**Environment (please complete the following information):**
 - Great Expectations Version: 0.13.28

[2021-08-17 12:23] KentonParton commented on #3205
@talagluck this is what I have as a work around.

[code]

If you could keep me updated on this issues expected completion date that would be great. It will allow my team and I to plan accordingly. Thanks for your help.

[2021-08-17 18:29] luizfgoncalves commented on #3148
I'm currently having this same problem of `RecursionError` with v3. Building the expectation suite with a validator and a SparkDF works well, but I can't use a checkpoint to validade it.

Is there any workaround to validate it until its fixed?

[2021-08-18 00:47] #2959 closed, assigned to nobody

[2021-08-18 00:47] #2978 closed, assigned to nobody

[2021-08-18 00:47] #3131 closed, assigned to nobody

[2021-08-18 00:47] #3132 closed, assigned to Shinnnyshinshin

[2021-08-18 02:32] qlc-89 opened #3271 "legacy_arg_names tuple index out of range"
**Describe the bug**
When running validator.expect_column_pair_values_A_to_be_greater_than_B, the Legacy Method Parameters are empty

**To Reproduce**
Steps to reproduce the behavior:
1.  Set up a working deployment of Great Expectations
2. Run the following code
context: DataContext = DataContext()
expectation_suite_name = 'my_suite'
suite: ExpectationSuite = context.create_expectation_suite(expe

[2021-08-18 12:54] davideromano commented on #3148
Hi, didn't find any workaround, yet.
When I opened the issue I used Great Expectations v0.13.24, but right now it is available the v0.13.28; which version did you use?

[2021-08-18 12:58] luizfgoncalves commented on #3148
I've used Great Expectations v0.13.27, and the problem still persists. I looked at the changelog of v0.13.28, but there is no mention of any fixes about this problem either

[2021-08-18 13:14] davideromano commented on #3148
Yes, the changelog doesn't mention anything about this issue, but I saw that the team just released a new official documentation related to API v3. I didn't read/used it yet, since I am still using API v2, but maybe inside it there is workaround or a suggestion related to `RuntimeDataConnector` and how to use a SparkDF as a validation object.
Did you check it?

[2021-08-18 13:19] luizfgoncalves commented on #3148
I'm using API v3, but didn't find any workaround it. The problem seems to be on the `SimpleCheckpoint` itself, because I can create an expectation suite based on my SparkDF with no issues. It only crashes when sending to validate.

Maybe there is a better way to build the validation parameters of the Checkpoint (batch_request and expectation_suite) to avoid it, but I couldn't find anything yet

[2021-08-18 19:58] talagluck commented on #3054
Hi @donaldheppner! Apologies for delays here. After some internal review, we've come to the conclusion that Option 2, from your proposed options, would be the right solution. Option 1 is appealing due its speed, but would break encapsulation (currently we evaluate the Stores separately, and Option 1 would require comparing them). Option 3 seems more roundabout, but I also might not be fully unders

[2021-08-19 06:16] li-dennis commented on #342
I seem to be running into a similar issue after upgrading from pandas 0.25.3 to 1.3.2, but when it tries to look up `other._expectation_suite`. Maybe it's because i created a custom class that returns itself as the constructor?

https://github.com/great-expectations/great_expectations/blob/develop/great_expectations/dataset/pandas_dataset.py#L415-L416

[code]

[code]

[2021-08-19 14:00] BenGale93 commented on #2728
I came across this same issue I would recommend reading this piece of documentation, particularly "2a. Validations Store Backends" https://legacy.docs.greatexpectations.io/en/latest/guides/how_to_guides/migrating_versions.html

Basically there aren't enough folder levels in your stores.

[2021-08-19 16:56] NathanFarmer commented on #3183
Following internal discussions with @talagluck @jcampbell @alexsherstinsky @spencerhardwick `parse_strings_as_datetimes` V3 functionality will be temporarily supported for pandas alongside a depreciation message. I am closing this issue as it pertains more narrowly to `expect_column_values_to_be_between`. Temporary support is currently under development and plans for depreciation will be rolled ou

[2021-08-19 16:56] #3183 closed, assigned to nobody

[2021-08-19 20:51] AntonBiryukovUofC commented on #3205
@talagluck I can confirm that if catch_exceptions is persisted as a config parameter in the serialized exception suite (the json file), then upon passing its name into a checkpoint, the Exception is raised and the validation essentially halts.

Our use case is similar to @KentonParton except that we use v3 objects (and validate via checkpoint runs).

[2021-08-19 20:53] AntonBiryukovUofC commented on #3205
A pretty nasty bug that defeats the purpose of having both table and column level expectations within the same suite...

[2021-08-19 23:11] Shinnnyshinshin commented on #2634
Hi @henriquejsfj so sorry that it took a while to get back to you on this. The cause of the issue is as you described, because `pybigquery.sqlalchemy_bigquery` does not have have `ARRAY` type.

To be a bit more specific, the `observed_value` in the value comes from the `inspector`, which inspects the BigQuery database we configured. Since BigQuery "knows" what an `ARRAY` is, it will return that as

[2021-08-19 23:14] #2634 closed, assigned to nobody

[2021-08-20 07:02] samhita-alla opened #3290 "NameError: name 'BlobServiceClient' is not defined"
**Describe the bug**
https://github.com/great-expectations/great_expectations/pull/3214 is resulting in `BlobServiceClient` NameError, which is causing the Flyte + Great Expectations integration tests to fail and indeed, disrupting the Great Expectations' getting started. Adding NameError to the try-except block [here](https://github.com/great-expectations/great_expectations/blob/99a54370f7ebeea5d

[2021-08-20 13:35] talagluck commented on #3263
Thanks for submitting this issue, @jvetu ! Someone from our team will review and be in touch in the next week or so.

[2021-08-20 13:37] talagluck commented on #3271
Thanks for submitting this issue, @qlc-89 ! I believe this Expectation is currently in the process of being migrated to the V3 API, and so may not work properly yet. I will review internally and confirm.

[2021-08-20 15:05] bencaine-integral commented on #2038
In newer versions of the api, it looks like the batch_kwargs object has been deprecated (or at least, is not present in the sample code). Is there an updated instruction on how to read in tsv files?

[2021-08-20 16:16] talagluck commented on #3205
@KentonParton - thanks so much for sharing the follow-up. We will absolutely be in touch when we have an expected completion date for this.

@AntonBiryukovUofC - thank you for the follow-up and corroboration. Are you saying that not only does `catch_exceptions` not work, but if present, it will cause Checkpoints to fail? Would please describe this in a bit more detail? Also, how does this relate t

[2021-08-20 17:02] sariabod opened #3293 "Running expect_column_values_to_be_unique on a Redshift column errors out"
**Describe the bug**
When running "expect_column_values_to_be_unique" validation against a Redshift  column errors out. Running the reproduced query directly on redshift has the same error.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a table  on Redshift and populate a column with data
2. Create an expectation for the column to be unique
3. Create a runtime batch request
4

[2021-08-20 18:20] jacylnkan commented on #3205
@talagluck I think I can provide some clarification, as I am working with @AntonBiryukovUofC on the same project. `catch_exceptions` does NOT cause the Checkpoint to fail on its own, it just does not work in actually preventing the exception from killing the rest of the validation process.

You can imagine this is a problem if we have table and column-level expectations within the same suite becau

[2021-08-22 22:08] iancmoritz commented on #3148
Any updates to this? On v0.13.28 and API v3 and haven't heard of any changes that will fix with Spark.

[2021-08-23 14:15] talagluck commented on #3290
Thanks for opening this, @samhita-alla ! We are working on this internally, and will let you know when a fix is in place.

[2021-08-23 14:16] talagluck commented on #3293
Thanks for opening this issue @sariabod ! We will review internally and be in touch in the next several days.

[2021-08-23 15:16] talagluck commented on #3205
Hi @jacylnkan - thanks for the follow-up. It is not uncommon to split up expectations into multiple suites for different reasons, although I agree this is not an ideal reason. To confirm, are your table-level expectations more likely to fail than your column-level expectations? I'm interested in better understanding that distinction.

[2021-08-23 17:39] vivekbhalgat commented on #110
@jcampbell

I am trying to check if a column has integers. If the column has nonintegers, I want to find row indices of bad points. For sample data, I created a column "age" with few integers and one string.

Sample data:
[code]

Sample code:
[code]
Result contains
[code]
I was expecting output to only contain row index of value "test". What am I missing?

[2021-08-23 18:14] donaldheppner commented on #3054
Thanks Tal, agreed re: Option 2 -- I'll give it a shot and appreciate the support!

[2021-08-23 19:35] AntonBiryukovUofC opened #3299 "Default python JSON encoder shortcomings"
**Is your feature request related to a problem? Please describe.**

If `BatchDefinition` or `BatchRequest` object receive a `datetime` object as an identifier, the JSON serialization fails, and the object is not usable downstream anymore. In fact, wherever there is another use of `datetime` in an object that is further to be serialized in JSON, GE's code will fail with:
[code]

The problem is that

[2021-08-23 19:40] AntonBiryukovUofC opened #3300 "Stacking Expectations of same type (coming from the same `expect_` method)"
**Is your feature request related to a problem? Please describe.**

I have a custom expectation (column map one) that calculates a ratio between a quantile for the whole dataset and quantile in a rolling window. What I would want from the expectation suite is to check whether that ratio is within a certain interval for multiple quantile levels. If i add multiple expectations for each quantile via

[2021-08-23 20:04] fjork3 commented on #3290
Thanks for the report! This should be fixed with release `0.13.30` which just went out today; can you check whether that version is working for you?

[2021-08-23 21:19] KentonParton opened #3303 "Improve SparkDFExecutionEngine Performance"
**Is your feature request related to a problem? Please describe.**
I ran a quick performance comparison between GE and another validation library using the SparkDF Execution Engine. It was done using AWS Glue Job (2.0) and Data Catalog (Hive metastore)

**Test Details**
- **Expectation type:** “expect_column_values_to_not_be_null”
- **Number of columns:** 33
- **Table size:** 3GB
- **Number of DPU

[2021-08-23 23:01] DanGolding commented on #110
@vivekbhalgat, not sure if this is still the case, but this looks like the same issue described here https://stackoverflow.com/questions/53084550/great-expectations-expect-column-to-contain-only-integers-fails-for-all-rows-whe i.e. pandas coerces your whole column to be a string, therefore there are no integers. I put a work around using a regex expectation in the answer to the question in link.

[2021-08-24 05:54] vivek89007 commented on #110
If this is happening, it means that the numbers are being read as strings
from the CSV. First try to coerce the strings to float using a lambda apply
function and return the same element with the same type when an
exception is raised wherever necessary. Then use the expectation, it will
work fine.

On Tue, Aug 24, 2021 at 4:31 AM DanGolding ***@***.***> wrote:

[2021-08-24 05:55] vivek89007 commented on #110
@vivekbhalgat <https://github.com/vivekbhalgat>

On Tue, Aug 24, 2021 at 11:23 AM Vivek Shukla ***@***.***> wrote:

[2021-08-24 14:43] talagluck commented on #3299
Hi @AntonBiryukovUofC - thanks for raising this issue! I'll be bringing this to our internal triage meeting, and will be in touch in the next few days.

[2021-08-24 14:52] talagluck commented on #3300
Hi @AntonBiryukovUofC - thank you for bringing this up. Currently, it is not possible for an Expectation Suite to have more than one `ExpectationConfiguration` with the same `expectation_type` and the same `domain`. This is something that we've talked about periodically, but I don't believe we have any plans to change this in the immediate future.

I appreciate the use case you've presented here f

[2021-08-24 16:04] talagluck commented on #3303
Thanks for opening this issue, @KentonParton! I'll get some clarity on this in the next day or two, and will follow up with you then. Happy to set up a call at that time to talk things through.

[2021-08-24 19:38] tebesfinwo opened #3307 "Index page hosted on GCS failed to include the result of validations"
**Describe the bug**

The index page hosted on GCS failed to include the result of validations with the following action list operator (`gcs_action_list_operators`). However, the result of the validations did get uploaded to the correct path in GCS when I ran the following action operators using `checkpoint run`.

Based on the modified and created timestamp of the index page in GCS, the index page

[2021-08-24 19:58] omriAl commented on #1826
@anthonyburdi Hi, I want to take a look on this issue, but unfortunately I can't see the slack message that discusses this.
Can you please upload here the relevant details (if they exist)
Thanks.

[2021-08-24 20:06] veatch opened #3308 "BigQuery sqlalchemy dialect not working on version 0.13.29+"
**Describe the bug**
I am seeing some constraints failing incorrectly starting in version 0.13.29, and it looks tied to an issue with the BigQuery sqlalchemy dialect.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a BigQuery table with a column named `user_id` with type `INTEGER`.
2. Run the `expect_column_values_to_be_of_type` expectation on the table with the following code:
[code]

[2021-08-24 21:07] jacylnkan commented on #3205
@talagluck The issue is that an exception is raised if (for example) I am missing a column from my data that I had written an expectation for. Ideally, I would like for it to fail the expectation and move on to other expectations. However, it raises an exception and I cannot use `catch_exceptions` to prevent it from killing the rest of the validation process. It's not that the table-level expectat

[2021-08-24 21:37] omriAl commented on #1826
After inspecting the code I see that in `great_expectations/validation_operators/validation_operators.py:309` we are basically performing all of the actions (including data docs updates) after each validation asset.
While I expect this will improve the runtime, I don't think that this is the root cause.
I will take a better look on the TupleS3StoreBackend class further, and see how we can improve

[2021-08-25 08:54] kj-9 commented on #2967
Hi @talagluck ! Sorry for my late reply.

Thanks for picking this up. Yes, I could add some tests though it may take some time since I need to catch up the testing codebase of GE.

[2021-08-25 10:07] samhita-alla commented on #3290
Yes, it is. Thanks a bunch!

[2021-08-25 10:08] #3290 closed, assigned to nobody

[2021-08-25 15:26] talagluck commented on #3300
Hi @AntonBiryukovUofC - I wanted to follow up here. Since you are working with a custom expectation in this case, it should be possible to achieve what you are seeking if you modify the `domain_keys` tuple in your expectation to include your `quantiles` key. When adding an `ExpectationConfiguration` to an `ExpectationSuite`, we check for equivalency by comparing the `domain` and `expectation_type`

[2021-08-25 15:31] talagluck commented on #3299
Hi @AntonBiryukovUofC - I wanted to follow up. This is a bug, as `BatchDefinition` and `BatchRequest` should be running through our own internal `convert_to_json_serializable` utility function, which would correctly serialize `datetime`. Thank you again for pointing this out! Please let me know if this is something which you might be interested in contributing, and I'm happy to offer any guidance

[2021-08-25 15:38] talagluck commented on #3303
Hi @KentonParton! - I wanted to follow-up. The code samples that you had shared were from the `SparkDFDataset` which was a V2 abstraction. As far as I know, the rewrites/optimizations mentioned in the comments there have been completed as of V3. Could you please confirm whether you are running the V2 Batch Kwargs or V3 Batch Request API, and also share some replication code and information about y

[2021-08-25 16:25] KentonParton commented on #3303
Ahh sorry about that @talagluck.

The other library is [python-deequ](https://github.com/awslabs/python-deequ) which is a wrapper for [deequ](https://github.com/awslabs/deequhttps://github.com/awslabs/deequ) which is written in scala.

I think I am using the V3  Batch Request API.

Here is a slimmed down version of the code.
[code]
[code]

[2021-08-25 18:05] balexander commented on #2740
I tried testing this again, and the issue appears to be resolved with the newest release.

[2021-08-25 18:05] #2740 closed, assigned to nobody

[2021-08-25 18:07] balexander commented on #2741
This appears to have been fixed with the most recent release.

[2021-08-25 18:07] #2741 closed, assigned to nobody

[2021-08-25 21:05] jcampbell commented on #3303
Thank you for raising this issue...I'm excited to dig deeper and understand what's going on, but as @talagluck mentioned, since you're already using the new API, I'm not sure exactly where the bottleneck is located.

A few questions...

1. would you be up for adding some additional timing information into GE as an initial PR, so that we could potentially understand more about the (order in which)

[2021-08-25 21:13] bhcastleton commented on #2828
@vikramaditya91 - Multi-Column expectations are now available in v3. You probably already noticed. But just letting you know in case you missed it.

[2021-08-26 05:42] vikramaditya91 commented on #2828
Hey @bhcastleton. We had noticed indeed. But thanks for the heads up

[2021-08-26 15:05] talagluck commented on #1826
Hi @omriAl ! Thanks for jumping in here. This issue had been closed a few months ago, and has been addressed by #2100. Is this still an issue for you? Or are you looking for other issues to help contribute? If this is still an issue for you, please feel free to open a new GitHub issue. If you are looking to contribute, I would invite you to take a look at any open issues that have a help-wanted ta

[2021-08-26 15:12] talagluck commented on #2967
Thank you, @kj-9 ! Please let me know if I can help with any guidance or support moving this forward. Feel free to reach out with any questions.

[2021-08-26 15:18] talagluck commented on #3205
I see - thank you for the clarification, @jacylnkan! I am hoping to have a better estimate for the resolution of this issue next week.

[2021-08-26 15:21] talagluck commented on #3202
Hi @AntonBiryukovUofC - following up. This sounds like an awesome feature, but is not something that we will be able to prioritize for our engineering team to build in the immediate future. That said, we are able to offer guidance and review if you would like to contribute this. Would that be of interest to you?

[2021-08-26 15:56] nrawling commented on #3199
I know you have all been busy rolling out awesome new features, but it would be great to get an update on this issue. Thank you!

[2021-08-26 20:35] talagluck commented on #3168
Hi @jdimatteo ! Just an update - this is a little more complex than we thought. We're continuing work on this, and will update you when this is ready for merge.

[2021-08-26 20:40] talagluck commented on #3149
Hi @mpalfi! Thank you for raising this issue.

Would you please let us know some of the areas where the current implementation does not work properly for Greenplum?

Realistically, we will not be able to prioritize internal development for a Greenplum datasource, but we can absolutely support a community contribution. Please let us know if you'd be interested in that!

[2021-08-27 08:28] madelonhulsebos opened #3322 "Missing citation information"
I would like to be able to cite the Great Expectations software in my research, as intended by its authors.

### Desired solution

Steps to create a citation file: [citation file format site](https://citation-file-format.github.io/).

The Great Expectations repository would then provide the information to cite it, e.g. in APA and BibTex format, as below.

![Screenshot 2021-08-12 at 09 36 04](https

[2021-08-27 13:43] talagluck commented on #3307
Hi @tebesfinwo - thank you for raising this issue! To clarify, is the validation `json` created and saved in the appropriate Validations Store, and just not linked on the index page? Or is it not getting created at all?

[2021-08-27 13:46] KentonParton commented on #3303
@jcampbell

1. Yes sure, I can add some additional timing information. Would you mind elaborating on where I would add the additional timing information?
2. We have only used SUMMARY. I will give the others a try and get back to you.
3. I re-ran the job using deequ on the same dataset and it looks more similar to the GE graphs ("ETL Data Movement") but still took 18 min.
<img width="500" alt="Scre

[2021-08-27 13:49] talagluck commented on #3308
Thanks for raising this, @veatch ! A couple of questions: Would you mind confirming that this is still an issue on V0.13.31? Could you also confirm whether your versions for `pybigquery` and `sqlalchemy` have remained constant?

[2021-08-27 13:51] talagluck commented on #3322
Hi @madelonhulsebos - thank you for raising this issue! This is super interesting - we will discuss internally and be in touch.

[2021-08-27 13:59] talagluck commented on #3077
Hi @ismaildawoodjee - apologies for delays! I just wanted to follow up here.

You should be able to specify `reader_options` in your project config under `data_connectors` instead of in your `BatchRequest`, which should enable you to profile without error and without passing a BatchRequest in on the command line.

e.g.
[code]

I'm going to close this issue for now, but please let me know if you ha

[2021-08-27 13:59] #3077 closed, assigned to nobody

[2021-08-27 15:41] tebesfinwo commented on #3307
@talagluck
Thanks for the response!
Yes, the validation `json` did get created and saved in the appropriate Validation Store, and just not linked on the index page.

[2021-08-27 16:27] veatch commented on #3308
Yep, it's still an issue on V0.13.31. I double-checked and confirmed that I'm using pybigquery==0.10.1 and SQLAlchemy==1.3.24 in all cases.

[2021-08-27 16:32] veatch commented on #3308
After upgrading great_expectations to 0.13.31 and replicating the issue, I also tried upgrading those packages (which came to pybigquery==0.10.2 and SQLAlchemy==1.4.23), and I'm seeing the same behavior.

[2021-08-27 16:56] talagluck commented on #3307
Thanks, @tebesfinwo ! A couple of follow-ups If you rebuild data-docs again after seeing the validation `json` in the Validation Store, is it still not linked on the index page?

Are validations other than the most recent one linked on the index page, or are they all missing?

[2021-08-27 17:02] talagluck commented on #3308
Thanks for the follow-up, @veatch! One more question for now - have you tried this with the V3 API?

[2021-08-27 18:22] tebesfinwo commented on #3307
@talagluck
Thanks for the follow-up.

Yes

They are all missing from the index page despite they (the validations) are in the bucket.

The command which I used:
[code]

[2021-08-27 19:51] kimyphan commented on #3080
You need to include `glob_directive` such that you would have the following:

[code]

I found the answer to this in the legacy documentation for ["How to configure a ConfiguredAssetDataConnector"](https://legacy.docs.greatexpectations.io/en/latest/guides/how_to_guides/configuring_datasources/how_to_configure_a_configuredassetdataconnector.html). It's not currently in the new documentation (nor was

[2021-08-27 21:07] talagluck commented on #3080
Thanks so much for jumping in on this @kimyphan! One of us could definitely update this - I also wanted to offer you the opportunity to submit a PR for this docs update in case you were interested? Let me know (and let me know if you need any help)! Otherwise we'll take care of this early next week.

[2021-08-30 18:20] veatch commented on #3308
Hi, I have not tried this on V3. Looks like you pushed a V2 fix, thank you!!

[2021-08-30 19:49] talagluck commented on #3308
NP - thank you so much for the update! I'm going to close this for now, but please feel free to chime in if you have any further issues.

[2021-08-30 19:49] #3308 closed, assigned to nobody

[2021-08-31 03:23] DanielSastoque commented on #2795
Hi! Any update on this one? I'm having the same issue. Is there an alternative in the meantime?

thanks!

[2021-08-31 10:04] zachzIAM commented on #3237
Hi @talagluck, would do so happily. I've followed the contribution guide and have my work [here](https://github.com/zachzIAM/great_expectations/tree/bugfix/fix-error-getting-validation-result).

Would love any prelim comments you might have. One thing that I was not sure about was where to include a test for this specific behaviour so I added a [new test case](https://github.com/zachzIAM/great_exp

[2021-08-31 10:58] aseembansal-gogo opened #3327 "Great expectations checkpoint creation takes too long"
**Is your feature request related to a problem? Please describe.**
Same as https://github.com/great-expectations/great_expectations/issues/1670 but for checkpoints.

I have datasource athena configured. Running
[code]
causes it to send queries for every database in athena. Then the jupyter notebook opens which has the following
[code]
This again causes queries to be sent for every database in athe

[2021-08-31 11:28] tamir-pl opened #3328 "GE create empty temporary table in Vertica"
Hi,
I created a datasource for Vertica (via SQLAlchemy) and I wanted to use the  batch_request to create an interactive expectation suite.
GE tries to create a temporary table on Vertica with this command:

`CREATE TEMPORARY TABLE "ge_tmp_f3e31285" AS SELECT *  FROM test.test_table  WHERE true`

the DDL command produces an empty table (temporary tables in Vertica are transaction-scoped [docs ](htt

[2021-08-31 15:49] fep2 opened #3330 "Add force_reuse_spark_context to SparkDFExecutionEngine"
**Describe the bug**
Currently we are not able to re use a spark session when using a runtime data source

**To Reproduce**
I've looked into this fix in my current setup, unfortunately if I changed my config from `Datasource` to `SparkDFDatasource` I get the following issue `return datasource.get_batch_list_from_batch_request(
AttributeError: 'SparkDFDatasource' object has no attribute 'get_batch_

[2021-08-31 19:08] NathanFarmer commented on #3153
@rajannau @qlc-89 Thank you for your patience on this. I have reproduced this issue and am looking into a fix. I'll let you know when this is resolved.

[2021-09-01 15:06] talagluck commented on #3330
Hi @fep2 - thanks for raising this issue! We'll take a look and figure out a timeline for when we can get this done, and be in touch.

[2021-09-01 15:08] talagluck commented on #3328
Hi @tamir-pl - thanks for raising this issue! We won't be able to prioritize making this fix for Vertica in the immediate future. That said, we welcome contributions, and I'm happy to offer help in the form of PR review, and any guidance you may need. Would this be of interest to you?

[2021-09-01 15:10] talagluck commented on #3327
Thanks for raising this issue @aseembansal-gogo! This appears to be a bug. We will dive in to determine what the exact problem is, and respond in the next few days.

[2021-09-01 15:20] talagluck commented on #3199
Thanks for the follow-up, @nrawling! We have discussed some possibilities internally, and hope to do some further investigation in the next few days.

[2021-09-01 15:29] talagluck commented on #2931
Hi @KevKrtz - thanks for raising this issue, and apologies for delays! We won't be able to prioritize this internally in the immediate future. That said, we always welcome contributions, and I'm happy to offer assistance in the form of PR review, and any other guidance that might be helpful. Is this something in which you might be interested?

[2021-09-01 15:38] talagluck commented on #2927
Hi @richagaur - just wanted to follow up here. This is a really cool idea that we likely won't be able to prioritize in the near future. Is this something that you might be interested in contributing?

We talked out a couple of ways this might work - it could be something like

`expect_custom_sql_statement_to_evaluate_true` or `expect_custom_sql_condition_true_count_to_be_between`

The domain for

[2021-09-01 16:41] #2937 closed, assigned to nobody

[2021-09-01 19:20] NathanFarmer commented on #3299
Hi @AntonBiryukovUofC I am looking into a fix for this and I will let you know when it is resolved.

[2021-09-02 15:21] bhcastleton commented on #2004
I changed the name of this issue to avoid confusion. We've had some people think this issue was about putting expectations on a custom sql dataset. That's not what this issue is about. That can be done currently using a custom sql query as a runtime parameter in validation. This issue is about auto-generating GE expectations from tests written in sql.

[2021-09-02 16:29] richagaur commented on #2927
Hello,

The solution looks good to me. I would happy to contribute for
this project. Looking forward to hearing from you.

Thanks and Regards,
Richa Gaur

On Wed, Sep 1, 2021, 9:08 PM talagluck ***@***.***> wrote:

[2021-09-02 16:37] DlaregY opened #3344 "CLA link is broken"
See the last line of https://docs.greatexpectations.io/docs/contributing/contributing/

"Note that if it’s your first contribution, you will need to sign a there is a standard Contributor license agreement (CLA)."

The CLA link does not work. Additionally, this sentence should be edited (e.g. " you will need to sign a there is a ").

I'm happy to help with both of these, but I need a link to that

[2021-09-02 20:44] kyleaton commented on #3344
Hey @DlaregY thanks so much for pointing this out! I'll jump on this one and keep you updated.

[2021-09-02 20:49] #3168 closed, assigned to talagluck

[2021-09-02 21:06] talagluck commented on #3195
Hi @KentonParton and @OmarSultan85 - apologies for delays! A part of the V3 API was making sure that this functionality was available, but @jcampbell and I worked on this draft PR (#3346) to link up all the pieces and get it working. When you have a chance, we'd love your thoughts on the interface of it, concerns, etc.

Thanks!

[2021-09-02 21:08] talagluck commented on #3168
This should be resolved by #3222 ! Please let us know if anything else arises as a result of this.

[2021-09-02 21:41] NathanFarmer commented on #3153
@rajannau Thank you again for raising this issue. The bug fix has been merged into develop and will be available in the next release (0.13.33).

[2021-09-02 21:41] #3153 closed, assigned to NathanFarmer

[2021-09-03 17:30] NathanFarmer commented on #3293
@sariabod Thank you for raising this issue and I see you opened PR #3338 to address it!

[2021-09-03 21:22] NathanFarmer commented on #3299
Hi @AntonBiryukovUofC the bug fix above was put in for this issue. It has been merged into `develop` and will be part of GE release 0.13.33.

[2021-09-03 21:22] #3299 closed, assigned to NathanFarmer

[2021-09-04 17:18] rogersamso opened #3354 "column_map_expectation_template.py error with SqlAlchemyExecutionEngine"
When running the column_map_expectation_template.py as is with the SqlAlchemyExecutionEngine I get this error:
'\n\nexpect_column_values_to_equal_three raised an exception:\nNo provider found for column_values.equal_three.unexpected_count using PandasExecutionEngine'.
With the PandasExecutionEngine it works as expected.

Does this mean that I should also build the column_values.equal_three.unexpec

[2021-09-05 04:18] miike opened #3355 "Pandas FutureWarning for specifying the number of columns in Jupyter"
**Describe the bug**

Jupyter notebook raises a FutureWarning when using -1 for the max_colwidth display setting.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a new suite that uses pandas
2. `great_expectations suite edit suitename`
3. Run the first cell in the notebook
4. Observe the FutureWarning

**Expected behavior**
No FutureWarning should be raised.

**Environment:**
 - Grea

[2021-09-06 02:05] seve-martinez opened #3357 "AttributeError: 'Datasource' object has no attribute 'get_batch' in validation_playground.ipynb for Pandas"
**Describe the bug**
Using the v3 API, the validation_playground.ipynb that is created under the notebooks/pandas directory tries to return the v2 version of the batch_data object, which results in an error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create new datacontext using the `great_expectations --v3-api init`
2. Create a new pandas datasource using `great_expectations --v

[2021-09-06 07:59] fosk06 opened #3358 "Data docs filter on date is broken"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run few expectation suite
2. Generate the data docs
3. On the data docs, check the date of the last run and set this date in the "run time" date picker
4. The error is there : there is no data displayed for this day

It looks like the date picker don't format the date corr

[2021-09-06 23:40] talagluck commented on #3237
Hi @zachzIAM - thanks for this! I think the best way to continue the conversation would be to open the PR, and I can add feedback there. At that time I can take a look to see about the right place for testing, but adding a new test case is totally fine (and thank you for thinking about testing!)

Just a heads-up, I'll be out for the next few days, but I'm looking forward to taking a look once I'm

[2021-09-06 23:59] talagluck commented on #2927
Hi @richagaur - thank you so much. That sounds great!

We are currently in the process of migrating our guide on custom expectations to our new docs site. [This legacy page ](https://legacy.docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_and_editing_expectations/how_to_create_custom_expectations.html) might be a good place to get started, though the state of things has progressed

[2021-09-07 00:08] talagluck commented on #3354
Hi @rogersamso - thanks for contributing this issue! Yes, this is just a template, so you'll need to uncomment the `@column_condition_partial` functions for any backends you wish to use. You'll see that there are 3, for `pandas`, `sqlalchemy`, and `spark` (L45-L57)

If you are running the file itself, and thus the `run_diagnostics` test within the file, this file is currently only set up to test w

[2021-09-07 09:20] rogersamso commented on #3354
Hi @talagluck,  thanks for your response!
I just found the  origin of the issue. For some reason pybigquery was not installed in my environment.

The diagnostics report that I got was a bit obscure, though:

[code]

Besides,  while debugging the issue,I tried adding the key  `"suppress_test_for":  ["bigquery"]` in the test, but this is not implemented in the `generate_expectation_tests` function i

[2021-09-07 09:20] #3354 closed, assigned to nobody

[2021-09-07 14:50] NathanFarmer commented on #3355
Thanks for opening this issue, @miike! Would you be interested in opening a PR with the change you made in your fork linked above? I am happy to offer any guidance that is needed.

[2021-09-07 16:55] NathanFarmer commented on #3357
Thanks for submitting this issue, @The-Loud! We will review internally and respond over the next week or so.

[2021-09-07 18:28] NathanFarmer commented on #3358
Thanks for submitting this issue, @fosk06! We will review internally and respond over the next week or so.

[2021-09-07 20:30] fitz-omny opened #3366 "Locking and deadlocking for ms sql datasource"
**Describe the bug**
i have a Datasource that connects to an MS SQL instance. i’m noticing a lot of unexpected locking and even deadlocks when creating a new Suite using a simple custom SQL query for the data. Is there a way to prevent this from happening, maybe changing the isolation level associated with the connection?

I’m using SQLAlchemy, PYODBC and Microsoft ODBC Driver 17 for SQL Server (x

[2021-09-07 23:44] donaldheppner commented on #3054
Hi @talagluck, I've implemented option 2 and have existing tests passing; I could use some guidance on where to add new tests (if necessary) as the bug concerns a conflict between stores. Further details are in the commit log. I took the opportunity to introduce some types along the way. Link: https://github.com/donaldheppner/great_expectations/tree/feature/bug_fix_3054

[2021-09-08 07:57] alex-hsp opened #3367 "Spark context is stopped when creating BaseDataContext on databricks"
**Describe the bug**
This is a reopen of #2561 because it still reproduce on the fresh GE version 0.13.32
I copypasted an example from docs https://docs.greatexpectations.io/docs/deployment_patterns/how_to_instantiate_a_data_context_on_databricks_spark_cluster/ and it stops spark context and thus crashes driver on databricks.

![Снимок](https://user-images.githubusercontent.com/58466078/132468376-

[2021-09-08 15:05] jcampbell commented on #3303
@KentonParton -- thank you; this helps a lot. @NathanFarmer and I did some looking into this more, and he is going to push a branch with a significant optimization. We are currently doing an extra step in finding/returning unexpected values to ensure some stability...I'm not sure why that came in originally and do not believe it's necessary. Removing that should provide a significant immediate per

[2021-09-08 16:11] NathanFarmer commented on #3303
@KentonParton You can find the Spark optimization mentioned by James in draft PR #3368. This change resulted in a 47% time improvement in the `SparkDFExecutionEngine`. It was tested specifically on expectation `expect_column_values_to_not_be_null`, but the performance gains will be seen across other expectations that return unexpected values for a single column. We would be very interested to see

[2021-09-08 17:15] KentonParton commented on #3303
@jcampbell @NathanFarmer Thanks for looking into this issue. Sounds like a significant improvement.

I'll run the same test this week and post the results.

We currently use Spark for all of our data sources in AWS Glue so making that change will require a lot of work on our end.

[2021-09-08 18:11] NathanFarmer commented on #3293
This issue was addressed with PR #3338

[2021-09-08 18:11] #3293 closed, assigned to NathanFarmer

[2021-09-08 19:28] NathanFarmer commented on #3307
@tebesfinwo I am looking into this and I will follow up in the next day or two.

[2021-09-09 06:31] vivek89007 opened #3373 "Using allow_cross_type_comparisons in expect_column_pair_Values_A_to_be_greater_than_B raises Not Implemented Error"
[code]

[2021-09-09 06:32] vivek89007 commented on #3373
@jcampbell @eugmandel @bhcastleton - Please help

[2021-09-09 09:33] NfnqB commented on #3373
Same problem with expect_column_pair_values_to_be_equal. The implementation is simply just throwing NotImplmentedError. Check some others multi-column expectations and seems all having the same problem.

[2021-09-09 12:14] alex-hsp commented on #3263
I am unable to use checkpoints too.

[code]

[2021-09-09 13:29] NathanFarmer commented on #3367
@alex-hsp Thank you for submitting this issue! Have you experienced this behavior using previous versions of GE and this is a regression or is this something you are experiencing for the first time? Also, is this something you are seeing in production code or is it only happening using the docs example?

[2021-09-09 13:42] NathanFarmer commented on #3366
@fitz-omny How exactly does the locking and deadlocking manifest itself in your GE workflow? Do you see an error message? Is this something you would be interested in making a contribution for? As an aside, we are unable to prioritize bugs that are related to Windows with internal resources. If you are interested in contributing, we are happy to offer guidance where needed.

[2021-09-09 14:14] alex-hsp commented on #3367
No, i am first time user of GE. So far so good despite this bugster. I am getting used to GE and trying to figure out would it fit in our prod or not.

[2021-09-09 16:34] fitz-omny commented on #3366
@NathanFarmer its interesting, the locking and deadlocking manifest itself for connections when running a query that references the information_schema objects in tempdb.  I am not get an error message when the lock occurs, only when a deadlock occurs.

i'm interested in contributing, just not sure where to start, so direction on that would be helpful.

also, i don't think that it is a Windows issu

[2021-09-09 18:07] talagluck commented on #3263
Thanks for posting, @alex-hsp! Are you getting the same error message as well?

We have a bit of a backlog, but will get to this as soon as we are able.

[2021-09-09 18:55] NathanFarmer commented on #3366
@fitz-omny I also suspect that it is not a Windows issue, but there is only one way to find out! Most general questions that you have about contributing should be addressed [in this series of docs](https://docs.greatexpectations.io/docs/contributing/contributing). Can you provide the "deadlocking" error message next time you see it? Following the stack traceback for the error message is often a go

[2021-09-09 21:17] NathanFarmer commented on #3373
Hi @vivek89007 and @NfnqB! You you for creating this issue. We are reviewing this internally and we will follow up in the next few days.

[2021-09-10 02:23] wniroshan opened #3379 "User specified run_id is ignored in the validation result json when using WarningAndFailureExpectationSuitesValidationOperator"
**The bug**
The `run_id` passed to `data_context.run_validation_operator()` when using `WarningAndFailureExpectationSuitesValidationOperator` is currently ignored. This causes the `run_name` in the validation results json to be `null` and `run_time` to be a system generated validation time instead of the user specified inputs.

**To Reproduce**
Steps to reproduce the behavior:
[code]

[code]

[cod

[2021-09-10 02:24] wniroshan commented on #3379
I'm working on a solution for this

[2021-09-10 03:21] OmarSultan85 commented on #3195
Hi @talagluck ,

Thanks a lot for the update, I checked the PR but I am not entirely sure if I understood correctly. What I understand is that now the list of unexpected rows will be returned completely as part of the validation result when its of type COMPLETE.

If that is the case then I believe this would be of great use and would allows us to use great expectations in a pipeline that could spl

[2021-09-10 07:49] alex-hsp commented on #3263
Yes. This happens because internally checkpoint tries to dump (serialize) its config which includes runtime parameters with unserializable DataFrame.

[2021-09-10 08:57] shearer12345 commented on #2726
I hit this for `expect_column_values_to_be_in_type_list.py` also, so wonder if this may exist for many expectations?

Would it make sense for expectations on column **values** (or aggregates thereof) to exit early with success on empty dataframes?

[2021-09-10 09:53] KentonParton opened #3380 "Running InferredAssetSqlDataConnector Logs Warning"
**Describe the bug**
When using the `InferredAssetSqlDataConnector` the following warning is displayed:

`great_expectations/execution_engine/sqlalchemy_batch_data.py:158: SAWarning: Can't validate argument 'schema_name'; can't locate any SQLAlchemy dialect named 'schema'
  self._selectable = sa.Table(`

**To Reproduce**

[code]

**Expected behavior**
Warning is not displayed

**Resolution**
Chang

[2021-09-10 20:37] NathanFarmer commented on #3307
Hi @tebesfinwo! In GCS `foo_bucket/bar/validations` do you see `html` files that should be generated when you build the data docs? I think there is some confusion here about the `validation store` versus the `data docs`. You seem to have pointed to the same directory for both. Data docs builds and updates a directory called `validations` that would be hosted in `foo_bucket/bar/validations` this is

[2021-09-11 01:37] scoyne2 opened #3384 "expectations_store of TupleS3StoreBackend causes error: Expecting property name enclosed in double quotes"
**Describe the bug**
Starting Sept 9th 2021 I am seeing error when attempting to run an expectation_suite. I am on version 0.13.22 of great expectations, but see the same error on 0.13.33.

[code]

Our expectations were working without issue on September 8th and started failing with the above September 9th.
We are using S3 as the expectation store and redshift as our data source.

**To Reproduce**

[2021-09-13 15:45] tebesfinwo commented on #3307
Hi @NathanFarmer. Thanks for looking into this.

I tested against the validation store config you proposed above in an empty bucket. Following are the behaviour I encountered.

1. `great_expectations checkpoint run foo_checkpoint` generated validations results and docs under `foo_bucket/validations` and `foo_bucket/bar` respectively but the `index.html` didn't include include link to the validatio

[2021-09-13 15:55] talagluck commented on #3263
Yup - we've identified that as well, @alex-hsp!

Update for @jvetu as well, we are currently working through the architecture of this, and will post updates as they arise.

Also an update, this seems to be a duplication of #2905.

[2021-09-13 19:13] NathanFarmer commented on #3373
Hi @vivek89007 and @NfnqB! After some internal discussions, we were hoping you could provide a little more context around your specific use cases for this feature. There is a lot of complexity inherent in converting and comparing data types across the various supported backends. Performing those transformations during ETL would seem to be a more natural "line in the sand" between the data pipeline

[2021-09-13 19:52] talagluck commented on #3195
Thanks so much for the feedback, @OmarSultan85 ! That is indeed the purpose of the feature, and I'm glad to hear that that will work for you!

We are still figuring out the correct user-interface for this, as it is possible that it will wind up returning far too much data, and so we would want to be explicit and careful so that we don't wind up including an entire table in validation, results for

[2021-09-13 19:57] KentonParton commented on #3205
@talagluck has there been any progress on this?

[2021-09-13 20:02] talagluck commented on #3205
Hi @KentonParton - thanks for checking in, and I'm sorry that I haven't updated here. This has been top of mind for us, but it hasn't yet reached a solution. A preliminary spike found that this issue went deeper, and so would take more time to address, than expected. Tomorrow we'll be discussing the best way to move forward here, and exactly how to prioritize this, and I'll make sure to update you

[2021-09-14 02:09] wniroshan commented on #3379
The pull request with the fix: #3379

[2021-09-14 02:27] NfnqB commented on #3373
@NathanFarmer
Mine is with SqlAlchemyDataset and Legacy v2 api
Great Expectations version 0.13.31
When trying to run expect_column_pair_values_to_be_equal expectation on debug mode and the function stops at abstract dataset.py with no actual implementation in Sqalchemy_dataset.py, while the other two dataset (pandas_dataset and sparkdf_dataset) have no problem working with it.
Maybe it is related

[2021-09-14 07:32] vivek89007 commented on #3373
I am using v2 LegacyCheckpoint for validation and version 0.13.30 version
of great expectations. I am trying to validate a pandas dataset and while
using allow_cross_comparisons=True and getting this error as its not
implemented.

On Tue, Sep 14, 2021, 7:57 AM NfnqB ***@***.***> wrote:

[2021-09-14 07:54] derek-hk opened #3389 "A decimal(20,4) column in a spark dataframe cannot be interpret as a decimal."
**Describe the bug**
A decimal(20,4) in a spark dataframe is casted as "unknown" data type in the BasicDatasetProfilier's HTML output
![image](https://user-images.githubusercontent.com/90680179/133217120-45d77b71-56cb-4195-87e3-80d26c85db77.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Declare a gdf by running
`ds = ge.dataset.SparkDFDataset(spark.sql('select * from xxx limit 10'))`
w